.col-md-12
  = render 'backend/shareds/search_form_request_landing_press'
  = form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do
    .widget
      = render partial: 'backend/shareds/prepare_table', locals: {table_name: 'LandingPresses', button_name: 'LandingPresses', add_method: false}
      .widget-content
        .table-responsive
          table class="table table-striped table-bordered table-hover"
            thead
              tr
                th Kode
                th Judul Landing Page
                th Kategori
                th Status
                th Reseller
                th Domain
                th Email
                th Tanggal
              tbody
                - if @collection.blank?
                  tr
                    td colspan="23" 
                      = render "shareds/empty_blank"
                - else
                  - @collection.each do |resource|
                    tr
                      td.uppercase
                        = resource.code
                      td
                        = resource.landing_press.title1
                      td
                        = resource.landing_press.category
                      td
                        = resource.landing_press.status?
                      td
                        = resource.member.username
                      td
                        = resource.member.domain?
                      td
                        = resource.member.email
                      td
                        = get_datetime(resource.created_at)

        .widget-foot
          .pull-right
            = paginate @collection, remote: true if @collection.present?
          .clearfix