#wrapper
	.content.content-setting.animate-panel
		.hpanel
			.title-member-content
				b Settings
			.title-tab-edit
				i.fa.fa-pencil
				| &nbsp; Edit Setting
			.panel-body
				.tabbable
					ul.nav.nav-tabs
						li.active
							| <a href="#personal" aria-controls="personal" role="tab" data-toggle="tab">Personal data</a></li>
						li role="presentation"
							| <a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">Personal Kontak</a></li>
						li role="presentation"
							| <a href="#address" aria-controls="address" role="tab" data-toggle="tab">Alamat</a></li>
						li role="presentation"
							| <a href="#bank_account" aria-controls="bank_account" role="tab" data-toggle="tab">Rekening Bank</a></li>

					= f.fields_for :profile do |profile|
						= f.fields_for :address do |address|
							= f.fields_for :contact do |contact|
								.tab-content
									= render partial: 'members/users/form_user', locals: {f: f, profile: profile}
									= render partial: 'members/users/form_contact', locals: {contact: contact, profile: profile}
									= render partial: 'members/users/form_address', locals: {address: address}
									= render partial: 'members/users/form_bank_account', locals: {profile: profile}
			
				.buttons
					button class="btn btn-gb pull-right" type="submit" id="profilebutton" SIMPAN

// javascript:
// 	$('#profilebutton').click(function () {
// 		$(':required:invalid', "#edit_account_manager_#{current_user.id}").each(function () {
// 			var id = $('.tab-pane').find(':required:invalid').closest('.tab-pane').attr('id');

// 			$('.nav a[href="#' + id + '"]').tab('show');
// 		});
// 	});