.row
	.col-md-6.col-sm-6
		.box-dashboard-info
			.title-info
				i.pe-7s-users &nbsp;
				| Referral Terverifikasi
			.box-content-info
				i.pe-7s-users.blue
				.txt
					span.blue #{@referral_verified.count}
	.col-md-6.col-sm-6
		.box-dashboard-info
			.title-info
				i.pe-7s-delete-user &nbsp;
				| Referral Belum Terverifikasi
			.box-content-info
				i.pe-7s-delete-user.red
				.txt
					span.red #{@referral_not_verified.count}
	.col-md-4.col-sm-4
		.box-comision-approve.center
			.title-approve 
				| Referral 1
				h4 #{@referral_referral1.count}
	.col-md-4.col-sm-4
		.box-comision-approve.center
			.title-approve
				| Referral 2
				h4 #{@referral_referral2.count}
	.col-md-4.col-sm-4
		.box-comision-approve.center
			.title-approve
				| Referral 3
				h4 #{@referral_referral3.count}