.panel-body.box-search
  = form_for :search, url: search_path, html: {class: 'simple-search-form js-form-analytic'}, method: 'get', remote: true do
    .row
      .col-md-6.col-sm-6
        .select-category.mg-bot15
          = text_field_tag :start_at, nil, value: params[:start_at], class: 'datepicker form-control', placeholder: 'Start At'
      .col-md-6.col-sm-6
        .select-category.mg-bot15
          = text_field_tag :end_at, nil, value: params[:end_at], class: 'datepicker form-control', placeholder: 'End At'
      .col-md-10
        .input-key
          = text_field_tag :key, nil, value: params[:key], placeholder: 'Cari Referral Username/Email', class: "form-control"
        .submit-search
          = submit_tag 'Search', class: "btn btn-full form-custom"
      .col-md-2
        .js-button-export
          = render 'shareds/button_export'