.box-table.mg-top20
  .table-responsive
    table.table.table-striped.table-2000.table-bordered.table-hover.mg-bot0.center
      thead
        tr
          th Posisi Referral
          th Reseller
          th Status
          th Alamat
          th No. Telepon
          th Melalui
          th Ref 1
          th Ref 2
          th Ref 3
          th Tanggal Masuk
      tbody
        - if @collection.blank?
          tr
            td colspan="10" 
              = render "shareds/empty_blank"
        - else
          - @collection.each_with_index do |resource, index|
            - referrals = resource.referrals
            tr
              td.uppercase
                = resource.position_referral(@member.id)
              td
                | #{resource.username} ( #{resource.email} )
              td
                = resource.verified?
              td
                | #{resource.address.place_info}
              td
                | #{resource.profile.phone}
              td
                | #{resource.ref1.username} ( #{resource.ref1.email} )
              td
                = referrals.referral1(resource.id).count
              td
                = referrals.referral2(resource.id).count
              td
                = referrals.referral3(resource.id).count
              td
                = get_datetime(resource.created_at)