<table border="1">
  <caption>Daftar Referral <%= show_search_form_date(params[:start_at], params[:end_at]) %></caption>
  <tr>
    <th>No</th>
    <th>Posisi Referral</th>
    <th>Reseller</th>
    <th>Status</th>
    <th>Alamat</th>
    <th>No. Telepon</th>
    <th>Melalui</th>
    <th>Ref 1</th>
    <th>Ref 2</th>
    <th>Ref 3</th>
    <th>Tanggal Masuk</th>
  </tr>
  <% @collection_all.each_with_index do |resource, index| %>
  <% referrals = resource.referrals %>
  <tr>
    <td><%= index+1 %></td>
    <td><%= resource.position_referral(@member.id) %></td>
    <td><%= "#{resource.username} ( #{resource.email} )" %></td>
    <td><%= resource.verified? %></td>
    <td><%= resource.address.place_info %></td>
    <td><%= resource.profile.phone %></td>
    <td><%= "#{resource.ref1.username} ( #{resource.ref1.email} )" %></td>
    <td><%= referrals.referral1(resource.id).count %></td>
    <td><%= referrals.referral2(resource.id).count %></td>
    <td><%= referrals.referral3(resource.id).count %></td>
    <td><%= resource.created_at.strftime("%d %B %Y - %I:%M") if resource.created_at.present? %></td>
  </tr>
  <% end %>
</table>