.col-md-4
  li
    div
      = image_tag '1.png', class: 'mgbot5'
    div class="datas-text"
      = @order_cancelled.size
      | <br>&nbsp; 
      small Order Dibatalkan
.col-md-4
  li
    div
      = image_tag '3.png', class: 'mgbot5'
    div class="datas-text"
      = @order_verification.size
      | <br>&nbsp; 
      small Order Diperiksa
.col-md-4
  li
    div
      = image_tag '4.png', class: 'mgbot5'
    div class="datas-text"
      = @order_paid.size
      | <br>&nbsp; 
      small Order Dibayar