.panel.panel-default
  - if @confirmation.present?
    .panel-heading
      h4.text-center.uppercase
        | Konfirmasi <strong>#{@confirmation.no_invoice}</strong>
      center.small
        | <b>Tanggal Transaksi : </b> 
        = @confirmation.try(:payment_date).strftime("%B, %d, %Y") if @confirmation.payment_date
        br
        | <b>Pembeli : </b> 
        = @confirmation.try(:name)
        | (#{@confirmation.try(:email)})
    .panel-body
      .row
        .col-xs-12
          .table-responsive.table-order-list
            table class="table table-striped"
              thead
                tr
                  td class="text-center" width="20%"
                    | <strong>Pengirim</strong>
                  td class="text-center"
                    | <strong>Nominal</strong>
                  td class="text-center"
                    | <strong>Ke Akun Bank</strong>
                  td class="text-center"
                    | <strong>Metode Pembayaran</strong>
                  td class="text-center"
                    | <strong>Pembeli</strong>
              tbody
                tr
                  td.text-center
                    span
                      = "#{@confirmation.try(:from_bank_name)} An. #{@confirmation.try(:sender_name)} #{@confirmation.try(:from_account_number)}"
                  td.text-center
                    b
                      = get_currency(@confirmation.nominal) if @confirmation.nominal.present?
                  td.text-center
                    span
                      = @confirmation.try(:bank_account)
                  td.text-center
                    span
                      = @confirmation.try(:payment_method)
                  td.text-center
                    span
                      = @confirmation.try(:name)
          p 
            b Pesan:
          p 
            = @confirmation.message
          br
          = image_tag @confirmation.file, style: 'height: 300px' if @confirmation.file.present?
  - else
    .panel-body
      center
        button.btn.btn-sm.btn-primary[type="button" data-toggle="collapse" data-target="#collapseConfirmation" aria-expanded="false" aria-controls="collapseConfirmation"]
          | Form Konfirmasi Pembayaran 
      #collapseConfirmation.collapse
        .card.card-body
          = form_for Confirmation.new, url: backend_confirmations_path, method: 'post' do |f|
            hr
            .break
            .row
              .col-md-6
                label No. Invoice :
                .form-group
                  = f.text_field :no_invoice, value: "#{@order.code rescue ''}", class: 'form-control', required: true, readonly: true
              .col-md-6
                label Nama Pemesan :
                .form-group
                  = f.text_field :name, value: "#{@order.payer_name rescue ''}", class: 'form-control', required: true, readonly: true
              .col-md-6
                label Email :
                .form-group
                  = f.email_field :email, value: "#{@order.payer_email rescue ''}", class: 'form-control', required: true, readonly: true
              .col-md-6
                label Tanggal Pembayaran :
                .form-group
                  = f.text_field :payment_date,  class: 'form-control datepicker', required: true, placeholder: 'ex. tahun/bln/tgl'
              .col-md-6
                label Total Pembayaran :
                .form-group
                  = f.text_field :nominal, value: "#{@order.total_price.to_i rescue ''}", class: 'form-control', required: true, placeholder: 'ex. 300000', data: {autonumeric: true}, readonly: true
              .col-md-6
                label Bank Yang Dipilih :
                .form-group
                  = f.select :bank_account, @setting_global.payments.map{|p| "#{p.bank_name} An. #{p.name} #{p.account_number}"}, {prompt: 'Pilih Pembayaran Bank'}, {class: 'form-control', required: true}
              .col-md-6
                label Metode Pembayaran :
                .form-group
                  = f.select :payment_method, ['Internet Banking', 'SMS Banking','ATM Transfer','Setoran Tunai'], {prompt: 'Metode Pembayaran'}, {class: 'form-control', required: true}
              .col-md-6
                label Pembayaran Melalui Bank :
                .form-group
                  = f.text_field :from_bank_name, class: 'form-control', required: true, placeholder: 'ex. BCA/Mandiri/BNI'
              .col-md-6
                label Nama Rekening Pengirim :
                .form-group
                  = f.text_field :sender_name, class: 'form-control', required: true, placeholder: 'ex. Tn.Alif'
              .col-md-6
                label Nomor Rekening Pengirim :
                .form-group
                  = f.text_field :from_account_number, class: 'form-control', required: true, placeholder: 'ex. 2423423423'
              .col-md-12
                label Pesan :
                .form-group
                  = f.text_area :message, class: 'form-control', placeholder: 'Pesan Untuk Admin'
              .col-md-12
                label Upload Bukti Pembayaran :
                .form-group
                  = f.file_field :file
                .form-group
                  = f.submit 'SIMPAN', class: 'btn btn-success'
