- if current_user.merchant?
	- link_to_order = merchants_order_path(@order)
	- link_to_shipping = change_number_shipping_merchants_order_path(@order)
	- link_pdf = merchants_order_path(@order, format: 'pdf')
- else
	- link_to_order = backend_order_path(@order)
	- link_to_shipping = change_number_shipping_backend_order_path(@order)
	- link_pdf = backend_order_path(@order, format: 'pdf')
.col-xs-12	
	= render 'members/orders/progress'
.panel.panel-default
	.panel-heading
		h4.text-center.uppercase
			| Invoice <strong>#{@order.code}</strong>
		center.small
			| <b>Tanggal Transaksi : </b> 
			= @order.try(:purchased_at).strftime("%B, %d, %Y") if @order.purchased_at
			br
			| <b>Masa Terakhir Dibayar : </b> 
			= (@order.try(:purchased_at)+ 3.days).strftime("%B, %d, %Y") if @order.purchased_at
	.panel-body
		.break
		.shopping-cart
			.row
				.col-xs-12
					.catalog-item-show
						.table-responsive.table-order-list
							table class="table table-striped"
								thead
									tr
										td width="35%"
											| <strong>Dari Reseller <a href="#">#{@order.try(:member).shop_title?}</a></strong>
											span , #{@order.member.profile.phone}
										td class="text-center"
											| <strong>Jumlah</strong>
										td class="text-center"
											| <strong>Berat</strong>
										td class="text-right"
											| <strong>Harga Merchant</strong>
										- unless current_user.merchant?
											td class="text-right"
												| <strong>Harga Reseller</strong>
											td class="text-right"
												| <strong>Harga Jual</strong>
								tbody
									- @order.order_items.each do |order_item| 
										- if current_user.merchant?
											- link_to = merchants_order_item_path(order_item)
										- else
											- link_to = backend_order_item_path(order_item)
										tr
											td
												.avatar-author
													= image_tag order_item.try(:product).try(:cover).url(:small), class: "img-order"
												small.uppercase
													b
														= order_item.product.code
													br
												= link_to "#{order_item.product.title}", product_path(order_item.product.slug+'-'+order_item.catalog.id.to_s), class: 'title-product'
												div
													= order_item.variant
												div
													small
														= order_item.message
												- if current_user.admin? && (current_user.master? || current_user.finance? || current_user.checker_2?) && order_item.status == OrderItem::VERIFICATION && @order.paid?
													= form_for order_item, url: link_to, method: 'put', html: {class: 'js-form-submit'} do |f|
														= f.select :status, options_for_select([OrderItem::VERIFICATION, OrderItem::REFUND], order_item.status), {prompt: 'Pilih Status'}, class: 'js-onchange-submit'
														= f.submit 'CHANGE', class: 'btn btn-xs btn-info', style: 'display:none;'
												- else
													= "#{order_item.status?} &nbsp; #{order_item.cancelled_reason?}".html_safe unless current_user.merchant? && order_item.status == 'verification'
											td.text-center
												span
													= order_item.quantity
											td.text-center
												| #{order_item.weight} gr
											td.text-right
												span
													= get_currency(order_item.basic_price)
											- unless current_user.merchant?
												td.text-right
													span
														= get_currency(order_item.company_price)
												td.text-right
													span
														= get_currency(order_item.price)
									tr
										td class="highrow"
										td class="highrow"
										td class="highrow text-center"
											| <h5>#{@order.weight?} gr</h5>
										td class="highrow text-right"
											| <h5>#{get_currency(@order.basic_price)}</h5>
										- unless current_user.merchant?
											td class="highrow text-right"
												| <h5>#{get_currency(@order.company_price)}</h5>
											td class="highrow text-right"
												| <h5>#{get_currency(@order.price)}</h5>
									
									- unless @order.cod?
										tr
											td class="highrow"
											td class="highrow"
											td class="highrow text-center"
												h5 Pengiriman #{@order.shipping_method.upcase if @order.shipping_method.present?}
												small #{@order.origin_name} - #{@order.try(:address).try(:city).try(:titleize)}, Kecamatan #{@order.try(:address).try(:district).try(:titleize)}
											td class="highrow text-right"
												| <h5>#{get_currency(@order.shipping_price) if @order.shipping_price.present?}</h5>
											- unless current_user.merchant?
												td class="highrow text-right"
													| <h5>#{get_currency(@order.shipping_price) if @order.shipping_price.present?}</h5>
												td class="highrow text-right"
													| <h5>#{get_currency(@order.shipping_price) if @order.shipping_price.present?}</h5>
									tr
										td class="highrow"
										td class="highrow"
										td class="highrow text-center"
											| <h5>TOTAL</h5>
										td class="highrow text-right"
											| <h5>#{get_currency(@order.total_basic_price)}</h5>
										- unless current_user.merchant?
											td class="highrow text-right"
												| <h5>#{get_currency(@order.total_company_price)}</h5>
											td class="highrow text-right"
												| <h5>#{get_currency(@order.total_price)}</h5>

			h4 Transaksi
			.table-responsive.table-order-list
				table class="table table-striped"
					thead
						tr
							td class="text-center" width="20%"
								| <strong>Transaksi</strong>
							td class="text-center" width="20%"
								| <strong>Pembeli</strong>
							td class="text-center"
								| <strong>Pembayaran Ke</strong>
							td class="text-center"
								| <strong>Status Pembayaran</strong>
							td class="text-center"
								| <strong>Pembayaran Merchant</strong>
							- unless current_user.merchant?
								td class="text-center"
									| <strong>Pembayaran Reseller</strong>
								td class="text-center"
									| <strong>Total Pembayaran</strong>
					tbody
						tr
							td.text-center
								span
									= @order.try(:purchased_at).strftime("%B, %d, %Y") if @order.purchased_at
							td.text-center
								span
									= "#{@order.try(:payer_name)} (#{link_to @order.try(:payer_email), "mailto:#{@order.try(:payer_email)}" })".html_safe
							td.text-center
								span
									= @order.try(:payment_to)
							td.text-center
								- if @order.cancel? || @order.paid?
									= @order.status?
								- else
									- if current_user.master? || current_user.finance? || current_user.checker_1?
										= form_for @order, url: backend_order_path(@order), method: 'put', html: {class: 'js-form-submit'} do |f|
											= f.select :order_status_id, options_for_select([["Pemeriksaan", 2], ["Sudah Dibayar", 3], ["Dibatalkan", 4]], @order.order_status_id), {prompt: 'Pilih Status'}, class: 'js-onchange-submit'
											= f.submit 'CHANGE', class: 'btn btn-xs btn-info', style: 'display:none;'
									- else
										= @order.status?
							td.text-center
								span
									b
										= get_currency(@order.total_basic_price)
							- unless current_user.merchant?
								td.text-center
									span
										b
											= get_currency(@order.total_company_price)
								td.text-center
									span
										b
											= get_currency(@order.total_price)

			- if @order.cod?
				h4 Pengambilan Barang
				.table-responsive.table-order-list
					table class="table table-striped"
						thead
							tr
								td COD/Ambil stockis dikantor Merchant 
						tbody
							tr
								td
									span
										- if @order.paid?
											- if @order.track_order == OrderItem::RECEVIED
												= @order.status_order?
											- else
												- if current_user.merchant? || current_user.master? || current_user.finance? || current_user.checker_2? || current_user.shipment? || current_user.checker_3?
													- if (current_user.merchant? || current_user.master? || current_user.finance? || current_user.checker_2?) && @order.track_order == OrderItem::VERIFICATION
														- track_order_access = true
													- elsif (current_user.merchant? || current_user.master? || current_user.finance? || current_user.shipment?) && @order.track_order == OrderItem::PACKING
														- track_order_access = true
													- elsif (current_user.merchant? || current_user.master? || current_user.finance? || current_user.checker_3?) && @order.track_order == OrderItem::SHIPPED && @order.number_shipping.present?
														- track_order_access = true

													/ ------ MERCHANT TIDAK BISA MENGUBAH STATUS MENJADI DITERIMA
													- track_order_access = false if current_user.merchant? && @order.track_order == OrderItem::SHIPPED && @order.number_shipping.present?
													/ ------ MERCHANT TIDAK BISA MENGUBAH STATUS MENJADI DITERIMA

													- if track_order_access == true
														= form_for @order, url: link_to_order, method: 'put', html: {class: 'js-form-submit'} do |f|
															= f.select :track_order, options_for_select(@order.select_track_order_access_cod?, @order.track_order), {prompt: 'Status Track Order'}, class: 'js-onchange-submit'
															= f.submit 'CHANGE', class: 'btn btn-xs btn-info', style: 'display:none;'
													- else
														= @order.status_order?
												- else
													= @order.status_order?
										- else
											= @order.status_order?

			- else
				h4 Pengiriman
				.table-responsive.table-order-list
					table class="table table-striped"
						thead
							tr
								td class="text-center" width="15%"
									| <strong>Penerima</strong>
								td class="text-center" width="20%"
									| <strong>Metode Pengiriman</strong>
								td class="text-center" width="10%"
									| <strong>Phone</strong>
								td class="text-center"
									| <strong>Alamat Pengiriman</strong>
								td class="text-center"
									| <strong>Status Pengiriman</strong>
								- unless @order.verification?
									td class="text-center"
										| <strong>Nomor Resi</strong>
						tbody
							tr
								td.text-center
									span
										= @order.try(:payer_name)
								td.text-center
									span
										= @order.try(:shipping_method).try(:upcase)
								td.text-center
									span
										= @order.try(:payer_phone)
								td.text-center
									span
										= @order.try(:payer_address)
								td.text-center
									span
										- if @order.paid?
											- if @order.track_order == OrderItem::RECEVIED
												= @order.status_order?
											- else
												- if current_user.merchant? || current_user.master? || current_user.finance? || current_user.checker_2? || current_user.shipment? || current_user.checker_3?
													- if (current_user.merchant? || current_user.master? || current_user.finance? || current_user.checker_2?) && @order.track_order == OrderItem::VERIFICATION
														- track_order_access = true
													- elsif (current_user.merchant? || current_user.master? || current_user.finance? || current_user.shipment?) && @order.track_order == OrderItem::PACKING
														- track_order_access = true
													- elsif (current_user.merchant? || current_user.master? || current_user.finance? || current_user.checker_3?) && @order.track_order == OrderItem::SHIPPED && @order.number_shipping.present?
														- track_order_access = true

													/ ------ MERCHANT TIDAK BISA MENGUBAH STATUS MENJADI DITERIMA
													- track_order_access = false if current_user.merchant? && @order.track_order == OrderItem::SHIPPED && @order.number_shipping.present?
													/ ------ MERCHANT TIDAK BISA MENGUBAH STATUS MENJADI DITERIMA

													- if track_order_access == true
														= form_for @order, url: link_to_order, method: 'put', html: {class: 'js-form-submit'} do |f|
															= f.select :track_order, options_for_select(@order.select_track_order_access?, @order.track_order), {prompt: 'Status Track Order'}, class: 'js-onchange-submit'
															= f.submit 'CHANGE', class: 'btn btn-xs btn-info', style: 'display:none;'
													- else
														= @order.status_order?
												- else
													= @order.status_order?
										- else
											= @order.status_order?

								- unless @order.verification?
									- if (current_user.merchant? || current_user.master? || current_user.finance? || current_user.shipment?) && @order.track_order == OrderItem::SHIPPED
										td.text-center
											span
												= form_for @order, url: link_to_shipping, method: 'put', html: {class: 'js-form-submit'} do |f|
													- disabled = @order.shipped? ? false : true
													= f.text_field :number_shipping, value: @order.number_shipping, class: 'form-control', required: true, readonly: disabled
													= f.submit 'CHANGE', class: 'btn btn-xs btn-info', style: 'display:none;'
									- else
										td.text-center
											span
												= @order.number_shipping.present? ? @order.number_shipping : 'Belum Tersedia'

		= link_to '<i class="fa fa-download" aria-hidden="true"></i> Generate PDF'.html_safe, link_pdf, class: 'btn btn-default btn-g mgleft0' if params[:controller] == "backend/orders" || "merchants/orders"