.col-md-12
  = render 'backend/shareds/search_form_order'
  = form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do 
    ul.today-data
      .row
        .col-md-3
          .title-box-dashboard
            i.fa.fa-money aria-hidden="true"
            Total Distributor
          li
            div
              span id="todayspark5" class="spark"
                i.fa.fa-money aria-hidden="true" 
            div class="datas-text" 
              = get_currency(@reports_collect.without_in_progress.pluck(:basic_price).sum)
            .total
              small
                | Pesanan
                br
                = @reports_collect.without_in_progress.size
        .col-md-3
          .title-box-dashboard
            i.fa.fa-money aria-hidden="true"
            Total Perusahaan
          li
            div
              span id="todayspark5" class="spark"
                i.fa.fa-money aria-hidden="true" 
            div class="datas-text" 
              = get_currency(@reports_collect.without_in_progress.pluck(:company_price).sum)
            .total
              small
                | Pesanan
                br
                = @reports_collect.without_in_progress.size
        .col-md-3
          .title-box-dashboard
            i.fa.fa-money aria-hidden="true"
            Total Penjualan Resellers
          li
            div
              span id="todayspark5" class="spark"
                i.fa.fa-money aria-hidden="true" 
            div class="datas-text" 
              = get_currency(@reports_collect.without_in_progress.pluck(:price).sum)
            .total
              small
                | Pesanan
                br
                = @reports_collect.without_in_progress.size
        .col-md-3
          .title-box-dashboard
            i class="fa fa-truck fa-2"
            Total Ongkir Pengiriman
          li
            div
              i class="fa fa-truck fa-2"
            div class="datas-text" 
              = get_currency(@reports_collect.without_in_progress.pluck(:shipping_price).sum)
            .total
              small
                | Pengiriman
                br
                = @reports_collect.without_in_progress.size
        = render 'box_status'
    .widget.mg-top0
      = render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Orders', button_name: 'Orders', add_method: true} 
      .widget-content
        .table-responsive
          table class="table table-striped table-bordered table-hover"
            thead
              tr
                th width="10%" Kode Invoice
                th Reseller
                th Nama Pembeli
                th Email Pembeli
                th Kontak
                th Pembayaran
                th Pengiriman
                th Konfirmasi
                th Total Merchant
                th Total Perusahaan
                th Total Reseller
                th Ongkir
                th TOTAL
                th Transaksi
            tbody
              - if @collection.blank?
                tr
                  td colspan="14" 
                    = render "shareds/empty_blank"
              - else
                - @collection.each_with_index do |resource, index| 
                  tr 
                    td
                      = link_to "#{resource.code}", resource_path(resource)
                    td
                      = resource.member.username
                    td
                      = resource.payer_name
                    td
                      = resource.payer_email
                    td
                      = resource.payer_phone
                    td
                      = resource.status?
                    td
                      = resource.status_order?
                    td
                      = resource.confirmation?
                    td
                      b
                        = get_currency(resource.basic_price) if resource.basic_price.present?
                    td
                      b
                        = get_currency(resource.company_price) if resource.company_price.present?
                    td
                      b
                        = get_currency(resource.price) if resource.price.present?
                    td
                      b
                        = get_currency(resource.shipping_price) if resource.shipping_price.present?
                    td
                      b
                        = get_currency(resource.total_price) if resource.total_price.present?
                    td
                      small
                        = resource.try(:created_at).strftime("%H:%M %B, %d, %Y") 
        .widget-foot
          .pull-right
            = paginate @collection, remote: true if @collection.present?
          .clearfix
