<table border="1">
  <caption>Daftar Order <%= show_search_form_date(params[:start_at], params[:end_at]) %></caption>
  <tr>
    <th>No</th>
    <th>Kode Invoice</th>
    <th>Reseller</th>
    <th>Nama Pembeli</th>
    <th>Email Pembeli</th>
    <th>Kontak</th>
    <th>Pembayaran</th>
    <th>Pengiriman</th>
    <th>Konfirmasi</th>
    <th>Total Distributor</th>
    <th>Total Perusahaan</th>
    <th>Total Reseller</th>
    <th>Ongkir</th>
    <th>TOTAL</th>
    <th>Transaksi</th>
  </tr>
  <% @collection_all.each_with_index do |resource, index| %>
  <tr>
    <td><%= index+1 %></td>
    <td><%= resource.try(:code) %></td>
    <td><%= resource.member.username %></td>
    <td><%= resource.try(:payer_name) %></td>
    <td><%= resource.try(:payer_email) %></td>
    <td><%= resource.try(:payer_phone) %></td>
    <td><%= resource.status? %></td>
    <td>
      <%= resource.status_order_text? %>
    </td>
    <td><%= resource.confirmation? %></td>
    <td><%= get_currency(resource.basic_price) if resource.basic_price.present? %></td>
    <td><%= get_currency(resource.company_price) if resource.company_price.present? %></td>
    <td><%= get_currency(resource.price) if resource.price.present? %></td>
    <td><%= get_currency(resource.shipping_price) if resource.shipping_price.present? %></td>
    <td><%= get_currency(resource.total_price) if resource.total_price.present? %></td>
    <td><%= resource.created_at.strftime("%d %B %Y - %I:%M") if resource.created_at.present? %></td>
  </tr>
  <% end %>
</table>