section.invoice
  row
    .col-xs-12
      h4.text-center.uppercase
        | Invoice <strong>#{@order.code}</strong>
      center.small
        | <b>Tanggal Transaksi : </b> 
        = @order.try(:purchased_at).strftime("%B, %d, %Y") if @order.purchased_at
        br
        | <b>Masa Terakhir Dibayar : </b> 
        = (@order.try(:purchased_at)+ 3.days).strftime("%B, %d, %Y") if @order.purchased_at
      br
  .row.invoice-info
    .col-xs-12
      .table-responsive.table-order-list
        table class="table table-striped"
          thead
            tr
              td width="35%"
                | <strong>Dari Toko <a href="#">#{@order.member.shop_title?}</a></strong>
              td class="text-center"
                | <strong>Satuan</strong>
              td class="text-center"
                | <strong>Jumlah</strong>
              td class="text-center"
                | <strong>Berat</strong>
              td class="text-right"
                | <strong>Harga</strong>
          tbody
            - @order.order_items.each do |order_item| 
              tr
                td style="white-space:normal;"
                  .avatar-author
                    = wicked_pdf_image_tag order_item.try(:product).try(:galleries).try(:first).try(:file).url(:medium)
                  .title-content-item
                    div
                      small.uppercase
                        b
                          = order_item.product.code
                    div
                      = link_to "#{order_item.product.title}", product_path(order_item.product.slug+'-'+order_item.catalog.id.to_s)
                    div
                      = order_item.variant
                    div
                      small
                        = order_item.message
                    div
                      = "#{order_item.status? if order_item.cancelled? || order_item.refund?} &nbsp; #{order_item.cancelled_reason?}".html_safe
                td.text-center
                  span
                    = get_currency(order_item.price)
                td.text-center
                  span
                    = order_item.quantity
                td.text-center
                  | #{order_item.weight} gr
                td.text-right
                  span
                    = get_currency(order_item.total_price)
            tr
              td class="highrow"
              td class="highrow"
              td class="highrow"
              td class="highrow text-center"
                | <h6>#{@order.weight?} gr</h6>
              td class="highrow text-right"
                | <h6>#{get_currency(@order.price)}</h6>
            - unless @order.cod?
              tr
                td class="highrow"
                td class="highrow"
                td class="highrow"
                td class="highrow text-center"
                  h6 Pengiriman #{@order.shipping_method.upcase}
                  small #{@order.origin_name} - #{@order.try(:address).try(:city).try(:titleize)}, Kecamatan #{@order.try(:address).try(:district).try(:titleize)}
                td class="highrow text-right"
                  | <h6>#{get_currency(@order.shipping_price) if @order.shipping_price.present?}</h6>
            tr
              td class="highrow"
              td class="highrow"
              td class="highrow"
              td class="highrow text-center"
                | <h6>TOTAL</h6>
              td class="highrow text-right"
                | <h6>#{get_currency(@order.total_price)}</h6>

    .col-xs-12
      h4 Transaksi
      .table-responsive.table-order-list
        table class="table table-striped"
          thead
            tr
              td class="text-center" width="20%"
                | <strong>Transaksi</strong>
              td class="text-center" width="20%"
                | <strong>Pembeli</strong>
              td class="text-center"
                | <strong>Pembayaran Ke</strong>
              td class="text-center"
                | <strong>Status Pembayaran</strong>
              td class="text-center"
                | <strong>Total Pembayaran</strong>
          tbody
            tr
              td.text-center
                span
                  = @order.try(:purchased_at).strftime("%B, %d, %Y") if @order.purchased_at
              td.text-center
                span
                  = "#{@order.try(:payer_name)} (#{link_to @order.try(:payer_email), "mailto:#{@order.try(:payer_email)}" })".html_safe
              td.text-center
                span
                  = @order.try(:payment_to)
              td.text-center
                span
                  = @order.status?
              td.text-center
                span
                  b
                    = get_currency(@order.total_price)

    - if @order.cod?
      h4 Pengambilan Barang
        .table-responsive.table-order-list
          table class="table table-striped"
            thead
              tr
                td COD/Ambil stockis dikantor Merchant
            tbody
              tr
                td
                  = "#{@order.address_merchant?}"s
    - else
      .col-xs-12
        h4 Pengiriman
        .table-responsive.table-order-list
          table class="table table-striped"
            thead
              tr
                td class="text-center" width="15%"
                  | <strong>Penerima</strong>
                td class="text-center" width="20%"
                  | <strong>Metode Pengiriman</strong>
                td class="text-center" width="10%"
                  | <strong>Phone</strong>
                td class="text-center"
                  | <strong>Alamat Pengiriman</strong>
                td class="text-center"
                  | <strong>Status Pengiriman</strong>
                - if @order.shipped? && @order.number_shipping.present?
                  td class="text-center"
                    | <strong>No Resi</strong>
            tbody
              tr
                td.text-center
                  span
                    = @order.try(:payer_name)
                td.text-center
                  span
                    = @order.try(:shipping_method).try(:upcase)
                td.text-center
                  span
                    = @order.try(:payer_phone)
                td.text-center
                  span
                    = @order.try(:payer_address)
                td.text-center
                  span
                    = @order.status_order?
                - if @order.shipped? && @order.number_shipping.present?
                  td.text-center
                    span
                      = @order.try(:number_shipping)