#header.header-publisher.resposnsive-header
	#logo.light-version
		= link_to merchants_dashboard_path do
			= image_tag "logo.png", class: "img-logo"
	nav role="navigation" 
		.header-link.hide-menu
			i.fa.fa-bars
		.small-logo
			span 
				= link_to merchants_dashboard_path do
					= image_tag "logo.png", class: "img-logo"
		
		.mobile-menu
			button.navbar-toggle.mobile-menu-toggle.responsive-menu-icon data-target="#mobile-collapse" data-toggle="collapse" type="button"
				i.fa.fa-chevron-down
			#mobile-collapse.collapse.mobile-navbar.responsive-ul-menu-icon
				ul.nav.navbar-nav
					li.dropdown.pull-right
						= button_to destroy_user_session_path, method: :delete, class: 'menu-icon logout' do
							i.pe-7s-upload.pe-rotate-90
		.navbar-right
			ul.nav.navbar-nav.no-borders
				li.dropdown
					= button_to destroy_user_session_path, method: :delete, class: 'menu-icon logout' do
						i.pe-7s-upload.pe-rotate-90
= render 'merchants/shareds/sidebar'