- if current_user.member?
  - source = :members
- elsif current_user.account_manager?
  - source = :managers
- else 
  - source = :merchants

- if params[:action] == 'new'
  - icon = 'glyphicon glyphicon-plus'
- else
  - icon = 'fa fa-pencil'

.panel.panel-cst
  .panel-heading
    i class="#{icon}"
    | &nbsp; #{action_name} #{form_name}
  = form_for [source, resource], method: form_method, html: {class: 'form'} do |f|
    = render partial: 'form', locals: {f: f}