aside#menu
	#navigation
		= link_to edit_merchants_merchant_path(@merchant) do
			.profile-picture
				= image_tag @merchant.profile.avatar, class: "img-profile", style: "width: 50px;"
				.tcenter
				 	b = @merchant.merchant_info.title
		ul#side-menu.nav.ul-menu
			li class="#{active_sidebar_active?(:home, :dashboard)}"
				= link_to merchants_dashboard_path do
					i.pe-7s-global
					| &nbsp;
					span.nav-label Dashboard
			li class="#{active_sidebar_active?(:orders, :all)} #{active_sidebar_active?(:confirmations, :index)}"
				= link_to merchants_orders_path do
					i.pe-7s-cart
					| &nbsp;
					span.nav-label Daftar Order
			li class="#{active_sidebar_active?(:products, :all)}"
				= link_to merchants_products_path do
					i.pe-7s-ticket
					| &nbsp;
					span.nav-label Produk
			li class="#{active_sidebar_active?(:payments, :all)}"
				= link_to merchants_payments_path do
					i.pe-7s-cash
					| &nbsp;
					span.nav-label Pembayaran
			li class="#{active_sidebar_active?(:merchants, :edit)}"
				= link_to edit_merchants_merchant_path(@merchant) do
					i.pe-7s-config
					| &nbsp;
					span.nav-label Setting

		/.about-store
			.about-store-title
				| Profile
			ul.sidebar
				li
					| Nama Lengkap : 
					| &nbsp;
					= @merchant.profile.full_name
				li  
					| Username :
					| &nbsp;
					= @merchant.username			
				li  
					| Email :
					| &nbsp;
					= @merchant.email				
				li  
					| Tanggal Lahir :
					| &nbsp;
					= @merchant.profile.birthday				
				li  
					| Jenis Kelamin :
					| &nbsp;
					= @merchant.profile.gender

		.about-store
			.about-store-title
				| Tentang Toko
			ul.sidebar
				li
					| Nama Toko :
					| &nbsp;
					= @merchant.merchant_info.title
				/li
					| Alamat : 
					| &nbsp;
					= @merchant.address.place_info
				li  
					| Tipe Produk :
					| &nbsp;
					= @merchant.merchant_info.product_type
				li  
					| No. BPOM :
					| &nbsp;
					= @merchant.merchant_info.no_bpom
				li  
					| Nama Produk Unggulan :
					| &nbsp;
					= @merchant.merchant_info.sample_product


		/.about-store
			.about-store-title
				| Produk
			ul.sidebar
				li
					| Produk : 345
				li  
					| Penjualan : 124