.row
	.col-xs-12
		h6 Judul
		= f.text_field :title, class: 'form-control'
	.col-xs-12
		label Deskripsi
		= f.cktext_area :description, class: 'form-control'
	.col-xs-12
		label Kategori
		= f.select :category, Blog::CATEGORIES, {prompt: "Pilih Kategori"}, class: 'form-control'
	.col-xs-12		
		label Image
		br
		= image_tag f.object.file.url(:small), class: 'show-choice'
		= f.file_field :file, class: 'input-file'
	.col-xs-12
		label link_video
		= f.text_field :link_video, class: 'form-control'
	.col-xs-12
		label Status
		= f.select :status, Blog::STATUSES, {prompt: "Pilih Status"}, class: 'form-control'