.col-md-12
	= render 'backend/shareds/search_form_blog'
	= form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do
		.widget
			= render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Spending', button_name: 'Spendings', add_method: true}
			.widget-content
				.table-responsive
					table class="table table-striped table-bordered table-hover"
						thead
							tr
								th = check_box_tag :check_all
								th gambar
								th judul
								th deskripsi
								th kategori
								th status
								th view count
								th action
						tbody
							- if @collection.blank?
								tr
									td colspan="8"
										= render "shareds/empty_blank"
							- else
								- @collection.each_with_index do |resource, index|
									tr
										td
											= check_box_tag "ids[]", resource.id
										td 
											= image_tag resource.file.url(:thumb)
										td 
											= truncate(resource.title, :length => 30)
										td 
											= truncate(strip_tags(resource.description), :length => 50)
										td 
											= resource.category
										td 
											= resource.status?
										td 
											= resource.impressionist_count
										td
											= render partial: 'backend/shareds/prepare_action',
												locals: { resource: resource, confirmation: "Are you sure delete this #{resource.id}", no_show: false }
				.widget-foot
					.pull-right
						= paginate @collection, remote: true if @collection.present?
					.clearfix