= render 'members/commissions/estimate'
= render 'members/commissions/box_content', key: :commission_value
= render 'members/commissions/box_analytic', key: :commission_value, link_path: backend_commission_referrals_path, search_key: 'Kode Komisi/Kode Invoice/Kode atau Nama Produk/Kode Katalog', box_for: 'referral'