<table border="1">
  <caption>Daftar Komisi Referral <%= show_search_form_date(params[:start_at], params[:end_at]) %></caption>
  <tr>
    <th>No</th>
    <th>Kode Komisi</th>
    <th>Referral Dari</th>
    <th>Kepada</th>
    <th>Kode Order</th>
    <th>Produk</th>
    <th>Qty</th>
    <th>Kode Katalog</th>
    <th>Total Harga</th>
    <th>Persentase</th>
    <th>Nilai Komisi</th>
    <th>Status</th>
    <th>Tanggal Masuk</th>
  </tr>
  <% @collection_all.each_with_index do |resource, index| %>
  <tr>
    <td><%= index+1 %></td>
    <td><%= resource.try(:commission).try(:uniq_code) %></td>
    <td><%= resource.commission.member.username %></td>
    <td><%= resource.member.username %></td>
    <td><%= resource.commission.order.code %></td>
    <td><%= "#{resource.commission.product.title} (#{resource.commission.product.code}) <b>#{get_currency(resource.commission.product.price)}</b>".html_safe %></td>
    <td><%= resource.commission.try(:quantity) %></td>
    <td><%= resource.commission.try(:catalog).try(:code) %></td>
    <td><b><%= get_currency(resource.commission.try(:order_item).try(:total_company_price)) %></b></td>
    <td><%= "#{resource.percentage}%" %></td>
    <td><%= get_currency(resource.commission_value) %></td>
    <td><%= resource.try(:status) %></td>
    <td><%= resource.commission_date.strftime("%d %B %Y - %I:%M") if resource.commission_date.present? %></td>
  </tr>
  <% end %>
</table>