.col-md-12
  .widget
    .widget-head
      .pull-left
        | Detail Invoice
      .widget-icons.pull-right
        | <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
        | <a href="#" class="wclose"><i class="fa fa-times"></i></a>
      .clearfix
    .widget-content
      .padd
        .form-horizontal
          .form-group
            .col-md-3
              b Kode
            .col-md-9
              = resource.code
          .form-group
            .col-md-3
              b Member
            .col-md-9
              = link_to resource.member.username, backend_member_path(resource.member)
          .form-group
            .col-md-3
              b Subject
            .col-md-9
              = resource.subject
          .form-group
            .col-md-3
              b Harga
            .col-md-9
              = get_currency(resource.price)
          .form-group
            .col-md-3
              b Deskripsi
            .col-md-9
              = resource.description.html_safe
          .form-group
            .col-md-3
              b Nama Bank
            .col-md-9
              = resource.bank_name
          .form-group
            .col-md-3
              b Nama Rekening
            .col-md-9
              = resource.account_name
          .form-group
            .col-md-3
              b Nomor Rekening
            .col-md-9
              = resource.account_number
          .form-group
            .col-md-3
              b Status
            .col-md-9
              = resource.status?
          .form-group
            .col-md-3
              b Dibuat
            .col-md-9
              = get_datetime(resource.created_at)
        .break
      .widget-foot
        = link_to '<i class="fa fa-chevron-left"></i>'.html_safe, :back, class: 'btn btn-xs btn-primary', title: "Kembali"
        | &nbsp;
        = link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_resource_path(resource), class: 'btn btn-xs btn-warning', title: "Ubah"
