#wrapper.load-more-scroll
  .content.animate-panel
    .hpanel
      .title-member-content.mg-bot15
        b Pesan dari (<span class="js-total-collection">#{@collection_size}</span>) Resellers
      .hpanel
        .row
          .col-md-6.col-md-offset-3
            button.btn.btn-primary.pull-right data-target="#blast-message" data-toggle="modal" type="button"
              <i class="pe-7s-pen"></i> &nbsp; Send Message
            .hpanel
              .v-timeline.vertical-container.animate-panel data-child="vertical-timeline-block" data-delay="1"
                section
                  .infinitescroll-page
                    .hpanel.forum-box.js-forum-box.responsive-forum-box
                      = render partial: "managers/messages/lists", object: @collection
                  .pagination
                    = link_to_next_page(@collection, 'LOADING MORE', remote: true, class: 'btn btn-default btn-more')

= render 'managers/members/modal_blast_messages'