$('.chat-discussion').html("<%= escape_javascript render partial: 'managers/shareds/chat', locals: {messages: @member_messages} %>");
$('.input-chat').val('');
var charFromBottom = $('.chat-discussion');
charFromBottom[0].scrollTop = charFromBottom[0].scrollHeight;