$('.js-total-collection').html("<%= @collection_size %>");
$("<%=j render(partial: 'lists', object: @collection) %>").appendTo($(".infinitescroll-page .js-forum-box"));
$('.pagination').html("<%=j link_to_next_page(@collection, 'LOADING MORE', remote: true, class: 'btn btn-default btn-more') %>");