.col-md-12.col-xs-12.col-sm-12
  = render 'members/orders/search_order'
  .row
    = render 'members/home/estimate'
  = render 'members/orders/estimate', key: :commission_member
  .box-table
    .table-responsive
      table.table.table-striped.table-bordered.table-hover.mg-bot0
        thead
          tr
            th Invoice 
            th Pembeli 
            th Reseller
            th Pembayaran  
            th Pengiriman  
            th Transaksi  
            th Konfirmasi  
            th Belanja 
            th Pengiriman 
            th Total
            th Transaksi 
        tbody
          - if @collection.blank?
            tr
              td colspan="10" 
                = render "shareds/empty_blank"
          - else
            - @collection.each_with_index do |resource, index|
              tr
                td.uppercase
                  = link_to "#{resource.code}", merchants_order_path(resource)
                td
                  = resource.payer_name
                td
                  = link_to resource.member.web_setting.title, resource.member.web_preview
                td
                  = resource.status?
                td
                  = resource.status_order?
                td
                  = resource.try(:purchased_at).strftime("%B, %d, %Y") 
                td
                  = resource.confirmation?
                td
                  = get_currency(resource.basic_price)
                td
                  = get_currency(resource.shipping_price)
                td
                  = get_currency(resource.total_basic_price)
                td
                  = resource.created_at.strftime("%d %B %Y - %I:%M") if resource.created_at.present?
  .widget-foot
    = paginate @collection, remote: true
