<table border="1">
  <caption>Daftar Order <%= show_search_form_date(params[:start_at], params[:end_at]) %></caption>
  <tr>
    <th>Invoice</th> 
    <th>Pembeli</th> 
    <th>Nama Toko</th> 
    <th>Pembayaran</th>  
    <th>Pengiriman</th>  
    <th>Transaksi</th>  
    <th>Konfirmasi</th>  
    <th>Belanja</th> 
    <th>Ongkir</th> 
    <th>Total</th>
    <th>Transaksi</th> 
  </tr>
  <% @collection_all.each_with_index do |resource, index| %>
  <tr>
    <td class="uppercase"><%= resource.code %></td>
    <td><%= resource.payer_name %></td>
    <td><%= resource.member.web_setting.title %></td>
    <td><%= resource.status? %></td>
    <td>
      <%= resource.status_order_text? %>
    </td>
    <td><%= resource.try(:purchased_at).strftime("%B, %d, %Y") %></td>
    <td><%= resource.confirmation? %></td>
    <td><%= get_currency(resource.basic_price) %></td>
    <td><%= get_currency(resource.shipping_price) %></td>
    <td><%= get_currency(resource.total_basic_price) %></td>
    <td><%= resource.created_at.strftime("%d %B %Y - %I:%M") if resource.created_at.present? %></td>
  </tr>
  <% end %>
</table>