- @order = resource
#wrapper
  .content.animate-panel
    .hpanel
      .row
				.col-xs-12
					= render 'backend/orders/confirmation' unless current_user.merchant?
					= render 'backend/orders/invoice'

					- unless current_user.merchant?
						- if @order.report_refund.present?
							.panel.panel-refund
								.panel-body
									h4 Data Refund
									= render 'backend/report_refunds/show', resource: @order.report_refund

					.panel.panel-activities
						.panel-body
							.tabbable
								ul.nav.nav-tabs
									li.active
										a data-toggle="tab" href="#tab2_1"  Aktifitas
								br
								.tab-content
									#tab2_1.tab-pane.active
										h2 align="center" Daftar Aktifitas
										br
										= form_for :search, url: merchants_order_path(resource), method: 'get', html: {class: 'form-search', remote: true} do
											.input-group.wd100
												.col-md-4.no-padding
													= text_field_tag :key_activities, params[:key_activities], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
												.col-md-3.no-padding
													= select_tag :status_activities, options_for_select(Activity::STATUSES, params[:status_activities]), prompt: 'Pilih Status', class: 'form-control'
												.col-md-2.no-padding
													= text_field_tag :start_at_activities, nil, value: params[:start_at_activities], class: 'form-control datepicker', placeholder: 'Start At'
												.col-md-2.no-padding
													= text_field_tag :end_at_activities, nil, value: params[:end_at_activities], class: 'form-control datepicker',  placeholder: 'End At'
												.col-md-1.no-padding
													= submit_tag :search, class: 'btn btn-info btn-block'
										br
										#list-activities
											= render "backend/orders/list_activities"

				