.col-md-12
  .widget
    = render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Regions', button_name: 'Regions', add_method: true} 
    .widget-content
      .table-responsive
        table class="table table-striped table-bordered table-hover"
          thead
            tr 
              th #
              th width="20%" Provinces
              th Cities
              th width="10%" Action
            - @collection.each_with_index do |resource, index| 
              tr 
                td =index+1
                td class="uppercase" 
                  = link_to resource.name, edit_resource_path(resource)
                td
                  - resource.children.each_with_index do |r, index| 
                    = link_to "#{r.name}", edit_resource_path(r)
                    | ,
                td
                  = render partial: 'backend/shareds/prepare_action', locals: { resource: resource, confirmation: "Are you sure delete this #{resource.name}", no_show: false } 
      .widget-foot
        .pull-right
          = paginate @collection 
        .clearfix
