.affiliate
	.col-md-3
		.box.border-yellow
			center
				h6 = get_currency(@collection_pending)
				h5 pending

	.col-md-3
		.box.border-blue
			center
				h6 = get_currency(@collection_process)
				h5 process

	.col-md-3
		.box.border-red
			center
				h6 = get_currency(@collection_paid)
				h5 reject

	.col-md-3
		.box.border-green
			center
				h6 = get_currency(@collection_rejects)
				h5 paid
