.col-md-8
	- if @collection.blank?
		= render "shareds/empty_blank"
	- else
		- @collection.each_with_index do |resource, index|
			ul.timeline
				li.timeline-inverted
					.timeline-badge
						i.pe-7s-note2
					.timeline-panel
						.timeline-heading
							.row
								.col-md-6
									h4
										b
											i.fa.fa-globe &nbsp;
											= resource.code 
								.col-md-6
									h6.uppercase.tright
										= get_datetime(resource.created_at)
						.timeline-body
							.row
								.content-timeline
									.col-xs-12
										center
											h5
												| Transfer Ke
											h5 
												b
													= resource.payment_to?

								.col-xs-12
									.table-responsive
										table.table
											thead
												tr
													th Member Referral
													th Komisi
													th Status
											tbody
												tr
													td
														= resource.member_referral?
													td
														= get_currency(resource.fee_member)
													td
														= resource.status?
			br
	.widget-foot
		= paginate @collection, remote: true
