<table border="1">
  <caption>Daftar Pembayaran Affiliasi<%= show_search_form_date(params[:start_at], params[:end_at]) %></caption>
  <tr>
    <th>Kode</th>
    <th>Member Referral</th>
    <th>Transfer Ke</th>
    <th>Status</th>
    <th>Komisi</th>
    <th>Dibuat</th>
  </tr>
  <% @collection_all.each_with_index do |resource, index| %>
    <tr>
      <td><%= resource.code %></td>
      <td><%= resource.member_referral? %></td>
      <td><%= resource.payment_to? %></td>
      <td><%= resource.status? %></td>
      <td><%= get_currency(resource.fee_member) %></td>
      <td><%= get_datetime(resource.created_at) %></td>
    </tr>
  <% end %>
</table>