- if current_user.member?
	- inactive_catalogs_link = inactive_members_catalogs_path
	- catalogs_link = members_catalogs_path
- else
	- inactive_catalogs_link = inactive_managers_catalogs_path
	- catalogs_link = managers_catalogs_path

.top-member-menu
	ul
		/ li
		/   = link_to 'Katalog Pending', pending_members_catalogs_path , class: "#{active_sidebar_active?(:catalogs, :pending)}"
		li
			= link_to 'Katalog Inactive', inactive_catalogs_link , class: "#{active_sidebar_active?(:catalogs, :inactive)}"
		li
			= link_to 'Katalog Terpublish', catalogs_link , class: "#{active_sidebar_active?(:catalogs, :index)}"
		- if current_user.member?
			li
				= link_to '<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Tambah Produk'.html_safe, new_resource_path, class: "#{active_sidebar_active?(:catalogs, :new)}"