.modal.fade id="squarespaceModal-#{resource.id}" aria-labelledby="modalLabel" role="dialog" tabindex="-1" class="squarespaceModal"
  .modal-dialog.show-detail
    .modal-content
      .modal-header
        b Kode Barang : #{resource.code}
        button.close data-dismiss="modal" type="button"
          span aria-hidden="true" ×
          span.sr-only Close
      .modal-body
        .row
          .col-md-6
            = image_tag resource.cover.url, class: 'img-responsive'

          .col-md-6
            .title-view-catalog
              = resource.title
            .price-view-catalog
              small Harga Distributor :
              br
              = get_currency(resource.price) if resource.present?
            .price-view-catalog.price-green
              small Rekomendasi Harga Jual :
              br
              = get_currency(resource.recommended_price) if resource.present?
            .desc-view-title.mg-top10
              b Kode Barang : 
              = resource.code
            .desc-view-title
              b Kategori : 
              = resource.try(:parent_category).try(:name)
            .desc-view-title
              b Stok : 
              = resource.status_stock?
            .desc-view-title
              br
              b Deskripsi :
              .description
                = resource.description.html_safe