- product = resource.product
- link_product = current_user.member? ? members_shop_path(product.slug+'-'+resource.id.to_s) : '#'
.box-list-catalog
	.row
		.col-md-2
			.box-img-catalog
				= image_tag resource.product.cover, class: 'img-list-catalog'
				- if resource.discount > 0
					.label-diskon
						= "-#{resource.discount.to_i if resource.discount.present?}%"
		= link_to link_product, class: 'title-list-catalog' do
			= truncate(product.title, :length => 30)
			label.label-code
				| &nbsp;[#{product.code}]
		.col-md-4
			table.info-list-product
				tr
					th.title-list
						| Merek
					th
						| :
					th 
						| #{product.try(:brand_name)}
				tr
					th.title-list
						| Kategori
					th
						| :
					th 
						| #{product.try(:parent_category).try(:name)}, #{product.try(:sub_category).try(:name)}
				tr
					th.title-list
						| Dibuat
					th
						| :
					th 
						| #{resource.created_at.strftime("%B, %d, %Y") if resource.created_at.present?}
				tr
					th.title-list
						| Harga Jual
					th
						| :
					th
						span.red
							- if resource.discount > 0
								del.non-active
									= get_currency(resource.price) if resource.price.present?
								| &nbsp; #{get_currency(resource.get_price_in_list_member?)}
							- else
								= get_currency(resource.price) if resource.price.present?
				tr
					th.title-list
						| Harga Distributor
					th
						| :
					th 
						span.green
							| #{get_currency(product.price) if product.price.present?}
				tr
					th.title-list
						| Status
					th
						| :
					th 
						= product.active?
		.col-md-4.col-xs-12
			table.info-list-product
				- if current_user.account_manager?
					tr
						th.title-list
							| Reseller
						th
							| :
						th 
							= link_to resource.member.username, managers_member_path(resource.member)
				tr
					th.title-list
						| Fee Referral
					th
						| :
					th 
						= product.fee_referral?
				tr
					th.title-list
						| Telah Terjual
					th
						| :
					th 
						span.act.glyphicon.glyphicon-shopping-cart aria-hidden="true" 
						span.act2 #{resource.have_sold?} Items
				tr
					th
						| Mempunyai Stok
					th
						| :
					th 
						span.act = product.status_stock?
							span.act2 #{resource.have_sold?} Items
				tr
					th.title-list
						| Telah Dilihat
					th
						| :
					th 
						| #{resource.impressionist_count} Orang
			= product.only_status_stock?
		.col-md-2
			- if current_user.member?
				= form_for resource, url: change_status_members_catalog_path(resource), method: 'put', html: {class: "pull-right action-catalog"} do |f|
					= link_to '<i class="fa fa-undo"></i> restore'.html_safe, restore_members_catalog_path(product), class: 'btn btn-sm btn-block btn-success pull-right' if params[:action] == 'archive'
					= link_to '<i class="fa fa-wrench"></i> &nbsp;Ubah katalog'.html_safe, "#", class: 'btn btn-edit btn-block btn-sm pull-right', "data-target"=>"#squarespaceModal-#{resource.id}", "data-toggle"=>"modal", title: "Ubah katalog" unless params[:action] == 'pending'
					- if resource.is_active?
						= button_tag '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp; Non-Aktifkan Katalog'.html_safe, type: "sumbit", value: Catalog::INACTIVE, class: 'btn btn-danger btn-block btn-sm pull-right', title: "Inactive katalog"
					- elsif resource.is_inactive?
						= button_tag "<i class='fa fa-check'></i> &nbsp;Aktifkan Katalog".html_safe, type: "sumbit", value: Catalog::APPROVED, class: 'btn btn-sm btn-block btn-info pull-right', title: "Active katalog"

= render 'members/catalogs/modal_catalog', resource: resource, product: product