.col-md-15.col-xs-6.col-sm-3
  .box-catalog-product
    .box-img-product
      a data-fancybox="catalog" href="#{image_url resource.cover.url}" 
        = image_tag resource.cover.url , class: 'img-catalog-product'
      .catogory-catalog
        = resource.try(:parent_category).try(:name)
      .product-id-label
        = resource.code
    .box-desc-product
      .title-product-catalog
        = truncate(resource.title, :length => 30)
      .brand
        | Merek :
        br
        = resource.brand_name
      .price-product-catalog
        small Harga Distributor :
        br
        = get_currency(resource.price) if resource.present?
      .price-product-catalog.price-green
        small Rekomendasi Harga Jual :
        br
        = get_currency(resource.recommended_price) if resource.present?

.modal.fade id="squarespaceModal-#{resource.id}" aria-labelledby="modalLabel" role="dialog" tabindex="-1"
  = render 'members/catalogs/detail_catalog', resource: resource