.modal.fade id="squarespaceModal-#{resource.id}" aria-labelledby="modalLabel" role="dialog" tabindex="-1" class="squarespaceModal"
	.modal-dialog
		.modal-content
			.modal-header
				button.close data-dismiss="modal" type="button"
					span aria-hidden="true" ×
					span.sr-only Close
				h3 Ubah Katalog
			.modal-body
				.pull-right
					= image_tag resource.product.cover.url(:medium), class: "img-edit-catalog pull-right", style: "width: 150px;"
				.desc-modal
					.bg-title Kode Produk
					= resource.product.code
				.desc-modal
					.bg-title Nama Produk
					= resource.product.title
				.desc-modal
					.bg-title Harga Beli
					= get_currency(resource.product.price)
				= form_for [:members, resource], method: "put", html: {class: 'form', multipart: true} do |f|
					/!
						.form-group
							label Tentukan Meta Title
							= f.text_field :meta_title, placeholder: "Masukkan Meta Title", class: 'form-control'
						.form-group
							label Tentukan Meta Keywords
							= f.text_field :meta_keywords, placeholder: "Masukkan Meta Keywords", class: 'form-control'
						.form-group
							label Tentukan Meta Description
							= f.text_field :meta_description, placeholder: "Masukkan Meta Description", class: 'form-control'
						.form-group
							label Tentukan Deskripsi Prodak
							= f.text_field :description, placeholder: "Masukkan Deskripsi Prodak", class: 'form-control'
					.form-group
						label Tentukan harga jual
						= f.number_field :price, placeholder: "Masukkan Harga Jual Min #{get_currency(product.recommended_price)}", class: 'form-control', required: true, min: product.recommended_price
					.form-group
						label Tentukan diskon
						= f.number_field :discount, placeholder: "Masukkan Diskon Produk", class: 'form-control', required: true

					= submit_tag 'Simpan', class: "form-control btn-save-modal"