- if params[:action] == 'index'
  .hpanel
    .row
      .col-md-4.col-sm-12.col-xs-12
        .title-member-content 
          b Katalog Terpublish
      .col-md-8.col-sm-12.col-xs-12
        = render 'members/catalogs/catalog_menu'
      .col-md-12.col-sm-12.col-xs-12
        = render 'members/catalogs/search_catalog', search_path: collection_path, placeholder: "Cari Produk"
        .panel-body.mg-bot15
          h6
            i.fa.fa-edit
            | &nbsp;
            | Di halaman katalog ini anda bisa mengubah harga dan diskon masing - masing produk sesuai keinginan anda dengan cara klik tombol edit di setiap produk.
        .row
          - if @collection.blank?
            .col-md-12.col-sm-12.col-xs-12
              = render 'shareds/empty_blank', message: "Data katalog produk anda masih kosong, silahkan tentukan terlebih dahulu produk yang anda akan jual! #{link_to 'KLIK DISINI', new_resource_path}"
          - else
            - @collection.each do |resource|
              .col-md-12.col-sm-6.col-xs-12
                = render 'members/catalogs/list', resource: resource     
  = paginate @collection, remote: true if @collection.present?
  
- elsif params[:action] == 'inactive'
  .hpanel
    .row
      .col-md-4.col-sm-12.col-xs-12
        .title-member-content 
          b Katalog Inactive
      .col-md-8.col-sm-12.col-xs-12
        = render 'members/catalogs/catalog_menu'
      .col-md-12.col-sm-12.col-xs-12
        = render 'members/catalogs/search_catalog', search_path: inactive_members_catalogs_path, placeholder: "Cari Produk"
        .row
          - if @collection.blank?
            .col-md-12.col-sm-12.col-xs-12
              = render 'shareds/empty_blank'
          - else
            - @collection.each do |resource|
              .col-md-12.col-sm-6.col-xs-12
                = render 'members/catalogs/list', resource: resource              
  = paginate @collection, remote: true if @collection.present?

- elsif params[:action] == 'pending'
  .hpanel
    .row
      .col-md-4.col-sm-12.col-xs-12
        .title-member-content 
          b Katalog Inactive
      .col-md-8.col-sm-12.col-xs-12
        = render 'members/catalogs/catalog_menu'
      .col-md-12.col-sm-12.col-xs-12
        = render 'members/catalogs/search_catalog', search_path: pending_members_catalogs_path, placeholder: "Cari Produk"
        .row
          - if @collection.blank?
            .col-md-12.col-sm-12.col-xs-12
              = render 'shareds/empty_blank'
          - else
            - @collection.each do |resource|
              .col-md-12.col-sm-6.col-xs-12
                = render 'members/catalogs/list', resource: resource   
  = paginate @collection, remote: true if @collection.present?

- elsif params[:action] == 'new'
  .hpanel
    .row
      .col-md-4
        .title-member-content 
          b Tambah Produk
      .col-md-8
        = render 'members/catalogs/catalog_menu'
      .col-xs-12
        = render 'members/catalogs/search_catalog', search_path: new_resource_path, placeholder: "Cari Produk"
        a aria-controls="collapseOne" aria-expanded="true" data-parent="#accordion" data-toggle="collapse" href="#collapseOne" role="button" class="btn-how-to-use btn-default btn btn-full"
          | Tampilkan Cara Menggunakan
      .how-to-use.col-xs-12 id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne"
        .row
          .col-md-3.col-sm-3.how-use
            .box-add-product
              i.pe-7s-box1
              br
              p
                | Pilih produk yang ingin dijual di website anda
              .nomber-step
                | 1
          .col-md-3.col-sm-3.how-use
            .line-steps  
            .box-add-product
              i.pe-7s-check
              br
              p
                | Centang di produk yang di pilih
              .nomber-step
                | 2
          .col-md-3.col-sm-3.how-use  
            .box-add-product
              i.pe-7s-mouse
              br
              p
                | Klik tombol Simpan & Publish
              .nomber-step
                | 3
          .col-md-3.col-sm-3.how-use  
            .box-add-product
              i.pe-7s-smile.i-1
              br
              p
                | Selamat produk anda telah tersimpan dan terpublish di website anda
              .nomber-step
                | 4
    = render partial: 'members/shareds/prepare_form', locals: { form_name: 'Catalogs', action_name: 'New', form_method: 'post'}  