- if @list_products.present?
	.row
		.col-md-6
			.box-check-all
				input#check_all type="checkbox" value="1"
				label for="check_all"
					| Pilih Semua
		.col-md-6
			button class="btn-save-catalog" type="submit" SIMPAN & PUBLISH
	.row
		- @list_products.each do |resource|
			.col-md-15.col-xs-6.col-sm-3
				.box-catalog-product
					.box-img-product.checkproduc
						.overplay.checkproduc
							.button
								| TAMBAHKAN
								br
								| KE TOKO SAYA
						= image_tag resource.cover.url, class: 'img-responsive'
						= check_box_tag 'product_ids[]', resource.id
						.checked-icon
							i.icon.hidden.pe-7s-check
						.catogory-catalog
							= resource.try(:parent_category).try(:name)
						.product-id-label
							= resource.code
					.box-desc-product
						.title-product-catalog
							= truncate(resource.title, :length => 30)
						.brand
							| Merek :
							br
							= resource.brand_name
						.brand
							| Fee Referral :
							br
							= resource.fee_referral?
						.price-product-catalog
							small Harga Distributor :
							br
							= get_currency(resource.price) if resource.present?
						.price-product-catalog.price-green
							small Rekomendasi Harga Jual :
							br
							= get_currency(resource.recommended_price) if resource.present?
						= link_to 'Lihat Detail'.html_safe, "#", "data-target"=>"#squarespaceModal-#{resource.id}", "data-toggle"=>"modal", "class"=>"view-detail"
				= render 'members/catalogs/detail_catalog', resource: resource
- else
	.= render 'shareds/empty_blank', message: 'Daftar produk kosong atau sudah anda pilih semua!'
		

