.panel-body.box-search-catalog
	= form_for :search, url: search_path, html: {class: 'simple-search-form js-form-analytic'}, method: 'get', remote: (params[:action] == 'new' ? false : true) do
		.row
			.col-md-4
				.select-category
					= select_tag :category_id, options_for_select(Category.roots.alfa.active.map{|c| [c.name, c.id]}, params[:category_id]), prompt: 'Pilih Kategori', class: 'select2 form-control choice-category-catalog-select', 'data-node' => "#{@collection.class.to_s.downcase}"
			.col-md-4 
				.select-category
					.sub-category-catalog-container
						- sub_categories = Category.find(params[:category_id]).try(:children).alfa.map{|c| [c.name, c.id]} rescue []
						= select_tag :sub_category_id, options_for_select(sub_categories, params[:sub_category_id]), prompt: 'Pilih Sub Kategori', class: 'select2 form-control'
			.col-md-4 
				.select-category
					= select_tag :status_stock, options_for_select(StatusStock.to_a, params[:status_stock]), prompt: 'Pilih Status', class: 'form-control form-custom2'
			.col-md-10
				.input-key
					= text_field_tag :key, nil, value: params[:key], placeholder: placeholder, class: "form-control"
				.submit-search
					= submit_tag 'CARI', class: "btn btn-full form-custom"
			.col-md-2
				.js-button-export
					- if params[:action] == "pending"
						= render 'shareds/button_export', controller_name: "pending"
					- elsif params[:action] == "inactive"
						= render 'shareds/button_export', controller_name: "inactive"
					- else
						= render 'shareds/button_export'