<table border="1">
  <caption>KATALOG</caption>
  <tr>
    <th>No</th>
    <th>Kode</th>
    <th>Nama</th>
    <th>Stok</th>
    <th>Harga Distributor</th>
    <th>Harga Jual</th>
    <th>Kategori</th>
    <th>Sub Kategori</th>
  </tr>
  <% @download_catalogs.each_with_index do |resource, index| %>
  <tr>
    <td><%= index+1 %></td>
    <td><%= resource.try(:code) %></td>
    <td><%= resource.try(:title) %></td>
    <td><%= resource.status_stock? %></td>
    <td><%= get_currency(resource.price) if resource.present? %></td>
    <td><%= get_currency(resource.recommended_price) if resource.present? %></td>
    <td><%= resource.try(:parent_category).try(:name) %></td>
    <td><%= resource.try(:sub_category).try(:name) %></td>
  </tr>
  <% end %>
</table>