<table border="1">
  <caption>Daftar Katalog Pending <%= show_search_form_date(params[:start_at], params[:end_at]) %></caption>
  <tr>
    <th>No</th>
    <th>Kode Produk</th>
    <th>Nama Produk</th>
    <th>Merek</th>
    <th>Kategori</th>
    <th>Dibuat</th>
    <th>Diskon</th>
    <th>Harga Jual</th>
    <th>Harga Distributor</th>
    <th>Status</th>
    <th>Fee Referral</th>
    <th>Telah Terjual</th>
    <th>Stok</th>
    <th>Dilihat</th>
  </tr>
  <% @collection_all.each_with_index do |resource, index| %>
  <tr>
    <td><%= index+1 %></td>
    <td><%= resource.product.try(:code) %></td>
    <td><%= resource.product.try(:title) %></td>
    <td><%= resource.product.try(:brand_name) %></td>
    <td><%= "#{resource.product.try(:parent_category).try(:name)}, #{resource.product.try(:sub_category).try(:name)}" %></td>
    <td><%= resource.created_at.strftime("%B, %d, %Y- %I:%M") if resource.created_at.present? %></td>
    <td><%= "#{resource.discount.to_i if resource.discount.present?}%" %></td>
    <td>
      <% if resource.discount > 0 %>
        <%= "#{get_currency(resource.price)} -> #{get_currency(resource.get_price_in_list_member?)}" %>
      <% else %>
        <%= get_currency(resource.price) %>
      <% end %>
    </td>
    <td><%= get_currency(resource.product.price) if resource.product.price.present? %></td>
    <td><%= resource.product.active_text? %></td>
    <td><%= resource.product.fee_referral_text? %></td>
    <td><%= resource.product.have_sold? %></td>
    <td><%= resource.product.status_stock? %></td>
    <td><%= resource.impressionist_count %></td>
  </tr>
  <% end %>
</table>