.col-md-8.col-md-offset-2.form-devise
  .panel.panel-default
    .panel-heading
      | Resend confirmation instructions
    .panel-body
      = flash_messages
      = devise_error_messages!
      = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
        fieldset
          .form-group
            label.label-style Email
            .controls
              = f.email_field :email, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control", autofocus: true, placeholder: "Email", required: true
          / Button
          .form-group
            .controls
              = f.submit 'Resend confirmation instructions',  class: "btn btn-primary btn-block"
          .form-group
            = render "devise/shared/links"
