#wrapper
  .content.animate-panel.shops-container
    .hpanel
      = form_for :multiple, url: members_shops_path, method: 'get', html: {class: 'form-action-search js-form-analytic'} do
        section.section-breadcrumb
          .container
            .row
              .col-md-3.breadcrumb
                = render_breadcrumbs
              .col-md-9
                span.title-content-product
                  | <b>#{@catalogs_all.size rescue 0}</b> Results Items
              = render 'shareds/products/simple_search'

      = render "products/index"