- @collection.each do |resource|
  .col-md-3
    = link_to blog_path(resource) do
      .box
        .box-img
          = image_tag resource.file.url(:large), class: "img-auto"
          - if resource.link_video.present?
            .overplay
              i.pe-7s-play
        .box-desc
          span.date
            = get_datetext(resource.created_at)
          .dot 
          span.category = resource.category
          p = truncate(resource.title, :length => 90)
          .views
            i.fa.fa-eye
            | &nbsp;
            | Dilihat
            | &nbsp;
            | (#{resource.impressionist_count})
          