section.articles
  .container 
    .title
      | Blog
    .desc
      | Artikel Terbaru
    .row
      .js-list
        = render 'list'

      .col-md-12
        .pagination
          = link_to_next_page(@collection, 'LOAD MORE', remote: true)