section.articles
	.container
		.row
			.blog-show
				.col-md-9.content-show
					h1 = @resource.title
					span.date 
						= get_datetime(@resource.created_at)
					span.dot
					span.date
						i.fa.fa-eye
						| &nbsp;
						| Dilihat
						| &nbsp;
						| (#{@resource.impressionist_count})
					span.dot
					span.category 
						= link_to @resource.category, blogs_path(category: "#{@resource.category}")
					.sharethis-inline-share-buttons style="margin-top: 10px;"

					- if @resource.link_video.blank?	
						= image_tag @resource.file.url(:large), class: "img-blog-show"
					- else
						iframe allow=("autoplay; encrypted-media") allowfullscreen="" frameborder="0" height="500" src="#{@resource.link_video}" width="100%" 

					p = @resource.description.html_safe

					#fb-root
					.fb-comments data-href="#{blog_url(params[:id])}" data-numposts="10" data-width="100%"
					
				.col-md-3.blog-right
					h3 Kategori
					ul
						li 
							= link_to blogs_path(category: Blog::TIPSTRICK) do
								| Tips & Trik
								span.num-right
									| (#{@tips_count})
						li 
							= link_to blogs_path(category: Blog::TUTORIAL) do
								| Tutorial
								span.num-right
									| (#{@tutorial_count})

					br
					.js-scrolltofixed
						h3 Similar Blog
						- @collection.limit(2).each do |resource|
							.similar-blog
								= link_to blog_path(resource) do
									.img-blog-similar
										= image_tag resource.file.url(:medium)

									h2.title-similar
										= resource.title

									span.date
										= get_datetext(resource.created_at)

									span.dot
								= link_to blogs_path(category: "#{resource.category}") do
									span.category 
										= resource.category

		