- resource = @resource
section.invoice
  .row
    .col-md-12
      h4.page-header
        = resource.subject
        small.date-invoice2.pull-right 
          b Dibuat :
          | #{get_date(resource.created_at)}
          br
          b Batas Pembayaran :
          | #{get_date(resource.expired_at?)}
  .row.invoice-info
    .col-md-3.col-sm-3.invoice-col3
      h5
        | Kode Tagihan
      h5 
        b #{resource.code}
    .col-md-3.col-sm-3.invoice-col3
      h5
        | Total Tagihan
      h5 
        b #{get_currency(resource.price)}
    .col-md-3.col-sm-3.invoice-col3
      h5
        | Periode
      h5 
        - if resource.period_start.present? 
          b #{get_date(resource.period_start)} s.d. #{get_date(resource.period_end)}
        - else
          | -
  .row
    .col-xs-12
      .table-responsive
        table.table.table-striped.table-bordered
          thead
            tr
              th Reseller
              th Nama Bank
              th Nama Rekening
              th No. Rekening
              th status

          tbody
            tr
              td
                | #{resource.member.username}
              td
                | #{resource.bank_name}
              td
                | #{resource.account_name}
              td
                | #{resource.account_number}
              td
                - if resource.promo == true
                  = resource.promo?
                - else
                  = resource.status?