.panel.panel-default
  .panel-heading
    | Daftar Dropshipper
  .panel-body
    = flash_messages
    = devise_error_messages!
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = f.fields_for(:profile_attributes) do |profile|
        .form-group
          label.label-style.control-label for="userid"
            | Nama Lengkap
          .controls
            = profile.text_field :full_name, class: "form-control form-style", required: true, placeholder: 'masukan nama lengkap'
        .form-group
          label.label-style.control-label for="userid"
            | Username
          .controls
            .col-sm-12.col-md-12.col-lg-12.col-xs-12.input-group
              span.input-group-addon
                span.glyphicon.glyphicon-user aria-hidden="true"
              = f.text_field :username, class: "form-control form-style2", required: true, placeholder: 'gunakan huruf dan angka tanpa Sepasi'
        .form-group
          label.label-style.control-label for="Email"
            | Email
          .controls
            .col-sm-12.col-md-12.col-lg-12.col-xs-12.input-group
              span.input-group-addon
                span.glyphicon.glyphicon-envelope aria-hidden="true"
              = f.email_field :email, class: "form-control form-style2", required: true, placeholder: 'masukan alamat email anda'
        .form-group
          label.label-style.control-label for="userid"
            | Nomor HP Aktif/Whatsapp/Line
          .controls
            .col-sm-12.col-md-12.col-lg-12.col-xs-12.input-group
              span.input-group-addon
                span.glyphicon.glyphicon-earphone aria-hidden="true"
              = profile.text_field :phone, class: "form-control form-style2", id: 'disable-zero', required: true, placeholder: '+6285xxxxxxxxx'
            .note
              | *Masukkan kode negara dan nomor telepon Anda Ex. +6285xxxxxxxxx
        .form-group
          label.label-style.control-label for="userid"
            | Tentukan Nama Toko
          .controls
            .col-sm-12.col-md-12.col-lg-12.col-xs-12.input-group
              span.input-group-addon
                span.glyphicon.glyphicon-home aria-hidden="true"
              = text_field_tag :title, nil, class: "form-control", required: true, placeholder: 'masukan nama toko'
        .form-group
          label.label-style.control-label for="userid"
            | Tentukan Nama Domain
          .controls
            .col-sm-12.col-md-12.col-lg-12.col-xs-12.input-group
              span.input-group-addon
                span.glyphicon.glyphicon-globe aria-hidden="true"
              = text_field_tag :domain_name, nil, class: "form-control form-style2", required: true, placeholder: 'masukan nama domain'
              span.input-group-addon
                span .dusbelanja.com
        .form-group
          br
          label.label-style.control-label for="userid"
            | Tentukan No. Rekening Bank Anda
          hr
        .row
          .col-md-6
            .form-group
              label.label-style
                | Nama Bank
              .controls
                = profile.select :bank_name, options_for_select(['BCA','Mandiri','BNI','BRI']), {prompt: 'Pilih Bank'}, required: true, class: 'form-control'
          .col-md-6  
            .form-group
              label.label-style
                | Cabang Bank
              .controls
                = profile.text_field :bank_branch, required: true, placeholder: 'ex. sukabumi', class: 'form-control'
          .col-md-6
            .form-group
              label.label-style
                | Nama Rekening
              .controls
                = profile.text_field :account_name, required: true, placeholder: 'masukan nama rekening', class: 'form-control'
          .col-md-6  
            .form-group
              label.label-style
                | Nomor Rekening
              .controls
                = profile.text_field :account_number, required: true, placeholder: 'masukan nomor rekening', class: 'form-control'

        .form-group
          /  
            br
            label.label-style.control-label for="userid"
              | Silahkan Pilih Paket Reseller
            hr
          #radioBtn
            .row.select-package
              - Package.active.oldest.limit(1).each do |resource|
                - if resource.premium?
                  - disabled = true
                  - package_price = "<small>Paket belum tersedia!</small>"
                  - package_select = "non-active"
                - else
                  - disabled = false
                  - package_price = "<strike>Rp 6.665.000</strike> #{get_currency(resource.price)} Selamanya"
                .col-xs-12
                  .title-packet Apa saja yang akan anda dapatkan setelah daftar di DROPSHIPAN
                  .row
                    .col-xs-12 style="margin-bottom: 20px;"
                      .col-md-6
                        .number 1
                        .desc-signup
                          b 2 Paket Kleenar Skincare 5in1 ini terdiri dari :
                          ol
                            li
                              | Secret Night Cream 15g / Krim malam
                            li  
                              | Secret Daily Cream 15g / Krim pagi dan siang
                            li  
                              | Face Cleanser 90ml / Permbersih kulit wajah
                            li  
                              | Hydrating Water Essence 90ml
                            li  
                              | Serum Vitamin C With Aloe 15ml

                          | Senilai :
                          br
                          .price-signup Rp. 1.090.000,-
                      .col-md-6
                        .number 2
                        .desc-signup
                          b 5 RodeosMen Charcoal Soap
                          br
                          | mampu menjaga kelembutan kulit wajah sehingga kulit wajah tampak lebih segar dan membantu menunda tanda-tanda penuaan dini pada kulit wajah (kerut/keriput) atau sebagai ANTI AGING, menjadikan kulit wajah tetap sehat dan terawat sepanjang hari. Juga membantu mengatasi masalah jerawat (ANTI ACNE).
                          br
                          br
                          | Senilai :
                          br
                          .price-signup Rp 325.000,-
                    
                    .col-xs-12
                      .col-md-6
                        .number 3
                        .desc-signup
                          b Starter Kit
                          br
                          | Kami memberikan materi iklan berupa gambar, video dan deskripsi per produk yang akan diupdate secara berkala, materi iklan ini yang akan anda gunaka untuk berjualan seperti di instagram, facebook, tokopedia dan di media online lainnya.
                          br
                          br
                          | Senilai :
                          br
                          .price-signup Rp. 250.000,-
                      .col-md-6
                        .number 4
                        .desc-signup
                          b Design Website/Toko Online/Landing Page
                          br
                          | Setiap dropshiper atau reseller akan mendapatkan landing page dan Toko Online untuk berjualan, landing page adalah toko online nya reseller itu sendiri, dashboard adalah tempat mengelola produk yang dijual dan melihat setiap transaksi/keuntungan yang masuk.
                          br
                          br
                          | Senilai :
                          br
                          .price-signup Rp. 5.000.000,-
                  .selection
                    - if params[:package_id].present? && params[:package_id].to_i == resource.id
                      = f.radio_button :package_id, resource.id, checked: 'checked', id: "package-#{resource.id}", required: true
                    - else
                      = f.radio_button :package_id, resource.id, checked: 'checked', id: "package-#{resource.id}", disabled: disabled, required: true
                    label class="#{package_select}" for="package-#{resource.id}"
                      center
                        = "<b>#{resource.title}</b> <br>#{package_price}".html_safe

            /!
              #radioBtn.btn-group
                .row
                  .col-md-6.col-xs-12
                    a.btn.btn-primary.btn-sm.notActive data-title="A" data-toggle="tab" href="#desc"
                      | STARTER 210.000 - 1 Bulan
                    a.btn.btn-primary.btn-sm.notActive data-title="C" data-toggle="tab" href="#desc"
                      | ADVANCE 960.000 - 6 Bulan
                  .col-md-6.col-xs-12
                    a.btn.btn-primary.btn-sm.notActive data-title="B" data-toggle="tab" href="#desc"
                      | BASIC 525.000 - 3 Bulan
                    a.btn.btn-primary.btn-sm.notActive data-title="D" data-toggle="tab" href="#premium"
                      | REMIUM 1.750.000 - 12 Bulan
              .tab-content
                #desc.tab-pane
                  .title-packet.mg-bot20
                    | 💡 Tahukah Anda ?
                  .desc-signup
                    | Dengan paket PREMIUM, keuntungan yang Kakak dapatkan jauh lebih besar daripada yang dibayarkan.
                    br
                    br
                    | Bisa pakai cicilan kartu kredit, cuma Rp 146.000 /bulan!
                    br
                    br
                    | Dengan Paket Premium, Kakak akan mendapatkan :<br>Gratis domain komersial, gratis logo banner, gratis materi iklan, dapat tips digital marketing dan tentunya, bergabung bersama para Reseller premium lainnya untuk saling sharing 🙏🏽

                  .title-packet.mg-top20.mg-bot20
                    | *Apakah Kakak ingin menggunakan domain induk / komersial ?
                  #radioBtn.btn-group2
                    .row
                      .col-md-6.col-xs-12
                        a.btn.btn-primary.btn-sm.notActive data-title="ya1" data-toggle="125"
                          | YA +125.000
                      .col-md-6.col-xs-12
                        a.btn.btn-primary.btn-sm.notActive data-title="tidak1" data-toggle="125"
                          | TIDAK +0
                  .desc-signup
                    | Untuk fitur ini, akan dikenakan biaya tambahan sebesar Rp 125.000. dan masa berlaku domain induk yaitu 1 tahun.
                    br
                    br
                    | 💡 Jika Kakak pilih paket Premium, maka fitur ini gratis lho!
                    br
                    br 
                    | Contoh domain induk / komersial  : cantikshop.com.<br>Paket Starter, Basic dan Advance, akan menggunakan subdomain, misal : cantikshop.okbelanja.com

                  .title-packet.mg-top20.mg-bot20
                    | *Apakah Kakak ingin menggunakan custom logo / banner ?
                  #radioBtn.btn-group3
                    .row
                      .col-md-6.col-xs-12
                        a.btn.btn-primary.btn-sm.notActive data-title="ya2" data-toggle="250"
                          | YA +250.000
                      .col-md-6.col-xs-12
                        a.btn.btn-primary.btn-sm.notActive data-title="tidak2" data-toggle="250"
                          | TIDAK +0
                  .desc-signup
                    | Tambahan biaya sebesar Rp 250.000, sekali bayar saja untuk selama membership Kakak aktif.
                    br
                    | 💡 Fitur ini gratis, Jika Kakak pilih paket Premium.
                #premium.tab-pane
        .form-group
          label.label-style.control-label for="password"
            | Kata Sandi
            em
              |  (#{@minimum_password_length} minimum karakter)
          .controls
            = f.password_field :password, class: "form-control form-style password", required: true, placeholder: 'masukan kata sandi'
        .form-group
          label.label-style.control-label for="reenterpassword"
            | Konfirmasi Kata Sandi
          .controls
            = f.password_field :password_confirmation, class: "form-control form-style password", required: true, placeholder: 'ulangi kata sandi'

        .form-group
          .box-rules
            = @setting_global.accepted_rules.html_safe if @setting_global.accepted_rules.present?

        .form-group
          .well
            center
              p Setuju Menyetujui Semua Syarat di Atas
              p = f.check_box :accepted, required: true

        .form-group
          .controls
            = f.submit 'Daftar', class: "btn btn-primary btn-block"
          .desc-signup style="font-size: 13px; margin-top: 10px;"
            | Telah Daftar? #{link_to "Masuk", new_user_session_path}
            br
            | Tidak menerima konfirmasi email? #{link_to "Minta konfirmasi baru", new_user_confirmation_path}

- if params[:ref].present?
  - cookies.permanent[:referral] = params[:ref]

- if params[:s3].present? && params[:s4].present?
  - cookies.permanent[:s3] = params[:s3]
  - cookies.permanent[:s4] = params[:s4]


javascript:
  var searchParams = new URLSearchParams(window.location.search);
  var ref = searchParams.get("ref");

  if (ref != null) {
    window.location.href="/users/register"
  }

  $('#user_username').on('keypress', function(e) {
    if (e.which == 32)
      return false;
  });