header
  .navbar.navbar-fixed-top.bs-docs-nav
    .navbar-header
      button class="navbar-toggle btn-navbar" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse"
        span Menu
      = link_to backend_dashboard_path
        = image_tag 'logo.png', class: 'img-logo'

      / = link_to 'Admin Panel', backend_dashboard_path, class: "navbar-brand hidden-lg"

    nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation"
      ul class="nav navbar-nav pull-right"
        li class="dropdown pull-right"
          a data-toggle="dropdown" class="dropdown-toggle" href="#"
            = image_tag current_user.profile.avatar.url(:medium), class: 'img-logo-user'
            | #{current_user.email} <b class="caret"></b>
          ul.dropdown-menu
            li
              = link_to '<i class="fa fa-cogs"></i> Settings'.html_safe, edit_backend_admin_path(current_user)
            li
              = link_to '<i class="fa fa-sign-out"></i> Logout'.html_safe, destroy_user_session_path, method: 'delete'
  / header
/   .container
/     .row
/       .col-md-12
/         .logo
/           h1
/             = link_to backend_dashboard_path
/               = image_tag 'logo.png', class: 'img-logo'
      / .col-md-8
      /   .header-data
      /     .hdata
      /       .mcol-left
      /         i class="fa fa-users bred"
      /       .mcol-right
      /         p
      /           = link_to "#{@members_size}", backend_members_path
      /           | <em>Reseller</em>
      /       .clearfix
      /     .hdata
      /       .mcol-left
      /         i class="fa fa-user bred"
      /       .mcol-right
      /         p
      /           = link_to "#{@merchants_size}", backend_merchants_path
      /           | <em>Merchant</em>
      /       .clearfix
      /     .hdata
      /       .mcol-left
      /         i class="fa fa-newspaper-o bblue"
      /       .mcol-right
      /         p
      /           = link_to "#{@products_size}", backend_products_path
      /           | <em>Produk</em>
      /       .clearfix
      /     .hdata
      /       .mcol-left
      /         i class="fa fa-file-text-o bgreen"
      /       .mcol-right
      /         p
      /           = link_to "#{@orders_size}", backend_orders_path
      /           | <em>Pesanan</em>
      /       .clearfix
      /     .hdata
      /       .mcol-left
      /         i class="fa fa-money bgreen"
      /       .mcol-right
      /         p
      /           = link_to "#{@confirmations_size}", backend_confirmations_path
      /           | <em>Konfirmasi</em>
      /       .clearfix
= flash_messages
