.col-md-12
	.widget
		.widget-head
			.pull-left
				= "#{action_name} #{form_name}"
			.widget-icons.pull-right
				| <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
				| <a href="#" class="wclose"><i class="fa fa-times"></i></a>
			.clearfix
		.widget-content
			.padd
				= form_for [:backend, resource], method: form_method, html: {class: 'form'} do |f|
					= render partial: 'form', locals: {f: f}
					.clearfix
					- unless form_name == 'Web Setting' || form_name == 'Members'
						.buttons
							| <button class="btn btn-sm btn-info" type="submit">Save</button>
			.widget-foot
