- if params[:controller] == 'backend/invoices' || params[:controller] == 'backend/packages'
  = link_to '<i class="fa fa-eye"></i>'.html_safe, resource_path(resource), class: 'btn btn-xs btn-info'
- unless params[:controller] == 'backend/orders' || params[:controller] == 'backend/shipments' || params[:controller] == 'backend/confirmations' || params[:controller] == 'backend/commissions' || params[:controller] == 'backend/commission_referrals' || params[:controller] == 'backend/invoices'
  = link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_resource_path(resource), class: 'btn btn-xs btn-warning'
- if params[:controller] == 'backend/members' && resource.confirmed? == false
	= link_to '<i class="fa fa-times"></i>'.html_safe, resource_path(resource), method: 'delete', class: 'btn btn-xs btn-danger', data: {confirm: confirmation}
