.widget-head
  .pull-left
    - unless params[:controller] == 'backend/orders' || params[:controller] == 'backend/order_distributors' || params[:controller] == 'backend/order_items' || params[:controller] == 'backend/shipments' || params[:controller] == 'backend/confirmations' || params[:controller] == 'backend/invoices'
      = link_to '<i class="fa fa-reorder"></i> List'.html_safe, collection_path, class: 'btn btn-xs btn-info'
      - if add_method 
        = link_to '<i class="fa fa-plus"></i> Buat Baru'.html_safe, new_resource_path, class: 'btn btn-xs btn-success'

  .widget-icons.pull-right
    - if params[:controller] == 'backend/products'
      button class="btn btn-xs btn-default" type="submit" name="commit" value="promote_catalog"
        | <i class="fa fa-flag"></i> Promote Create Catalog
    - if params[:controller] == 'backend/members' || params[:controller] == 'backend/merchants' || params[:controller] == 'backend/account_managers'
      - if params[:controller] == 'backend/members'
        /button class="btn btn-xs btn-info" type="submit" name="commit" value="membership_active"
          | <i class="fa fa-check"></i> Activated
        /button class="btn btn-xs btn-danger" type="submit" name="commit" value="membership_inactive"
          | <i class="fa fa-exclamation"></i> Non Activated
      button class="btn btn-xs btn-primary" type="submit" name="commit" value="verified"
        | <i class="fa fa-check"></i> Verified
      /button class="btn btn-xs btn-warning" type="submit" name="commit" value="non_verified"
        | <i class="fa fa-exclamation"></i> Non Verified

    - if params[:controller] == 'backend/products' || params[:controller] == 'backend/merchants' || params[:controller] == 'backend/members'
      button class="btn btn-xs btn-success" type="submit" name="commit" value="featured"
        | <i class="fa fa-heart"></i> Change Featured

    - if params[:controller] == 'backend/products'
      button class="btn btn-xs btn-info" type="submit" name="commit" value="activated"
        | <i class="fa fa-check"></i> Activated
      button class="btn btn-xs btn-warning" type="submit" name="commit" value="non_activated"
        | <i class="fa fa-exclamation"></i> Non Activated

    - if params[:controller] == 'backend/packages' ||  params[:controller] == 'backend/web_templates'
      button class="btn btn-xs btn-info" type="submit" name="commit" value="active"
        | <i class="fa fa-check"></i> Active
      button class="btn btn-xs btn-warning" type="submit" name="commit" value="inactive"
        | <i class="fa fa-exclamation"></i> Inactive

    - if params[:controller] == 'backend/payment_snapshots' ||  params[:controller] == 'backend/payment_merchants' || params[:controller] == 'backend/payment_referrals'
      button class="btn btn-xs btn-info" type="submit" name="commit" value="process"
        | <i class="fa fa-check-square"></i> Process
      button class="btn btn-xs btn-danger" type="submit" name="commit" value="reject"
        | <i class="fa fa-close"></i> Reject

    - if params[:controller] == 'backend/report_refunds'
      button class="btn btn-xs btn-info" type="submit" name="commit" value="process"
        | <i class="fa fa-check-square"></i> Process

    - if params[:controller] == 'backend/invoices' || params[:controller] == 'backend/payment_snapshots' || params[:controller] == 'backend/report_refunds' || params[:controller] == 'backend/payment_merchants' || params[:controller] == 'backend/payment_referrals'
      button class="btn btn-xs btn-success" type="submit" name="commit" value="paid"
        | <i class="fa fa-check"></i> Paid
      /! 
        button class="btn btn-xs btn-warning" type="submit" name="commit" value="unpaid"
          | <i class="fa fa-exclamation"></i> Unpaid
    - if params[:controller] == 'backend/spendings'
      button class="btn btn-xs btn-warning" type="submit" name="commit" value="pending"
        | <i class="fa fa-exclamation"></i> Pending
      button class="btn btn-xs btn-info" type="submit" name="commit" value="process"
        | <i class="fa fa-check-square"></i> Process
      button class="btn btn-xs btn-success" type="submit" name="commit" value="paid"
        | <i class="fa fa-check"></i> Paid
      button class="btn btn-xs btn-danger" type="submit" name="commit" value="reject"
        | <i class="fa fa-close"></i> Rejected

    - if params[:controller] == 'backend/blogs'
      button class="btn btn-xs btn-success" type="submit" name="commit" value="active"
        | <i class="fa fa-check"></i> Active
      button class="btn btn-xs btn-danger" type="submit" name="commit" value="reject"
        | <i class="fa fa-close"></i> Reject
      
          
    - if params[:controller] == 'backend/invoices'
      button class="btn btn-xs btn-info" type="submit" name="commit" value="make_free" Make FREE

    - if params[:controller] == 'backend/report_refunds'
      button class="btn btn-xs btn-danger" type="submit" name="commit" value="cancelled"
        | <i class="fa fa-close"></i> Cancelled

    - if params[:controller] == 'backend/catalogs'
      button class="btn btn-xs btn-warning" type="submit" name="commit" value="pending"
        | <i class="fa fa-exclamation"></i> Pending
      button class="btn btn-xs btn-info" type="submit" name="commit" value="approved"
        | <i class="fa fa-check"></i> Approved
      button class="btn btn-xs btn-danger" type="submit" name="commit" value="rejected"
        | <i class="fa fa-close"></i> Rejected

    - if params[:controller] == 'backend/domain_settings'
      /!
        button class="btn btn-xs btn-warning" type="submit" name="commit" value="pending"
          | <i class="fa fa-eraser"></i> Pending
      button class="btn btn-xs btn-info" type="submit" name="commit" value="process"
        | <i class="fa fa-check-square"></i> Process
      button class="btn btn-xs btn-success" type="submit" name="commit" value="active"
        | <i class="fa fa-check"></i> Active
      button class="btn btn-xs btn-danger" type="submit" name="commit" value="inactive"
        | <i class="fa fa-close"></i> Inactive
       
    / button class="btn btn-xs btn-danger" type="submit" name="commit" value="destroy_all"
    /   | <i class="fa fa-times"></i> Destroy All

    - if params[:controller] == 'backend/landing_presses'
      button class="btn btn-xs btn-success" type="submit" name="commit" value="active"
        | <i class="fa fa-check"></i> Active
      button class="btn btn-xs btn-danger" type="submit" name="commit" value="non_activated"
        | <i class="fa fa-exclamation"></i> Non Activated

    - if params[:controller] == 'backend/affiliates'
      button class="btn btn-xs btn-danger" type="submit" name="commit" value="reject"
        | <i class="fa fa-close"></i> Reject
      button class="btn btn-xs btn-success" type="submit" name="commit" value="paid"
        | <i class="fa fa-check"></i> Paid

  .clearfix
