.row
	= form_for :search, url: collection_path, method: 'get', remote: true, html: {class: 'js-form-analytic'} do 
		.col-md-12
			h6 Results <b> #{collection.total_count rescue 0} </b>
		.col-md-3
			.form-group
				= text_field_tag :key, nil, value: params[:key], class: 'form-control', placeholder: 'Invoice/Nama Reseller' 
		.col-md-3
			.form-group
				= select_tag :package_id, options_for_select(Package.active.map{|p| [p.title, p.id]}, params[:package_id]), prompt: 'Pilih Paket', class: 'form-control'
		.col-md-3
			.form-group
				= text_field_tag :price, nil, value: params[:price], class: 'form-control', placeholder: 'Total Tagihan'
		.col-md-3
			.form-group
				= select_tag :status, options_for_select(Invoice::STATUSES, params[:status]), prompt: 'Pilih Status', class: 'form-control'
		.col-md-3
			.form-group
				= select_tag :click_status, options_for_select(Invoice::CONVERTION, params[:click_status]), prompt: 'Pilih Status Convertion', class: 'form-control'
		.col-md-3
			.form-group
				= text_field_tag :click_id, nil, value: params[:click_id], class: 'form-control',  placeholder: 'Click id'
		.col-md-2
			.form-group
				= text_field_tag :start_at, nil, value: params[:start_at], class: 'datepicker form-control', placeholder: 'Start At'
		.col-md-2
			.form-group
				= text_field_tag :end_at, nil, value: params[:end_at], class: 'datepicker form-control',  placeholder: 'End At'
		.col-md-2
			.form-group
				button class="btn btn-info wd100" type="submit" Search
		.col-md-2
			.form-group
				.js-button-export
					= render 'shareds/button_export'