.row
  = form_for :search, url: collection_path, method: 'get', remote: true, html: {class: 'js-form-analytic'} do
    .col-md-12
      h6 Pencarian Ditemukan <b> #{collection.total_count rescue 0} </b>
    .col-md-4
      .form-group
        = text_field_tag :key, nil, value: params[:key], class: 'form-control', placeholder: 'Kode Affiliate/Member Username'
    .col-md-4
      .form-group
        = number_field_tag :member_referral, nil, value: params[:member_referral], class: 'form-control', placeholder: 'Member Referral ID'
    .col-md-4
      .form-group
        = select_tag :status, options_for_select(Affiliate::STATUSES, params[:status]), prompt: 'Pilih Status', class: 'form-control'
    .col-md-4
      .form-group
        = text_field_tag :start_at, nil, value: params[:start_at], class: 'datepicker form-control', placeholder: 'Start At'
    .col-md-4
      .form-group
        = text_field_tag :end_at, nil, value: params[:end_at], class: 'datepicker form-control',  placeholder: 'End At'
    .col-md-2
      .form-group
        button class="btn btn-info wd100" type="submit" Search
    .col-md-2
      .form-group
        .js-button-export
          = render 'shareds/button_export'
