.panel
  .panel-body
    .row
      = form_for :search, url: collection_path, method: 'get', remote: true, html: {class: 'js-form-analytic'} do 
        .col-md-12
          .form-group
            h6 Results <b> #{collection.total_count rescue 0} </b>
        .col-md-3
          .form-group
            = text_field_tag :price, nil, value: params[:price], class: 'form-control', placeholder: 'Nominal Tagihan' 
        .col-md-3
          .form-group
            = select_tag :order_status_id, options_for_select(PaymentStatus.to_a, params[:order_status_id]), prompt: 'Pilih Status', class: 'form-control'
        .col-md-3
          .form-group
            = text_field_tag :start_at, nil, value: params[:start_at], class: 'datepicker form-control', placeholder: 'Start At'
        .col-md-3
          .form-group
            = text_field_tag :end_at, nil, value: params[:end_at], class: 'datepicker form-control',  placeholder: 'End At'
        .col-md-8
          .form-group
            = text_field_tag :key, nil, value: params[:key], class: 'form-control', placeholder: 'No invoice/Nama/Nama pengirim/Cara pembayaran' 
        .col-md-2
          .form-group
            button class="btn btn-info wd100" type="submit" Cari
        .col-md-2
          .form-group
            .js-button-export
              = render 'shareds/button_export'