.row
  = form_for :search, url: backend_dashboard_path, method: 'get' do 
    .col-md-12
      h6 Pencarian Ditemukan <b> #{@reports_collect.total_count rescue 0} </b>
    .col-md-5
      = text_field_tag :key, nil, value: params[:key], class: 'form-control', placeholder: 'Kata kunci..' 
    .col-md-3
      = text_field_tag :start_at, nil, value: params[:start_at], class: 'datepicker form-control', placeholder: 'Start At'
    .col-md-3
      = text_field_tag :end_at, nil, value: params[:end_at], class: 'datepicker form-control', placeholder: 'End At'
    .col-md-1
      button class="btn btn-info wd100" type="submit" Search