.row
	= form_for :search, url: collection_path, method: 'get' do
		.col-md-5
			h6 Pencarian Ditemukan <b> #{collection.total_count rescue 0} </b>
			= text_field_tag :key, nil, value: params[:key], class: 'form-control', placeholder: 'Kata kunci..'
		.col-md-2
			h6 &nbsp;
			= text_field_tag :user_id, nil, value: params[:user_id], class: 'form-control', placeholder: 'Manager Id/Member Id'
		.col-md-2
			h6 &nbsp;
			= text_field_tag :order_item_id, nil, value: params[:order_item_id], class: 'form-control', placeholder: 'O Item'
		.col-md-2
			h6 &nbsp;
			= select_tag :status, options_for_select(Commission::STATUSES, params[:status]), prompt: 'Pilih Status', class: 'form-control'
		/ .col-md-2
		/ 	h6 &nbsp;
		/ 	= text_field_tag :start_at, nil, value: params[:start_at], class: 'datepicker form-control', placeholder: 'Start At'
		/ .col-md-2
		/ 	h6 &nbsp;
		/ 	= text_field_tag :end_at, nil, value: params[:end_at], class: 'datepicker form-control',  placeholder: 'End At'
		.col-md-1
			h6 &nbsp;
			button class="btn btn-info wd100" type="submit" Search
