.panel
	.panel-body
		= form_for :search, url: collection_path, method: 'get', remote: true, html: {class: 'js-form-analytic'} do 
			.row
				.col-md-12
					.form-group
						h6 Results <b> #{collection.total_count rescue 0} </b>
				.col-md-2
					.form-group
						= text_field_tag :price, nil, value: params[:price], class: 'form-control', placeholder: 'Total Bayar'
				.col-md-2
					.form-group
						= select_tag :courier, options_for_select(Order::COURIER, params[:courier]), prompt: 'Status Pengiriman', class: 'form-control'
				.col-md-2
					.form-group
						= select_tag :order_status_id, options_for_select(PaymentStatus.to_a, params[:order_status_id]), prompt: 'Status Pembayaran', class: 'select2 form-control'
				.col-md-2
					.form-group
						= select_tag :track_order_order, options_for_select(Order::STATUSES, params[:track_order_order]), prompt: 'Status Pengiriman', class: 'form-control'
				.col-md-2
					.form-group
						= text_field_tag :start_at, nil, value: params[:start_at], class: 'datepicker form-control', placeholder: 'Start At'
				.col-md-2
					.form-group
						= text_field_tag :end_at, nil, value: params[:end_at], class: 'datepicker form-control',  placeholder: 'End At'
				.col-md-5
					.form-group
						= text_field_tag :key, nil, value: params[:key], class: 'form-control', placeholder: 'Invoice/Nama Pembeli/Reseller' 
				.col-md-4
					.form-group
						= text_field_tag :number_shipping_order, nil, value: params[:number_shipping_order], class: 'form-control', placeholder: 'Nomor Resi' 
				.col-md-1
					.form-group
						button class="btn btn-info wd100" type="submit" Cari
				.col-md-2
					.form-group
						.js-button-export
							= render 'shareds/button_export'