.row
  = form_for :search, url: backend_recap_payments_path(user: params[:user]), method: 'get', remote: true, html: {class: 'js-form-analytic'} do 
  	= hidden_field_tag :user, params[:user]
    .col-md-12
      h6 Pencarian Ditemukan <b> #{@commissions.total_count rescue 0} </b>
    .col-md-4
      .form-group
        = number_field_tag :user_id, nil, value: params[:user_id], class: 'form-control', placeholder: 'Pencarian berdasarkan id member/manager ..'
    .col-md-2
      .form-group
        = text_field_tag :start_at, nil, value: params[:start_at], class: 'datepicker form-control', placeholder: 'Start At'
    .col-md-2
      .form-group
        = text_field_tag :end_at, nil, value: params[:end_at], class: 'datepicker form-control',  placeholder: 'End At'
    .col-md-2
      .form-group
        button class="btn btn-info wd100" type="submit" Search
    .col-md-2
      .form-group
        .js-button-export
          = render 'shareds/button_export'