.row
	= form_for :search, url: collection_path, method: 'get', html: {class: 'js-form-analytic'} do
		.col-md-12
			h6 Pencarian Ditemukan <b> #{collection.total_count rescue 0} </b>
		.col-md-8
			= text_field_tag :key, nil, value: params[:key], class: 'form-control', placeholder: 'Kata kunci..'
		.col-md-3
			= select_tag :status, options_for_select(Package::STATUSES, params[:status]), prompt: 'Pilih Status', class: 'form-control'
		.col-md-1
			button class="btn btn-info wd100" type="submit" Search
