.row
  = form_for :search, url: collection_path, method: 'get', remote: true, html: {class: 'js-form-analytic'} do 
    .col-md-12
      h6 Results <b> #{collection.total_count rescue 0} </b>
    .col-md-3
      .form-group
        = text_field_tag :key, nil, value: params[:key], class: 'form-control', placeholder: 'Kode Invoice/Nama/Email Merchant/Kode Order' 
    .col-md-3
      .form-group
        = text_field_tag :user_id, nil, value: params[:user_id], class: 'form-control', placeholder: 'Id Reseller/Manager'
    .col-md-3
      .form-group
        = select_tag :order_status_id, options_for_select(PaymentStatus.to_a, params[:order_status_id]), prompt: 'Pilih Status', class: 'select2 form-control'
    .col-md-3
      .form-group
        = select_tag :track_order_order, options_for_select(Order::STATUSES, params[:track_order_order]), prompt: 'Status Pengiriman', class: 'select2 form-control'
    .col-md-4
      .form-group
        = text_field_tag :start_at, nil, value: params[:start_at], class: 'datepicker form-control', placeholder: 'Start At'
    .col-md-4
      .form-group
        = text_field_tag :end_at, nil, value: params[:end_at], class: 'datepicker form-control',  placeholder: 'End At'
    .col-md-2
      .form-group
        button class="btn btn-info wd100" type="submit" Search
    .col-md-2
      .form-group
        .js-button-export
          = render 'shareds/button_export'