.row
	= form_for :search, url: collection_path, method: 'get', remote: true, html: {class: 'js-form-analytic'} do 
		.col-md-12
			h6 Pencarian Ditemukan <b> #{collection.total_count rescue 0} </b>
		.col-md-4
			.form-group
				= text_field_tag :key, nil, value: params[:key], class: 'form-control', placeholder: 'Kata kunci..' 
		.col-md-2
			.form-group
				= select_tag :category, options_for_select(Category.roots.alfa.active.pluck(:name), params[:category]), prompt: 'Pilih Kategori', class: 'select2 form-control'
		.col-md-2
			.form-group
				= select_tag :status_stock, options_for_select(StatusStock.to_a, params[:status_stock]), prompt: 'Pilih Status Stok', class: 'form-control'
		.col-md-2
			.form-group
				= select_tag :status, options_for_select(Product::STATUSES, params[:status]), prompt: 'Pilih Status', class: 'form-control'
		.col-md-2
			.form-group
				= select_tag :featured, options_for_select(Product::FEATURED, params[:featured]), prompt: 'Pilih Featured', class: 'form-control'
		.col-md-4
			.form-group
				= select_tag :fee_referral, options_for_select(Product::FEE_REFERRAL, params[:fee_referral]), prompt: 'Pilih Fee Referral', class: 'form-control'
		.col-md-2
			.form-group
				= text_field_tag :start_at, nil, value: params[:start_at], class: 'datepicker form-control', placeholder: 'Start At'
		.col-md-2
			.form-group
				= text_field_tag :end_at, nil, value: params[:end_at], class: 'datepicker form-control',  placeholder: 'End At'
		.col-md-2
			.form-group
				button class="btn btn-info wd100" type="submit" Search
		.col-md-2
			.form-group
				.js-button-export
					= render 'shareds/button_export'
