.sidebar
	.sidebar-dropdown
		| <a href="#">Navigation</a>

	ul#nav
		li class="#{active_sidebar?(:home, :dashboard)}"
			= link_to '<i class="fa fa-home"></i> Dashboard'.html_safe, backend_dashboard_path
		- if current_user.admin?
			- if current_user.master? || current_user.finance?
				li class="has_sub #{active_sidebar?(:commissions, :all) || active_sidebar?(:commission_referrals, :all)}"
					a href="#"
						| <i class="fa fa-money"></i> Komisi
						| <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
					ul
						li class="#{active_sidebar?(:commissions, :all)}"
							= link_to 'Kelola Komisi Penjualan', backend_commissions_path
						li class="#{active_sidebar?(:commission_referrals, :all)}"
							= link_to 'Kelola Komisi Referral', backend_commission_referrals_path
			- if current_user.master? || current_user.checker_1? || current_user.checker_2? || current_user.checker_3? || current_user.shipment? || current_user.finance?
				li class="has_sub #{active_sidebar?(:orders, :all) || active_sidebar?(:order_distributors, :all) || active_sidebar?(:order_items, :all)}"
					a href="#"
						| <i class="fa fa-file-text-o"></i> Order
						| <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
					ul
						li class="#{active_sidebar?(:orders, :all)}"
							= link_to 'Kelola Order', backend_orders_path
						- if current_user.master? || current_user.checker_1? || current_user.checker_2? || current_user.finance?
							li class="#{active_sidebar?(:order_distributors, :all)}"
								= link_to 'Kelola Order Distributor', backend_order_distributors_path
							li class="#{active_sidebar?(:order_items, :all)}"
								= link_to 'Kelola Order Item', backend_order_items_path
			- if current_user.master? || current_user.checker_1? || current_user.finance?
				li class="#{active_sidebar?(:confirmations, :all)}"
					= link_to backend_confirmations_path do
						| <i class="fa fa-check-square"></i> Konfirmasi
						| <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
			- if current_user.master? || current_user.finance?
				li class="has_sub #{active_sidebar?(:admins, :all) || active_sidebar?(:merchants, :all) || active_sidebar?(:account_managers, :all) || active_sidebar?(:members, :all)}"
					a href="#"
						| <i class="fa fa-user"></i> Pengguna
						| <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
					ul
						- if current_user.master? 
							li class="#{active_sidebar?(:admins, :all)}"
								= link_to 'Kelola Admin', backend_admins_path
						li class="#{active_sidebar?(:account_managers, :all)}"
							= link_to 'Kelola Manager', backend_account_managers_path
						li class="#{active_sidebar?(:merchants, :all)}"
							= link_to 'Kelola Merchant', backend_merchants_path
						li class="#{active_sidebar?(:members, :all)}"
							= link_to 'Kelola Reseller', backend_members_path
			- if current_user.master? || current_user.checker_2?  || current_user.finance? || current_user.support?
				li class="has_sub #{active_sidebar?(:categories, :all) || active_sidebar?(:products, :all) || active_sidebar?(:catalogs, :all) || active_sidebar?(:brands, :all)}"
					a href="#"
						| <i class="fa fa-newspaper-o"></i> Produk
						| <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
					ul
						- if current_user.master? || current_user.checker_2? || current_user.finance? || current_user.support?
							li class="#{active_sidebar?(:products, :all)}"
								= link_to 'Kelola Produk', backend_products_path
						- if current_user.master?
							li class="#{active_sidebar?(:catalogs, :all)}"
								= link_to 'Kelola Katalog', backend_catalogs_path
							li class="#{active_sidebar?(:categories, :all)}"
								= link_to 'Kelola Kategori', backend_categories_path
							li class="#{active_sidebar?(:brands, :all)}"
								= link_to 'Kelola Brand', backend_brands_path
			- if current_user.master? || current_user.staff? || current_user.finance?
				li class="has_sub #{active_sidebar?(:packages, :all) || active_sidebar?(:invoices, :all)}"
					a href="#"
						| <i class="fa fa-bullhorn"></i> Paket
						| <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
					ul
						- if current_user.master?
							li class="#{active_sidebar?(:packages, :all)}"
								= link_to 'Kelola Paket', backend_packages_path
						- if current_user.master? || current_user.staff? || current_user.finance?
							li class="#{active_sidebar?(:invoices, :all)}"
								= link_to 'Kelola Tagihan Paket', backend_invoices_path
			- if current_user.master? || current_user.finance?
				li class="has_sub #{active_sidebar_params?(backend_recap_payments_path(user: "Member"), :all) || active_sidebar_params?(backend_recap_payments_path(user: "Manager"), :all) || active_sidebar_params?(backend_recap_payments_path(user: "Merchant"), :all) || active_sidebar_params?(backend_recap_payments_path(user: "Referral"), :all)}"
					a href="#" 
						| <i class="fa fa-money"></i> Rekap
						| <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
					ul
						li class="#{active_sidebar_params?(backend_recap_payments_path(user: "Member"), :all)}"
							= link_to 'Reseller', backend_recap_payments_path(user: "Member")
						li class="#{active_sidebar_params?(backend_recap_payments_path(user: "Referral"), :all)}"
							= link_to 'Referral Reseller', backend_recap_payments_path(user: "Referral")
						li class="#{active_sidebar_params?(backend_recap_payments_path(user: "Manager"), :all)}"
							= link_to 'Account Manager', backend_recap_payments_path(user: "Manager")
						li class="#{active_sidebar_params?(backend_recap_payments_path(user: "Merchant"), :all)}"
							= link_to 'Merchant', backend_recap_payments_path(user: "Merchant")
			- if current_user.master? || current_user.finance?
				li class="has_sub #{active_sidebar?(:payment_snapshots, :all) || active_sidebar?(:payment_merchants, :all) || active_sidebar?(:payment_referrals, :all)}"
					a href="#"
						| <i class="fa fa-money"></i> Pembayaran
						| <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
					ul
						li class="#{active_sidebar?(:payment_snapshots, :all)}"
							= link_to 'AM / Resseler', backend_payment_snapshots_path
						li class="#{active_sidebar?(:payment_referrals, :all)}"
							= link_to 'Referral Reseller', backend_payment_referrals_path
						li class="#{active_sidebar?(:payment_merchants, :all)}"
							= link_to 'Merchant', backend_payment_merchants_path
				li class="#{active_sidebar?(:report_refunds, :all)}"
					= link_to backend_report_refunds_path do
						| <i class="fa fa-money"></i> Refund Order
						| <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
			- if current_user.master? || current_user.finance?
				li class="#{active_sidebar?(:affiliates, :all)}"
					= link_to backend_affiliates_path do
						| <i class="fa fa-users"></i> Affiliasi
						| <span class="pull-right"><i class="fa fa-chevron-right"></i></span>

			- if current_user.master? || current_user.support?
				li class="#{active_sidebar?(:domain_settings, :all)}"
					= link_to backend_domain_settings_path do
						| <i class="fa fa-globe"></i> Domains
						| <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
			- if current_user.master? || current_user.support?
				li class="#{active_sidebar?(:guest_books, :all)}"
					= link_to backend_guest_books_path do
						| <i class="fa fa-envelope-o"></i></i> Buku Tamu
						| <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
			- if current_user.master? || current_user.support?
				li class="#{active_sidebar?(:web_templates, :all)}"
					= link_to backend_web_templates_path do
						| <i class="fa fa-css3"></i> Web Templates
						| <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
			- if current_user.master? || current_user.support?
				li class="has_sub #{active_sidebar?(:landing_presses, :all) || active_sidebar?(:request_landing_presses, :all)}"
					a href="#"
						| <i class="fa fa-columns"></i> Landing Page
						| <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
					ul
						- if current_user.master? || current_user.support?
							li class="#{active_sidebar?(:landing_presses, :all)}"
								= link_to 'Kelola Landing Page', backend_landing_presses_path
						- if current_user.master? || current_user.support?
							li class="#{active_sidebar?(:request_landing_presses, :all)}"
								= link_to 'Request Landing Page', backend_request_landing_presses_path
			- if current_user.master? || current_user.support?
				li class="#{active_sidebar?(:blogs, :all)}"
					= link_to backend_blogs_path do
						| <i class="fa fa-newspaper-o"></i> Blog
						| <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
			- if current_user.master? || current_user.finance?
				li class="#{active_sidebar?(:spendings, :all)}"
					= link_to backend_spendings_path do
						| <i class="fa fa-bar-chart"></i> Pengeluaran
						| <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
			- if current_user.master?
				li class="has_sub #{active_sidebar?(:landing_pages, :all) || active_sidebar?(:web_settings, :all)}"
					a href="#"
						| <i class="fa fa-wrench"></i> Setting
						| <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
					ul
						li class="#{active_sidebar?(:landing_pages, :all)}"
							= link_to 'Kelola Landing Page', backend_landing_pages_path
						li class="#{active_sidebar?(:web_settings, :all)}"
							= link_to 'Kelola Web Setting', edit_backend_web_setting_path(WebSetting.latest.last)