@media screen and (max-width: 768px) {
	h3, .h3 {
		font-size: 20px;
	}
	h4, .h4 {
		font-size: 18px;
	}
	.benefits{ 
		.title{
			font-size: 20px;
		}
		ul{
			line-height: normal;
		}
	}
	.trust .title {
		color: #b1e873;
		font-size: 20px;
		text-transform: uppercase;
		text-align: center;
		padding: 30px;
	}
	.product .img-product{
		height: 200px;
	}
	.shipment{
		padding: 50px 0;
		.title {
			font-size: 20px;
		}
		.descript{
			font-size: 18px;
		}
	}
	.testimonials .img-testimonials{
		height: 300px;
	}
}

@media screen and (max-width: 550px) {
	h3, .h3 {
		font-size: 18px;
	}
	p{
		font-size: 15px;
	}
	.mgauto{
		width: 100%;
	}
	.mgtop50 {
		margin-top: 20px;
	}
	.mgbot50 {
		margin-bottom: 20px;
	}
	.about{ 
		border-radius: 0 0 10% 10%;
		.img-about{
			margin-bottom: 20px;
		}
	}
	.btn-success{
		padding: 10px 20px;
		font-size: 17px;
	}
	.benefits {
		background: #eaeaea;
		padding: 50px 0;
		.title {
			font-size: 18px;
			text-transform: uppercase;
			margin-top: 0; 
		}
		ul{
			li{
				font-size: 15px;
			}
		}
	}
	.why {
		border-radius: 10% 10% 0 0;
		.title{
			font-size: 18px;
		}
	}
	.trust{ 
		.title{
			font-size: 18px;
			padding: 30px 0;
		}
	}
	.shipment{
		padding: 50px 0; 
		.title{
			font-size: 18px;
		}
		.descript{
			font-size: 18px;
			padding: 0;
		}
	}
	.testimonials .img-testimonials{
		height: 500px;
	}
	.order-now{ 
		.title{
			font-size: 18px;
			margin-top: 0;
		}
		h4{
			ul{
				line-height: 20px;
				font-size: 15px;
			}
		}
		.price{
			font-size: 18px;
		}
	}
}
@media screen and (max-width: 350px) {
	section{
		padding: 30px 0;
	}
	h3, .h3{
		font-size: 15px;
	}
	h4, .h4 {
		font-size: 14px;
	}
	p{
		font-size: 13px;
	}
	.btn-success {
		padding: 10px 20px;
		font-size: 15px;
		margin-top: 20px;
	}
	.benefits{ 
		.title{
			font-size: 15px;
		}
		ul{
			margin-top: 10px;
			line-height: 20px;
			li{
				font-size: 13px;
			}
		}
	}
	.why{ 
		.img-why{
			width: 100%;
		}
		.title{
			font-size: 15px;
			margin-bottom: 20px;
		}
	}
	.trust .title{
		font-size: 15px;
	}
	.shipment{
		.title{
			font-size: 15px;
		}
		.descript{
			font-size: 15px;
		}
	}
	.order-now{
		.title{
			font-size: 15px;
		}
		h4{
			ul{
				font-size: 13px;
			}
		}
		.price{
			font-size: 15px;
		}
		.btn-order-now{
			padding: 7px 15px;
			font-size: 13px;
			font-weight: normal;
		}
	}
}