
/*========================*/
/*--------Customize--------*/
/*========================*/
body{
	color: #333;
	background: #eaeaea;
}
section{
	padding: 50px 0;
	float: left;
	width: 100%;
}
p{
	font-size: 16px;
}
.tcenter{
	text-align: center;
}
.justify{
	text-align: justify;
}
.mgauto{
	margin: auto;
	display: table;
}
.mgbot10{
	margin-bottom: 10px;
}
.mgtop10{
	margin-top: 10px;
}
.mgbot20{
	margin-bottom: 20px;
}
.mgtop20{
	margin-top: 20px;
}
.mgbot50{
	margin-bottom: 50px;
}
.mgtop50{
	margin-top: 50px;
}
.bgwhite{
	background: white;
}
.wd100{
	width: 100%;
}
.uppercase{
	text-transform: uppercase;
}
.mb100 {
	margin-bottom: 100px;
	p {
		margin-top: 25px;
		font-size: 18px;
	}
}
.image-gallery-product {
	width: 100%;
	display: block;
	overflow: hidden;
	margin-top: 15px;
	margin-bottom: 15px;
	.gallery {
		.box-gallery-thumb {
	    height: 80px;
	    width: 100%;
	    border: solid 2px white;
      position: relative;
	    overflow: hidden;
	    img {
				width: auto;
				height: 100%;
				min-width: 100%;
			}
		}
	}
}
/*========================*/
/*------Landing Press------*/
/*========================*/
.btn-success {
	color: #fff;
	background-color: #338e39;
	border-color: #338e39;
	font-size: 20px;
	margin: auto;
	display: table;
	border-radius: 30px;
	padding: 13px 25px;
	margin-top: 50px;
}
.slider{
	padding: 0;
	background: white;
	.img-slider{
		width: 100%;
		height: auto;
	}
}
.about{
	background: white;
	border-radius: 0 0 20% 20%;
	.img-about{
		width: 100%;
	}
}
.benefits{
	background: #eaeaea;
	padding: 100px 0px;
	.title{
		font-size: 22px;
		text-transform: uppercase;
		margin-top: 70px;
		.green{
			color: #338e39;
		}
	}
	ul{
		color: #444444;
		margin-top: 20px;
		line-height: 30px;
		li{
			font-size: 18px;
		}
	}
}

.why{
	border-radius: 20% 20% 0 0 ;
	background: white;
	.img-why{
		margin: auto;
		display: table;
		width: 400px;
	}
	.title{
		text-align: center;
		font-size: 24px;
		position: relative;
		text-transform: uppercase;
		margin-bottom: 30px;
		font-weight: 600;
	}
	.justify{
		text-align: justify;
		font-size: 18px;
		line-height: 1.5em;
	}
}
.trust{
	background-image: asset-url('landing_press/bg-daun.jpg');
	background-size: 100%;
	padding: 190px 0;
	.title{
		color: white;
		font-size: 30px;
		text-transform: uppercase;
		text-align: center;
		.white{
			color: white;
		}
	}
}
.product{
	background: white;
	.img-product{
		width: 100%;
		margin-bottom: 20px;
	}
}
.shipment{
	background-image: asset-url('landing_press/bg-gray.png');
	background-size: 100%;
	padding: 150px 0;
	.title{
		font-size: 24px;
		font-weight: 900;
		text-align: center;
		text-transform: uppercase;
		color: #252525;
	}
	.descript{
		text-align: center;
		font-size: 19px;
		margin-top: 10px;
		padding: 0px 50px;
	}
}
.testimonials{
	background: white;
	.img-testimonials{
		width: 100%;
		margin-bottom: 20px;
	}
}
.order-now{
	.title{
		font-size: 19px;
		text-transform: uppercase;
		font-weight: 900;
		color: #2b2b2b;
		margin-bottom: 20px;
		.normal{
			font-weight: normal;
		}
	}
	h4{
		ul{
			line-height: 25px;
			font-size: 16px;
			margin-top: 10px;
			li{

			}
		}
	}
	.price{
		font-size: 20px;
		font-weight: bold;
		.green{
			color: green;
		}
	}
	small{
		.red{
			color: red;
		}
		ul{
			list-style: none;
			padding-left: 15px;
			li{

			}
		}
	}
	.btn-order-now{
		background: #6fb431;
		color: white;
		border-radius: 30px;
		font-weight: bold;
		padding: 10px 20px;
		margin-top: 10px;
		margin-bottom: 5px;
		&:hover{
			opacity: 0.7;
		}
	}
}
.video{
	padding-top: 0;
	background: white;
}
.footer{
	background: white;
	float: left;
	width: 100%;
	padding-top: 50px;
	.img-footer{
		height: 50px;
		margin: auto;
		display: table;
		margin-top: 20px;
	}
	.copyright{
		border-top: 1px solid rgba(232, 232, 232, 0.58);
		text-align: center;
		padding: 15px 0;
		margin-top: 30px;
		font-weight: bold;
		font-size: 12px;
	}
}