<%= render 'devise/mailer/shared/header_dusbelanja' %>
<tr>
	<td valign="top" id="templateBody" style= "background-color: #FFFFFF; border-top: 0; border-bottom: 2px solid #EAEAEA; padding-top: 0; padding-bottom: 9px;">
		<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
			<tbody class="mcnTextBlockOuter">
				<tr>
					<td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
						<table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
							<tbody>
								<tr>
									<td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
										<p style='font-size:12px; color:#777;'>
                      INVOICE ORDER <b><%= @order.code.upcase %></b>
                      <br>
                      <strong>Dari Toko <a href="#"><%= @order.try(:member).shop_title? %></a> (<%= @order.try(:member).domain? rescue '' %>)</strong>
                      <br>
                      <br>
                      <b>Tanggal Transaksi : </b>
                      <br>
                      <%= @order.try(:purchased_at).strftime("%B, %d, %Y") if @order.purchased_at %>
                      <br>
                      <b>Batas Pembayaran : </b> 
                      <br>
                      <%= (@order.try(:purchased_at)+ 3.days).strftime("%B, %d, %Y") if @order.purchased_at %>
                    </p>
                    <p style='font-size:12px; color:#777;'>
                      Tagihan Untuk
                      <br>
                      <%= @order.try(:payer_name) %>
                      <br>
                      <%= @order.try(:payer_address) %>
                    </p>
										<br>
										<table cellspacing="0" cellpadding="" border="" style="font-size: 10px; width: 100%; color:#777;">
											<tr>
												<td><strong>Nama Produk</strong></td>
												<td><strong>Satuan</strong></td>
												<td><strong>Jumlah</strong></td>
												<td width="30%"><strong>Berat</strong></td>
												<td><strong>Harga</strong></td>
											</tr>
											<% @order.order_items.each_with_index do |order_item, index| %>
												<tr>
													<td>[<%= order_item.product.code %>] <%= order_item.product.title %></td>
													<td><%= get_currency(order_item.price) %></td>
													<td><%= order_item.quantity %></td>
													<td><%= order_item.weight %> gram</td>
													<td><%= get_currency(order_item.total_price) %></td>
												</tr>
											<% end %>
											<tr>
												<td></td>
												<td></td>
												<td></td>
												<td><%= @order.weight? %> gram</td>
												<td><%= get_currency(@order.price) %></td>
											</tr>

											<% unless @order.cod? %>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td>Pengiriman <%= @order.shipping_method.upcase %> <%= @order.origin_name %> - <%= @order.try(:address).try(:city).try(:titleize) %>, Kecamatan <%= @order.try(:address).try(:district).try(:titleize) %></td>
													<td><%= get_currency(@order.shipping_price) if @order.shipping_price.present? %></td>
												</tr>
											<% end %>

											<tr>
												<td></td>
												<td></td>
												<td></td>
												<td>TOTAL TAGIHAN</td>
												<td><b><%= get_currency(@order.total_price) %></b></td>
											</tr>
										</table>
										<br>
										<br>
										<p style='font-size:12px; color:#777;'>
											LAKUKAN PEMBAYARAN KE NOMOR REKENING DIBAWAH INI
										</p>
										<p style='font-size:12px; color:#777;'>
											<strong>Transaksi</strong>: <%= @order.try(:purchased_at).strftime("%B, %d, %Y") if @order.purchased_at %><br>
											<strong>Pembeli</strong>: <%= @order.try(:payer_name) %><br>
											<strong>Pembayaran Ke</strong>: <%= @order.try(:payment_to) %><br>
											<strong>Status Pembayaran</strong>: <%= @order.status? %><br>
											<strong>Total Tagihan</strong>: <b><%= get_currency(@order.total_price) %></b>
										</p>
										<br>

										<% unless @order.cod? %>
											<p style='font-size:12px; color:#777;'>
												PENGIRIMAN
											</p>
											<p style='font-size:12px; color:#777;'>
												<strong>Penerima</strong>: <%= @order.try(:payer_name) %><br>
												<strong>Metode Pengiriman</strong>: <%= @order.try(:shipping_method) %><br>
												<strong>Status Pengiriman</strong>: <%= @order.try(:track_order) %><br>
												<strong>Phone</strong>: <%= @order.try(:payer_phone) %><br>
												<strong>Alamat Pengiriman</strong>: <%= @order.try(:payer_address) %>
											</p>
											<br>
											<p style='font-size:12px; color:red;'>
												Silahkan melakukan pembayaran order ke rekening diatas terlebih dahulu, dan setelah melakukan pembayaran silahkan lakukan konfirmasi pembayaran dengan cara mengirim pesan <b><a href="https://api.whatsapp.com/send?phone=+6282189099045&text=Halo%20Admin%20Saya%20Mau%20Konfirmasi%20Pembayaran%20Order%20Belanja%20Dengan%20Kode%20Invoice%20<%= @order.code %>%20Berikut%20Saya%20Kirimkan%20Bukti%20Transfer%20Pembayarannya">Via WhatsApp</a></b> dan menyisipkan bukti pembayaran yang telah dibayar.
											</p>
										<% else %>
											<p style='font-size:12px; color:red;'>
												Silahkan melakukan pembayaran order ke rekening diatas terlebih dahulu, dan setelah melakukan pembayaran silahkan lakukan konfirmasi pembayaran dengan cara mengirim pesan <b><a href="https://api.whatsapp.com/send?phone=+6282189099045&text=Halo%20Admin%20Saya%20Mau%20Konfirmasi%20Pembayaran%20Order%20Belanja%20Dengan%20Kode%20Invoice%20<%= @order.code %>%20Berikut%20Saya%20Kirimkan%20Bukti%20Transfer%20Pembayarannya">Via WhatsApp</a></b> dan menyisipkan bukti pembayaran yang telah dibayar.
												Dan anda bisa mengambil stockis pesanan secara langsung dikantor Merchant di <%= @order.address_merchant? %>
											</p>
										<% end %>

										<br>
										<br>
										<p style='font-size:12px; color:#777;'>
											Terima Kasih
											<br><br><br>
											Salam terbaik,<br>
											<%= @order.try(:member).domain? rescue '' %><br>
										</p>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>
<%= render 'devise/mailer/shared/footer' %>