<%= render 'devise/mailer/shared/header' %>
<tr>
	<td valign="top" id="templateBody" style= "background-color: #FFFFFF; border-top: 0; border-bottom: 2px solid #EAEAEA; padding-top: 0; padding-bottom: 9px;">
		<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
			<tbody class="mcnTextBlockOuter">
				<tr>
					<td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
						<table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
							<tbody>
								<tr>
									<td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">

										<!-- <h3 align='center' style='font-size:16px;'>Hello! Thank you and Welcome to CPGROUND.COM!</h3> -->
										<p style='font-size:12px; color:#777;'>
											Dear <b><%= @user.username %></b>
											<br>
											<br>
											Berikut detail informasi paket yang Anda pilih:
											<br>
											<ul style='font-size:12px; color:#777; padding-left: 25px;'>
												<li><b>Kode Invoice: </b> <%= @invoice.code %></li>
												<li><b>Tanggal Registrasi: </b> <%= @user.created_at.strftime("%H:%M %B, %d, %Y") %></li>
												<li><b>Paket: </b> <%= @invoice.try(:package).try(:title) %></li>
												<li><b>Harga Paket: </b> <%= get_currency(@invoice.price) %></li>
											</ul>
										</p>
										<p style='font-size:12px; color:#777;'>
											Silahkan lakukan pembayaran ke rekening berikut:
											<br>
											<ul style='font-size:12px; color:#777; padding-left: 25px;'>
												<li><b>Nama Bank: </b> <%= @invoice.bank_name %></li>
												<li><b>Nama Rekening: </b> <%= @invoice.account_name %></li>
												<li><b>Nomor Rekening: </b> <%= @invoice.account_number %></li>
											</ul>
										</p>
										<p style='font-size:12px; color:red;'>
											Setelah melakukan pembayaran paket yang dipilih silahkan lakukan konfirmasi pembayaran dengan cara <b>Membalas Email Ini</b> atau mengirim pesan <b><a href="https://api.whatsapp.com/send?phone=+6282189099045&text=Halo%20Admin%20Saya%20Mau%20Konfirmasi%20Pembayaran%20Paket%20Pendaftaran%20www.dropshipan.co.id%20Dengan%20Kode%20Invoice%20<%= @invoice.code %>%20Berikut%20Saya%20Kirimkan%20Bukti%20Transfer%20Pembayarannya">Via WhatsApp</a></b> dan menyisipkan bukti pembayaran yang telah dibayar.
										</p>
										<p style='font-size:12px; color:#777;'>
											<br><br>
											Terima Kasih
											<br><br><br>
											Salam terbaik,<br>
											DROPSHIPAN.CO.ID<br>
										</p>

									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>
<%= render 'devise/mailer/shared/footer' %>