<%= render 'devise/mailer/shared/header' %>
<tr>
	<td valign="top" id="templateBody" style= "background-color: #FFFFFF; border-top: 0; border-bottom: 2px solid #EAEAEA; padding-top: 0; padding-bottom: 9px;">
		<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
			<tbody class="mcnTextBlockOuter">
				<tr>
					<td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
						<table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
							<tbody>
								<tr>
									<td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
										<p style='font-size:12px; color:#777;'>
											Selamat akun anda sudah aktif dan bisa digunakan untuk masuk ke Dashboard Reseller!
										</p>
										<p style='font-size:12px; color:#777;'>
											Detail Akun!
											<br>
											Username: <b><%= @user.username %></b>
											<br>
											Email: <b><%= @user.email %></b>
											<br>
											Phone: <b><%= @user.profile.phone %></b>
											<br>
											<a style="background-color: #2CC92C; color: #ffffff; border-bottom: 2px solid #2F9600; display: table; margin-top: 25px; border-radius: 4px; text-decoration: none; padding: 7px 16px;" href="<%= root_url %>"><%= root_url %></a>
											<br><br>
											Terima Kasih
											<br><br><br>
											Salam terbaik,<br>
											DROPSHIPAN.CO.ID<br>
										</p>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>
<%= render 'devise/mailer/shared/footer' %>