<%= render 'devise/mailer/shared/header' %>
<tr>
  <td valign="top" id="templateBody" style= "background-color: #FFFFFF; border-top: 0; border-bottom: 2px solid #EAEAEA; padding-top: 0; padding-bottom: 9px;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
      <tbody class="mcnTextBlockOuter">
        <tr>
          <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
            <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
              <tbody>
                <tr>
                  <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
                    <p style='font-size:12px; color:#777;'>
                      Dear <%= @payment_referral.member.try(:username) %>,
                    </p>
                    <p style='font-size:12px; color:#777;'>
                        Dengan ini kami memberitahukan pembayaran dana komisi Referral Anda telah berhasil kami kirim ke rekening yang terdaftar :
                    </p>
                    <table cellspacing="0" cellpadding="" style='border: none; font-size:10px; color:#777; width: 100%'>
                      <b style='font-size:12px; color:#777;'>
                        <%= "##{@payment_referral.code}" %>
                      </b>
                      <p style='font-size:12px; color:#777; float:right;'>
                        <%= get_datetime(@payment_referral.created_at) %>
                      </p>
                      <thead>
                        <tr style="background-color: #f5f5f5;">
                          <td style="width: 50%; padding: 0 5px;">
                            Transfer Dari:
                          </td>
                          <td style="width: 50%; padding: 0 5px;">
                            Ke:
                          </td>
                        </tr>
                      </thead>
                      <tbody style="margin: 5px;">
                        <tr style="background-color: #fafafa;">
                          <td style="padding: 0 5px;"><%= @payment_referral.from_acc %></td>
                          <td style="padding: 0 5px;"><%= @payment_referral.to_acc %></td>
                        </tr>
                      </tbody>
                    </table>
                    <table cellspacing="0" cellpadding="" border="" style="border: none; font-size: 10px; width: 100%; color:#777;">
                      <thead>
                        <tr style="background-color: #fafafa;">
                          <td><strong>Periode</strong></td>
                          <td><strong>Komisi</strong></td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr style="background-color: #fafafa;">
                          <td>
                            <% if @payment_referral.payment_start.present? %>
                              <%= @payment_referral.payment_period? %>  
                            <% else %>
                              -
                            <% end %>
                          </td>
                          <td><%= get_currency(@payment_referral.commission_referral) %></td>
                        </tr>
                      </tbody>  
                    </table>
                    <p style='font-size:12px; color:#777;'>
                      Terima Kasih
                      <br><br><br>
                      Salam terbaik,<br>
                      DROPSHIPAN.CO.ID<br>
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<%= render 'devise/mailer/shared/footer' %>