<%= render 'devise/mailer/shared/header' %>
<tr>
	<td valign="top" id="templateBody" style= "background-color: #FFFFFF; border-top: 0; border-bottom: 2px solid #EAEAEA; padding-top: 0; padding-bottom: 9px;">
		<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
			<tbody class="mcnTextBlockOuter">
				<tr>
					<td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
						<table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
							<tbody>
								<tr>
									<td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
										<p style='font-size:12px; color:#777;'>
											Dear <%= @payment_snapshot.user.try(:username) %>,
										</p>
										<p style='font-size:12px; color:#777;'>
												Dengan ini kami memberitahukan pembayaran dana komisi Anda telah berhasil kami kirim ke rekening yang terdaftar :
										</p>
										<table cellspacing="0" cellpadding="" style='border: none; font-size:10px; color:#777; width: 100%'>
											<b style='font-size:12px; color:#777;'>
												<%= "##{@payment_snapshot.code}" %>
											</b>
											<p style='font-size:12px; color:#777; float:right;'>
												<%= get_datetime(@payment_snapshot.created_at) %>
											</p>
											<thead>
												<tr style="background-color: #f5f5f5;">
													<td style="width: 50%; padding: 0 5px;">
														Transfer Dari:
													</td>
													<td style="width: 50%; padding: 0 5px;">
														Ke:
													</td>
												</tr>
											</thead>
											<tbody style="margin: 5px;">
												<tr style="background-color: #fafafa;">
													<td style="padding: 0 5px;"><%= @payment_snapshot.from_acc %></td>
													<td style="padding: 0 5px;"><%= @payment_snapshot.to_acc %></td>
												</tr>
											</tbody>
										</table>
										<table cellspacing="0" cellpadding="" border="" style="border: none; font-size: 10px; width: 100%; color:#777;">
											<thead>
												<tr style="background-color: #fafafa;">
													<td><strong>Periode</strong></td>
													<td><strong>Komisi Penjualan</strong></td>
													<% if @payment_snapshot.user.member? %>
														<td><strong>Komisi Referral</strong></td>
													<% end %>
													<td><strong>Total Transfer</strong></td>
												</tr>
											</thead>
											<tbody>
												<tr style="background-color: #fafafa;">
													<td>
														<% if @payment_snapshot.payment_start.present? %>
															<%= @payment_snapshot.payment_period? %>	
														<% else %>
															-
														<% end %>
													</td>
													<% if @payment_snapshot.user.member? %>
														<td><%= get_currency(@payment_snapshot.fee_member) %></td>
														<td><%= get_currency(@payment_snapshot.fee_referral) %></td>
													<% else %>
														<td><%= get_currency(@payment_snapshot.fee_am) %></td>
													<% end %>	
													<td><%= get_currency(@payment_snapshot.price) %></td>
												</tr>
											</tbody>  
										</table>
										<p style='font-size:12px; color:#777;'>
											Terima Kasih
											<br><br><br>
											Salam terbaik,<br>
											<%= @payment_snapshot.try(:user).try(:username) rescue '' %><br>
										</p>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>
<%= render 'devise/mailer/shared/footer' %>