<%= render 'devise/mailer/shared/header' %>
<tr>
  <td valign="top" id="templateBody" style= "background-color: #FFFFFF; border-top: 0; border-bottom: 2px solid #EAEAEA; padding-top: 0; padding-bottom: 9px;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
      <tbody class="mcnTextBlockOuter">
        <tr>
          <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
            <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
              <tbody>
                <tr>
                  <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">

                    <!-- <h3 align='center' style='font-size:16px;'>Hello! Thank you and Welcome to CPGROUND.COM!</h3> -->
                    <p style='font-size:12px; color:#777;'>
                      Dear <b><%= @user.username %></b>
                      <br>
                      <br>
                      Berikut detail informasi paket yang Anda pilih:
                      <br>
                      <ul style='font-size:12px; color:#777; padding-left: 25px;'>
                        <li><b>Kode Invoice: </b> <%= @invoice.code %></li>
                        <li><b>Tanggal Registrasi: </b> <%= @user.created_at %></li>
                        <li><b>Paket: </b> <%= @invoice.try(:package).try(:title) %></li>
                        <li><b>Harga Paket: </b> <%= get_currency(@invoice.price) %></li>
                      </ul>
                    </p>
                    <p style='font-size:12px; color:red;'>
                      Selamat pembayaran paket Anda sudah diverifikasi, anda sudah terdaftar dan bisa melakukan login akun dropshipper di dashboard www.dropshipan.co.id
                    </p>
                    <p style='font-size:12px; color:#777;'>
                      <br><br>
                      Terima Kasih
                      <br><br><br>
                      Salam terbaik,<br>
                      DROPSHIPAN.CO.ID<br>
                    </p>

                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<%= render 'devise/mailer/shared/footer' %>