<%= render 'devise/mailer/shared/header' %>
<tr>
  <td valign="top" id="templateBody" style= "background-color: #FFFFFF; border-top: 0; border-bottom: 2px solid #EAEAEA; padding-top: 0; padding-bottom: 9px;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
      <tbody class="mcnTextBlockOuter">
        <tr>
          <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
            <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
              <tbody>
                <tr>
                  <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
                    <p style='font-size:12px; color:#777;'>
                      Konfirmasi Order Invoice! - [<%= @confirmation.no_invoice %>]
                      <br>
                      <br>
                      Nama: <b><%= @confirmation.name %></b>
                      <br>
                      Email: <b><%= @confirmation.email %></b>
                      <br>
                      Tanggal Bayar: <b><%= @confirmation.payment_date.strftime("%B, %d, %Y") %></b>
                      <br>
                      Total Pembayaran: <b><%= get_currency(@confirmation.nominal) %></b>
                      <br>
                      Ke Bank Akun: <b><%= @confirmation.bank_account %></b>
                      <br>
                      Metode Pembayaran: <b><%= @confirmation.payment_method %></b>
                      <br>
                      Pengririm: <b><%= @confirmation.sender_name %></b>
                      <br>
                      Pembayaran Dilakukan Norek: <b><%= @confirmation.from_bank_name %> <%= @confirmation.from_account_number %></b>
                      <br>
                      Pesan: <b><%= @confirmation.message %></b>
                    </p>
                    <p style='font-size:12px; color:#777;'>
                      <br><br>
                      Terima Kasih
                      <br><br><br>
                      Salam terbaik,<br>
                      DROPSHIPAN.CO.ID<br>
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<%= render 'devise/mailer/shared/footer' %>