- if current_user.member?
	- link_to = members_dashboard_path
- elsif current_user.account_manager?
	- link_to = managers_dashboard_path
- elsif current_user.merchant?
	- link_to = merchants_dashboard_path
- else
	- link_to = backend_dashboard_path

- if current_user.merchant?
	- total_price = :basic_price
	- column = "col-5"
- else
	- total_price = :price
	- column = "col-md-2 col-sm-2 col-xs-2"

= form_for :search, url: link_to, html: {class: 'js-form-analytic'}, method: 'get', remote: true
	.col-xs-12
		- if current_user.admin?
			.panel.panel-default
				.panel-body
					.row
						.col-md-4
							label
								= 'Berdasarkan Reseller/Invoice/Pembeli'
							= text_field_tag :key, nil, value: params[:key], class: 'form-control', placeholder: 'Kode/Reseller/Invoice/Pembeli'
						.col-md-4
							label
								= 'Berdasarkan Manager Id/Member Id'
							= text_field_tag :user_id, nil, value: params[:user_id], class: 'form-control', placeholder: 'Id Manager/Member'
						.col-md-4
							label
								= 'Berdasarkan Unik Harga'
							= text_field_tag :price, nil, value: params[:price], class: 'form-control', placeholder: 'Unik Harga'

		.box-schema.responsive-panel-analytic
			.row.responsive-row-analytic
				.col-md-6.col-sm-6.col-xs-6
					- active_today = params.present? && (params[:start_at].present? && params[:end_at].present? && @date == params[:start_at].to_date && @date == params[:end_at].to_date) ? 'active' : ''
					- if params[:commit_priode] == 'daily' || params[:commit_priode] == 'monthly' || params[:commit_priode] == 'yearly'
						- active_today = ''

					- active_yesterday = params.present? && (params[:start_at].present? && params[:end_at].present? && @date.yesterday == params[:start_at].to_date && @date.yesterday == params[:end_at].to_date) ? 'active' : ''
					- if params[:commit_priode] == 'daily' || params[:commit_priode] == 'monthly' || params[:commit_priode] == 'yearly'
						- active_yesterday = ''
					
					- last_7_day = params.present? && (params[:start_at].present? && params[:end_at].present? && (@date - 6.days) == params[:start_at].to_date && @date == params[:end_at].to_date) ? 'active' : ''
					- if params[:commit_priode] == 'daily' || params[:commit_priode] == 'monthly' || params[:commit_priode] == 'yearly'
						- last_7_day = ''

					- daily = last_7_day.blank? && active_yesterday.blank? && active_today.blank? ? 'active' : ''
					- if params[:commit_priode] == 'daily'
						- daily = 'active'
					- elsif params[:commit_priode] == 'monthly' || params[:commit_priode] == 'yearly'
						- daily = ''

					- btn_value = ''
					- if params[:commit_priode] == 'daily' || params[:commit_priode] == 'monthly' || params[:commit_priode] == 'yearly'
						- btn_value = params[:commit_priode]

					.btn-group.btn-chart
						button.btn.btn-default.btn-tab-analytic.btn-search-analytic.js-submit-search-report type='submit' name='commit_day' value='last_7_day' class="#{last_7_day}" 7 Hari Terakhir
						button.btn.btn-default.btn-tab-analytic.btn-search-analytic.js-submit-search-report type='submit' name='commit_day' value='yesterday' class="#{active_yesterday}" Kemarin
						button.btn.btn-default.btn-tab-analytic.btn-search-analytic.js-submit-search-report type='submit' name='commit_day' value='today' class="#{params[:start_at].blank? ? 'active' : active_today}" Hari ini
						button.btn.btn-default.btn-tab-analytic.btn-search-analytic type='submit' name='commit_priode' value='daily' class="#{params[:start_at].blank? ? '' : daily}" Harian
						button.btn.btn-default.btn-tab-analytic.btn-search-analytic type='submit' name='commit_priode' value='monthly' class="#{'active' if params[:commit_priode] == 'monthly'}" Bulanan
						button.btn.btn-default.btn-tab-analytic.btn-search-analytic type='submit' name='commit_priode' value='yearly' class="#{'active' if params[:commit_priode] == 'yearly'}" Tahunan
				.col-md-6.col-sm-6.col-xs-6
					.search-form
						= text_field_tag :start_at, nil, value: params[:start_at].present? ? params[:start_at] : @date, class: 'datepicker input', placeholder: 'Start At'
						= '  -  '
						= text_field_tag :end_at, nil, value: params[:end_at].present? ? params[:end_at] : @date, class: 'datepicker input',  placeholder: 'End At'
						button.btn.btn-info type='submit' name='commit_priode' value="#{btn_value}" 
							i.fa.fa-search
							| &nbsp; Cari
				.col-xs-12
					.revenue
						= "<small>OMSET : </small> <b>#{get_currency(@order_default.paid.sum(total_price).to_i)}</b>".html_safe
				.col-xs-12
					.analytic
						- if params[:commit_priode] == 'daily' || params[:commit_priode].blank?
							h2 align='center' Report Order Harian
							.exTab
								ul.nav.nav-tabs.js-tab-analytics
									li.active
										a data-toggle="tab" href="#1" Order
									li
										a data-toggle="tab" href="#2" Omset
									- unless current_user.merchant?
										li
											a data-toggle="tab" href="#3" Komisi Penjualan
									li
										a data-toggle="tab" href="#4" Produk Terlaris
									- if current_user.admin?
										li
											a data-toggle="tab" href="#5" Trafik Pengunjung
										li
											a data-toggle="tab" href="#6" Reseller Daftar
										li
											a data-toggle="tab" href="#7" Pembayaran Paket
								.tab-content.background-white
									#1.tab-pane.active
										= area_chart @daily.count
									#2.tab-pane
										= area_chart @daily.sum(total_price).map{|n| [n[0],n[1].to_f]}
									- unless current_user.merchant?
										#3.tab-pane
											= area_chart @daily_commission.sum(key).map{|n| [n[0],n[1].to_f]}
									#4.tab-pane
										= bar_chart @top_order_on_list
									- if current_user.admin?
										#5.tab-pane
											= render 'visitor', data_visit: @daily_visit
										#6.tab-pane
											= area_chart @daily_register_users
										#7.tab-pane
											= area_chart @daily_register_invoices.sum(:price).map{|n| [n[0],n[1].to_f]}

						- elsif params[:commit_priode] == 'monthly'
							h2 align='center' Report Order Bulanan
							.exTab
								ul.nav.nav-tabs.js-tab-analytics
									li.active
										a data-toggle="tab" href="#1" Order
									li
										a data-toggle="tab" href="#2" Laba
									- unless current_user.merchant?
										li
											a data-toggle="tab" href="#3" Komisi Penjualan
									li
										a data-toggle="tab" href="#4" Produk Terlaris
									- if current_user.admin?
										li
											a data-toggle="tab" href="#5" Trafik Pengunjung
										li
											a data-toggle="tab" href="#6" Reseller Daftar
										li
											a data-toggle="tab" href="#7" Pembayaran Paket
								.tab-content.background-white
									#1.tab-pane.active
										= area_chart @monthly.count
									#2.tab-pane
										= area_chart @monthly.sum(total_price).map{|n| [n[0],n[1].to_f]}
									- unless current_user.merchant?
										#3.tab-pane
											= area_chart @monthly_commission.sum(key).map{|n| [n[0],n[1].to_f]}
									#4.tab-pane
										= bar_chart @top_order_on_list
									- if current_user.admin?
										#5.tab-pane
											= render 'visitor', data_visit: @monthly_visit
										#6.tab-pane
											= area_chart @monthly_register_users
										#7.tab-pane
											= area_chart @monthly_register_invoices.sum(:price).map{|n| [n[0],n[1].to_f]}

						- elsif params[:commit_priode] == 'yearly'
							h2 align='center' Report Order Tahunan
							.exTab
								ul.nav.nav-tabs.js-tab-analytics
									li.active
										a data-toggle="tab" href="#1" Order
									li
										a data-toggle="tab" href="#2" Laba
									- unless current_user.merchant?
										li
											a data-toggle="tab" href="#3" Komisi Penjualan
									li
										a data-toggle="tab" href="#4" Produk Terlaris
									- if current_user.admin?
										li
											a data-toggle="tab" href="#5" Trafik Pengunjung
										li
											a data-toggle="tab" href="#6" Reseller Daftar
										li
											a data-toggle="tab" href="#7" Pembayaran Paket
								.tab-content.background-white
									#1.tab-pane.active
										= area_chart @yearly.count
									#2.tab-pane
										= area_chart @yearly.sum(total_price).map{|n| [n[0],n[1].to_f]}
									- unless current_user.merchant?
										#3.tab-pane
											= area_chart @yearly_commission.sum(key).map{|n| [n[0],n[1].to_f]}
									#4.tab-pane
										= bar_chart @top_order_on_list
									- if current_user.admin?
										#5.tab-pane
											= render 'visitor', data_visit: @yearly_visit
										#6.tab-pane
											= area_chart @yearly_register_users
										#7.tab-pane
											= area_chart @yearly_register_invoices.sum(:price).map{|n| [n[0],n[1].to_f]}

						div class="#{column}"
							.box-dashboard-info
								.title-info.text-center
									| Total 
									br
									| Penjualan
								.box-content-info
									i.pe-7s-cart
									.txt
										- if current_user.merchant?
											= get_currency(@reports_collect.paid.pluck(:basic_price).sum)
										- else
											= get_currency(@reports_collect.paid.pluck(:price).sum)

						div class="#{column}"
							.box-dashboard-info
								.title-info.text-center
									| Total 
									br
									| Pengiriman
								.box-content-info
									i.pe-7s-plane
									.txt
										= get_currency(@reports_collect.paid.pluck(:shipping_price).sum)

						div class="#{column}"
							.box-dashboard-info
								.title-info.text-center
									- if current_user.merchant?
										| Total 
										br
										| Omset
									- else
										| Total 
										br
										| Komisi
								.box-content-info
									i.pe-7s-wallet
									.txt
										- if current_user.merchant?
											= get_currency(@reports_collect.paid.pluck(:total_basic_price).sum)
										- else
											= get_currency(@commission_default.pluck(key).sum)

						div class="#{column}"
							.box-dashboard-info
								.title-info.text-center
									| Order 
									br
									| Dibatalkan
								.box-content-info
									i.pe-7s-close-circle
									.txt
										= @order_cancelled.size
						- unless current_user.merchant?
							div class="#{column}"
								.box-dashboard-info
									.title-info.text-center
										| Order 
										br
										| Diperiksa
									.box-content-info
										i.pe-7s-note
										.txt
											= @order_verification.size

						div class="#{column}"
							.box-dashboard-info
								.title-info.text-center
									| Order 
									br
									| Dibayar
								.box-content-info
									i.fa.pe-7s-cash
									.txt
										= @order_paid.size

		- if current_user.account_manager?
			.panel-body.box-search-catalog
				.row
					.col-md-3
						.select-category
							= select_tag :order_status_id, options_for_select(PaymentStatus.to_a, params[:order_status_id]), prompt: 'Status Pembayaran', class: 'form-control'
					.col-md-3
						.select-category
							= select_tag :track_order_order, options_for_select(Order::STATUSES, params[:track_order_order]), prompt: 'Status Pengiriman', class: 'form-control'
					.col-md-6
						.input-key
							= text_field_tag :key, nil, value: params[:key], class: 'form-control mgbt-10', placeholder: "Invoice/Nama Pembeli/Reseller"
						.submit-search
							= submit_tag 'CARI', class: "form-control form-custom btn"
	
	.col-xs-12
		.box-latest-order
			.table-responsive
				table.table.table-striped.table-hover.mg-bot0
					thead.bg-white
						tr
							th Invoice 
							- if current_user.admin? || current_user.account_manager?
								th Reseller
							- if current_user.admin?
								th Manager 
							th Pembeli 
							th Pembayaran  
							th Pengiriman  
							th Transaksi  
							th Konfirmasi  
							th Belanja 
							th Pengiriman 
							th Total
							- unless current_user.merchant? 
								th Komisi 
					tbody
						- if @collection.blank?
							- if current_user.admin?
								- colspan = '12'
							- elsif current_user.account_manager?
								- colspan = '11'
							- else
								- colspan = '10'
							tr
								td colspan="#{colspan}" 
									= render "shareds/empty_blank"
						- else
							- @collection.each do |resource|
								- if current_user.admin?
									- link_invoice = backend_order_path(resource)
								- elsif current_user.member?
									- link_invoice = members_order_path(resource)
								- elsif current_user.account_manager?
									- link_invoice = managers_order_path(resource)
								- elsif current_user.merchant?
								  - link_invoice = merchants_order_path(resource)
								tr
									td.uppercase
										= link_to "#{resource.code}", link_invoice
									- if current_user.admin? || current_user.account_manager?
										- if current_user.admin?
											- link_member = backend_member_path(resource.member)
										- else
											- link_member = managers_member_path(resource.member)
										td
											= link_to "#{resource.member.username}", link_member
									- if current_user.admin?
										td
											= link_to "#{resource.account_manager.username}", backend_account_manager_path(resource.account_manager) if resource.account_manager.present?
									td
										= resource.payer_name
									td
										= resource.status?
									td
										= resource.status_order?
									td
										= resource.try(:purchased_at).strftime("%B, %d, %Y") 
									td
										= resource.confirmation?
									td
										- if current_user.merchant?
											= get_currency(resource.basic_price)
										- else
											= get_currency(resource.price)
									td
										= get_currency(resource.shipping_price)
									td
										- if current_user.merchant?
											= get_currency(resource.total_basic_price)
										- else
											= get_currency(resource.total_price)
									- unless current_user.merchant?
										td
											= get_currency(resource.get_commisions_value(key))
		= paginate @collection, remote: true if @collection.present?