.col-md-3
	.panel-body.box-info
		- if user.member?
			.stats-title.stats-manager.pull-left
				h4
					| Manager : &nbsp;
				small = user.try(:account_manager).try(:username)
			.stats-icon.pull-right
				i.pe-7s-id.fa-4x
			= link_to '+ Kirim Pesan'.html_safe, members_managers_path, class: 'btn btn-sm pull-left btn-send-message'
		- else
			.stats-title.pull-left
				h4 Resellers
			.stats-icon-1.pull-right
				i.pe-7s-users.fa-4x
			.m-t-xl
				h1.text-info
					= user.members.size

.col-md-3
	.panel-body.box-info
		.stats-title.pull-left
			h4 Katalog
		.stats-icon-1.pull-right
			i.pe-7s-ticket.fa-4x
		.m-t-xl
			h1.text-info
				= user.catalogs.size

.col-md-3
	.panel-body.box-info
		.stats-title.pull-left
			h4 Order
		.stats-icon-1.pull-right
			i.pe-7s-cart.fa-4x
		.m-t-xl
			h1.text-info
				= user.orders.without_in_progress.size

.col-md-3
	.panel-body.box-info
		.stats-title.pull-left
			h4 Komisi
		.stats-icon-1.pull-right
			i.pe-7s-wallet.fa-4x
		.m-t-xl
			h1.text-info
				= user.commissions.all_approved.size


