.col-md-12.col-sm-12.col-xs-12
  .box-comision-approve
    .title-approve
      | Penjualan
    .row
      .col-md-3.col-sm-3.col-xs-6
        .cash-approve
          = get_currency(@earning_today)
        .desc-approve
          | Hari ini
      .col-md-3.col-sm-3.col-xs-6
        .cash-approve
          = get_currency(@earning_yesterday)
        .desc-approve
          | Kemarin
      .col-md-3.col-sm-3.col-xs-6
        .cash-approve
          = get_currency(@earning_last_7_day)
        .desc-approve
          | 7 Hari terakhir
      .col-md-3.col-sm-3.col-xs-6
        .cash-approve
          = get_currency(@earning_this_month)
        .desc-approve
          | Bulan ini