#wrapper
  .welcome
    .hpanel
      .panel-body
        .icon-hi
          i.pe-7s-chat
        .text-hi
          h2
            | Selamat Datang di 
            strong DROPSHIPAN
          p
            | Halaman ini untuk anda sebagai Reseller Dropshipan, kelola dan lakukan penjualan sebanyak banyaknya.
  .content.animate-panel
    .row
      .col-md-12.referral-dashboard
        .hpanel
          .panel-body
            p
              | Link Referral
            .input-group
              input.form-control value=new_user_registration_url(ref: @member.code) class="js-link-target-#{@member.id}"
              span.input-group-btn
                button.btn.clipboard-btn.btn-default.btn-secondary data-clipboard-target=".js-link-target-#{@member.id}"
                  i.fa.fa-copy
                  | &nbsp; Salin
            | <small>&nbsp; * Gunakan link ini untuk mengajak teman-temanmu sebanyak-banyaknya daftar sebagai Reseller dropshipan, setiap transaksi penjualan yang didapat akan menjadi keuntunganmu berupa komisi referral. Komisi refferal akan anda dapatkan setelah anda mencapai target omset setiap periode pembayaran komisi penjualan.</small>
            br
            br
            p 
              | Download Landing Page Dropshipan 
              = link_to 'disini', 'https://bit.ly/LP_Dropshipan', target: '_blank', title: 'LP Dropshipan'

    .hpanel
      .row
        .js-partial_js
          = render 'partial_js', user: @member