.row
  .col-md-4
    .form-group
      = label_tag "Merchants"
      = f.select :merchant_id, options_for_select(get_merchants.map{|p| [p.username, p.id]}, resource.merchant_id), {prompt: 'Select Merchant'}, class: 'form-control select2','data-node' => "merchant", required: true
  .col-md-3
    .form-group
      = f.label :payment_start
      = f.text_field :payment_start, placeholder: "Enter payment start", class: 'form-control datepicker', required: true
  .col-md-3
    .form-group
      = f.label :payment_end
      = f.text_field :payment_end, placeholder: "Enter payment end", class: 'form-control datepicker', required: true
  .col-md-2
    .form-group
      = label_tag "Total"
      br
      = link_to "Hitung Payment", "#",class: 'btn btn-success btn-block payment_date_selected'
  .balance-container
    .col-md-12
      .panel.panel-default
        .panel-body
          p
            | Total Penjualan &nbsp;
            b = get_currency_full(resource.price)
          p
            | Total Ongkir &nbsp;
            b = get_currency_full(resource.ongkir)
          p
            | Total Omset &nbsp;
            b = get_currency_full(resource.total)
    .col-md-6
      .form-group
        = label_tag :from_acc
        = f.text_field :from_acc, placeholder: "Masukkan Rekening Pengirim",class: 'form-control', required: true
    .col-md-6
      .form-group
        = label_tag :to_acc
        = f.text_field :to_acc, placeholder: "Masukkan Rekening Penerima", class: 'form-control', required: true
    .col-md-12
      .form-group
        = label_tag :message
        = f.text_area :message, placeholder: "Masukkan Pesan", class: 'form-control'
  .col-md-12
    .form-group
      = label_tag :status
      = f.select :status, options_for_select(PaymentMerchant::STATUSES, resource.try(:status)), {prompt: 'Pilih Status'}, class: 'form-control', required: true

javascript:
  $(document).on('click', '.payment_date_selected', function() {
    $merchant_id = document.getElementById("payment_merchant_merchant_id").value;
    $payment_start = document.getElementById("payment_merchant_payment_start").value;
    $payment_end = document.getElementById("payment_merchant_payment_end").value;
    $node = $merchant_id+"+"+$payment_start+"+"+$payment_end;
    if($merchant_id != '' && $merchant_id != 'undefined' && $payment_start != '' && $payment_start != 'undefined' && $payment_end != '' && $payment_end != 'undefined'){
      alert("Penghitungan payment berhasil.");
      $.get('/xhrs/get_payment_merchant?id='+$(this).val()+'&node='+$node, function(result){
        $('.balance-container').html(result);
      })
    }else{
      alert("Penghitungan gagal. kolom user/payment start/payment end belum diisi.");
    }
  });