.col-md-12
	= render 'backend/shareds/search_form_payment_merchant'
	= form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do
		.row
			.col-md-3
				.box-top-detail.orange
					b.txt-orange #{get_currency(@collection_pending)}
					br
					| Pending
			.col-md-3
				.box-top-detail.blue
					b.txt-blue #{get_currency(@collection_process)}
					br
					| Process
			.col-md-3
				.box-top-detail.green
					b.txt-green #{get_currency(@collection_paid)}
					br
					| Paid
			.col-md-3
				.box-top-detail.red
					b.txt-red #{get_currency(@collection_rejects)}
					br
					| Reject
		.widget
			= render partial: 'backend/shareds/prepare_table', locals: {table_name: 'PaymentMerchant', button_name: 'PaymentMerchant', add_method: true}
			.widget-content
				.table-responsive
					table class="table table-striped table-bordered table-hover"
						thead
							tr
								th
									= check_box_tag :check_all
								th Kode Invoice
								th Merchant
								th ADM
								th Total
								th Status
								th Periode
								th Created At
								th Action
						tbody
							- if @collection.blank?
								tr
									td colspan="12" 
										= render "shareds/empty_blank"
							- else
								- @collection.each_with_index do |resource, index|
									tr
										td
											- unless resource.is_paid?
												= check_box_tag "ids[]", resource.id
											- else
												| -
										td
											= link_to resource.code, resource_path(resource)
										td
											= "(#{resource.merchant_id}) #{resource.merchant.username}"
										td
											= resource.admin.username
										td
											= get_currency(resource.total)
										td
											= resource.status?
											br
											= resource.merchant.status_payment?
										td
											= resource.payment_period?
										td
											= get_datetime(resource.created_at)
										td
											= link_to '<i class="fa fa-download" aria-hidden="true"></i>'.html_safe, backend_payment_snapshot_path(resource, format: 'pdf'), class: 'btn btn-xs btn-default'
											| &nbsp;
											= render partial: 'backend/shareds/prepare_action',
												locals: { resource: resource, confirmation: "Are you sure delete this payment snapshots", no_show: false }

				.widget-foot
					.pull-right
						= paginate @collection, remote: true if @collection.present?
					.clearfix
