.col-md-12
	.widget
		.widget-head
			.pull-left
				| Detail Pembayaran Merchant
			.widget-icons.pull-right
				| <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
				| <a href="#" class="wclose"><i class="fa fa-times"></i></a>
			.clearfix
		.widget-content
			.padd
				.row
					.col-md-8
						h3
							b
								i.fa.fa-globe &nbsp;
								= resource.code 
					.col-md-4
						h5.uppercase.pull-right 
							= get_datetime(resource.created_at)
				hr
				.row
					.content-timeline
						.col-md-6.col-sm-6
							h5
								| Transfer Dari
							h5 
								b
									= resource.from_acc
						.col-md-6.col-sm-6
							h5
								| Ke
							h5 
								b 
									= resource.to_acc
					.col-xs-12
						.table-responsive
							table.table
								thead
									tr
										th Periode
										th Total Penjulan
										th Total Pengiriman
										th Total
										th Status
								tbody
									tr
										td
											- if resource.payment_start.present?
												= resource.payment_period?
											- else
												| -
										td
											= get_currency(resource.price)
										td
											= get_currency(resource.ongkir)
										td
											= get_currency(resource.total)
										td
											= resource.status?
						h5
							b Pesan :
							| &nbsp;
							| #{resource.message}

						= link_to '<i class="fa fa-download" aria-hidden="true"></i> Generate PDF'.html_safe, backend_payment_merchant_path(resource, format: 'pdf') , class: 'btn btn-g'
			.widget-foot
				= link_to '<i class="fa fa-chevron-left"></i>'.html_safe, :back, class: 'btn btn-xs btn-primary', title: "Kembali"
				| &nbsp;
				= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_resource_path(resource), class: 'btn btn-xs btn-warning', title: "Ubah"

	.panel
		.panel-body
			.tabbable
				ul.nav.nav-tabs
					li.active
						a data-toggle="tab" href="#tab2_1" Aktifitas
				br
				.tab-content
					#tab2_1.tab-pane.active
						h2 align="center" Daftar Aktifitas
						br
						= form_for :search, url: backend_payment_merchant_path(resource), method: 'get', html: {class: 'form-search', remote: true} do
							.input-group.wd100
								.col-md-4.no-padding
									= text_field_tag :key_activities, params[:key_activities], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
								.col-md-3.no-padding
									= select_tag :status_activities, options_for_select(Activity::STATUSES, params[:status_activities]), prompt: 'Pilih Status', class: 'form-control'
								.col-md-2.no-padding
									= text_field_tag :start_at_activities, nil, value: params[:start_at_activities], class: 'form-control datepicker', placeholder: 'Start At'
								.col-md-2.no-padding
									= text_field_tag :end_at_activities, nil, value: params[:end_at_activities], class: 'form-control datepicker',  placeholder: 'End At'
								.col-md-1.no-padding
									= submit_tag :search, class: 'btn btn-info btn-block'
						br
						#list-activities
							= render "list_activities"