section.invoice
	.row
		.col-md-12
			h4.page-header
				i.fa.fa-globe &nbsp;
				= resource.code
				small.date-invoice.pull-right #{get_datetime(resource.created_at)}
	.row.invoice-info
		.col-md-6.col-sm-6.invoice-col
			| Transfer Dari
			address
				b= resource.from_acc
		.col-md-6.col-sm-6.invoice-col
			| Ke
			address
				b= resource.to_acc
	.row
		.col-xs-12
			.table-responsive
				table.table.table-striped.table-bordered
					thead
						tr
							th merchant
							th Periode
							th Total Penjualan
							th Total Pengiriman
							th Total
							th Status
					tbody
						tr
							td
								= "(#{resource.merchant.id}) #{resource.merchant.username}"
							td
								- if resource.payment_start.present? 
									= resource.payment_period?
									
								- else
									| -
							td
								= get_currency(resource.price)
							td
								= get_currency(resource.ongkir)
							td
								= get_currency(resource.total)
							td
								= resource.status?
			- if resource.message.present?
				h6
					b Pesan :
					| &nbsp;
					| #{resource.message}