.col-md-4.col-sm-4.col-xs-12
  .box-comision-approve
    .title-approve
      | Total Komisi Di Setujui
    hr
    .row
      .col-md-6.col-xs-6
        .cash-approve
          = @commission_approved.sum(:quantity) rescue 0
        .desc-approve
          | Transaksi
      .col-md-6.col-xs-6
        .cash-approve
          = get_currency(@commission_approved.sum(:commission_member))
        .desc-approve
          | Reseller
      .col-md-6.col-xs-6
        .cash-approve
          = get_currency(@commission_approved.sum(:commission_company))
        .desc-approve
          | Perusahaan
      .col-md-6.col-xs-6
        .cash-approve
          = get_currency(@commission_approved.sum(:commission_am))
        .desc-approve
          | AM
.col-md-4.col-sm-4.col-xs-12
  .box-comision-approve
    .title-approve
      | Total Komisi Pending
    hr
    .row
      .col-md-6.col-xs-6
        .cash-approve
          span.orange 
           = @commission_pending.sum(:quantity) rescue 0
        .desc-approve
          | Transaksi
      .col-md-6.col-xs-6
        .cash-approve
          span.orange 
            = get_currency(@commission_pending.sum(:commission_member))
        .desc-approve
          | Reseller
      .col-md-6.col-xs-6
        .cash-approve
          span.orange 
            = get_currency(@commission_pending.sum(:commission_company))
        .desc-approve
          | Perusahaan
      .col-md-6.col-xs-6
        .cash-approve
          span.orange 
            = get_currency(@commission_pending.sum(:commission_am))
        .desc-approve
          | AM
.col-md-4.col-sm-4.col-xs-12
  .box-comision-approve
    .title-approve
      | Total Komisi Di Tolak
    hr
    .row
      .col-md-6.col-xs-6
        .cash-approve
          span.red 
           = @commission_reject.sum(:quantity) rescue 0
        .desc-approve
          | Transaksi
      .col-md-6.col-xs-6
        .cash-approve
          span.red 
            = get_currency(@commission_reject.sum(:commission_member))
        .desc-approve
          | Reseller
      .col-md-6.col-xs-6
        .cash-approve
          span.red 
            = get_currency(@commission_reject.sum(:commission_company))
        .desc-approve
          | Perusahaan
      .col-md-6.col-xs-6
        .cash-approve
          span.red 
            = get_currency(@commission_reject.sum(:commission_am))
        .desc-approve
          | AM