= render 'members/commissions/estimate'
= render 'backend/commissions/box_content'
= render 'members/commissions/box_analytic', key: :commission_company, link_path: backend_commissions_path, search_key: 'Kode Komisi/Kode Invoice/Kode atau Nama Produk/Kode Katalog', box_for: 'commission'