<table border="1">
	<caption>Daftar Komisi Penjualan <%= show_search_form_date(params[:start_at], params[:end_at]) %></caption>
	<tr>
		<th>No</th>
		<th>Kode Komisi</th>
		<th>Kode Invoice</th>
		<th>Produk</th>
		<th>Qty</th>
		<th>Kode Katalog</th>
		<th>Katalog Terjual</th>
		<th>Reseller</th>
		<th>Order Item</th>
		<th>Komisi Perusahaan</th>
		<th>Komisi AM</th>
		<th>Komisi Referral</th>
		<th>Komisi Reseller</th>
		<th>Status</th>
		<th>Tanggal Masuk</th>
	</tr>
	<% @collection_all.each_with_index do |resource, index| %>
	<tr>
		<td><%= index+1 %></td>
		<td><%= resource.try(:uniq_code) %></td>
		<td><%= resource.try(:order).try(:code) %></td>
		<td><%= "#{resource.try(:product).try(:title)} (#{resource.try(:product).try(:code)}) <b>#{get_currency(resource.try(:product).try(:price))}</b>".html_safe %></td>
		<td><%= resource.try(:quantity) %></td>
		<td><%= resource.try(:catalog).try(:code) %></td>
		<td><b><%= get_currency(resource.try(:order_item).try(:total_price)) %></b></td>
		<td><%= resource.member.username %></td>
		<td><%= resource.order_item.no_invoice %></td>
		<td><b><%= get_currency(resource.commission_company) %></b></td>
		<td><b><%= get_currency(resource.commission_am) %></b></td>
		<td>
			<% resource.commission_referrals.each_with_index do |r, index| %>
				<% if r.member.present? %>
					<%= "REF#{index+1}: - #{get_currency(r.commission_value)} (#{r.try(:member).try(:username)})".html_safe %>
				<% end %>
			<% end %>
		</td>
		<td><b><%= get_currency(resource.try(:commission_member)) %></b></td>
		<td><%= resource.try(:status) %></td>
		<td><%= resource.commission_date.strftime("%d %B %Y - %I:%M") if resource.commission_date.present? %></td>
	</tr>
	<% end %>
</table>