- if params[:action] == 'index'
  .hpanel
    .row
      .col-md-4.col-sm-12.col-xs-12
        .title-member-content 
          b Katalog Terpublish
      .col-md-8.col-sm-12.col-xs-12
        = render 'members/catalogs/catalog_menu'
      .col-md-12.col-sm-12.col-xs-12
        = render 'members/catalogs/search_catalog', search_path: collection_path, placeholder: "Cari Produk/Reseller"
        .row
          - if @collection.blank?
            .col-md-12.col-sm-12.col-xs-12
              = render 'shareds/empty_blank'
          - else
            - @collection.each do |resource|
              .col-md-12.col-sm-6.col-xs-12
                = render 'members/catalogs/list', resource: resource     
  = paginate @collection, remote: true if @collection.present?
  
- elsif params[:action] == 'inactive'
  .hpanel
    .row
      .col-md-4.col-sm-12.col-xs-12
        .title-member-content 
          b Katalog Inactive
      .col-md-8.col-sm-12.col-xs-12
        = render 'members/catalogs/catalog_menu'
      .col-md-12.col-sm-12.col-xs-12
        = render 'members/catalogs/search_catalog', search_path: collection_path, placeholder: "Cari Produk/Reseller"
        .row
          - if @collection.blank?
            .col-md-12.col-sm-12.col-xs-12
              = render 'shareds/empty_blank'
          - else
            - @collection.each do |resource|
              .col-md-12.col-sm-6.col-xs-12
                = render 'members/catalogs/list', resource: resource   
  = paginate @collection, remote: true if @collection.present?