#wrapper
  .content.animate-panel
    .hpanel
      .title-member-content.center
        b.title-mgbot
          span.nav-label Download Katalog
      .panel-body.box-search-catalog
        = form_for :search, url: download_catalogs_managers_catalogs_path, html: {class: 'simple-search-form js-simple-search-form'}, method: 'get' do
          .input-key
            .select-category.mg-bot0
              = select_tag :category_id, options_for_select(Category.roots.alfa.active.map{|c| [c.name, c.id]}, params[:category_id]), prompt: 'Pilih Kategori', class: 'select2 form-control form-custom2', onchange: "this.form.submit()"
          .submit-search
            = link_to '<i class="fa fa-download"></i>&nbsp;<small>Unduh file ZIP katalog</small>'.html_safe, @link_download_category, target: "_blank", class: "form-control btn-gb"
      .row
        - if @collection.blank?
          = render 'shareds/empty_blank'
        - else
          - @collection.each do |resource|
            = render 'members/catalogs/list_download_catalogs', resource: resource
      .widget-foot
        = paginate @collection