.col-md-12.col-xs-12.col-sm-12
  = render 'members/orders/search_order'
  .box-table
    .table-responsive
      table.table.table-striped.table-bordered.table-hover.mg-bot0
        thead
          tr
            th # 
            th Invoice 
            th Pengirim  
            th Pembeli  
            th Nominal 
            th Pembayaran Ke Akun Bank 
            th Metode Pembayaran 
            th Tanggal Pembayaran
        tbody
          - if @collection.blank?
            tr
              td colspan="8" 
                = render "shareds/empty_blank"
          - else
            - @collection.each_with_index do |resource, index|
              tr 
                td 
                  = index+1
                td
                  = link_to "#{resource.no_invoice}", members_order_path(resource.order) if resource.order.present?
                td
                  = "#{resource.try(:from_bank_name)} - #{resource.try(:sender_name)} - #{resource.try(:from_account_number)}"
                td
                  = resource.name
                td
                  b
                    = get_currency(resource.nominal) if resource.nominal.present?
                td
                  = resource.bank_account
                td
                  = resource.payment_method
                td
                  = resource.try(:payment_date).strftime("%B, %d, %Y") if resource.payment_date.present?
  .widget-foot
    = paginate @collection