.tabbable
	ul.nav.nav-tabs
		li.active
			a data-toggle="tab" href="#tab1"  General
		li
			a data-toggle="tab" href="#tab2"  Setting SEO
		li
			a data-toggle="tab" href="#tab3"  FAQ
		li
			a data-toggle="tab" href="#tab4"  Payment
		li
			a data-toggle="tab" href="#tab5"  Shipping
		li
			a data-toggle="tab" href="#tab6"  Slider
	.tab-content
		#tab1.tab-pane.active
			.row
				.col-md-6
					h6 Favicon
					= image_tag f.object.favicon.url(:small), class: 'show-choice customize-img-web-setting'
					= f.file_field :favicon, class: 'input-file'
				.col-md-6
					h6 Logo
					= image_tag f.object.logo.url(:small), class: 'show-choice customize-img-web-setting'
					= f.file_field :logo, class: 'input-file'
				.col-md-6
					h6 Instagram
					= f.text_field :instagram, class: 'form-control', required: true
				.col-md-6
					h6 Facebook
					= f.text_field :facebook, class: 'form-control', required: true
				/ .col-md-6
				/   h6 Header Tags
				/   = f.text_field :header_tags, class: 'form-control', required: true
				.col-md-6
					h6 Footer Tags
					= f.text_field :footer_tags, class: 'form-control', required: true
				.col-md-6
					h6 Contact
					= f.text_field :contact, class: 'form-control', required: true
				.col-md-6
					h6 Email
					= f.text_field :email, class: 'form-control', required: true
				.col-md-6
					h6 Address
					= f.text_field :address, class: 'form-control', required: true
				.col-md-6
					h6 Longitude
					= f.text_field :longitude, class: 'form-control'
				.col-md-6
					h6 Latitude
					= f.text_field :latitude, class: 'form-control'
				.col-md-12
					h6 Accepted Rules
					= f.cktext_area :accepted_rules, class: 'form-control'
			.break
		#tab2.tab-pane
			.row
				.col-md-12
					/ h3 Setting SEO (<em>Search Engine Optimation</em>)
					/ hr
					.row
						.col-md-6
							h6 Title
							= f.text_field :title, class: 'form-control', required: true
						.col-md-6
							h6 Keyword
							= f.text_field :keywords, class: 'form-control', required: true
						.col-md-6
							h6 Description
							= f.text_area :description, class: 'form-control', required: true
						.col-md-6
							h6 Search Engine
							= f.text_area :search_engines, class: 'form-control', placeholder: 'Keyword 1, Keyword 2'
						.col-md-6
							h6 Meta Robot
							= f.text_field :robot, class: 'form-control', placeholder: 'Example: Index, Follow, NoFollow'
						.col-md-6
							h6 Author
							= f.text_field :author, class: 'form-control', placeholder: 'author project'
						.col-md-6
							h6 Copyright
							= f.text_field :corpyright, class: 'form-control', placeholder: 'Example: Online Shop'
						/ .col-md-6
						/   h6 Revisit
						/   = f.text_field :revisit, class: 'form-control', placeholder: '2 Days'
						/ .col-md-6
						/   h6 Expires
						/   = f.text_field :expires, class: 'form-control', placeholder: 'never'
						/ .col-md-6
						/   h6 Revisit After
						/   = f.text_field :revisit_after, class: 'form-control', placeholder: '2 Days'
						/ .col-md-6
						/   h6 GeoPlacename
						/   = f.text_field :geo_placename, class: 'form-control', placeholder: 'Example: Indonesia'
						/ .col-md-6
						/   h6 Language
						/   = f.text_field :language, class: 'form-control', placeholder: 'ID'
						/ .col-md-6
						/   h6 Country
						/   = f.text_field :country, class: 'form-control', placeholder: 'ID'
						/ .col-md-6
						/   h6 Content language
						/   = f.text_field :content_language, class: 'form-control', placeholder: 'All-Language'
						/ .col-md-6
						/   h6 Distribution
						/   = f.text_field :distribution, class: 'form-control', placeholder: 'global'
						/ .col-md-6
						/   h6 Generator
						/   = f.text_field :generator, class: 'form-control', placeholder: 'website'
						/ .col-md-6
						/   h6 Rating
						/   = f.text_field :rating, class: 'form-control', placeholder: 'general'
						/ .col-md-6
						/   h6 Target
						/   = f.text_field :target, class: 'form-control', placeholder: 'target'
						.col-md-6
							h6 FB pixel
							= f.text_field :fb_fixels_dashboard, class: 'form-control', placeholder: 'Masukkan Id FB pixel'
						/ .col-md-6
						/   h6 FB pixel view
						/   = f.text_field :fb_fixels_view, class: 'form-control', placeholder: 'FB pixel view'
						/ .col-md-6
						/   h6 FB pixel cart
						/   = f.text_field :fb_fixels_cart, class: 'form-control', placeholder: 'FB pixel cart'
						/ .col-md-6
						/   h6 FB pixel checkout
						/   = f.text_field :fb_fixels_checkout, class: 'form-control', placeholder: 'FB pixel checkout'
						/ .col-md-6
						/   h6 FB pixel purchase
						/   = f.text_field :fb_fixels_purchase, class: 'form-control', placeholder: 'FB pixel purchase'
						.col-md-12
							h6 Google Analytic
							= f.text_area :google_analytic, class: 'form-control', placeholder: 'Google Analytic'
			.break
		#tab3.tab-pane
			.row
				.col-md-12
					/ h3 F.A.Q Information
					/ hr
					= f.fields_for :faq do |faq|
						= render 'form_faq', faq: faq
			.break
		#tab4.tab-pane
			.row
				.col-md-12
					/ h3 Payment Account Information
					/ hr
				.setup-content
					= render partial: 'form_payment', locals: {f: f}
			.break
		#tab5.tab-pane
			.row
				.col-md-12
					/ h3 Shipping Methods
					/ hr
				.setup-content
					= render partial: 'form_shipping', locals: {f: f}
			.break
		#tab6.tab-pane
			.row
				.col-md-12
					/ h3 Image Home Slider
					/ hr
				.setup-content
					= render partial: 'gallery_form', locals: {f: f}
.buttons
	button class="btn btn-sm btn-info" type="submit" id="savebutton" SIMPAN

javascript:
	$('#savebutton').click(function () {
		$(':required:invalid', "#edit_web_setting_#{params[:id]}").each(function () {
			var id = $('.tab-pane').find(':required:invalid').closest('.tab-pane').attr('id');

			$('.nav a[href="#' + id + '"]').tab('show');
		});
	});