= f.fields_for :shipping_methods do |p|
  = render 'shipping_methods_fields', f: p

.col-md-12
  = link_to_add_association f, :shipping_methods, partial: 'shipping_methods_fields', class: "btn btn-success btn-sm" do
    i class="fa fa-picture-o"
    span Tambah Pengiriman
