.row
  .col-md-6
    h6 Pembayaran
    = faq.cktext_area :payment, class: 'form-control', required: true
  .col-md-6
    h6 Pengiriman
    = faq.cktext_area :shipping, class: 'form-control', required: true
  .col-md-6
    h6 Refund dan Exchange
    = faq.cktext_area :refund_and_exchange, class: 'form-control', required: true
  .col-md-6
    h6 Faq
    = faq.cktext_area :faq, class: 'form-control'
