= f.fields_for :galleries do |g|
  = render 'backend/web_settings/gallery_fields', f: g

.col-md-12
  = link_to_add_association f, :galleries, partial: 'backend/web_settings/gallery_fields', class: "btn btn-success btn-sm" do
    i class="fa fa-picture-o"
    span Tambahkan Banner Carousel
