.col-md-12
  .widget
    = render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Web Settings', button_name: 'Web Settings', add_method: true}
    .widget-content
      .table-responsive
        table class="table table-striped table-bordered table-hover"
          thead
            tr
              th #
              th Web Setting
              th Website
              th Action
          tbody
            - if @collection.blank?
              tr
                td colspan="4" 
                  = render "shareds/empty_blank"
            - else
              - @collection.each_with_index do |resource, index|
                tr
                  td width='50px' = index+1
                  td = resource.member.present? ? resource.member.username : 'Official'
                  td = resource.title
                  td width='100px'
                    = render partial: 'backend/shareds/prepare_action',
                      locals: { resource: resource, confirmation: "Are you sure delete this #{resource.id}", no_show: false }
      .widget-foot
        .pull-right
          = paginate @collection if @collection.present?
        .clearfix