.row
  - if current_user.present? && current_user.member?
    .col-md-6
      = link_to '<i class="fa fa-mail-reply"></i> Kembali Belanja'.html_safe, members_shops_path, class: "btn btn-lg btn-danger btn-back-order"
    .col-md-6
      = link_to '<i class="fa fa-money"></i> Bayar Sekarang'.html_safe, cart_members_shops_path, class: "btn btn-lg btn-out-cart"
  - else
    .col-md-6
      = link_to '<i class="fa fa-mail-reply"></i> Kembali Belanja'.html_safe, products_path, class: "btn btn-lg btn-danger btn-back-order"
    .col-md-6
      = link_to '<i class="fa fa-money"></i> Bayar Sekarang'.html_safe, orders_path, class: "btn btn-lg btn-out-cart"
