<%= @setting.google_analytic.html_safe if @setting.present? && @setting.google_analytic.present? %>
<%= @setting_global.google_analytic.html_safe if @setting_global.present? && @setting_global.google_analytic.present? %>