section.section-carousel
  #transition-timer-carousel class="home-carousel carousel slide transition-timer-carousel" data-ride="carousel"
    .carousel-inner
      - @setting.galleries.each_with_index do |resource, index|
        div class=['item', "#{'active' if index == 0}"]
          = image_tag resource.file.url(:large)
    a class="left carousel-control" href="#transition-timer-carousel" data-slide="prev"
      span.glyphicon.glyphicon-chevron-left
    a class="right carousel-control" href="#transition-timer-carousel" data-slide="next"
      span.glyphicon.glyphicon-chevron-right

    hr class="transition-timer-carousel-progress-bar animate"

    .main-text
      .text-center
        h1 Berbelanja langsung dari orang-orang di seluruh dunia
        p Beli dari orang-orang kreatif yang peduli dengan kualitas dan keahlian
        = link_to products_path do
          button class="btn btn-alert btn-create-sell"
            | BELANJA SEKARANG

