<% if event == 'PageViews-publics-home' %>
  <% event = 'PageViews' %>
<% elsif event == 'PageViews-products-index' %> 
  <% event = 'PageViews' %>
<% elsif event == 'PageViews-products-show' %> 
  <% event = 'ViewContent' %>
<% elsif event == 'PageViews-orders-index' %> 
  <% event = 'Cart' %>
<% elsif event == 'PageViews-orders-review' %> 
  <% event = 'Purchase' %>
<% end %> 

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '353424001859752');
  fbq('init', '274459793103746');
  <% if @setting.fb_fixels_dashboard.present? %>
    fbq('init', '<%= @setting.fb_fixels_dashboard rescue '' %>');
  <% end %>
  <% if @product.present? %>
    fbq('track', 'ViewContent', {
      content_name: '<%= @product.title %> <%= @product.try(:merchant).try(:merchant_info).try(:title) %>', 
      content_category: '<%= @product.try(:sub_category).try(:name) %> > <%= @product.try(:parent_category).try(:name) %>',
      value: <%= @catalog.price.to_i %>,
      currency: 'IDR',
      referrer: document.referrer,
      userAgent: navigator.userAgent,
      language: navigator.language
    });  
  <% else %>
    fbq('track', '<%= event %>');
  <% end %>
</script>
<!-- End Facebook Pixel Code -->

<% if @product.present? %>
  <script type="text/javascript">
    $('#addToCartButton').click(function(){
      fbq('track', 'AddToCart', {
        content_name: '<%= @product.title %> <%= @product.try(:merchant).try(:merchant_info).try(:title) %>', 
        content_category: '<%= @product.try(:sub_category).try(:name) %> > <%= @product.try(:parent_category).try(:name) %>',
        value: <%= @catalog.price.to_i %>,
        currency: 'IDR',
        referrer: document.referrer,
        userAgent: navigator.userAgent,
        language: navigator.language
      });         
    });
  </script>
<% end %>

<% if params[:key].present? %>
  <script type="text/javascript">
    fbq('track', 'Search', {
      search_string: '<%= params[:key] %>'
    });         
  </script>
<% end %>

<noscript>
  <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=353424001859752&ev=<%= event %>&noscript=1"/>
  <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=274459793103746&ev=<%= event %>&noscript=1"/>
  <% if @setting.fb_fixels_dashboard.present? %>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=<%= @setting.fb_fixels_dashboard rescue '' %>&ev=<%= event %>&noscript=1"/>
  <% end %>
</noscript>
