footer.footer
  .container
    .row
      .col-md-3.col-sm-3
        h3 Layanan Pelanggan
        ul.footer-box-list
          li
            = link_to  'Tentang Kami', about_us_path
          li
            = link_to  'Kontak Kami', contacts_path
          li
            = link_to  'Cara Belanja', "#{root_url}/helps#help1"
          li  
            = link_to 'Cara Pembayaran', "#{root_url}/helps#help2"
          li  
            = link_to 'Info Pengiriman', "#{root_url}/helps#help3"
      .col-md-3.col-sm-3
        h3.dp-none &nbsp; 
        ul.footer-box-list
          li  
            = link_to 'Cara Pengembalian Produk', "#{root_url}/helps#help4"
          li  
            = link_to 'Panduan Ukuran', "#{root_url}/helps#help5"
          li  
            = link_to 'Butuh Bantuan?', helps_path
      .col-md-3.col-sm-3
        h3.dp-none &nbsp;
      .col-md-3.col-sm-3
        h3.dp-none &nbsp;
        .follow-us
          b
            | Temukan Kami &nbsp;&nbsp;
          a href="#{@subdomain.contact.facebook rescue ''}" class="btn site-facebook"
            i class="fa fa-facebook"
          a href="#{@subdomain.contact.instagram rescue ''}" class="btn site-twitter"
            i class="fa fa-instagram"
          a href="mailto:#{@subdomain.email rescue ''}" class="btn site-google-plus"
            i class="fa fa-google-plus"
  p.title-tags
    = @setting.footer_tags

= render 'shareds/sign_in'


