<script type="text/javascript">
  $('#maps').gmap3({
    map:{
      options:{
        center:[<%= @setting.longitude %>, <%= @setting.latitude %>],
        zoom: 15,
        scrollwheel: false
      }
    },
    marker:{
      values:[
      {latLng:[<%= @setting.longitude %>, <%= @setting.latitude %>], data:"<b><%= @setting.title %></b><br><%= @setting.address %>"},
      ],
      options:{
        draggable: false
      },
      events:{
        mouseover: function(marker, event, context){
          var map = $(this).gmap3("get"),
          infowindow = $(this).gmap3({get:{name:"infowindow"}});
          if (infowindow){
            infowindow.open(map, marker);
            infowindow.setContent(context.data);
          } else {
            $(this).gmap3({
              infowindow:{
                anchor:marker,
                options:{content: context.data}
              }
            });
          }
        },
        mouseout: function(){
          var infowindow = $(this).gmap3({get:{name:"infowindow"}});
          if (infowindow){
            infowindow.close();
          }
        }
      }
    }
  });
</script>