- link_confirm = current_user.present? && current_user.member? ? new_members_confirmation_path(invoice: @order.code) : new_confirmation_invoice_url(invoice: @order.code)
= render 'members/orders/progress'
.payment-to
  .row
    .col-md-4
      .title
        | Status Pembayaran
        br
        | #{@order.status?}
    .col-md-4
      .title
        | Transfer Pembayaran Ke
        br
        b = @order.try(:payment_to)
    .col-md-4
      .title
        | Total Pembayaran
        br
        .price = get_currency(@order.total_price)

.break
.panel.panel-default
  .panel-heading
    h4.text-center.uppercase
      | Invoice <strong>#{@order.code}</strong>
    center.small
      | <b>Tanggal Transaksi : </b> 
      = @order.try(:purchased_at).strftime("%B, %d, %Y") if @order.purchased_at
      br
      | <b>Masa Terakhir Dibayar : </b> 
      = (@order.try(:purchased_at)+ 3.days).strftime("%B, %d, %Y") if @order.purchased_at
  .panel-body
    .break
    .break
    .shopping-cart
      .row
        .col-md-12
          - if current_user.present? && current_user.admin?
          .catalog-item-show
            .table-responsive.table-review-order
              table class="table table-striped"
                thead
                  tr
                    td
                      | <strong>Dari Toko <a href="#">#{@order.try(:member).shop_title?}</a> (#{@order.try(:member).domain? rescue ''})</strong>
                    td class="text-center"
                      | <strong>Satuan</strong>
                    td class="text-center"
                      | <strong>Jumlah</strong>
                    td class="text-center"
                      | <strong>Berat</strong>
                    td class="text-right"
                      | <strong>Harga</strong>
                tbody
                  - @order.order_items.each do |order_item| 
                    tr
                      td
                        .avatar-author
                          = image_tag order_item.product.cover
                        .title-content-item
                          div
                            small.uppercase
                              b
                                = order_item.product.code
                          div
                            = link_to "#{order_item.product.title}", product_path(order_item.product.slug+'-'+order_item.catalog.id.to_s)
                          div
                            = order_item.variant
                          div
                            small
                              = order_item.message
                          div
                            = "#{order_item.status? if order_item.cancelled? || order_item.refund?} &nbsp; #{order_item.cancelled_reason?}".html_safe
                      td.text-center
                        span
                          = get_currency(order_item.price)
                      td.text-center
                        span
                          = order_item.quantity
                      td.text-center
                        | #{order_item.weight} gr
                      td.text-right
                        span
                          = get_currency(order_item.total_price)
                  tr
                    td class="highrow"
                    td class="highrow"
                    td class="highrow"
                    td class="highrow text-center"
                      | <h5>#{@order.weight?} gr</h5>
                    td class="highrow text-right"
                      | <h5>#{get_currency(@order.price)}</h5>
                  
                  - unless @order.cod?
                    tr
                      td class="highrow"
                      td class="highrow"
                      td class="highrow"
                      td class="highrow text-center"
                        h5 Pengiriman #{@order.shipping_method.upcase if @order.shipping_method.present?}
                        small #{@order.origin_name} - #{@order.try(:address).try(:city).try(:titleize)}, Kecamatan #{@order.try(:address).try(:district).try(:titleize)}
                      td class="highrow text-right"
                        | <h5>#{get_currency(@order.shipping_price) if @order.shipping_price.present?}</h5>
                  tr
                    td class="highrow"
                    td class="highrow"
                    td class="highrow"
                    td class="highrow text-center"
                      | <h5>TOTAL</h5>
                    td class="highrow text-right"
                      | <h5>#{get_currency(@order.total_price)}</h5>

      /h4 Lakukan Pembayaran Ke Nomor Rekening Dibawah Ini
      /.table-responsive.table-order-list
        table class="table table-striped"
          thead
            tr
              td class="text-center" width="20%"
                | <strong>Transaksi</strong>
              td class="text-center" width="20%"
                | <strong>Pembeli</strong>
              td class="text-center" width="20%"
                | <strong>Pembayaran Ke</strong>
              td class="text-center" width="15%"
                | <strong>Status Pembayaran</strong>
              td class="text-center" width="15%"
                | <strong>Total Pembayaran</strong>
          tbody
            tr
              td.text-center
                span
                  = @order.try(:purchased_at).strftime("%B, %d, %Y") if @order.purchased_at
              td.text-center
                span
                  = "#{@order.try(:payer_name)} (#{link_to @order.try(:payer_email), "mailto:#{@order.try(:payer_email)}" })".html_safe
              td.text-center
                span
                  = @order.try(:payment_to)
              td.text-center
                span
                  = @order.status?
              td.text-center
                span
                  b
                    = get_currency(@order.total_price)

      - if @order.cod?
        h4 Pengambilan Barang
        .table-responsive.table-order-list
          table class="table table-striped"
            thead
              tr
                td
                  strong COD/Ambil stockis dikantor Merchant
            tbody
              tr
                td
                  = "#{@order.courier?} #{@order.address_merchant?}".html_safe
      - else
        h4 Pengiriman
        .table-responsive.table-order-list
          table class="table table-striped"
            thead
              tr
                td class="text-center" width="15%"
                  | <strong>Penerima</strong>
                td class="text-center" width="20%"
                  | <strong>Metode Pengiriman</strong>
                td class="text-center" width="10%"
                  | <strong>Phone</strong>
                td class="text-center"
                  | <strong>Alamat Pengiriman</strong>
                td class="text-center"
                  | <strong>Status Pengiriman</strong>
                - if @order.shipped? && @order.number_shipping.present?
                  td class="text-center"
                    | <strong>No Resi</strong>
            tbody
              tr
                td.text-center
                  span
                    = @order.try(:payer_name)
                td.text-center
                  span
                    = @order.try(:shipping_method).try(:upcase)
                td.text-center
                  span
                    = @order.try(:payer_phone)
                td.text-center
                  span
                    = @order.try(:payer_address)
                td.text-center
                  span
                    = @order.status_order?
                - if @order.shipped? && @order.number_shipping.present?
                  td.text-center
                    span
                      = @order.try(:number_shipping)


      p
        | Silahkan melakukan pembayaran order ke rekening diatas terlebih dahulu, dan setelah melakukan pembayaran silahkan lakukan konfirmasi pembayaran dengan cara <b>#{link_to 'Mengisi Form Konfirmasi', link_confirm}</b> atau mengirim pesan <b><a href="https://api.whatsapp.com/send?phone=+6282189099045&text=Halo%20Admin%20Saya%20Mau%20Konfirmasi%20Pembayaran%20Order%20Belanja%20Dengan%20Kode%20Invoice%20#{@order.code}%20Berikut%20Saya%20Kirimkan%20Bukti%20Transfer%20Pembayarannya">Via WhatsApp</a></b> dan menyisipkan bukti pembayaran yang telah dibayar.
      br

      = link_to '<i class="fa fa-download" aria-hidden="true"></i> Simpan'.html_safe, review_order_path(@order, format: 'pdf'), class: 'btn btn-default btn-sm'
      = link_to 'Konfirmasi Pembayaran'.html_safe, link_confirm, class: 'btn btn-success btn-sm pull-right', target: '_blank'