.panel.panel-default
  .panel-heading
    h4.text-center.uppercase
      | Invoice <strong>#{@order.code}</strong>
    center.small
      | <b>Tanggal Transaksi : </b> 
      = @order.try(:purchased_at).strftime("%B, %d, %Y") if @order.purchased_at
      br
      | <b>Masa Terakhir Dibayar : </b> 
      = (@order.try(:purchased_at)+ 3.days).strftime("%B, %d, %Y") if @order.purchased_at
      - if current_user.admin?
        = form_for @order, url: backend_order_path(@order), method: 'put', html: {class: ''} do |f|
          = f.select :order_status_id, options_for_select(PaymentStatus.to_a, @order.order_status_id), {prompt: 'Select Status'}
          = f.submit :change, class: 'btn btn-xs btn-info'
  .panel-body
    .row
      .col-md-12
        h5.uppercase
          | Tagihan Untuk
        = @order.try(:payer_name)
        br
        small
          | Pengiriman: &nbsp;
          = @order.try(:payer_address)
    .break
    .break
    .shopping-cart
      - @stakeholders.each do |stakeholder|
        .row
          .col-md-12
            h5 Kode Pemesanan #{stakeholder.no_invoice.upcase}
            - if current_user.admin?
              = form_for stakeholder, url: backend_order_path(stakeholder), method: 'put', html: {class: ''} do |f|
                = f.select :track_order, options_for_select(TrackOrder.to_a, stakeholder.track_order), {prompt: 'Status Track Order'}
                = f.submit :change, class: 'btn btn-xs btn-info'
              br
            .catalog-item-show
              .table-responsive.table-order-list
                table class="table table-striped"
                  thead
                    tr
                      td width="35%"
                        | <strong>Dari Toko <a href="#">#{stakeholder.try(:merchant).try(:merchant_info).try(:title).try(:titleize)}</a></strong>
                      td class="text-center"
                        | <strong>Jumlah</strong>
                      td class="text-center"
                        | <strong>Berat</strong>
                      td class="text-right"
                        | <strong>Harga</strong>
                  tbody
                    - stakeholder.order_items.each do |order_item| 
                      tr
                        td
                          .avatar-author
                            = image_tag order_item.try(:product).try(:galleries).try(:first).try(:file).url(:medium)
                          small.uppercase
                            | Kode Produk <b>#{order_item.product.code}</b> <br>
                          = link_to "#{order_item.product.title}", product_path(order_item.product.slug+'-'+order_item.catalog.id.to_s), class: 'title-product'
                        td.text-center
                          span
                            = order_item.quantity
                        td.text-center
                          | #{order_item.weight} gr
                        td.text-right
                          span
                            = get_currency(order_item.total_price)
                    tr
                      td class="highrow"
                      td class="highrow"
                      td class="highrow text-center"
                        | <h5>Total Belanja</h5>
                      td class="highrow text-right"
                        | <h5>#{get_currency(stakeholder.price)}</h5>
                    tr
                      td class="highrow"
                      td class="highrow"
                      td class="highrow text-center"
                        h5 Pengiriman #{@order.shipping_method.titleize}
                        small #{stakeholder.try(:merchant).try(:address).try(:city).try(:titleize)} - #{@order.try(:address).try(:city).try(:titleize)}
                      td class="highrow text-right"
                        | <h5>#{get_currency(stakeholder.shipping_price) if stakeholder.shipping_price.present?}</h5>
                    tr
                      td class="highrow"
                      td class="highrow"
                      td class="highrow text-center"
                        | <h5>TOTAL</h5>
                      td class="highrow text-right"
                        | <h5>#{get_currency(stakeholder.total_price)}</h5>
                    tr
                      td class="highrow"
                      td class="highrow"
                      td class="highrow text-center"
                        | <h5>Status Pengiriman</h5>
                      td class="highrow text-right"
                        | <h5>#{stakeholder.status?}</h5>

      h4 Transaksi
      .table-responsive.table-order-list
        table class="table table-striped"
          thead
            tr
              td class="text-center" width="20%"
                | <strong>Tanggal Transaksi</strong>
              td class="text-center" width="20%"
                | <strong>Pembeli</strong>
              td class="text-center"
                | <strong>Pembayaran Ke</strong>
              td class="text-center"
                | <strong>Status Pembayaran</strong>
              - unless params[:controller] == 'userpage/order_items'
                td class="text-center"
                  | <strong>Total Pembayaran</strong>
          tbody
            tr
              td.text-center
                span
                  = @order.try(:purchased_at).strftime("%B, %d, %Y") if @order.purchased_at
              td.text-center
                span
                  = @order.try(:payer_name)
              td.text-center
                span
                  = @order.try(:payment_to)
              td.text-center
                span
                  = @order.status?
              - unless params[:controller] == 'userpage/order_items'
                td.text-center
                  span
                    b
                      = get_currency(@order.total_payment?)

      h4 Pengiriman
      .table-responsive.table-order-list
        table class="table table-striped"
          thead
            tr
              td class="text-center" width="15%"
                | <strong>Penerima</strong>
              td class="text-center" width="20%"
                | <strong>Metode Pengiriman</strong>
              td class="text-center" width="10%"
                | <strong>Phone</strong>
              td class="text-center"
                | <strong>Alamat Pengiriman</strong>
          tbody
            tr
              td.text-center
                span
                  = @order.try(:payer_name)
              td.text-center
                span
                  = @order.try(:shipping_method)
              td.text-center
                span
                  = @order.try(:payer_phone)
              td.text-center
                span
                  = @order.try(:payer_address)