= favicon_link_tag "#{@setting.favicon.url(:thumb)}"
meta http-equiv="X-UA-Compatible" content="IE=edge"
meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"

- if params[:controller] == 'pages' && params[:action] == 'show'
	- @title = "#{@request_landing_press.meta_title}"
	- @keywords = "#{@request_landing_press.meta_keywords}"
	- @url = "#{page_url(@request_landing_press.code)}"
	- @landing_press = @request_landing_press.landing_press
	title
		= @title
	meta name="author" content="#{@subdomain.shop_title? rescue ''}"
	meta name='keywords' content="#{@keywords}"
	meta name="description" content="#{strip_tags(truncate(strip_tags(@landing_press.description1), length: 100, omission: '...')) if @landing_press.description1.present?}"
	meta property="og:title" content="#{@title}"
	meta property="og:type" content="website"
	meta property="og:site_name" content="#{@url}"
	meta property="og:url" content="#{@url}"
	meta property="og:image" content="#{image_url @landing_press.banner.url(:medium) rescue nil }"
	meta property="og:description" content="#{strip_tags(truncate(strip_tags(@landing_press.description1), length: 100, omission: '...')) if @landing_press.description1.present?}"
	meta property="article:publisher" content="#{@subdomain.shop_title? rescue ''}"
	meta property="product:brand" content="#{@landing_press.brand}"
	meta property="product:availability" content="in stock"
	meta property="product:condition" content="new"
	meta property="product:price:amount" content="#{@request_landing_press.price.to_i}"
	meta property="product:price:currency" content="IDR"

	meta name="twitter:card" content="summary"
	meta name="twitter:url" content="#{@url}"
	meta name="twitter:title" content="#{@title}"
	meta name="twitter:description" content="#{strip_tags(truncate(strip_tags(@landing_press.description1), length: 100, omission: '...')) if @landing_press.description1.present?}"
	meta name="twitter:creator" content="#{@subdomain.shop_title? rescue ''}"
	meta name="twitter:image:src" content="#{image_url @landing_press.banner.url(:medium) rescue nil }"
- elsif params[:controller] == 'products' && params[:action] == 'show'
	- @title = "#{@product.title}"
	- @url = "#{product_url(@product.slug+'-'+@catalog.id.to_s)}"
	title
		= @title
	meta name="author" content="#{@subdomain.shop_title? rescue ''}"
	meta name='keywords' content="#{@product.title}, #{@product.try(:category).try(:name)}"
	meta name="description" content="#{strip_tags(truncate(strip_tags(@product.description), length: 100, omission: '...')) if @product.description.present?}"
	meta property="og:title" content="#{@title}"
	meta property="og:type" content="website"
	meta property="og:site_name" content="#{@url}"
	meta property="og:url" content="#{@url}"
	meta property="og:image" content="#{image_url @product.cover.url(:medium) rescue nil }"
	meta property="og:description" content="#{strip_tags(truncate(strip_tags(@product.description), length: 100, omission: '...')) if @product.description.present?}"
	meta property="article:publisher" content="#{@subdomain.shop_title? rescue ''}"
	meta property="product:brand" content="#{@product.try(:merchant).try(:merchant_info).try(:title)}"
	meta property="product:availability" content="in stock"
	meta property="product:condition" content="new"
	meta property="product:price:amount" content="#{@catalog.price.to_i}"
	meta property="product:price:currency" content="IDR"
	meta property="product:retailer_item_id" content="#{@product.id}"

	meta name="twitter:card" content="summary"
	meta name="twitter:url" content="#{@url}"
	meta name="twitter:title" content="#{@title}"
	meta name="twitter:description" content="#{strip_tags(truncate(strip_tags(@product.description), length: 100, omission: '...')) if @product.description.present?}"
	meta name="twitter:creator" content="#{@subdomain.shop_title? rescue ''}"
	meta name="twitter:image:src" content="#{image_url product.cover.url(:medium) rescue nil }"
- else
	- @title = @subdomain.shop_title?
	- @url = @subdomain.domain?
	title
		= @title
	meta content="#{@setting.author}" name='author'
	meta content="#{@setting.keywords}" name='keywords'
	meta content="#{strip_tags(truncate(strip_tags(@setting.description), length: 100, omission: '...')) if @setting.description.present?}" name="description"
	meta property="og:title" content="#{@title}"
	meta property="og:type" content="website"
	meta property="og:site_name" content="#{@url}"
	meta property="og:url" content="#{@url}"
	meta property="og:image" content="#{image_url @setting.logo_banner.url(:medium) rescue nil }"
	meta property="og:description" content="#{strip_tags(truncate(strip_tags(@setting.description), length: 100, omission: '...')) if @setting.description.present?}" name="description"
	meta property="article:publisher" content="#{@setting.author}"
	meta name="twitter:card" content="summary"
	meta name="twitter:url" content="#{@url}"
	meta name="twitter:title" content="#{@title}"
	meta name="twitter:description" content="#{strip_tags(truncate(strip_tags(@setting.description), length: 100, omission: '...')) if @setting.description.present?}"
	meta name="twitter:creator" content="#{@setting.author}"
	meta name="twitter:image:src" content="#{image_url @setting.logo_banner.url(:medium) rescue nil }"

meta content="#{@setting.robot}" name='robots'
meta content="#{@setting.corpyright}" name='copyright'
meta content="#{@setting.revisit}" name='revisit'
meta content="#{@setting.expires}" name='expires'
meta content="#{@setting.revisit_after}" name='revisit-after'
meta content="#{@setting.geo_placename}" name='geo.placename'
meta content="#{@setting.language}" name='language'
meta content="#{@setting.country}" name='geo.country'
meta content="#{@setting.content_language}" http-equiv='Content-Language'
meta content="#{@setting.distribution}" name='distribution'
meta content="#{@setting.generator}" name='generator'
meta content="#{@setting.rating}" name='rating'
meta content="#{@setting.target}" name='target'
meta content='true' name='MSSmartTagsPreventParsing'
meta content='text/html; charset=UTF-8' http-equiv='Content-Type'
meta content='index, follow' name='googlebot'
meta content='follow, all' name='Googlebot-Image'
meta content='follow, all' name='msnbot'
meta content='follow, all' name='Slurp'
meta content='follow, all' name='ZyBorg'
meta content='follow, all' name='Scooter'
meta content='all' name='spiders'
meta content='all' name='WEBCRAWLERS'
meta content='noodp' name='robots'
meta content='noydir' name='robots'
meta content="#{@setting.robot}" name='search engines'