- @title = @setting_global.title
- @url = Rails.application.secrets.host
= favicon_link_tag "#{@setting_global.favicon.url(:thumb)}"
meta http-equiv="X-UA-Compatible" content="IE=edge"
meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"

- if params[:controller] == "blogs" && params[:action] == "show"
	- @title = @resource.title
	- @url = blog_url(@resource)
	title
	  = @title
	meta content="#{@setting_global.keywords}" name='keywords'
	meta content="#{strip_tags(truncate(strip_tags(@resource.description), length: 100, omission: '...')) if @resource.description.present?}" name="description"
	meta property="og:title" content="#{@title}"
	meta property="og:type" content="website"
	meta property="og:site_name" content="#{@url}"
	meta property="og:url" content="#{@url}"
	meta property="og:image" content="#{image_url @resource.file.url(:large)}"
	meta property="og:description" content="#{strip_tags(truncate(strip_tags(@resource.description), length: 100, omission: '...')) if @resource.description.present?}" name="description"
	meta property="article:publisher" content="www.dropshipan.co.id"
	meta name="twitter:card" content="summary"
	meta name="twitter:url" content="#{@url}"
	meta name="twitter:title" content="#{@title}"
	meta name="twitter:description" content="#{strip_tags(truncate(strip_tags(@resource.description), length: 100, omission: '...')) if @resource.description.present?}"
	meta name="twitter:creator" content="www.dropshipan.co.id"
	meta name="twitter:image:src" content="#{image_url @resource.file.url(:large)}"

- else
	title
	  = @title
	meta content="#{@setting_global.keywords}" name='keywords'
	meta content="#{strip_tags(truncate(strip_tags(@setting_global.description), length: 100, omission: '...')) if @setting_global.description.present?}" name="description"
	meta property="og:title" content="#{@title}"
	meta property="og:type" content="website"
	meta property="og:site_name" content="#{@url}"
	meta property="og:url" content="#{@url}"
	meta property="og:image" content="#{image_url 'official/cover-dropshipan-share.jpg'}"
	meta property="og:description" content="#{strip_tags(truncate(strip_tags(@setting_global.description), length: 100, omission: '...')) if @setting_global.description.present?}" name="description"
	meta property="article:publisher" content="www.dropshipan.co.id"
	meta name="twitter:card" content="summary"
	meta name="twitter:url" content="#{@url}"
	meta name="twitter:title" content="#{@title}"
	meta name="twitter:description" content="#{strip_tags(truncate(strip_tags(@setting_global.description), length: 100, omission: '...')) if @setting_global.description.present?}"
	meta name="twitter:creator" content="www.dropshipan.co.id"
	meta name="twitter:image:src" content="#{image_url 'official/cover-dropshipan-share.jpg'}"

meta content="#{@setting_global.robot}" name='robots'
meta content="#{@setting_global.corpyright}" name='copyright'
meta content="#{@setting_global.revisit}" name='revisit'
meta content="#{@setting_global.expires}" name='expires'
meta content="#{@setting_global.revisit_after}" name='revisit-after'
meta content="#{@setting_global.geo_placename}" name='geo.placename'
meta content="#{@setting_global.language}" name='language'
meta content="#{@setting_global.country}" name='geo.country'
meta content="#{@setting_global.content_language}" http-equiv='Content-Language'
meta content="#{@setting_global.distribution}" name='distribution'
meta content="#{@setting_global.generator}" name='generator'
meta content="#{@setting_global.rating}" name='rating'
meta content="#{@setting_global.target}" name='target'
meta content='true' name='MSSmartTagsPreventParsing'
meta content='text/html; charset=UTF-8' http-equiv='Content-Type'
meta content='index, follow' name='googlebot'
meta content='follow, all' name='Googlebot-Image'
meta content='follow, all' name='msnbot'
meta content='follow, all' name='Slurp'
meta content='follow, all' name='ZyBorg'
meta content='follow, all' name='Scooter'
meta content='all' name='spiders'
meta content='all' name='WEBCRAWLERS'
meta content='noodp' name='robots'
meta content='noydir' name='robots'
meta content="#{@setting_global.robot}" name='search engines'