.modal.fade.bs-modal-sm id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"
  .modal-dialog.modal-sm
    .modal-content
      .modal-header.bg-sky.modal-header-info
        h3 align="center" Masuk
      .modal-body.modal-sign
        = form_for :user, url: user_session_path, method: 'post', html: {class: ""} do |f| 
          fieldset
            .form-group
              = link_to user_facebook_omniauth_authorize_path, class: 'btn btn-primary-fb' do 
                | <i class="fa fa-facebook pull-left"></i>
                | Masuk Dengan Facebook
            .form-group
              .col-xs-12.or-section
                | <i class="omb-or"></i><span class="omb-span">OR</span>
              .break
            .form-group
              .controls
                = f.text_field :login, class: "form-control", placeholder: "Username atau Email" 
            .form-group
              .controls
                = f.password_field :password, class: "form-control password", placeholder: "Kata Sandi" 
            .row
              .col-md-12
                .form-group
                  .controls
                    = f.submit 'Masuk',  class: "btn btn-lg btn-primary btn-block"
              .col-md-6
                small
                  | Not Member?
                  | <a href="#signup" data-dismiss="modal" data-toggle="modal" data-target=".bs-modal-sm2">Daftar</a>
              .col-md-6
                small
                  = link_to 'Lupa Kata Sandi ?', new_user_password_path

.modal.fade.bs-modal-sm2 id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"
  .modal-dialog.modal-sm
    .modal-content
      .modal-header.modal-header-info
        h3 align="center" Daftar
      .modal-body.modal-sign
        = form_for :user, url: user_registration_path, method: 'post', html: {class: "form-horizontal"} do |f| 
          = f.fields_for(:profile_attributes) do |profile| 
            fieldset
              .col-md-12
                .form-group
                  = link_to user_facebook_omniauth_authorize_path, class: 'btn btn-primary-fb' do 
                    | <i class="fa fa-facebook pull-left"></i> Daftar Dengan Facebook
                .form-group
                  .col-xs-12.or-section
                    | <i class="omb-or"></i><span class="omb-span">Atau</span>
                .form-group
                  label class="control-label" for="userid" Nama Lengkap:
                  .controls
                    = profile.text_field :full_name, class: "form-control", required: true 
                .form-group
                  label class="control-label" for="userid" Username:
                  .controls
                    = f.text_field :username, class: "form-control", required: true 
                .form-group
                  label class="control-label" for="Email" Email:
                  .controls
                    = f.email_field :email, class: "form-control", required: true 
                .form-group
                  label class="control-label" for="password" Kata Sandi:
                  .controls
                    = f.password_field :password, class: "form-control password", required: true 
                .form-group
                  label class="control-label" for="reenterpassword" Konfirmasi Kata Sandi:
                  .controls
                    = f.password_field :password_confirmation, class: "form-control password", required: true 
                .form-group
                  label class="control-label" for="confirm"
                  .controls
                    = f.submit 'Daftar', class: "btn btn-lg btn-primary btn-block btn-success"
                .form-group
                  .margin-auto-display-table
                    small 
                      | Telah Terdaftar?
                      | <a href="#signin" data-dismiss="modal" data-toggle="modal" data-target=".bs-modal-sm">Masuk</a>
