= form_for :multiple, url: products_path, method: 'get', html: {class: 'form-action-search'} do
  div id='top-navigation'
    nav.navbar-default
      .overplay-top-menu
      .container
        .row
          .col-md-12
            .navbar-header
              button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-megadropdown-tabs"
                span class="sr-only">Toggle navigation
                span class="icon-bar"
                span class="icon-bar"
                span class="icon-bar"
              - if @setting.logo.present?
                = link_to "#{image_tag @setting.logo.url(:small)}".html_safe, root_path, class: "navbar-brand"
              - else
                = link_to "#{image_tag 'dusbelanja.png'}".html_safe, root_path, class: "navbar-brand"
            .collapse.navbar-collapse id="bs-megadropdown-tabs"
              ul.nav.navbar-nav.top-menu
                li class="dropdown mega-dropdown"
                  = link_to 'SHOP', products_path
                  / a href="#" class="dropdown-toggle" data-toggle="dropdown"
                  /   | KATEGORI <i class='fa fa-angle-down pull-right'></i> 
                  / ul class="dropdown-menu mega-dropdown-menu row scroll"
                  /   / .col-sm-12
                  /   /   h3.h-all-categories Pilih Kategori Produk
                  /   /   hr
                  /   - @categories.each do |category|
                  /     li.col-sm-3
                  /       ul
                  /         li
                  /           = link_to "#{image_tag category.file.url(:thumb)} #{category.name}".html_safe, products_path(category: category.name)
                  /   .col-sm-12
                  /     .all-categories 
                  /       = link_to 'LIHAT SEMUA PRODUK', products_path
              .form-top-search.navbar-form.navbar-left
                .input-group
                  = text_field_tag :key, nil, class: 'form-control', placeholder: 'Cari berdasarkan kata sandi ...'
                  .input-group-btn
                    button class="btn btn-success js-search-button" type="submit"
                      i class="fa fa-search"
              ul class="nav navbar-nav navbar-right nav-account"
                - if @setting.order_via_cart? && current_user.blank? || current_user.present?
                  li.cart-text
                    = render 'shareds/cart_text'
                li
                  = link_to 'BANTUAN?', helps_path
                li
                  = link_to 'KONFIRMASI PEMBAYARAN', new_confirmation_invoice_path
                - if current_user.present?
                  li
                    = link_to '<i class="fa fa-mail-reply"></i> Keluar'.html_safe, destroy_user_session_path, method: 'delete'

  = flash_messages

  - if current_user.present? && current_user.member? && current_user.id == @subdomain.id
    .alert.alert-notice 
      = 'Jika anda sebagai Reseller melakukan pembelian diwebsite sendiri atas pemesanan pribadi, maka harga yang diberikan untuk setiap produk adalah harga Reseller!'
  - elsif current_user.present? && current_user.member? && current_user.id != @subdomain.id
    .alert.alert-danger 
      = 'Mohon maaf akun Reseller anda tidak diizinkan untuk melakukan pembelian disini!'

  - if params[:action] == 'home'
    / = image_tag @setting.logo.url, class: 'banner-logo'
    = render 'shareds/home/header_bar'
    / = render 'shareds/home/homepage_categories'
  - if params[:controller] == 'products' && params[:action] == 'index'
    / = image_tag @setting.logo.url, class: 'banner-logo'
    / = render 'shareds/home/categories'
  - if params[:controller] == 'products' && params[:action] == 'index'
    section.section-breadcrumb
      .container
        .row
          .col-md-12
            .row
              .col-md-3.breadcrumb
                = render_breadcrumbs
              .col-md-9
                span.title-content-product
                  | <b>#{@catalogs_all.size rescue 0}</b> Results Items
              = render 'shareds/products/simple_search'

              