/ h3 Kontak
/ hr
.col-md-6
  .form-group
    h6 Nomor HP/LINE/WA
    = profile.text_field :phone, class: 'form-control', placeholder: '+6285xxxxxxxxx'
  .form-group  
    h6 Nomor Telepon Rumah
    = contact.text_field :phone, class: 'form-control'
  .form-group  
    h6 BBM
    = contact.text_field :bbm, class: 'form-control'
.col-md-6
  .form-group
    h6 Website
    = contact.text_field :website, class: 'form-control'
  .form-group  
    h6 Facebook
    = contact.text_field :facebook, class: 'form-control'
  .form-group  
    h6 Instagram
    = contact.text_field :instagram, class: 'form-control'
