/ h3 Data Alamat
/ hr
.col-md-6
  .form-group
    h6 Provinsi
    .province-container
      = address.select :province, options_for_select(@all_province, address.object.province), {prompt: 'Pilih Provinsi'}, class: 'form-control provinces_select_shipment','data-node' => "merchant", required: true, disabled: true
.col-md-6  
  .form-group  
    h6 Kota
    .city-container
      = address.text_field :city, value: address.object.city.present? ? address.object.city.split(':')[1] : '', class: 'form-control cities_select_shipment', required: true, disabled: true
.col-md-6  
  .form-group  
    h6 Kecamatan
    .district-container
      = address.text_field :district, value: address.object.district.present? ? address.object.district.split(':')[1] : '', class: 'form-control', required: true, disabled: true
.col-md-6
  .form-group  
    h6 Kode Pos
    = address.text_field :postcode, class: 'form-control'
.col-md-12  
  .form-group
    h6 Alamat
    = address.text_area :address, class: 'form-control'
