/ h3 Informasi Mengenai Site 
.col-md-12
  .form-group
    h6 Banner
    .banner
      = image_tag merchant_info.object.banner.url(:large)
      = merchant_info.file_field :banner
  .form-group
    h6 Nama Toko
    = merchant_info.text_field :title, class: 'form-control'
  .form-group  
    h6 Tentang
    = merchant_info.cktext_area :description, class: 'form-control'
  .form-group  
    h6 Tipe Produk
    = merchant_info.text_field :product_type, class: 'form-control'
  .form-group  
    h6 No. BPOM
    = merchant_info.text_field :no_bpom, class: 'form-control'
  .form-group  
    h6 Nama Produk Unggulan
    = merchant_info.text_field :sample_product, class: 'form-control'
  .form-group  
    h6 Gambar Produk Unggulan
    .user
      = image_tag merchant_info.object.sample_product_image.url(:medium), style: 'width: 200px'
    = merchant_info.file_field :sample_product_image
.break
h3 Policies
hr
.col-md-12
  .form-group
    h6 Pembayaran
    = merchant_info.cktext_area :payment, class: 'form-control'
  .form-group  
    h6 Pengiriman
    = merchant_info.cktext_area :shipping, class: 'form-control'
  .form-group  
    h6 Pengembalian dan Penukaran
    = merchant_info.cktext_area :refund_and_exchange, class: 'form-control'
  .form-group  
    h6 Faq
    = merchant_info.cktext_area :faq, class: 'form-control'
