/ ------ FOR STAGING
/ - if check_domain_valid_dusbelanja? == true
/ 	= render 'shareds/products/latest_products'
/ - else
/ 	= render 'publics/not_found'

/ ------ FOR DEVELOPMENT
= render 'shareds/products/latest_products'