.col-md-8.col-md-offset-2.form-devise
  .panel.panel-default
    .panel-heading
      | Resend unlock instructions
    .panel-body
      = flash_messages
      = devise_error_messages!
      = form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
        fieldset
          .form-group
            label.label-style Email
            .controls
              = f.email_field :email, class: "form-control", placeholder: "Email"
          / Button
          .form-group
            .controls
              = f.submit 'Resend unlock instructions',  class: "btn btn-primary btn-block"
          .form-group
            = render "devise/shared/links"
