.row
  .col-md-12
    .well
      center
        h2 Status
        p = f.check_box :status
  .col-md-4
    h6 Kategori
    = f.select :category, CategoryLandingPage.to_a, {prompt: 'Pilih Kategori'}, {class: 'form-control', required: true} 
  .col-md-12
    h6 Page Title
    = f.text_field :title, class: 'form-control', required: true   
  .col-md-12
    h6 Deskripsi
    = f.cktext_area :description, class: 'form-control', required: true  
