.col-md-12
  .widget
    = render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Landing Pages', button_name: 'Landing Pages', add_method: true} 
    .widget-content
      .table-responsive
        table class="table table-striped table-bordered table-hover"
          thead
            tr
              th #
              th>Page
              th>Kategori
              th>Action
          tbody
            - if @collection.blank?
              tr
                td colspan="4" 
                  = render "shareds/empty_blank"
            - else
              - @collection.each_with_index do |resource, index| 
                tr
                  td = index+1
                  td = resource.title
                  td = resource.category
                  td
                    = render partial: 'backend/shareds/prepare_action',
                      locals: { resource: resource, confirmation: "Are you sure delete this #{resource.id}", no_show: false } 
      .widget-foot
        .pull-right
          = paginate @collection if @collection.present?
        .clearfix
