.col-md-12
  = render 'backend/shareds/search_form_affiliates'
  = form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do
    .row style="margin: 0 -10px;"
      .column-five
        .box-top-detail.green
          b.txt-green style="font-size: 16px;" 
            | #{get_currency(@basic_price)}
          br
          | Basic Price
      .column-five
        .box-top-detail.green
          b.txt-green style="font-size: 16px;" 
            | #{get_currency(@sale_price)}
          br
          | Sale Price
      .column-five
        .box-top-detail.green
          b.txt-green style="font-size: 16px;" 
            | #{get_currency(@fee_company)}
          br
          | Fee Company
      .column-five
        .box-top-detail.green
          b.txt-green style="font-size: 16px;" 
            | #{get_currency(@fee_member)}
          br
          | Fee Member
      .column-five
        .box-top-detail.green
          b.txt-green style="font-size: 16px;" 
            | #{get_currency(@fee_affiliate)}
          br
          | Fee Affiliate
    .widget
      = render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Invoice', button_name: 'Invoice', add_method: false}
      .widget-content
        .table-responsive
          table class="table table-striped table-bordered table-hover"
            thead
              tr
                th 
                  = check_box_tag :check_all
                th Kode
                th Member Referral
                th Member
                th No. Rekening
                th Status
                th Basic Price
                th Sale Price
                th Fee Company
                th Fee Member
                th Fee Affiliate
                th Tanggal Daftar
              tbody
                - if @collection.blank?
                  tr
                    td colspan="12" 
                      = render "shareds/empty_blank"
                - else
                  - @collection.each do |resource|
                    tr
                      - if resource.status == "reject" || resource.status == "paid"
                        td
                          | -
                      - else
                        td
                          = check_box_tag "ids[]", resource.id
                      td.uppercase
                        = link_to resource.code, backend_affiliate_path(resource)
                      td
                        = resource.member_referral?
                      td
                        = resource.member.username rescue '--dropshipan--'
                      td
                        = resource.payment_to?
                      td
                        = resource.status?
                      td
                        = get_currency(resource.basic_price)
                      td
                        = get_currency(resource.sale_price)
                      td
                        = get_currency(resource.fee_company)
                      td
                        = get_currency(resource.fee_member)
                      td
                        = get_currency(resource.fee_affiliate)
                      td
                        = get_datetime(resource.created_at)
                     

        .widget-foot
          .pull-right
            = paginate @collection, remote: true if @collection.present?
          .clearfix