<table border="1">
	<caption>Data Affiliasi <%= show_search_form_date(params[:start_at], params[:end_at]) %></caption>
	<tr>
		<th>Kode</th>
    <th>Member Referral</th>
    <th>Member</th>
    <th>No. Rekening</th>
    <th>Status</th>
    <th>Basic Price</th>
    <th>Sale Price</th>
    <th>Fee Company</th>
    <th>Fee Member</th>
    <th>Fee Affiliate</th>
    <th>Tanggal Daftar</th>
	</tr>
	<% @collection_all.each_with_index do |resource, index| %>
	<tr>
		<td><%= link_to resource.code %>
		<td><%= resource.member_referral? %>
		<td><%= resource.member.username rescue '--dropshipan--'%>
		<td><%= resource.payment_to? %>
		<td><%= resource.status? %>
		<td><%= get_currency(resource.basic_price) %>
		<td><%= get_currency(resource.sale_price) %>
		<td><%= get_currency(resource.fee_company) %>
		<td><%= get_currency(resource.fee_member) %>
		<td><%= get_currency(resource.fee_affiliate) %>
		<td><%= get_datetime(resource.created_at) %>
	</tr>
	<% end %>
</table>