.col-md-12
	.widget
		.widget-head
			.pull-left
				| Detail Affiliasi
			.widget-icons.pull-right
				| <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
				| <a href="#" class="wclose"><i class="fa fa-times"></i></a>
			.clearfix
		.widget-content
			.padd
				.form-horizontal
					.form-group
						.col-md-2
							b Kode
						.col-md-10
							= resource.code.upcase

					.form-group
						.col-md-2
							b Member Referral
						.col-md-10
							= resource.member_referral?

					.form-group
						.col-md-2
							b No. Rekening
						.col-md-10
							= resource.payment_to?

					.form-group
						.col-md-2
							b Status
						.col-md-10
							= resource.status?

					.form-group
						.col-md-2
							b Basic Price
						.col-md-10
							= get_currency(resource.basic_price)

					.form-group
						.col-md-2
							b Sale Price
						.col-md-10
							= get_currency(resource.sale_price)

					.form-group
						.col-md-2
							b Fee Company
						.col-md-10
							= get_currency(resource.fee_company)

					.form-group
						.col-md-2
							b Fee Member
						.col-md-10
							= get_currency(resource.fee_member)

					.form-group
						.col-md-2
							b Fee Affiliate
						.col-md-10
							= get_currency(resource.fee_affiliate)

					.form-group
						.col-md-2
							b Tanggal Daftar
						.col-md-10
							= get_datetime(resource.created_at)

				.break
			.widget-foot
				= link_to '<i class="fa fa-chevron-left"></i>'.html_safe, :back, class: 'btn btn-xs btn-primary', title: "Kembali"
				| &nbsp;