- @income_package_reseller = @register_invoices.pluck(:price).sum
- @commission_company = @commission_default.pluck(:commission_company).sum
- @income_merchant = @reports_collect.paid.pluck(:basic_price).sum
- @income_company = @reports_collect.paid.pluck(:company_price).sum
- @sales_reseller = @reports_collect.paid.pluck(:price).sum

- @margin_company_merchant = @income_company - @income_merchant
- @budget_referral = @margin_company_merchant - @commission_company

.container
  .gep-lr
    = render 'members/home/estimate'
    .col-xs-12
      ul.today-data
        .row
          .col-md-3.col-sm-3
            .title-box-dashboard
              i.fa.fa-money aria-hidden="true"
              | Total Income Paket Reseller
            li
              div class="datas-text" 
                = get_currency(@income_package_reseller)

          .col-md-3.col-sm-3
            .title-box-dashboard
              i.fa.fa-money aria-hidden="true"
              | Total Income Komisi Perusahaan
            li
              div class="datas-text" 
                = get_currency(@commission_company)

          .col-md-3.col-sm-3
            .title-box-dashboard
              i.fa.fa-money aria-hidden="true"
              | Total Income Affiliasi
            li
              div class="datas-text" 
                = get_currency(@total_income_affiliates)

          .col-md-3.col-sm-3
            .title-box-dashboard
              i.fa.fa-money aria-hidden="true"
              | Total Budget Referral
            li
              div class="datas-text" 
                = get_currency(@budget_referral)

          .col-md-4.col-sm-4
            .title-box-dashboard
              i.fa.fa-money aria-hidden="true"
              | Total Distributor
            li
              div class="datas-text" 
                = get_currency(@income_merchant)

          .col-md-4.col-sm-4
            .title-box-dashboard
              i.fa.fa-money aria-hidden="true"
              | Total Perusahaan
            li
              div class="datas-text" 
                = get_currency(@income_company)

          .col-md-4.col-sm-4
            .title-box-dashboard
              i.fa.fa-money aria-hidden="true"
              | Total Penjualan Resellers
            li
              div class="datas-text" 
                = get_currency(@sales_reseller)

    = render 'members/home/box_analytic', key: :commission_company