= column_chart data_visit
br
ul.today-data style='margin-bottom:20px;'
  .row-custom 
    .col-custom
      li
        div class="datas-text"
          small
            b = Ahoy::Visit.count_today
            br 
            | Pengunjung Hari ini
    .col-custom  
      li
        div class="datas-text"
          small
            b = Ahoy::Visit.count_week
            br 
            | Pengunjung Minggu ini
    .col-custom  
      li
        div class="datas-text"
          small
            b = Ahoy::Visit.count_month
            br 
            | Pengunjung Bulan ini
    .col-custom  
      li
        div class="datas-text"
          small
            b = Ahoy::Visit.count_year
            br 
            | Pengunjung Tahun ini
    .col-custom  
      li
        div class="datas-text"
          small
            b = Ahoy::Visit.count
            br 
            | Pengunjung Sampai Sekarang