.js-partial_js
  - if current_user.staff? || current_user.support?
    .col-xs-12
      .panel.panel-default
        .panel-body
          = render 'visitor', data_visit: @daily_visit
  - else
    = render 'partial_js'