.row
  .col-md-3
    .form-group
      = label_tag "Tipe User"
      = f.select :user_type, options_for_select(["AccountManager", "Member"], resource.try(:user_type)), {prompt: 'Pilih Tipe User'}, class: 'form-control select_user_type'
  .col-md-2
    .form-group
      .section-select-user
        .user-member 
          = label_tag "Member"
          = f.select :user_id, options_for_select(get_members.map{|p| [p.username, p.id]}, resource.user_id), {prompt: 'Select Member'}, class: 'form-control select2','data-node' => "member", required: true
        .user-account-manager
          = label_tag "Account Manager"
          = f.select :user_id, options_for_select(get_account_managers.map{|am| [am.username, am.id]}, resource.user_id), {prompt: 'Select Account Manager'}, class: 'form-control select2','data-node' => "member", required: true
  .col-md-2
    .form-group
      = f.label :payment_start
      = f.text_field :payment_start, placeholder: "Enter payment start", class: 'form-control datepicker', required: true
  .col-md-2
    .form-group
      = f.label :payment_end
      = f.text_field :payment_end, placeholder: "Enter payment end", class: 'form-control datepicker', required: true
  .col-md-3
    .form-group
      = label_tag "Total"
      br
      = link_to "Hitung Payment", "#",class: 'btn btn-success btn-block payment_date_selected'
  .balance-container
    .col-md-12
      .panel.panel-default
        .panel-body
          p
            | Komisi Member &nbsp;
            b = get_currency_full(resource.fee_member)
          p
            | Komisi AM &nbsp;
            b = get_currency_full(resource.fee_am)
          p
            | Komisi Company &nbsp;
            b = get_currency_full(resource.fee_company)
          p
            | Total Komisi #{resource.user_type} &nbsp;
            b = get_currency_full(resource.price)
          p
            | Total Semua Komisi &nbsp;
            b = get_currency_full(resource.total)
    .col-md-6
      .form-group
        = label_tag :from_acc
        = f.text_field :from_acc, placeholder: "Masukkan Rekening Pengirim",class: 'form-control', required: true
    .col-md-6
      .form-group
        = label_tag :to_acc
        = f.text_field :to_acc, placeholder: "Masukkan Rekening Penerima", class: 'form-control', required: true
    .col-md-12
      .form-group
        = label_tag :message
        = f.text_area :message, placeholder: "Masukkan Pesan", class: 'form-control'
  .col-md-12
    .form-group
      = label_tag :status
      = f.select :status, options_for_select(PaymentSnapshot::STATUSES, resource.try(:status)), {prompt: 'Pilih Status'}, class: 'form-control', required: true

javascript:
  checkUserType();

  $(document).on('change', '.select_user_type', function() {
    checkUserType();
  });

  $(document).on('click', '.payment_date_selected', function() {
    $user_id = document.getElementById("payment_snapshot_user_id").value;
    $payment_start = document.getElementById("payment_snapshot_payment_start").value;
    $payment_end = document.getElementById("payment_snapshot_payment_end").value;
    $node = $user_id+"+"+$payment_start+"+"+$payment_end;
    if($user_id != '' && $user_id != 'undefined' && $payment_start != '' && $payment_start != 'undefined' && $payment_end != '' && $payment_end != 'undefined'){
      alert("Penghitungan payment berhasil.");
      $.get('/xhrs/get_payment?id='+$(this).val()+'&node='+$node, function(result){
        $('.balance-container').html(result);
      })
    }else{
      alert("Penghitungan gagal. kolom user/payment start/payment end belum diisi.");
    }
  });

  function checkUserType(){
    choice_user_type = document.getElementById("payment_snapshot_user_type").value;

    if(choice_user_type == 'Member'){
      $('.section-select-user .user-account-manager').appendTo('.content-footer');
      $('.user-account-manager').hide();
      $('.user-member').appendTo('.section-select-user');
      $('.user-member').show();
    }else if(choice_user_type == 'AccountManager'){
      $('.section-select-user .user-member').appendTo('.content-footer');
      $('.user-member').hide();
      $('.user-account-manager').appendTo('.section-select-user');
      $('.user-account-manager').show();
    }else{
      $('.section-select-user .user-member').appendTo('.content-footer');
      $('.user-member').hide();
      $('.section-select-user .user-account-manager').appendTo('.content-footer');
      $('.user-account-manager').hide();
    }
  }