<table border="1">
	<caption>Daftar Pembayaran <%= show_search_form_date(params[:start_at], params[:end_at]) %></caption>
	<tr>
		<th>Kode Invoice</th>
		<th>Tipe User</th>
		<th>Username</th>
		<th>AM</th>
		<th>ADM</th>
		<th>Komisi</th>
		<th>Dari</th>
		<th>Pesan</th>
		<th>Status</th>
		<th>Periode</th>
		<th>Dibuat</th>
	</tr>
	<% @collection_all.each_with_index do |resource, index| %>
	<tr>
		<td><%= resource.code %></td>
		<td><%= resource.user_type %></td>
		<td>
			<% if resource.user.member? %>
				<% member = Member.find(resource.user_id) %>
				<%= "(#{resource.user_id}) #{resource.user.username}" %>
			<% elsif resource.user.account_manager? %>
				<%= "(#{resource.user_id}) #{resource.user.username}" %>
			<% end %>
		</td>
		<td><%= resource.member.account_manager.username rescue "--" %></td>
		<td><%= resource.admin.username %></td>
 		<td><%= get_currency(resource.price) %></td>
 		<td><%= "#{resource.from_acc} Ke #{resource.to_acc}" %></td>
 		<td><%= "#{resource.message}" %></td>
		<td><%= resource.status? %></td>
		<td><%= resource.payment_period? %></td>
		<td><%= get_datetime(resource.created_at) %></td>
	</tr>
	<% end %>
</table>