- link_path = current_user.member? ? members_order_path(resource.order) : managers_order_path(resource.order)
.timeline-panel
	.timeline-heading
		.row
			.col-md-8
				h4
					b
						i.fa.fa-globe &nbsp;
						= link_to resource.order.code, link_path
			.col-md-4
				h6.uppercase.tright
					= get_datetime(resource.created_at)
	.timeline-body
		.row
			.content-timeline
				.col-md-6.col-sm-6
					h5
						| Transfer Dari
					h5 
						b
							= resource.from_acc
				.col-md-6.col-sm-6
					h5
						| Ke
					h5 
						b 
							= resource.to_acc
			.col-xs-12
				.table-responsive
					table.table
						thead
							tr
								- if current_user.account_manager?
									th Reseller
								th Jumlah Produk
								th Jumlah Pengembalian
								th Ongkir
								th Total
								th Status
						tbody
							tr
								- if current_user.account_manager?
									td
										= link_to resource.member.username, managers_member_path(resource.member)
								td
									= resource.quantity
								td
									= get_currency(resource.refund_value)
								td
									= get_currency(resource.ongkir)
								td
									= get_currency(resource.total)
								td
									= resource.status?