.col-md-8
	- if @collection.blank?
		= render "shareds/empty_blank"
	- else
		- @collection.each_with_index do |resource, index|
			- link_path = current_user.member? ? members_report_refund_path(resource.order.code, format: 'pdf') : managers_report_refund_path(resource.order.code, format: 'pdf')
			ul.timeline.timeline-invoice
				li.timeline-inverted
					.timeline-badge
						i.pe-7s-note2
					= render "members/report_refunds/report_refund", resource: resource
														
				.btn-right
					= link_to '<i class="fa fa-download" aria-hidden="true"></i> Generate PDF'.html_safe, link_path, class: 'btn btn-gb btn-g'
			br
	.widget-foot
		= paginate @collection, remote: true
