<table border="1">
	<caption>Daftar Refund Order <%= show_search_form_date(params[:start_at], params[:end_at]) %></caption>
	<tr>
		<th>No</th>
		<th>Kode Order</th>
		<th>Transfer Dari</th>
		<th>Ke</th>
		<th>Jumlah Produk</th>
		<th>Jumlah Pengembalian</th>
		<th>Ongkir</th>
		<th>Total</th>
		<th>Status</th>
		<th>Tanggal Masuk</th>
	</tr>
	<% @collection_all.each_with_index do |resource, index| %>
	<tr>
		<td><%= index+1 %></td>
		<td><%= resource.order.code %></td>
		<td><%= resource.from_acc %></td>
		<td><%= resource.to_acc %></td>
		<td><%= resource.quantity %></td>
		<td><%= get_currency(resource.refund_value) %></td>
		<td><%= get_currency(resource.ongkir) %></td>
		<td><%= get_currency(resource.total) %></td>
		<td><%= resource.status? %></td>
		<td><%= resource.created_at.strftime("%d %B %Y - %I:%M") if resource.created_at.present? %></td>
	</tr>
	<% end %>
</table>