- resource = @resource
section.invoice
  .row
    .col-md-12
      h4.page-header
        i.fa.fa-globe &nbsp;
        = resource.order.code
        small.date-invoice.pull-right #{get_datetime(resource.created_at)}
  .row.invoice-info
    .col-md-6.col-sm-6.invoice-col
      | Transfer Dari
      address
        b= resource.from_acc
    .col-md-6.col-sm-6.invoice-col
      | Ke
      address
        b= resource.to_acc
  .row
    .col-xs-12
      .table-responsive
        table.table.table-striped.table-bordered
          thead
            tr
              th Jumlah Produk
              th Jumlah Pengembalian
              th Ongkir
              th Total
              th Status
          tbody
            tr
              td
                = resource.quantity
              td
                = get_currency(resource.refund_value)
              td
                = get_currency(resource.ongkir)
              td
                = get_currency(resource.total)
              td
                = resource.status?

  .title-show-confirmation
    | Dari INVOICE <b>#{@order.code.upcase}</b>
    .desc.mg-top10
      b Tanggal Transaksi : 
      = @order.try(:purchased_at).strftime("%B, %d, %Y") if @order.purchased_at
    .desc.mg-bot10
      b Masa Terakhir Dibayar : 
      = (@order.try(:purchased_at)+ 3.days).strftime("%B, %d, %Y") if @order.purchased_at
  .table-responsive.table-detail-invoice
    table.table.table-striped.table-1000.table-bordered.table-hover
      thead.thead-detail
        tr
          th 
            | Dari Toko 
            = link_to @order.member.shop_title?, '#' 
          th Satuan 
          th Jumlah 
          th Berat  
          th.tright Harga  
        tbody.tbody-detail
          - @order.order_items.each do |order_item| 
            tr
              td
                = wicked_pdf_image_tag order_item.product.cover, style: "width: 50px; height: 50px;"
                .title-content-item
                  .info-catalog
                    table
                      tr
                        th
                          | Nama Produk
                        th
                          | :
                        th
                          = link_to "#{order_item.product.title}", product_path(order_item.product.slug+'-'+order_item.catalog.id.to_s), target: "_blank"
                      tr
                        th
                          | Kode Produk
                        th
                          | :
                        th
                          small.uppercase
                            b
                              = order_item.product.code
                      tr
                        th
                          | Varian
                        th
                          | :
                        th
                          = order_item.variant
                      tr
                        th
                          | Pesan
                        th
                          | :
                        th
                          small
                            = order_item.message
                    br
                    = "#{order_item.status? if order_item.cancelled? || order_item.refund?} &nbsp; #{order_item.cancelled_reason?}".html_safe
              td      
                = get_currency(order_item.price)
              td      
                = order_item.quantity
              td      
                | #{order_item.weight} gr
              td.tright      
                = get_currency(order_item.total_price)
          tr
            td
            td
            td      
            td      
              | #{@order.weight?} gr
            td.tright      
              | #{get_currency(@order.price)}
          tr
            td
            td
            td      
            td.td-style     
              b Pengiriman #{@order.shipping_method.upcase}
              br
              small #{@order.origin_name} - #{@order.try(:address).try(:city).try(:titleize)}, Kecamatan #{@order.try(:address).try(:district).try(:titleize)}
            td.tright.td-style       
              | #{get_currency(@order.shipping_price) if @order.shipping_price.present?}
          tr
            td
            td 
            td      
            td.td-style       
              b TOTAL
            td.tright.td-style       
              | #{get_currency(@order.total_price)}

  .title-tab-detail
    | Transaksi
  .table-responsive
    table.table.table-striped.table-bordered.table-hover.mg-top10
      thead.thead-detail
        tr
          th Transaksi 
          th Pembeli 
          th Pembayaran Ke 
          th Status Pembayaran 
          th Total Pembayaran    
      tbody.tbody-detail
        tr
          td.text
            = @order.try(:purchased_at).strftime("%B, %d, %Y") if @order.purchased_at
          td.text
            = "#{@order.try(:payer_name)} (#{link_to @order.try(:payer_email), "mailto:#{@order.try(:payer_email)}" })".html_safe
          td.text
            = @order.try(:payment_to)
          td.text
            = @order.status?
          td.text
            b
              = get_currency(@order.total_price)

  .title-tab-detail
    | Pengiriman
  .table-responsive
    table.table.table-striped.table-bordered.table-hover.mg-top10
      thead.thead-detail
        tr
          th Penerima      
          th Metode Pengiriman 
          th Phone 
          th Alamat Pengiriman     
          th Status Pengiriman 
          - if @order.shipped?
            th No Resi    
      tbody.tbody-detail
        tr
          td
            = @order.try(:payer_name)
          td
            = @order.try(:shipping_method).try(:upcase)
          td
            = @order.try(:payer_phone)
          td
            = @order.try(:payer_address)
          td
            = @order.status_order?
          - if @order.shipped? && @order.number_shipping.present?
            td
              = @order.try(:number_shipping)
                