.col-md-12
  = render 'backend/shareds/search_form_confirmation'
  = form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do 
    .widget
      = render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Confirmations', button_name: 'Confirmations', add_method: true} 
      .widget-content
        .table-responsive
          table class="table table-striped table-bordered table-hover"
            thead
              tr
                th width="1%" #
                th width="10%" Invoice Order
                th Pengirim
                th Reseller
                th Pembeli  
                th Nominal
                th Ke Akun Bank
                th Metode Pembayaran
                th Pesan
                th Status Pembayaran
                th Tanggal
            tbody
              - if @collection.blank?
                tr
                  td colspan="11" 
                    = render "shareds/empty_blank"
              - else
                - @collection.each_with_index do |resource, index| 
                  tr 
                    td = check_box_tag "ids[]", resource.id 
                    td
                      = link_to "#{resource.no_invoice}", resource_path(resource)
                    td
                      = "#{resource.try(:from_bank_name)} - #{resource.try(:sender_name)} - #{resource.try(:from_account_number)}"
                    td
                      = "#{resource.try(:member).try(:username)} - #{resource.try(:member).try(:site_info).try(:domain_name)}.dusbelanja.com - #{resource.try(:member).try(:web_setting).try(:title)}"
                    td
                      = resource.name
                    td
                      b
                        = get_currency(resource.nominal) if resource.nominal.present?
                    td
                      = resource.bank_account
                    td
                      = resource.payment_method
                    td
                      = resource.message
                    td
                      = resource.try(:order).try(:status?)
                    td
                      small
                        = resource.try(:payment_date).strftime("%B, %d, %Y") if resource.payment_date.present?
        .widget-foot
          .pull-right
            = paginate @collection, remote: true if @collection.present?
          .clearfix
