<table border="1">
	<caption>Daftar Konfirmasi <%= show_search_form_date(params[:start_at], params[:end_at]) %></caption>
	<tr>
		<th>No</th>
		<th>Invoice Order</th>
		<th>Pengirim</th>
		<th>Reseller</th>
		<th>Pembeli</th>
		<th>Nominal</th>
		<th>Ke Akun Bank</th>
		<th>Metode Pembayaran</th>
		<th>Pesan</th>
		<th>Status Pembayaran</th>
		<th>Tanggal</th>
	</tr>
	<% @collection_all.each_with_index do |resource, index| %>
	<tr>
		<td><%= index+1 %></td>
		<td><%= resource.try(:no_invoice) %></td>
		<td><%= "#{resource.try(:from_bank_name)} - #{resource.try(:sender_name)} - #{resource.try(:from_account_number)}" %></td>
		<td><%= "#{resource.try(:member).try(:username)} - #{resource.try(:member).domain?} - #{resource.try(:member).shop_title?}" %></td>
		<td><%= resource.name %></td>
		<td><b><%= get_currency(resource.nominal) if resource.nominal.present? %></b></td>
		<td><%= resource.bank_account %></td>
		<td><%= resource.payment_method %></td>
		<td><%= resource.message %></td>
		<td><%= resource.try(:order).try(:status?) %></td>
		<td><%= resource.payment_date.strftime("%d %B %Y - %I:%M") if resource.payment_date.present? %></td>
	</tr>
	<% end %>
</table>