.col-md-12
  = render 'backend/orders/confirmation'

- if @order.present?
  .col-md-12
    .well
      center 
        h4
          i class="fa fa-check" 
          | Konfirmasi Cocok Dengan Invoice
    = render 'backend/orders/invoice'
