.panel.panel-default
	.panel-body
		= flash_messages
		= devise_error_messages!
		= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
			= f.hidden_field :reset_password_token
			fieldset
				.form-group.margin-top10
					.col-xs-12
						h2 align="center" Ganti Kata Sandi
				.form-group
					label.control-label for="password" Masukan Kata Sandi Baru:
					.controls
						= f.password_field :password, class: "form-control password", required: true
				.form-group
					label.control-label for="reenterpassword" Konfirmasi Kata Sandi:
					.controls
						= f.password_field :password_confirmation, class: "form-control password", required: true
				.form-group
					.controls
						= f.submit 'Ubah Kata Sandi',  class: "btn btn-lg btn-orange btn-block medium-font"
				.form-group
					= render "devise/shared/links"
