.col-md-8.col-md-offset-2.form-devise
	.panel.panel-default
		.panel-heading
			| Lupa Kata Sandi
		.panel-body
			= flash_messages
			= devise_error_messages!
			= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
				fieldset
					.form-group
						label.label-style Email
						.controls
							= f.email_field :email, class: "form-control", placeholder: "Masukan Email Anda"
					/ Button
					.form-group
						.controls
							= f.submit 'Reset Kata Sandi',  class: "btn btn-primary btn-block"
					.form-group
						= render "devise/shared/links"
