#wrapper.package-price
	.content.animate-panel
		.hpanel 
			.title-member-content.mg-bot15.center
				b Pilih Paket
			.price-package-content
				.row
					.col-md-12
						.row
							- @packages.each do |p|
								- disabled = false
								- if @member.package_id == p.id
									- title_upgrade = "Paket Saat Ini"
									- link_upgrade = "#"
									- class_upgrade = "btn btn-danger btn-block"
								- else
									- if @member.package.period < p.period
										- title_upgrade = "Upgrade Sekarang!"
									- else
										- title_upgrade = "Downgrade Sekarang!"
									- link_upgrade = upgrade_members_packages_path(package_id: p.id)
									- class_upgrade = "btn btn-success btn-block"
								- if @pending_packages_member.present?
									- link_upgrade = "#"
									- disabled = true
								- if p.premium?
									- title_upgrade = "Paket Belum Tersedia!"
									- link_upgrade = "#"
									- class_upgrade = "btn btn-default btn-block"
									- disabled = true
								.col-md-6.col-xs-6 data-aos="fade-up"
									.box-package-price.mg-top
										div class="title-box-package #{p.package_type.downcase}"
											= p.title
										.box-img-price
											| Rp. 
											b.big-font
												= number_to_currency(p.price, :unit => "", :separator => ",", :delimiter => ".", precision: 0)
											- if p.premium?
												.textsmall
													small
														| Akan ada biaya perpanjangan domain tahunan
												br
											- else
												.textsmall
													small
														| Masa Aktif Selamanya
												br
										.box-desc-package
											.desc-package
												b.b-font AKSES KE DASHBOARD 
												br
												| Masa Aktif Untuk Selamanya
											.desc-package
												b.b-font SUBDOMAIN 
												br
												| *.dusbelanja.com
											.desc-package
												b.b-font Gratis Website Toko Online Sendiri
												br
												| Masa Aktif Selamanya
											- if p.premium?
												.desc-package
													b.b-font DOMAIN 
													br
													| domainanda.com <br>(<small>Akan ada biaya tambahan perpanjangan domain tahunan</small>)
												.desc-package
													b.b-font Landing Page
													br
													| Gratis Membuat Landing Page Per Produk
												.desc-package
													b.b-font Dinamis Template
													br
													| Berubah Template Website Sesuai Keinginan
												/ .desc-package
												/ 	b.b-font Brand Logo Gratis 
												/ 	br 
												/ 	| (seharga 250rb)
												.desc-package
													= 'Facebook Pixels'
												.desc-package
													= 'Google Analytics'
												.desc-package
													= 'Group Marketting Secret'
												.desc-package
													= 'Gratis Materi Iklan'
											- else
												.desc-package2
													b.b-font DOMAIN 
													br
													| domainanda.com <br>(<small>Akan ada biaya tambahan perpanjangan domain tahunan</small>)
												.desc-package
													b.b-font Landing Page
													br
													| Gratis Membuat Landing Page Per Produk
												.desc-package
													b.b-font Dinamis Template
													br
													| Berubah Template Website Sesuai Keinginan
												/ .desc-package2
												/ 	b.b-font Brand Logo Gratis 
												/ 	br 
												/ 	| (seharga 250rb)
												.desc-package
													= 'Facebook Pixels'
												.desc-package
													= 'Google Analytics'
												.desc-package2
													= 'Group Marketting Secret'
												.desc-package
													= 'Gratis Materi Iklan'
											br
											= link_to "#{title_upgrade}", link_upgrade, class: "#{class_upgrade}", disabled: disabled