= render 'members/commissions/estimate'
= render 'members/commissions/box_content', key: :commission_member
= render 'members/commissions/box_analytic', key: :commission_member, link_path: managers_commissions_path, search_key: 'Kode Komisi/Kode Invoice/Kode atau Nama Produk/Kode Katalog/Username atau Email Reseller', box_for: 'commission'