<table border="1">
  <caption>Daftar Pembayaran <%= show_search_form_date(params[:start_at], params[:end_at]) %></caption>
  <tr>
    <th>Kode</th>
    <th>Transfer Dari</th>
    <th>Periode</th>
    <th>Komisi</th>
    <th>Status</th>
    <th>Pesan</th>
  </tr>
  <% @collection_all.each_with_index do |resource, index| %>
    <tr>
      <td><%= resource.code %></td>
      <td><%= "#{resource.from_acc} Ke #{resource.to_acc} " %></td>
      <td>
        <% if resource.payment_start.present? %>
          <%= resource.payment_period? %>
        <% else %>
          -
        <% end %>
      </td>
      <td><%= get_currency(resource.price) %></td>
      <td><%= resource.status? %></td>
      <td><%= resource.message %></td>
    </tr>
  <% end %>
</table>