.col-md-12
  = render 'backend/shareds/search_form_guest_book'
  .widget
    = render partial: 'backend/shareds/prepare_table', locals: {table_name: 'GuestBooks', button_name: 'GuestBooks', add_method: false}
    .widget-content
      .table-responsive
        table class="table table-striped table-bordered table-hover"
          thead
            tr
              th Nama
              th Email
              th No. Telepon
              th Pesan
              th Tanggal
              th Status
              th Action
            tbody
              - if @collection.blank?
                tr
                  td colspan="7" 
                    = render "shareds/empty_blank"
              - else
                - @collection.each do |resource|
                  tr
                    td
                      = resource.name
                    td
                      = resource.email
                    td
                      = resource.phone
                    td
                      = truncate(resource.description, :length => 60)
                    td
                      = get_datetime(resource.created_at)
                    td
                      = resource.status?
                    td
                      = link_to '<i class="fa fa-eye"></i>'.html_safe, backend_guest_book_path(resource), class: 'btn btn-info btn-xs'

      .widget-foot
        .pull-right
          = paginate @collection, remote: true if @collection.present?
        .clearfix