.col-md-12
  .widget
    .widget-head
      .widget-icons.pull-right
        | <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
        | <a href="#" class="wclose"><i class="fa fa-times"></i></a>
      .clearfix
    .widget-content
      .padd
        .form-horizontal
          .form-group
            .col-md-2
              b Nama
            .col-md-10
              = resource.name
          .form-group
            .col-md-2
              b Email
            .col-md-10
              = resource.email
          .form-group
            .col-md-2
              b No. Telepon
            .col-md-10
              = resource.phone
          .form-group
            .col-md-2
              b Pesan
            .col-md-10
              = resource.description
          .form-group
            .col-md-2
              b Tanggal
            .col-md-10
              = get_datetime(resource.created_at)
          .form-group
            .col-md-2
              b Status
            .col-md-10
              = resource.status?

        .break
      .widget-foot
        = link_to '<i class="fa fa-chevron-left"></i>'.html_safe, :back, class: 'btn btn-xs btn-primary', title: "Kembali"
