.col-md-12
  = render 'backend/shareds/search_form_report_refund'
  = form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do 
    .row
      .col-md-3
        .box-top-detail.orange
          b.txt-orange #{get_currency(@collection_pending)}
          br
          | Pending
      .col-md-3
        .box-top-detail.blue
          b.txt-blue #{get_currency(@collection_process)}
          br
          | Process
      .col-md-3
        .box-top-detail.green
          b.txt-green #{get_currency(@collection_paid)}
          br
          | Dibayarkan
      .col-md-3
        .box-top-detail.red
          b.txt-red #{get_currency(@collection_cancelled)}
          br
          | Dibatalkan
    .widget
      = render partial: 'backend/shareds/prepare_table', locals: {table_name: 'ReportRefund', button_name: 'ReportRefund', add_method: false} 
      .widget-content
        .table-responsive
          table class="table table-striped table-bordered table-hover"
            thead
              tr
                th
                  = check_box_tag :check_all
                th Kode Order
                th Jumlah Barang
                th Refund Value  
                th Ongkir
                th Total
                th Rekening Tujuan
                th Status
                th Tanggal
                th Action
            tbody
              - if @collection.blank?
                tr
                  td colspan="10" 
                    = render "shareds/empty_blank"
              - else
                - @collection.each_with_index do |resource, index| 
                  tr 
                    td
                      - unless resource.is_paid?
                        = check_box_tag "ids[]", resource.id
                      - else
                        | -
                    td
                      = link_to "#{resource.order.code}", backend_order_path(resource.order)
                    td
                      = resource.quantity
                    td
                      b
                        = get_currency(resource.refund_value) if resource.refund_value.present?
                    td
                      b
                        = get_currency(resource.ongkir) if resource.ongkir.present?
                    td
                      b
                        = get_currency(resource.total) if resource.total.present?
                    td
                      = resource.to_acc
                    td
                      = resource.try(:status?)
                    td
                      small
                        = resource.try(:created_at).strftime("%B, %d, %Y") if resource.created_at.present?
                    td
                      = link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, resource_path(resource), class: 'btn btn-xs btn-info'
        .widget-foot
          .pull-right
            = paginate @collection, remote: true if @collection.present?
          .clearfix
