.row
  .col-md-8
    h4
      b
        i.fa.fa-globe &nbsp;
        = link_to resource.order.code, backend_order_path(resource.order)
  .col-md-4
    h6.uppercase.tright
      = get_datetime(resource.created_at)
  .content-timeline
    .col-md-6.col-sm-6
      h5
        | Transfer Dari
      h5 
        b
          = resource.from_acc
    .col-md-6.col-sm-6
      h5
        | Ke
      h5 
        b 
          = resource.to_acc
  .col-xs-12
    .table-responsive
      table.table
        thead
          tr
            th Jumlah Produk
            th Jumlah Pengembalian
            th Ongkir
            th Total
            th Status
        tbody
          tr
            td
              = resource.quantity
            td
              = get_currency(resource.refund_value)
            td
              = get_currency(resource.ongkir)
            td
              = get_currency(resource.total)
            td
              = resource.status?
