<table border="1">
	<caption>Daftar Pembayaran <%= show_search_form_date(params[:start_at], params[:end_at]) %></caption>
	<tr>
		<th>Kode Order</th>
    <th>Jumlah Barang</th>
    <th>Refund Value</th>  
    <th>Ongkir</th>
    <th>Total</th>
    <th>Rekening Tujuan</th>
    <th>Status</th>
    <th>Tanggal</th>
	</tr>
	<% @collection_all.each do |resource| %>
	<tr>
		<td><%= resource.order.code %></td>
		<td><%= resource.quantity %></td>
		<td><%= "#{get_currency(resource.refund_value) if resource.refund_value.present?}" %></td>
		<td><%= "#{get_currency(resource.ongkir) if resource.ongkir.present?}" %></td>
		<td><%= "#{get_currency(resource.total) if resource.total.present?}" %></td>
		<td><%= resource.to_acc %></td>
		<td><%= resource.try(:status?) %></td>
		<td>
			<small>
	      <%= "#{resource.try(:created_at).strftime("%B, %d, %Y") if resource.created_at.present?}" %>
			</small>
		</td>
	</tr>
	<% end %>
</table>