.col-md-12
  .widget
    .widget-head
      .pull-left
        | Detail Report Refund
      .widget-icons.pull-right
        | <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
        | <a href="#" class="wclose"><i class="fa fa-times"></i></a>
      .clearfix
    .widget-content
      .padd
        = render "show"
      .widget-foot
        = link_to '<i class="fa fa-chevron-left"></i>'.html_safe, :back, class: 'btn btn-xs btn-primary', title: "Kembali"

.col-md-12
  = render 'backend/orders/confirmation' if @confirmation.present?
  = render 'backend/orders/invoice'
