#wrapper
  .welcome
    .hpanel
      .panel-body
        .icon-hi
          i.pe-7s-chat
        .text-hi
          h2
            | Selamat Datang di 
            strong DROPSHIPAN
          p
            | Halaman ini untuk anda sebagai Manager Dropshipan, kelola dan pantau penjualan reseller dibawah Anda.
  .content.animate-panel
    .row
      .col-md-12.referral-dashboard
        .hpanel
          .panel-body
            p
              | Link Referral
            .input-group
              input.form-control value=new_user_registration_url(ref: @manager.code) class="js-link-target-#{@manager.id}"
              span.input-group-btn
                button.btn.clipboard-btn.btn-default.btn-secondary data-clipboard-target=".js-link-target-#{@manager.id}"
                  i.fa.fa-copy
                  | &nbsp; Salin
            | <small>&nbsp; * Gunakan link ini untuk mengajak teman-temanmu sebanyak-banyaknya daftar sebagai reseller dropshipan, setiap transaksi penjualan yang didapat akan menjadi keuntunganmu juga.</small>
    .hpanel
      .row
        .js-partial_js
          = render 'partial_js'