<table border="1">
  <caption>Daftar Pembayaran Referral <%= show_search_form_date(params[:start_at], params[:end_at]) %></caption>
  <tr>
    <th>Kode Invoice</th>
    <th>Username</th>
    <th>Komisi</th>
    <th>Dari</th>
    <th>Pesan</th>
    <th>Status</th>
    <th>Status Payment</th>
    <th>Periode</th>
    <th>Dibuat</th>
  </tr>
  <% @collection_all.each_with_index do |resource, index| %>
  <tr>
    <td><%= resource.code %></td>
    <td><%= "(#{resource.member_id}) #{resource.member.username}" %></td>
    <td><%= get_currency(resource.commission_referral) %></td>
    <td><%= "#{resource.from_acc} Ke #{resource.to_acc}" %></td>
    <td><%= "#{resource.message}" %></td>
    <td><%= resource.status? %></td>
    <td><%= resource.status_payment? %></td>
    <td><%= resource.payment_period? %></td>
    <td><%= get_datetime(resource.created_at) %></td>
  </tr>
  <% end %>
</table>