- if current_user.merchant?
  - column = "cold-md-6 col-sm-6"
- else
  - column = "cold-md-4 col-sm-4"
  

.row
  .col-md-4.col-sm-4
    .box-dashboard-info
      .title-info.text-center
        | Total Penjualan
      .box-content-info
        i.pe-7s-cash.width
        .txt
          - if current_user.merchant?
            = get_currency(@reports_collect.paid.pluck(:basic_price).sum)
          - else
            = get_currency(@reports_collect.paid.pluck(:price).sum)

        .detail
          | Transaksi
          .bg
            = @reports_collect.paid.size

  .col-md-4.col-sm-4
    .box-dashboard-info
      .title-info.text-center
        | Total Pengiriman
      .box-content-info
        i.pe-7s-plane
        .txt
          = get_currency(@reports_collect.paid.pluck(:shipping_price).sum)
        .detail
          | Pengiriman
          .bg
            = @reports_collect.paid.size
  - if current_user.merchant?
    .col-md-4.col-sm-4
      .box-dashboard-info
        .title-info.text-center
          | Total Omset
        .box-content-info
          i.pe-7s-wallet
          .txt
            = get_currency(@reports_collect.paid.pluck(:total_basic_price).sum)
  -else
    .col-md-4.col-sm-4
      .box-dashboard-info
        .title-info.text-center
          | Total Komisi
        .box-content-info
          i.pe-7s-wallet
          .txt
            = get_currency(@commission_default.pluck(key).sum)

  div class="#{column}"
    .box-trafic
      = image_tag '4.png'
      .desc-trafic
        b
          = @order_paid.size
        br
        | Total Order Dibayar

  -unless current_user.merchant?
    .col-md-4.col-sm-4
      .box-trafic
        = image_tag '3.png'
        .desc-trafic
          b
            = @order_verification.size
          br
          | Total Order Diperiksa
          
  div class="#{column}"
    .box-trafic
      = image_tag '1.png'
      .desc-trafic
        b
          = @order_cancelled.size
        br
        | Total Order Dibatalkan
