.hpanel
  .col-md-4
    .row
      .title-member-content 
        b Detail Order
  .col-md-8
    .row
      = render 'members/orders/order_menu'
  .col-md-12
    = render 'members/orders/progress'

  .col-md-12
    - if @confirmation.present?
      .row
        .panel-body.mg-top15
          .title-show-confirmation
            | KONFIRMASI 
            b #{@confirmation.no_invoice}
            .desc.mg-top10
              b Tanggal Pembayaran : 
              = @confirmation.try(:payment_date).strftime("%B, %d, %Y") if @confirmation.payment_date
            .desc.mg-bot10
              b Nama Pembeli : 
              = @confirmation.try(:name)
              | (#{@confirmation.try(:email)})
          .table-responsive
            table.table.table-striped.table-bordered.table-hover.mg-top10
              thead.thead-detail
                tr
                  th Pengirim  
                  th Nominal 
                  th Pembayaran Ke Akun Bank
                  th Metode Pembayaran
                  th Pembeli
                tbody.tbody-detail
                  tr
                    td
                      = "#{@confirmation.try(:from_bank_name)} - #{@confirmation.try(:sender_name)} - #{@confirmation.try(:from_account_number)}"
                    td     
                      = get_currency(@confirmation.nominal) if @confirmation.nominal.present?
                    td     
                      = @confirmation.try(:bank_account)
                    td     
                      = @confirmation.try(:payment_method)
                    td
                      = @confirmation.try(:name)
          .message-detail-order
            b Pesan :
            | &nbsp;
            = @confirmation.message
            br
            = image_tag @confirmation.file, style: 'height: 300px' if @confirmation.file.present?
        .footer-detail-order
          b.fa.fa-check
          br
          | Konfirmasi Cocok Dengan Invoice
    - else
      .row
        .panel-body.mg-top15
          .title-show-confirmation
            | Belum Konfirmasi Pembayaran
  .panel-body.mg-top15
    .title-show-confirmation
      | INVOICE <b>#{@order.code.upcase}</b>
      .desc.mg-top10
        b Tanggal Transaksi : 
        = @order.try(:purchased_at).strftime("%B, %d, %Y") if @order.purchased_at
      .desc.mg-bot10
        b Masa Terakhir Dibayar : 
        = (@order.try(:purchased_at)+ 3.days).strftime("%B, %d, %Y") if @order.purchased_at
    .table-responsive.table-detail-invoice
      table.table.table-striped.table-1000.table-bordered.table-hover
        thead.thead-detail
          tr
            th 
              | Dari Toko &nbsp;
              - link_reseller = current_user.account_manager? ? managers_member_path(@order.member) : "#"
              = link_to @order.member.shop_title?, link_reseller
              - if current_user.account_manager?
                span , #{@order.member.profile.phone}
            th Satuan 
            th Jumlah 
            th Berat  
            th.tright Harga  
          tbody.tbody-detail
            - @order.order_items.each do |order_item| 
              tr
                td
                  = image_tag order_item.product.cover
                  .title-content-item
                    .info-catalog
                      table
                        tr
                          th
                            | Nama Produk
                          th
                            | :
                          th
                            = link_to "#{order_item.product.title}", product_path(order_item.product.slug+'-'+order_item.catalog.id.to_s), target: "_blank"
                        tr
                          th
                            | Kode Produk
                          th
                            | :
                          th
                            small.uppercase
                              b
                                = order_item.product.code
                        tr
                          th
                            | Varian
                          th
                            | :
                          th
                            = order_item.variant
                        tr
                          th
                            | Pesan
                          th
                            | :
                          th
                            small
                              = order_item.message
                      br
                      = "#{order_item.status? if order_item.cancelled? || order_item.refund?} &nbsp; #{order_item.cancelled_reason?}".html_safe
                td      
                  = get_currency(order_item.price)
                td      
                  = order_item.quantity
                td      
                  | #{order_item.weight} gr
                td.tright      
                  = get_currency(order_item.total_price)
            tr
              td
              td
              td      
              td      
                | #{@order.weight?} gr
              td.tright      
                | #{get_currency(@order.price)}

            - unless @order.cod?
              tr
                td
                td
                td      
                td.td-style     
                  b Pengiriman #{@order.shipping_method.upcase}
                  br
                  small #{@order.origin_name} - #{@order.try(:address).try(:city).try(:titleize)}, Kecamatan #{@order.try(:address).try(:district).try(:titleize)}
                td.tright.td-style       
                  | #{get_currency(@order.shipping_price) if @order.shipping_price.present?}
            tr
              td
              td 
              td      
              td.td-style       
                b TOTAL
              td.tright.td-style       
                | #{get_currency(@order.total_price)}

    .title-tab-detail
      | Pembayaran Ke Nomor Rekening Dibawah Ini
    .table-responsive
      table.table.table-striped.table-bordered.table-hover.mg-top10
        thead.thead-detail
          tr
            th Transaksi 
            th Pembeli 
            th Pembayaran Ke 
            th Status Pembayaran 
            th Total Pembayaran    
        tbody.tbody-detail
          tr
            td.text
              = @order.try(:purchased_at).strftime("%B, %d, %Y") if @order.purchased_at
            td.text
              = "#{@order.try(:payer_name)} (#{link_to @order.try(:payer_email), "mailto:#{@order.try(:payer_email)}" })".html_safe
            td.text
              = @order.try(:payment_to)
            td.text
              = @order.status?
            td.text
              b
                = get_currency(@order.total_price)

    - if @order.cod?
      .title-tab-detail
        | Pengambilan Barang
      .table-responsive
        table.table.table-striped.table-bordered.table-hover.mg-top10
          thead.thead-detail
            tr
              th COD/Ambil stockis dikantor Merchant 
          tbody.tbody-detail
            tr
              td 
                = "#{@order.courier?} #{@order.address_merchant?}".html_safe
    - else
      .title-tab-detail
        | Pengiriman
      .table-responsive
        table.table.table-striped.table-bordered.table-hover.mg-top10
          thead.thead-detail
            tr
              th Penerima      
              th Metode Pengiriman 
              th Phone 
              th Alamat Pengiriman     
              th Status Pengiriman 
              - if @order.shipped?
                th No Resi    
          tbody.tbody-detail
            tr
              td
                = @order.try(:payer_name)
              td
                = @order.try(:shipping_method).try(:upcase)
              td
                = @order.try(:payer_phone)
              td
                = @order.try(:payer_address)
              td
                = @order.status_order?
              - if @order.shipped? && @order.number_shipping.present?
                td
                  = @order.try(:number_shipping)
                  