- if current_user.account_manager?
  - orders_link = managers_orders_path
  - confirmations_link = managers_confirmations_path
- else
  - orders_link = members_orders_path
  - confirmations_link = members_confirmations_path
.top-member-menu
  ul
    li
      = link_to 'Daftar Order', orders_link, class: "#{active_sidebar_active?(:orders, :all)}"
    li
      = link_to 'Konfirmasi Pembayaran', confirmations_link, class: "#{active_sidebar_active?(:confirmations, :all)}"