.bs-wizard style="border-bottom:0;" 
  div class="col-xs-3 bs-wizard-step #{'complete' if @order.track_order==OrderItem::VERIFICATION || @order.track_order==OrderItem::PACKING || @order.track_order==OrderItem::SHIPPED || @order.track_order=='received'}"
    .text-center.bs-wizard-stepnum <b>Verify</b>
    .progress
      .progress-bar
    a.bs-wizard-dot href="#" 
      i.fa.fa-money
  div class="col-xs-3 bs-wizard-step #{'complete' if @order.track_order==OrderItem::PACKING || @order.track_order==OrderItem::SHIPPED || @order.track_order=='received'}"
    /! complete
    .text-center.bs-wizard-stepnum <b>Pengemasan</b>
    .progress
      .progress-bar
    a.bs-wizard-dot href="#"
      i.fa.fa-archive
  div class="col-xs-3 bs-wizard-step #{'complete' if @order.track_order==OrderItem::SHIPPED || @order.track_order=='received'}"
    /! complete
    .text-center.bs-wizard-stepnum <b>Dikirim</b>
    .progress
      .progress-bar
    a.bs-wizard-dot.icon-1 href="#" 
      i.fa.fa-plane
  div class="col-xs-3 bs-wizard-step #{'complete' if @order.track_order=='received'}"
    /! active
    .text-center.bs-wizard-stepnum <b>Diterima</b>
    .progress
      .progress-bar
    a.bs-wizard-dot href="#" 
      i.fa.fa-check