- if current_user.merchant?
  - payment_status = Order::PAYMENT_STATUS
- else
  - payment_status = PaymentStatus.to_a

.panel-body.box-search-catalog
  = form_for :search, url: collection_path, html: {class: 'simple-search-form js-form-analytic'}, method: 'get', remote: true
    .row
      .col-md-4
        .form-group
          = select_tag :order_status_id, options_for_select(payment_status, params[:order_status_id]), prompt: 'Pilih Status', class: 'form-control'
      .col-md-2
        .form-group
          = text_field_tag :price, nil, value: params[:price], class: 'form-control', placeholder: 'Nominal Tagihan'
      .col-md-3
        .form-group
          = text_field_tag :start_at, nil, value: params[:start_at], class: 'datepicker form-control', placeholder: 'Start At'
      .col-md-3
        .form-group
          = text_field_tag :end_at, nil, value: params[:end_at], class: 'datepicker form-control',  placeholder: 'End At'
      .col-md-10
        .input-key
          = text_field_tag :key, nil, value: params[:key], class: 'form-control mgbt-10', placeholder: 'Invoice/Nama Pembeli..'
        .submit-search
          = submit_tag 'CARI', class: "btn btn-full form-custom"
      .col-md-2
        .js-button-export
          = render 'shareds/button_export'