#wrapper
  .content.animate-panel
    .hpanel
      .row
        .col-md-4.col-xs-12
          .title-member-content 
            b Daftar Order
        .col-md-8.col-xs-12
          = render 'members/orders/order_menu'
        .js-partial_js
          = render 'partial_js'
