#wrapper
	.content.content-detail-invoice.animate-panel
		- @order = resource
		- @confirmation = @order.confirmation
		- if @order.member_id == current_user.id
			= render 'invoice'
			- if @order.report_refund.present?
				.panel.panel-default
					.panel-body
						center 
							h4 
								b Data Refund
						= render "members/report_refunds/report_refund", resource: @order.report_refund
		- else 
			| <h4 class="text-center">You do not have permission to access this page</h4>