.hpanel
	.row
		- if @collection.blank?
			.col-md-12.col-sm-12.col-xs-12
				= render 'shareds/empty_blank'
		- else
			- @collection.each do |resource|
				.col-md-6.col-xs-12
					br
					= render 'managers/members/list', resource: resource

= paginate @collection, remote: true if @collection.present?