.hpanel.contact-panel
	.panel-body
		.row
			.col-md-12.list-detail-riseller
				= image_tag resource.profile.avatar, class: "img-circle m-b pull-left"
				span.pull-left.name-risaller
					h5.text-capital
						strong
							= resource.username
						br
						small
							= resource.email
						br
					.status-box
						span.status
							= "#{resource.verified?}&nbsp;#{resource.membership?}&nbsp;#{resource.status_payment?}".html_safe
			.col-md-12
				.row
					.col-xs-12
						table.info-riseller
							tr
								th
									|	Reseller Id
								th 
									|	:
								th
									= resource.id
							tr
								th
									|	Domain
								th 
									|	:
								th
									= resource.domain?
							tr
								th
									|	Nama Toko
								th 
									|	:
								th
									= resource.shop_title?
							tr
								th 
									|	Nama Lengkap
								th 
									|	:
								th.text-capital
									= resource.profile.full_name rescue '--'
							tr
								th 
									|	No Hp
								th 
									|	:
								th 
									= resource.profile.phone
							tr
								th 
									|	Kota
								th 
									|	:
								th
									= resource.address.city

						table.join-at
							tr
								th 
									|	Paket
								th 
									|	:
								th 
									label.label-blue
										|	#{resource.package.present? ? resource.package.title : 'Belum Ditentukan'}
							/ tr
							/ 	th 
							/ 		|	Periode Paket
							/ 	th 
							/ 		|	:
							/ 	th 
							/ 		- if resource.invoices.present? && resource.invoices.latest.first.status == "paid"
							/ 			span.last
							/ 				= resource.period_active?
							/ 		- else
							/ 			| Belum bayar paket


						table.join-at
							tr
								th
									|	Bergabung Sejak
								th 
									|	:
								th
									= get_datetime(resource.created_at)
							tr
								th 
									|	Aktifitas Terakhir
								th 
									|	:
								th 
									= resource.current_sign_in_at ? get_datetime(resource.current_sign_in_at) : get_datetime(resource.created_at)
						
			.col-md-12.button-link
				.row
					.col-xs-6
						= link_to "<i class='fa fa-send'></i> &nbsp;Kirim Pesan".html_safe, managers_member_path(resource), class: "btn btn-orange btn-sm btn-block"
					.col-xs-6
						= link_to "<i class='fa fa-bar-chart'></i> Laporan Komisi".html_safe, managers_commissions_path(key: resource.username), class: "btn btn-blue btn-sm btn-block"

	.panel-footer.contact-footer
		.row
			.col-xs-3.border-right
				.contact-stat
					span Katalog
					strong= resource.catalogs.size
			.col-xs-3.border-right
				.contact-stat
					span Tagihan
					strong= resource.invoices.size
			.col-xs-3.border-right
				.contact-stat
					span Orders
					strong= resource.orders.size
			.col-xs-3
				.contact-stat
					span Pembayaran
					strong= resource.payment_snapshots.size