.modal.fade.modal-forum role="dialog" id="blast-message"
	.modal-dialog.modal-lg
		.modal-content
			.modal-header
				button.close data-dismiss="modal" type="button" ×
				h4.modal-title Message
			.modal-body
				.form-horizontal
					= form_for Message.new, url: blast_message_managers_messages_path, method: "post" do |f|
						.form-group
							.col-md-12
								.input-group
									.input-group-addon To
									.select2-tag
										= select_tag "tags[]", options_for_select(@my_members.map{|p| [p.username, p.id]} << "all", selected: "all"), multiple: true, class: 'form-control to_tags', required: true
								br
							.col-md-12
								= f.text_area :message, placeholder: "Enter message", id: "editor1", class: 'margin-bottom form-control', rows: "5", required: true
							.col-xs-12
								= button_tag class: "btn btn-primary pull-right", type: "submit" do
									i.fa.fa-send
									| &nbsp;
									| Send