.panel-body.box-search-catalog
	.row
		= form_for :search, url: collection_path, html: {class: 'simple-search-form js-form-analytic'}, method: 'get', remote: true
			.col-md-3
				.form-group
					= select_tag :status, options_for_select(User::STATUSES, params[:status]), prompt: 'Pilih Status', class: 'form-control'
			.col-md-3
				.form-group
					= text_field_tag :domain_name, nil, value: params[:domain_name], placeholder: 'Nama domain..', class: 'form-control'
			.col-md-3
				.form-group
					= text_field_tag :start_at, nil, value: params[:start_at], class: 'datepicker form-control', placeholder: 'Start At'
			.col-md-3
				.form-group
					= text_field_tag :end_at, nil, value: params[:end_at], class: 'datepicker form-control',  placeholder: 'End At'
			.col-md-9
				.input-key
					= text_field_tag :key, nil, value: params[:key], class: 'form-control mgbt-10', placeholder: 'Nama/Email Pengguna'
				.submit-search
					= submit_tag 'CARI', class: "btn btn-full form-custom"
		.col-md-3
			.js-button-export
				= render 'shareds/button_export'