<table border="1">
	<caption>Daftar Reseller <%= show_search_form_date(params[:start_at], params[:end_at]) %></caption>
	<tr>
		<th>Reseller ID</th>
		<th>Username</th>
		<th>Email</th>
		<th>Status</th>
		<th>Domain</th>
		<th>Nama Toko</th>
		<th>Nama Lengkap</th>
		<th>No Hp</th>
		<th>Kota</th>
		<th>Paket</th>
		<th>Periode Paket</th>
		<th>Bergabung Sejak</th>
		<th>Aktifitas Terakhir</th>
		<th>Katalog</th>
		<th>Tagihan</th>
		<th>Orders</th>
		<th>Pembayaran</th>
	</tr>
	<% @collection_all.each_with_index do |resource, index| %>
	<tr>
		<td><%= resource.id %></td>
		<td><%= resource.username %></td>
		<td><%= resource.email %></td>
		<td><%= resource.verified? %></td>
		<td><%= resource.domain? %></td>
		<td><%= resource.shop_title? %></td>
		<td><%= resource.try(:profile).try(:full_name) %></td>
		<td><%= resource.try(:profile).try(:phone) %></td>
		<td><%= resource.try(:address).try(:city) %></td>
		<td><%= resource.try(:package).try(:title) %></td>
		<td>
			<% if resource.invoices.present? && resource.invoices.latest.first.status == "paid" %>
				<%= resource.period_active? %>
			<% else %>
				Belum bayar paket
			<% end %>
		</td>
		<td><%= resource.created_at.strftime("%d %B %Y - %I:%M") if resource.created_at.present? %></td>
		<td><%= resource.current_sign_in_at ? get_datetime(resource.current_sign_in_at) : get_datetime(resource.created_at) %></td>
		<td><%= resource.catalogs.size %></td>
		<td><%= resource.invoices.size %></td>
		<td><%= resource.orders.size %></td>
		<td><%= resource.payment_snapshots.size %></td>
	</tr>
	<% end %>
</table>