#wrapper
	.content.animate-panel
		.hpanel
			.title-member-content
				b.b-reseller  Resellers
				.top-member-menu
					ul
						li
							a.active.active_sidebar_active active.active_sidebar_active="" data-target="#blast-message" data-toggle="modal" href="#" 
								i.fa.fa-send
								| &nbsp; Kirim Pesan


			.js-partial_js
				= render 'partial_js'