#wrapper
	.content.animate-panel.edit-profile-member
		.title-member-content.mg-bot10
			b Kirim Pesan Ke Reseller
		.panel.panel-default
			.panel-body
				.content-chat
					.row
						.col-md-5.desktop
							.panel.responsive-about-am
								.panel-body
									.row
										.user-bg
											.user-content
												= image_tag resource.profile.avatar, class: "thumb-lg img-circle" if resource.present? && resource.profile.present?
												h5.text-white.text-uppercase
													= resource.username  rescue '--'
												h6.text-white 
													= resource.email rescue '--'
										
										.col-md-12
											table.info-riseller
												tr
													th
														|	Reseller Id
													th 
														|	:
													th
														= resource.id
												tr
													th
														|	Domain
													th 
														|	:
													th
														= resource.domain?
												tr
													th
														|	Nama Toko
													th 
														|	:
													th
														= resource.shop_title?
												tr
													th 
														|	Nama Lengkap
													th 
														|	:
													th 
														= resource.profile.full_name rescue '--'
												tr
													th 
														|	No Hp
													th 
														|	:
													th 
														= resource.profile.phone
												tr
													th 
														|	Alamat
													th 
														|	:
													th
														= resource.address.try(:place_info)
														
											table.join-at
												tr
													th 
														|	Paket
													th 
														|	:
													th 
														label.label-blue
															|	#{resource.package.title}
												tr
													th 
														|	Periode Paket
													th 
														|	:
													th 
														- if resource.invoices.present? && resource.invoices.latest.first.status == "paid"
															span.last
																= resource.period_active?
														- else
															| Belum bayar paket
											
								.panel-footer.contact-footer
									.row
										.col-xs-3.border-right
											.contact-stat
												span Katalog
												strong #{resource.catalogs.size}
										.col-xs-3.border-right
											.contact-stat
												span Tagihan
												strong #{resource.invoices.size}
										.col-xs-3.border-right
											.contact-stat
												span Orders
												strong #{resource.orders.size}
										.col-xs-3
											.contact-stat
												span Pembayaran
												strong #{resource.payment_snapshots.size}
						.col-md-7
							.row-mobile
								.panel.panel-default.chat
									.panel-heading.hbuilt
										| Kirim Pesan Ke Reseller Anda <b>#{resource.profile.full_name rescue ''}</b>
									.panel-body.no-padding.body-chat.responsive-no-border
										.row
											.col-md-12
												.chat-discussion
													= render 'managers/shareds/chat', messages: @member_messages
									.panel-footer.borders.responsive-form-chate.responsive-no-border
										= form_for :message, url: managers_messages_path, method: 'post', remote: true do |f|
											- if @group_message.present?
												= hidden_field_tag :group_message_id, @group_message.id 
												= hidden_field_tag :send_to, resource.id
											.input-group
												= text_field_tag :message, nil,autocomplete: 'off', class: 'form-control input-chat', placeholder: 'ketik pesan disini ...', required: true, autofocus: true
												span.input-group-btn
													= submit_tag 'Kirim', class: 'btn btn-gb'

	.content-footer