              <tr>
                <td valign="top" id="templateFooter">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock" style="min-width:100%;">
                    <tbody class="mcnDividerBlockOuter">
                      <tr>
                        <td class="mcnDividerBlockInner" style="min-width: 100%; padding: 10px 18px 25px;">
                          <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;border-top-width: 2px;border-top-style: solid;border-top-color: #EEEEEE;">
                            <tbody>
                              <tr>
                                <td>
                                  <span></span>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
    
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
                    <tbody class="mcnTextBlockOuter">
                      <tr>
                        <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
                          <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                            <tbody>
                              <tr>
                                <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
                                  <center>
                                    <% if @order.present? %>
                                      <br>
                                      <br>
                                      <em>&copy; <%= @order.member.domain? %>. All Rights Reserved.</em>
                                    <% else %>
                                      <b>www.dropshipan.co.id</b>
                                      <br>
                                      <br>
                                      <strong>Our mailing address is:</strong>
                                      <br>
                                      hi@dropshipan.com
                                      <br>
                                      <br>
                                      <em>&copy; www.dropshipan.co.id. All Rights Reserved.</em>
                                    <% end %>
                                  </center>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>