.tabbable
  ul.nav.nav-tabs
    li.active
      a data-toggle="tab" href="#tab1"  Akun
    li
      a data-toggle="tab" href="#tab2"  Alamat
    li
      a data-toggle="tab" href="#tab3"  Rekening Bank
    li
      a data-toggle="tab" href="#tab4"  Kontak
    li
      a data-toggle="tab" href="#tab5"  Pengaturan Domain
    li
      a data-toggle="tab" href="#tab6"  Pengaturan Web
    li
      a data-toggle="tab" href="#tab7"  Setting Toko & SEO
  .tab-content
    = f.fields_for :profile do |profile|
      = f.fields_for :address do |address|
        = f.fields_for :contact do |contact|
          = f.fields_for :site_info do |site_info|
            = f.fields_for :web_setting do |web_setting|
              #tab1.tab-pane.active
                = render partial: 'backend/users/form', locals: {f: f, profile: profile}
              #tab2.tab-pane
                = render partial: 'backend/users/form_address', locals: {address: address}
              #tab3.tab-pane
                = render partial: 'backend/users/form_bank_account', locals: {profile: profile}
              #tab4.tab-pane
                = render partial: 'backend/users/form_contact', locals: {contact: contact, profile: profile} 
              #tab5.tab-pane
                = render partial: 'backend/users/form_site_info', locals: {f: f, site_info: site_info}
              #tab6.tab-pane
                = render partial: 'backend/users/form_web_setting', locals: {f: f, web_setting: web_setting, site_info: site_info} 
              #tab7.tab-pane
                = render partial: 'backend/users/form_setting_seo', locals: {web_setting: web_setting} 

  
  .buttons
    button class="btn btn-sm btn-info" type="submit" id="savebutton" SIMPAN