.row
  .col-md-12
    table-responsive
      table class="table table-striped table-bordered table-hover"
        thead
          tr
            th Kode Komisi
            th Kode Invoice
            th Produk
            th Kode Katalog
            th Katalog Terjual
            th Kuantitas
            th Reseller
            th Order Item
            th Komisi Perusahaan
            th Komisi AM
            th Komisi Reseller
            th Status
            th Tanggal Masuk
        tbody
          - if @commissions.blank?
            tr
              td colspan="13" 
                = render "shareds/empty_blank"
          - else
            - @commissions.each do |resource|
              tr
                td.uppercase
                  = link_to resource.uniq_code || resource.id, '#'
                td.uppercase
                  = resource.order.code
                td
                  = "#{resource.product.title} (#{resource.product.code}) <b>#{get_currency(resource.product.price)}</b>".html_safe
                td.uppercase
                  = resource.catalog.code || resource.catalog.id
                td
                  b
                    = get_currency(resource.order_item.total_price)
                td
                  = resource.quantity
                td
                  = link_to resource.member.username, backend_member_path(resource.member)
                td
                  = resource.order_item.no_invoice
                td
                  b
                    = get_currency(resource.commission_company)
                  - if resource.account_manager.present?
                    br
                    small
                      = "AM: - #{get_currency(resource.commission_am)} (#{link_to resource.try(:account_manager).try(:username), backend_account_manager_path(resource.account_manager.username)})".html_safe
                  - resource.commission_referrals.each_with_index do |r, index|
                    - if r.member.present?
                      br
                      small
                        = "REF#{index+1}: - #{get_currency(r.commission_value)} (#{link_to r.try(:member).try(:username), backend_member_path(r.member.username)})".html_safe
                td
                  b
                    = get_currency(resource.commission_am)
                td
                  b
                    = get_currency(resource.commission_member)
                td
                  = resource.status?
                  td
                    = resource.commission_date.strftime("%b, %d, %Y") if resource.commission_date.present?
      = paginate @commissions, remote: true, param_name: "page_commissions" if @commissions.present?