.row
	.col-md-12
		table-responsive
			table class="table table-striped table-bordered table-hover"
				thead
					tr
						th Kode
						th Subject
						th Paket Dipilih
						th Total Tagihan
						th Kode Unik
						th Periode
						th Nama Bank
						th Nama Rekening
						th Nomor Rekening
						th Status
						th Dibuat
						th Action
				tbody
					- if @invoices.blank?
						tr
							td colspan="14" 
								= render "shareds/empty_blank"
					- else
						- @invoices.each_with_index do |resource, index|
							tr
								td
									= resource.code
								td
									= resource.subject
								td
									b
										= resource.package.title
									br
									= get_currency(resource.package.price)
									br
									= "Setiap #{resource.package.period} bln"
								td
									= get_currency(resource.price)
								td
									= resource.uniq_code
								td
									- if resource.period_start.present? 
										= "#{get_date(resource.period_start)} s.d. #{get_date(resource.period_end)}"
									- else
										| -
								td
									= resource.bank_name
								td
									= resource.account_name
								td
									= resource.account_number
								td
									= resource.status?
								td
									= get_datetime(resource.created_at)
								td
									= link_to '<i class="fa fa-download" aria-hidden="true"></i>'.html_safe, backend_invoice_path(resource, format: 'pdf'), class: 'btn btn-xs btn-default'

			= paginate @invoices, remote: true, param_name: "page_invoices" if @invoices.present?