.row
  .col-md-6.col-sm-6
    .panel.panel-info
      .panel-heading
        | Referral Terverifikasi
      .panel-body
        center
          h4= @referral_verified.count
  .col-md-6.col-sm-6
    .panel.panel-danger
      .panel-heading
        | Referral Belum Terverifikasi
      .panel-body
        center
          h4= @referral_not_verified.count
  .col-md-4.col-sm-4
    .panel.panel-default
      .panel-body
        center
          b Referral 1
          h4 #{@referral_referral1.count}
  .col-md-4.col-sm-4
    .panel.panel-default
      .panel-body
        center
          b Referral 2
          h4 #{@referral_referral2.count}
  .col-md-4.col-sm-4
    .panel.panel-default
      .panel-body
        center
          b Referral 3
          h4 #{@referral_referral3.count}

.row
  .col-md-12
    table-responsive
      table class="table table-striped table-bordered table-hover"
        thead
          tr
            th Posisi Referral
            th Reseller
            th Status
            th Alamat
            th No. Telepon
            th Melalui
            th Ref 1
            th Ref 2
            th Ref 3
            th Tanggal Masuk
        tbody
          - if @referrals.blank?
            tr
              td colspan="10" 
                = render "shareds/empty_blank"
          - else
            - @referrals.each_with_index do |resource, index|
              - referrals = resource.referrals
              tr
                td.uppercase
                  = resource.position_referral(@member.id)
                td
                  | #{resource.username} ( #{resource.email} )
                td
                  = resource.verified?
                td
                  | #{resource.address.place_info}
                td
                  | #{resource.profile.phone}
                td
                  | #{resource.ref1.username} ( #{resource.ref1.email} )
                td
                  = referrals.referral1(resource.id).count
                td
                  = referrals.referral2(resource.id).count
                td
                  = referrals.referral3(resource.id).count
                td
                  = get_datetime(resource.created_at)

      = paginate @referrals, remote: true, param_name: "page_referrals" if @referrals.present?