.row
  .col-md-12
    table-responsive
      table class="table table-striped table-bordered table-hover"
        thead
          tr
            th Kode Komisi
            th Referral Dari
            th Kepada
            th Kode Order
            th Produk
            th Kode Katalog
            th Katalog Terjual
            th Kuantitas
            th Nilai Komisi
            th Status
            th Tanggal Masuk
        tbody
          - if @commission_referrals.blank?
            tr
              td colspan="11" 
                = render "shareds/empty_blank"
          - else
            - @commission_referrals.each do |resource|
              tr
                td.uppercase
                  = resource.commission.uniq_code || resource.id
                td
                  = "#{resource.commission.member.username} (#{link_to resource.commission.member.email, "mailto:#{resource.commission.member.email}"})".html_safe
                td
                  = "#{resource.member.username} (#{link_to resource.member.email, "mailto:#{resource.member.email}"})".html_safe
                td.uppercase
                  = resource.commission.order.code || resource.commission.order.id
                td
                  = "#{resource.commission.product.title} (#{resource.commission.product.code}) <b>#{get_currency(resource.commission.product.price)}</b>".html_safe
                td.uppercase
                  = resource.commission.catalog.code || resource.commission.catalog.id
                td
                  b
                   = get_currency(resource.commission.order_item.total_price)
                td
                  = resource.commission.quantity
                td
                  b
                    = get_currency(resource.commission_value)
                td
                  = resource.status?
                td
                  = resource.commission_date.strftime("%b, %d, %Y") if resource.commission_date.present?
      = paginate @commissions, remote: true, param_name: "page_commissions" if @commissions.present?