.row
	.col-md-12
		table-responsive
			table class="table table-striped table-bordered table-hover"
				thead
					tr
						th Kode
						th Judul Landing Page
						th Kategori
						th Status
						th Reseller
						th Domain
						th Email
						th Tanggal
				tbody
					- if @request_landing_presses.blank?
						tr
							td colspan="8" 
								= render "shareds/empty_blank"
					- else
						- @request_landing_presses.each_with_index do |resource, index|
							tr
								td.uppercase
									= resource.code
								td
									= resource.landing_press.title1
								td
									= resource.landing_press.category
								td
									= resource.landing_press.status?
								td
									= resource.member.username
								td
									= resource.member.domain?
								td
									= resource.member.email
								td
									= get_datetime(resource.created_at)

			= paginate @request_landing_presses, remote: true, param_name: "page_request_landing_presses" if @request_landing_presses.present?