.row
  .col-md-12
    table-responsive
      table class="table table-striped table-bordered table-hover"
        thead
          tr
            th Kode Invoice
            th ADM
            th Komisi
            th Status
            th Payment
            th Periode
            th Created At
            th Action
        tbody
          - if @payment_referrals.blank?
            tr
              td colspan="8" 
                = render "shareds/empty_blank"
          - else
            - @payment_referrals.each_with_index do |resource, index|
              tr
                td
                  = link_to resource.code, resource_path(resource)
                td
                  = resource.admin.username
                td
                  = get_currency(resource.commission_referral)
                td
                  = resource.status?
                td
                  = resource.status_payment?
                td
                  = resource.payment_period?
                td
                  = get_datetime(resource.created_at)
                td
                  = link_to '<i class="fa fa-download" aria-hidden="true"></i>'.html_safe, backend_payment_referral_path(resource, format: 'pdf'), class: 'btn btn-xs btn-default'

      = paginate @payment_referrals, remote: true, param_name: "page_payment_referrals" if @payment_referrals.present?