.row
	.col-md-12
		table-responsive
			table class="table table-striped table-bordered table-hover"
				thead
					tr
						th Kode Order
						th Jumlah Barang
						th Refund Value
						th Ongkir
						th Total
						th Rekening Tujuan
						th Status
						th Tanggal
						th Action
				tbody
					- if @report_refunds.blank?
						tr
							td colspan="9" 
								= render "shareds/empty_blank"
					- else
						- @report_refunds.each_with_index do |resource, index|
							tr
								td
									= link_to "#{resource.order.code}", backend_order_path(resource.order)
								td
									= resource.quantity
								td
									b
										= get_currency(resource.refund_value) if resource.refund_value.present?
								td
									b
										= get_currency(resource.ongkir) if resource.ongkir.present?
								td
									b
										= get_currency(resource.total) if resource.total.present?
								td
									= resource.to_acc
								td
									= resource.try(:status?)
								td
									small
										= resource.try(:created_at).strftime("%B, %d, %Y") if resource.created_at.present?
								td
									= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, backend_report_refund_path(resource), class: 'btn btn-xs btn-info'

			= paginate @report_refunds, remote: true, param_name: "page_report_refunds" if @report_refunds.present?