- if current_user.master?
  - add_method = true
- else
  - add_method = false
  
.col-md-12
	= render 'backend/shareds/search_form_user_member'
	= form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do
		.row
			.col-md-3
				.box-top-detail.green
					b.txt-green #{@verifieds}
					br
					| Member Terverifikasi
			.col-md-3
				.box-top-detail.orange
					b.txt-orange #{@featureds}
					br
					| Member Pilihan
			.col-md-3
				.box-top-detail.red
					b.txt-red #{@not_verifieds}
					br
					| Member Belum di Verifikasi
			.col-md-3
				.box-top-detail.red
					b.txt-red #{@not_actives}
					br
					| Member Tidak Aktif
		.widget
			= render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Member', button_name: 'Member', add_method: add_method}
			.widget-content
				.table-responsive
					table class="table table-striped table-bordered table-hover"
						thead
							tr
								th width="1%"
								th ID
								/ th Avatar
								th Akun
								th Referral
								th Site Info
								th Nama Lengkap
								th Paket
								th Katalog
								th Pesanan
								th Status
								th Terdaftar
								th Action
						tbody
							- if @collection.blank?
								tr
									td colspan="12" 
										= render "shareds/empty_blank"
							- else
								- @collection.each_with_index do |resource, index|
									tr
										td
											= check_box_tag "ids[]", resource.id
										td
											= resource.id
										/ td
										/ 	= image_tag "#{resource.profile.avatar.url(:thumb)}", class: 'thumb'
										td
											| kode: <b>#{link_to resource.code, resource_path(resource)}</b>
											br
											| username: <b>#{link_to resource.username, resource_path(resource)}</b>
											br
											| (<a href="mailto:#{resource.email}">#{resource.email}</a>)
										td
											- if resource.ref_id1.present?
												| ref_id1 :  
												= link_to resource.try(:ref1).try(:username), backend_member_path(resource.ref1)
											br
											- if resource.ref_id2.present?
												| ref_id2 :  
												= link_to resource.try(:ref2).try(:username), backend_member_path(resource.ref2)
											br
											- if resource.ref_id3.present?
												| ref_id3 :  
												= link_to resource.try(:ref3).try(:username), backend_member_path(resource.ref3)
										td
											= resource.domain? rescue '--'
											- if resource.domain_settings.present?
												br
												- resource.domain_settings.each do |domain|
													= domain.name
													br
										td
											= resource.try(:profile).try(:full_name)
											- if resource.address.city.present?
												br
												= "( #{resource.try(:address).try(:city)} )"
											- if resource.account_manager.present?
												br
												= "Manager: <b>#{link_to resource.account_manager.username, backend_account_manager_path(resource.account_manager)}</b>".html_safe
										td
											= resource.try(:package).try(:title)
											br
											= "( #{get_currency(resource.try(:package).try(:price)) if resource.try(:package).try(:price).present?} )"
											/ br
											/ = "Invoice: <b>#{resource.invoices.size}</b>".html_safe
											br
											- if resource.invoices.current_packages(resource.package_id).present? && resource.invoices.current_packages(resource.package_id).latest.first.status == "paid"
												/ = "Aktif: <b>#{resource.period_active?}</b>".html_safe
											- else
												| Belum bayar paket
										td
											= "Aktif: <b>#{resource.catalogs.approved.size}</b>".html_safe
											br
											= "Inaktif: <b>#{resource.catalogs.inactive.size}</b>".html_safe
											br
											= "Pending: <b>#{resource.catalogs.pending.size}</b>".html_safe
										td
											= "Sukses: <b>#{resource.orders.paid.size}</b>".html_safe
											br
											= "Pending: <b>#{resource.orders.verification.size}</b>".html_safe
											br
											= "Batal: <b>#{resource.orders.cancelled.size}</b>".html_safe
										td
											small
												= resource.featured?
											br
											= resource.verified?
											br
											= resource.membership?
											br
											= resource.status_payment?
										td
											= resource.try(:created_at).strftime("%H:%M %B, %d, %Y")
										td
											- if current_user.master?
												= render partial: 'backend/shareds/prepare_action',
													locals: { resource: resource, confirmation: "Are you sure delete this #{resource.username}", no_show: false }
													

				.widget-foot
					.pull-right
						= paginate @collection, remote: true if @collection.present?
					.clearfix
