<table border="1">
	<caption>Daftar Reseller <%= show_search_form_date(params[:start_at], params[:end_at]) %></caption>
	<tr>
		<th>ID</th>
		<th>Akun</th>
		<th>Referral</th>
		<th>Site Info</th>
		<th>Nama Lengkap</th>
		<th>Alamat</th>
		<th>Kontak</th>
		<th>Rekening Bank</th>
		<th>Paket</th>
		<th>Katalog</th>
		<th>Pesanan</th>
		<th>Status</th>
		<th>Terdaftar</th>
	</tr>
	<% @collection_all.each_with_index do |resource, index| %>
	<tr>
		<td><%= resource.try(:id) %></td>
		<td>
			kode :
			<%= resource.try(:code) %>
			<br>
			username :
			<%= resource.try(:username) %>
			<br>
			email :
			<%= resource.try(:email) %>
		</td>
		<td>
			<% if resource.ref_id1.present? %>
				ref_id1 :
				<%= resource.try(:ref1).try(:username) %>
			<% end %>
			<br>
				<% if resource.ref_id2.present? %>
				ref_id2 :
				<%= resource.try(:ref2).try(:username) %>
			<% end %>
			<br>
			<% if resource.ref_id3.present? %>
				ref_id3 :
				<%= resource.try(:ref3).try(:username) %>
			<% end %>
		</td>
		<td>
			<%= resource.domain? rescue '--' %>
			<% if resource.domain_settings.present? %>
				<br>
				<% resource.domain_settings.each do |domain| %>
					<%= domain.name %>
					<br>
				<% end %>
			<% end %>
		</td>
		<td>
			<%= resource.try(:profile).try(:full_name) %>
			<% if resource.address.city.present? %>
				(<%= resource.try(:address).try(:city) %>)
			<% end %>
			<% if resource.account_manager.present? %>
				<br>
				manager:
				<%= resource.account_manager.username %>
			<% end %>
		</td>
		<td><%= resource.address.place_info %></td>
		<td>
			Nomor HP/WA :
			<%= resource.profile.phone %>
		</td>
		<td>
			<%= "#{resource.profile.bank_name} #{resource.profile.account_number} " %>
			<br>
			Nama Rekening :
			<%= resource.profile.account_name %>
			<br>
			Cabang Bank :
			<%= resource.profile.bank_branch %>
		</td>
		<td>
			<%= resource.try(:package).try(:title) %>
			<br>
			<%= "( #{get_currency(resource.try(:package).try(:price)) if resource.try(:package).try(:price).present?} )" %>
			<br>
			<%= "Invoice: #{resource.invoices.size}".html_safe %>
			<br>
			<% if resource.invoices.current_packages(resource.package_id).present? && resource.invoices.current_packages(resource.package_id).latest.first.status == "paid" %>
				<%= "Aktif: #{resource.period_active?}".html_safe %>
			<% else  %>
				Belum bayar paket
			<% end %>
		</td>
		<td>
			<%= "Aktif: #{resource.catalogs.approved.size}".html_safe %>
			<br>
			<%= "Inaktif: #{resource.catalogs.inactive.size}".html_safe %>
			<br>
			<%= "Pending: #{resource.catalogs.pending.size}".html_safe %>
		</td>
		<td>
			<%= "Sukses: <b>#{resource.orders.paid.size}</b>".html_safe  %>
			<br>
			<%= "Pending: <b>#{resource.orders.verification.size}</b>".html_safe %>
			<br>
			<%= "Batal: <b>#{resource.orders.cancelled.size}</b>".html_safe %>
		</td>
		<td>
			<small><%= resource.featured? %></small>
			<br>
			<%= resource.verified? %>
			<br>
			<%= resource.membership? %>
		</td>
		<td><%= resource.try(:created_at).strftime("%H:%M %B, %d, %Y") %></td>

	</tr>
	<% end %>
</table>