$('#list-catalogs').html("<%= escape_javascript render partial: 'list_catalogs', locals: {catalogs: @catalogs} %>");
$('#list-orders').html("<%= escape_javascript render partial: 'list_orders', locals: {orders: @orders} %>");
$('#list-confirmations').html("<%= escape_javascript render partial: 'list_confirmations', locals: {confirmations: @confirmations} %>");
$('#list-commissions').html("<%= escape_javascript render partial: 'list_commissions', locals: {commissions: @commissions} %>");
$('#list-commission_referrals').html("<%= escape_javascript render partial: 'list_commission_referrals', locals: {commission_referrals: @commission_referrals} %>");
$('#list-payment_snapshots').html("<%= escape_javascript render partial: 'list_payment_snapshots', locals: {payment_snapshots: @payment_snapshots} %>");
$('#list-invoices').html("<%= escape_javascript render partial: 'list_invoices', locals: {invoices: @invoices} %>");
$('#list-referrals').html("<%= escape_javascript render partial: 'list_referrals', locals: {referrals: @referrals} %>");
$('#list-payment_referrals').html("<%= escape_javascript render partial: 'list_payment_referrals', locals: {payment_referrals: @payment_referrals} %>");
$('#list-report_refunds').html("<%= escape_javascript render partial: 'list_report_refunds', locals: {report_refunds: @report_refunds} %>");
$('#list-request_landing_presses').html("<%= escape_javascript render partial: 'list_request_landing_presses', locals: {request_landing_presses: @request_landing_presses} %>");
$('#list-activities').html("<%= escape_javascript render partial: 'list_activities', locals: {activities: @activities} %>");