.col-md-12
	.widget
		.widget-head
			.pull-left
				| Detail Reseller
			.widget-icons.pull-right
				| <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
				| <a href="#" class="wclose"><i class="fa fa-times"></i></a>
			.clearfix
		.widget-content
			.padd
				.tabbable
					ul.nav.nav-tabs
						li.active
							a data-toggle="tab" href="#tab1"  Akun
						li
							a data-toggle="tab" href="#tab2"  Alamat
						li
							a data-toggle="tab" href="#tab3"  Rekening Bank
						li
							a data-toggle="tab" href="#tab4"  Kontak
						li
							a data-toggle="tab" href="#tab5"  Domain
						li
							a data-toggle="tab" href="#tab6"  Pengaturan Web
						li
							a data-toggle="tab" href="#tab7"  Toko & SEO
					.tab-content
						- profile = resource.profile
						- address = resource.address
						- contact = resource.contact
						- site_info = resource.site_info
						- web_setting = resource.web_setting
						#tab1.tab-pane.active
							.row
								.col-md-6
									.form-horizontal
										.col-md-3
											.form-group
												b AM
										.col-md-9
											.form-group
												= link_to resource.account_manager.username, backend_account_manager_path(resource.account_manager)
										.col-md-3
											.form-group
												b REF 1
										.col-md-9
											.form-group
												= resource.ref_id1.present? ? "#{link_to resource.try(:ref1).try(:username), backend_member_path(resource.ref1)}".html_safe : '-'
										.col-md-3
											.form-group
												b REF 2
										.col-md-9
											.form-group
												= resource.ref_id2.present? ? "#{link_to resource.try(:ref2).try(:username), backend_member_path(resource.ref2)}".html_safe : '-'
										.col-md-3
											.form-group
												b REF 3
										.col-md-9
											.form-group
												= resource.ref_id3.present? ? "#{link_to resource.try(:ref3).try(:username), backend_member_path(resource.ref3)}".html_safe : '-'
										.col-md-3
											.form-group
												b Terdaftar
										.col-md-9
											.form-group
												= get_datetime(resource.created_at)
										.col-md-3
											.form-group
												b Email
										.col-md-9
											.form-group
												= resource.email
										.col-md-3
											.form-group
												b Username
										.col-md-9
											.form-group
												= resource.username
										.col-md-3
											.form-group
												b Nama Lengkap
										.col-md-9
											.form-group
												= profile.full_name.present? ? profile.full_name : '-'
										.col-md-3
											.form-group
												b Tanggal Lahir
										.col-md-9
											.form-group
												= profile.birthday.present? ? profile.birthday : '-'
										.col-md-3
											.form-group
												b Jenis Kelamin
										.col-md-9
											.form-group
												= profile.gender.present? ? profile.gender : '-'
								.col-md-6
									.form-group
										= image_tag profile.avatar.url(:medium), style: 'width: 150px'
						#tab2.tab-pane
							.row
								.col-md-6
									.form-horizontal
										.col-md-3
											.form-group
												b Provinsi
										.col-md-9
											.form-group
												= address.province.present? ? address.province : "-" 
										.col-md-3
											.form-group
												b Kota
										.col-md-9
											.form-group
												= address.city.present? ? address.city : "-" 
										.col-md-3
											.form-group
												b Alamat
										.col-md-9
											.form-group
												= address.address.present? ? address.address : "-" 
										.col-md-3
											.form-group
												b Kode Pos
										.col-md-9
											.form-group
												= address.postcode.present? ? address.postcode : "-" 
						#tab3.tab-pane
							.row
								.col-md-6
									.form-horizontal
										.col-md-3
											.form-group
												b Nama Bank
										.col-md-9
											.form-group
												= profile.bank_name.present? ? profile.bank_name : "-" 
										.col-md-3
											.form-group
												b Cabang
										.col-md-9
											.form-group
												= profile.bank_branch.present? ? profile.bank_branch : "-" 
										.col-md-3
											.form-group
												b Nama Rekening
										.col-md-9
											.form-group
												= profile.account_name.present? ? profile.account_name : "-" 
										.col-md-3
											.form-group
												b Nomor Rekening
										.col-md-9
											.form-group
												= profile.account_number.present? ? profile.account_number : "-" 
						#tab4.tab-pane
							.row
								.col-md-6
									.form-horizontal
										.col-md-3
											.form-group
												b Nomor HP
										.col-md-9
											.form-group
												= profile.phone.present? ? profile.phone : "-" 
										.col-md-3
											.form-group
												b Nomor Telepon Rumah
										.col-md-9
											.form-group
												= contact.phone.present? ? contact.phone : "-" 
										.col-md-3
											.form-group
												b BBM
										.col-md-9
											.form-group
												= contact.bbm.present? ? contact.bbm : "-" 
										/ .col-md-3
										/   .form-group
										/     b Line
										/ .col-md-9
										/   .form-group
										/     = contact.line.present? ? contact.line : "-" 
										/ .col-md-3
										/   .form-group
										/     b WA
										/ .col-md-9
										/   .form-group
										/     = contact.wa.present? ? contact.wa : "-" 
										.col-md-3
											.form-group
												b Website
										.col-md-9
											.form-group
												= contact.website.present? ? contact.website : "-" 
										.col-md-3
											.form-group
												b Facebok
										.col-md-9
											.form-group
												= contact.facebook.present? ? contact.facebook : "-" 
										.col-md-3
											.form-group
												b Instagram
										.col-md-9
											.form-group
												= contact.instagram.present? ? contact.instagram : "-" 
						#tab5.tab-pane
							.row
								.col-md-12
									.form-horizontal
										.form-group
											.col-md-3
												b Nama Domain/Sub Domain
											.col-md-9
												= resource.domain?
									.table-responsive
										table class="table table-striped table-bordered table-hover"
											thead
												tr
													th width="20%" Nama Domain
													th Name Server 1
													th Name Server 2
													th Status
													th Tanggal dibuat
											tbody
												- if @domain_settings.blank?
													tr
														td colspan="5" 
															= render "shareds/empty_blank"
												- else
													- @domain_settings.each_with_index do |resource, index|
														tr
															td
																= link_to "#{resource.name}", edit_resource_path(resource)
															td
																= resource.ns1.present? ? resource.ns1 : "-"
															td
																= resource.ns2.present? ? resource.ns2 : "-"
															td
																= resource.status?
															td
																= get_datetime(resource.created_at)
									
									= paginate @domain_settings, remote: true, param_name: "page_domain_settings" if @domain_settings.present?
						#tab6.tab-pane
							.row
								.col-md-6
									.form-horizontal
										.col-md-3
											.form-group
												b Favicon
										.col-md-9
											.form-group
												= image_tag web_setting.favicon
										.col-md-3
											.form-group
												b Logo
										.col-md-9
											.form-group
												= image_tag web_setting.logo
										.col-md-3
											.form-group
												b Logo Banner
										.col-md-9
											.form-group
												= image_tag web_setting.logo_banner
										.col-md-3
											.form-group
												b Footer Tags
										.col-md-9
											.form-group
												= web_setting.footer_tags.present? ? web_setting.footer_tags : "-" 
										.col-md-3
											.form-group
												b Tempalte web
										.col-md-9
											.form-group
												= image_tag site_info.web_template.image.url(:medium) if site_info.web_template.present?
										.col-md-3
											.form-group
												b Carousel Slider Homepage
										.col-md-9
											.form-group
												- if web_setting.galleries.present?
													- web_setting.galleries.each do |resource|
														= image_tag resource.file.url(:medium)
												- else
													| -


						#tab7.tab-pane
							.row
								.col-md-6
									.form-horizontal
										.col-md-3
											.form-group
												b Nama Toko
										.col-md-9
											.form-group
												= web_setting.title.present? ? web_setting.title : "-" 
										.col-md-3
											.form-group
												b Meta Keywords
										.col-md-9
											.form-group
												= web_setting.keywords.present? ? web_setting.keywords : "-" 
										.col-md-3
											.form-group
												b Deskripsi
										.col-md-9
											.form-group
												= web_setting.description.present? ? web_setting.description.html_safe : "-" 
										.col-md-3
											.form-group
												b Search Engine
										.col-md-9
											.form-group
												= web_setting.search_engines.present? ? web_setting.search_engines : "-" 
										.col-md-3
											.form-group
												b Meta Robot
										.col-md-9
											.form-group
												= web_setting.robot.present? ? web_setting.robot : "-" 
										.col-md-3
											.form-group
												b Author
										.col-md-9
											.form-group
												= web_setting.author.present? ? web_setting.author : "-" 
										.col-md-3
											.form-group
												b Copyright
										.col-md-9
											.form-group
												= web_setting.corpyright.present? ? web_setting.corpyright : "-" 
										.col-md-3
											.form-group
												b Fb Pixels
										.col-md-9
											.form-group
												= web_setting.fb_fixels_dashboard.present? ? web_setting.fb_fixels_dashboard : "-"
										/ .col-md-3
										/   .form-group
										/     b Fb Pixel View
										/ .col-md-9
										/   .form-group
										/     = web_setting.fb_fixels_view.present? ? web_setting.fb_fixels_view : "-"
										/ .col-md-3
										/   .form-group
										/     b Fb Pixel Cart
										/ .col-md-9
										/   .form-group
										/     = web_setting.fb_fixels_cart.present? ? web_setting.fb_fixels_cart : "-"
										/ .col-md-3
										/   .form-group
										/     b Fb Pixel Checkout
										/ .col-md-9
										/   .form-group
										/     = web_setting.fb_fixels_checkout.present? ? web_setting.fb_fixels_checkout : "-"
										/ .col-md-3
										/   .form-group
										/     b Fb Pixel Purchase
										/ .col-md-9
										/   .form-group
										/     = web_setting.fb_fixels_purchase.present? ? web_setting.fb_fixels_purchase : "-"
										.col-md-3
											.form-group
												b Google Analytic
										.col-md-9
											.form-group
												= web_setting.google_analytic.present? ? web_setting.google_analytic : "-"
										.col-md-3
											.form-group
												b Order Via Cart
										.col-md-9
											.form-group
												= web_setting.order_via_cart_text?
										.col-md-3
											.form-group
												b Order Via WA
										.col-md-9
											.form-group
												= web_setting.order_via_wa_text?

		.widget-foot
			= link_to '<i class="fa fa-chevron-left"></i>'.html_safe, :back, class: 'btn btn-xs btn-primary', title: "Kembali"
			| &nbsp;
			= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_resource_path(resource), class: 'btn btn-xs btn-warning', title: "Ubah"

	.panel
		.panel-body
			.tabbable
				ul.nav.nav-tabs
					li.active
						a data-toggle="tab" href="#tab2_1"  Katalog
					li
						a data-toggle="tab" href="#tab2_2"  Order
					li
						a data-toggle="tab" href="#tab2_3"  Konfirmasi Pembayaran
					li
						a data-toggle="tab" href="#tab2_4"  Komisi Penjualan
					li
						a data-toggle="tab" href="#tab2_5"  Komisi Referral
					li
						a data-toggle="tab" href="#tab2_6"  Pembayaran Penjualan
					li
						a data-toggle="tab" href="#tab2_7"  Pembayaran Referral
					li
						a data-toggle="tab" href="#tab2_8"  Refund Order
					li
						a data-toggle="tab" href="#tab2_9"  Tagihan Paket
					li
						a data-toggle="tab" href="#tab2_10"  Referrals
					li
						a data-toggle="tab" href="#tab2_11"  Landing Pages
					li
						a data-toggle="tab" href="#tab2_12"  Aktifitas
				br
				.tab-content
					#tab2_1.tab-pane.active
						h2 align="center" Daftar Katalog
						br
						= form_for :search, url: backend_member_path(resource), method: 'get', html: {class: 'form-search', remote: true} do
							.input-group.wd100
								.col-md-3.no-padding
									= text_field_tag :key_catalog, params[:key_catalog], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
								.col-md-2.no-padding
									= select_tag :category_catalog, options_for_select(Category.roots.alfa.active.pluck(:name), params[:category_catalog]), prompt: 'Pilih Kategori', class: 'form-control'
								.col-md-2.no-padding
									= select_tag :status_catalog, options_for_select(Catalog::STATUSES, params[:status_catalog]), prompt: 'Pilih Status', class: 'form-control'
								.col-md-2.no-padding
									= text_field_tag :start_at_catalog, nil, value: params[:start_at_catalog], class: 'form-control datepicker', placeholder: 'Start At'
								.col-md-2.no-padding
									= text_field_tag :end_at_catalog, nil, value: params[:end_at_catalog], class: 'form-control datepicker',  placeholder: 'End At'
								.col-md-1.no-padding
									= submit_tag :search, class: 'btn btn-info btn-block'
						br
						#list-catalogs
							= render "list_catalogs"
						
					#tab2_2.tab-pane
						h2 align="center" Daftar Order
						br
						= form_for :search, url: backend_member_path(resource), method: 'get', html: {class: 'form-search', remote: true} do
							.input-group.wd100
								.col-md-3.no-padding
									= text_field_tag :key_order, params[:key_order], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
								.col-md-2.no-padding
									= select_tag :order_status_id_order, options_for_select(PaymentStatus.to_a, params[:order_status_id_order]), prompt: 'Status Pembayaran', class: 'form-control'
								.col-md-2.no-padding
									= select_tag :track_order_order, options_for_select(Order::STATUSES, params[:track_order_order]), prompt: 'Status Pengiriman', class: 'form-control'
								.col-md-2.no-padding
									= text_field_tag :start_at_order, nil, value: params[:start_at_order], class: 'form-control datepicker', placeholder: 'Start At'
								.col-md-2.no-padding
									= text_field_tag :end_at_order, nil, value: params[:end_at_order], class: 'form-control datepicker',  placeholder: 'End At'
								.col-md-1.no-padding
									= submit_tag :search, class: 'btn btn-info btn-block'
						br
						#list-orders
							= render "list_orders"

					#tab2_3.tab-pane
						h2 align="center" Daftar Konfirmasi Pembayaran
						br
						= form_for :search, url: backend_member_path(resource), method: 'get', html: {class: 'form-search', remote: true} do
							.input-group.wd100
								.col-md-3.no-padding
									= text_field_tag :key_confirmation, params[:key_confirmation], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
								.col-md-2.no-padding
									= select_tag :order_status_id_confirmation, options_for_select(PaymentStatus.to_a, params[:order_status_id_confirmation]), prompt: 'Pilih Status', class: 'form-control'
								.col-md-2.no-padding
									= text_field_tag :price_confirmation, nil, value: params[:price_confirmation], class: 'form-control', placeholder: 'Nominal Tagihan'
								.col-md-2.no-padding
									= text_field_tag :start_at_confirmation, nil, value: params[:start_at_confirmation], class: 'form-control datepicker', placeholder: 'Start At'
								.col-md-2.no-padding
									= text_field_tag :end_at_confirmation, nil, value: params[:end_at_confirmation], class: 'form-control datepicker',  placeholder: 'End At'
								.col-md-1.no-padding
									= submit_tag :search, class: 'btn btn-info btn-block'
						br
						#list-confirmations
							= render "list_confirmations"

					#tab2_4.tab-pane
						h2 align="center" Daftar Komisi Penjualan
						br
						= form_for :search, url: backend_member_path(resource), method: 'get', html: {class: 'form-search', remote: true} do
							.input-group.wd100
								.col-md-3.no-padding
									= text_field_tag :key_commission, params[:key_commission], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
								.col-md-2.no-padding
									= text_field_tag :user_id_commission, nil, value: params[:user_id_commission], class: 'form-control', placeholder: 'Reseller Id'
								.col-md-2.no-padding
									= select_tag :status_commission, options_for_select(Commission::STATUSES, params[:status_commission]), prompt: 'Pilih Status', class: 'form-control'
								.col-md-2.no-padding
									= text_field_tag :start_at_commission, nil, value: params[:start_at_commission], class: 'form-control datepicker', placeholder: 'Start At'
								.col-md-2.no-padding
									= text_field_tag :end_at_commission, nil, value: params[:end_at_commission], class: 'form-control datepicker',  placeholder: 'End At'
								.col-md-1.no-padding
									= submit_tag :search, class: 'btn btn-info btn-block'
						br
						#list-commissions
							= render "list_commissions"

					#tab2_5.tab-pane
						h2 align="center" Daftar Komisi Referral
						br
						= form_for :search, url: backend_member_path(resource), method: 'get', html: {class: 'form-search', remote: true} do
							.input-group.wd100
								.col-md-3.no-padding
									= text_field_tag :key_commission_referral, params[:key_commission_referral], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
								.col-md-2.no-padding
									= text_field_tag :user_id_commission_referral, nil, value: params[:user_id_commission_referral], class: 'form-control', placeholder: 'Reseller Id'
								.col-md-2.no-padding
									= select_tag :status_commission_referral, options_for_select(Commission::STATUSES, params[:status_commission_referral]), prompt: 'Pilih Status', class: 'form-control'
								.col-md-2.no-padding
									= text_field_tag :start_at_commission_referral, nil, value: params[:start_at_commission_referral], class: 'form-control datepicker', placeholder: 'Start At'
								.col-md-2.no-padding
									= text_field_tag :end_at_commission_referral, nil, value: params[:end_at_commission_referral], class: 'form-control datepicker',  placeholder: 'End At'
								.col-md-1.no-padding
									= submit_tag :search, class: 'btn btn-info btn-block'
						br
						#list-commission_referrals
							= render "list_commission_referrals"

					#tab2_6.tab-pane
						h2 align="center" Daftar Pembayaran Penjualan
						br
						= form_for :search, url: backend_member_path(resource), method: 'get', html: {class: 'form-search', remote: true} do
							.input-group.wd100
								.col-md-5.no-padding
									= text_field_tag :key_payment_snapshot, params[:key_payment_snapshot], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
								.col-md-2.no-padding
									= select_tag :status_payment_snapshot, options_for_select(PaymentSnapshot::STATUSES, params[:status_payment_snapshot]), prompt: 'Pilih Status', class: 'form-control'
								.col-md-2.no-padding
									= text_field_tag :start_at_payment_snapshot, nil, value: params[:start_at_payment_snapshot], class: 'form-control datepicker', placeholder: 'Start At'
								.col-md-2.no-padding
									= text_field_tag :end_at_payment_snapshot, nil, value: params[:end_at_payment_snapshot], class: 'form-control datepicker',  placeholder: 'End At'
								.col-md-1.no-padding
									= submit_tag :search, class: 'btn btn-info btn-block'
						br
						#list-payment_snapshots
							= render "list_payment_snapshots"

					#tab2_7.tab-pane
						h2 align="center" Daftar Pembayaran Referral
						br
						= form_for :search, url: backend_member_path(resource), method: 'get', html: {class: 'form-search', remote: true} do
							.input-group.wd100
								.col-md-3.no-padding
									= text_field_tag :key_payment_referral, params[:key_payment_referral], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
								.col-md-2.no-padding
									= select_tag :status_payment_payment_referral, options_for_select(PaymentReferral::STATUSES_PAYMENT, params[:status_payment_payment_referral]), prompt: 'Pilih Status Payment', class: 'form-control'
								.col-md-2.no-padding
									= select_tag :status_payment_referral, options_for_select(PaymentReferral::STATUSES, params[:status_payment_referral]), prompt: 'Pilih Status', class: 'form-control'
								.col-md-2.no-padding
									= text_field_tag :start_at_payment_referral, nil, value: params[:start_at_payment_referral], class: 'form-control datepicker', placeholder: 'Start At'
								.col-md-2.no-padding
									= text_field_tag :end_at_payment_referral, nil, value: params[:end_at_payment_referral], class: 'form-control datepicker',  placeholder: 'End At'
								.col-md-1.no-padding
									= submit_tag :search, class: 'btn btn-info btn-block'
						br
						#list-payment_referrals
							= render "list_payment_referrals"

					#tab2_8.tab-pane
						h2 align="center" Daftar Refund Order
						br
						= form_for :search, url: backend_member_path(resource), method: 'get', html: {class: 'form-search', remote: true} do
							.input-group.wd100
								.col-md-5.no-padding
									= text_field_tag :key_report_refund, params[:key_report_refund], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
								.col-md-2.no-padding
									= select_tag :status_report_refund, options_for_select(ReportRefund::STATUSES, params[:status_report_refund]), prompt: 'Pilih Status', class: 'form-control'
								.col-md-2.no-padding
									= text_field_tag :start_at_report_refund, nil, value: params[:start_at_report_refund], class: 'form-control datepicker', placeholder: 'Start At'
								.col-md-2.no-padding
									= text_field_tag :end_at_report_refund, nil, value: params[:end_at_report_refund], class: 'form-control datepicker',  placeholder: 'End At'
								.col-md-1.no-padding
									= submit_tag :search, class: 'btn btn-info btn-block'
						br
						#list-report_refunds
							= render "list_report_refunds"

					#tab2_9.tab-pane
						h2 align="center" Daftar Tagihan Paket
						br
						= form_for :search, url: backend_member_path(resource), method: 'get', html: {class: 'form-search', remote: true} do
							.input-group.wd100
								.col-md-3.no-padding
									= text_field_tag :key_invoice, params[:key_invoice], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
								.col-md-2.no-padding
									= text_field_tag :price_invoice, params[:price_invoice], class: 'form-control pull-right radius-left', placeholder: 'Total Tagihan'
								.col-md-2.no-padding
									= select_tag :status_invoice, options_for_select(Invoice::STATUSES, params[:status_invoice]), prompt: 'Pilih Status', class: 'form-control'
								.col-md-2.no-padding
									= text_field_tag :start_at_invoice, nil, value: params[:start_at_invoice], class: 'form-control datepicker', placeholder: 'Start At'
								.col-md-2.no-padding
									= text_field_tag :end_at_invoice, nil, value: params[:end_at_invoice], class: 'form-control datepicker',  placeholder: 'End At'
								.col-md-1.no-padding
									= submit_tag :search, class: 'btn btn-info btn-block'
						br
						#list-invoices
							= render "list_invoices"

					#tab2_10.tab-pane
						h2 align="center" Daftar Referrals
						br
						= form_for :search, url: backend_member_path(resource), method: 'get', html: {class: 'form-search', remote: true} do
							.input-group.wd100
								.col-md-5.no-padding
									= text_field_tag :key_member, params[:key_member], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
								.col-md-2.no-padding
									= select_tag :status_member, options_for_select(User::STATUSES, params[:status_member]), prompt: 'Pilih Status', class: 'form-control'
								.col-md-2.no-padding
									= text_field_tag :start_at_member, nil, value: params[:start_at_member], class: 'form-control datepicker', placeholder: 'Start At'
								.col-md-2.no-padding
									= text_field_tag :end_at_member, nil, value: params[:end_at_member], class: 'form-control datepicker',  placeholder: 'End At'
								.col-md-1.no-padding
									= submit_tag :search, class: 'btn btn-info btn-block'
						br
						#list-referrals
							= render "list_referrals"

					#tab2_11.tab-pane
						h2 align="center" Daftar Request Landing Presses
						br
						= form_for :search, url: backend_member_path(resource), method: 'get', html: {class: 'form-search', remote: true} do
							.input-group.wd100
								.col-md-5.no-padding
									= text_field_tag :key_request_landing_presses, params[:key_request_landing_presses], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
								.col-md-2.no-padding
									= select_tag :category_request_landing_presses, options_for_select(LandingPress::CATEGORIES, params[:category_request_landing_presses]), prompt: 'Pilih Status', class: 'form-control'
								.col-md-2.no-padding
									= text_field_tag :start_at_request_landing_presses, nil, value: params[:start_at_request_landing_presses], class: 'form-control datepicker', placeholder: 'Start At'
								.col-md-2.no-padding
									= text_field_tag :end_at_request_landing_presses, nil, value: params[:end_at_request_landing_presses], class: 'form-control datepicker',  placeholder: 'End At'
								.col-md-1.no-padding
									= submit_tag :search, class: 'btn btn-info btn-block'
						br
						#list-request_landing_presses
							= render "list_request_landing_presses"

					#tab2_12.tab-pane
						h2 align="center" Daftar Aktifitas
						br
						= form_for :search, url: backend_member_path(resource), method: 'get', html: {class: 'form-search', remote: true} do
							.input-group.wd100
								.col-md-5.no-padding
									= text_field_tag :key_activities, params[:key_activities], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
								.col-md-2.no-padding
									= select_tag :status_activities, options_for_select(Activity::STATUSES, params[:status_activities]), prompt: 'Pilih Status', class: 'form-control'
								.col-md-2.no-padding
									= text_field_tag :start_at_activities, nil, value: params[:start_at_activities], class: 'form-control datepicker', placeholder: 'Start At'
								.col-md-2.no-padding
									= text_field_tag :end_at_activities, nil, value: params[:end_at_activities], class: 'form-control datepicker',  placeholder: 'End At'
								.col-md-1.no-padding
									= submit_tag :search, class: 'btn btn-info btn-block'
						br
						#list-activities
							= render "list_activities"