.row
	.col-md-12
		h6 Gambar Template
		.customize-img-web-setting
			= image_tag f.object.image.url, id: 'view_img', class: 'img-edit-webtheme'
		= f.file_field :image
	.col-md-12
		h6 Nama Template
		= f.text_field :name, class: 'form-control', required: true
	.col-md-12
		h6 Code CSS
		= f.text_area :code_css, class: 'form-control', rows: "25", required: true
	.col-md-12
		h6 Status
		= f.select :status, WebTemplate::STATUSES, {prompt: "Pilih Status"}, class: 'form-control', required: true
