.col-md-12
	= render 'backend/shareds/search_form_web_template'
	= form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do
		.widget
			= render partial: 'backend/shareds/prepare_table', locals: {table_name: 'WebTemplates', button_name: 'WebTemplates', add_method: true}
			.widget-content
				.table-responsive
					table class="table table-striped table-bordered table-hover"
						thead
							tr
								th
									= check_box_tag :check_all
								th width="20%" Image
								th width="20%" Nama
								th Status
								th Tanggal dibuat
								th width="10%" Action
						tbody
							- if @collection.blank?
								tr
									td colspan="6"
										= render "shareds/empty_blank"
							- else
								- @collection.each_with_index do |resource, index|
									tr
										td = check_box_tag "ids[]", resource.id
										td 
											= image_tag resource.image.url(:thumb)
										td
											= link_to "#{resource.name}", edit_resource_path(resource)
										td
											= resource.status?
										td
											= get_datetime(resource.created_at)
										td
											= render partial: 'backend/shareds/prepare_action',
												locals: { resource: resource, confirmation: "Are you sure delete this #{resource.id}", no_show: false }
				.widget-foot
					.pull-right
						= paginate @collection, remote: true if @collection.present?
					.clearfix