tr
  td width="5%"
    = index
  td.cart-row width="40%"
    = link_to "<i class='fa fa-close'></i>".html_safe, order_item, { data: { confirm: "Apakah anda akan menghapus '#{order_item.product.title}' dari keranjang belanja?" }, method: :delete, remote: true, name: 'Hapus', class: 'pull-left' }
    .avatar-author
      = image_tag order_item.try(:product).try(:cover).url(:medium)
    small.uppercase
      | Kode Produk <b>#{product.code}</b> <br>
    = link_to "#{product.title}", product_path(order_item.product.slug+'-'+order_item.catalog.id.to_s), class: 'title-product'
    br
    = order_item.variant unless order_item.variant == 'all'
    br
      small
        = order_item.message
  td style="width: 10%" class="text-center"
    = form_for order_item, remote: true do |f|
      = f.hidden_field :product_id, value: product.id
      - if order_item.product_stock_available?
        - if order_item.product_stock? > 0
          /= f.number_field :quantity, value: order_item.quantity.to_i, min: 1, max: order_item.product_stock?, class: 'input-quantity'
          /= f.submit "ubah", class: "btn btn-brown btn-xs"
          .input-group.number-spinner
            span.pull-left
              button.btn.btn-default.btn-sm data-dir="dwn" 
                span.glyphicon.glyphicon-minus
            = f.text_field :quantity, value: order_item.quantity.to_i, min: 1, max: order_item.product_stock?, class: 'form-control cst'
            span.pull-left
              button.btn.btn-default.btn-sm data-dir="up" 
                span.glyphicon.glyphicon-plus

        - else
          small Stok untuk varian ini sudah habis
      - else
        /= f.number_field :quantity, value: order_item.quantity.to_i, class: 'input-quantity', min: 1
        /= f.submit "ubah", class: "btn btn-brown btn-xs"
        .input-group.number-spinner
          span.pull-left
            button.btn.btn-default.btn-sm data-dir="dwn" 
              span.glyphicon.glyphicon-minus
          = f.text_field :quantity, value: order_item.quantity.to_i, min: 1, max: order_item.product_stock?, class: 'form-control cst'
          span.pull-left
            button.btn.btn-default.btn-sm data-dir="up" 
              span.glyphicon.glyphicon-plus

  td class="text-center"
    | #{order_item.weight} gr
  td class="text-right"
    b
      = get_currency(order_item.total_price?)