tr
  td width="5%"
    = index
  td width="40%"
    = link_to "<i class='fa fa-close'></i>".html_safe, order_item, { data: { confirm: "Apakah anda akan menghapus '#{order_item.product.title}' dari keranjang belanja?" }, method: :delete, remote: true, class: 'pull-left' }
    .avatar-author
      = image_tag order_item.try(:product).try(:cover).url(:medium)
    small.uppercase
      | Kode Produk <b>#{product.code}</b> <br>
    = link_to "#{product.title}", product_path(order_item.product.slug+'-'+order_item.catalog.id.to_s), class: 'title-product'
  td width='10%' class="text-center"
    = form_for order_item, remote: true do |f|
      = f.number_field :quantity, value: order_item.quantity.to_i, min: 1, max: order_item.check_quantity, class: 'input-quantity'
      = f.hidden_field :product_id, value: product.id
      = f.submit "Update", class: "btn btn-info btn-xs"
  td class="text-center"
    | #{order_item.weight} gr
  td class="text-right"
    span class="big-font"
      = get_currency(order_item.total_price)