- if params[:controller] == 'members/shops' && params[:action] == 'cart'
	- file_shopping_cart = "orders/shopping_cart"
	- file_shipping = "orders/shipping_dashboard"
	- link_products = members_shops_path
- else
	- file_shopping_cart = "shopping_cart"
	- file_shipping = "shipping"
	- link_products = products_path

section.grey
	.container
		- if @order.present? && @order.order_items.present?
			.row
				.col-xs-12
					.shopping-cart
						= render file_shopping_cart
					= render file_shipping
		- else
			p class="text-center"
				| Tidak ada barang dalam pesanan Anda. Harap #{link_to "Kembali Belanja", link_products} dan tambahkan beberapa item ke pesanan Anda.
				