section.grey
  .container
    .row
      .col-xs-12
        - if @order.present?
          = render 'shareds/invoice'
        - else 
          | <h4 class="text-center">Anda tidak memiliki izin untuk mengakses halaman ini</h4>


