- if params[:controller] == 'members/shops' && params[:action] == 'cart'
  - checkout_link = checkout_members_shops_path
  - link_products = members_shops_path
- else
  - checkout_link = checkout_orders_path
  - link_products = products_path

- origin_code = @order.order_items.present? && @order.order_items.first.product.merchant.featured == true ? @order.order_items.first.product.merchant.address.place_city_code_merchant : 431

.row.checkradio
  = form_for @order, url: checkout_link, method: 'get' do |f|
    = f.fields_for :address do |address|
      = f.hidden_field :origin_code, value: origin_code, class: 'js-origin-code'
      .col-xs-12
        h4 Pilih Metode Pembayaran
        .row
          - PaymentMethod.to_a.each_with_index do |p, index|
            .col-md-12
              .panel.panel-default
                = f.radio_button :payment_method, p[0], required: true
                .panel-body
                  i.fa.fa-check
                  i.fa.fa-square-o
                  | &nbsp; #{p[0]}
        h4 Pilih Nomor Rekening Pembayaran
        .row
          .col-md-12
            - @setting_global.payments.each do |p|
              .panel.panel-default
                = f.radio_button :payment_to, "#{p.bank_name} An. #{p.name} #{p.account_number}", class: "js-payment-to input-hidden", required: true
                .panel-body
                  i.fa.fa-check
                  i.fa.fa-square-o
                  = image_tag p.logo.url, class: 'bank-logo'
                  | &nbsp; #{p.bank_name} &nbsp; An. #{p.name} &nbsp; #{p.account_number}

        h4 Pilih Metode Pengiriman
        - if @order.is_cod?
          .row
            - Order::COURIER.each_with_index do |p, index|
              .col-md-6
                .panel.panel-default
                  = f.radio_button :courier, p[1], class: "click-payment-method", required: true
                  .panel-body
                    i.fa.fa-check
                    i.fa.fa-square-o
                    | &nbsp; #{p[0]}
        - else
          .row
            - [['Kirim Barang Dengan Ekspedisi Pengiriman', 'JASA PENGIRIMAN']].each_with_index do |p, index|
              .col-md-12
                .panel.panel-default
                  = f.radio_button :courier, p[1], class: "click-payment-method", required: true
                  .panel-body
                    i.fa.fa-check
                    i.fa.fa-square-o
                    | &nbsp; #{p[0]}
      .paymentTo
        .col-md-6.col-xs-12
          .panel.panel-default.shipping-order
            .panel-heading
              h4
                | Tentukan Alamat Pengiriman & Data Pembeli
            .panel-body
              .row
                .col-md-12.col-xs-12
                  h6 Nama Lengkap
                  = f.text_field :payer_name, class: 'form-control', required: true, placeholder: 'ex. mr.alam ...'
                .col-md-12.col-xs-12
                  h6 Email
                  = f.text_field :payer_email, class: 'form-control', required: true, placeholder: 'ex. alam@mail.com ...'
                .col-md-12.col-xs-12
                  h6 Phone
                  = f.text_field :payer_phone, class: 'form-control', required: true, placeholder: 'ex. +6226644 ...'
                .col-md-6.col-xs-12
                  h6 Provinsi
                  .province-container
                    = address.select :province, options_for_select(@all_province, address.object.province), {prompt: 'Pilih Provinsi'}, class: 'form-control provinces_select_shipment','data-node' => "order", required: true
                .col-md-6.col-xs-12
                  h6 Kota
                  .city-container
                    = address.select :city, options_for_select([], address.object.city), {prompt: 'Pilih Kota'}, class: 'form-control cities_select_shipment','data-node' => "order", required: true
                .col-md-6.col-xs-12
                  h6 Kecamatan
                  .district-container
                    = address.select :district, options_for_select([], address.object.district), {prompt: 'Pilih Kecamatan'}, class: 'form-control districts_select_shipment','data-node' => "order", required: true
                .col-md-6.col-xs-12
                  h6 Kodepos
                  = address.text_field :postcode, class: 'form-control', required: true
                .col-md-12.col-xs-12
                  h6 Alamat
                  = address.text_area :address, class: 'form-control', required: true
        .col-md-6.col-xs-12
          h4 Pilih Ekspedisi Pengiriman
          hr
          | <p><small>Standar pengiriman untuk wilayah Jabodetabek <b>1 - 5</b> days</small></p>
          .row
            .col-md-12
              .row
                - @shipping_methods.each do |s|
                  .col-md-4.col-xs-12
                    .panel.panel-default
                      = f.radio_button :shipping_method, s.name, class: 'shipping shipping-method', required: true
                      .panel-body
                        i.fa.fa-square-o
                        i.fa.fa-check
                        = image_tag s.logo.url(:small), class: 'shipping-logo'
            .col-md-3
              .btn.btn-orange.get_estimation
                | Estimasi Ongkir
              .break
            .col-md-9
              .well.estimation
                span.shipping_price
                  | Rp.0
                | &nbsp; (REGULER SERVICE)

    .col-md-12
      = submit_tag "SELESAIKAN PESANAN", class: "btn btn-brown btn-checkout btn-md pull-right"
      = link_to "Kembali Belanja", link_products, class: "btn btn-brown btn-md pull-left"
