.row
  = form_for @order, url: checkout_orders_path, method: 'get' do |f|
    = f.fields_for :address do |address|
      .col-md-6
        .panel.panel-default
          .panel-heading
            h4 class="text-center"
              | Alamat Pengiriman
          .panel-body
            .row
              .break
              .note
                center
                  | <p><small>Standar Pengiriman Untuk Jabodetabek <b>1 - 5</b> hari</small></p>
              - @shipping_methods.each do |s|
                .col-md-12
                  .panel.panel-default
                    .panel-body
                      = f.radio_button :shipping_method, s.name, class: 'shipping shipping-method', 'data-node' => "order", required: true
                      = image_tag s.logo.url(:small), class: 'shipping-logo'
                      br
                      = s.name.upcase
              .col-md-6
                h6 Provinsi
                - provinces = address.object.province ? Shipment.alfa_province.where(name: f.object.shipping_method).pluck(:province).uniq || [] : Shipment.none rescue []
                .province-container
                  = address.select :province, options_for_select(provinces), {prompt: 'Pilih Provinsi'}, class: 'select2 form-control provinces_select_shipment','data-node' => "order", required: true
              .col-md-6
                h6 Kota
                - cities = address.object.city ? Shipment.alfa_city.where(province: address.object.province).pluck(:city).uniq || [] : Shipment.none rescue []
                .city-container
                  = address.select :city, options_for_select(cities), {prompt: 'Pilih Kota'}, class: 'select2 form-control cities_select_shipment','data-node' => "order", required: true
              .col-md-6
                h6 Kecamatan
                - districts = address.object.district ? Shipment.alfa_state.where(city: address.object.city).pluck(:state).uniq || [] : Shipment.none rescue []
                .district-container
                  = address.select :district, options_for_select(districts), {prompt: 'Pilih Kecamatan'}, class: 'select2 form-control districts_select_shipment', required: true
              .col-md-6
                h6 Kodepos
                = address.text_field :postcode, class: 'form-control', required: true
              .col-md-12
                h6 Alamat
                = address.text_area :address, class: 'form-control', required: true
      .col-md-6
        h4 Penerima
        hr
        .row
          .col-md-12
            h6 Nama Lengkap
            = f.text_field :payer_name, class: 'form-control', required: true, placeholder: 'ex. mr.alam ...'
          .col-md-12
            h6 Email
            = f.text_field :payer_email, class: 'form-control', required: true, placeholder: 'ex. alam@mail.com ...'
          .col-md-12
            h6 Phone
            = f.text_field :payer_phone, class: 'form-control', required: true, placeholder: 'ex. +6226644 ...'
        / .row
        /   .col-md-3
        /     .btn.btn-info.get_estimation
        /       | Get Estimation
        /     .break
        /   .col-md-9
        /     .well.estimation
        /       span.shipping_price
        /         | Rp.0

        h4 Metode Pembayaran
        hr
        - PaymentMethod.to_a.each do |p|
          .panel.panel-default
            .panel-body
              = f.radio_button :payment_method, p[0], class: 'click-payment-method', required: true
              | &nbsp; #{p[0]}
        .paymentTo
          - @setting_global.payments.each do |p|
            .panel.panel-default
                .panel-body
                  = f.radio_button :payment_to, "#{p.bank_name} An. #{p.name} #{p.account_number}", required: true
                  = image_tag p.logo.url, class: 'bank-logo'
                  | &nbsp; #{p.bank_name} &nbsp; An. #{p.name} &nbsp; #{p.account_number}

    .col-md-12
      = submit_tag "Checkout", class: "btn btn-success btn-md pull-right"
      = link_to "Kembali Belanja", products_path, class: "btn btn-info btn-md pull-left"
