- if current_user.present? && current_user.member?
  - @subdomain = current_user

= hidden_field_tag :weight, @order.total_weight?, class: 'weight'
.panel.panel-default
  .panel-heading
    h4 class="suppercase"
      | Dari Toko <a href="#">#{@subdomain.shop_title?}</a>
  .panel-body
    .table-responsive.mgtop20
      .table-order-list
        table class="table table-striped"
          thead
            tr
              td
                | <strong>No.</strong>
              td
                | <strong>Nama Barang</strong>
              td class="text-center"
                | <strong>Jumlah</strong>
              td class="text-center"
                | <strong>Berat</strong>
              td class="text-right"
                | <strong>Harga Barang</strong>
          tbody
            - @order.order_items.latest.each_with_index do |order_item, index|
              = render 'orders/cart_row', index: index+1, product: order_item.product, order_item: order_item, show_total: true
            tr
              td class="highrow"
              td class="highrow"
              td class="highrow text-center"
                h5 TOTAL
              td class="highrow text-center"
                h5 #{@order.weight?} gr
              td class="highrow text-right"
                | <h5>#{get_currency(@order.total?)}</h5>


