- @stakeholders.each_with_index do |stakeholder|
  .panel.panel-default
    .panel-heading
      h4 class="suppercase"
        | Dari Toko <a href="#">#{stakeholder.try(:merchant).try(:merchant_info).try(:title).try(:titleize)}</a>
      small
        | Dikirim Dari <b>#{stakeholder.try(:merchant).try(:address).try(:city)}</b>
    .panel-body
      .table-responsive
        .table-order-list
          table class="table table-striped"
            thead
              tr
                td
                  | <strong>No.</strong>
                td
                  | <strong>Nama Barang</strong>
                td class="text-center"
                  | <strong>Jumlah</strong>
                td class="text-center"
                  | <strong>Berat</strong>
                td class="text-right"
                  | <strong>Harga Barang</strong>
            tbody
              - stakeholder.order_items.latest.each_with_index do |order_item, index|
                = render 'orders/cart_row', index: index+1, product: order_item.product, order_item: order_item, show_total: true
              tr
                td class="highrow"
                td class="highrow"
                td class="highrow text-center"
                  h5 TOTAL
                td class="highrow text-center"
                  h5 #{stakeholder.weight?} gr
                td class="highrow text-right"
                  | <h5>#{get_currency(stakeholder.total?)}</h5>


