section.grey
  .container
    - if @stakeholders.size == 0
      p class="text-center"
        | Tidak ada barang dalam pesanan Anda. Harap #{link_to "Kembali Belanja", products_path} dan tambahkan beberapa item ke pesanan Anda.
    - else
      .row
        .col-xs-12
          .shopping-cart
            = render "shopping_cart"
          = render "shipping"