section.slider
	= image_tag @landing_press.banner, class: 'img-slider'
section.about
	.container
		h3.tcenter.mgbot50
			b #{@landing_press.title1}
		.row
			.col-md-4.col-sm-4
				= image_tag @landing_press.image1, class: 'img-about'
			.col-md-4.col-sm-4
				= image_tag @landing_press.image2, class: 'img-about'
			.col-md-4.col-sm-4
				= image_tag @landing_press.image3, class: 'img-about'
			.col-xs-12
				.tcenter.mgtop50.mb100
					= @landing_press.description1.html_safe

section.benefits
	.container
		.row
			.col-md-7.col-sm-7
				.title
					b manfaat apa saja yang terkandung dari
					br
					span.green 
						= @landing_press.title2
				= @landing_press.description2.html_safe
			.col-md-5.col-sm-5
				= image_tag @landing_press.image4, class: 'wd100'
section.why
	.container
		= image_tag @landing_press.image5, class: 'img-why'
		.title
			= @landing_press.title3
		.row
			.col-md-12
				.justify
					= @landing_press.description3.html_safe
section.trust
	.container
		.title
			= @landing_press.title_banner.html_safe
section.product
	h3.tcenter.mgbot50
		b #{@landing_press.title4}
	.container
		.row
			- @image_products.each do |f|
				.col-md-4.col-sm-4
					= image_tag f.image, class: 'img-product'
- if @landing_press.link_video.present?
	section.video
		.container
			.embed-responsive.embed-responsive-16by9
				iframe.embed-responsive-item src="#{@landing_press.link_video}"
section.shipment
	.container
		.title
			= @landing_press.title_banner2.html_safe
		.descript
			= @landing_press.description4
section.testimonials
	.container
		h3.tcenter.mgbot50
			b TESTIMONIAL
		.row
			- @image_testimonials.each do |f|
				.col-md-3.col-sm-3
					= image_tag f.image, class: 'img-testimonials'
			- if @image_galleries.present?
				- @image_galleries.each do |f|
					.col-md-3.col-sm-3
						= image_tag f.image, class: 'img-testimonials'
section.order-now
	.container
		.col-md-6.col-sm-6
			= image_tag @landing_press.image6, class: 'wd100'
		.col-md-6.col-sm-6.content
			.title
				= @landing_press.title5
			= @landing_press.description5.html_safe
			.price
				| Hanya
				| &nbsp;
				span.green
					= get_currency(@request_landing_press.price)
			br
			br
			small
				b Cara Order Cepat Via Bank Transfer
				ul
					li
						| 1. Sebutkan Nama Lengkap Anda
					li
						| 2. Sebutkan Berapa Box Yang Dipesan
					li
						| 3. Sebutkan Alamat Lengkap Pengiriman

			- if @request_landing_press.contact.present?
				- if @request_landing_press.use_link_wa? && @request_landing_press.link_wa.present?
					| <a href="#{@request_landing_press.link_wa}" class='btn btn-order-now'><i class="fa fa-whatsapp"></i> PESAN SEKARANG</a>
				- else
					| <a href="https://api.whatsapp.com/send?phone=#{@request_landing_press.contact}&text=Halo%20#{@subdomain.domain?}%20Saya%20Mau%20Order%20Produk%20#{@landing_press.title1}" class='btn btn-order-now'><i class="fa fa-whatsapp"></i> PESAN SEKARANG</a>
			br
			small
				| *ini nomor resmi kami 
				= @request_landing_press.contact
				| , tidak ada nomor lain.
			br
			br
			small
				b Setelah itu kami akan membalas pesan anda untuk proses selanjutnya dan paket akan segera kami kirimkan dengan rapi dan polos untuk menjaga privasi anda.
footer.footer
	.container
		.row
			.col-md-6.col-sm-6
				h5.tcenter
					b Bank Yang Tersedia
				= image_tag 'landing_press/daftar-bank.jpg', class: 'mgauto'
			.col-md-6.col-sm-6
				h5.tcenter
					b Jasa Pengiriman Tersedia
				= image_tag 'landing_press/shipping.jpg', class: 'img-footer'
	.copyright
		= @landing_press.footer


