section.contact-us
  .container
    .row
      .col-md-8.col-sm-8
        .mgbot20
          h2 
            b Kontak Kami
          p.txt17 Silahkan isi form berikut ini untuk menghubungi kami untuk berkonsultasi. Kami akan menghubungi Anda kembali secepatnya.
          br
        .row.paddding10
          = form_for GuestBook.new, url: guest_books_path, method: 'post' do | f |
            = f.hidden_field :user_id, value: @subdomain.id
            .col-xs-6
              label Nama Lengkap *
              = f.text_field :name, class: 'form-control', placeholder: 'Nama Lengkap'
            .col-xs-6
              label Phone *
              = f.text_field :phone, class: 'form-control', placeholder: 'E.X: 0857324343433'
            .col-xs-12
              label Email *
              = f.text_field :email, class: 'form-control', placeholder: 'Masukan Email'
            .col-xs-12 
              label Pesan *
              = f.text_area :description, class: 'form-control', placeholder: 'Deskripsi'
            .col-xs-12
             = submit_tag 'kirim', class: 'btn btn-warning'           
      .col-md-4.col-sm-4
        .box
          .box-img
            = image_tag 'rsz_customer-service.jpg', class: 'img-auto'
          .box-content
            - if @subdomain.address.place_info.present?
              .title
                i.pe-7s-map-marker
                | Lokasi : 
              .descript 
                = @subdomain.address.place_info
            - if @subdomain.profile.phone.present?
              .title
                i.pe-7s-phone
                | No.HP/WA/LINE:
              .descript 
                = @subdomain.profile.phone
            - if @subdomain.contact.phone.present?
              .title
                i.pe-7s-phone
                | Telepon :
              .descript 
                = @subdomain.contact.phone
            / - if @subdomain.contact.wa.present?
            /   .title
            /     i.pe-7s-phone
            /     | WA :
            /   .descript 
            /     = @subdomain.contact.wa
            / - if @subdomain.contact.line.present?
            /   .title
            /     i.pe-7s-phone
            /     | LINE :
            /   .descript 
            /     = @subdomain.contact.line
            - if @subdomain.contact.bbm.present?
              .title
                i.pe-7s-phone
                | BBM :
              .descript 
                = @subdomain.contact.bbm
            - if @subdomain.email.present?
              .title
                i.pe-7s-mail
                | Email :
              .descript 
                = @subdomain.email
            .title
              i.pe-7s-clock
              | Jam Kerja :
            .descript 
              | 09:00 - 18:00 WIB (Senin-Sabtu)

            
            
    