.col-md-8
  - if @collection.blank?
    = render "shareds/empty_blank"
  - else
    - @collection.each_with_index do |resource, index|
      - link_path = current_user.member? ? members_packages_path : '#'
      - link_pdf = current_user.member? ? members_invoice_path(resource.code, format: 'pdf') : managers_invoice_path(resource.code, format: 'pdf')
      ul.timeline.timeline-invoice
        li.timeline-inverted
          .timeline-badge
            i.pe-7s-note2
          .timeline-panel
            .timeline-heading
              .row
                .col-md-6.col-sm-6
                  h4
                    = link_to resource.subject, link_path
                .col-md-6.col-sm-6
                  h6.tright
                    b Dibuat :
                    | #{get_date(resource.created_at)}
                    br
                    b Batas Pembayaran :
                    | #{get_date(resource.expired_at?)}
            .timeline-body
              .row
                .content-timeline
                  .col-md-3.col-sm-3
                    h5
                      | Kode Tagihan
                    h4 
                      | #{resource.code}
                  .col-md-9.col-sm-9
                    h5
                      | Total Tagihan
                    h4 
                      | #{get_currency(resource.price)}
                  / .col-md-5.col-sm-5
                  /   h5
                  /     | Periode
                  /   h4 
                  /     - if resource.period_start.present? 
                  /       | #{get_date(resource.period_start)} s.d. #{get_date(resource.period_end)}
                  /     - else
                  /       | -
                .col-xs-12
                  .table-responsive
                    table.table
                      thead
                        tr
                          - if current_user.account_manager?
                            th Reseller
                          th Nama Bank
                          th Nama Rekening
                          th No. Rekening
                          th status

                      tbody
                        tr
                          - if current_user.account_manager?
                            td
                              = link_to resource.member.username, managers_member_path(resource.member)
                          td
                            | #{resource.bank_name}
                          td
                            | #{resource.account_name}
                          td
                            | #{resource.account_number}
                          td
                            - if resource.promo == true
                              = resource.promo?
                            - else
                              = resource.status?
        .btn-right
          = link_to '<i class="fa fa-download" aria-hidden="true"></i> Generate PDF'.html_safe, link_pdf, class: 'btn btn-gb btn-g'
      br
  .widget-foot
    = paginate @collection, remote: true
