<table border="1">
  <caption>Daftar Tagihan <%= show_search_form_date(params[:start_at], params[:end_at]) %></caption>
  <tr>
    <th>No</th>
    <th>Judul</th>
    <th>Kode Tagihan</th>
    <th>Total Tagihan</th>
    <th>Periode</th>
    <th>Nama Bank</th>
    <th>Nama Rekening</th>
    <th>No. Rekening</th>
    <th>Status</th>
    <th>Dibuat</th>
    <th>Batas Pembayaran</th>
  </tr>
  <% @collection_all.each_with_index do |resource, index| %>
  <tr>
    <td><%= index+1 %></td>
    <td><%= resource.subject %></td>
    <td><%= resource.code %></td>
    <td><%= get_currency(resource.price) %></td>
    <td>
      <% if resource.period_start.present? %>
        <%= "#{get_date(resource.period_start)} s.d. #{get_date(resource.period_end)}" %>
      <% else %>
        -
      <% end %>
    </td>
    <td><%= resource.bank_name %></td>
    <td><%= resource.account_name %></td>
    <td><%= resource.account_number %></td>
    <td>
      <% if resource.promo == true %>
        <%= resource.promo? %>
      <% else %>
        <%= resource.status? %>
      <% end %>
    </td>
    <td><%= get_date(resource.created_at) %></td>
    <td><%= get_date(resource.expired_at?) %></td>
  </tr>
  <% end %>
</table>