- resource = @resource
section.invoice
  .row
    .col-md-12
      h4.page-header
        = resource.subject
        small.date-invoice2.pull-right 
          b Dibuat :
          | #{get_date(resource.created_at)}
          br
          b Batas Pembayaran :
          | #{get_date(resource.expired_at?)}
  .row.invoice-info
    .col-md-3.col-sm-3.invoice-col3
      h5.center
        | Kode Tagihan
      h5.center 
        b #{resource.code}
    .col-md-9.col-sm-9.invoice-col3
      h5.center
        | Total Tagihan
      h5.center 
        b #{get_currency(resource.price)}
    / .col-md-3.col-sm-3.invoice-col3
    /   h5.center
    /     | Priode
    /   h5.center 
    /     - if resource.period_start.present? 
    /       b #{get_date(resource.period_start)} s.d. #{get_date(resource.period_end)}
    /     - else
    /       | -
  .row
    .col-xs-12
      .table-responsive
        table.table.table-striped.table-bordered
          thead
            tr
              th Nama Bank
              th Nama Rekening
              th No. Rekening
              th status

          tbody
            tr
              td
                | #{resource.bank_name}
              td
                | #{resource.account_name}
              td
                | #{resource.account_number}
              td
                - if resource.promo == true
                  = resource.promo?
                - else
                  = resource.status?