.col-md-12
  = render 'backend/shareds/search_form_user'
  hr
  = form_tag import_backend_shipments_path, multipart: true do
    .row
      .col-md-2
        = file_field_tag :file, class: 'form-control'
      .col-md-4.padding-left0
        = select_tag :shipping, options_for_select(ShippingMethod.pluck(:name)),prompt: 'Select Methods', class: 'form-control', requred: true
      .col-md-1.padding-left0
        = submit_tag "Import", name: 'commit', class: 'btn btn-primary full-width'
      .col-md-1.padding-left0
        = submit_tag "Destroy", name: 'commit', class: 'btn btn-danger full-width'
  = form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do 
    .widget
      = render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Shipments', button_name: 'Shipments', add_method: true} 
      .widget-content
        .table-responsive
          table class="table table-striped table-bordered table-hover"
            thead
              tr
                th width="1%" #
                th width="20%" Name
                th Province
                th City
                th State
                th Price
                th width="10%" Action
              - @collection.each_with_index do |resource, index| 
                tr 
                  td = check_box_tag "ids[]", resource.id 
                  td
                    = link_to "#{resource.name}", resource_path(resource)
                  td
                    = resource.province
                  td
                    = resource.city
                  td
                    = resource.state
                  td
                    b
                      = get_currency(resource.price) if resource.price.present?
                  td 
                    = render partial: 'backend/shareds/prepare_action',
                      locals: { resource: resource, confirmation: "Are you sure delete this #{resource.id}", no_show: false } 
        .widget-foot
          .pull-right
            = paginate @collection 
          .clearfix
