.row
	.col-md-6
		h6 Nama Domain
		= f.text_field :name, class: 'form-control', required: true
	.col-md-6
		h6 Nama Reseller
		= text_field_tag :member_id, resource.member.username, class: 'form-control', readonly: true
	.col-md-6
		h6 Name Server 1
		= f.text_field :ns1, value: name_server1, class: 'form-control', required: true
	.col-md-6
		h6 Name Server 2
		= f.text_field :ns2, value: name_server2, class: 'form-control', required: true
	.col-md-12
		h6 Pesan
		= f.text_field :message, placeholder: "Silahkan masukkan pesan", class: 'form-control'
	.col-md-12
		h6 Status
		= f.select :status, DomainSetting::STATUSES, {prompt: "Pilih Status"}, class: 'form-control', required: true
