.col-md-12
	= render 'backend/shareds/search_form_domain_setting'
	= form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do
		.row
			.col-md-3
				.box-top-detail.orange
					b.txt-orange #{@collection_pending}
					br
					| Pending
			.col-md-3
				.box-top-detail.blue
					b.txt-blue #{@collection_process}
					br
					| Process
			.col-md-3
				.box-top-detail.green
					b.txt-green #{@collection_active}
					br
					| Active
			.col-md-3
				.box-top-detail.red
					b.txt-red #{@collection_inactive}
					br
					| Inactive
		.widget
			= render partial: 'backend/shareds/prepare_table', locals: {table_name: 'DomainSettings', button_name: 'DomainSettings', add_method: false}
			.widget-content
				.table-responsive
					table class="table table-striped table-bordered table-hover"
						thead
							tr
								th
									= check_box_tag :check_all
								th width="20%" Nama Domain
								th width="20%" Reseller
								th Name Server 1
								th Name Server 2
								th Pesan
								th Status
								th Tanggal dibuat
								th width="10%" Action
						tbody
							- if @collection.blank?
								tr
									td colspan="8" 
										= render "shareds/empty_blank"
							- else
								- @collection.each_with_index do |resource, index|
									tr
										td = check_box_tag "ids[]", resource.id
										td
											= link_to "#{resource.name}", edit_resource_path(resource)
										td
											= link_to resource.member.username, backend_member_path(resource.member)
										td
											= resource.ns1.present? ? resource.ns1 : "-"
										td
											= resource.ns2.present? ? resource.ns2 : "-"
										td
											= resource.message.present? ? truncate(resource.message, :length => 25) : "-"
										td
											= resource.status?
										td
											= get_datetime(resource.created_at)
										td
											= render partial: 'backend/shareds/prepare_action',
												locals: { resource: resource, confirmation: "Are you sure delete this #{resource.id}", no_show: false }
				.widget-foot
					.pull-right
						= paginate @collection, remote: true if @collection.present?
					.clearfix