<table border="1">
	<caption>Daftar Domain <%= show_search_form_date(params[:start_at], params[:end_at]) %></caption>
	<tr>
		<th>Nama Domain</th>
		<th>Reseller</th>
		<th>Name Server 1</th>
		<th>Name Server 2</th>
		<th>Pesan</th>
		<th>Status</th>
		<th>Tanggal dibuat</th>
	</tr>
	<% @collection_all.each do |resource| %>
	<tr>
		<td><%= "#{resource.name}" %></td>
		<td><%= resource.member.username %></td>
		<td><%= resource.ns1.present? ? resource.ns1 : "-" %></td>
		<td><%= resource.ns2.present? ? resource.ns2 : "-" %></td>
		<td><%= resource.message.present? ? truncate(resource.message, :length => 25) : "-" %></td>
		<td><%= resource.status? %></td>
		<td><%= get_datetime(resource.created_at) %></td>
	</tr>
	<% end %>
</table>