- if params[:action] == "new"
	- readonly = false
- else
	- readonly = true
- disabled = resource.pending? ? false : true

.row
	.col-md-4
		.form-group
			h6 Kode
			= f.text_field :code, class: 'form-control', readonly: true
	.col-md-4
		.form-group  
			h6 Member
			= f.select :user_id, options_for_select(get_invoice_members.map{|p| [p.username, p.id]}, resource.user_id), {prompt: 'Pilih Member'}, class: 'form-control select2 invoice-member-selected', 'data-node' => "invoice", required: true, readonly: readonly
	.invoice-container
		.col-md-4
			.form-group
				h6 Subject
				= f.text_field :subject, class: 'form-control', readonly: readonly
		.col-md-4
			.form-group
				h6 Total Tagihan
				= f.text_field :price, class: 'form-control', readonly: readonly
		.col-md-4
			.form-group
				h6 Periode Mulai
				= f.text_field :period_start, class: 'form-control', readonly: readonly
		.col-md-4
			.form-group
				h6 Periode Selesai
				= f.text_field :period_end, class: 'form-control', readonly: readonly
		.col-md-12
			.form-group
				h6 Deskripsi
				= f.cktext_area :description, class: 'form-control', readonly: readonly
		.col-md-4
			.form-group
				h6 Nama Bank
				= f.text_field :bank_name, class: 'form-control', readonly: readonly
		.col-md-4
			.form-group
				h6 Nama Rekening
				= f.text_field :account_name, class: 'form-control', readonly: readonly
		.col-md-4
			.form-group
				h6 Nomor Rekening
				= f.text_field :account_number, class: 'form-control', readonly: readonly
	.col-md-12
		.form-group
			h6 Status
			= f.select :status, options_for_select(Invoice::STATUSES, resource.status), {prompt: 'Select Status'}, class: 'form-control', required: true, disabled: disabled