.col-md-12  
	= render 'backend/shareds/search_form_invoice'
	= form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do
		.row
			.col-md-4
				.box-top-detail.green
					b.txt-green #{get_currency(@paid-@promo)}
					br
					| Invoice Terbayar
			.col-md-4
				.box-top-detail.red
					b.txt-red #{get_currency(@pending)}
					br
					| Invoice Belum di bayar
			.col-md-4
				.box-top-detail.blue
					b.txt-red #{get_currency(@promo)}
					br
					| Invoice Promo FREE
		.widget
			= render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Invoice', button_name: 'Invoice', add_method: true}
			.widget-content
				.table-responsive
					table class="table table-striped table-bordered table-hover"
						thead
							tr
								th 
									= check_box_tag :check_all
								th Kode
								th Reseller
								th Subject
								th Paket Dipilih
								th Total Tagihan
								th Kode Unik
								/ th Periode
								th Nama Bank
								th Nama Rekening
								th Nomor Rekening
								th Status
								th FREE Promo
								th Dibuat
								th Action
						tbody
							- if @collection.blank?
								tr
									td colspan="15" 
										= render "shareds/empty_blank"
							- else
								- @collection.each_with_index do |resource, index|
									tr
										td
											= check_box_tag "ids[]", resource.id
										td
											= resource.code
										td
											= link_to resource.member.username, backend_member_path(resource.member) rescue "--"
											br
											= link_to "(#{resource.member.email})", "mailto:#{resource.member.email}" rescue "--"
											br
											- if resource.convertion.present?
												= resource.convertion.click_id
										td
											= resource.subject
											br
											b= "Batas Pembayaran #{get_date(resource.expired_at?)}"
										td
											b
												= resource.package.title
											br
											= get_currency(resource.package.price)
											/ br
											/ = "Setiap #{resource.package.period} bln"
										td
											= get_currency(resource.price)
										td
											= resource.uniq_code
										/ td
										/ 	- if resource.period_start.present? 
										/ 		= "#{get_date(resource.period_start)} s.d. #{get_date(resource.period_end)}"
										/ 	- else
										/ 		| -
										td
											= resource.bank_name
										td
											= resource.account_name
										td
											= resource.account_number
										td
											= resource.status?
										td
											= resource.promo?
										td
											= get_datetime(resource.created_at)
										td
											= link_to '<i class="fa fa-download" aria-hidden="true"></i>'.html_safe, backend_invoice_path(resource, format: 'pdf'), class: 'btn btn-xs btn-default'
											| &nbsp;
											= render partial: 'backend/shareds/prepare_action',
												locals: { resource: resource, confirmation: "Are you sure delete this #{resource.subject}", no_show: false }
				.widget-foot
					.pull-right
						= paginate @collection, remote: true if @collection.present?
					.clearfix
