<table border="1">
	<caption>Data kelola tagihan paket <%= show_search_form_date(params[:start_at], params[:end_at]) %></caption>
	<tr>
		<th>Kode</th>
		<th>Reseller</th>
		<th>Subject</th>
		<th>Paket Dipilih</th>
		<th>Total Tagihan</th>
		<th>Kode Unik</th>
		<th>Periode</th>
		<th>Nama Bank</th>
		<th>Nama Rekening</th>
		<th>Nomor Rekening</th>
		<th>Status</th>
		<th>FREE Promo</th>
		<th>Dibuat</th>
	</tr>
	<% @collection_all.each_with_index do |resource, index| %>
	<tr>
		<td><%= resource.code %></td>
		<td>
			<%= link_to resource.member.username, backend_member_path(resource.member) %>
			<br>
			<%= link_to "(#{resource.member.email})", "mailto:#{resource.member.email}" %>
		</td>
		<td>
			<%= resource.subject %>
			<br>
			<b><%= "Batas Pembayaran #{get_date(resource.expired_at?)}" %></b>
		</td>
		<td>
			<b><%= resource.package.title %></b>
			<br>
			<%= get_currency(resource.package.price) %>
			<br>
			<%= "Setiap #{resource.package.period} bln" %>
		</td>
		<td><%= get_currency(resource.price) %></td>
		<td><%= resource.uniq_code %></td>
		<td>
			<% if resource.period_start.present?  %>
				<%= "#{get_date(resource.period_start)} s.d. #{get_date(resource.period_end)}" %>
			<% else %>
				-
			<% end %>
		</td>
		<td><%= resource.bank_name %></td>
		<td><%= resource.account_name %></td>
		<td><%= resource.account_number %></td>
		<td><%= resource.status? %></td>
		<td><%= resource.promo? %></td>
		<td><%= get_datetime(resource.created_at) %></td>
	</tr>
	<% end %>
</table>