.col-md-12
	.widget
		.widget-head
			.pull-left
				| Detail Invoice
			.widget-icons.pull-right
				| <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
				| <a href="#" class="wclose"><i class="fa fa-times"></i></a>
			.clearfix
		.widget-content
			.padd
				.form-horizontal
					.form-group
						.col-md-3
							b Kode
						.col-md-9
							= resource.code
					.form-group
						.col-md-3
							b Member
						.col-md-9
							= link_to resource.member.username, backend_member_path(resource.member)
					.form-group
						.col-md-3
							b Subject
						.col-md-9
							= resource.subject
					.form-group
						.col-md-3
							b Harga
						.col-md-9
							= get_currency(resource.price)
					.form-group
						.col-md-3
							b Deskripsi
						.col-md-9
							= resource.description.html_safe
					.form-group
						.col-md-3
							b Nama Bank
						.col-md-9
							= resource.bank_name
					.form-group
						.col-md-3
							b Nama Rekening
						.col-md-9
							= resource.account_name
					.form-group
						.col-md-3
							b Nomor Rekening
						.col-md-9
							= resource.account_number
					.form-group
						.col-md-3
							b Status
						.col-md-9
							= resource.status?
					.form-group
						.col-md-3
							b Dibuat
						.col-md-9
							= get_datetime(resource.created_at)
				.break
			.widget-foot
				= link_to '<i class="fa fa-chevron-left"></i>'.html_safe, :back, class: 'btn btn-xs btn-primary', title: "Kembali"
				| &nbsp;
				= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_resource_path(resource), class: 'btn btn-xs btn-warning', title: "Ubah"

	.panel
		.panel-body
			.tabbable
				ul.nav.nav-tabs
					li.active
						a data-toggle="tab" href="#tab2_1" Aktifitas
				br
				.tab-content
					#tab2_1.tab-pane.active
						h2 align="center" Daftar Aktifitas
						br
						= form_for :search, url: backend_invoice_path(resource), method: 'get', html: {class: 'form-search', remote: true} do
							.input-group.wd100
								.col-md-4.no-padding
									= text_field_tag :key_activities, params[:key_activities], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
								.col-md-3.no-padding
									= select_tag :status_activities, options_for_select(Activity::STATUSES, params[:status_activities]), prompt: 'Pilih Status', class: 'form-control'
								.col-md-2.no-padding
									= text_field_tag :start_at_activities, nil, value: params[:start_at_activities], class: 'form-control datepicker', placeholder: 'Start At'
								.col-md-2.no-padding
									= text_field_tag :end_at_activities, nil, value: params[:end_at_activities], class: 'form-control datepicker',  placeholder: 'End At'
								.col-md-1.no-padding
									= submit_tag :search, class: 'btn btn-info btn-block'
						br
						#list-activities
							= render "list_activities"