.row
	.col-md-3
		.box-top-detail.green
			b.txt-green #{get_currency(@paid)}
			br
			| Paid
	.col-md-3
		.box-top-detail.blue
			b.txt-orange #{get_currency(@process)}
			br
			| Process
	.col-md-3
		.box-top-detail.orange
			b.txt-red #{get_currency(@pending)}
			br
			| Pending
	.col-md-3
		.box-top-detail.red
			b.txt-red #{get_currency(@reject)}
			br
			| Reject