.row
	.col-md-6
		label status
		= f.select :status, Spending::STATUSES, {prompt: "Pilih Category"}, class: 'form-control', required: true
	.col-md-6
		label category
		= f.select :category, Spending::CATEGORY, {prompt: "Pilih Category"}, class: 'form-control', required: true
	.col-md-12
		h6 code
		= f.text_field :code, class: 'form-control', required: true
	.col-md-12
		h6 title
		= f.text_field :title, class: 'form-control', required: true
	.col-md-12
		label description
		= f.cktext_area :description, class: 'form-control', required: true
	.col-md-12
		label price
		= f.text_field :price, class: 'form-control', required: true, data: {autonumeric: true}
		.form-group
			label Image
			br
			= image_tag f.object.file.url(:small), class: 'show-choice'
			= f.file_field :file, class: 'input-file'
	.col-md-12
		label transaction_date
		= f.text_field :transaction_date, class: 'datepicker form-control'
	.col-md-12
		label from_acc
		= f.text_field :from_acc, class: 'form-control'
	.col-md-12
		label to_acc
		= f.text_field :to_acc, class: 'form-control'
