.col-md-12
	= render 'backend/shareds/search_form_spending'
	= render 'box-info'
	= form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do
		.widget
			= render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Spending', button_name: 'Spendings', add_method: true}
			.widget-content
				.table-responsive
					table class="table table-striped table-bordered table-hover"
						thead
							tr
								th = check_box_tag :check_all
								th Kode
								th Judul
								th Deskripsi
								th Nominal
								th Tanggal Transaksi
								th Dari Rek.
								th Ke Rek.
								th Status
								th Kategori
								th action
						tbody
							- if @collection.blank?
								tr
									td colspan="11"
										= render "shareds/empty_blank"
							- else
								- @collection.each_with_index do |resource, index|
									tr
										- if resource.status == "reject" || resource.status == "paid"
											td -
										- else
											td = check_box_tag "ids[]", resource.id
										td 
											= link_to resource.code, backend_spending_path(resource)
										td 
											= resource.title
										td 
											= truncate(strip_tags(resource.description), :length => 25)
										td 
											= get_currency(resource.price)
										td 
											= resource.transaction_date
										td 
											= resource.from_acc
										td 
											= resource.to_acc
										td 
											= resource.status?
										td 
											= resource.category
										td
											= render partial: 'backend/shareds/prepare_action',
												locals: { resource: resource, confirmation: "Are you sure delete this #{resource.id}", no_show: false }
				.widget-foot
					.pull-right
						= paginate @collection, remote: true if @collection.present?
					.clearfix