<table border="1">
	<caption>Data Pengeluaran <%= params[:user] %> <%= show_search_form_date(params[:start_at], params[:end_at]) %></caption>
	<tr>
		<th>Kode</th>
		<th>Judul</th>
		<th>Deskripsi</th>
		<th>Nominal</th>
		<th>Tanggal Transaksi</th>
		<th>Dari Rek.</th>
		<th>Ke Rek.</th>
		<th>Status</th>
		<th>Kategori</th>
	</tr>

	<% @collection_all.each do |resource| %>
		<tr>
			<td><%= resource.code %></td>
			<td><%= resource.title %></td>
			<td><%= resource.description.html_safe %></td>
			<td><%= get_currency(resource.price) %></td>
			<td><%= resource.transaction_date %></td>
			<td><%= resource.from_acc %></td>
			<td><%= resource.to_acc %></td>
			<td><%= resource.status? %></td>
			<td><%= resource.category %></td>
		</tr>
	<% end %>
</table>