.col-md-12
	.widget
		.widget-head
			.pull-left
				| Detail Pengeluaran
			.widget-icons.pull-right
				| <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
				| <a href="#" class="wclose"><i class="fa fa-times"></i></a>
			.clearfix
		.widget-content
			.padd
				.form-horizontal
					.form-group
						.col-md-2
							b Kode
						.col-md-10
							= resource.code
					.form-group
						.col-md-2
							b Judul
						.col-md-10
							= resource.title
					.form-group
						.col-md-2
							b Deskripsi
						.col-md-10
							= resource.description.html_safe
					.form-group
						.col-md-2
							b Nominal
						.col-md-10
							= get_currency(resource.price)
					.form-group
						.col-md-2
							b Tanggal Transaksi
						.col-md-10
							= resource.transaction_date
					.form-group
						.col-md-2
							b Dari Rek.
						.col-md-10
							= resource.from_acc
					.form-group
						.col-md-2
							b Ke Rek.
						.col-md-10
							= resource.to_acc
					.form-group
						.col-md-2
							b Gambar
						.col-md-10
							= image_tag resource.file.url(:medium)
					.form-group
						.col-md-2
							b Status
						.col-md-10
							= resource.status?
					.form-group
						.col-md-2
							b Kategori
						.col-md-10
							= resource.category

				.break
			.widget-foot
				= link_to '<i class="fa fa-chevron-left"></i>'.html_safe, :back, class: 'btn btn-xs btn-primary', title: "Kembali"
				| &nbsp;
				= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_resource_path(resource), class: 'btn btn-xs btn-warning', title: "Ubah"
