.header
  .container
    = link_to root_path do
      = image_tag 'dusbelanja.png', class: 'img-logo-faq'
    .title-faq
      Seputar Pertanyaan & Jawaban

.qna-help
  .container
    .row
      .col-md-3
        .js-sidebar-fixed
          h3
            b Pusat Bantuan
          ul.helps-sidebar
            li
              = link_to 'Cara Belanja?', '#help1'
            li
              = link_to 'Cara Pembayaran?','#help2'
            li
              = link_to 'Kebijakan Harga','#help3'
            li
              = link_to 'Info Pengiriman','#help4' 
            li
              = link_to 'Cara Pengembalian Produk','#help5'
        .sidebar-responsive
          h3
            b Pusat Bantuan
          ul.helps-sidebar
            li
              = link_to 'Cara Belanja?', '#help1'
            li
              = link_to 'Cara Pembayaran?','#help2'
            li
              = link_to 'Kebijakan Harga','#help3'
            li
              = link_to 'Info Pengiriman','#help4' 
            li
              = link_to 'Cara Pengembalian Produk','#help5'

      .col-md-9
        .panel#help1  
          .panel-body.tab-help 
            .tcenter 
              h3 
                b Cara Belanja
            .row
              .col-md-1.col-xs-2  
                span.number-steps 1
              .col-md-11.col-xs-10
                b Pilih Produk
                p Pilih produk yang anda ingin beli
              .col-md-12  
                hr
                              
              .col-md-1.col-xs-2
                span.number-steps 2
              .col-md-11.col-xs-10    
                b Pilih Jumlah Item atau Spesifikasi Item
                p Pilih ketentuan item dan jumlah item yang anda inginkan kemudian klik tombol "Masukan Keranjang" atau "Bayar Sekarang"
              .col-md-12  
                hr
                
              .col-md-1.col-xs-2
                span.number-steps 3
              .col-md-11.col-xs-10    
                b Isi Formulir & Lokasi Pengiriman
                p isi formulir yang tertera dalam website untuk informasi pembeli dan lokasi pengiriman untuk menentukan ongkos kirim, kami menjamin informasi pembeli tidak disebar luaskan
              .col-md-12  
                hr
                
              .col-md-1.col-xs-2
                span.number-steps 4
              .col-md-11.col-xs-10    
                b Konfirmasi Pembelian
                p Lakukan pengecekan ulang pada informasi detail pembelian, lakukan pengecekan pada jumlah atau spesifikasi item sesuai dengan keinginan anda
              .col-md-12  
                hr
                
              .col-md-1.col-xs-2
                span.number-steps 5
              .col-md-11.col-xs-10    
                b Pembayaran
                p Lakukan pembayaran dengan memilih salah satu metode pembayaran yang terdapat dalam website.
              .col-md-12  
                hr
                
              .col-md-1.col-xs-2
                span.number-steps 6
              .col-md-11.col-xs-10    
                b Konfirmasi Pembayaran
                p setelah di lakukan pembayaran dengan menggunakan transfer bank bisa lakukan konfirmasi pembayaran dalam website dengan klik tombol "Konfirmasi Pembayaran"
              .col-md-12  
                hr
                
              .col-md-1.col-xs-2
                span.number-steps 7
              .col-md-11.col-xs-10    
                b Tunggu Barang di Kirimkan Ke Tempat Anda
                p Setelah melakukan pembayaran dan sudah di konfirmasi maka tinggal tunggu barang di kirimkan ke tempat anda dengan ketentuan waktu pengiriman
        .panel#help2  
          .panel-body.tab-help
            .tcenter 
              h3 
                b Cara Pembayaran
            | Pembeli dapat melakukan pembayaran melalui Transfer ke BCA/BNI/Mandiri yang tertera pada email invoice.
            br
            br

            | Verifikasi pembayaran akan dapat dilakukan dengan cepat dan tepat apabila jumlah dana yang ditransfer sesuai dengan jumlah yang tertera pada halaman terakhir transaksi, hingga 3 digit terakhir (Pastikan jumlah yang dikirim tidak berbeda 1 digitpun). 
            br
            br

            | Setelah melakukan transfer, pembeli diharapkan untuk melakukan konfirmasi pembayaran melalui menu ‘Konfirmasi Bayar’ pada menu atas website kami. Status Transaksi telah berubah dari ‘Menunggu’ menjadi ‘Dibayar’. 
            br
            br

            | Semua informasi data yang Anda berikan ke kami terjamin kerahasiaannya dan tidak akan disalah-gunakan oleh pihak yang tidak berkepentingan.
        .panel#help3  
          .panel-body.tab-help
            .tcenter 
              h3 
                b Kebijakan Harga
            | Harga yang tertera adalah harga yang saat anda order, dan tidak akan berubah sampai proses pembayaran selesai. Harga yang kami berikan adalah harga terbaik yang kami tawarkan dibanding membeli produk sama ditempat online shop lain.
        .panel#help4  
          .panel-body.tab-help
            .tcenter 
              h3 
                b Waktu & Biaya Pengiriman
            | Semua order yang masuk akan diproses sesegera mungkin untuk barang READY STOCK dan SELALU ADA biasanya membutuhkan waktu 1-2 hari kerja dan untuk PREORDER 7 hari kerja, baru barang siap dikrim dan mempunyai no.resi pengiriman. biaya pengiriman akan dikenakan saat order selesai, ongkir yang dikenakan tergantung berat dan ekspedisi pengiriman yang dipilih, ekspedisi yang kita gunakan diantaranya JNE, TIKI, J&T Dll.
        .panel#help5  
          .panel-body.tab-help
            .tcenter 
              h3 
                b Pengembalian Barang
            | Meskipun kami tidak pernah mengirimkan produk yang cacat ke Customer kami, bisa saja terjadi risiko produk yang Anda pesan rusak selama perjalanan pengiriman karena terhimpit saat pengiriman di JNE. Pengembalian produk ke kami, akan kami ganti ongkir sepenuhnya, bisa menggunakan jasa pengiriman kembali dengan harga terendah, seperti JNE OK, POS, dan sebagainya. Dan sebagai tanggung jawab, kami memberlakukan sistem refund max 3 hari dari sejak barang diterima berdasarkan tracking JNE kami, dengan prosedur yang sudah kami tentukan.