footer
	.container
	  .footer-tag
	  	= @setting_global.footer_tags
	  ul
	  	li
	  		= link_to 'Home'.html_safe, home_path
	  	li
	  		= link_to 'Tentang Kami'.html_safe, aboutus_path
	  	li
	  		= link_to 'Kebijakan Privasi'.html_safe, policy_path
	  	li
	  		= link_to 'Kontak Kami'.html_safe, contact_path
