- if params[:action] == 'aboutus'
  - active = "active"
- elsif params[:action] == 'policy'
  - active2 = "active"
- elsif params[:action] == 'contact'
  - active3 = "active"
- else
  - active4 = "active"

section.contact-header
  = link_to home_path do
    = image_tag 'official/logo.png', class: 'img-logo-faq'
  ul
    li
      = link_to 'Home'.html_safe, home_path

    li class="#{active}"
      = link_to 'Tentang Kami'.html_safe, aboutus_path

    li class="#{active2}"
      = link_to 'Kebijakan Privasi'.html_safe, policy_path

    li class="#{active3}"
      = link_to 'Kontak Kami'.html_safe, contact_path

    li class="#{active4}"
      = link_to 'Blog'.html_safe, blogs_path


      