nav.navbar.navbar-default.top-navbar.js-top-navbar
  .container
    .navbar-header
      .js-toggle.collapsed aria-expanded="false" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button"
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar  
      a.navbar-brand
        = link_to home_path do
          = image_tag "official/logo.png", class: 'img-logo'
    #bs-example-navbar-collapse-1.collapse.navbar-collapse.custom-nav
      ul.nav.navbar-nav#navigation
        li.menu
          = link_to 'Produk', '#qproduct'
        li.menu
          = link_to 'Kepercayaan','#trusted'
        li.menu
          = link_to 'Materi','#advert'
        li.menu
          = link_to 'Fitur','#features'
        li.menu
          = link_to 'Testimonial','#testimonial' 
        li.menu
          = link_to 'Profit','#profit'      
        li.menu
          = link_to 'Harga Pendaftaran','#package'
        li.menu
          = link_to 'Blog','#blog'  
      .navbar-right  
        - unless user_signed_in?
          ul.nav.navbar-nav.navbar-right
            li.not-login
              = link_to 'Masuk', new_user_session_path
            li.not-login.desktop
              = link_to '/', '#'
            li.not-login
              = link_to 'Daftar', new_user_registration_path

        - else
          - link_dasboard = current_user.admin? ? backend_dashboard_path : members_dashboard_path
          ul.nav.navbar-nav.navbar-right
            li.menu.dropdown
              a.dropdown-toggle data-toggle="dropdown" href="#" 
                = image_tag current_user.profile.avatar, class: 'img-profile'
                = current_user.username
                span.caret
              ul.dropdown-menu role="menu"
                li
                  = link_to '<i class="fa fa-globe"></i> Dashboard'.html_safe, link_dasboard
                li
                  = link_to '<i class="fa fa-sign-out"></i> Keluar'.html_safe, destroy_user_session_path, method: 'delete'

/= link_to '<span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>'.html_safe, '#home', class: 'js-btn-up btn-up'