.aboutus
	.container
		br
		.row.content
			.col-md-6
				= image_tag 'official/about.jpg', class: 'img-logo-faq', width: '100%', "data-aos" => "fade-right"
			.col-md-6 data-aos="fade-left"
				h3
					|	Tentang Kami
				p
					|	Dropshipan adalah portal online dibawah naungan Ultiface Selamet Nugraha yang mengoperasikan www.dropshipan.co.id. Nama Dropshipan sendiri terinspirasi dari “Dropship” yang memiliki makna adalah sebuah metode jual beli online di mana penjual tidak melakukan stok barang ataupun proses pengiriman. Dalam sistem ini, akan sangat dibutuhkan seorang supplier sebagai pemasok barang. Penjual akan memajang foto-foto barang dagangan supplier di website atau akun media sosial sebagai tempat berjualan. dan itu aktifitas yang biasa dilakukan ketika sedang berjualan.

				p
					|	Melalui Dropshipan, kami berkomitmen untuk menghadirkan konten terbaik berupa artikel pada produk pada toko online kami. materi iklan kami terbitkan adalah materi profesional yang dimana berasal dari sumber referensi terpercaya. Kami juga berusaha untuk menghadirkan produk-produk berkualitas untuk Anda. dan produk kami terjamin dari legal hukum diindonesia, kami memnuhi syarat dalam bentuk brand copyrigth dan BPOM
				p.visi-misi
					b Visi: 
					|	Menjadi Portal Online Dropship dan Reseller Nomor #1 di Indonesia
				p.visi-misi
					b Misi: 
					|	Menyediakan berbagai macam informasi dan produk yang dibutuhkan masyarakat Indonesia dan mempermudah siapapun untuk berjualan dan mendapatkan keuntungan sebesar-besarnya.
	.privacy
		.privacy-content
			.container
				h3 data-aos="fade-up"
					|	Kebijakan & Privasi
				p data-aos="fade-up"
					|	Adanya Kebijakan Privasi ini adalah komitmen nyata dari Dropshipan untuk menghargai dan melindungi setiap data atau informasi pribadi Pengguna situs www.dropshipan.co.id, situs-situs turunannya, serta aplikasi gawai Dropshipan. Kebijakan Privasi ini menetapkan dasar atas perolehan, pengumpulan, pengolahan, penganalisisan, penampilan, pembukaan, dan/atau segala bentuk pengelolaan yang terkait dengan data atau informasi yang Pengguna berikan kepada Dropshipan atau yang Dropshipan kumpulkan dari Pengguna, termasuk data pribadi Pengguna, baik pada saat Pengguna melakukan pendaftaran di Situs, mengakses Situs, maupun mempergunakan layanan-layanan pada Situs.
				br
				= link_to 'Lihat Selengkapnya', policy_path, class: 'btn btn-dropship', "data-aos" => "fade-up"
	.container
		.row.content
			.descript-about
				.col-md-10.descript-text
					h2 data-aos="fade-right"
						span.text-dropship
							| Lebih 
						| dari 1000+ orang bergantung pada produk kami
					p data-aos="fade-right"
						| dengan memberikan kenyamanan, itu adalah salah satu tujuan kami kepada dropship dan reseller, maka dengan ini kami mengutamakan cepat tanggap dalam komunikasi dan respon terhadap dropship dan reseller kami.
					.row
						.col-md-6
							.content-desc data-aos="fade-right"
								.icon-desc
									i.icon-screen-desktop
								.txt-desc
									b
										| Halaman Web
									br
									| Setiap dropshiper dan reseller akan mendapatkan landing page dan dashboard untuk berjualan, landing page adalah toko online nya reseller itu sendiri, dashboard adalah tempat mengelola produk yang dijual dan melihat setiap transaksi/keuntungan yang masuk.
							.content-desc data-aos="fade-right"
								.icon-desc
									i.icon-layers
								.txt-desc
									b
										| Stok Produk
									br
									| Stok Produk akan selalu ada, karena kami memiliki gudang sendiri untuk menyimpan produk.
						.col-md-6
							.content-desc data-aos="fade-right"
								.icon-desc
									i.icon-earphones-alt
								.txt-desc
									b
										| Customer Service
									br
									| Kamu tidak perlu bingun melayani pembeli yang bertanya seputar produk yang dijual, karena kami menyediakan Customer Service yang bisa ditanya apa saja seputar produk dengan pelayanan yang sudah terlatih.

							.content-desc data-aos="fade-right"
								.icon-desc
									i.icon-docs
								.txt-desc
									b
										| MATERI IKLAN
									br
									| Setiap reseller yang terdaftar akan kami sediakan materi iklan berupa video, gambar, testimonial atau penjelasan untuk setiap produk, sehingga tidak perlu lagi memikirkan materi iklan.