.header-catalog
  .container
    .row
      .col-md-2.col-xs-3
        = link_to home_path do
          = image_tag 'official/logo.png', class: 'img-logo-catalog'
      .col-md-10.col-xs-9
        .box-search-catalog
          = form_tag do
            .select-categori
              = select_tag :category, options_for_select(['Tas Wanita','Sepatu'], params[:category]), :prompt => 'Kategori', class: 'form-control form-select-style'
            .input-key
              = text_field_tag :key, params[:key], placeholder: 'Cari Product', class: "form-control form-custom2"
            .submit-search
              = submit_tag 'Search', class: "form-control form-custom"
.section-btn-download
  .container
    = link_to 'klik disini untuk unduh file ZIP katalog ini yah'
    = link_to 'Buka Catalog Ready Stock'
  .desc-download
    | Untuk menyimpan foto dibawah satu-satu, silahkan klik kanan foto tersebut dan pilih "Save Link As"
.section.catalog
  .container
    - (0..11).each do ||
      .col-md-15.col-xs-6.col-responsive
        .box-catalog-product
          .box-img-product
            a data-fancybox="catalog" href="#{image_url 'official/sample.jpg'}"
              = image_tag 'http://wp.hostlin.com/Maxbiz/images/project/p7.jpg' , class: 'img-catalog-product'
            .catogory-catalog
              | Tas Wanita
            .product-id-label
              | B200332
          .box-desc-product
            .title-product-catalog
              | JAM TANGAN IPHONE SMARTWATCH X6 CAMERA
            .price-product-catalog
              small Harga Distributor :
              br
              | Rp. 600.000
            .price-product-catalog.price-green
              small Rekomendasi Harga Jual :
              br
              | Rp. 1.200.000

          