section.information-contact
  .container
    h3 
      | Kontak Kami
    .row
      .col-md-6.col-sm-6
        .box
          i.fa.fa-home
        .box2
          = @setting_global.address
        .box
          i.fa.fa-envelope
        .box2
          = link_to "mailto:#{@setting_global.email}" do
            = @setting_global.email
        .box
          i.fa.fa-phone
        .box2
          = @setting_global.contact
        .box
          i.fa.fa-facebook-square
        .box2
          = link_to @setting_global.facebook, @setting_global.facebook
        .box3
          p Senin - Jumat: 09.00 - 18.00 WIB 
          p Sabtu: 10.00 - 17.00 WIB 
          p Minggu: Tutup
      
      .col-md-6.col-sm-6
        .row
          = form_for GuestBook.new, url: create_contact_path, method: 'post' do | f |
            = f.hidden_field :user_id, value: Admin.first.id
            .col-md-6
              .form-group  
                label
                  | Nama Lengkap
                  sup *
                = f.text_field :name, class: 'form-control', placeholder: 'Nama Lengkap'

            .col-md-6
              .form-group  
                label
                  | Email
                  sup *
                = f.text_field :email, class: 'form-control', placeholder: 'name@mail.com'

            .col-md-12
              .form-group  
                label
                  | Phone
                  sup *
                = f.text_field :phone, class: 'form-control', placeholder: 'E.X: 0857324343433'

            .col-md-12
              .form-group  
                label
                  | Pesan
                  sup *
                = f.text_area :description, class: 'form-control', placeholder: 'Pesan Anda'

            .col-md-12
              .form-group
                = recaptcha_tags

            .col-md-12
              label
              = submit_tag :submit, class: 'btn btn-primary'

