.header
  = link_to home_path do
    = image_tag 'official/logo.png', class: 'img-logo-faq'
  .title-faq
    | Seputar Pertanyaan & Jawaban
.qna
  .container
    .col-md-10.col-md-offset-1
      .my-toggle-faq
        li
          a.view.js-accordion-title.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Bagaimana saya mengetahui transaksi yang terjadi di website saya?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  ul
                    li
                      | Email invoice transaksi di website Anda
                    li 
                      | Email konfirmasi bayar yang dilakukan oleh Customer
                    li 
                      | Email hingga sampai produk diproses oleh supplier berikut informasi out of stock (jika ada) dan
                    li 
                      | Email bahwa produk telah tiba di Jakarta untuk siap kirim ke alamat pembeli
                  br
                  | akan otomatis terkirim via email ke email pembeli, dan email yang Anda masukkan di pendaftaran. Total 4 email yang akan pembeli dan Anda dapatkan untuk satu nomor order. Jika pesanan dari pembeli ada yang out of stock, maka akan kami refund dalam waktu 3 hari kerja.
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Apakah Diskon / Data saya bisa dirubah sewaktu waktu?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Tentu saja bisa,
                  br
                  | untuk sementara, kirim email ke management@101red.com dengan red subjek: RUBAH SETTING WEBSITE maka settingan akan kami rubah dalam waktu maksimum 2 hari kerja :) system 101Red kami kembangkan terus, agar nantinya Anda bisa merubah sendiri. note: settingan diskon global minimal 1 tidak bisa 0
                  br
                  br
                  | contoh voucher : Rp 1 - 10 - VIP Voucher ini bisa digunakan tanpa minimum order, dan customer mendapatkan extra diskon 10 dengan kode voucher "VIP". Biasanya hal ini untuk dipasarkan ke sosmed/rekan/dll, dan bukan untuk public.
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Cara perhitungan komisi saya itu bagaimana?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Semua harga retail awal di website replika Anda sudah default dan tidak bisa diubah, namun Anda bisa melakukan potongan harga berupa diskon global.
                  br
                  br
                  | Selain itu, harga retail awal di website Anda ini bisa dijamin jauh lebih murah dari harga pasaran para e-commerce besar seperti M***hari***.com, L***da.com, Za**ra.com, bisa dicek di menu Perbandingan Harga
                  br
                  br
                  | Dengan komisi up-to 50, misalkan harga retail awal Rp 100 ribu, harga pokok atau modal Anda adalah Rp 50.000. Maka jika Anda memberlakukan diskon global 10, berarti Customer Anda membayar Rp 90.000, dan berarti komisi Anda adalah : Rp 90.000 minus Rp 50.000 = Rp 40.000
                  br
                  br
                  | Jika Anda memberlakukan Extra Diskon untuk minimum pembelanjaan tertentu dari harga yg sudah dipotong diskon global. Misalkan Anda men-set minimum belanja Rp 90.000 maka dapat diskon lagi 10 (ini hanya contoh ya).
                  br
                  br
                  | Maka jika Customer Anda membayar Rp 90.000 setelah diskon global, dan karena minimum order yang Anda set untuk mendapatkan extra diskon adalah Rp 90.000, berarti Customer Anda berhak menggunakan Kode Voucher diskon 10, sehingga yang Customer bayarkan adalah :
                  br
                  br
                  | Rp 90.000 - 10 = Rp 81.000,
                  br
                  br
                  | dan komisi Anda adalah: Rp 81.000 minus Rp 50.000 = Rp 31.000
                  br
                  br
                  red Komisi Anda akan ditransfer setiap tanggal 1 dan 16 pada setiap bulannya
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Bagaimana cara Customer saya mengetahui ada diskon voucher untuk pembelian banyak?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Begitu Customer masuk ke website Anda, akan langsung di sapa oleh live chat kami dengan kata kata "mau extra diskon ? tanya kami disini untuk kode vouchernya :)" Begitu Customer membalas sapa dari CS kami di live chat tersebut, maka akan langsung kami informasikan vouchernya.
                  br
                  br
                  | alternatif lainnya, bisa dengan menggunakan fitur logo, karena pada header akan dipajang voucher diskon tanpa harus menanyakan ke CS, contohnya bisa dilihat di  http://www.grosirfashionline.com
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Apakah saya bisa upload produk saya sendiri? dan apa yang membedakan website saya dengan reseller yang lain
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Saat ini belum bisa, namun kami terus melakukan pengembangan sistem website agar suatu saat bisa dilakukan, dan akan kami informasikan jika fitur ini sudah tersedia.
                  br
                  br
                  | Namun meskipun semua reseller kami memiliki tampilan website replika yang sama, pembedanya adalah nama website yang tentunya berbeda, settingan harga, dan isi di halaman testimonial pembeli yang tentunya langsung mengacu ke nama website Anda.
                  br
                  br
                  | Misalkan: testimonial di halaman 101red, berbunyi "seneng deh belanja di 101red.com", nah anggaplah nama website Anda adalah cantik8.com, maka otomatis isi testimonialnya berbeda menjadi "seneng deh belanja di cantik8.com"
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Setelah website saya aktif, apakah ada saran pemasaran yang bisa saya lakukan?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Jika Anda sebelumnya sudah memiliki online shop di Instagram/Facebook/media sosial lainnya, bisa mulai pasarkan nama website Anda disana, sebutkan diskon lengkap dengan kode dan minimum ordernya untuk menarik pembeli.
                  br
                  br
                  | Agar pembeli Anda tidak malas buka website, maka bisa disebutkan, bahwa diskon hanya berlaku untuk pembelanjaan di website saja.
                  br
                  br
                  | Tentunya Anda juga bisa mengatakan bahwa kini Anda telah bekerja sama langsung dengan distributor sehingga produk yang dipasarkan di website sangatlah banyak pilihannya, mulai dari aksesoris, kacamata, syal, aksesoris anak, hingga perlengkapan rumah tangga pun ada. Jadi jangan terfokus hanya mengiklankan satu kategori saja :)
                  br
                  br
                  | Bisa disebutkan juga bahwa Anda sebelumnya biasa jualan di BBM/FB, sehingga ini bisa menjadi alasan mengapa testimonial di website Anda sudah begitu banyak hingga ratusan jumlahnya dari para pembeli Anda sebelumnya. Bila Anda belum pernah memiliki online shop sebelumnya,
                  br
                  br
                  | kami anjurkan Anda mulai memasarkan dengan membuat akun instagram dan facebook page, ajak teman-teman Anda atau calon pembeli Anda untuk follow medsos jualan Anda tersebut agar bisa selalu mengetahui update produk-produk terbaru.
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Saya menggunakan fitur logo, bagaimana prosedurnya ?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Jika Anda menggunakan fitur logo, website Anda akan live terlebih dahulu TANPA LOGO, Pengiriman logo memakan waktu 
                  red 3-6 hari kerja sejak website Anda live, 
                  | biasanya kami kirimkan via email / whatsapp. Logo kami kirimkan dengan 3 alternatif pilihan, dan bisa di revisi oleh Anda sebanyak 1x
                  br
                  br
                  ul
                    li
                      | Kami sarankan, Anda dapat memberikan info info detail mengenai logo yang Anda suka (jika ada) misalnya seperti :
                    li 
                      | Jenis font yang disuka, bisa check dafont.com
                    li 
                      | Warna yang Anda suka, mohon di screenshot / dengan RGB code lebih baik
                    li 
                      | info info lain yang mendukung agar logo yang kami berikan bisa lebih akurat, misalnya seperti styling, modern, minimalis, dll
                    li 
                      | data-data diatas bisa di email kepada kami di management@101red.com
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Saya sudah mempunyai logo sendiri, bagaimana prosedurnya ?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Bisa langsung kirimkan ke kami di 
                  red management@101red.com
                  |, dan Logo Anda akan live maks 2 hari kerja
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Jika barang yang pembeli saya terima ada yang cacat, harus lapor kemana?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Di website Anda sudah tertulis prosedur refund, yaitu tinggal melampirkan foto produk yang cacat dan mengirimkan email ke 
                  red refund@okbelanja.com
                  | , maka refund produk yang cacat tersebut akan kami transfer langsung ke rekening pembeli dalam waktu max 3 hari kerja. 
                  br
                  br
                  | Resiko barang cacat memang bisa terjadi, meskipun kami sama sekali tidak pernah mengirimkan produk cacat ke pembeli, namun kami bisa memaklumi bahwa hal ini bisa terjadi seperti patah karena pengiriman dari JNE yang kurang baik, dsb.
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Ada pembeli saya yang menanyakan langsung ke saya, dari mana produk ini berasal?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Website Anda ini bisa di-ibaratkan seperti marketplace mini, yang merupakan gabungan para supplier-supplier terpercaya dari China dan Hongkong, sehingga produk sangat banyak, jadi bisa sebutkan ke pembeli bahwa produk yang ada di website Anda adalah produk import dari Hongkong dengan kualitas export ke mancanegara, tampilan foto asli pun bisa dilihat di menu Gallery Foto Asli Produk yang ada di website Anda, atau di menu Testimonial yang menampilkan foto produk asli yang di foto oleh Customer.
                  br
                  br
                  | Kualitas produk sangat tergantung harga dan bahan. Untuk produk aksesoris, keterangan bahannya adalah Alloy atau Logam Campuran, maka resiko produk bisa kusam bisa terjadi karena bukan dari emas murni, sehingga keawetan warna dari produk yang harganya dibawah 50ribuan tergantung dari cara pemakaian pembeli Anda. 
                  br
                  br
                  | Disarankan agar jangan terlalu sering kena keringat dan air, dan agar jika setelah dipakai segera dimasukkan kembali ke dalam box tertutup atau laci. Emas murni saja seperti cincin kawin bisa kusam juga kan .
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Bagaimana cara saya mengetahui jumlah visitor ke website saya?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Secara otomatis, jika website Anda sudah live, kami implentasikan 
                  red Google Analytics
                  | , untuk melihat report diperlukan email gmail, jika sewaktu pendaftaran Anda sudah menggunakan email gmail, maka akan kami invite.

                  | Namun, jika email pendaftaran Anda bukan gmail, mohon infokan ke CS email gmail Anda.
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Apakah saya mendapatkan FTP / Cpanel akses ?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Untuk sementara ini, akses cpanel / control panel untuk hosting tidak dapat kami berikan, hal ini untuk alasan keamanan, yang mana seluruh site mirror di kendalikan oleh single remote.
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Mau embed script fb pixel bisa ?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Bisa, mohon email scriptnya ke management@101red.com ~ jangan lupa sertakan juga domain Anda.
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Saya mau ganti domain, apakah bisa ?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Jika web Anda belum live, 
                  red secepatnya hubungi live chat kami, atau telpon kami di 021 225 296 32
                  | , tetapi jika domain Anda sudah di proses, maka ketentuan dibawah ini berlaku.

                  | Jika web Anda sudah live / domain sudah diproses, pergantian domain bisa saja, tetapi akan dikenakan biaya sebesar Rp. 170,000. Hal ini bisa di info ke kami via email 
                  red management@101red.com
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Apakah ada group untuk saling berdikusi ?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Untuk Premium Reseller kami, dapat join group kami di :
                  br
                  ul
                    li
                      | Facebook group
                    li
                      | Telegram group
                  | Untuk join group diatas, tertera pada formulir pendaftaran Anda
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Saya masih ada pertanyaan lain yang tidak ada disini
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | bisa hubungi kami via Telepon/WhatsApp di 083877022823 Jam 09.00 - 18.00 - Senin s/d Sabtu - dengan Retha 🙂
