.header
  = link_to home_path do
    = image_tag 'official/logo.png', class: 'img-logo-faq'
  .title-faq
    | Seputar Pertanyaan & Jawaban
.qna
  .container
    .col-md-10.col-md-offset-1
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Bagaimana cara ordernya ?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Untuk cara order, kakak bisa mengikuti langkah-langkah berikut ini ya :)
                  br
                  ul
                    li
                      | Pastikan kakak sudah dalam keadaan login di website kami yah, login diwebsite kami saat ini hanya dapat menggunakan facebook.
                    li 
                      | Setelah login, masukkan semua produk yang akan kakak pesan kedalam “Keranjang Belanja” , caranya dengan “Add To cart” Produk pada halaman website atau kakak lihat detail produknya dulu dengan klik satu persatu produk, lalu klik “Pesan”
                    li 
                      | Setelah semua produk yang ingin dipesan sudah dimasukkan ke dalam keranjang belanja. Mohon kembali pesanannya apakah semuanya sudah masuk ke Keranjang Belanja. Kakak dapat klik Icon Tas warna merah pada atas website lalu klik “Bayar” untuk menyelesaikan ordernya
                    li 
                      | Dihalaman selanjutnya, kakak dapat mengecek kembali QTY pesanan dan Produk yang dipesan, lalu klik “Lanjut Ke Pembayaran” untuk ke tahap berikutnya
                    li 
                      | Tahap berikutnya adalah Info pengiriman, isi lengkap semua alamat dan nama penerima paket nantinya. Perlu diketahui jika kakak adalah reseller kami dan ingin mengirimkan paket atas nama online shop kakak , maka kakak wajib mengisi Nama Pembeli sebagai nama online shop kakak. Jika sudah semua terisi , lanjut klik “Lanjut Ke Pembayaran” untuk ke tahap berikutnya.
                    li 
                      | Tahap berikutnya adalah Metode Pembayaran, sebelumnya kakak dapat memilih pilihan pengiriman yang kakak inginkan, dan memasukan memasukkan kode voucher yang kakak miliki untuk mendapatkan diskon tambahan. Lalu klik Lanjut “Via Transfer”
                    li 
                      | Order selesai dan kakak akan mendapatkan nomor order berupa 14 digit angka.
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Cara Jadi Reseller ?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Untuk jadi reseller tidak ada syarat apapun kak, kakak bisa langsung mendownload dan memasarkan produk kami . Harga jualnya juga tidak kami patok Kak. :)
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Apakah ada diskon ?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Untuk semua produk yang ada diwebsite kami sudah ada diskonnya kak , jika kakak ingin diskon tambahan kakak dapat tanyakan langsung ke Customer Service Live Chat kami, untuk program diskon tambahannya. 
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Bagaimana Jika saya sudah selesai melakukan Pembayaran ?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Jika sudah melakukan pembayaran, silahkan konfirmasi bayar diwebsite kami ya kak, ke menu “Konfirmasi Pembayaran”, lalu isi data-data yang kami perlukan.
                  br
                  br
                  | Setelah semua terisi, klik “
                  b Kirim Konfirmasi Pembayaran
                  | ” . Seluruh data rekeningnya perlu diisi untuk pendataan kami. Jika order kakak ada yang tidak lengkap nantinya dan saat buat order tidak dalam keadaan login. Maka kami akan otomatis melakukan transfer ke rekening yang kakak cantumkan saat konfirmasi bayar.
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Bagaimana cara saya mengecek status order saya?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Untuk mengecek status ordernya, kakak bisa cek dengan cara login kembali diwebsite, lalu Jika sudah login, point kursor di nama facebook yang tercantum diwebsite, lalu klik “
                  red Purchase History
                  | ”
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Bagaimana jika order Saya ada yang out of stock ?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Jika hal ini terjadi pada order kakak, kami akan mengembalikan senilai kode produk yang out of stock. 
                  br
                  br
                  | Jika sebelumnya Kakak order dalam keadaan login, maka kakak dapat langsung mengecek pengembalian dana dari kami di wallet dalam akun Kakak dan bisa di refund ke rekening kakak atau digunakan untuk belanja lagi. Namun jika sebelumnya tidak login, maka pengembalian dana akan otomatis kami transfer ke rekening yang dicantumkan saat konfirmasi bayar.
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Berapa lama saya bisa mendapatkan resi ?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Untuk ready stock, maksimal akan mendapatkan resi 1 x 24 jam setelah kami kirim ke JNE. Perlu di ketahui , hari sabtu JNE hanya buka sampai jam 2 Siang, sehingga Resi maksimal diterima di hari Senin. Kami sarankan untuk order pada hari jum'at atau sabtu, pilih ekspedisi Si Cepat, agar kami dapat kirim di hari yang sama.
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Apakah bisa pengiriman menggunakan Ekspedisi lain?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Untuk pembelanjaan diatas Rp 5 juta, kakak bisa request pengiriman apa yang di inginkan, akan dikenakan biaya Rp 50 ribu untuk kurir kami mengantar ke lokasi cargo yang kakak inginkan.
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title JNE Service apa saja yang bisa di gunakan ?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Kami hanya memberlakukan pengiriman JNE service YES dan Regular saja. Pilihan tersebut ada pada saat membuat order, di tahap ‘Metode Pembayaran’ . Perlu diketahui, untuk penggunaan pengiriman service YES , akan berlaku dibeberapa kota saja. Paket anda juga bisa kami kirimkan dengan ekspedisi Si Cepat dengan Service Regular dan BEST.
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Bagaimana jika dalam pengiriman paketnya bermasalah ?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Kami sarankan kakak bisa langsung menghubungi Pihak JNE (sebagai orang ke tiga), karena untuk pengiriman kami telah menyerahkan kepada pihak JNE. Kakak bisa menghubungi 
                  red Customer Service JNE di nomor telepon : (021) 2927 8888. 

                  | Atau via email : 
                  red customercare@jne.co.id
                  | Jika dibutuhkan dukungan dari sisi pengirim, kakak bisa menginformasikan kami melalui customer service kami.
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Saya mau melakukan pembelian langsung di gudang, apakah bisa?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Mohon maaf kak, untuk pemesanan hanya dilakukan via website. Namun kakak bisa melakukan pick up order di gudang kami. Tentunya jika order kakak sudah siap untuk di- pick up / sudah selesai di repacking di gudang kami.
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Apakah bisa pick up menggunakan GOJEK, jika iya, bagaimana caranya ?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Reseller melakukan order dan memilih pengiriman "Ambil Sendiri" dan konfirmasi pembayaran diwebsite kami. Kami akan mengubungi Kakak jika paket telah siap. Dan Kakak dapat melakukan pemesanan GOJEK untuk pick up di gudang kami.
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Apakah Saya bisa melakukan order dan kirim ke Luar Negeri ?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Bisa kak, order akan langsung dikirim negara importir. Syarat dan Ketentuan untuk pengiriman ke Luar Negri adalah sebagai berikut :
                  br
                  ul
                    li
                      | Pembelanjaan minimum 2jt (diluar ongkir) hanya PO saja atau
                    li 
                      | Ada biaya extra sebesar 100rb jika pembelanjaan di bawah minimum order.
                    li 
                      | Semua pembayaran dalam rupiah. Dan tetap di transfer ke rekening Bank BCA / Bank Mandiri atas nama Royden.
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Bagaimana cara ordernya untuk kirim ke Luar Negri?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Untuk prosedur pemesanan dan proses ordernya adalah sebagai berikut :
                  br
                  ul
                    li
                      | Cek ongkir pada Customer Service kami. Kami akan memberikan opsi pengiriman melalui beberapa ekspedisi dan memberikan perhitungan ongkir (sudah konversi dari dollar ($) menjadi Rupiah (Rp).
                    li 
                      | Jika ongkir dari negara importir (Hongkong), sudah kakak setujui, kakak dapat melakukan order langsung diwebsite namun menginfokan ke kami melalui Customer Service email : info@okbelanja.com . dengan info Nomor order , Alamat Negara Tujuan, dan ekspedisi yang akan digunakan.
                    li 
                      | CS kami via email akan melakukan perhitungan ulang serta total yang harus kakak Transfer.
                    li 
                      | Jika sudah ditransfer, maka kakak melakukan konfirmasi kembali dengan me- reply email tersebut
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Apakah bisa gabung 2 nomor order ke 1 alamat yang sama?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Mohon maaf kak , kami tidak dapat melakukan penggabungan seperti itu. Karena order yang kami kirim setiap harinya cukup banyak, dan tiap nomor order yang sudah di packing, sudah masuk ke tumpukan bagian pengiriman untuk discan dan dikirim (Setiap hari, pengiriman lebih dari 1500 paket) jadi kakak dapat bayangkan jika ada orderan baru yang mau digabung, kalau kami iyakan, berarti kami harus bongkar lagi semua paket yang sudah kami kelompokkan untuk dikirim untuk mencari order sebelumnya yang sudah siap kirim tersebut. 
                  br
                  br
                  | Begitu juga untuk case PO belum tiba, meskipun belum kami paketkan, tapi bukan berarti ini bisa digabung juga dengan nomor order lain. 
                  br
                  br
                  | Tapi, kakak bisa melakukan order gabungan menjadi satu nomor order, dimana didalamnya terdapat 2 jenis Produk, Produk Pre Order dan Produk Ready Stock. Hal tersebut kami bolehkan , karena didalam sistem kami sudah dapat mendeteksi berdasarkan nomor order mana saja yang didalamnya terdapat 2 jenis produk yang berbeda.
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Satu kilogram biasanya muat berapa banyak ya?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Di setiap detil produk yang Anda klik, akan terlihat keterangan beratnya dalam gram.Jadi 1 kilogram itu tergantung dari jenis produk yang Anda pilih, jika produknya ringan seperti anting, maka 1 kilo bisa muat sampai 40 buah anting, tapi kalau jenis kalung mungkin hanya bisa sampai 15 atau 20 kalung saja. 
                  br
                  br
                  | Pada saat anda klik ‘Bayar’ di halaman Tas Belanja Anda, maka akan terlihat jumlah total berat yang otomatis diakumulasikan oleh sistem kami.
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Apakah bisa sistem drophip ke Customer?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Ya, kami bisa langsung mengirimkan order Customer kakak ke alamat Customer tersebut. Kardus yang akan kami gunakan untuk pengiriman tidak akan ada logo toko Kami. Kami juga tidak akan melampirkan invoice kertas di dalam paket, jadi paket hanya berisi produk yang di lapis oleh bubble warp.
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Apakah produk yang saya beli pasti sama dengan gambar?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Pabrik kami men-foto sendiri produk yang ditampilkan di layar website kami, jikapun ada perbedaan, maka hanyalah sedikit perbedaan warna sekitar 1 s/d 2, karena semua foto di gambar kami di foto di studio, sehingga pencahayaannya tentunya akan sedikit berbeda dengan pencahayaan di tempat kakak, selain itu warna di gambar sangat tergantung dengan pengaturan warna dan cahaya di setiap layar monitor Customer kami yang tentunya berbeda-beda.
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Bagaimana dengan kualitasnya?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Semakin mahal harga produk tersebut, makin bagus kualitasnya. Umumnya perhiasan atau aksesoris yang harganya di atas Rp 50.000 dari harga ecer sangat baik kualitasnya karena dilapis lagi dengan emas putih.Yang bisa kami janjikan adalah, kualitas produk sama dengan kualitas yang Anda lihat di gambar.
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Apakah warna perhiasan bisa luntur atau menghitam?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Semua produk perhiasan pasti warna bisa luntur seiring waktu, kecuali emas murni.Semua produk yang kami jual kebanyakan berbahan campuran (alloy) atau biasa disebut imitasi, dan daya tahan warnanya tergantung dari cara pemakaian.Selama tidak sering dipakai pada saat berkeringat, mandi, berenang, atau kena parfum/lotion, maka ke-awetan warna tentunya makin lama.
                  br
                  br
                  | Jika tidak dipakai, segera simpan di wadah yang tertutup dari udara.Disarankan untuk aksesoris yang Anda beli dibawah Rp 50 ribu, dilapis dengan kutek bening, agar warnanya awet. Jika perhiasan terlanjur menghitam karena air atau keringat, bisa dibersihkan dengan cara memakai pasta gigi yang dioleskan di tempat yang menghitam, lalu diamkan 3-5 menit. Setelah itu, sikat dan bilas bersih. Namun jika hitam karena cairan yang mengandung alkohol seperti lotion dan parfum, maka tidak bisa dibersihkan. Jika hal ini terjadi, Anda bisa men-sepuh ulang perhiasan Anda dengan membawa-nya ke toko perhiasan.Jika bahan Lapis Emas 18k atau Titanium tidak akan berubah warna jika terkena keringat atau air.
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Bagaimana packing produk yang dikirim ke saya?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Semua produk akan kami pack menggunakan bubble wrap (plastik yang ada bubble-nya) untuk menghindari risiko barang rusak pada saat pengiriman, lalu kami masukkan ke dalam kardus setebal kardus Indomie. Atau jika produk yang dipesan kecil-kecil dan jumlahnya tidak banyak, maka akan kami kirim menggunakan amplop namun tetap dilapisi buble wrap sebelumnya.
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Apakah Estimasi PO akan selalu tepat waktu?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Estimasi yang ditampilkan di website kami adalah estimasi normal Pre-Order, dimana 95 pengiriman kami selalu on-time yaitu 7-10 hari kalender atau sekitar 5-7 hari kerja diluar Sabtu, Minggu dan tanggal merah karena tidak ada-nya pengiriman import dari negara importir.
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Mengapa rate on-time kami tidak 100?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | ini karena pengiriman PO sangat tergantung sekali dengan lama-nya bea cukai baik di negara importir dan Jakarta. 
                  br
                  br
                  | Hal ini merata dirasakan oleh para online shop lainnya yang memberlakukan sistem Pre-Order. Dari rata-rata 330 PO yang kami buka setiap tahunnya, pengiriman yang terkena delay ini hanya berdampak ke sekitar 5 tanggal PO yang kami buka. 
                  br
                  br
                  | Beberapa Customer Kami yang pernah melakukan import sendiri biasanya mengerti dengan kendala import yang terkenal cukup rumit untuk masuk Indonesia, sehingga tetap mempercayakan pengurusan keterlambatan barang kepada kami. Seringkali customer yang melakukan import sendiri, malah justru barangnya tertahan hingga 3 bulan lamanya, bahkan risiko tidak bisa keluar sama sekali. 
                  br
                  br
                  | Karena hal hal seperti faktor lama-nya inspeksi bea cukai betul betul di luar kuasa 101red, pihak kami memberlakukan Full refund jika pesanan kakak tidak sampai di gudang kami lebih dari 3 minggu sejak tanggal pemesanan kakak. Kami pun tentunya berusaha se-maksimal mungkin mengejar pihak Bea Cukai agar bisa keluar barang secepat mungkin, karena meskipun ini bukan kesalahan dari pihak kami, kami tetap ingin selalu menjaga kepuasan Customer kami.
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Bagaimana jika barang yang dikirim tidak lengkap ?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Sebelumnya, mohon pastikan sudah mencari dalam paket yang kami kirimkan. Karena untuk barang-barang kecil beberapa kali selalu terselip saat dibuka. Dan juga Pastikan sudah mengecek email pemberitahuan kelengkapan barang. Jika tidak ada pemberitahuan Out Of Stock, maka bisa segera email ke 
                  red refund@okbelanja.com. 
                  | Sertakan nomor order dan kode produk yang tidak tiba, juga nomor rekening tujuan untuk kami refund.
            .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Bagaimana jika ada barang yang rusak, cacat, patah, salah warna, salah model ?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Tentunya untuk barang barang Ready stock , kami melakukan pengecekkan secara keseluruhan. Namun tidak dapat dihindari jika adanya ‘Human Eror’ pada saat pengecekkan/pengiriman. Jika hal tersebut terjadi pada order kakak, kakak bisa langsung infokan kami via email ke 
                  red refund@okbelanja.com. 
                  | Sertakan nomor order, kode produk dan foto barang yang bermasalah. Info ini kami terima , maksimal 4 hari kerja setelah paket kakak terima. Kami akan menolak direfund, jika kami cek di resi pengiriman barangnya telah lewat dari 4 hari diterima. 
                  br
                  br
                  | Untuk selanjutnya setelah email, Customer Service kami akan membalas dalam jangka waktu maksimal 1 x 24 jam sejak emailnya diterima (kecuali minggu dan tanggal merah) dan melakukan sortir untuk produknya perlu/tidaknya dikembalikan ke gudang Kami.
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Kapan saya di transfer komisi ?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Komisi di transfer langsung ke rekening masing-masing reseller yang sudah di daftarkan sebelumnya setiap tanggal 1 & 16
                  br
                  ul
                    li
                      | Komisi Tanggal 1 : Komisi yang masuk Proses Order di tanggal 10 – 24 (Tanggal Masuk Proses)
                    li
                      | Komisi Tanggal 16 : Komisi yang masuk Proses Order di tanggal 25 – 9 (Tanggal Masuk Proses)
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Jika Komisi yang saya terima tidak sesuai bagaimana ?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Kakak bisa langsung kirim email ke 
                  red complaint@okbelanja.com
                  | dengan subject “Rekapan Komisi (domain anda). Infokan Nomor order dan domain anda.
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Perhitungan Komisi itu bagaimana ya ?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | komisi reseller itu 50 dari harga retail website replika. Jadi misalnya harga retail di website reseller itu 100.000 . Berarti modal reseller itu Rp 50.000.
                  br
                  br
                  | Contoh ya kak, misalnya Kakak memberlakukan diskon global dari harga ecer sebesar 10 dan juga kakak memberlakukan diskon minimum order belanja 100rb extra diskon 10. Lalu ada customer yang belanja diwebsite kakak 1 produk seharga Rp. 100rb. Maka perhitungan komisinya seperti ini :
                  br
                  br
                  | Rp.100.000 (Harga Retail) - 10 (Diskon Global) = Rp. 90.000,- 
                  br
                  | Rp. 90.000,- (Harga setelah dikurangi diskon global) – 10 (diskon ekstra min order) = Rp.81.000,- (yang dibayarkan customer)
                  br
                  | Jadi Komisi kakak dari pembelian tersebut adalah Rp. 81.000 – 50.000 (Harga Modal) = Rp. 31.000
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Apa saya bisa belanja langsung dengan harga modal ?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Chat ke CS LiveChat di masing-masing website, jika jawaban CS tidak memuaskan bisa hubungi Retha via Telegram (083877022823), jika jawaban Retha tidak memuaskan bisa kirim email ke : 
                  b complaint@okbelanja.com
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Gimana sih prosedur kalo mau nanya atau komplain ?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Chat ke CS LiveChat di masing-masing website, jika jawaban CS tidak memuaskan bisa hubungi Retha via Telegram (083877022823), jika jawaban Retha tidak memuaskan bisa kirim email ke : complaint@okbelanja.com
      .my-toggle-faq
        li
          a.view.js-accordion-title
            .row
              .col-sm-12
                h3.faq-toggle-title Saya punya produk sendiri bisa tidak ya Saya jual di website replika saya ?
                .toggle-up
                  span.glyphicon.glyphicon-chevron-up aria-hidden="true"
                .toggle-down
                  span.glyphicon.glyphicon-chevron-down aria-hidden="true"
          .detail
            .row
              .col-sm-12
                .toggle-wrapper
                  | Proposal KONSINYASI bisa kirim ke email pribadi saya di christinakitin@gmail.com kasih judul : PROPOSAL KONSINYASI PRODUK “xxx” untuk 101Red . Proposal harus memiliki: 
                  br
                  br
                  ul
                    li 
                      | Foto Produk yang mau dipasarkan dan namanya
                    li 
                      | Detail fungsi produk itu atau kelebihannya, apa yang bikin ini memiliki nilai lebih dengan yang beredar di pasaran.
                    li 
                      | FOTO screenshot harga jual produk produk sejenis di marketplace
                    li 
                      | Harga modal buat saya selaku distributor jadi berapa. Apakah setelah saya up margin untuk saya 10 (minimal Rp 2000), dan setelahnya jika dikali 2 untuk menjadi harga ecer
    
    
