slider#home
	= image_tag "#{image_path @slider_home}", class: 'img-slider'
	.txt-slider
		.container
			h2.txt-sl1 data-aos="fade-up"
				| SALAH SATU AGEN TERBAIK DI INDONESIA
			.txt-sl2 data-aos="fade-up"
				h2 data-aos="fade-up"
					span.text-dropship
						| DROPSHIP 
					| MASA DEPAN
				p data-aos="fade-up"
					| Dengan maraknya bisnis online, kami memberikan jalan dan wadah untuk anda berbisnis dengan nyaman dan aman dengan kebebasan memilih produk yang akan dijual sendiri secara bebas yang tersedia dari kami, tanpa harus memikirkan stok barang dengan modal besar anda hanya memikirkan bagaimana cara menjual, anda akan dapatkan keuntungan sesuai keinginan anda, anda akan mudah mendapatkan penghasilan dengan dropship dan reseller dari kami, karena itu kami ada.
				br
				= link_to 'Bagaimana Caranya Bergabung?', '#package', class: "btn btn-dropship js-scroll-all", "data-aos" => "fade-up"
	a.js-scroll-all href="#short-info"
		= image_tag 'official/scroll-arrow.svg', class: 'scroll-arrow'

section.short-info#short-info
	.container
		.row
			.col-md-9 data-aos="fade-up"
				h3
					| Apakah Anda ingin meningkatkan skala penghasilan Anda?
				p
					| Dengan anda mendaftarkan diri menjadi dropship dan reseller dari kami, maka anda akan mendapatkan keuntungan dalam bisnis online anda, dengan berbagai sistem yang tersedia dari kami, anda hanya fokus berjualan kami menyiapkan segalanya.
			.col-md-3 data-aos="fade-up"
				a.btn.btn-dropship.js-scroll-all href="#package"
					| Mulai Sekarang

- if @instagram_images.present?
	section.section-blog-photos style="padding: 0;"
		.sub-headline
			i.fa.fa-instagram 
			| &nbsp;
			| @dropshipan.co.id
		.blog-photos
			.b-slider__slides.js-main-slider
				- @instagram_images.each do |i|
					.b-slider__slide
						= link_to i.link, class: 'b-slider__ref', target: '_blank' do
							picture.b-slider__picture
								= image_tag i.images.standard_resolution.url, srcset: i.images.standard_resolution.url

section.descript#trusted
	.col-md-6.descript-text
		h2 data-aos="fade-right"
			span.text-dropship
				| Lebih 
			| dari 1000+ orang bergantung pada produk kami
		p data-aos="fade-right"
			| dengan memberikan kenyamanan, itu adalah salah satu tujuan kami kepada dropship dan reseller, maka dengan ini kami mengutamakan cepat tanggap dalam komunikasi dan respon terhadap dropship dan reseller kami.
		.row
			.col-md-6
				.content-desc data-aos="fade-right"
					.icon-desc
						i.icon-screen-desktop
					.txt-desc
						b
							| Halaman Web
						br
						| Setiap dropshiper dan reseller akan mendapatkan landing page dan dashboard untuk berjualan, landing page adalah toko online nya reseller itu sendiri, dashboard adalah tempat mengelola produk yang dijual dan melihat setiap transaksi/keuntungan yang masuk.
				.content-desc data-aos="fade-right"
					.icon-desc
						i.icon-layers
					.txt-desc
						b
							| Stok Produk
						br
						| Stok Produk akan selalu ada, karena kami memiliki gudang sendiri untuk menyimpan produk.
			.col-md-6
				.content-desc data-aos="fade-right"
					.icon-desc
						i.icon-earphones-alt
					.txt-desc
						b
							| Customer Service
						br
						| Kamu tidak perlu bingun melayani pembeli yang bertanya seputar produk yang dijual, karena kami menyediakan Customer Service yang bisa ditanya apa saja seputar produk dengan pelayanan yang sudah terlatih.

				.content-desc data-aos="fade-right"
					.icon-desc
						i.icon-docs
					.txt-desc
						b
							| MATERI IKLAN
						br
						| Setiap reseller yang terdaftar akan kami sediakan materi iklan berupa video, gambar, testimonial atau penjelasan untuk setiap produk, sehingga tidak perlu lagi memikirkan materi iklan.

section.challenge
	.container
		.row
			.challenge-content data-aos="fade-up"
				.col-md-6
					= image_tag 'official/online-business.jpg', class: 'online-img'
				.col-md-6
					.title-ch2
						span.text-dropship
							| YANG PERLU DIINGAT
						|  DALAM BISNIS ONLINE
					p.desc-ch
						| berbagi sejenak tentang hal-hal yang harus diketahui dan diingat tentang point-point bisnis online
					ul
						li
							| Toko Online/Website
						li 
							| Dashboard (Kelola Produk, Melihat Keuntungan, Analytic Report DLL)
						li 
							| Materi Iklan (Video, Gambar, Testimonial, Deskripsi)
						li 
							| Customer Service
						li 
							| Modal
					.desc-ch2
						| semua itu sudah kami siapkan dan anda hanya fokus menjual barang, karena point-point tersebut sudah ada fitur kami.
			.challenge-content data-aos="fade-up"
				.col-md-6
					.title-ch22
						span.text-dropship
							| FITUR 
						| REFERRAL
					p.desc-ch.wd85
						| Dengan adanya sistem dan fitur  downline referral yang bertingkat, anda akan mendapatkan komisi lebih dari downline anda ketika downline anda berhasil menjual produk, dengan hanya bermodal support metode berjualan yang sedang anda jalani.
					/ = image_tag 'official/survey.png', class: 'img-diagram'
				.col-md-6
					= image_tag 'official/referal.jpg', class: 'online-img'

section.earnings#profit
	.col-md-6.earnings-text
		div data-aos="fade-up"
			h4
				span.text-dropship
					| Simulasi 
				| Penghasilan Anda perbulan?
			br
			p
				b PAKET PERAWATAN KLEENAR 3IN1
				br
				| Harga Reseller : 246.750
				br
				| Harga Jual : 329.000
			br

			p Jika Anda mampu menjual 2 produk saja sehari, dan Anda hanya mengambil untung 82ribu/produk, maka Produk terjual dalam 1 bulan : 30 hari x 2 pcs = 60 pcs
			br

			p Keuntungan Anda : 60 pcs x Rp 82.000
			b.text-dropship Rp 4.920.000,- /Bulan
			br
			br

			p Keuntungan Anda dalam 1 tahun : 4.920.000 x 12 bulan
			b.text-dropship Rp 59.040.000,- /Tahun
			br
			br

			p 
				| Gimana menarik bukan?<br>
				| Sudah ada beberapa reseller yang membuktikkannya.

section.advert#advert
	.container
		h4 data-aos="fade-up"
			span.text-dropship
				| GRATIS 
			| MATERI IKLAN
		.desc-advert.mg-bot data-aos="fade-up"
			| Kami memberikan materi iklan berupa gambar dan video produk yang diupdate secara berkala
			br
			| Berikut ini adalah contoh materi video produk yang siap digunakan di sosial media Anda
	.col-md-4.col-xs-12 data-aos="fade-up"
		.row
			.box-advert
				a.product-example data-fancybox="Video_product" href="https://www.youtube.com/embed/ki4ZrcGQXAU"
					.overplay-advert
						span.icon-control-play.btn-play
					= image_tag 'official/kleenar.png', title: 'Kleenar Skincare', alt: 'Kleenar Skincare', class: 'img-advert'
	.col-md-4.col-xs-12 data-aos="fade-up"
		.row
			.box-advert
				a.product-example data-fancybox="Video_product" href="https://www.youtube.com/embed/EITewIqyxfg"
					.overplay-advert
						span.icon-control-play.btn-play
					= image_tag 'official/rodeos-video.png', title: 'RodeosMen', alt: 'RodeosMen', class: 'img-advert'
	.col-md-4.col-xs-12 data-aos="fade-up"
		.row
			.box-advert
				a.product-example data-fancybox="Video_product" href="https://www.youtube.com/embed/iVjjwN6Nnpc"
					.overplay-advert
						span.icon-control-play.btn-play
					= image_tag 'official/gdm.png', title: 'GDM Beauty Secret', alt: 'GDM Beauty Secret', class: 'img-advert'

section.quantity#qproduct
	.container
		.row
			.desc-qw data-aos="fade-right"
				h2
					span.text-dropship
						| KUALITAS 
					| PRODUK
				| Kami menyediakan produk sesuai pasar yang sedang menjamur di indonesia dan di pasaran tentunya, oleh karena itu akan mempermudah anda dalam mendapatkan keuntungan dengan penawaran produk dari kami, dan produk kami legal dengan ketentuan yang ada.
		.row
			.col-md-4.col-xs-6
				.box-product.row data-aos="fade-up"
					a.product-example data-fancybox="gallery_product" href="#{image_url 'official/rodeos.png'}"
						= image_tag 'official/rodeos.png', title: 'RodeosMen Charcoal Soap', alt: 'RodeosMen Charcoal Soap', class: 'img-product'
						.overplay-prod
							.title-prod
								| RodeosMen Charcoal Soap
			.col-md-4.col-xs-6
				.box-product.row data-aos="fade-up"
					a.product-example data-fancybox="gallery_product" href="#{image_url 'official/paket kleenar.png'}"
						= image_tag 'official/paket kleenar.png', title: 'Kleenar Skincare - Paket Kleenar Skincare 3in1', alt: 'Kleenar Skincare - Paket Kleenar Skincare 3in1', class: 'img-product'
						.overplay-prod
							.title-prod
								| Paket Kleenar Skincare 3in1
			.col-md-4.col-xs-6
				.box-product.row data-aos="fade-up"
					a.product-example data-fancybox="gallery_product" href="#{image_url 'official/kleenar face cleanser.png'}"
						= image_tag 'official/kleenar face cleanser.png', title: 'Kleenar SKincare - Face Cleanser', alt: 'Kleenar SKincare - Face Cleanser', class: 'img-product'
						.overplay-prod
							.title-prod
								| Face Cleanser
			.col-md-4.col-xs-6
				.box-product.row data-aos="fade-up"
					a.product-example data-fancybox="gallery_product" href="#{image_url 'official/hydrating-water-essence .png'}"
						= image_tag 'official/hydrating-water-essence .png', title: 'Kleenar Skincare - Hydrating Water Essence', alt: 'Kleenar Skincare - Hydrating Water Essence', class: 'img-product'
						.overplay-prod
							.title-prod
								| Hydrating Water Essence
			.col-md-4.col-xs-6
				.box-product.row data-aos="fade-up"
					a.product-example data-fancybox="gallery_product" href="#{image_url 'official/PAKET KLEENAR 3IN1.png'}"
						= image_tag 'official/PAKET KLEENAR 3IN1.png', title: 'Kleenar Skincare - Paket Kleenar Skincare 3in1', alt: 'Kleenar Skincare - Paket Kleenar Skincare 3in1', class: 'img-product'
						.overplay-prod
							.title-prod
								| Paket Kleenar Skincare 3in1
			.col-md-4.col-xs-6
				.box-product.row data-aos="fade-up"
					a.product-example data-fancybox="gallery_product" href="#{image_url 'official/PAKET KLEENAR 4IN1.png'}"
						= image_tag 'official/PAKET KLEENAR 4IN1.png', title: 'Kleenar SKincare - Paket Kleenar Skincare 4in1', alt: 'Kleenar SKincare - Paket Kleenar Skincare 4in1', class: 'img-product'
						.overplay-prod
							.title-prod
								| Paket Kleenar Skincare 4in1
			.col-md-4.col-xs-6
				.box-product.row data-aos="fade-up"
					a.product-example data-fancybox="gallery_product" href="#{image_url 'official/gdm666.png'}"
						= image_tag 'official/gdm666.png', title: 'GDM Beauty Secret - Paket Reguler Penetralisir', alt: 'GDM Beauty Secret - Paket Reguler Penetralisir', class: 'img-product'
						.overplay-prod
							.title-prod
								| Paket Reguler Penetralisir
			.col-md-4.col-xs-6
				.box-product.row data-aos="fade-up"
					a.product-example data-fancybox="gallery_product" href="#{image_url 'official/gdm555.png'}"
						= image_tag 'official/gdm555.png', title: 'GDM Beauty Secret - Paket Trial Kit Penetralisir', alt: 'GDM Beauty Secret - Paket Trial Kit Penetralisir', class: 'img-product'
						.overplay-prod
							.title-prod
								| Paket Trial Kit Penetralisir
			.col-md-4.col-xs-6
				.box-product.row data-aos="fade-up"
					a.product-example data-fancybox="gallery_product" href="#{image_url 'official/gdm444.png'}"
						= image_tag 'official/gdm444.png', title: 'GDM Beauty Secret - Paket Miracle Night 3in1', alt: 'GDM Beauty Secret - Paket Miracle Night 3in1', class: 'img-product'
						.overplay-prod
							.title-prod
								| Paket Miracle Night 3in1
			.col-md-4.col-xs-6
				.box-product.row data-aos="fade-up"
					a.product-example data-fancybox="gallery_product" href="#{image_url 'official/HIJAB HASNA.png'}"
						= image_tag 'official/HIJAB HASNA.png', title: 'Sofia Hijab - Hasna', alt: 'Sofia Hijab - Hasna', class: 'img-product'
						.overplay-prod
							.title-prod
								| Sofia Hijab Hasna
			.col-md-4.col-xs-6
				.box-product.row data-aos="fade-up"
					a.product-example data-fancybox="gallery_product" href="#{image_url 'official/HIJAB SHOFA.png'}"
						= image_tag 'official/HIJAB SHOFA.png', title: 'Sofia Hijab - Shofa', alt: 'Sofia Hijab - Shopa', class: 'img-product'
						.overplay-prod
							.title-prod
								| Sofia Hijab Shofa
			.col-md-4.col-xs-6
				.box-product.row data-aos="fade-up"
					a.product-example data-fancybox="gallery_product" href="#{image_url 'official/HIJAB KHANZA.png'}"
						= image_tag 'official/HIJAB KHANZA.png', title: 'Sofia Hijab - Khanza', alt: 'Sofia Hijab - Khanza', class: 'img-product'
						.overplay-prod
							.title-prod
								| Sofia Hijab Khanza

section.feature#features
	.container
		h2 data-aos="fade-up"
			span.text-dropship
				| FITUR 
			| TERSEDIA
		.row
			.col-md-4.col-xs-6.list-feature.col-responsive data-aos="fade-up"
				.box-feature
					= image_tag 'official/lp.png', title: 'Landing Page', alt: 'Landing Page', class: 'img-feature'
					strong
						| LANDING PAGE
					br
					br
					p
						| Toko online pribadi dengan nama domain pilihan Anda Sendiri dan juga mobile friendly
			.col-md-4.col-xs-6.list-feature.col-responsive data-aos="fade-up"
				.box-feature
					= image_tag 'official/dashboard.png', title: 'Dashboard', alt: 'Dashboard', class: 'img-feature'
					strong
						| DASHBOARD
					br
					br
					p
						| Adalah tempat untuk mengelola memilih produk, melihat transaksi penjualan, analytic report Dll.
			.col-md-4.col-xs-6.list-feature.col-responsive data-aos="fade-up"
				.box-feature
					= image_tag 'official/payment.png', title: 'Pembayaran Komisi', alt: 'Pembayaran Komisi', class: 'img-feature'
					strong
						| PEMBAYARAN KOMISI
					br
					br
					p
						| Komisi akan dibayar setiap 2 minggu sekali (biweekly) ke Dropship dan Reseller
			.col-md-4.col-xs-6.list-feature.col-responsive data-aos="fade-up"
				.box-feature
					= image_tag 'official/download-katalog.png', title: 'Download Katalog', alt: 'Download Katalog', class: 'img-feature'
					strong
						| DOWNLOAD KATALOG
					br
					br
					p
						| Memudahkan reseller yang membutuhkan materi iklan berupa video, gambar dan deskripsi produk
			.col-md-4.col-xs-6.list-feature.col-responsive data-aos="fade-up"
				.box-feature
					= image_tag 'official/sosialmedia.png', title: 'Tutorial Digital Marketing', alt: 'Tutorial Digital Marketing', class: 'img-feature'
					strong
						| TUTORIAL DIGITAL MARKETING
					br
					br
					p
						| Tutorial strategi memasarkan produk yang dapat Anda gunakan lagi untuk online bisnis lainnya
			.col-md-4.col-xs-6.list-feature.col-responsive data-aos="fade-up"
				.box-feature
					= image_tag 'official/cs.png', title: 'Customer Service', alt: 'Customer Service', class: 'img-feature'
					strong
						| CUSTOMER SERVICE
					br
					br
					p
						| Kami menyediakan layanan customer service yang sudah terlatih untuk anda berkonsultasi
			.col-md-4.col-xs-6.list-feature.col-responsive data-aos="fade-up"
				.box-feature
					= image_tag 'official/atur-produk.png', title: 'Managemen Produk', alt: 'Managemen Produk', class: 'img-feature'
					strong
						| MANAGEMEN PRODUK
					br
					br
					p
						| Anda diberi kebebasan, mengatur harga, diskon, dan memilih produk yang di jual
			.col-md-4.col-xs-6.list-feature.col-responsive data-aos="fade-up"
				.box-feature
					= image_tag 'official/reseller.png', title: 'Dropship Reseller', alt: 'Dropship Reseller', class: 'img-feature'
					strong
						| DROPSHIP RESELLER
					br
					br
					p
						| Sebagai Reseller anda akan mendapatkan harga murah jika membeli menggunakan akun reseller
			.col-md-4.col-xs-6.list-feature.col-responsive data-aos="fade-up"
				.box-feature
					= image_tag 'official/referral.png', title: 'Referral', alt: 'Referral', class: 'img-feature'
					strong
						| REFERRAL & Affiliasi
					br
					br
					p
						| Komisi ditambahkan ketika Anda mendaftarkan teman Anda dan ketika downline anda berhasil menjual produk.

section.add-text
	.container
		.row
			.col-md-12
				h3 data-aos="fade-up"
					center
						| Yang akan kami tampilkan disini adalah testimonial HASIL yang sudah mereka CAPAI setelah menjadi Dropship dan Reseller www.dropshipan.co.id dan ini pun hanya sebagian..

section.testimonials#testimonial
	.container
		h2 data-aos="fade-up"
			span.text-dropship
				| RESELLER 
			| TESTIMONIAL
		.row
			.col-md-4
				.device-testimonial data-aos="fade-up"
					= image_tag 'official/hp.png', class: 'img-testimonials'
					.ss-testimonial.tab-content
						= image_tag 'official/6.jpg', id: 'a1', title: 'Testimonial Dropshipan', alt: 'Testimonial Dropshipan', class: 'img-testimonials active'
						= image_tag 'official/2.jpg', id: 'a2', title: 'Testimonial Dropshipan', alt: 'Testimonial Dropshipan', class: 'img-testimonials'
						= image_tag 'official/3.jpg', id: 'a3', title: 'Testimonial Dropshipan', alt: 'Testimonial Dropshipan', class: 'img-testimonials'
						= image_tag 'official/4.jpg', id: 'a4', title: 'Testimonial Dropshipan', alt: 'Testimonial Dropshipan', class: 'img-testimonials'
						= image_tag 'official/5.jpg', id: 'a5', title: 'Testimonial Dropshipan', alt: 'Testimonial Dropshipan', class: 'img-testimonials'
						= image_tag 'official/1.jpg', id: 'a6', title: 'Testimonial Dropshipan', alt: 'Testimonial Dropshipan', class: 'img-testimonials'
			.col-md-8.mg-bot
				ul.row.nav-tabs
					li.col-md-6.active data-aos="fade-up"
						a.box-testimonials title='Testimonial Dropshipan' data-toggle="tab" href="#a1"
							b
								| MARSYA - SUKABUMI
							p
								| Menurut saya dropshipan ini sangat membantu saya sebagai mahasiswa untuk mendapatkan penghasilan dari kesibukan kuliah, karena ...
							.link-testimonial
								| Lihat Testimonial
					li.col-md-6 data-aos="fade-up"
						a.box-testimonials title='Testimonial Dropshipan' data-toggle="tab" href="#a2"
							b
								| WINDA - BOGOR
							p
								| Malam kak ini testimoni dari saya winda, saya puas banget ikut reseller dropshipan. Gak ribet jualannya saya sudah disediakan ...
							.link-testimonial
								| Lihat Testimonial
					li.col-md-6 data-aos="fade-up"
						a.box-testimonials title='Testimonial Dropshipan' data-toggle="tab" href="#a3"
							b
								| ANISA - BEKASI
							p
								| Sebelumnya saya pernah jualan online, tapi cape, harus sering ngontrol stok barang, packing dan shipping. tapi setelah daftar jadi reseller ...
							.link-testimonial
								| Lihat Testimonial
					li.col-md-6 data-aos="fade-up"
						a.box-testimonials title='Testimonial Dropshipan' data-toggle="tab" href="#a4"
							b
								| SALMA - TANGERANG
							p
								| Cara jualannya gak ribet saya hanya fokus memasarkan, untuk masalah chat dan komplain pembeli, packing, shipping sudah di atur oleh ...
							.link-testimonial
								| Lihat Testimonial
					li.col-md-6 data-aos="fade-up"
						a.box-testimonials title='Testimonial Dropshipan' data-toggle="tab" href="#a5"
							b
								| AGUNG - DEPOK
							p
								| Produk yang dijual berkualitas, sehingga sangat mudah untuk menjualnya, hitungan komisi jelasc CS pun sudah ada jadi saya ga usah ...
							.link-testimonial
								| Lihat Testimonial
					li.col-md-6 data-aos="fade-up"
						a.box-testimonials title='Testimonial Dropshipan' data-toggle="tab" href="#a6"
							b
								| INDAH PERMATA - BANDUNG
							p
								| Saya mau ngasih testimoni ni, saya lagi seneng sekali soalnya saya baru gabung di dropshipan sekitar 3 mingguan, saat liat dashboard ...
							.link-testimonial
								| Lihat Testimonial
/ section.profit#profit
/   .container
/     h4 data-aos="fade-up"
/       span.text-dropship
/         | Keuntungan 
/       | yang Anda Dapatkan
/     .row
/       - (0..7).each do ||
/         .col-md-6.col-xs-6.col-responsive data-aos="fade-up"
/           .box-profit
/             .box-left
/               = image_tag 'official/Rulers.png', class: 'img-profit'
/             .box-right
/               .title-box-profit
/                 | Website
/               .desc-box-profit
/                 | Toko online pribadi dengan nama domain pilihan Anda Sendiri dan juga mobile friendly.

/ section.package-price#package
/ 	.col-md-3
/ 		.row
/ 			.text-price
/ 				.text-price-content
/ 					h4 data-aos="fade-up"
/ 						span.text-dropship
/ 							| HARGA 
/ 						| PAKET
/ 					h5 data-aos="fade-up"
/ 						| Pilih paket terbaik untuk kebutuhan Anda
/ 					p data-aos="fade-up"
/ 						| Sebelumnya kami ingin menjelaskan bahwa harga untuk masing-masing paket keanggotaan yang tersedia di Dropshipan tidaklah harus dibayar setiap priode nya habis, tergantung kebutuhan bisnis anda jika anda ingin mengaktifkan selalu subdomain dan website toko online dari fitur yang kami sediakan anda harus memperpanjang keanggotaannya setiap habis masa aktifnya, tapi jika anda tidak menggunakannya anda tidak harus membayar selalu setiap priode nya, karena sekali akun anda terdaftar disalah satu paket di Dropshipan akun anda akan selalu aktif dan bisa masuk kedalam Dashboard untuk melakukan Dropship barang ataupun melakukan aktifitas lain, seperti melihat statistik penjualan, melihat komisi, struktur referral, ataupun melihat pembayaran komisi, Dll.
/ 	.col-md-9.price-package-content 
/ 		.row
/ 			.col-md-12
/ 				.row
/ 					- @packages.each do |p|
/ 						- if p.premium?
/ 							- title_package = "Belum Tersedia!"
/ 							- link_package = "#"
/ 							- class_package = "btn-default"
/ 							- disabled = true
/ 						- else
/ 							- title_package = "Daftar"
/ 							- link_package = new_user_registration_path(package_id: p.id)
/ 							- class_package = "btn-orange"
/ 							- disabled = false
/ 						.col-md-3.col-xs-6 data-aos="fade-up"             
/ 							.box-package-price.mg-top
/ 								div class="title-box-package #{p.package_type.downcase}"
/ 									= p.title
/ 								.box-img-price
/ 									| Rp. 
/ 									b.big-font
/ 										= number_to_currency(p.price, :unit => "", :separator => ",", :delimiter => ".", precision: 0)
/ 									.textsmall
/ 										small
/ 											| per #{p.period} bulan
/ 									br
/ 									.textsmall
/ 										small
/ 											| Harga diatas diperpanjang <br>apabila toko online & domain ingin selalu aktif
/ 								.box-desc-package
/ 									.desc-package
/ 										b.b-font AKSES KE DASHBOARD 
/ 										br
/ 										| Masa Aktif Untuk Selamanya
/ 									.desc-package
/ 										b.b-font SUBDOMAIN 
/ 										br
/ 										| *.dusbelanja.com
/ 									.desc-package
/ 										b.b-font #{p.period} BULAN 
/ 										br
/ 										| Masa Aktif Toko Online & Domain
/ 									- if p.premium?
/ 										.desc-package
/ 											b.b-font DOMAIN 
/ 											br
/ 											| domainanda.com
/ 										.desc-package
/ 											b.b-font Landing Page
/ 											br
/ 											| Gratis Website Toko Online
/ 										.desc-package
/ 											b.b-font Dinamis Template
/ 											br
/ 											| Berubah Template Website Sesuai Keinginan
/ 										.desc-package
/ 											b.b-font Brand Logo Gratis 
/ 											br 
/ 											| (seharga 250rb)
/ 										.desc-package
/ 											= 'Facebook Pixels'
/ 										.desc-package
/ 											= 'Google Analytics'
/ 										.desc-package
/ 											= 'Group Marketting Secret'
/ 										.desc-package
/ 											= 'Gratis Materi Iklan'
/ 									- else
/ 										.desc-package2
/ 											b.b-font DOMAIN 
/ 											br
/ 											| domainanda.com
/ 										.desc-package
/ 											b.b-font Landing Page
/ 											br
/ 											| Gratis Website Toko Online
/ 										- if p.advance?
/ 											.desc-package
/ 												b.b-font Dinamis Template
/ 												br
/ 												| Berubah Template Website Sesuai Keinginan
/ 										- else
/ 											.desc-package2
/ 												b.b-font Dinamis Template
/ 												br
/ 												| Berubah Template Website Sesuai Keinginan
/ 										.desc-package2
/ 											b.b-font Brand Logo Gratis 
/ 											br 
/ 											| (seharga 250rb)
/ 										- if p.advance?
/ 											.desc-package
/ 												= 'Facebook Pixels'
/ 											.desc-package
/ 												= 'Google Analytics'
/ 											.desc-package
/ 												= 'Group Marketting Secret'
/ 										- else
/ 											.desc-package2
/ 												= 'Facebook Pixels'
/ 											.desc-package2
/ 												= 'Google Analytics'
/ 											.desc-package2
/ 												= 'Group Marketting Secret'
/ 										.desc-package
/ 											= 'Gratis Materi Iklan'
/ 									br
/ 									= link_to "#{title_package}", link_package, class: "btn #{class_package} btn-block", disabled: disabled
- if @blogs.size >= 4
	section.blogs#blog
		.container
			h2 data-aos="fade-up"
				span.text-dropship
					| ARTIKEL 
				| TERBARU
			.row data-aos="fade-up"
				- @blogs.limit(4).each do |resource|
					.col-md-3
						= link_to blog_path(resource), title: "#{resource.title}" do
							.box
								.box-img
									= image_tag resource.file.url(:large), title: "#{resource.title}", alt: "#{resource.title}", class: "img-auto"
									- if resource.link_video.present?
										.overplay
											i.pe-7s-play
								.box-desc
									span.date
										= get_datetext(resource.created_at)
									.dot 
									span.category = resource.category
									h2 = truncate(resource.title, :length => 90)
				.col-md-12
					.vmore
						= link_to 'LIHAT LEBIH BANYAK', blogs_path, title: 'Blog Dropshipan'


section.faq
	.container
		h2 data-aos="fade-up"
			span.text-dropship
				| Seputar 
			| Pertanyaan & Jawaban
		.row
			.col-md-5
				.menu-faq data-aos="fade-up"
					ul.row.nav-tabs
						/ li.col-md-12.active
						/ 	a.box-faq-menu data-toggle="tab" href="#aa1"
						/ 		| Bedanya paket PREMIUM dengan paket lainnya apa ya?
						li.col-md-12
							a.box-faq-menu title="Apa itu subdomain?" data-toggle="tab" href="#aa2"
								| Apa itu subdomain?
						li.col-md-12
							a.box-faq-menu title="Bagaimana cara kerja dropship?" data-toggle="tab" href="#aa8"
								| Bagaimana cara kerja dropship?
						li.col-md-12
							a.box-faq-menu title="Bisakah web saya menggunakan domain induk/komersial?" data-toggle="tab" href="#aa3"
								| Bisakah web saya menggunakan domain induk/komersial?
						li.col-md-12
							a.box-faq-menu title="Apa itu Google Analytics? Facebook Pixel?" data-toggle="tab" href="#aa4"
								| Apa itu Google Analytics? Facebook Pixel?
						li.col-md-12
							a.box-faq-menu title="Apa itu Reseller Community Focus Group?" data-toggle="tab" href="#aa5"
								| Apa itu Reseller Community Focus Group?
						li.col-md-12
							a.box-faq-menu title="Ada contoh website yang sudah live?" data-toggle="tab" href="#aa6"
								| Ada contoh website yang sudah live?
						li.col-md-12
							a.box-faq-menu title="Apa itu landing page dan dashboard?" data-toggle="tab" href="#aa7"
								| Apa itu landing page dan dashboard?
				
			.col-md-7.mg-bot
				.box-faq.tab-content data-aos="fade-up"
					/ .content-faq.active#aa1
					/ 	h5
					/ 		| Bedanya paket PREMIUM dengan paket lainnya apa ya?
					/ 	p
					/ 		| Banyak kak, dengan paket PREMIUM, keuntungan yg didapat lebih besar dibanding yang kakak bayangkan.

					/ 	p
					/ 		| Keuntungannya, selain lebih hemat dan jangka waktu membership selama 12 bulan, Kakak juga mendapat akses khusus ke komunitas para Reseller, juga mendapatkan tutorial digital marketing gratis, domain komersial gratis, brand logo gratis, materi iklan gratis, dll.
					/ 	p
					/ 		| Sedangkan paket NON PREMIUM, tidak mendapatkan keuntungan yang disebutkan diatas.
					.content-faq.active#aa2
						h5
							| Apa itu subdomain?
						p
							| Subdomain adalah bagian dari sebuah nama domain induk. Untuk domain induk kami yaitu <span class="text-dropship"> *.dusbelanja.com</span>. Misalnya Kakak memilih subdomain dengan nama <span class="text-dropship">"beautycare"</span> maka web Kakak nantinya bisa diakses dengan alamat <span class="text-dropship">beautycare.dusbelanja.com</span>.
					.content-faq#aa8
						h5
							| Bagaimana Cara kerja dropship?
						p
							| Cara kerjanya cukup mudah, kakak hanya fokus memasarkan produk ke media online seperti instagram, facebook, tokopedia, shopee dll. untuk masalah packing dan shipping kami yang urus, dengan pengiriman atas nama toko kakak.
					.content-faq#aa3
						h5
							| Bisakah web saya menggunakan domain induk/komersial?
						p
							| Kakak bisa menentukan domain induk sendiri, misalnya <span class="text-dropship">namadomainsaya.com</span>, untuk menggunakan fitur ini, dikenakan biaya tambahan sebesar 150rb. Untuk paket PREMIUM, fitur ini gratis.
					.content-faq#aa4
						h5
							| Apa itu Google Analytics? Facebook Pixel?
						p
							| Google Analytics Adalah sebuah script code yang di embed ke dalam website Anda, guna melacak data customer Anda untuk keperluan online marketing. dan Facebook Pixel adalah sebuah kode berupa javascript yang nantinya akan diletakkan pada halaman website kita yang bertujuan untuk merekam data pengunjung yang datang, Pengunjung yang datang pun akan terekam dengan jelas di Facebook Pixel, walau pengunjung tersebut datang dari trafik organik.
					.content-faq#aa5
						h5
							| Apa itu Reseller Community Focus Group?
						p
							| Reseller Community adalah sebuah komunitas yang berisi khusus member premium, dimana para member bisa saling berbagi info, tips dan trick pemasaran yang sangat menarik.
					.content-faq#aa6
						h5
							| Apa contoh website yang sudah live?
						p
							| Ada kakak, bisa klik tombol dibawah ini untuk melihat website yang sudah live.<br><br><a href="http://beautycare.dusbelanja.com/" target="_blank" class="btn btn-dropship btn-sm">Lihat Demo</a>
					.content-faq#aa7
						h5
							| Apa itu landing page dan dashboard?
						p
							| <span class="text-dropship">Landing page</span> adalah sebuah halaman website berupa toko online yang dapat digunakan untuk reseller untuk berjualan.
						p
							| <span class="text-dropship">Dashboard</span> adalah tempat untuk mengelola produk yang dijual dan melihat setiap transaksi/keuntungan yang masuk.

section.get-registration
	.container
		h3
			b 
				| APA SAJA YANG AKAN ANDA DAPATKAN<br>
			| SETELAH DAFTAR DI DROPSHIPAN &nbsp;
			= image_tag 'official/zigzag.svg'
		.list-get
			.col-md-4.img-get
				.nomber 1
				= image_tag 'official/kleenar 5in1.jpg', title: 'Kleenar Skincare', alt: 'Kleenar Skincare', class: 'img-contact'
			.col-md-8
				h4.paket5in1 2 Paket Kleenar Skincare 5in1
				= image_tag 'official/zigzag.svg'
				br
				br
				b Paket Kleenar Skincare 5in1 ini terdiri dari :
				ol
					li Secret Night Cream 15g / Krim malam
					li Secret Daily Cream 15g / Krim pagi dan siang
					li Face Cleanser 90ml / Pembersih kulit wajah
					li Hydrating Water Essence 90ml
					li Serum Vitamin C With Aloe 15ml
				br
				| Senilai :<br>
				span.price Rp. 1.090.000,-

		.list-get
			.col-md-4.img-get
				.nomber 2
				= image_tag 'official/rodeos-get.jpg', title: 'RodeosMen Charcoal Soap', alt: 'RodeosMen Charcoal Soap', class: 'img-contact'
			.col-md-8
				h4.paket5in1 5 RodeosMen Charcoal Soap
				= image_tag 'official/zigzag.svg'
				br
				br
				p
					| Yang mampu menjaga kelembutan kulit wajah sehingga kulit wajah tampak lebih segar dan membantu menunda tanda-tanda penuaan dini pada kulit wajah (kerut/keriput) atau sebagai ANTI AGING, menjadikan kulit wajah tetap sehat dan terawat sepanjang hari. Juga membantu mengatasi masalah jerawat (ANTI ACNE).
				br
				| Senilai :<br>
				span.price Rp. 325.000,-

		.list-get
			.col-md-4.img-get
				.nomber 3
				= image_tag 'official/kit.jpg', title: 'Starter Kit', alt: 'Starter Kit', class: 'img-contact'
			.col-md-8
				h4.paket5in1 Starter Kit
				= image_tag 'official/zigzag.svg'
				br
				br
				p
					| Kami memberikan materi iklan berupa gambar, video dan deskripsi per produk yang akan diupdate secara berkala, materi iklan ini yang akan anda gunakan untuk berjualan seperti di instagram, facebook, tokopedia dan di media online lainnya.
				br
				| Senilai :<br>
				span.price Rp. 250.000,-	

		.list-get
			.col-md-4.img-get
				.nomber 4
				= image_tag 'official/WEB---LANDINGPAGE-TOKO-ONLINE.jpg', title: 'Logo DropshipanDesign Website/Toko Online/Landing Page', alt: 'Design Website/Toko Online/Landing Page', class: 'img-contact'
			.col-md-8
				h4.paket5in1 Design Website/Toko Online/Landing Page
				= image_tag 'official/zigzag.svg'
				br
				br
				p
					| Setiap dropshiper atau reseller akan mendapatkan landing page dan Toko Online untuk berjualan, landing page adalah toko online nya reseller itu sendiri, dashboard adalah tempat mengelola produk yang dijual dan melihat setiap transaksi/keuntungan yang masuk.
				br
				| Senilai :<br>
				span.price Rp. 5.000.000,-
		.list-get
			.col-md-4.img-get
				.nomber.number-1 Dan Masih Banyak Lagi

section.add-text-bottom#package
	.container
		.row
			.col-md-12.join-home data-aos="fade-up"
				center 
					h3.content-text 
						b MULAI BISNIS ANDA SEKARANG JUGA<br>
						| Harga Diatas Senilai 
						span.text-line
							| Rp 6.665.000<br><br>
						/span.text-dropship.text-promo
							b Rp 1.415.000<br>
						b HARGA PROMO<br> 
						span.text-dropship
							b Rp 1.415.000
							| &nbsp;(Selamanya)
					p.text-footer.text-free
						| Anda sudah hemat Rp 5.250.000
						br
						br
					p.text-footer
						| Harga diatas adalah harga investasi anda untuk bergabung bersama www.dropshipan.co.id, <br>sekali daftar untuk selamanya menjadi bagian dari kami.
					= link_to 'GABUNG SEKARANG!', new_user_registration_path(package_id: 1), title: 'Daftar Reseller Dropshipan', class: 'btn btn-dropship btn-signup-home'

section.link-contact
	.container
		.row
			.col-md-10
				h3
					| Jika Anda ingin menghubungi kami, Cukup klik tombol ini
			.col-md-2
				= link_to 'Hubungi Kami'.html_safe, contact_path, title: 'Kontak Kami', class: "btn btn-contact"  
section.contact-us
	.container
		.row
			.col-md-8
				.about-contact
					= image_tag 'official/logo.png', title: 'Logo Dropshipan', alt: 'Logo Dropshipan', class: 'img-contact'
					.des-footer
						h1 Dropshipan 
						| &nbsp;adalah portal online dibawah naungan Ultiface Selamet Nugraha yang mengoperasikan www.dropshipan.co.id. Nama Dropshipan sendiri terinspirasi dari “Dropship” yang memiliki makna adalah sebuah metode jual beli online di mana penjual tidak melakukan stok barang ataupun proses pengiriman. 
						br.desktop
						= link_to 'Lihat Selengkapnya', aboutus_path, title: 'Tentang Dropshipan', class: 'link-about text-dropship'
					ul.social_link
						li
							= link_to '<i class="fa fa-facebook"></i>'.html_safe, @setting_global.facebook, title: 'Facebook Dropshipan', class: "box-testimonials", target:"_blank"
						li
							= link_to '<i class="fa fa-instagram"></i>'.html_safe, "https://www.instagram.com/dropshipan.co.id/", title: 'Instagram Dropshipan', class: "box-testimonials" , target:"_blank"
						li
							= link_to '<i class="fa fa-google-plus"></i>'.html_safe, "mailto:#{@setting_global.email}", title: 'Google Plus Dropshipan', class: "box-testimonials" 

			.col-md-4
				.box-content
					.box
						i.fa.fa-home
					.box2
						p.address
							| #{@setting_global.address}
				.box-content
					.box
						i.fa.fa-envelope
					.box2
						p
							| #{@setting_global.email}
				.box-content
					.box
						i.fa.fa-phone
					.box2
						p
							| #{@setting_global.contact}

- if params[:ref].present?
	- cookies.permanent[:referral] = params[:ref]

javascript:
	var searchParams = new URLSearchParams(window.location.search);
	var ref = searchParams.get("ref");

	if (ref != null) {
		window.location.href="/home"
	}