.police
	.container
		.police-content
			h3
				|	Kebijakan Privasi
			p
				|	Adanya Kebijakan Privasi ini adalah komitmen nyata dari Dropshipan untuk menghargai dan melindungi setiap data atau informasi pribadi Pengguna situs www.dropshipan.co.id, situs-situs turunannya, serta aplikasi gawai Dropshipan (selanjutnya disebut sebagai "Situs").
				|	Kebijakan Privasi ini (beserta syarat-syarat penggunaan dari situs Dropshipan sebagaimana tercantum dalam "Syarat & Ketentuan" dan informasi lain yang tercantum di Situs) menetapkan dasar atas perolehan, pengumpulan, pengolahan, penganalisisan, penampilan, pembukaan, dan/atau segala bentuk pengelolaan yang terkait dengan data atau informasi yang Pengguna berikan kepada Dropshipan atau yang Dropshipan kumpulkan dari Pengguna, termasuk data pribadi Pengguna, baik pada saat Pengguna melakukan pendaftaran di Situs, mengakses Situs, maupun mempergunakan layanan-layanan pada Situs (selanjutnya disebut sebagai "data").
				| Dengan mengakses dan/atau mempergunakan layanan Dropshipan, Pengguna menyatakan bahwa setiap data Pengguna merupakan data yang benar dan sah, serta Pengguna memberikan persetujuan kepada Dropshipan untuk memperoleh, mengumpulkan, menyimpan, mengelola dan mempergunakan data tersebut sebagaimana tercantum dalam Kebijakan Privasi maupun Syarat dan Ketentuan Dropshipan.
			ul
				li
					|	Perolehan dan Pengumpulan Data Pengguna
				li
					|	Penggunaan Data
				li
					|	Pengungkapan Data Pribadi Pengguna
				li
					|	Cookies
				li
					|	Pilihan Pengguna dan Transparansi
				li
					|	Penyimpanan dan Penghapusan Informasi
				li
					|	Pembaruan Kebijakan Privasi

			h3
				|	Perolehan dan Pengumpulan Data Pengguna
			p
				|	Dropshipan mengumpulkan data Pengguna dengan tujuan untuk memproses transaksi Pengguna, mengelola dan memperlancar proses penggunaan Situs, serta tujuan-tujuan lainnya selama diizinkan oleh peraturan perundang-undangan yang berlaku. Adapun data Pengguna yang dikumpulkan adalah sebagai berikut:

			ol
				li
					|	Data yang diserahkan secara mandiri oleh Pengguna, termasuk namun tidak terbatas pada data yang diserahkan pada saat Pengguna:
					ul
						li
							|	Membuat atau memperbarui akun Dropshipan, termasuk diantaranya nama pengguna (username), alamat email, nomor telepon, password, alamat, foto, dan lain-lain;
						li
							|	Menghubungi Dropshipan, termasuk melalui layanan konsumen;
						li
							|	Mengisi survei yang dikirimkan oleh Dropshipan atau atas nama Dropshipan;
						li
							|	Melakukan interaksi dengan Pengguna lainnya melalui fitur pesan, diskusi produk, ulasan, rating, Pusat Resolusi dan sebagainya;
						li
							|	Mempergunakan layanan-layanan pada Situs, termasuk data transaksi yang detil, diantaranya jenis, jumlah dan/atau keterangan dari produk atau layanan yang dibeli, alamat pengiriman, kanal pembayaran yang digunakan, jumlah transaksi, tanggal dan waktu transaksi, serta detil transaksi lainnya;
						li
							|	Mengisi data-data pembayaran pada saat Pengguna melakukan aktivitas transaksi pembayaran melalui Situs, termasuk namun tidak terbatas pada data rekening bank, kartu kredit, virtual account, instant payment, internet banking, gerai ritel; dan/atau
						li
							|	Menggunakan fitur yang membutuhkan izin akses terhadap perangkat Pengguna.
				li
					|	Data yang terekam pada saat Pengguna mempergunakan Situs, termasuk namun tidak terbatas pada:
					ul
						li
							|	Data lokasi riil atau perkiraannya seperti alamat IP, lokasi Wi-Fi, geo-location, dan sebagainya;
						li
							|	Data berupa waktu dari setiap aktivitas Pengguna, termasuk aktivitas pendaftaran, login, transaksi, dan lain sebagainya;
						li
							|	Data penggunaan atau preferensi Pengguna, diantaranya interaksi Pengguna dalam menggunakan Situs, pilihan yang disimpan, serta pengaturan yang dipilih. Data tersebut diperoleh menggunakan cookies, pixel tags, dan teknologi serupa yang menciptakan dan mempertahankan pengenal unik;
						li
							|	Data perangkat, diantaranya jenis perangkat yang digunakan untuk mengakses Situs, termasuk model perangkat keras, sistem operasi dan versinya, perangkat lunak, nama file dan versinya, pilihan bahasa, pengenal perangkat unik, pengenal iklan, nomor seri, informasi gerakan perangkat, dan/atau informasi jaringan seluler;
						li
							|	Data catatan (log), diantaranya catatan pada server yang menerima data seperti alamat IP perangkat, tanggal dan waktu akses, fitur aplikasi atau laman yang dilihat, proses kerja aplikasi dan aktivitas sistem lainnya, jenis peramban, dan/atau situs atau layanan pihak ketiga yang Anda gunakan sebelum berinteraksi dengan Situs.
				li
					|	Data yang diperoleh dari sumber lain, termasuk:
					ul
						li
							|	Mitra usaha Dropshipan yang turut membantu Dropshipan dalam mengembangkan dan menyajikan layanan-layanan dalam Situs kepada Pengguna, antara lain mitra penyedia layanan pembayaran, logistik atau kurir, infrastruktur situs, dan mitra-mitra lainnya.
						li
							|	Mitra usaha Dropshipan tempat Pengguna membuat atau mengakses akun Dropshipan, seperti layanan media sosial, atau situs/aplikasi yang menggunakan API Dropshipan atau yang digunakan Dropshipan;
						li
							|	Penyedia layanan finansial (apabila Pengguna menggunakan fitur spesifik seperti Mitra Dropshiper dan Reseller);
						li
							|	Penyedia layanan pemasaran;
						li
							|	Sumber yang tersedia secara umum.
			p
				|	Dropshipan dapat menggabungkan data yang diperoleh dari sumber tersebut dengan data lain yang dimilikinya.


			h3
				|	Penggunaan Data
			p
				|	Dropshipan dapat menggunakan keseluruhan atau sebagian data yang diperoleh dan dikumpulkan dari Pengguna sebagaimana disebutkan dalam bagian sebelumnya untuk hal-hal sebagai berikut:
			ol
				li
					|	Memproses segala bentuk permintaan, aktivitas maupun transaksi yang dilakukan oleh Pengguna melalui Situs, termasuk untuk keperluan pengiriman produk kepada Pengguna.
				li
					|	Penyediaan fitur-fitur untuk memberikan, mewujudkan, memelihara dan memperbaiki produk dan layanan kami, termasuk:
					ul
						li
							|	Menawarkan, memperoleh, menyediakan, atau memfasilitasi layanan marketplace, asuransi, pembiayaan, pinjaman, maupun produk-produk lainnya melalui Situs;
						li
							|	Memungkinkan fitur untuk mempribadikan akun Dropshipan Pengguna, seperti Wishlist dan Toko Favorit; dan/atau
						li
							|	Melakukan kegiatan internal yang diperlukan untuk menyediakan layanan pada situs/aplikasi Dropshipan, seperti pemecahan masalah software, bug, permasalahan operasional, melakukan analisis data, pengujian, dan penelitian, dan untuk memantau dan menganalisis kecenderungan penggunaan dan aktivitas.
				li
					|	Membantu Pengguna pada saat berkomunikasi dengan Layanan Pelanggan Dropshipan, diantaranya untuk:
					ul
						li
							|	Memeriksa dan mengatasi permasalahan Pengguna;
						li
							|	Mengarahkan pertanyaan Pengguna kepada petugas Layanan Pelanggan yang tepat untuk mengatasi permasalahan; dan
						li
							|	Mengawasi dan memperbaiki tanggapan Layanan Pelanggan Dropshipan.
				li
					|	Menghubungi Pengguna melalui email, surat, telepon, fax, dan lain-lain, termasuk namun tidak terbatas, untuk membantu dan/atau menyelesaikan proses transaksi maupun proses penyelesaian kendala.
				li
					|	Menggunakan informasi yang diperoleh dari Pengguna untuk tujuan penelitian, analisis, pengembangan dan pengujian produk guna meningkatkan keamanan dan keamanan layanan-layanan pada Situs, serta mengembangkan fitur dan produk baru.
				li
					|	Menginformasikan kepada Pengguna terkait produk, layanan, promosi, studi, survei, berita, perkembangan terbaru, acara dan lain-lain, baik melalui Situs maupun melalui media lainnya. Dropshipan juga dapat menggunakan informasi tersebut untuk mempromosikan dan memproses kontes dan undian, memberikan hadiah, serta menyajikan iklan dan konten yang relevan tentang layanan Dropshipan dan mitra usahanya.
				li
					|	Melakukan monitoring ataupun investigasi terhadap transaksi-transaksi mencurigakan atau transaksi yang terindikasi mengandung unsur kecurangan atau pelanggaran terhadap Syarat dan Ketentuan atau ketentuan hukum yang berlaku, serta melakukan tindakan-tindakan yang diperlukan sebagai tindak lanjut dari hasil monitoring atau investigasi transaksi tersebut.
				li
					|	Dalam keadaan tertentu, Dropshipan mungkin perlu untuk menggunakan ataupun mengungkapkan data Pengguna untuk tujuan penegakan hukum atau untuk pemenuhan persyaratan hukum dan peraturan yang berlaku, termasuk dalam hal terjadinya sengketa atau proses hukum antara Pengguna dan Dropshipan.


			h3
				|	Pengungkapan Data Pribadi Pengguna
			p
				|	Dropshipan menjamin tidak ada penjualan, pengalihan, distribusi atau meminjamkan data pribadi Anda kepada pihak ketiga lain, tanpa terdapat izin dari Anda, kecuali dalam hal-hal sebagai berikut:
			ol
				li
					|	Dibutuhkan adanya pengungkapan data Pengguna kepada mitra atau pihak ketiga lain yang membantu Dropshipan dalam menyajikan layanan pada Situs dan memproses segala bentuk aktivitas Pengguna dalam Situs, termasuk memproses transaksi, verifikasi pembayaran, pengiriman produk, dan lain-lain.
				li
					|	Dropshipan dapat menyediakan informasi yang relevan kepada mitra usaha sesuai dengan persetujuan Pengguna untuk menggunakan layanan mitra usaha, termasuk diantaranya aplikasi atau situs lain yang telah saling mengintegrasikan API atau layanannya, atau mitra usaha yang mana Dropshipan telah bekerjasama untuk mengantarkan promosi, kontes, atau layanan yang dikhususkan
				li
					|	Dibutuhkan adanya komunikasi antara mitra usaha Dropshipan (seperti penyedia logistik, pembayaran, dan lain-lain) dengan Pengguna dalam hal penyelesaian kendala maupun hal-hal lainnya.
				li
					|	Dropshipan dapat menyediakan informasi yang relevan kepada vendor, konsultan, mitra pemasaran, firma riset, atau penyedia layanan sejenis.
				li
					|	Pengguna menghubungi Dropshipan melalui media publik seperti blog, media sosial, dan fitur tertentu pada Situs, komunikasi antara Pengguna dan Dropshipan mungkin dapat dilihat secara publik.
				li
					|	Dropshipan dapat membagikan informasi Pengguna kepada anak perusahaan dan afiliasinya untuk membantu memberikan layanan atau melakukan pengolahan data untuk dan atas nama Dropshipan.
				li
					|	Dropshipan mengungkapkan data Pengguna dalam upaya mematuhi kewajiban hukum dan/atau adanya permintaan yang sah dari aparat penegak hukum.


			h3
				|	Cookies
			ol
				li
					|	Cookies adalah file kecil yang secara otomatis akan mengambil tempat di dalam perangkat Pengguna yang menjalankan fungsi dalam menyimpan preferensi maupun konfigurasi Pengguna selama mengunjungi suatu situs.
				li
					|	Cookies tersebut tidak diperuntukkan untuk digunakan pada saat melakukan akses data lain yang Pengguna miliki di perangkat komputer Pengguna, selain dari yang telah Pengguna setujui untuk disampaikan.
				li
					|	Walaupun secara otomatis perangkat komputer Pengguna akan menerima cookies, Pengguna dapat menentukan pilihan untuk melakukan modifikasi melalui pengaturan browser Pengguna yaitu dengan memilih untuk menolak cookies (pilihan ini dapat membatasi layanan optimal pada saat melakukan akses ke Situs).
				li
					|	Dropshipan menggunakan fitur Google Analytics Demographics and Interest. Data yang kami peroleh dari fitur tersebut, seperti umur, jenis kelamin, minat Pengguna dan lain-lain, akan kami gunakan untuk pengembangan Situs dan konten Dropshipan. Jika tidak ingin data Anda terlacak oleh Google Analytics, Anda dapat menggunakan Add-On Google Analytics Opt-Out Browser.
				li
					|	Dropshipan dapat menggunakan fitur-fitur yang disediakan oleh pihak ketiga dalam rangka meningkatkan layanan dan konten Dropshipan, termasuk diantaranya ialah penyesuaian dan penyajian iklan kepada setiap Pengguna berdasarkan minat atau riwayat kunjungan. Jika Anda tidak ingin iklan ditampilkan berdasarkan penyesuaian tersebut, maka Anda dapat mengaturnya melalui browser.


			h3
				|	Pilihan Pengguna dan Transparansi
			ol
				li
					|	Perangkat seluler pada umumnya (iOS, Android, dan sebagainya) memiliki pengaturan sehingga aplikasi Dropshipan tidak dapat mengakses data tertentu tanpa persetujuan dari Pengguna. Perangkat iOS akan memberikan pemberitahuan kepada Pengguna saat aplikasi Dropshipan pertama kali meminta akses terhadap data tersebut, sedangkan perangkat Android akan memberikan pemberitahuan kepada Pengguna saat aplikasi Dropshipan pertama kali dimuat. Dengan menggunakan aplikasi dan memberikan akses terhadap aplikasi, Pengguna dianggap memberikan persetujuannya terhadap Kebijakan Privasi.
				li
					|	Setelah transaksi jual beli melalui marketplace berhasil, Penjual maupun Pembeli memiliki kesempatan untuk memberikan penilaian dan ulasan terhadap satu sama lain. Informasi ini mungkin dapat dilihat secara publik dengan persetujuan Pengguna.
				li
					|	Pengguna dapat mengakses dan mengubah informasi berupa alamat email, nomor telepon, tanggal lahir, jenis kelamin, daftar alamat, metode pembayaran, dan rekening bank melalui fitur Pengaturan pada Situs.
				li
					|	Pengguna dapat menarik diri dari informasi atau notifikasi berupa buletin, ulasan, diskusi produk, pesan pribadi, atau pesan pribadi dari Admin yang dikirimkan oleh Dropshipan melalui fitur Pengaturan pada Situs. Dropshipan tetap dapat mengirimkan pesan atau email berupa keterangan transaksi atau informasi terkait akun Pengguna.
				li
					|	Sejauh diizinkan oleh ketentuan yang berlaku, Pengguna dapat menghubungi Dropshipan untuk melakukan penarikan persetujuan terhadap perolehan, pengumpulan, penyimpanan, pengelolaan dan penggunaan data Pengguna. Apabila terjadi demikian maka Pengguna memahami konsekuensi bahwa Pengguna tidak dapat menggunakan layanan Situs maupun layanan Dropshipan lainnya.


			h3
				|	Penyimpanan dan Penghapusan Informasi
			p
				|	Dropshipan akan menyimpan informasi selama akun Pengguna tetap aktif dan dapat melakukan penghapusan sesuai dengan ketentuan peraturan hukum yang berlaku.


			h3
				|	Pembaruan Kebijakan Privasi
			p
				|	Dropshipan dapat sewaktu-waktu melakukan perubahan atau pembaruan terhadap Kebijakan Privasi ini. Dropshipan menyarankan agar Pengguna membaca secara seksama dan memeriksa halaman Kebijakan Privasi ini dari waktu ke waktu untuk mengetahui perubahan apapun. Dengan tetap mengakses dan menggunakan layanan Situs maupun layanan Dropshipan lainnya, maka Pengguna dianggap menyetujui perubahan-perubahan dalam Kebijakan Privasi.