= f.fields_for :product_testimonials do |p|
  = render 'product_testimonial_fields', f: p

.col-xs-12
  = link_to_add_association f, :product_testimonials, partial: 'product_testimonial_fields', class: "btn btn-success btn-sm" do
    i class="fa fa-picture-o"
    span Tambah Testimoni
