= f.fields_for :product_stocks do |p|
  = render 'product_stock_fields', f: p

.col-xs-12
  = link_to_add_association f, :product_stocks, partial: 'product_stock_fields', class: "btn btn-success btn-sm" do
    i class="fa fa-picture-o"
    span Tambah Varian Stok
