.top-member-menu
  ul
    li
      = link_to 'Data Produk', merchants_products_path, class: "#{active_sidebar_active?(:products, :index)}"
    li
      = link_to '<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Tambah Produk'.html_safe, new_merchants_product_path , class: "#{active_sidebar_active?(:products, :new)}"