.col-xs-12
  = render 'search_product'
.col-xs-12
  .panel
    .panel-body
      - if @collection.blank?
        .alert.alert-danger Data produk masih kosong!
      - else
        .table-responsive
          table class="table table-striped table-bordered table-hover"
            thead
              tr
                th Kode
                th Image
                th Judul
                th Stok
                th Harga Distributor
                th Harga Reseller
                th Rekomendasi Harga Jual
                th Merek
                th Kategori
                th Sub Kategori
                th Status
                th Terjual
                th Terakhir diubah
                th Action
            tbody
              - @collection.each_with_index do |resource, index|
                tr
                  td.uppercase = resource.code
                  td
                    center
                      = image_tag resource.cover.url(:thumb), style: 'width:64px;'
                  td
                    = link_to resource.title, edit_merchants_product_path(resource)
                    = resource.featured?
                  td
                    small 
                      = resource.only_status_stock?
                      - if resource.ready_stock?
                        br
                        = resource.product_spec.stock
                  td 
                    = get_currency(resource.basic_price) if resource.basic_price.present?
                  td 
                    = get_currency(resource.price) if resource.price.present?
                  td 
                    = get_currency(resource.recommended_price) if resource.recommended_price.present?
                  td = resource.try(:brand_name)
                  td = resource.try(:parent_category).try(:name)
                  td = resource.try(:sub_category).try(:name)
                  td
                    = resource.active?
                  td
                    b
                      = resource.order_items.not_refund_and_cancelled.pluck(:quantity).sum
                  td = resource.updated_at.strftime("%b, %d, %Y") if resource.updated_at.present?
                  td
                    = render partial: 'backend/shareds/prepare_action',
                      locals: { resource: resource, confirmation: "Are you sure delete this #{resource.id}", no_show: false }
        = paginate @collection, remote: true