.col-md-6.nested-fields
  .section-pic
    .row
      .col-md-7
        .form-group
          h6 Isi Warna/Ukuran
          = f.text_field :variant, class: 'form-control', required: true
      .col-md-4
        .form-group
          h6 Stok
          = f.number_field :stock, class: 'form-control', required: true
      .col-md-1
        .form-group
          = link_to_remove_association "<i class='fa fa-times'></i>".html_safe, f, class: 'btn btn-danger btn-xs pull-right'
