.row
  .col-md-6
    .form-group
      h6 Komposisi
      = product_spec.text_field :material, class: 'form-control', placeholder: 'Komposisi atau bahan yang digunakan'
  .col-md-6
    .form-group
      h6 Berat (satuan Gr)
      = f.number_field :weight, class: 'form-control', placeholder: 'Masukan berat satuan gram', step: 'any', required: true
  .col-md-12
    .form-group
      h6 Informasi Singkat
      = product_spec.text_area :information, class: 'form-control', placeholder: 'Informasi singkat produk'
.break

.row
  .col-md-12
    h3 Status Produk
    hr
  - StatusStock.to_a.each do |s|
    .col-md-4
      .well
        center
          p = s[0]
          p = f.radio_button :status_stock, s[1], required: true, class: "status-stock-select"
  / .col-md-12
  /   h6 Stok (Kosongkan Jika Produk di Set Preorder/Selalu Tersedia)
  /   = product_spec.number_field :stock, class: 'form-control', placeholder: 'ex. 1 Kg', step: 'any', placeholder: 'ex : 1, 2 ... 100', required: true
.break
