#wrapper.use
  .content.animate-panel
    .hpanel
      .row
        .col-md-6.col-xs-12
          .title-member-content
            b Ubah Produk
        .col-md-6.col-xs-12
          = render 'menu_product'
        .col-md-12  
          = render partial: 'merchants/shareds/prepare_form',
                      locals: { form_name: 'Product', action_name: 'Edit', form_method: 'put'}