<table border="1">
	<caption>Daftar Produk <%= show_search_form_date(params[:start_at], params[:end_at]) %></caption>
	<tr>
		<th>Kode Produk</th>
		<th>Nama Barang</th>
		<th>Komposisi</th>
		<th>Berat</th>
		<th>merchant</th>
		<th>Stok</th>
		<th>Harga Distributor</th>
		<th>Harga Reseller</th>
		<th>Rekomendasi Harga Jual</th>
		<th>Merek</th>
		<th>Kategori</th>
		<th>Sub Kategori</th>
		<th>Status</th>
		<th>Terjual</th>
		<th>Terakhir diubah</th>
	</tr>
	<% @collection_all.each_with_index do |resource, index| %>
	<tr>
		<td><%= "#{resource.code}" %></td>
		<td><%= "#{resource.title}" %></td>
		<td><%= "#{resource.product_spec.material}" %></td>
		<td><%= "#{resource.weight} Gram" %></td>
		<td><%= "#{resource.try(:merchant).try(:merchant_info).try(:title)}" %></td>
		<td>
			<%= resource.only_status_stock? %>
			<% if resource.ready_stock? %>
				<br>
				<%= resource.product_spec.stock %>
			<% end %>
		</td>
		<td><%= "#{get_currency(resource.basic_price) if resource.basic_price.present?}" %></td>
		<td><%= "#{get_currency(resource.basic_price) if resource.basic_price.present?}" %></td>
		<td><%= "#{get_currency(resource.price) if resource.price.present?}" %></td>
		<td><%= "#{resource.try(:brand_name)}" %></td>
		<td><%= "#{resource.try(:parent_category).try(:name)}" %></td>
		<td><%= "#{resource.try(:sub_category).try(:name)}" %></td>
		<td><%= resource.active? %></td>
		<td><%= resource.order_items.not_refund_and_cancelled.pluck(:quantity).sum %></td>
		<td><%= resource.updated_at.strftime("%b, %d, %Y") if resource.updated_at.present? %></td>
	</tr>
	<% end %>
</table>