#wrapper.use
  .content.animate-panel
    .hpanel
      .row
        .col-md-6.col-xs-12
          .title-member-content
            b Data Produk
        .col-md-6.col-xs-12
          = render 'menu_product'
        .js-partial_js
          = render 'partial_js'
        