#wrapper.use
  .content.animate-panel
    .hpanel
      .row
        .col-md-6.col-xs-12
          .title-member-content
            b Tambah Produk
        .col-md-6.col-xs-12
          = render 'menu_product'
        .col-xs-12
          = render partial: 'merchants/shareds/prepare_form',
                      locals: { form_name: 'Product', action_name: 'New', form_method: 'post'}