section.thanks
	.mg-auto
		= link_to home_path do
			= image_tag 'logo.png', class: "img-logo"
	.box.col-md-8
		.in-column
			i.fa.fa-check-circle
			= image_tag 'email.png', class: "img-email-register"
			.title Terimakasih telah mendaftar menjadi dropshiper di DROPSHIPAN INDONESIA
			.confirm Silahkan Konfirmasi Email Anda
			p Anda akan menerima e-mail dari hi@dropshipan.com. E-mail ini akan berisi tautan yang harus anda klik untuk mengonfirmasi bahwa anda lah yang mempunyai email yang di daftarkan, Jika Anda tidak terima e-mail ini, silakan periksa folder Junk / Spam Anda.
			.col-md-4
				.descript
					.number 1
					b KONFIRMASI EMAIL
					span 
						| Kami mengirimkan email konfirmasi ke 
						= link_to "#{@member.email}", "mailto:#{@member.email}", target: "_blank"
			.col-md-4
				.descript
					.number 2
					b PEMBAYARAN PAKET
					span Lakukan pembayaran sebesar <strong>#{get_currency(@member.invoices.last.price)}</strong> <br>ke Rekening 
					= image_tag @payment.logo, class: "img-bank"
					br
					br
					.pay Atas Nama : #{@payment.name} <br> No. Rekening : #{@payment.account_number}
			.col-md-4
				.descript
					.number 3
					b KONFIRMASI PEMBAYARAN
					span Balas email dari kami dan sisipkan di email tersebut bukti pembayarannya atau bisa menghubungi CS kami lewat no. whatsapp di email tagihan yang diterima.
			.col-xs-12
				= link_to 'Kembali ke halaman utama', home_path, class: "btn btn-dropship"