- order = Order.find_by(code: params[:invoice])

- if params[:controller] == 'members/confirmations'
	- link_confirmation = members_confirmations_path
- else
	- link_confirmation = confirmation_invoices_path

section
	.container.no-container
		h2.text-center.title-top-confirmation
			| Konfirmasi Pembayaran
		.break
		.break
		.row
			.col-md-6
				.break
				p.p-confirmation
					| Jika anda sudah melakukan pembayaran melalui salah satu bank kami, silahkan melakukan konfirmasi pembayaran melalui form di samping kanan ini. Proses konfirmasi pembayaran akan mempercepat pengaktifan pemesanan anda.
				.break

				p.p-confirmation
					b Dibawah ini adalah informasi rekening bank yang kami miliki :

				- @setting_global.payments.each do |p|
					.panel.panel-default
						.panel-body
							= image_tag p.logo.url, class: 'bank-logo'
							| &nbsp; #{p.bank_name} &nbsp; An. #{p.name} &nbsp; #{p.account_number}

				p.p-confirmation Informasi Jadwal Offline Internet Banking :
				.break

				div
					| <b>BCA</b> <br>Senin-Jumat = 21:30 s.d 00:30 <br>Sabtu-Minggu = 18:00 s.d 20:00
				.break
				.break

				div
					| <b>Mandiri</b> <br>Senin-Minggu = 23:00 s.d 03:00
				.break
				.break

				div
					| <b>BNI</b> <br>Senin-Minggu = 23:00 s.d 03:00
				.break
				.break

				div
					| <b>BRI</b> <br>Senin-Minggu = 23:00 s.d 03:00
				.break
				.break

				p
					| <b>Catatan :</b>
				p Untuk transaksi pada saat error mutasi atau jam offline Internet Banking, silahkan hubungi CS kami atau segera lakukan konfirmasi pembayaran dengan menyertakan atau mengupload screenshot/bukti pembayaran untuk dapat kami proses.

			.col-md-6
				= form_for @confirmation, url: link_confirmation, method: 'post' do |f|
					h4.mg-up align='center' Form Konfirmasi Pembayaran
					hr
					.break
					.row
						.col-md-12
							label No. Invoice :
							.form-group
								= f.text_field :no_invoice, value: "#{order.code rescue ''}", class: 'form-control', required: true, placeholder: 'ex. 96B0BA030EA0'
						.col-md-6
							label Nama Pemesan :
							.form-group
								= f.text_field :name, value: "#{order.payer_name rescue ''}", class: 'form-control', required: true, placeholder: 'ex. Jhon doe'
						.col-md-6
							label Email :
							.form-group
								= f.email_field :email, value: "#{order.payer_email rescue ''}", class: 'form-control', required: true, placeholder: 'ex. jhon@example.com'
						.col-md-6
							label Tanggal Pembayaran :
							.form-group
								= f.text_field :payment_date, value: "#{order.created_at.to_date rescue ''}",  class: 'form-control datepicker', required: true, placeholder: 'ex. tahun/bln/tgl'
						.col-md-6
							label Total Pembayaran :
							.form-group
								= f.text_field :nominal, value: "#{order.total_price.to_i rescue ''}", class: 'form-control', required: true, placeholder: 'ex. 300000', data: {autonumeric: true}
						.col-md-6
							label Bank Yang Dipilih :
							.form-group
								= f.select :bank_account, @setting_global.payments.map{|p| "#{p.bank_name} An. #{p.name} #{p.account_number}"}, {prompt: 'Pilih Pembayaran Bank'}, {class: 'form-control', required: true}
						.col-md-6
							label Metode Pembayaran :
							.form-group
								= f.select :payment_method, ['Internet Banking', 'SMS Banking','ATM Transfer','Setoran Tunai'], {prompt: 'Metode Pembayaran'}, {class: 'form-control', required: true}
						.col-md-6
							label Nama Pengirim :
							.form-group
								= f.text_field :sender_name, class: 'form-control', required: true, placeholder: 'ex. Tn.Alif'
						.col-md-6
							label Pembayaran Melalui Bank :
							.form-group
								= f.text_field :from_bank_name, class: 'form-control', required: true, placeholder: 'ex. BCA/Mandiri/BNI'
						.col-md-12
							label Nomor Rekening Pengirim :
							.form-group
								= f.text_field :from_account_number, class: 'form-control', required: true, placeholder: 'ex. 2423423423'
						.col-md-12
							label Pesan :
							.form-group
								= f.text_area :message, class: 'form-control', required: true, placeholder: 'Pesan Untuk Admin'
						.col-md-12
							label Upload Bukti Pembayaran :
							.form-group
								= f.file_field :file, required: true
							.form-group
								= f.submit 'KIRIM', class: 'btn btn-success'



