.row
  .col-md-4
    .form-group
      = label_tag "Member"
      = f.select :member_id, options_for_select(get_members.map{|p| [p.username, p.id]}, resource.member_id), {prompt: 'Select Member'}, class: 'form-control select2','data-node' => "member", required: true
  .col-md-3
    .form-group
      = f.label :payment_start
      = f.text_field :payment_start, placeholder: "Enter payment start", class: 'form-control datepicker', required: true
  .col-md-3
    .form-group
      = f.label :payment_end
      = f.text_field :payment_end, placeholder: "Enter payment end", class: 'form-control datepicker', required: true
  .col-md-2
    .form-group
      = label_tag "Total"
      br
      = link_to "Hitung Payment", "#",class: 'btn btn-success btn-block payment_date_selected'
  .balance-container
    .col-md-12
      .panel.panel-default
        .panel-body
          p
            | Komisi Referral &nbsp;
            b = get_currency_full(resource.commission_referral)
          - if resource.quote.present?
            p
              = resource.quote
    .col-md-6
      .form-group
        = label_tag :from_acc
        = f.text_field :from_acc, placeholder: "Masukkan Rekening Pengirim",class: 'form-control', required: true
    .col-md-6
      .form-group
        = label_tag :to_acc
        = f.text_field :to_acc, placeholder: "Masukkan Rekening Penerima", class: 'form-control', required: true
    .col-md-12
      .form-group
        = label_tag :message
        = f.text_area :message, placeholder: "Masukkan Pesan", class: 'form-control'
  .col-md-12
    .form-group
      = label_tag :status
      = f.select :status, options_for_select(PaymentReferral::STATUSES, resource.try(:status)), {prompt: 'Pilih Status'}, class: 'form-control', required: true

javascript:
  $(document).on('click', '.payment_date_selected', function() {
    $member_id = document.getElementById("payment_referral_member_id").value;
    $payment_start = document.getElementById("payment_referral_payment_start").value;
    $payment_end = document.getElementById("payment_referral_payment_end").value;
    $node = $member_id+"+"+$payment_start+"+"+$payment_end;
    if($member_id != '' && $member_id != 'undefined' && $payment_start != '' && $payment_start != 'undefined' && $payment_end != '' && $payment_end != 'undefined'){
      alert("Penghitungan payment berhasil.");
      $.get('/xhrs/get_payment_referral?id='+$(this).val()+'&node='+$node, function(result){
        $('.balance-container').html(result);
      })
    }else{
      alert("Penghitungan gagal. kolom user/payment start/payment end belum diisi.");
    }
  });