section.invoice
	.row
		.col-md-12
			h4.page-header
				i.fa.fa-globe &nbsp;
				= resource.code
				small.date-invoice.pull-right #{get_datetime(resource.created_at)}
	.row.invoice-info
		.col-md-6.col-sm-6.invoice-col
			| Transfer Dari
			address
				b= resource.from_acc
		.col-md-6.col-sm-6.invoice-col
			| Ke
			address
				b= resource.to_acc
	.row
		.col-xs-12
			.table-responsive
				table.table.table-striped.table-bordered
					thead
						tr
							th Username
							th Periode
							th Komisi Referral
							th Status
							th Status Payment
					tbody
						tr
							td 
								= "(#{resource.member_id}) #{resource.member.username}"
							td
								- if resource.payment_start.present? 
									= resource.payment_period?
								- else
									| -
							td
								= get_currency(resource.commission_referral)
							td
								= resource.status?
							td
								= resource.status_payment?
			- if resource.message.present?
				h6
					b Pesan :
					| &nbsp;
					| #{resource.message}
			- if resource.quote.present?
				h6
					b Keterangan :
					| &nbsp;
					| #{resource.quote}