.panel.panel-default.panel-custom
	.panel-heading
		h4 
			b LOGIN
	.panel-body
		= flash_messages
		= devise_error_messages!
		= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
			.form-group
				.controls
					.col-sm-12.col-md-12.col-lg-12.col-xs-12.input-group
						span.input-group-addon
							span.glyphicon.glyphicon-user aria-hidden="true"
						= f.text_field :login, class: "form-control", placeholder: "Username atau Email", required: true
			.form-group
				.pull-right
					= link_to 'Lupa Kata Sandi', new_password_path(resource_name)
				.controls
					.col-sm-12.col-md-12.col-lg-12.col-xs-12.input-group
						span.input-group-addon
							span.glyphicon.glyphicon-lock aria-hidden="true"
						= f.password_field :password, class: "form-control password", placeholder: "Kata Sandi", required: true
			.row
				.col-md-12
					.form-group
						.controls
							= f.submit 'Masuk',  class: "btn btn-primary btn-block"
						br
						.pull-left.desc-login
							| Belum Terdaftar? #{link_to 'Daftar', new_user_registration_path}
							br
							| Tidak menerima konfirmasi email? #{link_to "Minta konfirmasi baru", new_user_confirmation_path}
