.panel.responsive-about-am
  .panel-body
    .row
      .user-bg
        .user-content
          = image_tag @manager.profile.avatar, class: "thumb-lg img-circle" if @manager.present? && @manager.profile.present?
          h5.text-white.text-uppercase
            = @manager.username  rescue '--'
          h6.text-white 
            = @manager.email rescue '--'
        .overlay-box
      
      .col-md-12
        .address
          | Username :
          br
          b
            = @manager.username rescue '--'
          br
          br
          | Email :
          br
          b
            = @manager.email rescue '--'
          br
          br
          | Nama Lengkap :
          br
          b
            = @manager.profile.full_name rescue '--'
          br
          br
          | HP :
          br
          b
            = @manager.profile.phone rescue '--'