#wrapper
	.content.animate-panel.edit-profile-member
		.title-member-content.mg-bot10
			b Kirim Pesan Ke Manager
		.panel.panel-default
			.panel-body
				.content-chat
					.row
						.col-md-4.desktop
							= render 'members/managers/manager'
						.col-md-8
							.row-mobile
								= render 'members/managers/chat'