= render 'members/orders/progress'
.panel.panel-default
  .panel-heading
    h4.text-center.uppercase
      | Invoice <strong>#{link_to @order.code, backend_order_path(@order)}</strong>
    center.small
      | <b>Tanggal Transaksi : </b> 
      = @order.try(:purchased_at).strftime("%B, %d, %Y") if @order.purchased_at
      br
      | <b>Masa Terakhir Dibayar : </b> 
      = (@order.try(:purchased_at)+ 3.days).strftime("%B, %d, %Y") if @order.purchased_at
  .panel-body
    .break
    .shopping-cart
      .row
        .col-xs-12
          .catalog-item-show
            .table-responsive.table-order-list
              table class="table table-striped"
                thead
                  tr
                    td width="35%"
                      | <strong>Merchant <a href="#">#{resource.try(:merchant).try(:username).try(:titleize)}</a></strong>
                      span , #{@order.member.profile.phone}
                    td class="text-center"
                      | <strong>Jumlah</strong>
                    td class="text-center"
                      | <strong>Berat</strong>
                    td class="text-right"
                      | <strong>Harga Merchant</strong>
                    td class="text-right"
                      | <strong>Harga Reseller</strong>
                    td class="text-right"
                      | <strong>Harga Jual</strong>
                tbody
                  - resource.order_items.each do |order_item| 
                    tr
                      td
                        .avatar-author
                          = image_tag order_item.try(:product).try(:galleries).try(:first).try(:file).url(:medium)
                        small.uppercase
                          b
                            = order_item.product.code
                          br
                        = link_to "#{order_item.product.title}", product_path(order_item.product.slug+'-'+order_item.catalog.id.to_s), class: 'title-product'
                        div
                          = order_item.variant
                        div
                          small
                            = order_item.message
                        = "#{order_item.status?} &nbsp; #{order_item.cancelled_reason?}".html_safe
                      td.text-center
                        span
                          = order_item.quantity
                      td.text-center
                        | #{order_item.weight} gr
                      td.text-right
                        span
                          = get_currency(order_item.basic_price)
                      td.text-right
                        span
                          = get_currency(order_item.company_price)
                      td.text-right
                        span
                          = get_currency(order_item.price)
                  tr
                    td class="highrow"
                    td class="highrow text-center"
                      b TOTAL
                    td class="highrow text-center"
                      | <h5>#{resource.total_weight?} gr</h5>
                    td class="highrow text-right"
                      | <h5>#{get_currency(resource.total_basic_price)}</h5>
                    td class="highrow text-right"
                      | <h5>#{get_currency(resource.total_company_price)}</h5>
                    td class="highrow text-right"
                      | <h5>#{get_currency(resource.total_price)}</h5>
                      
            h4 Transaksi
            .table-responsive.table-order-list
              table class="table table-striped"
                thead
                  tr
                    td class="text-center" width="20%"
                      | <strong>Transaksi</strong>
                    td class="text-center" width="20%"
                      | <strong>Pembeli</strong>
                    td class="text-center"
                      | <strong>Pembayaran Ke</strong>
                    td class="text-center"
                      | <strong>Status Pembayaran</strong>
                tbody
                  tr
                    td.text-center
                      span
                        = @order.try(:purchased_at).strftime("%B, %d, %Y") if @order.purchased_at
                    td.text-center
                      span
                        = "#{@order.try(:payer_name)} (#{link_to @order.try(:payer_email), "mailto:#{@order.try(:payer_email)}" })".html_safe
                    td.text-center
                      span
                        = @order.try(:payment_to)
                    td.text-center
                      = @order.status?

            - if @order.cod?
              h4 Pengambilan Barang
              .table-responsive.table-order-list
                table class="table table-striped"
                  thead
                    tr
                      td COD/Ambil stockis dikantor Merchant 
                  tbody
                    tr
                      td
                        = "#{@order.courier?} #{@order.address_merchant?}".html_safe
            - else
              h4 Pengiriman
              .table-responsive.table-order-list
                table class="table table-striped"
                  thead
                    tr
                      td class="text-center" width="15%"
                        | <strong>Penerima</strong>
                      td class="text-center" width="20%"
                        | <strong>Metode Pengiriman</strong>
                      td class="text-center" width="10%"
                        | <strong>Phone</strong>
                      td class="text-center"
                        | <strong>Alamat Pengiriman</strong>
                      td class="text-center"
                        | <strong>Status Pengiriman</strong>
                      - if @order.number_shipping.present?
                        td class="text-center"
                          | <strong>Nomor Resi</strong>
                  tbody
                    tr
                      td.text-center
                        span
                          = @order.try(:payer_name)
                      td.text-center
                        span
                          = @order.try(:shipping_method).try(:upcase)
                      td.text-center
                        span
                          = @order.try(:payer_phone)
                      td.text-center
                        span
                          = @order.try(:payer_address)
                      td.text-center
                        span
                          = @order.status_order?
                      - if @order.number_shipping.present?
                        td.text-center
                          span
                            = @order.number_shipping
                            