.col-md-12
  = render 'backend/shareds/search_form_stakeholder_order'
  = form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do 
    ul.today-data
      .row
        .col-md-4
          .title-box-dashboard
            i.fa.fa-money aria-hidden="true"
            Total Distributor
          li
            div
              span id="todayspark5" class="spark"
                i.fa.fa-money aria-hidden="true" 
            div class="datas-text" 
              = get_currency(@reports_collect.without_in_progress.pluck(:basic_price).sum)
            .total
              small
                | Pesanan
                br
                = @reports_collect.without_in_progress.size
        .col-md-4
          .title-box-dashboard
            i.fa.fa-money aria-hidden="true"
            Total Perusahaan
          li
            div
              span id="todayspark5" class="spark"
                i.fa.fa-money aria-hidden="true" 
            div class="datas-text" 
              = get_currency(@reports_collect.without_in_progress.pluck(:company_price).sum)
            .total
              small
                | Pesanan
                br
                = @reports_collect.without_in_progress.size
        .col-md-4
          .title-box-dashboard
            i.fa.fa-money aria-hidden="true"
            Total Penjualan Resellers
          li
            div
              span id="todayspark5" class="spark"
                i.fa.fa-money aria-hidden="true" 
            div class="datas-text" 
              = get_currency(@reports_collect.without_in_progress.pluck(:price).sum)
            .total
              small
                | Pesanan
                br
                = @reports_collect.without_in_progress.size
        = render 'backend/orders/box_status'
    .widget.mg-top0
      = render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Orders', button_name: 'Orders', add_method: false} 
      .widget-content
        .table-responsive
          table class="table table-striped table-bordered table-hover"
            thead
              tr
                th width="1%" #
                th width="10%" Kode Invoice
                th Kode Order
                th Merchant
                th Reseller
                th Manager
                th Pembayaran
                th Pengiriman
                th Konfirmasi
                th Order Item
                th Total Distributor
                th Total Perusahaan
                th Total Reseller
                th Transaksi
            tbody
              - if @collection.blank?
                tr
                  td colspan="14" 
                    = render "shareds/empty_blank"
              - else
                - @collection.each_with_index do |resource, index| 
                  tr 
                    td = check_box_tag "ids[]", resource.id 
                    td
                      = link_to "#{resource.no_invoice}", resource_path(resource)
                    td
                      = resource.order.code
                    td
                      = resource.merchant.username
                    td
                      = resource.member.username
                    td
                      = resource.try(:account_manager).try(:username)
                    td
                      = resource.payment_status?
                    td
                      = resource.status?
                    td
                      = resource.confirmation?
                    td
                      b
                        = resource.order_items.count
                    td
                      b
                        = get_currency(resource.total_basic_price)
                    td
                      b
                        = get_currency(resource.total_company_price)
                    td
                      b
                        = get_currency(resource.total_price)
                    td
                      small
                        = get_datetime(resource.created_at)
        .widget-foot
          .pull-right
            = paginate @collection, remote: true if @collection.present?
          .clearfix
