#wrapper
  .content.content-setting.animate-panel
    .hpanel
      .row
        .col-md-6
          .title-member-content
            b  Pengaturan Tampilan Web
        .col-md-6
          .top-member-menu
            ul
              li
                = link_to '<i class="fa fa-eye"></i> Preview'.html_safe,"http://#{@member.domain? rescue ''}", class: "#{active_sidebar_active?(:request_landing_presses, :index)}", target: '_blank'
      .title-tab-edit
        i.pe-7s-monitor
        | &nbsp; Pilih Tampilan Website
      .panel-body
        .row
          = form_for @member, url: members_update_change_theme_path(@member), method: 'put' do |f|
            = f.fields_for :site_info do |site_info|
              = f.fields_for :web_setting do |web_setting|
                / - if @member.member? && @member.package.premium_or_advance? == true
                - if get_web_templates.present?
                  br
                  - get_web_templates.each do |resource|
                    - if site_info.object.web_template_id == resource.id
                      - selected = 'opacity checked'
                    - else
                      - selected = ''
                    .col-md-3
                      .box-template-web.template-web class="#{selected}"
                        label.lbswatches.line-image.request-template
                          i.fa.fa-check.text-green
                          .scroll style="background-image: url(#{resource.image.url});"
                          h5 #{resource.name}
                          = site_info.radio_button :web_template_id, resource.id
            .col-md-12
              .buttons
                button class="btn btn-gb pull-right" type="submit" id="profilebutton" SIMPAN
