.col-md-8
	- if @collection.blank?
		= render "shareds/empty_blank"
	- else
		- @collection.each_with_index do |resource, index|
			ul.timeline
				li.timeline-inverted
					.timeline-badge
						i.pe-7s-note2
					.timeline-panel
						.timeline-heading
							.row
								.col-md-8
									h4
										b
											i.fa.fa-globe &nbsp;
											= resource.code 
								.col-md-4
									h6.uppercase.tright
										= get_datetime(resource.created_at)
						.timeline-body
							.row
								.content-timeline
									.col-md-6.col-sm-6
										h5
											| Transfer Dari
										h5 
											b
												= resource.from_acc
									.col-md-6.col-sm-6
										h5
											| Ke
										h5 
											b 
												= resource.to_acc
								.col-xs-12
									.table-responsive
										table.table
											thead
												tr
													th Periode
													th Penjualan
													th Ongkir
													th Total
													th Status
											tbody
												tr
													td
														- if resource.payment_start.present? 
															= resource.payment_period?
															
														- else
															| -
													td
														= get_currency(resource.price)
													td
														= get_currency(resource.ongkir)
													td
														= get_currency(resource.total)
													td
														= resource.status?
									- if resource.message.present?
										h5
											b Pesan :
											| &nbsp;
											| #{resource.message}
				.btn-right
					= link_to '<i class="fa fa-download" aria-hidden="true"></i> Generate PDF'.html_safe, merchants_payment_path(resource.code, format: 'pdf'), class: 'btn btn-gb btn-g'
			br
	.widget-foot
		= paginate @collection, remote: true
