<table border="1">
  <caption>Daftar Pembayaran <%= show_search_form_date(params[:start_at], params[:end_at]) %></caption>
  <tr>
    <td>Kode</td>
    <td>Transfer Dari</td>
    <td>Periode</td>
    <td>Penjualan</td>
    <td>Ongkir</td>
    <td>Total</td>
    <td>Status</td>
    <td>Tanggal Masuk</td>
    <td>Pesan</td>
  </tr>
  <% @collection_all.each_with_index do |resource, index| %>
    <tr>
      <td><%= resource.code %></td>
      <td><%= "#{resource.from_acc} Ke #{resource.to_acc}" %></td>
      <td>
        <% if resource.payment_start.present? %>
          <%= resource.payment_period? %>
        <% else %>
          -
        <% end %>
      </td>
      <td><%= get_currency(resource.price) %></td>
      <td><%= get_currency(resource.ongkir) %></td>
      <td><%= get_currency(resource.total) %></td>
      <td><%= resource.status? %></td>
      <td><%= get_datetime(resource.created_at) %></td>
      <td><%= resource.message %></td>
    </tr>
  <% end %>
</table>