.col-md-4.col-xs-6
  li
    div
      = image_tag '1.png', class: 'mgbot5'
    div class="datas-text"
      = @order_cancelled
      | <br>&nbsp; 
      small Order Dibatalkan
.col-md-4.col-xs-6
  li
    div
      = image_tag '3.png', class: 'mgbot5'
    div class="datas-text"
      = @order_verification
      | <br>&nbsp; 
      small Order Diperiksa
.col-md-4.col-xs-6
  li
    div
      = image_tag '4.png', class: 'mgbot5'
    div class="datas-text"
      = @order_paid
      | <br>&nbsp; 
      small Order Dibayar

.col-md-3.col-xs-6
  li
    div
      span id="todayspark5" class="spark"
        i class="fa fa-coffee fa-2"
    div class="datas-text" 
      = @order_all_pending
      br
      small
        = 'Pending'
.col-md-3.col-xs-6
  li
    div
      span id="todayspark5" class="spark"
        i class="fa fa-edit fa-2"
    div class="datas-text" 
      = @order_all_verification
      br
      small
        = 'Pemeriksaan'
.col-md-3.col-xs-6
  li
    div
      span id="todayspark5" class="spark"
        i class="fa fa-archive fa-2"
    div class="datas-text" 
      = @order_all_packing
      br
      small
        = 'Packing'
.col-md-3.col-xs-6
  li
    div
      span id="todayspark5" class="spark"
        i class="fa fa-truck fa-2"
    div class="datas-text" 
      = @order_all_shipped
      br
      small
        = 'Pengiriman'
.col-md-4.col-xs-12
  li
    div
      span id="todayspark5" class="spark"
        i class="fa fa-check fa-2"
    div class="datas-text" 
      = @order_all_received
      br
      small
        = 'Diterima'
.col-md-4.col-xs-12
  li
    div
      span id="todayspark5" class="spark"
        i class="fa fa-backward fa-2"
    div class="datas-text" 
      = @order_all_refund
      br
      small
        = 'Refund'
.col-md-4.col-xs-12
  li
    div
      span id="todayspark5" class="spark"
        i class="fa fa-remove fa-2"
    div class="datas-text" 
      = @order_all_cancelled
      br
      small
        = 'Dibatalkan'