.panel.panel-default
	.panel-heading
		h4.text-center.uppercase
			| Komisi Penjualan
	.panel-body
		.break
		.shopping-cart
			.row
				.col-xs-12
					.catalog-item-show
						.table-responsive.table-order-list
							table class="table table-striped"
								thead
									tr
										th Kode Komisi
										th Kode Invoice
										th Produk
										th Kode Katalog
										th Katalog Terjual
										th Kuantitas
										th Reseller
										th Order Item
										th Komisi Perusahaan
										th Komisi AM
										th Komisi Reseller
										th Status
										th Tanggal Masuk
								tbody
									- if @commission.blank?
										tr
											td colspan="13" 
												= render "shareds/empty_blank"
									- else
										tr
											td.uppercase
												= link_to @commission.uniq_code || @commission.id, '#'
											td.uppercase
												= @commission.order.code
											td
												= "#{@commission.product.title} (#{@commission.product.code}) <b>#{get_currency(@commission.product.price)}</b>".html_safe
											td.uppercase
												= @commission.catalog.code || @commission.catalog.id
											td
												b
													= get_currency(@commission.order_item.total_price)
											td
												= @commission.quantity
											td
												= link_to @commission.member.username, backend_member_path(@commission.member)
											td
												= @commission.order_item.no_invoice
											td
												b
													= get_currency(@commission.commission_company)
												- if @commission.account_manager.present?
													br
													small
														= "AM: - #{get_currency(@commission.commission_am)} (#{link_to @commission.try(:account_manager).try(:username), backend_account_manager_path(@commission.account_manager.username)})".html_safe
												- @commission.commission_referrals.each_with_index do |r, index|
													- if r.member.present?
														br
														small
															= "REF#{index+1}: - #{get_currency(r.commission_value)} (#{link_to r.try(:member).try(:username), backend_member_path(r.member.username)})".html_safe
											td
												b
													= get_currency(@commission.commission_am)
											td
												b
													= get_currency(@commission.commission_member)
											td
												= @commission.status?
												td
													= @commission.commission_date.strftime("%b, %d, %Y") if @commission.commission_date.present?