<table border="1">
  <caption>Daftar Order Item <%= show_search_form_date(params[:start_at], params[:end_at]) %></caption>
  <tr>
    <th>Kode Invoice</th>
    <th>Kode Order</th>
    <th>Kode Produk</th>
    <th>Merchant</th>
    <th>Reseller</th>
    <th>Manager</th>
    <th>Pembayaran</th>
    <th>Pengiriman</th>
    <th>Konfirmasi</th>
    <th>Satuan</th>
    <th>Kuantitas</th>
    <th>Total Distributor</th>
    <th>Total Perusahaan</th>
    <th>Total Reseller</th>
    <th>Transaksi</th>
  </tr>
  <% @collection_all.each_with_index do |resource, index| %>
  <tr>
    <td><%= resource.no_invoice %></td>
    <td><%= resource.order.code %></td>
    <td>
      <%= resource.product.title %>
      <br>
      <%= "(#{resource.product.code})" %>
    </td>
    <td><%= resource.get_merchant.username %></td>
    <td><%= resource.member.username %></td>
    <td><%= resource.try(:account_manager).try(:username) %></td>
    <td><%= resource.payment_status? %></td>
    <td><%= resource.status? %></td>
    <td><%= resource.confirmation? %></td>
    <td><%= get_currency(resource.price) %></td>
    <td><%= resource.quantity %></td>
    <td><%= get_currency(resource.total_basic_price) %></td>
    <td><%= get_currency(resource.total_company_price) %></td>
    <td><%= get_currency(resource.total_price) %></td>
    <td><%= get_datetime(resource.created_at) %></td>
  </tr>
  <% end %>
</table>