#wrapper.use
	.content.animate-panel
		.hpanel
			.row
				.col-md-6.col-xs-12
					.title-member-content.mg-bot15
						b Landing Page
				.col-md-6.col-xs-12
					= render 'request_lp_menu'
				.col-xs-12
					= render 'search_request_landing_press'
				.col-xs-12
					= render 'step_create_lp'
				.col-xs-12
					- if @collection.present?
						.row
							- @collection.each do |resource|
								.col-md-6
									.box-request-lp
										.row
											.col-md-6
												= link_to "#{resource.link_preview?}#{page_path(resource.code)}", target: '_blank'
													.box-img style="background-image: url(#{resource.landing_press.screen_capture.url(:medium)});"
														= resource.landing_press.status?
											.col-md-6
												.group
													.pull-right
														= link_to '<i class="fa fa-pencil"></i>'.html_safe, '#', class: 'btn btn-sm btn-warning', title: 'edit', "data-target"=>"#squarespaceModal-#{resource.code}", "data-toggle"=>"modal"
														| &nbsp;
														= link_to 'Preview'.html_safe, "#{resource.link_preview?}#{page_path(resource.code)}", class: 'btn btn-sm btn-info', title: 'Preview', target: '_blank'
												.group
													b Code :
													br
													span.uppercase #{resource.code}
												.group
													b Kategori :
													br
													= resource.landing_press.category
												.group
													b Judul :
													br
													= resource.landing_press.title1
												.group
													b Harga :
													br
													= get_currency(resource.price)
												.group
													b Telephone :
													br
													= resource.contact
												.group
													b Dibuat :
													br
													= get_datetime(resource.created_at)
												.input-group
													input.form-control value="#{resource.link_preview?}#{page_path(resource.code)}" class="js-link-target-#{resource.code}"
													span.input-group-btn
														button.btn.clipboard-btn.btn-default.btn-secondary data-clipboard-target=".js-link-target-#{resource.code}"
															i.fa.fa-copy
															| &nbsp; Salin

								.modal.fade id="squarespaceModal-#{resource.code}" aria-labelledby="modalLabel" role="dialog" tabindex="-1" class="squarespaceModal"
									.modal-dialog
										.modal-content
											.modal-header
												button.close data-dismiss="modal" type="button"
													span aria-hidden="true" ×
													span.sr-only Close
												h3 Ubah Landing Page
											.modal-body
												.desc-modal
													.bg-title Code
													= resource.code
												.desc-modal
													.bg-title Kategori
													= resource.landing_press.category
												.desc-modal
													.bg-title Judul
													= resource.landing_press.title1
												= form_for [:members, resource], method: "put", html: {class: 'form', multipart: true} do |f|
													.form-group
														label Harga
														= f.number_field :price, placeholder: "Masukan Harga", class: 'form-control', required: true
													.form-group
														label No. Whatsapp(WA)
														= f.text_field :contact, placeholder: "Contoh: +6281545679876", class: 'form-control', required: true
													.form-group
														label 
															Aktifkan Link API Whatsapp &nbsp;
															span = f.check_box :use_link_wa
														= f.text_field :link_wa, placeholder: "Kosongkan jika tidak menggunakan link api whatsapp", class: 'form-control'
													.form-group
														label Meta Title
														= f.text_field :meta_title, placeholder: "Masukkan meta title", class: 'form-control', required: true
													.form-group
														label Meta Keywords
														= f.text_field :meta_keywords, placeholder: "Contoh: Kecantikan, Kosmetik, Fashion dll", class: 'form-control', required: true

													= submit_tag 'Simpan', class: "form-control btn-save-modal"

					- else
						.alert.alert-warning Data landing press kosong

					= paginate @collection, remote: true
