.top-member-menu
	ul
		li
			= link_to 'Landing Page',members_request_landing_presses_path, class: "#{active_sidebar_active?(:request_landing_presses, :index)}"
		li
			= link_to '<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Buat Landing Page'.html_safe,new_members_request_landing_press_path, class: "#{active_sidebar_active?(:request_landing_presses, :new)}"