.panel-body.box-search-catalog
  = form_for :search, url: collection_path, html: {class: 'js-form-analytic'}, method: 'get', remote: true do
    .row
      .col-md-6
        .form-group
          = select_tag :category, options_for_select(LandingPress::CATEGORIES, params[:category]), prompt: 'Pilih Kategori', class: 'form-control'
      .col-md-6
        .form-group
          = select_tag :brand, options_for_select(get_brands.map{|b| [b.name]}, params[:brand]), prompt: 'Pilih Brand', class: 'form-control'

    .input-key
      = text_field_tag :key, nil, value: params[:key], class: 'form-control mgbt-10', placeholder: 'Cari berdasarkan kata sandi..'
    .submit-search
      = submit_tag 'CARI', class: "btn btn-full form-custom"