.row
  .col-md-3.col-sm-3.how-use
    .box-add-product
      i.pe-7s-airplay
      br
      p
        | Untuk membuat landing page klik + buat landing page
      .nomber-step
        | 1
  .col-md-3.col-sm-3.how-use
    .line-steps  
    .box-add-product
      i.pe-7s-check
      br
      p
        | Pilih landing page yang ingin anda buat
      .nomber-step
        | 2
  .col-md-3.col-sm-3.how-use  
    .box-add-product
      i.pe-7s-mouse
      br
      p
        | Klik tombol request
      .nomber-step
        | 3
  .col-md-3.col-sm-3.how-use  
    .box-add-product
      i.pe-7s-smile.i-1
      br
      p
        | Selamat landing page anda telah terpublish
      .nomber-step
        | 4