#wrapper.use
	.content.animate-panel
		.hpanel
			.row
				.col-md-6
					.title-member-content.mg-bot15
						b Request Landing Page
				.col-md-6.col-xs-12
					= render 'request_lp_menu'
				.col-xs-12
					= render 'search_create_lp'
				.col-xs-12
					- if @get_landing_press.present?
						= form_for RequestLandingPress.new, url: members_request_landing_presses_path, method: 'post' do |f|
							= f.hidden_field :member_id
							.row
								- @get_landing_press.each do |resource|
									.col-md-4
										.box-request-lp.js-box-request-lp
											= f.radio_button :landing_press_id, resource.id
											.box-img style="background-image: url(#{resource.screen_capture.url(:medium)});"
												.label-code
													= resource.code
											= "LP #{truncate(resource.title1, :length => 45)}"
											br
											| Kategori :
											| &nbsp;
											= "<b>#{resource.category} </b>".html_safe
											br
											| Brand :
											| &nbsp;
											b = resource.brand
											.checked
												i.fa.fa-check
							= f.submit :request, class: 'btn-request-lp'
					- else
						.alert.alert-warning Data Landing Press Kosong
					= paginate @get_landing_press
