.row
	.col-md-6
		h6 Nama Toko
		= web_setting.text_field :title, class: 'form-control'
	.col-md-6
		h6 Meta Keyword
		= web_setting.text_field :keywords, class: 'form-control'
	.col-md-6
		h6 Deskripsi
		= web_setting.text_area :description, class: 'form-control'
	.col-md-6
		h6 Search Engine
		= web_setting.text_area :search_engines, class: 'form-control', placeholder: 'Keyword 1, Keyword 2'
	/ .col-md-6
	/   h6 Meta Robot
	/   = web_setting.text_field :robot, class: 'form-control', placeholder: 'Example: Index, Follow, NoFollow'
	.col-md-6
		h6 Author
		= web_setting.text_field :author, class: 'form-control', placeholder: 'author project'
	/ .col-md-6
	/   h6 Copyright
	/   = web_setting.text_field :corpyright, class: 'form-control', placeholder: 'Example: Online Shop'
	/ .col-md-6
	/   h6 Revisit
	/   = web_setting.text_field :revisit, class: 'form-control', placeholder: '2 Days'
	/ .col-md-6
	/   h6 Expires
	/   = web_setting.text_field :expires, class: 'form-control', placeholder: 'never'
	/ .col-md-6
	/   h6 Revisit After
	/   = web_setting.text_field :revisit_after, class: 'form-control', placeholder: '2 Days'
	/ .col-md-6
	/   h6 GeoPlacename
	/   = web_setting.text_field :geo_placename, class: 'form-control', placeholder: 'Example: Indonesia'
	/ .col-md-6
	/   h6 Language
	/   = web_setting.text_field :language, class: 'form-control', placeholder: 'ID'
	/ .col-md-6
	/   h6 Country
	/   = web_setting.text_field :country, class: 'form-control', placeholder: 'ID'
	/ .col-md-6
	/   h6 Content language
	/   = web_setting.text_field :content_language, class: 'form-control', placeholder: 'All-Language'
	/ .col-md-6
	/   h6 Distribution
	/   = web_setting.text_field :distribution, class: 'form-control', placeholder: 'global'
	/ .col-md-6
	/   h6 Generator
	/   = web_setting.text_field :generator, class: 'form-control', placeholder: 'website'
	/ .col-md-6
	/   h6 Rating
	/   = web_setting.text_field :rating, class: 'form-control', placeholder: 'general'
	/ .col-md-6
	/   h6 Target
	/   = web_setting.text_field :target, class: 'form-control', placeholder: 'target'
	.col-md-6
		h6 Facebook pixel
		= web_setting.text_field :fb_fixels_dashboard, class: 'form-control', placeholder: 'Masukkan ID Facebook Pixel'
	/ .col-md-6
	/   h6 FB pixel view
	/   = web_setting.text_field :fb_fixels_view, class: 'form-control', placeholder: 'FB pixel view'
	/ .col-md-6
	/   h6 FB pixel cart
	/   = web_setting.text_field :fb_fixels_cart, class: 'form-control', placeholder: 'FB pixel cart'
	/ .col-md-6
	/   h6 FB pixel checkout
	/   = web_setting.text_field :fb_fixels_checkout, class: 'form-control', placeholder: 'FB pixel checkout'
	/ .col-md-6
	/   h6 FB pixel purchase
	/   = web_setting.text_field :fb_fixels_purchase, class: 'form-control', placeholder: 'FB pixel purchase'
	.col-md-12
		h6 Google Analytic
		= web_setting.text_area :google_analytic, class: 'form-control', placeholder: 'Google Analytic'
br
.row
	.col-md-12
		h5
			b Pilih Cara Pemesanan :
		hr
	.col-md-6
		br
		.well
			center
				p Order Via Cart
				p = web_setting.check_box :order_via_cart
	.col-md-6
		br
		.well
			center
				p Order Via WA
				p = web_setting.check_box :order_via_wa
	/ .col-md-2