.row
	.col-md-6
		.well
			center
				h6 Beli Domain
				= site_info.check_box :buy_domain
	.col-md-6
		.well
			center
				h6 Beli Logo
				= site_info.check_box :buy_logo
	.col-md-12
		label Tentukan Default Nama Domain
	.col-md-4
		.right-webset
			= site_info.text_field :domain_name, class: 'form-control'
	.col-md-8
		.domain style='padding-top:5px;'
			= '<b>.dusbelanja.com</b>'.html_safe
	.col-md-12
		small 
			| Domain anda akan menjadi seperti ini 
			b
				= site_info.object.domain_name.present? ? "#{site_info.object.domain_name}.dusbelanja.com" : 'example.dusbelanja.com'
		br
		br
	- unless f.object.new_record?
		- if resource.package.present? && resource.package.premium?
			.setup-content
				= render partial: 'members/users/domain_setting_form', locals: {f: f}
