/ h3 Rekening Bank
/ hr
.row
  .col-md-6
    h6 Nama Bank
    = profile.select :bank_name, options_for_select(['BCA','Mandiri','BNI'], profile.object.bank_name), {prompt: 'Pilih Bank'}, class: 'form-control'
    h6 Cabang Bank
    = profile.text_field :bank_branch, class: 'form-control'
  .col-md-6
    h6 Nama Rekening
    = profile.text_field :account_name, class: 'form-control'
    h6 Nomor Rekening
    = profile.text_field :account_number, class: 'form-control'
