/ h3 Akun Pengguna
/ hr
.row
	.col-md-6
		.row
			- unless f.object.admin?
				.col-md-12
					= f.select :status_payment, options_for_select(User::STATUS_PAYMENT, resource.try(:status_payment)), {prompt: 'Pilih Status Pembayaran'}, class: 'form-control'
			.col-md-4
				br
				.well
					center
						h6 Verified
						= f.check_box :verified
			.col-md-8
				h6 Email *
				= f.email_field :email, class: 'form-control', required: true
				h6 Username *
				= f.text_field :username, class: 'form-control', required: true
		h6 Password
		= f.password_field :password, class: 'form-control'
		h6 Password Confirmation
		= f.password_field :password_confirmation, class: 'form-control'
	.col-md-6
		h6 Avatar
		.user
			= image_tag profile.object.avatar.url(:medium), style: 'width: 200px'
		= profile.file_field :avatar
		- if resource.class.name == "Member"
			h6 Account Manager 
			= f.select :account_manager_id, options_for_select(get_account_managers.map{|am| [am.username, am.id]}, resource.account_manager_id), {prompt: 'Pilih Account Manager'}, class: 'form-control select2', required: true, disabled: false
			- if current_user.master? && resource.ref_id1.blank?
				h6 Upline Referral
				= f.select :ref_id1, options_for_select(Member.verified.map{|u| [u.username, u.id]}, resource.ref_id1), {prompt: 'Pilih Upline Referral'}, class: 'form-control select2'
		- if resource.class.name == "Admin" && current_user.master?
			br
			h6 Role Access *
			= f.select :role_access, options_for_select(Admin::ROLE_ACCESS, resource.role_access), {prompt: 'Pilih Role Access'}, class: 'form-control', required: true
.break
.row
	.col-md-12
		h6 Nama Lengkap *
		= profile.text_field :full_name, class: 'form-control', required: true
		h6 Tempat Tanggal Lahir
		= profile.date_select :birthday, {start_year: (Date.today.year-100),end_year:   (Date.today.year-17), order: [:day, :month, :year],
							prompt: {day:   'Tanggal', month: 'Bulan', year:  'Tahun'}},
							{class: 'form-control select-birthday'}
		br
		h6 Jenis Kelamin
		= profile.select :gender, Gender.to_a, {prompt: 'Pilih Jenis Kelamin'}, {class: 'form-control'}
		h6 No. KTP
		= profile.text_field :no_ktp, class: 'form-control'
		h6 No. NPWP
		= profile.text_field :no_npwp, class: 'form-control'