/ h3 Informasi Mengenai Site 
.row
  .col-md-12
    .well
      center
        h6 Available COD
        = merchant_info.check_box :available_cod
  .col-md-12
    h6 Banner
    .banner
      = image_tag merchant_info.object.banner.url(:large)
    = merchant_info.file_field :banner
    h6 Nama Toko
    = merchant_info.text_field :title, class: 'form-control'
    h6 Tentang
    = merchant_info.cktext_area :description, class: 'form-control'
    h6 Tipe Produk
    = merchant_info.text_field :product_type, class: 'form-control'
    h6 No. BPOM
    = merchant_info.text_field :no_bpom, class: 'form-control'
    h6 Stok Distribusi
    = merchant_info.text_field :distribution_stock, class: 'form-control'
    h6 Sample Nama Produk
    = merchant_info.text_field :sample_product, class: 'form-control'
    h6 Sample Gambar Produk
    .user
      = image_tag merchant_info.object.sample_product_image.url(:medium), style: 'width: 200px'
    = merchant_info.file_field :sample_product_image
.break
h3 Policies
hr
.row
  .col-md-12
    h6 Pembayaran
    = merchant_info.text_area :payment, class: 'form-control'
    h6 Pengiriman
    = merchant_info.text_area :shipping, class: 'form-control'
    h6 Pengembalian dan Penukaran
    = merchant_info.text_area :refund_and_exchange, class: 'form-control'
    h6 Faq
    = merchant_info.text_area :faq, class: 'form-control'
