.row
	.col-md-4
		h6 Favicon
		= image_tag web_setting.object.favicon.url(:small), class: 'show-choice customize-img-web-setting'
		= web_setting.file_field :favicon, class: 'input-file'
	.col-md-4
		h6 Logo
		= image_tag web_setting.object.logo.url(:small), class: 'show-choice customize-img-web-setting'
		= web_setting.file_field :logo, class: 'input-file'
	.col-md-4
		h6 Banner Cover Meta SHARE
		= image_tag web_setting.object.logo_banner.url(:medium), class: 'show-choice customize-img-web-setting'
		= web_setting.file_field :logo_banner, class: 'input-file'
	.col-md-12
		h6 Footer Tags
		= web_setting.text_field :footer_tags, class: 'form-control'
	.col-md-12
		h5
			b Pilih Template web :
	br
	- get_web_templates.each do |resource|
		- if site_info.object.web_template_id == resource.id
			- selected = 'opacity checked'
		- else
			- selected = ''
		.col-md-3
			.panel
				.panel-body.template-web class="#{selected}"
					label.lbswatches.line-image.request-template
						i.fa.fa-check.text-green
						.scroll style="background-image: url(#{resource.image.url(:medium)});"
						= site_info.radio_button :web_template_id, resource.id
	.col-md-12
		br
		h4 Carousel Banner Homepage
		hr
		.setup-content
			.row
				br
				= render partial: 'backend/web_settings/gallery_form', locals: {f: web_setting}