/ h3 Data Alamat
/ hr
.row
  .col-md-6
    h6 Provinsi
    .province-container
      = address.select :province, options_for_select(@all_province, address.object.province), {prompt: 'Pilih Provinsi'}, class: 'form-control provinces_select_shipment','data-node' => "merchant", required: true
    h6 Kota
    .city-container
      = address.text_field :city, value: address.object.city.present? ? address.object.city.split(':')[1] : '', class: 'form-control cities_select_shipment', required: true, disabled: true
    h6 Kecamatan
    .district-container
      = address.text_field :district, value: address.object.district.present? ? address.object.district.split(':')[1] : '', class: 'form-control', required: true, disabled: true
  .col-md-6
    h6 Alamat
    = address.text_field :address, class: 'form-control'
    h6 Kode Pos
    = address.text_field :postcode, class: 'form-control'
