/ h3 Data Alamat
/ hr
.row
  .col-md-6
    h6 Provinsi
    = address.select :province, options_for_select(Region.roots.alfa.pluck(:name), resource.address.province), {prompt: 'Pilih Provinsi'}, class: 'select2 form-control provinces_select', 'data-node' => "#{resource.class.to_s.downcase == 'accountmanager' ? 'account_manager' : resource.class.to_s.downcase}"
    h6 Kota #{resource.address.city}
    - cities = address.object.city ? Region.find_by(name: address.object.province).try(:children).pluck(:name) || [] : Region.none rescue []
    .city-container
      = address.select :city, options_for_select(cities, resource.address.city), {prompt: 'Pilih Kota'}, class: 'select2 form-control'
  .col-md-6
    h6 Alamat
    = address.text_field :address, class: 'form-control'
    h6 Kode Pos
    = address.text_field :postcode, class: 'form-control'