/ h3 Kontak
/ hr
.row
	.col-md-6
		h6 Nomor HP
		= profile.text_field :phone, class: 'form-control', placeholder: '+6285xxxxxxxxx'
		h6 
			| Aktifkan link API Whatsapp &nbsp;
			span = contact.check_box :use_link_wa
		= contact.text_field :link_wa, class: 'form-control', placeholder: 'Kosongkan jika tidak menggunakan link api whatsapp'
		h6 Nomor Telepon Rumah
		= contact.text_field :phone, class: 'form-control'
		h6 BBM
		= contact.text_field :bbm, class: 'form-control'
		/ h6 LINE
		/ = contact.text_field :line, class: 'form-control'
	.col-md-6
		/ h6 WA
		/ = contact.text_field :wa, class: 'form-control'
		h6 Website
		= contact.text_field :website, class: 'form-control'
		h6 Facebook
		= contact.text_field :facebook, class: 'form-control'
		h6 Instagram
		= contact.text_field :instagram, class: 'form-control'
