.col-md-12
	= render 'backend/shareds/search_form_catalog'
	= form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do
		.row
			.col-md-4
				.box-top-detail.green
					b.txt-green #{@actives}
					br
					| Catalog Aktif
			.col-md-4
				.box-top-detail.orange
					b.txt-orange #{@inactives}
					br
					| Catalog Tidak Aktif
			.col-md-4
				.box-top-detail.red
					b.txt-red #{@pendings}
					br
					| Catalog Pending
		.widget
			= render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Catalogs', button_name: 'Catalog', add_method: false}
			.widget-content
				.table-responsive
					table.table.table-striped.table-bordered.table-hover
						thead
							tr
								th width="1%" 
									| #
								th Member
								th Kode
								th Image
								th Judul
								th Stok
								th Harga Awal
								th Harga Jual
								th Merek
								th Kategori
								th Sub Kategori
								th Produk Status
								th Terakhir diubah
						tbody
							- if @collection.blank?
								tr
									td colspan="12" 
										= render "shareds/empty_blank"
							- else
								- @collection.each_with_index do |resource, index|
									tr
										td 
											= check_box_tag "ids[]", resource.id
										td 
											= link_to resource.member.username, "#"
										td 
											= resource.code || '--'
											br
											= resource.status_label?
										td
											center
												= image_tag resource.product.cover.url(:thumb)
										td
											= resource.product.code
											br
											= link_to resource.product.title, '#', target: '_blank'
											br
											small from: #{link_to resource.product.merchant.merchant_info.title, '#', target: '_blank'}
										td
											small 
												= resource.product.only_status_stock?
												- if resource.product.ready_stock?
													br
													= resource.product.product_spec.stock
										td 
											= get_currency(resource.product.price) if resource.product.price.present?
										td 
											= get_currency(resource.price) if resource.price.present?
										td 
											= resource.product.try(:brand_name)
										td 
											= resource.product.try(:parent_category).try(:name)
										td 
											= resource.product.try(:sub_category).try(:name)
										td
											= resource.product.active?
											br
											= resource.product.fee_referral_text?
										td 
											= resource.updated_at.strftime("%b, %d, %Y") if resource.updated_at.present?
				.widget-foot
					.pull-right
						= paginate @collection, remote: true if @collection.present?
					.clearfix
