<table border="1">
  <caption>Daftar Katalog <%= show_search_form_date(params[:start_at], params[:end_at]) %></caption>
  <tr>
    <th>Member</th>
    <th>Kode</th>
    <th>Judul</th>
    <th>Stok</th>
    <th>Harga Awal</th>
    <th>Harga Jual</th>
    <th>Merek</th>
    <th>Kategori</th>
    <th>Sub Kategori</th>
    <th>Produk Status</th>
    <th>Terakhir diubah</th>
  </tr>
  <% @collection_all.each_with_index do |resource, index| %>
  <tr>
    <td><%= resource.member.username %></td> 
    <td><%= resource.code || '--' %></td> 
    <td>
      <%= resource.product.code %>
      <br>
      <%= resource.product.title %>
      <br>
      <%= "#{resource.product.merchant.merchant_info.title}" %>
    </td>
    <td>
      <%= resource.product.only_status_stock? %>
        <% if resource.product.ready_stock? %>
          <br>
          <%= resource.product.product_spec.stock %>
        <% end %>     
    </td>        
    <td><%= get_currency(resource.product.price) if resource.product.price.present? %></td> 
    <td><%= get_currency(resource.price) if resource.price.present? %></td> 
    <td><%= resource.product.try(:brand_name) %></td> 
    <td><%= resource.product.try(:parent_category).try(:name) %></td> 
    <td><%= resource.product.try(:sub_category).try(:name) %></td> 
    <td><%= resource.product.active? %></td>
    <td><%= resource.updated_at.strftime("%b, %d, %Y") if resource.updated_at.present? %></td> 
  </tr>
  <% end %>
</table>