#wrapper
	.welcome
		.hpanel
			.panel-body
				.icon-hi
					i.pe-7s-chat
				.text-hi
					h2
						| Selamat Datang di 
						strong DROPSHIPAN
					p
						| Halaman ini untuk anda sebagai Merchant Dropshipan, kelola dan lakukan penjualan sebanyak banyaknya.
	.content.animate-panel
		.hpanel
			.row
				.col-md-4
					.panel-body.box-info
						.stats-title.pull-left
							h4 Produk
						.stats-icon-1.pull-right
							i.pe-7s-ticket.fa-4x
						.m-t-xl
							h1.text-info
								= @products.size

				.col-md-4
					.panel-body.box-info
						.stats-title.pull-left
							h4 Order
						.stats-icon-1.pull-right
							i.pe-7s-cart.fa-4x
						.m-t-xl
							h1.text-info
								= @orders.size

				.col-md-4
					.panel-body.box-info
						.stats-title.pull-left
							h4 Pembayaran
						.stats-icon-1.pull-right
							i.pe-7s-wallet.fa-4x
						.m-t-xl
							h1.text-info
								| 0

				.js-partial_js
					= render 'partial_js'
