/* --------- Color Style ---------*/
$blue : #1c80c2;
$green : #99bc20;
$silver : #f5f5f5;
$red : #e13a37;
$grey : #e4e5e7;
/**/

.doubleScroll-scroll-wrapper{
  height: 14px!important;
}

/*Optional Custom*/
.column-five{
  float: left;
  width: 20%;
  padding: 0 10px;
}
body .bootstrap-tagsinput {
	width: 100%;
}
i{
  margin: 0 5px;
}
.thumb{
	border: solid 1px #ccc;
	padding: 2px;
	width: 65px;
}
.alert{
	margin-bottom: -5px!important;
}
.break{
	width: 100%;
	height: 20px;
	float: left;
}
.uppercase{
  text-transform: uppercase;
}
.padding0{
  padding: 0!important;
}
.padding-left0{
  padding-left: 0!important;
}
.full-width{
  width: 100%;
}
.margin0{
  margin: 0!important;
}
header .header-data .hdata{
  width: 100px;
}
.amenity{
  display: none;
}
.uppercase{
  text-transform: uppercase;
}
.white{
  background: #fff;
}
.mgtop20{
  margin-top: 20px;
}
.mgbot20{
  margin-bottom: 20px;
}
.select2-container--default .select2-selection--single{
  border: solid 1px #ccc!important;
}
.select2-container .select2-selection--single{
  height: 32px!important;
}
.region-based .city-container, .region-based .sub-district-container{
  margin: 8px 0;
}
.region-based .select2-container{
  width: 100%!important;
}
.section-pic{
  width: 100%;
  float: left;
  padding: 15px;
  padding-bottom: 20px;
  background: #f5f5f5;
  border: solid 1px #ccc;
  margin-bottom: 10px;
}
.select2-container{
  width: 100%!important;
}
.select-birthday{
  width: 33.33%;
  display: inline-block;
}

/*Setup Content Gallery*/
.box-landing-press{
  height: 350px;
  overflow: hidden;
}
.setup-content .choice-gallery-form{
  list-style: none;
  padding-left: 0;
}
.setup-content .choice-gallery-form li{
  width: 16.6%;
  float: left;
  border: solid 1px #ccc;
  padding: 2px;
  height: 150px;
  position: relative;
}
.setup-content .choice-gallery-form li.cover{
  height: 150px;
  width: 200px;
}
.setup-content .choice-gallery-form img{
  width: 100%;
  height: 100%;
}
.setup-content .choice-gallery-form .input-file{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  cursor: pointer;
  opacity: 0.0;
}
.setup-content .choice-gallery-form li.overview{
  width: 50%!important;
  height: 120px!important;
  position: relative;
}
.setup-content .choice-gallery-form li.overview span{
  position: absolute;
  color: #fff;
  font-weight: bold;
  top: 5px;
  left: 5px;
  font-size: 14px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.basic-form{
  display: none;
}
.btn-color-box{
  margin-right: 4px;
  margin-bottom: 4px;
  float: left;
  text-align: left;
}
.btn-color-box input{ 
  margin-right: 4px;
}
.banner{
  height: 300px;
  width: 100%;
  overflow: hidden;
  border: solid 1px #ccc;
}
.banner img{
  width: 100%;
}
.avatar-author{
  width: 60px;
  padding: 0!important;
  border: solid 2px #ccc;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin-right: 10px;
}
.avatar-author img {
  width: 100%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
table, table tr td{
  border: solid 1px #ddd;
  font-size: 12px;
}
.display-center{
  width: auto;
  margin: auto;
  display: table;
}
.cover-img{
  border: solid 1px #ccc;
}
.cover-img img{
  width: 100%;
}

/*------------------Navbar------------------*/
.navbar{
  background: white;
  box-shadow: rgba(0,0,0,0.1) 0 0 9px 0;
  padding: 1px 15px;
}
.img-logo{
  width: 195px;
  position: relative;
  top: 14px;
}

/*------------------Sidebar------------------*/
.sidebar #nav > li > a:hover, .sidebar #nav > li.open > a{
  background: #19222e;
}
/*.sidebar #nav li i{
  background: $green!important;
}*/

/*------------------steps------------------*/
.bs-wizard {margin-top: 40px; margin-bottom: 20px; display: inline-block; width: 100%;}

.bs-wizard {
  border-bottom: 
  solid 1px #e0e0e0; 
  padding: 0 0 10px 0;
}
.bs-wizard > .bs-wizard-step {
  padding: 0; 
  position: relative;
}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
  color: #595959; 
  font-size: 12px; 
  margin-bottom: 5px;
}
.bs-wizard > .bs-wizard-step .bs-wizard-info {
  color: #999; 
  font-size: 14px;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  background: #ccc;
  top: 42px;
  right: -2px;
  margin-top: -15px;
  margin-left: 10px;
  border-radius: 50%;
  z-index: 1;
} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot i {
  position: absolute;
  top: 8px;
  left: 4px;
  color: white; 
} 
.bs-wizard > .bs-wizard-step > .progress {
  position: relative; 
  border-radius: 0px; 
  height: 8px; 
  box-shadow: none; 
  margin: 20px 0;
  background: white;
}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
  width:0px; 
  box-shadow: none; 
  background: #4990E2;
  padding-right: 0;
}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
  width:100%;
}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
  width:50%;
}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
  width:0%;
}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
  width: 100%;
}
.bs-wizard > .bs-wizard-step.complete > .bs-wizard-dot {
  background-color: #4ac344;
}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
  opacity: 0;
}
.bs-wizard > .bs-wizard-step:first-child  > .progress {
  right: 0; 
  width: 100%;
}
.bs-wizard > .bs-wizard-step:last-child  > .progress {
  width: 100%;
}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{
  pointer-events: none; 
}
/**/

/* ----------- Btn Custom ------------*/
.btn-info{
  background: $blue;
  border-color: $blue;
  &:hover{
    opacity: 0.9;
    background: $blue;
  }
}

/* ----------- Box Analytic ------------*/
.box-comision-approve{
  display: inline-block;
  width: 100%;
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.05);
  .title-approve{
    font-size: 20px;
  }
  .cash-approve{
    font-size: 24px;
    padding: 10px 0;
    color: $blue;
    .red{
      border: 0;
      color: red;
    }
    .orange{
      border: 0;
      color: orange;
    }
  }
}

.box-schema{
  display: inline-block;
  width: 100%;
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.05);
  .btn-tab-analytic{
    &.active {
      background: $blue;
      color: white;
      box-shadow: none;
      border-color: $blue;
    }
    &:hover{
      background: $grey;
      border-color: $grey;
    }
  }
  .revenue {
    border: solid 1px #e4e5e7;
    border-radius: 5px;
    padding: 8px 20px;
    font-size: 18px;
    float: left;
    margin-top: 20px;
    background: $blue;
    color: white;
  }
  .search-form{ 
    float: right;
    .input {
      border: solid 1px #e4e5e7;
      border-radius: 0;
      width: 150px;
      height: 33px;
    }
    .btn{
      border-radius: 0;
      margin-left: 5px;
      padding: 0px 15px;
      border: 0;
      margin-top: -2px;
      position: relative;
      height: 35px;
    }
  }
  .exTab{ 
    margin-bottom: 20px;
    .nav-tabs{
      li {
        float: left;
        width: 14%;
        text-align: center;
        border: 0;
        &.active a{
          border: 0;
          border-bottom: solid 2px #3498db !important;
          background-color: none!important;
        }
      }
    }
    .nav-tabs > li.active > a, 
    .nav-tabs > li.active > a:hover, 
    .nav-tabs > li.active > a:focus{
      background: none!important;
    }
  }
  .box-dashboard-info{
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    background: white;
    margin-bottom: 20px;
    overflow: hidden;
    .title-info {
      border-bottom: #e2e2e2;
      padding: 10px 0px;
      padding-left: 0px;
      background: $blue;
      color: white;
      padding-left: 10px;
      border-bottom: 1px solid #e2e2e2;
    }
    .box-content-info {
      font-size: 15px;
      text-align: center;
      padding: 20px 0;
      color: #525252;
      position: relative;
    }
    i{
      font-size: 40px;
      margin-bottom: 10px;
    }
  }
  h2{
    margin-bottom: 30px;
  }
}

.box-latest-order{
  background: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.05);
  width: 100%;
  display: inline-block;
  padding: 15px;
  margin-bottom: 20px;
}

/*==========================
  Spinner Load
==========================*/
.spinner-load{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(255,255,255,0.8);
  z-index: 99;
  color: #777;
  text-align: center;
  font-size: 20px;
  padding-top: 15%;
  display: none;
  img{
    width: 100px;
    margin-bottom: 20px;
  }
}

/*==========================
  Member Form
==========================*/
.template-web{
  padding: 10px;
  position: relative;
  input{
    position: absolute;
    top: 20px;
    left: 20px;
    margin-top: 0px;
    display: none;
  }
  .select2-selection {
    border: 0px;
  }
  img{
    width: 100%
  }
  &.opacity{
    opacity: 0.2;
  }
  i {
    display: none;
  }
  &.checked{
    background: #34495e;
    i {
      display: block!important;
      position: absolute;
      color: beige;
      font-size: 100px;
      top: 35%;
      left: 50%;
      transform: translateX(-40%);
      text-shadow: 0px 0px 20px #fff;
    }
  }
}
.text-green {
  color: $green!important;
}

/*==========================
  Radio Button LP
==========================*/

.scroll {
  background-size: 100%;
  cursor: pointer;
  z-index: 2;
  min-height: 100%;
  -webkit-transition: background-position 3s ease-in-out;
  -moz-transition: background-position 3s ease-in-out;
  -ms-transition: background-position 3s ease-in-out;
  -o-transition: background-position 3s ease-in-out;
  transition: background-position 3s ease-in-out;
}
.scroll:hover {
  background-position:0px 100%;

}

.line-image {
  width: 100%;
  height: 300px;
  margin-bottom: -4px;
}
.line-image-list {
  width: 100%;
  height: 150px;
  margin-bottom: -4px;
  .responsive-status{
    position: absolute;
    margin-left: 5px;
    margin-top: 5px;
  }
}

.img-logo-user{
  height: 32px;
  border-radius: 30px;
  margin-right: 5px;
}
.show-choice-gallery{
  width: 100%;
}

@media screen and (max-width: 991px) {
  .request-lp {
    width: 100%;
    height: 150px!important;
    margin-bottom: -4px;
  }
  .line-image {
    width: 100%;
    height: 300px;
    margin-bottom: -4px;
  }
  .line-image-list {
    width: 100%;
    height: 100px;
    margin-bottom: -4px;
  }
}