@media screen and (max-width: 1024px) {
	.responsive-panel-analytic{
		overflow: hidden;
		overflow-x: scroll;
	}
	.responsive-row-analytic{
		width: 1000px;
	}
	/*.form-group{
		margin-bottom: 0;
	}*/
}
@media screen and (max-width: 768px) {
	/*---------------------------*/
	/*--------  Boostrap   --------*/
	/*---------------------------*/
	.form-control{
		margin-bottom: 10px;
	}
	.select2-container{
		margin-bottom: 10px;
	}
	.table-responsive{
		overflow-x: scroll;
	}
	.table{
		width: 900px;
	}
	/*---------------------------*/
	/*--------  Customize   --------*/
	/*---------------------------*/
	.wd100{
		margin-bottom: 20px;
	}
	.padding0{
		padding-left: 15px!important;
	}
	.mainbar .page-head h2{
		font-size: 18px;
	}
	.img-logo{
	  width: 195px;
	  position: relative;
	  top: 11px;
	}
	.column-five{
		width: 100%;
		float: left;
		margin-bottom: 10px;
	}
	/*---------------------------*/
	/*--------  dashboard   --------*/
	/*---------------------------*/
	.box-comision-approve {
    padding: 15px;
		.cash-approve{
			font-size: 18px;
		}
		.title-approve{
			font-size: 17px;
		}
	}
	.today-data li .datas-text{
		margin-top: 0;
	}
	.responsive-panel-analytic{
    overflow: hidden;
		overflow-x: scroll;
	}
	.responsive-row-analytic{
		width: 1000px;
	} 
}

@media screen and (max-width: 450px) {
	/*---------------------------*/
	/*--------  Customize   --------*/
	/*---------------------------*/
	.uppercase{
		float: left!important;
	}
	/*---------------------------*/
	/*--------  header   --------*/
	/*---------------------------*/
	header .header-data{
		margin-top: 35px;
	  width: 100%;
	}
	.mainbar .page-head h2{
		font-size: 15px;
	}
	.navbar-brand {
    color: #f3f3f2;
  }
  .navbar li a:hover {
    color: #363232;
	}
	.gep-lr{
		margin: 0 -15px;
	}
	.padding0{
		padding: 0 15px!important;
    margin-top: 10px;
	}
	.today-data li{
		height: auto;
	}
	header .header-data .hdata {
    display: inline-block;
    width: 28%!important;
    margin-right: 15px;
    margin-bottom: 10px;
	}
	.navbar{
		padding: 5px 15px;
		li{
			width: 100%;
		}
		.caret{
			float: right;
			margin-top: 13px;
		}
	}
	.navbar-nav {
    margin: 0;
    width: 100%;
	}
	.navbar-collapse{
		padding: 0;
	}
	.nav>li>a{
		padding: 10px 5px;
	}
	.dropdown-menu li > a{
    padding: 5px 15px 5px 5px!important;
	}
	.navbar-toggle{
		margin-right: 0;
	}
	.table{
		width: auto;
	}
	/**/

	/*---------------------------*/
	/*--------  Dashboard   --------*/
	/*---------------------------*/
	.row-custom .col-custom{
		width: 100%;
	}
	.mainbar .page-head{
    padding: 5px 15px;
	}
	.row-custom-backend .col-custom-backend{
		width: 100%;
	}
	.form-control{
		margin-bottom: 10px;
	}
	.widget-icons{
		float: left!important;
	}
	.select2-container .select2-selection--single{
		margin-bottom: 10px;
	}
	.wd50{
		width: 100%!important;
	}
	.responsive-panel-analytic{
    overflow: hidden;
		overflow-x: scroll;
	}
	.responsive-row-analytic{
		width: 1000px;
	}
	/*---------------------------*/
	/*------- Order Page   ------*/
	/*---------------------------*/
	.wd100{
		margin-bottom: 20px;
	}
	.table-order-list{
		tbody{
			tr{
				td{
					&:nth-child(1) {
						white-space: normal;
					}
				}
			}
		}
	}
	.form-group{
		margin-bottom: 0;
	}
	/*---------------------------*/
	/*------- Product Form  ------*/
	/*---------------------------*/
	.setup-content .choice-gallery-form li.cover{
		height: 200px;
		width: 100%;
	}
	.setup-content .choice-gallery-form li{
		height: 70px;
	}
	.select2-container .select2-selection--single{
		margin-bottom: 0;
	}
}

@media screen and (max-width: 350px) {
	/*---------------------------*/
	/*------- Dashboard  ------*/
	/*---------------------------*/
	.box-comision-approve {
		.title-approve{
			font-size: 15px;
		}
		.cash-approve{
			font-size: 20px;
		}
	}
	.today-data li .datas-text{
		margin-top: 0;
		font-size: 17px;
		small{
	    font-size: 12px;
		}
	}
	.box-schema .revenue{
		padding: 5px 15px;
		font-size: 15px;
	}
}