$('.js-partial_js').html("<%= escape_javascript render 'partial_js' %>");

$(document).ready(function() {
  $('.datepicker').datepicker({
    format: "yyyy-mm-dd",
    autoclose: true
  });

  // ----- show loading after click button
  $('.js-form-analytic button').on('click', function(){
    $(".spinner-load").show();
  });

  $('.js-form-analytic .btn').on('click', function(){
    $(".spinner-load").show();
  });

  // ----- fadout loading after show
  $(".spinner-load").fadeOut(1000);

  // ----- tab show resize analytic
  $('.js-tab-analytics a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    var ev = document.createEvent('Event');
    ev.initEvent('resize', true, true);
    window.dispatchEvent(ev);
  });
});