.row
	.col-md-12
		.row
			.col-md-4
				h6 Merchant
				= f.select :merchant_id, Merchant.verified.map{|u| [u.merchant_info.title, u.id]}, {prompt: 'Pilih Merchant'}, {class: 'form-control select2', required: true} 
			.col-md-4
				h6 Kategori
				= f.select :category_id, options_for_select(Category.roots.alfa.active.map{|c| [c.name, c.id]}, f.object.category_id), {prompt: 'Pilih Kategori'}, class: 'select2 form-control choice-category-select', 'data-node' => "#{resource.class.to_s.downcase}", required: true
			.col-md-4
				h6 Sub Kategori
				.sub-category-container
					- sub_categories = Category.find(resource.category_id).try(:children).alfa.map{|c| [c.name, c.id]} rescue []
					= f.select :sub_category_id, options_for_select(sub_categories, resource.sub_category_id), {prompt: 'Pilih Sub Kategori'}, class: 'select2 form-control', required: true
			.col-md-4
				h6 Harga Distributor (Rp.)
				= f.text_field :basic_price, value: resource.basic_price, class: 'form-control', required: true, placeholder: 'ex. 50000', data: {autonumeric: true}
			.col-md-4
				h6 Harga Jual (Rp.)
				= f.text_field :price, value: resource.price, class: 'form-control', required: true, placeholder: 'ex. 100000', data: {autonumeric: true}
			.col-md-4
				h6 Harga Rekomendasi (Rp.)
				= f.text_field :recommended_price, value: resource.recommended_price, class: 'form-control', required: true, placeholder: 'ex. 200000', data: {autonumeric: true}
			.col-md-4
				h6 Kode Produk
				= f.text_field :code, class: 'form-control', required: true 
			.col-md-4
				h6 Judul
				= f.text_field :title, class: 'form-control', required: true 
			.col-md-4
				h6 Nama Brand
				= f.select :brand_name, options_for_select(get_brands.map{|b| [b.name]}, resource.brand_name), {prompt: 'Pilih Brand'}, class: 'select2 form-control', required: true
			.col-md-12
				h6 Deskripsi
				= f.cktext_area :description, class: 'form-control', required: true
			.col-md-4
				br
				.well
					center
						p FEATURED
						p = f.check_box :featured
			.col-md-4
				br
				.well
					center
						p PUBLISHED
						p = f.check_box :status
			.col-md-4
				br
				.well
					center
						p NO REFERRAL
						p = f.check_box :no_referral
			.col-md-12
				h6 Link Video
				= f.text_field :link_video, class: 'form-control'
.row
	.col-md-12
		h4 Gambar
		hr
		.row
			.col-md-3.col-xs-12
				p Cover
				.setup-content
					ul.choice-gallery-form
						li.cover
							= image_tag f.object.cover.url(:large), class: 'show-choice'
							= f.file_field :cover, class: 'input-file'
			.col-md-9.col-xs-12
				p Thumbnail
				.setup-content
					ul.choice-gallery-form
						= f.fields_for :galleries do |g| 
							= render 'gallery_fields', f: g 
.break

.row
	.col-md-12
		h3 Spesifikasi Produk
		hr
		= f.fields_for :product_spec do |product_spec|
			= render 'product_specs', f: f, product_spec: product_spec
.break

.variant-container
	.variant-section
		.row
			.col-xs-12
				h3 Variasi Ketersedian/Stok
				hr
			.setup-content
				= render partial: 'form_product_stock', locals: {f: f}
		.break

.row
	.col-xs-12
		h3 Testimoni Produk
		hr
	.setup-content
		= render partial: 'form_product_testimonial', locals: {f: f}
.break



javascript:
	function checkStatusStock(){
		status_stock_selected = document.getElementById("product_status_stock_ready_stock").checked

		if(status_stock_selected == true){
			$('.variant-section').appendTo('.variant-container');
			$('.variant-section').show();
		}else{
			$('.variant-container .variant-section').appendTo('.form-footer');
			$('.variant-section').hide();
		}
	}

	checkStatusStock();

	$(document).on('click', '.status-stock-select', function() {
		checkStatusStock();
	});