.col-md-12
	= render 'backend/shareds/search_form_product'
	= form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do
		.row
			.col-md-4
				.box-top-detail.green
					b.txt-green #{@verifieds}
					br
					| Produk Terverifikasi
			.col-md-4
				.box-top-detail.orange
					b.txt-orange #{@featureds}
					br
					| Produk Pilihan
			.col-md-4
				.box-top-detail.red
					b.txt-red #{@not_verifieds}
					br
					| Produk Pending
		.widget
			= render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Products', button_name: 'Product', add_method: true}
			.widget-content
				.table-responsive
					table class="table table-striped table-bordered table-hover"
						thead
							tr
								th width="1%" #
								th Kode
								th Image
								th Judul
								th Stok
								th Harga Distributor
								th Harga Jual
								th Harga Rekomendasi
								th Merek
								th Kategori
								th Sub Kategori
								th Status
								th Katalog
								th Terjual
								th Terakhir diubah
								th Action
						tbody
							- if @collection.blank?
								tr
									td colspan="16" 
										= render "shareds/empty_blank"
							- else
								- @collection.each_with_index do |resource, index|
									tr
										td = check_box_tag "ids[]", resource.id
										td = resource.code
										td
											center
												= image_tag resource.cover.url(:thumb), style: 'width:64px;'
										td
											= link_to resource.title, '#', target: '_blank'
											= resource.featured?
											br
											small
												| from: #{link_to resource.merchant.merchant_info.title, '#', target: '_blank'}
											br
											= resource.fee_referral_text?
										td
											small 
												= resource.only_status_stock?
												- if resource.ready_stock?
													br
													= resource.product_spec.stock
										td 
											= get_currency(resource.basic_price) if resource.basic_price.present?
										td 
											= get_currency(resource.price) if resource.price.present?
										td 
											= get_currency(resource.recommended_price) if resource.recommended_price.present?
										td = resource.try(:brand_name)
										td = resource.try(:parent_category).try(:name)
										td = resource.try(:sub_category).try(:name)
										td
											= resource.active?
										td
											= "Aktif: <b>#{resource.catalogs.approved.size}</b>".html_safe
											br
											= "Inaktif: <b>#{resource.catalogs.inactive.size}</b>".html_safe
										td
											b
												= resource.order_items.not_refund_and_cancelled.pluck(:quantity).sum
										td = resource.updated_at.strftime("%b, %d, %Y") if resource.updated_at.present?
										td
											= render partial: 'backend/shareds/prepare_action',
												locals: { resource: resource, confirmation: "Are you sure delete this #{resource.id}", no_show: false }
				.widget-foot
					.pull-right
						= paginate @collection, remote: true if @collection.present?
					.clearfix
