.col-md-3.nested-fields
	.section-pic
		.row
			.col-md-12
				h6 Gambar Testimoni #{link_to_remove_association "<i class='fa fa-times'></i>".html_safe, f, class: 'btn btn-danger btn-xs pull-right'}
				= image_tag f.object.image.url(:small), class: 'show-choice'
				= f.file_field :image, class: 'input-file'
