<table border="1">
  <caption>Daftar Order <%= show_search_form_date(params[:start_at], params[:end_at]) %></caption>
  <tr>
    <th>No</th>
    <th>Invoice</th>
    <th>Pembeli</th>
    <th>Reseller</th>
    <th>Pembayaran</th>
    <th>Pengiriman</th>
    <th>Transaksi</th>
    <th>Konfirmasi</th>
    <th>Belanja</th>
    <th>Ongkir</th>
    <th>Total</th>
    <th>Komisi</th>
    <th>Tanggal Masuk</th>
  </tr>
  <% @collection_all.each_with_index do |resource, index| %>
  <tr>
    <td><%= index+1 %></td>
    <td><%= resource.try(:code) %></td>
    <td><%= resource.try(:payer_name) %></td>
    <td><%= resource.member.username %></td>
    <td><%= resource.status_text? %></td>
    <td>
      <%= resource.status_order_text? %>
    </td>
    <td><%= resource.try(:purchased_at).strftime("%B, %d, %Y") %></td>
    <td><%= resource.confirmation_text? %></td>
    <td><%= get_currency(resource.price) %></td>
    <td><%= get_currency(resource.shipping_price) %></td>
    <td><%= get_currency(resource.total_price) %></td>
    <td><%= get_currency(resource.get_commisions_value(:commission_member)) %></td>
    <td><%= resource.created_at.strftime("%d %B %Y - %I:%M") if resource.created_at.present? %></td>
  </tr>
  <% end %>
</table>