<% if @detect_pre_order_1 == true %>
  alert("Sebelumnya anda sudah memesan produk yang tidak diperbolehkan disatukan pesanannya dengan produsen lain, silahkan selesaikan terlebih dahulu pesanan sebelumnya!");
<% elsif @detect_pre_order_2 == true %>
  alert("Kusus untuk produk ini anda tidak diperbolehkan memesan produk berbeda produsen secara bersamaan dalam satu pesanan, silahkan selesaikan terlebih dahulu pesanan sebelumnya!");
<% elsif @detect_pre_order_3 == true %>
  alert("Anda sudah memesan produk lain yang PREORDER kedalam keranjang, produk PREORDER tidak bisa disatukan pemesanannya dengan produk lain, silahkan selesaikan terlebih dahulu pesanan sebelumnya!");
<% elsif @detect_pre_order_4 == true %>
  alert("Pesan produk PREORDER tidak bisa disatukan dengan produk lain kedalam keranjang, silahkan selesaikan terlebih dahulu pesanan sebelumnya!");
<% else %>
  <% if @order_item.blank? %>
    alert("Stok Yang Anda Pilih Tidak Tersedia Untuk Produk Ini!");
    // $('.purchase-form-button').html('<button class="btn btn-default btn-lg full-width no-radius">Stok Tidak Tersedia</button>');
  <% else %>
    <% if @order.errors.any? || @order_item.errors.any? %>
      alert("not valid.");
    <% else %>
      $('.cart-text-member').html('<%= escape_javascript render "members/shops/cart_text" %>');
      $('.cart-text').html('<%= escape_javascript render "shareds/cart_text" %>');
      $('.form-order').html('<%= escape_javascript render "shareds/already_order" %>');
    <% end %>
  <% end %>
<% end %>