 $('.cart-text-member').html('<%= escape_javascript render "members/shops/cart_text" %>');
$(".cart-text").html("<%= escape_javascript(render 'shareds/cart_text') %>")
$(".shopping-cart").html("<%= escape_javascript(render 'orders/shopping_cart') %>")