- if @messages.present?
	- @messages.each do |m|
		- from_message = m.from == current_user.id ? 'left' : 'right'
		.chat-message.from_message
			= image_tag m.user.profile.avatar.url, class: "message-avatar"
			.message
				a.message-author
					= m.user.username
				- if m.from == current_user.id
					span.read.pull-right.text-success.fa.fa-check-circle-o
				span.message-date
					= get_datetime(m.created_at)
				span.message-content
					= m.message.html_safe
- else
	center Tidak ada pesan