- if current_user.member?
  - source = :members
- else
  - source = :managers

= form_for [source, resource], method: form_method, html: {class: 'form'} do |f|
  = render partial: 'form', locals: {f: f}
  - unless form_name == 'Catalogs' || form_name == 'Members' || form_name == 'Managers'
    .buttons
      button class="btn-blue" type="submit" SIMPAN