aside#menu
  #navigation
    .profile-picture
      = link_to edit_members_member_path(@member) do
        = image_tag @member.profile.avatar, class: "img-circle m-b", style: "width: 75px;"
      .stats-label.text-color
        = link_to edit_members_member_path(@member), class: "link-text" do
          small.text-muted = @member.the_name?
        .text-muted
          small 
            = link_to @member.package.title,members_packages_path
    ul#side-menu.nav.ul-menu
      li class="#{active_sidebar_active?(:home, :dashboard)}"
        = link_to members_dashboard_path do
          i.pe-7s-global
          | &nbsp;
          span.nav-label Dashboard
      li class="#{active_sidebar_active?(:commissions, :all)}"
        a href="#"
          span.nav-label <i class="pe-7s-wallet"></i> Laporan Komisi
          span.fa.arrow
        ul.nav.nav-second-level
          li class="#{active_sidebar_active?(:commissions, :index)}"
            = link_to members_commissions_path do
              i.pe-7s-angle-right-circle
              | &nbsp;
              span.nav-label Komisi Penjualan
          li class="#{active_sidebar_active?(:commissions, :referral)}"
            = link_to referral_members_commissions_path do
              i.pe-7s-angle-right-circle
              | &nbsp;
              span.nav-label Komisi Referral
          li class="#{active_sidebar_active?(:affiliates, :all)}"
            = link_to members_affiliates_path do
              i.pe-7s-angle-right-circle
              | &nbsp;
              span.nav-label Komisi Affiliasi
      li class="#{active_sidebar_active?(:orders, :all)} #{active_sidebar_active?(:confirmations, :index)}"
        = link_to members_orders_path do
          i.pe-7s-cart
          | &nbsp;
          span.nav-label Daftar Order
      li class="#{active_sidebar_active?(:catalogs, :all)}"
        a href="#"
          span.nav-label <i class="pe-7s-ticket"></i> Katalog
          span.fa.arrow
        ul.nav.nav-second-level
          li class="#{active_sidebar_active?(:catalogs, :index)} #{active_sidebar_active?(:catalogs, :new)} #{active_sidebar_active?(:catalogs, :pending)} #{active_sidebar_active?(:catalogs, :inactive)}"
            = link_to members_catalogs_path do
              i.pe-7s-angle-right-circle
              | &nbsp;
              span.nav-label Katalog Produk
          li class="#{active_sidebar_active?(:catalogs, :download_catalogs)}"
            = link_to download_catalogs_members_catalogs_path do
              i.pe-7s-angle-right-circle
              | &nbsp;
              span.nav-label Download Katalog
      li class="#{active_sidebar_active?(:referrals, :all)}"
        = link_to members_referrals_path do
          i.pe-7s-users
          | &nbsp;
          span.nav-label Referral
      li class="#{active_sidebar_active?(:shops, :all)} #{active_sidebar_active?(:confirmations, :new)}"
        a href="#"
          span.nav-label <i class="pe-7s-cart"></i> Dropship
          span.fa.arrow
        ul.nav.nav-second-level
          li class="#{active_sidebar_active?(:shops, :index)} #{active_sidebar_active?(:shops, :show)}"
            = link_to members_shops_path do
              i.pe-7s-angle-right-circle
              | &nbsp;
              span.nav-label Belanja Produk
          li class="#{active_sidebar_active?(:shops, :cart)}"
            = link_to cart_members_shops_path do
              i.pe-7s-angle-right-circle
              | &nbsp;
              span.nav-label 
                | Keranjang &nbsp; <span class='cart-text-member'>#{render "members/shops/cart_text"}</span>
          li class="#{active_sidebar_active?(:confirmations, :new)}"
            = link_to new_members_confirmation_path do
              i.pe-7s-angle-right-circle
              | &nbsp;
              span.nav-label 
                | Konfirmasi Order
      li class="#{active_sidebar_active?(:payments, :all)} #{active_sidebar_active?(:payment_referrals, :all)} #{active_sidebar_active?(:affiliates, :all)}"
        a href="#"
          span.nav-label <i class="pe-7s-cash"></i> Pembayaran
          span.fa.arrow
        ul.nav.nav-second-level
          li class="#{active_sidebar_active?(:payments, :all)}"
            = link_to members_payments_path do
              i.pe-7s-angle-right-circle
              | &nbsp;
              span.nav-label Komisi penjualan
          li class="#{active_sidebar_active?(:payment_referrals, :all)}"
            = link_to members_payment_referrals_path do
              i.pe-7s-angle-right-circle
              | &nbsp;
              span.nav-label Komisi Referral
          li class="#{active_sidebar_active?(:affiliates, :all)}"
            = link_to members_affiliates_path do
              i.pe-7s-angle-right-circle
              | &nbsp;
              span.nav-label Komisi Affiliasi
      li class="#{active_sidebar_active?(:report_refunds, :all)}"
        = link_to members_report_refunds_path do
          i.pe-7s-cash
          | &nbsp;
          span.nav-label Refund Order
      li class="#{active_sidebar_active?(:invoices, :all)}"
        = link_to members_invoices_path do
          i.pe-7s-speaker
          | &nbsp;
          span.nav-label Tagihan
      li class="#{active_sidebar_active?(:managers, :index)}"
        = link_to members_managers_path do
          i.pe-7s-user
          | &nbsp;
          span.nav-label Manager
      li class="#{active_sidebar_active?(:blogs, :index)}"
        = link_to members_blogs_path do
          i.pe-7s-note2
          | &nbsp;
          span.nav-label Blog
      li class="#{active_sidebar_active?(:request_landing_presses, :all)} #{active_sidebar_active?(:members, :change_theme)}"
        a href="#"
          span.nav-label <i class="pe-7s-tools"></i> Tools
          span.fa.arrow
        ul.nav.nav-second-level
          / - if @member.package.premium_or_advance? == true && @member.site_info.domain_name.present?
          li class="#{active_sidebar_active?(:members, :change_theme)}"
            = link_to members_change_theme_path do
              i.pe-7s-angle-right-circle
              | &nbsp;
              span.nav-label Atur Tampilan Web
          li class="#{active_sidebar_active?(:request_landing_presses, :all)}"
            = link_to members_request_landing_presses_path do
              i.pe-7s-angle-right-circle
              | &nbsp;
              span.nav-label Request Landing Page
      li class="#{active_sidebar_active?(:guest_books, :all)}"
        = link_to members_guest_books_path do
          i.pe-7s-mail
          | &nbsp;
          span.nav-label Buku Tamu
      li class="#{active_sidebar_active?(:members, :edit)}"
        = link_to edit_members_member_path(@member) do
          i.pe-7s-config
          | &nbsp;
          span.nav-label Settings
    .about-store
      .about-store-title
        | Tentang Toko
      ul.sidebar
        li
          | Katalog: 
          = link_to "#{@member.catalogs.count rescue 0} items",'#'
        li  
          | Penjualan: 
          = link_to "#{@member.have_sales_quantity? rescue 0} items",'#'

      .about-store-title
        | Kontak
      ul.sidebar
        - if @member.email.present?
          li
            | Email: 
            = link_to @member.email, '#'
        - if @member.profile.phone.present?
          li
            | No HP/WA/LINE: 
            = link_to @member.profile.phone, '#'
        - if @member.contact.phone.present?
          li
            | No Telepon: 
            = link_to @member.contact.phone, '#'
        - if @member.contact.bbm.present?
          li
            | BBM: 
            = link_to @member.contact.bbm, '#'
        / - if @member.contact.wa.present?
        /   li
        /     | WA: 
        /     = link_to @member.contact.wa, '#'
        / - if @member.contact.line.present?
        /   li
        /     | Line: 
        /     = link_to @member.contact.line, '#'
        - if @member.contact.website.present?
          li
            | Website: 
            = link_to @member.contact.website, @member.contact.website
        - if @member.contact.facebook.present?
          li
            | Facebook: 
            = link_to 'Lihat', @member.contact.facebook
        - if @member.contact.instagram.present?
          li
            | Instagram: 
            = link_to 'Lihat', @member.contact.instagram