#right-sidebar.animated.fadeInRight.responsive-right-sidebar
  .p-m
    button#sidebar-close.right-sidebar-toggle.sidebar-button.btn.btn-default.m-b-md
      i.pe.pe-7s-close
  .payment-latest
    - if @last_commissions.present?
      .p-m.border-bottom.border-top
        span.font-bold.no-margins Komisi Terakhir
        br
      .p-m
        - @last_commissions.each do |p|
          span.font-bold.no-margins  ##{p.uniq_code} #{p.status?}
          .m-t-xs
            .row
              .col-xs-12
                h4.m-t-xs
                  = get_currency(p.commission_member)
                  i.fa.fa-level-up.text-success
                small #{get_datetime(p.created_at)}
          br
    - else
      p Komisi masih kosong



