- order_target = get_currency(PaymentReferral::ORDER_TARGET)
- total_order_percent = total_order_percent.to_f >= 100 ? 100 : total_order_percent.to_f
- if total_order.present?
  .hpanel.hblue.progress-cga
    .panel-body 
      .information-list
        h4.tcenter
          .row
            .col-xs-6
              small #{omset}
              br
              span
                = "#{get_currency(total_order)}"
            .col-xs-6
              small 
                | Target penjualan <i class="fa fa-question-circle" title="Komisi referral akan di bayar jika omset penjualan anda setiap periode nya melewati nilai target penjualan ini, jika  tidak melewatinya pembayaran komisi referral akan ditunda di periode selanjutnya jika melewati target penjualan."></i>
              br
              span
                b #{order_target}
            .col-xs-12
              br
              small 
                - if total_order_percent >= 100
                  | Selamat Omset anda priode <b>#{get_datetext(start_at)} - #{get_datetext(end_at)}</b> berhasil melewati<br> nilai target penjualan yang telah ditentukan, anda akan berhak mendapatkan pembayaran komisi referral dibawah anda periode ini.
                - else
                  | Komisi referral akan di bayar jika omset penjualan anda setiap periode nya melewati nilai target penjualan ini, jika  tidak melewatinya pembayaran komisi referral akan ditunda di periode selanjutnya jika melewati target penjualan.
        .progress
          .progress-bar.progress-bar-striped.progress-bar-info.active role = "progressbar" class="#{class_progress}"
            span.current-value #{total_order_percent}%
        br
        small Periode: <b>#{get_datetext(start_at)} - #{get_datetext(end_at)}</b>

javascript:
  var progress = #{total_order_percent};
  $(".#{class_progress}").css('width', progress + '%');
  $(".#{class_progress}").text(progress + '%');