.tabbable
  ul.nav.nav-tabs
    li.active
      a data-toggle="tab" href="#tab1"  Akun
    li
      a data-toggle="tab" href="#tab2"  Alamat
    li
      a data-toggle="tab" href="#tab3"  Rekening Bank
    li
      a data-toggle="tab" href="#tab4"  Kontak
    li
      a data-toggle="tab" href="#tab5"  Manager FEE
  .tab-content
    = f.fields_for :profile do |profile|
      = f.fields_for :address do |address|
        = f.fields_for :contact do |contact|
          #tab1.tab-pane.active
            = render partial: 'backend/users/form', locals: {f: f, profile: profile}
          #tab2.tab-pane
            = render partial: 'backend/users/form_address', locals: {address: address}
          #tab3.tab-pane
            = render partial: 'backend/users/form_bank_account', locals: {profile: profile}
          #tab4.tab-pane
            = render partial: 'backend/users/form_contact', locals: {contact: contact, profile: profile}
          #tab5.tab-pane
            .row
              .col-md-12
                h6 Manager FEE (%)
                = f.number_field :user_fee, class: 'form-control', required: true
