.row
	.col-md-12
		table-responsive
			table class="table table-striped table-bordered table-hover"
				thead
					tr
						th width="10%" Invoice Order
						th Pengirim  
						th Pembeli  
						th Nominal
						th Ke Akun Bank
						th Metode Pembayaran
						th Pesan
						th Status Pembayaran
						th Tanggal
				tbody
					- if @confirmations.blank?
						tr
							td colspan="9" 
								= render "shareds/empty_blank"
					- else
						- @confirmations.each_with_index do |resource, index| 
							tr 
								td
									= link_to resource.no_invoice, backend_order_path(resource.order)
								td
									= "#{resource.try(:from_bank_name)} - #{resource.try(:sender_name)} - #{resource.try(:from_account_number)}"
								td
									= resource.name
								td
									b
										= get_currency(resource.nominal) if resource.nominal.present?
								td
									= resource.bank_account
								td
									= resource.payment_method
								td
									= resource.message
								td
									= resource.order.status?
								td
									small
										= resource.try(:payment_date).strftime("%B, %d, %Y") if resource.payment_date.present?
			= paginate @confirmations, remote: true, param_name: "page_confirmations" if @confirmations.present?