.row
	.col-md-12
		.table-responsive
			table class="table table-striped table-bordered table-hover"
				thead
					tr
						th width="10%" Kode Invoice
						th Reseller
						th Nama Pembeli
						th Email Pembeli
						th Kontak
						th Pembayaran
						th Pengiriman
						th Konfirmasi
						th Total Distributor
						th Total Perusahaan
						th Total Reseller
						th Ongkir
						th TOTAL
						th Transaksi
				tbody
					- if @orders.blank?
						tr
							td colspan="14" 
								= render "shareds/empty_blank"
					- else
						- @orders.each_with_index do |resource, index| 
							tr 
								td
									= link_to "#{resource.code}", backend_order_path(resource)
								td
									= resource.member.username
								td
									= resource.payer_name
								td
									= resource.payer_email
								td
									= resource.payer_phone
								td
									= resource.status?
								td
									= resource.status_order?
								td
									= resource.confirmation?
								td
									b
										= get_currency(resource.basic_price) if resource.basic_price.present?
								td
									b
										= get_currency(resource.company_price) if resource.company_price.present?
								td
									b
										= get_currency(resource.price) if resource.price.present?
								td
									b
										= get_currency(resource.shipping_price) if resource.shipping_price.present?
								td
									b
										= get_currency(resource.total_price) if resource.total_price.present?
								td
									small
										= resource.try(:created_at).strftime("%H:%M %B, %d, %Y") 
			= paginate @orders, remote: true, param_name: "page_orders" if @orders.present?