.row
	.col-md-12
		.table-responsive
			table class="table table-striped table-bordered table-hover"
				thead
					tr
						th ID
						th Avatar
						th Kode
						th Username
						th Email
						th Nama Lengkap
						th Nama Toko
						th Paket
						th Katalog
						th Pesanan
						th Status
						th Terdaftar
				tbody
					- if @members.blank?
						tr
							td colspan="12" 
								= render "shareds/empty_blank"
					- else
						- @members.each_with_index do |resource, index|
							tr
								td
									= resource.id
								td
									= image_tag "#{resource.profile.avatar.url(:thumb)}", class: 'thumb'
								td
									= link_to resource.code, backend_member_path(resource)
								td
									= resource.username
								td
									| <a href="mailto:#{resource.email}">#{resource.email}</a>
								td
									= resource.try(:profile).try(:full_name)
									- if resource.address.city.present?
										br
										= "( #{resource.try(:address).try(:city)} )"
								td
									= resource.site_info.domain_name || '--'
								td
									= resource.try(:package).try(:title)
									br
									= "( #{get_currency(resource.try(:package).try(:price)) if resource.try(:package).try(:price).present?} )"
									br
									= "Invoice: <b>#{resource.invoices.size}</b>".html_safe
									br
									/- if resource.invoices.present? && resource.invoices.latest.first.status == "paid"
										= "Aktif: <b>#{resource.period_active?}</b>".html_safe
									/- else
										| Belum bayar paket
								td
									= "Aktif: <b>#{resource.catalogs.approved.size}</b>".html_safe
									br
									= "Inaktif: <b>#{resource.catalogs.inactive.size}</b>".html_safe
									br
									= "Pending: <b>#{resource.catalogs.pending.size}</b>".html_safe
								td
									= "Sukses: <b>#{resource.orders.paid.size}</b>".html_safe
									br
									= "Pending: <b>#{resource.orders.verification.size}</b>".html_safe
									br
									= "Batal: <b>#{resource.orders.cancelled.size}</b>".html_safe
								td
									small
										= resource.featured?
									br
									= resource.verified?
									br
									= resource.membership?
								td
									= resource.try(:created_at).strftime("%H:%M %B, %d, %Y")
			= paginate @members, remote: true, param_name: "page_members" if @members.present?