.row
	.col-md-12
		table-responsive
			table class="table table-striped table-bordered table-hover"
				thead
					tr
						th Member
						th Kode
						th Image
						th Judul
						th Stok
						th Harga Awal
						th Harga Jual
						th Kategori
						th Sub Kategori
						th Produk Status
						th Terakhir diubah
				tbody
					- if @catalogs.blank?
						tr
							td colspan="11" 
								= render "shareds/empty_blank"
					- else
						- @catalogs.each_with_index do |resource, index|
							tr
								td 
									= link_to resource.member.username, "#"
								td 
									= resource.code || '--'
									br
									= resource.status_label?
								td
									center
										= image_tag resource.product.cover.url(:thumb)
								td
									= resource.product.code
									br
									= link_to resource.product.title, '#', target: '_blank'
									br
									small from: #{link_to resource.product.merchant.merchant_info.title, '#', target: '_blank'}
								td
									small 
										= resource.product.only_status_stock?
										- if resource.product.ready_stock?
											br
											= resource.product.product_spec.stock
								td 
									= get_currency(resource.product.price) if resource.product.price.present?
								td 
									= get_currency(resource.price) if resource.price.present?
								td 
									= resource.product.try(:parent_category).try(:name)
								td 
									= resource.product.try(:sub_category).try(:name)
								td
									= resource.product.active?
								td 
									= resource.updated_at.strftime("%b, %d, %Y") if resource.updated_at.present?
			= paginate @catalogs, remote: true, param_name: "page_catalogs" if @catalogs.present?