- if current_user.master?
  - add_method = true
- else
  - add_method = false
  
.col-md-12
  = render 'backend/shareds/search_form_user'
  = form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do
    .row
      .col-md-4
        .box-top-detail.green
          b.txt-green #{@verifieds}
          br
          | Manager Terverifikasi
      .col-md-4
        .box-top-detail.orange
          b.txt-orange #{@featureds}
          br
          | Manager Pilihan
      .col-md-4
        .box-top-detail.red
          b.txt-red #{@not_verifieds}
          br
          | Manager Pending
    .widget
      = render partial: 'backend/shareds/prepare_table', locals: {table_name: 'AccountManagers', button_name: 'AccountManagers', add_method: add_method}
      .widget-content
        .table-responsive
          table class="table table-striped table-bordered table-hover"
            thead
              tr
                th width="1%"
                th ID
                th Kode
                th Username
                th Email
                th Nama Lengkap
                th FEE %
                th Reseller Disetujui
                th Reseller Pending
                th Reseller Pilihan
                th Status
                th Terdaftar
                th Action
            tbody
              - if @collection.blank?
                tr
                  td colspan="13" 
                    = render "shareds/empty_blank"
              - else
                - @collection.each_with_index do |resource, index|
                  tr
                    td
                      = check_box_tag "ids[]", resource.id
                    td
                      = resource.id
                    td
                      = link_to resource.code, resource_path(resource)
                    td
                      = resource.username
                    td
                      | <a href="mailto:#{resource.email}">#{resource.email}</a>
                    td
                      = resource.try(:profile).try(:full_name)
                    td
                      = "%#{resource.try(:user_fee)}"
                    td
                      = resource.members.verified.size
                    td
                      = resource.members.not_verified.size
                    td
                      = resource.members.verified.featured.size
                    td
                      = resource.verified?
                    td
                      = resource.try(:created_at).strftime("%H:%M %B, %d, %Y")
                    td
                      - if current_user.master?
                        = render partial: 'backend/shareds/prepare_action',
                          locals: { resource: resource, confirmation: "Are you sure delete this #{resource.username}", no_show: false }

        .widget-foot
          .pull-right
            = paginate @collection, remote: true if @collection.present?
          .clearfix
