<table border="1">
  <caption>Daftar Manager <%= show_search_form_date(params[:start_at], params[:end_at]) %></caption>
  <tr>
    <th>ID</th>
    <th>Kode</th>
    <th>Username</th>
    <th>Email</th>
    <th>Nama Lengkap</th>
    <th>Alamat</th>
    <th>Kontak</th>
    <th>Rekening Bank</th>
    <th>FEE %</th>
    <th>Reseller Disetujui</th>
    <th>Reseller Pending</th>
    <th>Reseller Pilihan</th>
    <th>Status</th>
    <th>Terdaftar</th>
  </tr>
  <% @collection_all.each_with_index do |resource, index| %>
  <tr>
    <td><%= resource.id %></td>
    <td><%= resource.code %></td>
    <td><%= resource.username %></td>
    <td><%= resource.email %></td>
    <td><%= resource.try(:profile).try(:full_name) %></td>
    <td><%= resource.address.place_info %></td>
    <td><%= "No. HP/WA : #{resource.profile.phone}" %></td>
    <td>
      <%= "#{resource.profile.bank_name} #{resource.profile.account_number}" %>
      <br>
      <%= "Nama Rekening : #{resource.profile.account_name}" %>
      <br>
      <%= "Cabang : #{resource.profile.bank_branch}" %>
    </td>
    <td><%= "%#{resource.try(:user_fee)}" %></td>
    <td><%= resource.members.verified.size %></td>
    <td><%= resource.members.not_verified.size %></td>
    <td><%= resource.members.verified.featured.size %></td>
    <td><%= resource.verified? %></td>
    <td><%= resource.try(:created_at).strftime("%H:%M %B, %d, %Y") %></td>
  </tr>
  <% end %>
</table>