$('#list-resellers').html("<%= escape_javascript render partial: 'list_resellers', locals: {members: @members} %>");
$('#list-catalogs').html("<%= escape_javascript render partial: 'list_catalogs', locals: {catalogs: @catalogs} %>");
$('#list-orders').html("<%= escape_javascript render partial: 'list_orders', locals: {orders: @orders} %>");
$('#list-confirmations').html("<%= escape_javascript render partial: 'list_confirmations', locals: {confirmations: @confirmations} %>");
$('#list-commissions').html("<%= escape_javascript render partial: 'list_commissions', locals: {commissions: @commissions} %>");
$('#list-payment_snapshots').html("<%= escape_javascript render partial: 'list_payment_snapshots', locals: {payment_snapshots: @payment_snapshots} %>");
$('#list-activities').html("<%= escape_javascript render partial: 'list_activities', locals: {activities: @activities} %>");