.col-md-12
	.widget
		.widget-head
			.pull-left
				| Detail Manager
			.widget-icons.pull-right
				| <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
				| <a href="#" class="wclose"><i class="fa fa-times"></i></a>
			.clearfix
		.widget-content
			.padd
				.tabbable
					ul.nav.nav-tabs
						li.active
							a data-toggle="tab" href="#tab1"  Akun
						li
							a data-toggle="tab" href="#tab2"  Alamat
						li
							a data-toggle="tab" href="#tab3"  Rekening Bank
						li
							a data-toggle="tab" href="#tab4"  Kontak
						li
							a data-toggle="tab" href="#tab5"  Manager FEE
					.tab-content
						- profile = resource.profile
						- address = resource.address
						- contact = resource.contact
						#tab1.tab-pane.active
							.row
								.col-md-6
									.form-horizontal
										.col-md-3
											.form-group
												b Terdaftar
										.col-md-9
											.form-group
												= get_datetime(resource.created_at)
										.col-md-3
											.form-group
												b Email
										.col-md-9
											.form-group
												= resource.email
										.col-md-3
											.form-group
												b Username
										.col-md-9
											.form-group
												= resource.username
										.col-md-3
											.form-group
												b Nama Lengkap
										.col-md-9
											.form-group
												= profile.full_name.present? ? profile.full_name : '-'
										.col-md-3
											.form-group
												b Tanggal Lahir
										.col-md-9
											.form-group
												= profile.birthday.present? ? profile.birthday : '-'
										.col-md-3
											.form-group
												b Jenis Kelamin
										.col-md-9
											.form-group
												= profile.gender.present? ? profile.gender : '-'
								.col-md-6
									.form-group
										= image_tag profile.avatar.url(:medium), style: 'width: 150px'
						#tab2.tab-pane
							.row
								.col-md-6
									.form-horizontal
										.col-md-3
											.form-group
												b Provinsi
										.col-md-9
											.form-group
												= address.province.present? ? address.province : "-" 
										.col-md-3
											.form-group
												b Kota
										.col-md-9
											.form-group
												= address.city.present? ? address.city : "-" 
										.col-md-3
											.form-group
												b Alamat
										.col-md-9
											.form-group
												= address.address.present? ? address.address : "-" 
										.col-md-3
											.form-group
												b Kode Pos
										.col-md-9
											.form-group
												= address.postcode.present? ? address.postcode : "-" 
						#tab3.tab-pane
							.row
								.col-md-6
									.form-horizontal
										.col-md-3
											.form-group
												b Nama Bank
										.col-md-9
											.form-group
												= profile.bank_name.present? ? profile.bank_name : "-" 
										.col-md-3
											.form-group
												b Cabang
										.col-md-9
											.form-group
												= profile.bank_branch.present? ? profile.bank_branch : "-" 
										.col-md-3
											.form-group
												b Nama Rekening
										.col-md-9
											.form-group
												= profile.account_name.present? ? profile.account_name : "-" 
										.col-md-3
											.form-group
												b Nomor Rekening
										.col-md-9
											.form-group
												= profile.account_number.present? ? profile.account_number : "-" 
						#tab4.tab-pane
							.row
								.col-md-8
									.form-horizontal
										.col-md-3
											.form-group
												b Nomor HP
										.col-md-9
											.form-group
												= profile.phone.present? ? profile.phone : "-" 
										.col-md-3
											.form-group
												b Nomor Telepon Rumah
										.col-md-9
											.form-group
												= contact.phone.present? ? contact.phone : "-" 
										.col-md-3
											.form-group
												b BBM
										.col-md-9
											.form-group
												= contact.bbm.present? ? contact.bbm : "-" 
										/ .col-md-3
										/   .form-group
										/     b Line
										/ .col-md-9
										/   .form-group
										/     = contact.line.present? ? contact.line : "-" 
										/ .col-md-3
										/   .form-group
										/     b WA
										/ .col-md-9
										/   .form-group
										/     = contact.wa.present? ? contact.wa : "-" 
										.col-md-3
											.form-group
												b Website
										.col-md-9
											.form-group
												= contact.website.present? ? contact.website : "-" 
										.col-md-3
											.form-group
												b Facebok
										.col-md-9
											.form-group
												= contact.facebook.present? ? contact.facebook : "-" 
										.col-md-3
											.form-group
												b Instagram
										.col-md-9
											.form-group
												= contact.instagram.present? ? contact.instagram : "-" 
						#tab5.tab-pane
							.row
								.col-md-12
									.form-horizontal
										.form-group
											.col-md-3
												b Manager FEE (%)
											.col-md-9
												= resource.user_fee.to_s + '%'

		.widget-foot
			= link_to '<i class="fa fa-chevron-left"></i>'.html_safe, :back, class: 'btn btn-xs btn-primary', title: "Kembali"
			| &nbsp;
			= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_resource_path(resource), class: 'btn btn-xs btn-warning', title: "Ubah"

	.panel
		.panel-body
			.tabbable
				ul.nav.nav-tabs
					li.active
						a data-toggle="tab" href="#tab2_1"  Reseller
					li
						a data-toggle="tab" href="#tab2_2"  Katalog
					li
						a data-toggle="tab" href="#tab2_3"  Order
					li
						a data-toggle="tab" href="#tab2_4"  Konfirmasi Pembayaran
					li
						a data-toggle="tab" href="#tab2_5"  Komisi Penjualan
					li
						a data-toggle="tab" href="#tab2_6"  Pembayaran
					li
						a data-toggle="tab" href="#tab2_7"  Aktifitas
				br
				.tab-content
					#tab2_1.tab-pane.active
						h2 align="center" Daftar Reseller
						br
						= form_for :search, url: backend_account_manager_path(resource), method: 'get', html: {class: 'form-search', remote: true} do
							.input-group.wd100
								.col-md-3.no-padding
									= text_field_tag :key_member, params[:key_member], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
								.col-md-2.no-padding
									= select_tag :status_member, options_for_select(User::STATUSES, params[:status_member]), prompt: 'Pilih Status', class: 'form-control'
								.col-md-3.no-padding
									= text_field_tag :start_at_member, nil, value: params[:start_at_member], class: 'form-control datepicker', placeholder: 'Start At'
								.col-md-3.no-padding
									= text_field_tag :end_at_member, nil, value: params[:end_at_member], class: 'form-control datepicker',  placeholder: 'End At'
								.col-md-1.no-padding
									= submit_tag :search, class: 'btn btn-info btn-block'
						br
						#list-resellers
							= render "list_resellers"
					#tab2_2.tab-pane
						h2 align="center" Daftar Katalog
						br
						= form_for :search, url: backend_account_manager_path(resource), method: 'get', html: {class: 'form-search', remote: true} do
							.input-group.wd100
								.col-md-3.no-padding
									= text_field_tag :key_catalog, params[:key_catalog], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
								.col-md-2.no-padding
									= select_tag :category_catalog, options_for_select(Category.roots.alfa.active.pluck(:name), params[:category_catalog]), prompt: 'Pilih Kategori', class: 'form-control'
								.col-md-2.no-padding
									= select_tag :status_catalog, options_for_select(Catalog::STATUSES, params[:status_catalog]), prompt: 'Pilih Status', class: 'form-control'
								.col-md-2.no-padding
									= text_field_tag :start_at_catalog, nil, value: params[:start_at_catalog], class: 'form-control datepicker', placeholder: 'Start At'
								.col-md-2.no-padding
									= text_field_tag :end_at_catalog, nil, value: params[:end_at_catalog], class: 'form-control datepicker',  placeholder: 'End At'
								.col-md-1.no-padding
									= submit_tag :search, class: 'btn btn-info btn-block'
						br
						#list-catalogs
							= render "list_catalogs"
						
					#tab2_3.tab-pane
						h2 align="center" Daftar Order
						br
						= form_for :search, url: backend_account_manager_path(resource), method: 'get', html: {class: 'form-search', remote: true} do
							.input-group.wd100
								.col-md-3.no-padding
									= text_field_tag :key_order, params[:key_order], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
								.col-md-2.no-padding
									= select_tag :order_status_id_order, options_for_select(PaymentStatus.to_a, params[:order_status_id_order]), prompt: 'Status Pembayaran', class: 'form-control'
								.col-md-2.no-padding
									= select_tag :track_order_order, options_for_select(Order::STATUSES, params[:track_order_order]), prompt: 'Status Pengiriman', class: 'form-control'
								.col-md-2.no-padding
									= text_field_tag :start_at_order, nil, value: params[:start_at_order], class: 'form-control datepicker', placeholder: 'Start At'
								.col-md-2.no-padding
									= text_field_tag :end_at_order, nil, value: params[:end_at_order], class: 'form-control datepicker',  placeholder: 'End At'
								.col-md-1.no-padding
									= submit_tag :search, class: 'btn btn-info btn-block'
						br
						#list-orders
							= render "list_orders"

					#tab2_4.tab-pane
						h2 align="center" Daftar Konfirmasi Pembayaran
						br
						= form_for :search, url: backend_account_manager_path(resource), method: 'get', html: {class: 'form-search', remote: true} do
							.input-group.wd100
								.col-md-3.no-padding
									= text_field_tag :key_confirmation, params[:key_confirmation], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
								.col-md-2.no-padding
									= select_tag :order_status_id_confirmation, options_for_select(PaymentStatus.to_a, params[:order_status_id_confirmation]), prompt: 'Pilih Status', class: 'form-control'
								.col-md-2.no-padding
									= text_field_tag :price_confirmation, nil, value: params[:price_confirmation], class: 'form-control', placeholder: 'Nominal Tagihan'
								.col-md-2.no-padding
									= text_field_tag :start_at_confirmation, nil, value: params[:start_at_confirmation], class: 'form-control datepicker', placeholder: 'Start At'
								.col-md-2.no-padding
									= text_field_tag :end_at_confirmation, nil, value: params[:end_at_confirmation], class: 'form-control datepicker',  placeholder: 'End At'
								.col-md-1.no-padding
									= submit_tag :search, class: 'btn btn-info btn-block'
						br
						#list-confirmations
							= render "list_confirmations"

					#tab2_5.tab-pane
						h2 align="center" Daftar Komisi Penjualan
						br
						= form_for :search, url: backend_account_manager_path(resource), method: 'get', html: {class: 'form-search', remote: true} do
							.input-group.wd100
								.col-md-3.no-padding
									= text_field_tag :key_commission, params[:key_commission], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
								.col-md-2.no-padding
									= text_field_tag :user_id_commission, nil, value: params[:user_id_commission], class: 'form-control', placeholder: 'Reseller Id'
								.col-md-2.no-padding
									= select_tag :status_commission, options_for_select(Commission::STATUSES, params[:status_commission]), prompt: 'Pilih Status', class: 'form-control'
								.col-md-2.no-padding
									= text_field_tag :start_at_commission, nil, value: params[:start_at_commission], class: 'form-control datepicker', placeholder: 'Start At'
								.col-md-2.no-padding
									= text_field_tag :end_at_commission, nil, value: params[:end_at_commission], class: 'form-control datepicker',  placeholder: 'End At'
								.col-md-1.no-padding
									= submit_tag :search, class: 'btn btn-info btn-block'
						br
						#list-commissions
							= render "list_commissions"

					#tab2_6.tab-pane
						h2 align="center" Daftar Pembayaran
						br
						= form_for :search, url: backend_account_manager_path(resource), method: 'get', html: {class: 'form-search', remote: true} do
							.input-group.wd100
								.col-md-5.no-padding
									= text_field_tag :key_payment_snapshot, params[:key_payment_snapshot], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
								.col-md-2.no-padding
									= select_tag :status_payment_snapshot, options_for_select(PaymentSnapshot::STATUSES, params[:status_payment_snapshot]), prompt: 'Pilih Status', class: 'form-control'
								.col-md-2.no-padding
									= text_field_tag :start_at_payment_snapshot, nil, value: params[:start_at_payment_snapshot], class: 'form-control datepicker', placeholder: 'Start At'
								.col-md-2.no-padding
									= text_field_tag :end_at_payment_snapshot, nil, value: params[:end_at_payment_snapshot], class: 'form-control datepicker',  placeholder: 'End At'
								.col-md-1.no-padding
									= submit_tag :search, class: 'btn btn-info btn-block'
						br
						#list-payment_snapshots
							= render "list_payment_snapshots"

					#tab2_7.tab-pane
						h2 align="center" Daftar Aktifitas
						br
						= form_for :search, url: backend_account_manager_path(resource), method: 'get', html: {class: 'form-search', remote: true} do
							.input-group.wd100
								.col-md-5.no-padding
									= text_field_tag :key_activities, params[:key_activities], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
								.col-md-2.no-padding
									= select_tag :status_activities, options_for_select(Activity::STATUSES, params[:status_activities]), prompt: 'Pilih Status', class: 'form-control'
								.col-md-2.no-padding
									= text_field_tag :start_at_activities, nil, value: params[:start_at_activities], class: 'form-control datepicker', placeholder: 'Start At'
								.col-md-2.no-padding
									= text_field_tag :end_at_activities, nil, value: params[:end_at_activities], class: 'form-control datepicker',  placeholder: 'End At'
								.col-md-1.no-padding
									= submit_tag :search, class: 'btn btn-info btn-block'
						br
						#list-activities
							= render "list_activities"