#wrapper
  .content.animate-panel
    .hpanel
      .title-member-content.mg-bot10
        b Buku Tamu
      - if @guest_books.blank?
        = render "shareds/empty_blank"
      - else
        - @guest_books.each do |f|
          .my-toggle
            li
              .view
                .row
                  .col-sm-12
                    .box-inbox
                      .row
                        .col-md-6
                          i.pe-7s-user
                          .title 
                            b 
                              = f.name
                            | &nbsp;
                            small 
                              | (<a mailto='#{f.email}'>#{f.email}</a>) &nbsp; #{f.status?}
                            br
                            = f.phone
                        .col-md-6
                          .date-time
                            = get_datetime(f.created_at)
              .detail
                .row
                  .col-sm-12
                    .toggle-wrapper
                      = f.description
      .widget-foot
        = paginate @guest_books, remote: true
