.row
  .col-md-12
    = link_to 'DELETE', resource_path(resource), class: 'btn btn-default pull-right', method: 'delete', data: {confirm: 'Apakah anda mau menghapus ini?'} if resource.id.present?
  .col-md-2
    .well
      center
        p Activated
        p = f.check_box :status
  .col-md-4
    h6 Parent
    = f.collection_select(:parent_id, Category.arrange_as_array({order: 'name'},
                          resource.possible_parents), :id, :name_for_selects, {:prompt=> "Select Upline "}, {class: "form-control"})
  .col-md-6
    h6 Nama
    = f.text_field :name, class: 'form-control', required: true
  .break
  .col-md-2
    h6 Icon
    .cover-img
      = image_tag f.object.file.url(:small)
    = f.file_field :file
  .col-md-10
    h6 Link Download
    = f.text_field :link_download, class: 'form-control', required: true
  .col-md-10
    h6 Deskripsi
    = f.text_area :description, class: 'form-control'
