.col-md-12
    = form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do
      .widget
        = render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Regions', button_name: 'Regions', add_method: true}
        .widget-content
          .table-responsive
            table class="table table-striped table-bordered table-hover"
              thead
                tr
                  th width="1%" #
                  th width="20%" Nama
                  th Status
                  th Parent
                  th Link
                  th width="10%" Action
              tbody
                - if @collection.blank?
                  tr
                    td colspan="5" 
                      = render "shareds/empty_blank"
                - else
                  - @collection.each_with_index do |resource, index|
                    tr
                      td = check_box_tag "ids[]", resource.id
                      td.uppercase
                        = link_to "#{resource.name}", edit_resource_path(resource)
                      td
                        = resource.active?
                      td
                        - resource.children.each_with_index do |r, index|
                          = link_to "#{r.name}", edit_resource_path(r)
                          | ,
                      td
                        center = resource.link_download?
                      td
                        = render partial: 'backend/shareds/prepare_action',
                          locals: { resource: resource, confirmation: "Are you sure delete this #{resource.id}", no_show: false }
          .widget-foot
            .pull-right
              = paginate @collection, remote: true if @collection.present?
            .clearfix