
/*=======================================
    About Us Page - Slider
=======================================*/
.slider-aboutus:before {
  background:linear-gradient(to right, rgba(0, 0, 0, 0.51) 0, transparent 100%), linear-gradient(to bottom, rgba(0, 0, 0, 0.84) 0, rgba(0, 0, 0, 0.37) 70%);
  width: 100%;
  height: 350px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  content: '';
}
.slider-aboutus {
  background: asset-url('about-us.jpg') 50% 0 no-repeat!important;
  background-size: cover!important;
  background-position: center!important;
  height: 350px!important;
  h1 {
    color: white;
    z-index: 2;
    position: relative;
    margin-top: 170px;
    font-family: SourceSansPro-ExtraLight;
    font-size: 40px!important;
    span {
      font-family: SourceSansPro-Bold;
      font-size: 40px!important;
    }
    .text-greenlow {
      color: #62cb31;
      font-family: SourceSansPro-ExtraLight;
      font-size: 40px!important;
    }
  }
}
.user {
  position: relative;
  width: 100%;
  .user-aboutus:before {
    background:linear-gradient(45deg, rgba(0, 86, 60, 0.94) 0%, rgba(4, 105, 74, 0.88) 100%);
    width: 100%;
    height: 350px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    content: '';
  }

  .user-aboutus {
    background: asset-url('bg-peoples.png') 50% 0 repeat!important;
    background-size: none!important;
    height: 350px!important;
    .heading {
      top: 50%;
      position: absolute;
      z-index: 1;
      transform: translateY(-50%);
      margin-top: 0px;
      width: 100%;
      left: 0px;
    }
    .btn-border {
      position: relative;
      z-index: 3;
      margin:auto;
      display: table;
    }
    h1 {
      color: white;
      z-index: 2;
      position: relative;
      font-family: SourceSansPro-SemiBold;
      font-size: 40px!important;
      small {
        font-family: SourceSansPro-Regular;
      }
      span {
        font-family: SourceSansPro-Bold;
        font-size: 40px!important;
      }
      .text-greenlow {
        color: #62cb31;
        font-family: SourceSansPro-ExtraLight;
        font-size: 40px!important;
      }
    }
  }
}
.description-aboutus {
  margin-top: 50px;
  .what-is-publisher {
    margin-top: 50px;
    .img-publisher {
      width: 100%;
      z-index: 2;
      position: relative;
    }
    .description-publisher {
      margin-top: 10px;
      h2 {
        font-size: 30px;
        color: $green;
      }
      p {
        font-size: 17px;
        line-height: 1.6em;
        letter-spacing: 0.2px;
        text-align: justify;
        color: #383838;
        z-index: 2;
        position: relative;
      }
    }
  }
  .bg-aboutus {
    background: asset-url('pattren.png') 50% 0 repeat!important;
    opacity: 0.6;
    width: 100%;
    position: absolute;
    top: 0px;
    height: 100%;
    z-index: 1;
  }
  .offer-aboutus {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    float: none;
    margin:auto;
    display: table;
    p {
      font-size: 17px;
      line-height: 1.6em;
      letter-spacing: 0.2px;
      text-align: justify;
      color: #383838;
      z-index: 2;
      position: relative;
      text-align: center;
    }
    h2 {
      z-index: 2;
      position: relative;
    }
  }
  .content-description {
    margin-bottom: 40px;

    .photo-about {
      position: relative;
      .title-about {
        position: absolute;
        z-index: 2;
        top: 20px;
        left: 50px;
        h2 {
          font-size: 72px;
        }
      }
      .img-about {
        width: 100%;
      }
    }
    .photo-about:before {
      background: linear-gradient(to right, rgba(0, 0, 0, 0) 0, transparent 100%), linear-gradient(to bottom, rgba(255, 255, 255, 0.84) 0, rgba(255, 255, 255, 0) 70%);
      width: 100%;
      height: 450px;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      content: '';
    }
    h2 {
      font-family: SourceSansPro-Regular;
      color: $green;
      .bold {
        font-family: SourceSansPro-Bold;
        font-size: 17px;
        color: #403f3f;
        font-weight: bold;
      }
    }
    h3 {
      font-family: SourceSansPro-Bold;
      color: $green;
      span {
        font-size: 15px;
        color: #403f3f;
        font-family: fantasy;
        font-weight: bold;
      }
    }
    p {
      font-size: 17px;
      color: #494949;
      line-height: 27px;
      text-align: justify;
    }
  }
}
.team-aboutus {
  margin-bottom: 50px;
  padding-top: 0px;
  .team-member {
    h4 {
      font-family: SourceSansPro-Semibold;
      span {
        font-size: 14px;
        line-height: 1em;
        font-family: SourceSansPro-Regular;
      }
    }
    .img-avatar {
      width: 150px!important;
      height:150px!important;
    }
    .hover-avatar:hover {
      transition-property: background;
      transition-duration: 0.4s;
      transition-timing-function: linear;
      content: '';
      position: absolute;
      width: 150px!important;
      height:150px!important;
      background: rgba(0, 0, 0, 0.68);
      left: 30.8%;
      .icon-social-media {
        visibility: visible;
        display: block;
        color: white;
        border-radius: 50px;
        position: relative;
        margin: auto;
        display: table;
        top: 40%;
        a {
          border:solid 1px rgba(238, 238, 238, 0.2);
          color: rgba(238, 238, 238, 0.78);
          font-size: 16px;
          width: 30px;
          display: table;
          height: 30px;
          float: left;
          margin: 0px 5px 0px 5px;
          i{
            transform: translateY(20%);
          }
        }
        a:hover {
          background-color: $green;
          i {
            color: white;
          }
        }
      }

    }
    .hover-avatar {
      background-color: transparent;
      position: absolute;
      width: 150px!important;
      height:150px!important;
      left: 30.8%;
      transition-property: background;
      transition-duration: 1s;
      transition-timing-function: linear;
      .icon-social-media {
        visibility: hidden;
        display: none;
      }
    }
  }
}

.img-publisher-mobile {
  visibility: hidden;
  display: none;
}
@media screen and (max-width: 1024px) {
  .landing-page {
    .about-us {
      .description {
        p {
          font-size: 14px;
        }
      }
    }
  }
  .description-aboutus {
    .what-is-publisher {
      margin-bottom: 30px;
      .description-publisher {
        margin-top: -10px;
        p {
          font-size: 14px;
          z-index: 2;
          position: relative;
        }
        h2 {
          z-index: 2;
          position: relative;
        }
      }
    }
  }
  .description-publisher {
    .img-publisher-mobile {
      visibility: hidden;
      display: none;
      margin-bottom: 15px;
      width: 70%!important;
      margin: auto;

    }
  }
  .img-publisher-desktop {
    visibility: visible;
    display: block;
  }
  .aboutus-page {
    .user{
      margin-bottom: -50px;
    }
  }
}

@media screen and (max-width: 991px) {
  .landing-page {
    .about-us {
      .about-title {
        visibility: hidden;
        display: none;
      }
      .about-title1 {
        visibility: visible;
        display: block;
        position: absolute;
        z-index: 2;
        right: 0px;
        bottom: -20px;
        background: white;
        position: absolute;
        padding-left: 20px;
        h2 {
          font-size: 60px;
        }
      }
      .description {
        margin-top: 100px;
        width: 100%;
        margin-left: 0px;

      }
    }
  }
  .description-publisher {
    .img-publisher-mobile {
      visibility: visible;
      display: block;
      margin-bottom: 15px;
      width: 70%!important;
      margin: auto;

    }
  }
  .img-publisher-desktop {
    visibility: hidden;
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .aboutus-page {
    .user{
      margin-bottom: -50px;
    }
  }
  .description-publisher {
    h2 {
      text-align: center;
      font-size: 25px;
    }
    p {
      font-size: 17px;
    }
    .img-publisher-mobile {
      visibility: visible;
      display: block;
      margin-bottom: 15px;
      width: 70%!important;
      margin: auto;
    }
  }
  .img-publisher-desktop {
    visibility: hidden;
    display: none;
  }
}
@media screen and (max-width: 736px) {
  .aboutus-page {
    .user{
      margin-bottom: -50px;
    }
  }
  .description-publisher {
    h2 {
      text-align: center;
      font-size: 25px;
    }
    p {
      font-size: 17px;
    }
    .img-publisher-mobile {
      visibility: visible;
      display: block;
      margin-bottom: 15px;
    }
  }
  .img-publisher-desktop {
    visibility: hidden;
    display: none;
  }
  .description-aboutus {
    .content-description {
      .description {
        padding: 0px;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .aboutus-page {
    .user-aboutus {
      .heading {
        margin-top: -25px;
        h1{
          font-size: 30px!important;
          span {
            font-size: 30px!important;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 550px) {
  .landing-page {
    .aboutus-page {
      .user {
        .user-aboutus {
          .heading {
            margin-top: -25px;
            h1{
              font-size:20px!important;
              span {
                font-size: 30px!important;
              }
            }
          }
        }
      }
    }
    .slider-aboutus {
      .content-slider {
        .heading {
          margin-top: 0px;
          h1{
            font-size: 30px!important;
            span {
              font-size: 30px!important;
            }
          }
        }
      }
    }
    .description-publisher {
      h2 {
        text-align: center;
        font-size: 20px!important;
      }
      p {
        font-size: 12px!important;
      }
    }
    .user {
      .user-aboutus {
        background: asset-url('bg-peoples.png') 50% 0 repeat!important;
        background-size: none!important;
        height: 350px!important;
        .heading {
          top: 50%;
          position: absolute;
          z-index: 1;
          transform: translateY(-50%);
          margin-top: 0px;
          width: 100%;
          left: 0px;
        }
        .btn-border {
          position: relative;
          z-index: 3;
          margin:auto;
          display: table;
        }
        h1 {
          color: white;
          z-index: 2;
          position: relative;
          font-family: SourceSansPro-SemiBold;
          font-size: 30px!important;
          small {
            font-family: SourceSansPro-Regular;
          }
          span {
            font-family: SourceSansPro-Bold;
            font-size: 20px!important;
          }
          .text-greenlow {
            color: #62cb31;
            font-family: SourceSansPro-ExtraLight;
            font-size: 40px!important;
          }
        }
      }
    }
  }
  .offer-aboutus {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    float: none;
    margin:auto;
    display: table;
    p {
      font-size: 12px;
      line-height: 1.6em;
      letter-spacing: 0.2px;
      text-align: justify;
      color: #383838;
      z-index: 2;
      position: relative;
      text-align: center;
    }
    h2 {
      z-index: 2;
      position: relative;
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 450px) {
  .landing-page {
    .user {
      .user-aboutus {
        h1 {
          color: white;
          z-index: 2;
          position: relative;
          font-family: SourceSansPro-SemiBold;
          font-size: 18px !important;
        }
        .btn-border {
          font-size: 12px!important;
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .description-publisher {
    .img-publisher-mobile {
      visibility: visible;
      display: block;
      margin-bottom: 20px;
      width: 90%!important;

    }
  }
}
