.contact {
  background-size: 100%;
  padding-top: 50px;
  padding-top:0px!important;
  margin-bottom: 40px;
  .contact-info {
    z-index: 2;
    position: relative;
    padding-bottom: 20px;
    h1 {
      margin-top: 0px;
      font-weight: bold;
      color: #3e3e3e;
    }
    .hallo {
      height: 40px;
    }
    h3 {
      color: #3e3e3e;
      font-size: 20px;
    }
  }
  .bg-aboutus {
    background: asset-url('pattren.png') 50% 0 repeat!important;
    background-size: cover;
  }
  #map {
    opacity: 0.5;
    transition-property: opacity;
    transition-duration: 0.4s;
    transition-timing-function: linear;
  }
  .gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
  }
  .gmnoprint div {
    background:none !important;
  }
  #maphomepage {
    height: 500px;
    width: 100%;
  }
  .content-contact {
    margin-top: 50px;
    .title-contact {
      margin-bottom: 60px;
    }
    .mobile {
      visibility: hidden;
      display: none;
    }
    .desktop {
      visibility: visible;
      display: block;
    }
    .move {
      margin-top: 20px;
      padding-bottom: 0px;
    }
    .site-contact-form {
      margin-bottom: 55px;
      input {
        width: 100%;
        height: 45px;
        background-color: white;
        padding: 0 .9375rem;
        border-radius: .125rem;
        color: #6c6b6b;
        font-family: inherit;
        font-size: 14px;
        font-weight: 400;
        line-height: 2.813rem;
        border: 1px solid #ddd;
        box-sizing: border-box;
        position: relative;
        transition: .3s linear;
        transition-property: border-color;
        display: block;
        margin: 0;
      }
      textarea {
        width: 100%;
        background-color: white;
        padding: 0 .9375rem;
        border-radius: .125rem;
        color: #6c6b6b;
        font-family: inherit;
        font-size: 14px;
        font-weight: 400;
        line-height: 2.813rem;
        border: 1px solid #ddd;
        box-sizing: border-box;
        transition: .3s linear;
        transition-property: border-color;
        display: block;
        margin: 0;
        height: 150px;
        resize: none;
        position: relative;
        top: .0625rem;
      }
      label {
        margin-bottom: .875rem;
        display: block;
        z-index: 2;
        position: relative;
      }
    }
    .space{
      margin-bottom: 30px;
      margin-top: 60px;
    }
    i {
      color: $green;
      font-size: 18px;
    }
    p {
      color: #2f2f2f ;
      padding: 1px 0;
      font-size: 16px;
    }
    address {
      color: #2f2f2f ;
      font-family: inherit;
      font-size: 16px;
      padding: 1.125rem 0;
      display: block;
      width: 100%;
      clear: both;
      font-style: normal;
      margin: .75rem 0 0;
      transition: .3s linear;
      transition-property: color;
    }
    .border-address {
      border-right: solid 1px $silverlow;
      border-left: solid 1px $silverlow;
    }
    .btn-green {
      background: $green;
      color: white;
      padding-right: 50px;
      padding-left: 50px;
      padding-top: 10px;
      padding-bottom: 10px;
      position: relative;
    }
    .btn-green:hover {
      background: #003827;
      color: white;
    }
  }
}
.contact:hover {
  #map {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.4s;
    transition-timing-function: linear;
  }
}


@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 991px) {
  .contact {
    .content-contact {
      .move {
        padding-top: 30px;
        margin: auto;
        display: table!important;
        position: relative;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .landing-page{
    .contact {
      padding: 20px 0 35px 0;
    }
  }
}
@media screen and (max-width: 736px) {

}

@media screen and (max-width: 600px) {

}
@media screen and (max-width: 550px) {
  .contact {
    .content-contact {
      i {
        font-size: 17px;
      }
      .space {
        margin-bottom: 10px;
        margin-top: 40px;
      }
      .site-contact-form {
        margin-bottom: 30px;
        margin-top: 20px;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .content-contact {
    i {
      color: $green;
      font-size: 14px!important;
    }
    p {
      color: #2f2f2f ;
      padding: 1px 0;
      font-size: 12px!important;
    }
    h3 {
      font-size: 14px!important;
    }
    address {
      color: #2f2f2f ;
      font-family: inherit;
      font-size: 12px!important;
      padding: 1.125rem 0;
      display: block;
      width: 100%;
      clear: both;
      font-style: normal;
      margin: .75rem 0 0;
      transition: .3s linear;
      transition-property: color;
    }
    .hallo {
      height: 30px!important;
    }
  }
}

@media screen and (max-width: 350px) {

}