@font-face {
  font-family: "SourceSansPro-Black";
  font-style: normal;
  font-weight: normal;
  src: font-url("SourceSansPro-Black.otf") format("truetype");
}
@font-face {
  font-family: "SourceSansPro-BlackIt";
  font-style: normal;
  font-weight: normal;
  src: font-url("SourceSansPro-BlackIt.otf") format("truetype");
}
@font-face {
  font-family: "SourceSansPro-Bold";
  font-style: normal;
  font-weight: normal;
  src: font-url("SourceSansPro-Bold.otf") format("truetype");
}
@font-face {
  font-family: "SourceSansPro-BoldIt";
  font-style: normal;
  font-weight: normal;
  src: font-url("SourceSansPro-BoldIt.otf") format("truetype");
}
@font-face {
  font-family: "SourceSansPro-ExtraLight";
  font-style: normal;
  font-weight: normal;
  src: font-url("SourceSansPro-ExtraLight.otf") format("truetype");
}
@font-face {
  font-family: "SourceSansPro-ExtraLightIt";
  font-style: normal;
  font-weight: normal;
  src: font-url("SourceSansPro-ExtraLightIt.otf") format("truetype");
}
@font-face {
  font-family: "SourceSansPro-It";
  font-style: normal;
  font-weight: normal;
  src: font-url("SourceSansPro-It.otf") format("truetype");
}
@font-face {
  font-family: "SourceSansPro-Light";
  font-style: normal;
  font-weight: normal;
  src: font-url("SourceSansPro-Light.otf") format("truetype");
}
@font-face {
  font-family: "SourceSansPro-LightIt";
  font-style: normal;
  font-weight: normal;
  src: font-url("SourceSansPro-LightIt.otf") format("truetype");
}
@font-face {
  font-family: "SourceSansPro-Regular";
  font-style: normal;
  font-weight: normal;
  src: font-url("SourceSansPro-Regular.otf") format("truetype");
}
@font-face {
  font-family: "SourceSansPro-Semibold";
  font-style: normal;
  font-weight: normal;
  src: font-url("SourceSansPro-Semibold.otf") format("truetype");
}
@font-face {
  font-family: "SourceSansPro-SemiboldIt";
  font-style: normal;
  font-weight: normal;
  src: font-url("SourceSansPro-SemiboldIt.otf") format("truetype");
}

