.landing-page {
  .solicitation {
    padding: 20px 0 10px 0;
    background: rgb(0, 86, 60);
    margin-top: -40px;
    .subscraib {
      margin-top: -75px;
      margin-bottom: -30px;
      .content-subscraib {
        background: #04694a;
        border-radius: 50px;
        margin: auto;
        z-index: 6;
        line-height: 4.625rem;
        padding-top: 8px;
        padding-right: 20px;
        padding-left: 20px;
        position: relative;
        top: 2.375rem;
        p {
          color: white;
          text-align: left;
          font-size: 18px;
          margin-left: 20px;
        }
        .site-form {
          position: relative;
          margin: 0;
          padding: 0;
          display: block;
          width: 100%;
          clear: both;
          input[type=email] {
            width: 100%;
            height: 40px;
            line-height: 2.688rem;
            border: 0px;
            border-radius: 1.3125rem;
            display: block;
            margin: 0;
            background: #00563c;
            color: white;
            font-weight: 400;
            padding: 0 11.25rem 0 1.25rem;
          }
          input[type=submit] {
            width: 9.375rem;
            min-width: .625rem;
            height: 40px;
            margin-top: 4px;
            min-height: .625rem;
            line-height: 2.688rem;
            margin: auto 0;
            background-color: #fff;
            border-radius: 0px 15px 15px 0px;
            box-shadow: none;
            color: $green;
            font-family: inherit;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            position: absolute;
            top: 0.5px;
            right: 0;
            bottom: 0;
            transition: .3s linear;
            transition-property: background,color;
            border: .063rem solid #fff;
          }
          input::-webkit-input-placeholder{
            color: #ccc;
          }
          label {
            width: 100%;
            margin: 0;
            padding: 0;
            display: inline-block;
            position: relative;
            overflow: hidden;
            vertical-align: middle;
          }
        }
      }
    }
    .content {
      margin-top: 50px;
      h1 {
        color: white;
      }
      p {
        color: $silverlight;
      }
      .logo {
        margin-top: 50px;
        margin-bottom: 10px;
      }
      .site-social-icons {
        width: 100%;
        clear: both;
        a:hover {
          background: #009e6c;
          color: #fff;
          border-color: #009e6c;
        }
        a {
          width: 50px;
          height: 50px;
          border: .063rem solid #009e6c;
          border-radius: 12.5rem;
          overflow: hidden;
          position: relative;
          text-align: center;
          margin: .1875rem;
          transition: .3s linear;
          transition-property: background,color,border-color;
          display: inline-block;
          i {
            color: #fff;
            font-size: 18px;
            font-weight: 400;
            line-height: 2.8em;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: block;
            height: 100%;
            width: 100%;
          }
        }
      }
      .site-copyright {
        color: #8b8e92;
        font-family: inherit;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.563rem;
        width: 100%;
        clear: both;
        margin-top: 1.25rem;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .landing-page {
    .solicitation {
      margin-top: -7px;
      .content-subscraib {
        width: 100%;
        background: #04694a;
        border-radius: 10px!important;
        margin: auto;
        z-index: 6;
        line-height: 4.625rem;
        padding-top: 0px;
        margin-top: -45px;
        padding-right: 20px;
        padding-left: 20px;
        position: relative;
        padding-bottom: 10px;
        top: 2.375rem;
        p {
          color: white!important;
          text-align: center!important;
          font-size: 18px!important;
          margin-left: 0px;
          margin-bottom: 0px;
        }
        .site-form {
          position: relative;
          margin: 0;
          padding: 0;
          display: block;
          width: 100%;
          clear: both;
          input[type=email] {
            width: 100%;
            height: 30px;
            line-height: 2.688rem;
            border: 0px;
            border-radius: 1.3125rem;
            display: block;
            margin: 0;
            background: #00563c;
            color: white;
            font-weight: 400;
            padding: 0 11.25rem 0 1.25rem;
          }
          input[type=submit] {
            width: 9.375rem;
            min-width: .625rem;
            height: 30px;
            margin-top: 4px;
            min-height: .625rem;
            line-height: 2.688rem;
            margin: auto 0;
            background-color: #fff;
            border-radius: 0px 15px 15px 0px;
            box-shadow: none;
            color: $green;
            font-family: inherit;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            position: absolute;
            top: 0.5px;
            right: 0;
            bottom: 0;
            transition: .3s linear;
            transition-property: background,color;
            border: .063rem solid #fff;
          }
          input::-webkit-input-placeholder{
            color: #ccc;
          }
          label {
            width: 100%;
            margin: 0;
            padding: 0;
            display: inline-block;
            position: relative;
            overflow: hidden;
            vertical-align: middle;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 991px) {
  
}

@media screen and (max-width: 768px) {
  .landing-page {
    .solicitation {
      margin-top: 8px;
      h1 {
        font-size: 20px;
      }
      .subscraib {
        margin-top: 75px;
        margin-bottom: 0px;
        .content-subscraib {
          width: 70%!important;
          background: #04694a;
          border-radius: 10px!important;
          margin: auto;
          z-index: 2;
          line-height: 4.625rem;
          padding-top: 0px;
          margin-top: -165px!important;
          padding-right: 20px;
          padding-left: 20px;
          position: relative;
          padding-bottom: 10px;
          top: 2.375rem;
          p {
            color: white;
            text-align: center;
            font-size: 18px;
            margin-left: 0px;
            margin-bottom: 0px;
          }
          .site-form {
            position: relative;
            margin: 0;
            padding: 0;
            display: block;
            width: 100%;
            clear: both;
            input[type=email] {
              width: 100%;
              height: 30px;
              line-height: 2.688rem;
              border: 0px;
              border-radius: 1.3125rem;
              display: block;
              margin: 0;
              background: #00563c;
              color: white;
              font-weight: 400;
              padding: 0 11.25rem 0 1.25rem;
            }
            input[type=submit] {
              width: 9.375rem;
              min-width: .625rem;
              height: 30px;
              margin-top: 4px;
              min-height: .625rem;
              line-height: 2.688rem;
              margin: auto 0;
              background-color: #fff;
              border-radius: 0px 15px 15px 0px;
              box-shadow: none;
              color: $green;
              font-family: inherit;
              font-size: 14px;
              font-weight: 700;
              text-transform: uppercase;
              position: absolute;
              top: 0.5px;
              right: 0;
              bottom: 0;
              transition: .3s linear;
              transition-property: background,color;
              border: .063rem solid #fff;
            }
            input::-webkit-input-placeholder{
              color: #ccc;
            }
            label {
              width: 100%;
              margin: 0;
              padding: 0;
              display: inline-block;
              position: relative;
              overflow: hidden;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}



@media screen and (max-width: 550px) {

}

@media screen and (max-width: 450px) {
  .landing-page{
    .solicitation {
      .subscraib {
        .content-subscraib {
          width: 100% !important;
          border-radius: 0px!important;
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  
}