.landing-page{
  .alert-register {
    position: absolute;
    right: 15px;
    width: 95%;
  }
  .login {
    background: #f1f1f1;
    padding: 0px;
    color: black;
    padding: 0px!important;
    .content-login {
      margin-top: 130px;
      background-color: white;
      margin-bottom: 65px;
      height: 100ch;
      .introduce-login {
        visibility: visible;
        display: block;
        height: 100ch;
        background: asset-url('new-bg-login.jpg');
        position: relative;
        background-size: cover;
        padding: 100px 100px 100px 100px;
        .overlay {
          background: linear-gradient(to right, rgba(0, 0, 0, 0.93) 0, transparent 100%), linear-gradient(to bottom, rgba(0, 0, 0, 0.53) 0, rgba(0, 0, 0, 0) 70%);
          position: absolute;
          width: 100%;
          height: 100ch;
          top: 0;
          left: 0;
          z-index: 1;
        }
        .introduce {
          line-height: 1.2em;
          color: white;
          position: relative;
          z-index: 2;
          h1 {
            font-size: 40px;
          }
          h2 {

          }
          p {
            font-size: 14px;
            color: #f1f1f1;
            line-height: 1.3em;
            text-align: justify;
          }
          .text-cpaground {
            color: #62cb31;
          }
        }
        h3 {
          color: white;
          z-index: 2;
          position: relative;
          margin-top: 20px;
        }
        .ask {
          position: absolute;
          bottom: 100px;
          color: white;
          z-index: 2;
          line-height: 2em;
          a {
            color: #52baff;
            font-weight: 600;
          }
        }
      }
      .login-form {
        padding: 150px 100px 100px 100px;
      }
      .register-form {
        padding: 120px 100px 100px 100px;
        z-index: 2;
        position: relative;
      }
      .form-sessions {
        .forgot-password {
          visibility: hidden;
          display: none;
        }
        .btn-login {
          height: 45px;
        }
        .btn-register {
          background-color: #3498db;
          border-color: #3498db;
          color: #FFFFFF;
        }
        .btn-register:hover{
          color: #fff;
          background-color: #5bc0de;
          border-color: #46b8da;
        }
        .hr-label {
          position: relative;
          text-align: center;
          clear: both;
          border-top: 1px solid #ccc;
          width: 100%;
          margin-bottom: 50px;
          margin-top: 40px;
        }
        .hr-label::before{
          content: 'OR';
          background: white;
          border-radius: 50%;
          position: absolute;
          width: 40px;
          height: 40px;
          line-height: 40px;
          left: 0;
          right: 0;
          margin: auto;
          top: -20px;
          font-weight: bold;
          border: solid 1px #ccc;
        }
        .input {
          border: solid 1px #ccc;
          width: 100%;
          height: 45px;
          background-color: #f8f7f7;
          padding: 0 .9375rem;
          border-radius: .125rem;
          color: #6c6b6b;
          font-family: inherit;
          font-size: 14px;
          font-weight: 400;
          line-height: 2.813rem;
          box-sizing: border-box;
          transition: .3s linear;
          transition-property: border-color;
          display: block;
          margin: 0;
        }

        .phone-code {
          width: 30%;
          padding-right: 4px;
        }
        .phone {
          padding-left: 4px;
        }

        .password {
          padding-right: 4px;
        }
        .re-password {
          padding-left: 4px;
        }
        .checkbox-label {
          margin-top: 15px;
          margin-bottom: 15px;
          input[type=checkbox] {
            height: 18px ;
            width: 18px;
            float: left;
            margin-right: 6px;
          }
        }
        label {
          margin-bottom: .875rem;
          display: block;
          margin-right: 0;
        }
      }
    }
  }
}
.fotter-login {
  background: #00563c;
  height: 55px;
  z-index: 2;
  position: relative;
  padding: 20px 0 30px 0!important;
  .copyright-login {
    color: white;
  }
}
@media screen and (max-width: 991px) {

}

@media screen and (max-width: 768px) {
  .landing-page{
    .login {
      background: #f1f1f1;
      padding: 0px;
      color: black;
      padding: 0px!important;
      .content-login {
        margin-top: 0;
        background-color: white;
        margin-bottom: 0px;
        height: 600px;
        .login-form {
          padding: 200px 20px 0px 20px;
          z-index: 2;
          position: relative;
          h2 {
            color: white;
          }
          p {
            color: white;
            margin-top: -10px;
          }
        }
        .register-form {
          padding: 120px 20px 0px 20px;
          h2 {
            color: white;
          }
          p {
            color: white;
            margin-top: -10px;
          }
        }
        .introduce-login {
          visibility: hidden;
          display: none;
        }
        .form-sessions {
          .forgot-password {
            visibility: visible;
            display: block;
          }
        }
      }
    }
  }
  .overlay-m {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.93) 0, transparent 100%), linear-gradient(to bottom, rgba(0, 0, 0, 0.53) 0, rgba(0, 0, 0, 0) 70%);
    position: absolute;
    width: 100%;
    height: 600px;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .fotter-login {
    text-align: center;
  }
  .bg-login {
    background-image: asset-url('new-bg-login.jpg')!important;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 736px) {
  
}

@media screen and (max-width: 600px) {

}
@media screen and (max-width: 550px) {
  
}

@media screen and (max-width: 450px) {

}

@media screen and (max-width: 414px) {
  
}

@media screen and (max-width: 350px) {
  
}

