.landing-page {
  .slider:before {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.51) 0, transparent 100%), linear-gradient(to bottom, rgba(0, 0, 0, 0.84) 0, rgba(0, 0, 0, 0.37) 70%);
    width: 100%;
    height: 790px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    content: '';
  }
  .slider {
    h1 {
      color: white;
      font-weight: lighter;
      font-size: 65px;
      span {
        font-size: 65px;
      }
    }
    h2 {
      color: white;
      font-size: 30px;
      font-weight: 300;
      margin-top: 10px;
    }
    .content-slider {
      z-index: 2;
    }
    .line-1{
      position: relative;
      margin: auto;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
    }
    .anim-typewriter{
      animation: typewriter 4s steps(44) 1s 1 normal both,
                 blinkTextCursor 500ms steps(44) infinite normal;
    }
    @keyframes typewriter{
      from{width: 0;}
      to{width: 18em;}
    }
    @keyframes blinkTextCursor{
      from{border-right-color: rgba(255,255,255,.75);}
      to{border-right-color: transparent;}
    }
  }
}


@media screen and (max-width: 991px) {
  
}

@media screen and (max-width: 768px) {
  .landing-page {
    header {
      height: 500px;
    }
    .slider:before {
      height: 500px;
    }
    .heading {
      margin-top: 60px;
      text-align:center;
      color: #edf0f5;
    }
    .btn-menu-header {
      padding: 7px;
      margin-top: 20px!important;
    }
  }
}

@media screen and (max-width: 550px) {
  
}

@media screen and (max-width: 450px) {
  
}

@media screen and (max-width: 350px) {
  
  .landing-page {
    .slider {
      h1 {
        font-size: 25px!important;
        span {
          font-size: 25px!important;
        }
      }
      h2 {
        font-size: 16px!important;
      }
    }
  }
}