/* --------- Color Style ---------*/
$blue : #00c0ff;
$green : #99bc20;
$silver : #f5f5f5;
$red : #e13a37;
$grey : #e4e5e7;
$border-cs : #e4e5e7;
/**/

/* --------- Global Style ---------*/
button a{
	color: black;
	&:hover{
		color: black;
	}
}

a{
	color: $blue;
	&:hover,&:focus{
		color:$blue;
	}
}

thead{
	background: #f9f9f9;
}

tbody{
	.approve{
		background: $green;
		padding: 2px 5px;
		color: white;
		border-radius: 5px;
		font-size: 9px;
		font-weight: bold;
	}
}

td.view a{
	padding: 5px 10px;
	background: $blue;
}

.alert-table{
	display: inline-block;
	width: 100%;
	font-size: 14px;
}

.widget-foot{
	width: 100%;
	display: inline-block;
}
/**/

/* --------- Margin Style ---------*/
.padding0{
	padding: 0 15px!important;
}
.mg-bot0{
	margin-bottom: 0!important;
	margin-top: 0;
}
.mg-bot10{
	margin-bottom: 10px;
}
.mg-bot15{
	margin-bottom: 15px;
}
.mg-bot20{
	margin-bottom: 20px;
}
.mg-bot30{
	margin-bottom: 30px;
}
.mg-top10{
	margin-top: 10px;
}
.mg-top15{
	margin-top: 15px;
}
.mg-top20{
	margin-top: 20px!important;
}
.wd100{
	width: 100%!important;
}
.mg0{
	margin: 0!important;
}
.mg-auto{
	margin: auto;
	display: table;
}
.mg-left10{
	margin-left: 10%;
}
/**/

/* ----------Text Style ---------*/
.uppercase{
	text-transform: uppercase;
	a{
		color: $blue;
	}
}
.red{
	color: red;
}
.big-font{
	font-size: 45px;
}
.del{
	text-decoration: line-through;
}
.tleft{
	text-align: left;
}
.tright{
	text-align: right;
}
.center{
	text-align: center!important;
	th{
		text-align: center;
	}
}
/**/

/* ----------Custom Style ---------*/
.box-info{
	height: 137px;
	margin-bottom: 20px;
}
.datepicker{
	padding: 10px;
}
.title-member-content{
	font-size: 25px;
	.pro-cc{
		color: #6a6c6f;
	}
	.pro-cc2{
		font-size: 20px;
	}
}
.input-key{
	float: left;
	width: 82%;
}
.submit-search{
	float: left;
	width: 18%;
}
.form-custom{
	background: #f5f5f5;
	color: #706c6c;
	border-radius: 0px 0px 0px 0px;
  border: 1px solid #e4e4e4;
	&:hover{
		opacity: 0.8;
		transition: all 0.5s ease-in-out;
		background: #d9d9d9;
	}
}

.box-search{
	.form-control{
		border-radius: 0px 0px 0px 0px;
	}
}

.box-search-catalog{
	margin: 15px 0;
	.select-category{
		width: 100%;
		float: left;
		cursor: pointer;
		color: white;
		margin-right: 5px;
		margin-bottom: 10px;
	}
	.form-control{
		border-radius: 0px 0px 0px 0px;
	}
}

.box-catalog-product{
	border: 1px solid;
	border-color: #c9c9c9;
	border-radius: 3px;
	margin-bottom: 20px;
	background: white;
	&:hover{
		box-shadow: 0 0 4px 1px rgba(204,204,204,.48);
	}
	.box-img-product{
		width: 100%;
		height: 150px;
		position: relative;
		border-bottom: 1px solid #c9c9c9;
		overflow: hidden;
		&:hover{
			.overplay{
				background:#0000007a;
				transition: all 0.5s ease-in-out;
			}
			.button{
				margin: auto;
				display: table;
				position: relative;
				top: 43%;
				a{
					color: white;
				}
			}
		}
		.button{
			display: none;
		}
		.overplay{
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 3;
		}
		.pro-chx{
			position: absolute;
			right: -8px;
			margin: 0;
			height: 25px;
			width: 25px;
			z-index: 3;
			top: 0;
		}
		.catogory-catalog{
			bottom: 0px;
			position: absolute;
			background: #e6e6d2;
			color: black;
			padding: 2px 7px;
			font-size: 10px;
			left: 0px;
			z-index: 2;
		}
		.product-id-label{
			position: absolute;
			background: #fbe83d;
			color: black;
			padding: 2px 5px;
			font-size: 10px;
			z-index: 2;
			top: 0;
			text-transform: uppercase;
		}
		.img-catalog-product{
			top: -9999px;
			right: -9999px;
			left: -9999px;
			bottom: -9999px;
			margin: auto;
			position: absolute;
			width: 100%;
			height: auto;
			z-index: 1;
			&:hover{
				transform: scale(1.1);
				-webkit-transition: all 0.25s ease-in-out;
				transition: all 0.25s ease-in-out;
			}
		}
	}
	.box-desc-product{
		padding: 5px;
		text-align: center;
		.title-product-catalog{
			font-size: 11px;
			font-weight: bold;
			overflow: hidden;
			height: 30px;
		}
		.desc-product-catalog{
			font-size: 11px;
		}
		.price-product-catalog{
			color: #ff5722;
			font-weight: bold;
			font-size: 13px;
			margin-top: 2px;
			small{
				font-size: 9px;
				font-weight: normal;
				color: grey;
			}
			&.price-green{
				color: $green;
			}
		}
	}
}

.hpanel .panel-body{
	float: left;
	width: 100%;
}

.btn-save-catalog{
	background: $blue;
	border: none;
	padding: 8px 20px;
	font-size: 13px;
	position: relative;
	top: -7px;
	margin-left: 14px;
	float: right;
	color: white;
	border-radius: 3px;
	&:hover, &:focus{
		transition: all 0.5s ease-in-out;
		background: #00a1ff;
		border: none;
	}
}

.box-list-catalog{
	width: 100%;
	float: left;
	background: white;
	border: 1px solid;
	border-color: #e4e5e7;
	border-radius: 3px;
	padding: 15px;
	margin-bottom: 10px;
	.status-active{
		color: black;
		padding-left: 5px;
	}
	.status{
		color: $green;
		font-size: 14px;
		border: 1px solid;
		float: left;
		margin-top: 10px;
		padding: 1px 7px;
		border-radius: 3px;
	}
	.pre-order{
		color: orange;
	}
	.out-stock{
		color: red;
	}
	.box-img-catalog{
		height: 120px;
		overflow: hidden;
		position: relative;
		border: 1px solid;
		border-color: #e4e5e7;
		.title-inactive{
			position: absolute;
			background: $blue;
			color: white;
			padding: 3px 15px;
			right: 0;
			word-spacing: 5px;
		}
		.label-diskon{
			position: absolute;
			background: #c92020;
			font-size: 12px;
			color: white;
			padding: 2px 7px;
			bottom: 0;
		}
		.img-list-catalog{
			top: -9999px;
			right: -9999px;
			left: -9999px;
			bottom: -9999px;
			margin: auto;
			position: absolute;
			width: 100%;
			height: auto;
			&:hover{
				transform: scale(1.1);
				-webkit-transition: all 0.25s ease-in-out;
				transition: all 0.25s ease-in-out;
			}
		}
	}
	.title-list-catalog{
		font-size: 17px;
		margin-bottom: 5px;
		small{
			font-size: 13px;
			margin-left: 5px;
		}
	}
	.category-list-catalog{
		font-size: 11px;
		color: #989797;
	}
	.price-list-catalog{
		margin: 5px 0;
		color: $green;
		font-size: 13px;
		.non-active{
			color: #989797;
			font-size: 11px;
			text-decoration: line-through;
		}
	}
	.start-price-list-catalog{
		font-size: 11px;
		color: #989797
	}
	.info-list-product{
		font-size: 10px;
		color: black;
		.act{
			color: $blue;
			margin-right: 3px;
		}
		.act2{
			color: $blue;
		}
	}
	.btn-del-list-product{
		background: #e4423d;
		padding: 3px 8px;
		color: white;
		border-radius: 3px;
		font-size: 15px;
		margin-left: 3px;
	}
	.btn-disc-list-product{
		background: #0a98ce;
		padding: 2px 8px;
		color: white;
		border-radius: 3px;
		font-size: 15px;
		margin-left: 5px;
	}
	.btn-active-product{
		background: #4cae4c;
		padding: 3px 8px;
		color: white;
		border-radius: 3px;
		font-size: 15px;
		margin-left: 5px;
	}
}
.box-check-all{
	float: left;
	position: relative;
	margin-left: 2px;
	.check-all{
		height: 20px;
		width: 20px;
		margin-bottom: 10px;
	}
}

.checkall-txt{
	font-size: 15px;
	position: relative;
	margin-left: 3px;
}

.pd-custom{
	padding: 25px 0;
	line-height: 15px;
}

.desc-modal{
	font-size: 13px;
	line-height: 20px;
	margin-bottom: 20px;
}

.bg-title{
	color: #1a1a1a;
	font-weight: bold;
}

.btn-save-modal{
	width: 110px;
	background: $green;
	color: white;
	&:hover{
		background:#327532;
		transition: all 0.5s ease-in-out;
	}
}
.img-edit-catalog{
	width: 140px;
	margin-top: 25px;
}

.box-table{
	padding: 20px;
	background: white;
	border: 1px solid #e6e6e6;
	width: 100%;
	float: left;
}

.table-striped > tbody > tr:nth-of-type(odd) {
	background-color: #ffffff;
}

.table-striped > .tbody-detail > tr:nth-of-type(odd) {
	background: #f1f3f65c;
}

.about-store-title {
	margin-top: 20px;
	padding-left: 22px;
	color: #6a6c6f;
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 5px;
}

.sidebar{
	li{
		font-size: 10px;
		a{
			color: #0a98ce;
		}
	}
}

.well-message {
	font-size: 15px;
	a{
		color: $blue;
	}
}

.box-dashboard-info{
	border: 1px solid #e2e2e2;
	border-radius: 3px;
	background: white;
	margin-bottom: 20px;
	overflow: hidden;
	.title-info{
		border-bottom: #e2e2e2;
		padding: 10px 0px;
		background: #f9f9f9;
		color: #525252;
		padding-left: 10px;
		border-bottom: 1px solid #e2e2e2;
	}
	.box-content-info{
		font-size: 40px;
		text-align: center;
		padding: 20px 0;
		color: #525252;
		position: relative;
		.red{
			color: $red;
		}
		.blue{
			color: $blue;
		}
		.txt{
			font-size: 14px;
		}
		.detail{
			position: absolute;
			font-size: 10px;
			right: 10px;
			top: 10px;
			.bg{
				font-weight: bold;
				font-size: 20px;
			}
		}
		.img-trafic{

		}
	}
	.footer-view{
		padding: 5px 10px;
		color: #525252;
	}
}

.box-recent-activity{
	background: white;
	margin-top: 15px;
	border: 1px solid #e2e2e2;
	border-bottom: none;
	.title-recent-activity{
		padding: 10px 15px;
		background: #f9f9f9;
		font-size: 13px;
		border-bottom: 1px solid #e2e2e2;
		color: #525252;
	}
	.content-activity{
		padding: 10px 15px;
		font-size: 10px;
		border-bottom: 1px solid #e2e2e2;
		a{
			color: $blue;
			font-size: 15px;
			margin-right: 3px;
		}
	}
}

.box-latest-order{
	background: white;
	margin-bottom: 20px;
	border: 1px solid $border-cs;
	width: 100%;
	display: inline-block;
	.title-latest-order{
		padding: 10px 15px;
		background: #f9f9f9;
		font-size: 13px;
		border-bottom: 1px solid #e2e2e2;
		color: #525252;
	}
}

.bg-white{
	background: white;
}

.box-trafic{
	text-align: center;
	background: white;
	border: 1px solid #e2e2e2;
	padding: 30px 0;
	margin-bottom: 20px;
	.desc-trafic{
		line-height: 20px;
		margin-top: 10px;
		b{
			font-size: 15px;
		}
	}
}

.box-schema{
	float: left;
	width: 100%;
	min-height: 400px;
	background: white;
	border: 1px solid $grey;
	margin-bottom: 20px;
	padding: 20px;
	.exTab{
		width: 100%;
		display: inline-block;
		padding: 20px;
		.nav-tabs > li{
			float: left;
			width: 25%;
		}
		.nav-tabs > li > a{
			border-radius: 0;
		}
		.nav-tabs > li.active > a{
			border-color: $blue;
		}
	}
	.revenue{
		border: solid 1px #e4e5e7;
		border-radius: 5px;
		padding: 8px 20px;
		font-size: 18px;
		float: left;
		margin-top: 20px;
    small{
    	font-size: 14px;
    }
	}
	.analytic{
		display: inline-block;
		width: 100%;
		padding-top: 30px;
	}
	.search-form{
		float: right;
		.input{
			border: solid 1px $grey;
			border-radius: 0;
			width: 150px;
			height: 33px;
		}
		.btn{
			border-radius: 0;
			margin-left: 5px;
			padding: 0px 15px;
			border: 0;
			margin-top: -2px;
			position: relative;
			height: 35px;
		}
	}
	.btn-tab-analytic{
		&:hover{
			background: $grey;
			border-color: $grey;
			box-shadow:none;
		}
		&.active{
			background: $blue;
			color: white;
			box-shadow: none;
			border-color:$blue;
		}
	}
}

.select-category-download{
	width: 15%;
	float: left;
	cursor: pointer;
	color: white;
	margin-right: 5px;
}
.input-key-dowload{
	float: left;
	width: 75%;
}
.submit-search-download{
	float: left;
	width: 9%;
}

.section-btn-download{
	padding-top: 10px;
	float: left;
	text-align: center;
	width: 100%;
	a{
		background: $green;
		color: white;
		padding: 10px;
		font-size: 12px;
		margin: 0px 1px;
	}
	a:hover,a:focus{
		text-decoration: none;
		background: #368212;
		transition: all 0.5s ease-in-out;
		color: white;
	}
	.desc-download{
		text-align: center;
		margin-top: 17px;
		font-weight: bold;
		font-size: 10px;
	}
}

.box-comision-approve{
	background: white;
	padding: 20px 20px;
	border: 1px solid $border-cs;
	margin-bottom: 20px;
	.title-approve{
		font-size: 20px;
		margin-bottom: 10px;
	}
	.center{
		text-align: center;
	}
	.cash-approve{
		color: $blue;
		font-size: 25px;
		margin-bottom: 10px;
		.orange{
			color: orange;
		}
		.red{
			color: red;
		}
	}
	.desc-approve{
		font-size: 12px;
	}
}

.box-schema-comission{
	float: left;
	width: 100%;
	height: 400px;
	background: white;
	margin-bottom: 20px;
	border: 1px solid $border-cs;
}

.title-tab-edit{
	padding: 10px 20px;
	background: #f9f9f9;
	margin-top: 20px;
	border: 1px solid #e4e5e7;
	border-bottom: none;
	font-size: 15px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
	color: #252525;
	font-weight: bold;
}

.nav-tabs > li > a{
	color: grey;
	&:hover{
		background:#f1f1f1;
	}
}

.left-webset{
	text-align: right;
	position: relative;
}

.right-webset{
	margin-bottom: 20px;
	display: inline-block;
	width: 100%;
}

.input-desc-webset{
	height: 110px!important;
}

.box-img-theme{
	width: 240px;
	height: 295px;
	position: relative;
	overflow: hidden;
	margin-top: 20px;
	border: 1px solid;
	border-color: #ececec;
	.fa-search{
		display: none;
		font-size: 70px;
		font-weight: bold;
		position: relative;
		top: 35%;
	}
	.overplay{
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 2;
		text-align: center;
		&:hover{
			background:black;
			transition: all 0.5s ease-in-out;
			opacity: 0.3;
			cursor: pointer;
			.fa-search{
				color: white;
				display: block;
			}
		}
	}
}

.img-auto{
	top: -9999px;
	right: -9999px;
	left: -9999px;
	bottom: -9999px;
	margin: auto;
	position: absolute;
	width: 100%;
	height: auto;
	z-index: 1;
}

.flexslider {
	margin: 0 0 0px;
}

.show-detail{
	width: 70%;
}

.title-view-catalog{
	font-size: 17px;
	font-weight: bold;
}
.desc-view-catalog{
	font-size: 11px;
}
.price-view-catalog{
	color: #ff5722;
	font-weight: bold;
	font-size: 20px;
	width: 50%;
	float: left;
	small{
		font-size: 10px;
		font-weight: normal;
		color: grey;
	}
	&.price-green{
		color: $green;
	}
}

.desc-view-title{
	float: left;
	width: 100%;
	line-height: 20px;
	.description{
		margin-bottom: 20px;
	}
}

.title-show-confirmation{
	text-align: center;
	font-size: 20px;
	.desc{
		font-size: 12px;
	}
}

.thead-detail{
	background: white;
}

.footer-detail-order{
	float: left;
	width: 100%;
	background: #f1f3f6;
	text-align: center;
	padding: 15px 0px;
	border-radius: 0px 0px 5px 5px;
	border: 1px solid #e4e5e7;
	border-top: 0px;
	color: #000000ba;
	line-height: 25px;
	b{
		font-weight: bold;
		font-size: 15px;
	}
}

.img-detail-prod{
	height: 80px;
	float: left;
	margin-right: 10px;
}

.td-style{
	padding: 15px 8px!important;
	line-height: 20px!important;
	small{
		font-size: 9px;
	}
}

.title-tab-detail{
	font-size: 17px;
	margin-bottom: 8px;
	font-weight: bold;
}

.col-payment{
	width: 20%;
	display: inline-flex;
	padding: 0 15px;
	
}

.box-payment{
	background: white;
	padding: 20px;
	border: 1px solid #cecece;
	position: relative;
	height: 180px;
	margin-bottom: 20px;
	small{
		font-size: 10px;
		text-align: justify;
	}
	.nomber-step{
		width: 25px;
		position: absolute;
		height: 25px;
		background: $blue;
		right: 10px;
		top: 8px;
		text-align: center;
		border-radius: 5px 0px;
		color: white;
		font-weight: bold;
		padding-top: 3px;
	}
}

.box-add-product{
	background: white;
	padding: 20px;
	border: 1px solid #e4e4e4;
	position: relative;
	height: 120px;
	margin-bottom: 20px;
	i{
		font-size: 40px;
    color: #00c0ff;
    float: left;
    margin-top: 25px;
    margin-right: 10px;
    margin-bottom: 25px;
	}
	small{
		position: relative;
    top: 5px;
	}
	.nomber-step{
		width: 25px;
		position: absolute;
		height: 25px;
		background: $blue;
		right: 10px;
		top: 8px;
		text-align: center;
		border-radius: 5px 0px;
		color: white;
		font-weight: bold;
		padding-top: 3px;
	}
}

.pe-7s-clock{
	display: inline-block;
	font-family: 'Pe-icon-7-stroke';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.box-keyword{
	background: #ffffff;
	padding: 15px;
	border: 1px solid #cecece;
	border-radius: 0 0 5px 5px;
	border-top: 2px solid $blue;
}

.box-payment-content{
	background: #ffffff;
	padding: 15px;
	border: 1px solid #cecece;
}

.box-package-price{
	position: relative;
	.overplay{
		width: 100%;
		height: 100%;
		background: #ffffff7a;
		position: absolute;
		i{
			font-size: 85px;
			color: #6a6262;
			left: 37%;
			position: absolute;
			top: 11%;
		}
	}
	.overplay2{
		width: 100%;
		height: 100%;
		position: absolute;
		&:hover{
			background: #ffffff7a;
		}
		i{
			font-size: 85px;
			color: #6a6262;
			left: 37%;
			position: absolute;
			top: 11%;
		}
	}
	.title-box-package{
		background: #2b5561;
		color: white;
		text-align: center;
		padding: 15px 0;
		font-size: 22px;
		font-weight: bold;
	}
	.title-box-package2{
		background: #d83734;
		color: white;
		text-align: center;
		padding: 15px 0;
		font-size: 22px;
		font-weight: bold;
	}
	.box-img-price{
		background-image: image-url('basic.jpg');
		background-size: cover;
		color: white;
		text-align: center;
		font-size: 25px;
		padding: 40px 0;
	}
	.box-img-price2{
		background-image: image-url('premium.jpg');
		background-size: cover;
		color: white;
		text-align: center;
		font-size: 25px;
		padding: 40px 0;
		position: relative;
		.logo-premium{
			position: absolute;
			width: 130px;
			right: -35px;
			top: -25px;
		}
	}
	.box-desc-package{
		background: #ffffff;
		padding: 20px;
		border: 1px solid #c8c8c8;
		.desc-package{
			font-size: 15px;
			color: #6b6b6b;
			margin-bottom: 20px;
		}
		.desc-package2{
			font-size: 15px;
			color: #ff060666;
			margin-bottom: 20px;
			text-decoration: line-through;
		}
		.btn-box-package{
			background: #e13a37;
			color: white;
			margin: auto;
			display: table;
			padding: 7px;
			font-size: 18px;
			border-radius: 3px;
			width: 100%;
			text-align: center;
		}
		.btn-box-package:hover{
			transition: all 0.5s ease-in-out;
			opacity: 0.5;
			text-decoration: none;
		}
		.btn-box-package2{
			background: $green;
			color: white;
			margin: auto;
			display: table;
			padding: 7px;
			font-size: 18px;
			border-radius: 3px;
			width: 100%;
			text-align: center;
			cursor: default;
		}
	}
}
#menu::-webkit-scrollbar { 
	display: none; 
}
.ul-menu li i{
	margin-right: 5px;
}

.box-package{
	width: 320px;
	float: left;
	padding: 0 20px;
}

.btn-blue{
	background: #00c0ff;
	border: none;
	padding: 8px 20px;
	color: white;
	border-radius: 3px;
	&:hover, &:focus{
		transition: all 0.5s ease-in-out;
		background: #00a1ff;
		border: none;
	}
}
.btn-info{
	background: $blue;
	border-color: $blue;
}

.btn-g{
	background: #f9f9f9;
	color: #6a6c6f;
	border-color: #d4d4d4;
	margin-left: 10%;
}

.nav .open > a, 
.nav .open > a:hover,
.nav .open > a:focus{
	background: white;
}

.btn-green{
	background: $green !important;
	color: white !important;
	text-align: center;
	overflow: hidden;
}

.select2-container--default 
.select2-selection--single 
.select2-selection__rendered{
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  border-radius: 0px 0px 0px 0px;
}

/*// -------- TOP MEMBER MENU ---------*/
.top-member-menu{
	width: 100%;
	ul{
		padding-left: 0;
		display: inline-block;
		float: right;
		margin-top: 5px;
		li{
			list-style: none;
			display: inline-block;
			padding: 0 2px;
			a{
				padding: 15px 15px;
				background: #ffffff;
				color: black;
				font-size: 11px;
				font-weight: normal;
				margin-left: 5px;
				&:hover, &:focus{
					transition: all 0.5s ease-in-out;
					background: #00b8ff;
					color: white;
				}
				&.active{
					transition: all 0.5s ease-in-out;
					background: #00b8ff;
					color: white;
				}
			}
		}
	}
}
/*--------------timeline--------------*/
.timeline {
	list-style: none;
	padding: 0;
	position: relative;
}

.timeline:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 3px;
	background-color: #eeeeee;
	margin-left: -1.5px;
	left: 15px;
	height: 110%;
}
.timeline-heading{
	h4{
		margin-top: 5px;
	}
	small{
		margin-left: 3px;
	}
}

.timeline-heading{
	border-bottom: 1px solid silver;
}

.timeline > li {
	margin-bottom: 20px;
	position: relative;
}

.timeline > li:before,
.timeline > li:after {
	content: " ";
	display: table;
}

.timeline > li:after {
	clear: both;
}

.timeline > li:before,
.timeline > li:after {
	content: " ";
	display: table;
}

.timeline > li:after {
	clear: both;
}

.timeline > li > .timeline-panel {
	background: white;
	width: 90%;
	float: left;
	border: 1px solid #d4d4d4;
	border-radius: 2px;
	padding: 15px;
	position: relative;
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
	position: absolute;
	top: 26px;
	right: -15px;
	display: inline-block;
	border-top: 15px solid transparent;
	border-left: 15px solid #ccc;
	border-right: 0 solid #ccc;
	border-bottom: 15px solid transparent;
	content: " ";
}

.timeline > li > .timeline-panel:after {
	position: absolute;
	top: 27px;
	right: -14px;
	display: inline-block;
	border-top: 14px solid transparent;
	border-left: 14px solid #fff;
	border-right: 0 solid #fff;
	border-bottom: 14px solid transparent;
	content: " ";
}

.timeline > li > .timeline-badge {
	color: #99969a;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 25px;
	text-align: center;
	position: absolute;
	top: 16px;
	margin-left: -25px;
	background-color: white;
	z-index: 100;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
	left: 15px;
}

.timeline > li.timeline-inverted > .timeline-panel {
	float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
	border-left-width: 0;
	border-right-width: 15px;
	left: -15px;
	right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto;
}

.timeline-badge.primary {
	background-color: #2e6da4 !important;
}

.timeline-badge.success {
	background-color: #3f903f !important;
}

.timeline-badge.warning {
	background-color: #f0ad4e !important;
}

.timeline-badge.danger {
	background-color: #d9534f !important;
}

.timeline-badge.info {
	background-color: #5bc0de !important;
}

.timeline-title {
	margin-top: 0;
	color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
	margin-bottom: 0;
}
.content-timeline{
	float: left;
	width: 100%;
	padding: 15px 0;
}

.timeline-body > p + p {
	margin-top: 5px;
}

@media (max-width: 767px) {
	ul.timeline:before {
		left: 40px;
	}

	ul.timeline > li > .timeline-panel {
		width: calc(100% - 90px);
		width: -moz-calc(100% - 90px);
		width: -webkit-calc(100% - 90px);
	}

	ul.timeline > li > .timeline-badge {
		left: 15px;
		margin-left: 0;
		top: 16px;
	}

	ul.timeline > li > .timeline-panel {
		float: right;
	}

	ul.timeline > li > .timeline-panel:before {
		border-left-width: 0;
		border-right-width: 15px;
		left: -15px;
		right: auto;
	}

	ul.timeline > li > .timeline-panel:after {
		border-left-width: 0;
		border-right-width: 14px;
		left: -14px;
		right: auto;
	}
}

/**/

/*------------------steps------------------*/
.bs-wizard {margin-top: 40px;}

.bs-wizard {
	border-bottom: 
	solid 1px #e0e0e0; 
	padding: 0 0 10px 0;
}
.bs-wizard > .bs-wizard-step {
	padding: 0; 
	position: relative;
}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
	color: #595959; 
	font-size: 12px; 
	margin-bottom: 5px;
}
.bs-wizard > .bs-wizard-step .bs-wizard-info {
	color: #999; 
	font-size: 14px;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
	position: absolute; 
	width: 30px; 
	height: 30px; 
	display: block; 
	background: #ccc;; 
	top: 42px; 
	right: -8px; 
	margin-top: -15px; 
	margin-left: -15px; 
	border-radius: 50%;
} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot i {
	position: absolute;
	top: 8px;
	left: 8px;
	color: white; 
} 
.bs-wizard > .bs-wizard-step > .progress {
	position: relative; 
	border-radius: 0px; 
	height: 8px; 
	box-shadow: none; 
	margin: 20px 0;
	background: white;
}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
	width:0px; 
	box-shadow: none; 
	background-color: $blue;
	padding-right: 0;
}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
	width:100%;
}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
	width:50%;
}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
	width:0%;
}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
	width: 100%;
}
.bs-wizard > .bs-wizard-step.complete > .bs-wizard-dot {
	background-color: $green;
}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
	opacity: 0;
}
.bs-wizard > .bs-wizard-step:first-child  > .progress {
	right: 0; 
	width: 100%;
}
.bs-wizard > .bs-wizard-step:last-child  > .progress {
	width: 100%;
}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{
	pointer-events: none; 
}
/**/

/*---------------------------*/
/*           Inbox           */
/*---------------------------*/
.my-toggle {
	.box-inbox{
		padding: 20px 0px;
		.title{
			font-size: 14px;
		}
		.date-time{
			position: absolute;
			top: 5px;
			right: 8px;
			font-size: 11px;
		}
		i{
			font-size: 40px;
			float: left;
			margin-right: 15px;
			background: #b3b2b2;
			border-radius: 30px;
			color: white;
		}
	}
}
.my-toggle > li {
  display: block;
  list-style: outside none none;
  margin-bottom: 5px;
}
.toggle-title {
  font-size: 17px;
  color: #0cbefa;
  margin-bottom: 0;
  margin-top: 0;
  text-align: left;
  padding: 20px 0px;
  font-weight: bold;
  float: left;
}
.view {
  background-color: white;
  color: #304351;
  cursor: pointer;
  display: block;
  padding: 0 20px;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition:all 0.2s;
  position: relative;
  border: 1px solid #e1e1e1;
}
.detail {
 padding: 15px 20px;
 display: none;
 line-height: 20px;
 font-size: 15px;
 background-color: #ffffff;
 color: #000;
 border-radius: 0 0 3px 3px;
 border-top: 1px solid rgba(255,255,255,0.15);
 font-weight: 300;
}
.view:hover {
	text-decoration: none;
	border-left: 2px solid #045db1;
	color: #304351;
}
.view.opened {
  border: 0 none;
}
.view.opened .toggle-title,
.view:hover .toggle-title {
  color: #fff;
}

.view.opened .toggle-title,
.view:hover .toggle-down {
  color: #fff;
}

.view.opened .toggle-title,
.view:hover .toggle-up {
  color: #fff;
}

.toggle-wrapper{
	line-height: 25px;
	padding: 20px;
	padding-top: 0;
}