/* --------- Color Style ---------*/
$blue : #00c0ff;
$green : #99bc20;
$silver : #f5f5f5;
$red : #e13a37;
/**/
@media screen and (max-width: 800px) {
	/*-----------sidebar-----------*/
	#side-menu li a{
		font-size: 11px;
	}
	/**/

	/*-----------sidebar-----------*/
	.stats-icon{
		font-size: 10px;
	}
	/**/

	/*-----------dashboard-----------*/
	.box-comision-approve .cash-approve{
		font-size: 20px;
	}
	.title-member-content{
		margin-bottom: 15px;
	}
	.top-member-menu{ 
		ul{
			padding-left: 0;
			float: left;
			margin-top: 0px;
			width: 100%;
			margin-left: -5px;
			li{
				padding: 0 5px;
				a{
					margin-left: 0px;
					float: left;
				}
			}
		}
	}
	.btn-group, .btn-group-vertical{
		float: right;
	}
	/**/

	/*-----------commission-----------*/
	.box-schema .search-form .input{
	  width: 125px;
	}
	/**/

	/*-----------catalog-----------*/
	.box-search-catalog{
		margin: 0 0;
		margin-bottom: 15px;
	}
	.box-add-product {
		height: 140px;
		i{
			font-size: 30px;
			color: #00c0ff;
			float: none;
			margin-top: 0;
			margin-right: 10px;
			margin-bottom: 0;
		}
	}
	/**/

	/*-----------payment-----------*/
	.box-payment{
		i{
			font-size: 30px;
		}
	}
	.col-payment .box-payment{
		padding: 15px;
	}
	.col-payment .box-payment small{
		font-size: 9px;
	}
	.box-keyword{
		margin-bottom: 20px;
	}
	/**/

	/*-----------settings-----------*/
	.left-webset{
		text-align: left;
    position: relative;
    margin-bottom: 10px;
	}
	/**/
}

@media screen and (max-width: 550px) {
	/*------package-------*/
	.box-package{
		width: 100%;
    margin-bottom: 20px;
	}
	/**/

	/*------package-------*/
		#side-menu li a{
			font-size: 10px;
		}
	/**/

	/*------dashboard-------*/
	h2, .h2{
		font-size: 20px;
	}
	.stats-icon{
		font-size: 7px;
	}
	.box-comision-approve .cash-approve{
		margin-bottom: 0px;
	}
	.box-comision-approve .desc-approve{
		margin-bottom: 10px;
	}
	.box-schema .revenue{
		margin-bottom: 20px;
	}
	.box-schema .search-form .input{
		width: 100%;
	}
	.box-schema .search-form .btn{
		margin-left: 0px;
		margin-top: 15px;
		height: 35px;
	}
	.box-dashboard-info .title-info{
		font-size: 11px;
	}
	.btn-group, .btn-group-vertical{
		margin-bottom: 20px;
	}
	/**/

	/*------catalog-------*/
	.title-member-content{
		font-size: 20px;
		margin-bottom: 10px;
	}
	.stats-title h4{
		font-size: 11px;
	}
	.top-member-menu{ 
		ul{
			margin-top: 0px;
			width: 100%;
			li{
				width: 100%;
				float: left;
				margin-bottom: 10px;
				a{
					width: 100%;
					float: left;
					margin-left: 0;
				}
			}
		}
	}
	.box-search-catalog{
		margin-top: 0;
	}
	.box-list-catalog .box-img-catalog{
		height: 170px;
	}
	.show-detail {
		width: auto;
	}
	.btn-green{
		word-spacing: 100px;
	}
	/**/

	/*------orders-------*/
	.title-show-confirmation{
		font-size: 17px;
	}
	/**/

	/*------commision-------*/
	.box-comision-approve .title-approve{
		font-size: 17px;
	}
	.btn-search {
    margin-left: 0;
    border-radius: 3px;
    width: auto;
    padding: 8px 15px;
	}
	.submit-search{
		width: 25%;
	}
	.input-key{
		width: 75%;
	}
	/**/

	/*------payment-------*/
	.col-payment {
    width: 50%;
  }
  .box-keyword{
  	margin-bottom: 20px;
  }
  .col-payment .box-payment{
  	height: 180px;
  }
  .box-payment i{
  	font-size: 45px;
  }
  .col-payment .box-payment small{
  	font-size: 11px;
  }
  .mg-left10{
  	margin-left: 0;
  }
  .tright{
  	text-align: left;
    margin-bottom: 10px;
  }
  .center{
  	text-align: left;
  }
  .btn-right{
  	float: right;
  }
  .btn-g{
  	margin-left: 0;
  }
  .timeline > li{
  	margin-top: 30px;
  }
  .timeline:before{
  	height: 120%;
  }
  /**/

  /*------settings-------*/
  .left-webset{
  	text-align: left;
  	position: relative;
  	margin-bottom: 10px;
  }
  /**/

  /*------invoice-------*/
  .timeline-heading a{
  	font-size: 15px;
  }
  h4, .h4{
  	font-size: 16px;
  }
  /**/

  /*----landing page----*/
  .box-request-lp{
  	float: left;
  	width: 100%;
  }
  /**/
}

@media screen and (max-width: 350px) {
	/* --------- Orders ---------*/
	.bs-wizard > .bs-wizard-step .bs-wizard-stepnum{
		font-size: 10px;
		margin-bottom: 25px;
	}
	.title-member-content{
		font-size: 17px;
	}
	.title-show-confirmation{
		font-size: 15px;
		.desc{
			font-size: 10px;
		}
	}
	.footer-detail-order{
		font-size: 10px;
	}
	.title-tab-detail{
		font-size: 15px;
	}
	/**/

	/* --------- Catalog ---------*/
	.box-add-product small{
		font-size: 9px;
	}
	.btn-save-catalog{
    padding: 5px 15px;
	}
	.price-view-catalog{
		font-size: 17px;
	}
	.desc-view-title{
		font-size: 11px;
	}
	/**/

	/* --------- Package ---------*/
	.box-package-price {
		.box-desc-package{ 
			.desc-package{
				font-size: 12px;
			}
			.desc-package2{
				font-size: 12px;
			}
			.btn-box-package{
				padding: 6px;
				font-size: 15px;
			}
			.btn-box-package2{
				padding: 6px;
				font-size: 15px;
			}
		}
		.box-img-price{
			font-size: 20px;
		}
		.box-img-price2{
			font-size: 20px;
		}
	}
	.big-font{
		font-size: 35px;
	}
	/**/

	/* --------- dashboard ---------*/
	h2, .h2{
		font-size: 18px;
	}
	p{
		font-size: 10px;
	}
	.stats-icon{
		font-size: 10px;
	}
	.box-dashboard-info .box-content-info .txt{
		font-size: 15px;
	}
	.box-schema{
		min-height: 300px;
	}
	.btn{
		font-size: 12px;
	}
	/**/

	/* --------- payment ---------*/
	.col-payment{
		width: 100%;
	}
	.col-payment .box-payment{
		padding: 20px;
		width: 100%;
		height: auto;
	}
	.col-payment .box-payment small{
		font-size: 11px;
	}
	.box-payment i{
		font-size: 40px;
	}
	h4, .h4{
		font-size: 15px;
	}
	h5, .h5{
		font-size: 11px;
	}
	h6, .h6{
		font-size: 9px;
	}
	.btn-g{
		font-size: 11px;
	}
	/**/

	/* --------- settings ---------*/
	.nav-tabs > li > a{
		font-size: 10px;
	}
	/**/

}