.SumoGallery *{border:0px; margin:0px; padding:0px;}

.SumoGallery{background-color: rgba(0, 0, 0, 0.7);position: fixed;top: 0px;left: 0px;right: 0px;bottom: 0px;}

/** COMMMON STYLES **/
.SumoGallery a{cursor:pointer;}
/** COMMMON STYLES **/

.SumoGallery .Sarrow{position: absolute;font-size: 30px;color: #D8D8D8;opacity: 0.8;text-shadow: -1px 0px 3px rgba(0, 0, 0, 0.86);top: 50%;margin-top: -50px;padding: 10px;z-index: 10;}
.SumoGallery .Sarrow:hover{opacity:1;}
.SumoGallery .Sarrow.l{left:0px;}
.SumoGallery .Sarrow.r{right:0px;}
.SumoGallery .Sarrow.last-item{opacity: 0.3;}

.SumoGallery .Sheader{background-color: rgba(0, 0, 0, 0.66);height: 40px;position: relative;}
.SumoGallery .Sheader p{color: #fff;padding: 10px 50px;text-align: center;}
.SumoGallery .Sheader a{font-size: 50px;line-height: 40px;color: #fff;position: absolute;right: 5px;top: 0px;display: block;cursor: pointer;opacity: 0.8;}
.SumoGallery .Sheader a:hover{opacity:1}

.SumoGallery .Sbody{position: absolute;top: 40px;bottom: 75px;left: 0px;right: 0px;}
.SumoGallery .Sbody a{display: none;left: 0px;opacity: 1;
transition: none;-moz-transition: none;-webkit-transition: none;}
.SumoGallery .Sbody a.sel{display: block;background-image: url('loader.gif');position: absolute;width:100%;height:100%; background-repeat: no-repeat;background-position: center;z-index:1;}
.SumoGallery .Sbody a.anim{transition: all 200ms;-webkit-transition: all 200ms;-moz-transition: all 200ms;}
.SumoGallery .Sbody a.left{left: -100%;opacity: 0;}
.SumoGallery .Sbody a.right{left: 100%;opacity: 0;}

.SumoGallery .SimgCount{position: absolute;color: #BEBEBE;right: 10px;bottom: 95px;}
.SumoGallery .toggle-thumbs{position: absolute;color: #BEBEBE;right: 10px;bottom: 70px;z-index: 10;font-size: 23px;background-color: #000;border-radius: 3px;padding: 0px 5px;line-height: 20px;}
.SumoGallery .toggle-thumbs:hover{color: #4186F2;}

.SumoGallery .Sbody a img{position: absolute;top: 0px;left: 0px;right: 0px;bottom: 0px;margin: auto;max-width: 100%;max-height: 98%;-webkit-box-shadow: 0px 0px 35px rgba(0,0,0,0.5);box-shadow: 0px 0px 35px rgba(0,0,0,0.5);-moz-box-shadow: 0px 0px 35px rgba(0,0,0,0.5);border-radius: 2px;}

.SumoGallery .Sfooter{position: absolute;bottom: 0px;left: 0px;right: 0px;height: 50px;background-color: #000;padding: 12px 0px;transition: all 300ms;-webkit-transition: all 300ms;-moz-transition: all 300ms;}

.SumoGallery ul.Sthumbnails{list-style: none;display: block;text-align: center;overflow: auto;white-space: nowrap;height: 150px;padding-top: 5px;margin-top: -5px;}
.SumoGallery ul.Sthumbnails li{display: inline-block;margin: 0px 2px;}
.SumoGallery ul.Sthumbnails li a{display: block;height: 50px;width: 60px;background-repeat: no-repeat;position:relative;border-radius: 2px;background-size: cover;}
.SumoGallery ul.Sthumbnails li a:hover{top:-1px;}
.SumoGallery ul.Sthumbnails li.sel a{top:-3px;}
.SumoGallery ul.Sthumbnails li.sel a:after{content: '';position: absolute;width: 0px;height: 0px;padding: 3px;background-color: #F43110;box-shadow: 0px 0px 5px #F43110;border-radius: 50%;border: 0px;left: 0px;right: 0px;margin: auto;bottom: -10px;}


.SumoGallery.nothumbs {}
.SumoGallery.nothumbs .Sfooter{bottom: -74px;}
.SumoGallery.nothumbs .Sbody {bottom: 0px;}
