$blue: #252830;

/*---------------global---------------*/
body{
	background-image: asset-url('banner1.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-color: #f5f5f5;
	&:before{
		content: '';
		width: 100%;
		height: 100%;
		position: fixed;
		background: rgba(255, 255, 255, 0.6509803921568628);
		top: 0;
	}
}

/*------------custom------------*/
.blue{
	color: #00c0ff;
}

.mg-bot50{
	margin-bottom: 50px;
}

.mg-top20{
	margin-top: 20px;
}

.mg-bot20{
	margin-bottom: 20px;
}

.login-wrapper{
	padding-top: 80px;
}
.label-style{
	color: #999999;
}
.form-control{
	border: none;
	border-bottom: 1px solid #b3adad;
	box-shadow: none;
	border-radius: 0;
	&:focus{
		box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(102,175,233,.6);
	}
}
.form-cst{
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
.box-rules{
	border: 1px solid #dadada;
	padding: 15px;
	border-radius: 7px;
	height: 140px;
	overflow: hidden;
	overflow-y: scroll;
	position: relative;
}
.input-group-addon {
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #9f9a9a;
	text-align: center;
	background: none;
	border: none;
	border-radius: 4px;
}

.panel-body{
	padding: 20px;
  padding-top: 50px;
}

.btn-register{
	font-size: 18px;
	padding: 8px 50px;
	background: yellow;
	border: none;
	margin: auto;
	display: table;
	border-radius: 5px;
	transition: all 0.5s ease-in-out;
	width: 100%;
	&:hover{
		background: #d6d605;
		transition: all 0.5s ease-in-out;
	}
}

.btn-login{
	font-size: 16px;
	padding: 7px 50px;
	background: yellow;
	border: none;
	margin: auto;
	display: table;
	border-radius: 5px;
	transition: all 0.5s ease-in-out;
	width: 100%;
	width: 100%;
	&:hover{
		background: #d6d605;
		transition: all 0.5s ease-in-out;
	}
}

.img-logo{
	width: 300px;
	margin: auto;
	display: table;
	position: relative;
	top: -15px;
}
.title-packet{
	font-size: 16px;
	color: #008191;
	float: left;
	width: 100%;
  margin-bottom: 10px;
}

.desc-signup{
	color: #999999;
	font-size: 10px;
}
.price-signup{
	font-size: 13px;
	color: #008191;
}

.desc-login{
	color: #999999;
	font-size: 12px;
}

radiotxt{
	color: yellow;
	position: absolute;
	top: 10px;
	padding-left: 10px;
}

.rdbutton{
	width: 20px;
	float: left;
	&:focus{
		box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(102,175,233,.6);
		outline: none;
	}
}

.boxrdb{
	float: left;
	width: 100%;
	position: relative;
	margin-left: 10px;
}

#radioBtn .notActive{
	color: #3276b1;
	background-color: #fff;
}

.btn-group-sm>.btn, .btn-sm {
	padding: 5px 30px;
	font-size: 13px;
	line-height: 1.5;
	border-radius: 0px;
	width: 100%;
	margin-bottom: 10px;
	text-align: center;
}

.btn-group2{
	width: 50%;
}

.btn-group3{
	width: 50%;
}

.btn-primary{
	background-color: #0070ba;
	background-image: linear-gradient(100deg, #0070ba, #1546a0);
	border: none;
	border-radius: 0;
	padding: 15px;
	font-weight: bold;
	margin-top: 10px;
	transition: all 0.3s ease-in-out;
	&:hover, &:focus{
    background-color: #0070ba;
		background-image: linear-gradient(100deg, #014e82, #10377d);
    transition: all 0.3s ease-in-out;
	}
}


.form-icon{
	background: #008191;
	float: left;
	color: white;
	padding: 7px 10px;
	border-radius: 5px 0px 0px 5px;
}

.panel-default>.panel-heading {
	font-weight: bold;
	font-size: 17px;
	background-color: #0070ba;
	background-image: linear-gradient(100deg, #0070ba, #1546a0);
	color: white;
	text-transform: uppercase;
	padding: 30px 20px;
	border: none;
  border-radius: 3px 3px 0px 0;
}

.panel-custom{
	width: 60%;
	margin: auto;
	border-radius: 0;
	border: none;
}
.panel{
	border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
}
.form-group{
	.note{
		color: red;
		font-size: 11px;
		display: none;
    margin-left: 40px;
  }
  .well{
  	min-height: 0px;
  	padding: 10px;
  	input[type=checkbox]{
  		height: 15px;
			width: 15px;
		}
		p{
			margin: 0;
		}
	}
}


/*=======================================
			SELECT PACKAGE REGISTRATION
=======================================*/

.select-package{
	.selection {
		margin-bottom: 1em;
		.non-active{
			border-color: #eee;
			background-color: #eee;
			color: #696969;
		}
		label {
		  display: inline-block;
		  width: 100%;
		  font-size: 13px;
		  font-weight: unset;
		  color: #2e6da4;
		  border: 1px solid #2e6da4;
		  padding: 0.5em;
		  cursor: pointer;
      margin-top: 20px;
		}
		.premiumxs{
			border-color: red;
			color: red;
		}
/*		label:hover {
			color: #ffffff;
		  background-color: #5fc0dc;
		  border-color: #5fc0dc;
		}*/
		input[type=radio] {
		  display: none;
		}
		input[type=radio]:checked ~ label {
			color: #ffffff;
		  background-color: #0070ba;
			background-image: linear-gradient(100deg, #0070ba, #1546a0);
		}
	}
	.number{
		background: #f3f3f3;
    float: left;
    padding: 5px 10px;
    border-radius: 36px;
    margin-right: 5px;
    position: relative;
    font-size: 10px;
    color: #999999;
	}
} 

/*-----------Style Responsive-----------*/
@media screen and (max-width: 450px) {
	.panel-default > .panel-heading{
	  padding: 30px 20px;
    font-size: 15px;
	}
	.select-package .selection label{
		width: 100%;
	}
	.panel-body{
		padding-top: 30px;
	}
	.col-md-offset-2{
		padding-left: 0;
		padding-right: 0;
	}
}