$old-blue : #252830;
$blue-hover : #00c0ff;
$grey : #6b7169;

@media screen and (max-width: 750px){
	.top-navbar{ 
		.navbar-brand{
			margin-left: 20px;   
			margin-top: 6px;
		}
		.icon-bar{
			display: block;
			background: #8e8e8e!important;
		}  
		ul.navbar-nav{
			background-color: $old-blue; 
			li.menu{
				width: 100%;
				a{
					padding: 15px 20px;
				}
				a:hover{
					background: #30333c;
				}
				.btn-signup{
					color: white;
					background: none;
					padding: 15px 20px;
				}
				.btn-signup:hover{
					background: #30333c;
					color: #00c0ff
				}
			}
		}
	}
	
	.navbar-toggle{
		padding: 15px 15px;
		border-color: #8e8e8e!important;
		cursor: pointer;
	}
	/*.navbar-toggle:hover,:focus{
    background-color: transparent!important;
	}*/
	.navbar-collapse{
		padding-right: 0;
		padding-left: 0;
	}
	.custom-nav{
		border-color: #393e4a!important;
	}
	slider{ 
		overflow: hidden;
		.img-slider{
			position: absolute;
			top: -9999px;
			right: -9999px;
			left: -9999px;
			bottom: -9999px;
			margin: auto;
			width: auto;
		}
		.txt-slider{
			top: 30%;
			.txt-sl1{
				font-size: 20px;
				color: #d2d2d2;
			}
			.txt-sl2{
				font-size: 35px;
				color: white;
			}
		}
	}
	.descript{
		.txt-desc{
			font-size: 20px;
		}
	}
	.challenge { 
		padding-top: 100px;
		padding-bottom: 100px;
		.box-comic{
			height: 257px;
		}
		.img-diagram {
			width: 220px;
			margin: auto;
		}
		.title-ch2 {
			font-size: 40px;
		}
		.desc-ch2{
			width: 100%;
		}
		ul{
			li{
				width: 100%;
			}
		}
	}
	.quantity{ 
		.desc-qw{
			width: 100%;
		}
		.box-packing{
			height: 160px;
		}
		.box-product{
			height: 200px;
		}
	}

	.mg-bot{
		margin-bottom: 50px;
	}
	.mg-top{
		margin-top: 50px;
	}

	.advert{ 
		.box-advert{
			margin: 20px 15px;
		}
		.desc-advert{
			width: 100%;
		}
	}
	.testimonials{ 
		.desc-testimonials{
			width: 100%;
		}
		.box-testi-people{
			padding: 100px 0;
			.message-testimonials{
				width: 100%;
			}
		}
		.sec-training {
			.btn-demo{
				padding: 10px 30px;
				font-size: 35px;
			}
		}
		.sec-chance{ 
			.title-chance2{
				font-size: 35px;
				width: 100%;
			}
			.box-chance1{
				padding: 60px 50px;
				height: auto;
			}
			.box-chance2{
				padding: 60px 50px;
				height: auto;
			}
		}
	}

	.profit{ 
		.title-profit1{
			font-size: 45px;
		}
		.title-profit2{
			font-size: 45px;
		}
		.title-profit3{
			font-size: 51px;
		}
		.title-profit4{
			font-size: 50px;
		}
		.desc-profit{
			font-size:13px;
		}
		.btn-profit-signup{
			font-size: 20px;
		}
		.box-profit{
			.title-box-profit{
				margin-bottom: 15px;
				font-size: 25px;
			}
			.desc-box-profit{
				line-height: 30px;
				font-size: 16px;
			}
		}
	}
	.package-price{
		.title-package-price{
			float: none;
			margin-bottom: 50px;
			font-size: 50px;
		}
		.desc-package-price{
			float: none;
			width: 100%;
			color: #000000;
			font-size: 20px;
			line-height: 45px;
			text-align: left;
		}
		.desc-package-price2{
			float: none;
			font-size: 15px;
			color: black;
			margin-top: 10px;
		}
	}
	.ask{ 
		padding: 50px 0;
		.title-ask {
			font-size: 30px;
		}
	}
	.signup{ 
		.title-signup1{
			font-size: 35px;
		}
		.title-signup2{
			font-size: 50px;
		}
		.desc-signup{
			font-size: 14px;
		}
		.btn-signup-now{
			font-size: 20px;
		}
	}

	.contact-us{
		padding: 50px 0;
		padding-bottom: 20px;
		.box-contact{
			margin-bottom: 40px;
			.img-contact{

			}
			.title-contact{

			}
			.desc-contact{
				
			}
		}
	}
	/*FAQQQ*/
	.header{
		float: left;
		width: 100%;
		padding: 30px 0;
		background: #252830;
		.img-logo-faq{
			height: 50px;
			margin: auto;
			display: table;
		}
		.title-faq{
			text-align: center;
			color: #06b0f0;
			font-size: 18px;
			font-family: 'Lobster Two', cursive;
		}
	}
	.qna{
		float: left;
		width: 100%;
		padding: 50px 0px;
	}

	.faq-toggle-title{
		font-size: 15px;
		color: #0cbefa;
		margin-bottom: 0;
		margin-top: 0;
		text-align: left;
		padding: 15px 0px;
		font-weight: bold;
		float: left;
		width: 90%;
	}

	.toggle-up{
		font-size: 15px;
		color: #0cbefa;
		margin-bottom: 0;
		margin-top: 0;
		text-align: right;
		float: right;
	}

	.toggle-down{
		font-size: 15px;
		color: #0cbefa;
		margin-bottom: 0;
		margin-top: 0;
		text-align: right;
		float: right;
	}

	.view.opened .faq-toggle-title,
	.view:hover .faq-toggle-title {
		color: #fff;
	}

	.my-toggle-faq {
		margin-left: 0;
		margin-bottom: 5px;
	}

	.my-toggle-faq > li {
		display: block;
		list-style: outside none none;
		margin-bottom: 0;
	}
	.toggle-wrapper{
		font-size: 13px;
	}
	/*CATALOG*/
	.header-catalog{
		padding: 10px;
		background: #252830;
		border-bottom: 1px solid #f1eded;
		position: relative;
		float: left;
		width: 100%;
		.img-logo-catalog{
			height: 35px;
			margin-top: 3px;
		}
		.box-search-catalog{
			.select-category{
				width: 10%;
				float: left;
				padding-top: 10px;
				cursor: pointer;
				color: white;
				display: none;
			}
			.input-key{
				float: left;
				width: 65%;
				padding-top: 4px;
			}
			.submit-search{
				float: left;
				width: 22%;
				padding-top: 4px;
			}
			.form-custom{
				background: #02afef;
				color: white;
				border: none;
				border-radius: 0px 0px 0px 0px;
			}
			.form-custom2{
				border-radius: 0px 0px 0px 0px;
			}
			.form-custom:hover{
				opacity: 0.8;
				transition: all 0.5s ease-in-out;
			}
		}
	}


	.section-btn-download{
		padding: 25px 0;
		float: left;
		text-align: center;
		width: 100%;
		a{
			background: #99bc20;
			color: white;
			padding: 10px;
			font-size: 12px;
			margin: 0px 1px;
		}
		a:hover{
			text-decoration: none;
			background: #647d0d;
			transition: all 0.5s ease-in-out;
		}
		.desc-download{
			text-align: center;
			margin-top: 17px;
			font-weight: bold;
			font-size: 10px;
			padding: 0 25px;
		}
	}

	.section.catalog{
		float: left;
		width: 100%;
		padding: 35px 0;
		.box-catalog-product{
			border: 1px solid;
			border-color: #c9c9c9;
			border-radius: 3px;
			margin-bottom: 15px;
			&:hover{
				box-shadow: 0 0 4px 1px rgba(204,204,204,.48);
				cursor: pointer;
			}
			.box-img-product{
				width: 100%;
				height: 160px;
				position: relative;
				border-bottom: 1px solid #c9c9c9;
				overflow: hidden;
				.img-catalog-product{
					top: -9999px;
					right: -9999px;
					left: -9999px;
					bottom: -9999px;
					margin: auto;
					position: absolute;
					width: 100%;
					height: auto;
					&:hover{
						transform: scale(1.1);
						-webkit-transition: all 0.25s ease-in-out;
						transition: all 0.25s ease-in-out;
					}
				}
			}

			.box-desc-product{
				padding: 5px;
				.title-product-catalog{
					font-size: 11px;
					font-weight: bold;
					height: 31px;
					overflow: hidden;
				}
				.desc-product-catalog{
					font-size: 11px;
				}
				.price-product-catalog{
					color: #ff5722;
					font-weight: bold;
					font-size: 15px;
					margin-top: 2px;
				}
			}
		}
	}
	.login-wrapper {
		padding: 50px 0;
	}
	.panel-custom {
		width: 100%;
		margin: auto;
	}
	
}

@media screen and (max-width: 450px){
	.navbar-toggle{
		padding: 12px;
	}
	.faq-toggle-title{
		font-size: 13px;
	}
	slider{ 
		.txt-slider{
			padding: 0 10px;
			top: 30%;
			.txt-sl1{
				font-size: 18px;
			}
			.txt-sl2{
				font-size: 30px;
			}
		}
	}
	.descript{
		padding-top: 50px;
		padding-bottom: 50px;
		.txt-desc{
			font-size: 17px;
		}
	}
	.challenge { 
		padding-top: 50px;
		padding-bottom: 50px;
		.box-comic {
			height: 180px;
		}
		.title-ch1{
			font-size: 20px;
			padding: 0px 5px;
			margin-top: 50px;
		}
		.title-ch2 {
			font-size: 25px;
			margin-bottom: 30px;
		}
		.desc-ch{
			width: 100%;
			font-size: 15px;
		}
		.desc-ch2{
			width: 100%;
			font-size: 15px;
		}
		ul{
			li{
				width: 100%;
				font-size: 14px;
			}
		}
	}
	.col-responsive{
		width: 100%;
	}
	.quantity{
		.box-product{
			.img-product{
				position: absolute;
				top: -9999px;
				right: -9999px;
				left: -9999px;
				bottom: -9999px;
				margin: auto;
				width: 100%;
				height: auto;
				z-index: 1;
			}
			.overplay-prod{
				z-index: 2;
			}
			&:hover{
				.img-product{
					z-index: 3
				}
				.overplay-prod{
					z-index: 4
				}
			}
		}
		.title-qw1{
			font-size: 20px;
		}
		.title-qw2{
			font-size: 25px;
			margin-bottom: 25px;
		}
		.desc-qw{
			font-size: 15px;
		}
		.box-packing{
			height: 100px;
			.img-packing{
				width: 350px;
			}
		}
	}
	.advert{ 
		.title-advert1{
			font-size: 20px;
		}
		.title-advert2{
			font-size: 25px;
			margin-bottom: 25px;
		}
		.desc-advert{	
			font-size: 15px;
		}		
	}
	.testimonials{ 
		.title-testimonials1{
			font-size: 20px;
		}
		.title-testimonials2{
			font-size: 25px;
		}
		.desc-testimonials{
			font-size: 15px;
		}
		.box-testi-people{ 
			.message-testimonials{
				font-size: 20px;
				color: white;
			}
			.actor-testimonials{
				font-size: 15px;
			}
		}
		.sec-training{ 
			.title-training{
				font-size: 20px;
			}
			.desc-training{
				font-size: 14px;
			}
			.btn-demo{
				padding: 10px 15px;
				font-size: 18px;
				margin: auto;
				margin-top: 50px;
				margin-bottom: 50px;
			}
		}
		.sec-chance{ 
			.title-chance1{
				font-size: 20px;
				padding: 5px 10px;
			}
			.title-chance2{
				font-size: 25px;

			}
			.box-chance1{ 
				.title-box-chance1{
					font-size: 20px;
				}
				.desc-box-chance1{
					font-size: 15px;
				}
			}
			.box-chance2{ 
				.title-box-chance2{
					font-size: 20px;
				}
				.desc-box-chance2{
					font-size: 15px;
				}
			}
		}
	}
	.profit{
		.title-profit2{
			font-size: 20px;
			margin-bottom: 50px;
		}
		.title-profit1{
			font-size: 18px;
		}
		.title-profit3{
			font-size: 25px;
		}
		.title-profit4{
			font-size: 30px;
		}
		.desc-profit{
			font-size: 10px;
		}
		.btn-profit-signup{
			font-size: 15px;
			padding: 15px 15px;
		}
		.box-profit{
			margin-bottom: 30px;
			.box-left{
				height: 75px;
				width: 30%;
				float: left;
				.img-profit{
					float: left;
					width: 70px;
				}
			}
			.box-right{
				float: left;
				width: 70%;
				.title-box-profit{
					font-size: 20px;
					margin-bottom: 5px;
					font-weight: bold;
				}
				.desc-box-profit{
					font-size: 14px;
					line-height: 35px;
					color: #333;
				}
			}
		}
	}
	.package-price{ 
		.title-package-price{
			font-size: 20px;
		}
		.desc-package-price{
			font-size: 15px;
			line-height: 40px;
		}
		.box-package-price{
			.title-box-package{
				background: #639001;
				color: white;
				text-align: center;
				padding: 10px 0;
				font-size: 20px;
				font-weight: bold;
			}
			.box-img-price{
				padding: 30px 0;
				font-size: 20px;
			}
			.box-desc-package{ 
				.desc-package{
					font-size: 15px;
				}
				.desc-package2{
					font-size: 15px;
				}
				.btn-box-package{
					padding: 7px 40px;
				}
			}
		}
	}
	.signup{ 
		.title-signup1{
			font-size: 20px;
		}
		.title-signup2{
			font-size: 25px;
		}
		.desc-sign-up{
			font-size: 14px;
		}
		.btn-signup-now{
			font-size: 15px;
			padding: 15px 10px;
		}
	}
	.contact-us{
		.box-contact{
			margin-bottom: 40px;
			.img-contact{
				height: 40px;
				float: left;
				margin-bottom: 0px;
				margin-right: 12px;
			}
			.title-contact{
				font-size: 15px;
				color: #5b5959;
			}
			.desc-contact{
				font-size: 18px;
				font-weight: bold;
			}
		}
	}
	.big-font{
		font-size: 30px;
	}
	.ask{ 
		.title-ask{
			font-size: 20px;
		}
	}
	.toggle-title {
		font-size: 15px!important;
		padding: 15px 0px!important;
	}
	.detail{
		font-size: 15px!important;
	}
	.my-toggle > li{
		margin-bottom: 20px!important;
	}
	footer{
		font-size: 15px;
	}
	.mg-top{
		margin-top: 30px;
	}

	.header-catalog{ 
		.img-logo-catalog {
			height: 25px;
			margin-top: 6px;
		}
		.box-search-catalog{
			.submit-search{
				width: 28%;
			}
		}
	}
	.form-control{
		height: 30px;
		font-size: 12px;
	}
	.section-btn-download a {
		background: #99bc20;
		color: white;
		padding: 10px;
		font-size: 11px;
		margin: 0px 1px;
		width: 100%;
		float: left;
		margin-top: 3px;
	}
}

@media screen and (max-width: 350px){
	slider{ 
		.txt-slider{ 
			.txt-sl2{
				font-size: 25px;
			}
		}
	}
	.descript{ 
		.txt-desc {
			font-size: 15px;
		}
	}
	.challenge{ 
		.box-comic {
			height: 180px;
		}
		.desc-ch {
			width: 100%;
			font-size: 15px;
		}
	}
	.challenge{ 
		ul{ 
			li {
				width: 100%;
				font-size: 13px;
			}
		}
		.desc-ch2{
			font-size: 15px;
		}
	}
	.contact-us{ 
		.box-contact{

		}
	}
	.header-catalog .box-search-catalog .submit-search {
		width: 35%;
	}
}