/*------------Color Style------------*/
$red : #c81423;
$smooth : #f7f7f7;
$maroon : #d63b30;
$orange : #f57224;
$grey : #4a4a4a;
/**/

@media screen and (max-width: 1024px) {
	section h1{
		font-size: 20px;
	}
	.simple-top-search{
		.input-group{
			width: 100%;
			margin-bottom: 15px;
		}
	}
	.mg-up{
		margin-top: 25px;
	}
	.nav > li > a{
		padding: 10px 10px;
		font-size: 10px!important;
	}
	#top-navigation{ 
		.fa-shopping-cart{
			font-size: 15px;
		}
		.navbar-form{
			width: 280px;
		}
		.mega-dropdown-menu{
			width: 85%;
			li{
				ul{
					li{
						a{
							padding: 10px 0;
						}
					}
				}
			}
		}
	}
	.break{
		float: none;
	}
	.table-order-list{
		.table{
			width: 1000px;
			td{
				&:nth-child(1) {

				}
				&:nth-child(2) {
					width: 300px;
				}
				&:nth-child(3) {
					width: 110px;
				}
				&:nth-child(4) {
					width: 110px;
				}
				&:nth-child(5) {
					width: 110px;
				}
			}
		}
	}
	.shopping-cart {
		.avatar-author{
			margin-right: 100%;
		}
		.title-product{
			width: 100%;
		}
	}
	.new-product-wrapper{
		ul{
			li.li-wdt-33{
				width: 25%;
				.box-desc-bottom{
					.price{
						font-size: 14px;
					}
				}
			}
			li{
				.box-desc-bottom{
					.title{
						font-size: 13px;
					}
				}
			}
		}
	} 


	.follow-us{
		b{
			font-weight: bold;
			width: 100%;
			float: left;
			margin-bottom: 10px;
		}
	}
	.contact-us .box .box-img{
		height: 160px;
	}
}

@media screen and (max-width: 768px) {
	#top-navigation{
		.navbar-nav{
			float: left;
		}
		.navbar-brand{
			padding: 10px 10px 0 0;
			img {
	    	max-width: 260px;
	    	height: auto;
	    }
		}
	}
	#top-navigation .mega-dropdown-menu > li > ul > li > a{
		color: #000000;
    font-size: 10px;
	}
	.new-product-wrapper ul li .box-desc-bottom .title{
		font-size: 12px;
	}.new-product-wrapper ul li.li-wdt-33{
    width: 33.3333%;
	}
	.trust-wrapper .about-trust{
    padding: 30px 15px;
	}
	.js-sidebar-fixed{
		display: none;
	}
	.sidebar-responsive{
		display: block!important;
    margin-bottom: 20px;
	}
	.contact-us .paddding10{
		padding-right: 0;
	}
	.contact-us .box{
		margin-top: 20px;
	}
	.contact-us .box .box-img{
		height: 120px;
	}
	.contact-us .txt17{
		line-height: none;
		font-size: 14px;
	}
	.contact-us .box .box-content .descript{
		font-size: 12px;
	}
}

@media screen and (max-width: 640px) {
	/*------------Global------------*/
	h3, .h3{
		font-size: 20px;
	}
	section{
		padding: 15px 0;
	}
	.dp-none{
		display: none;
	}
	.scroll {
		width: 1120px;
		height: 350px;
		overflow: scroll;
		overflow-x: hidden;
	}
	h5, .h5{
		font-size: 12px;
	}

	/**/

	/*----------Navigation----------*/
	#top-navigation{ 
		.navbar-form{
			width: 100%;
		}
		.h-all-categories{
			color: white;
		}
		.fa-shopping-cart{
			border: none;
		}
		.navbar-nav{
			float: none;
		} 
	}
	.cr-order{
		position: relative;
		background: none;
	}
	.navbar-toggle{
		margin-right: 0px;
	}
	#top-navigation .mega-dropdown-menu{
		width: 100%;
	}
	#top-navigation .mega-dropdown-menu > li > ul > li > a{
		color: white;
	}
	/**/

	/*--------------order--------------*/
	.table-order-list{
		.table{
			width: 490px;
			td{
				&:nth-child(1) {
					width: 1px;
				}
				&:nth-child(2) {
					width: 200px;
				}
				&:nth-child(3) {
					width: 200px;
				}
				&:nth-child(4) {
					width: 120px;
				}
				&:nth-child(5) {
					width: 150px;
				}
			}
		}
	}
	.btn-orange{
		margin-bottom: 5px;
	}
	.note{
		small{
			color: #b20000;
			font-style: italic;
			margin: 10px 0;
			float: left;
			text-align: center;
			width: 100%;
		}
	}
	/**/

	/*-----------Order Review-----------*/
	.table-review-order{
    margin-top: 20px;
		.table{
			width: 750px;
			td{
				&:nth-child(1) {
					width: 300px;
			    white-space: normal;
				}
				&:nth-child(2) {
					width: 100px;
				}
				&:nth-child(3) {
					width: 100px;
				}
				&:nth-child(4) {
					width: 300px;
				}
				&:nth-child(5) {
					width: 100px;
				}
			}
		}
	}
	.payment-to .title{
		margin-bottom: 10px;
	}
	/**/

	/*---------listing product---------*/
	.simple-top-search{
		.input-group{
			width: 100%;
	    margin-bottom: 10px;
		}
		.layout-slider{
			padding: 20px 0;
		}
	}
	.section-breadcrumb{
		padding: 0;
	}
	/**/

	/*----------Show Product----------*/
	.btn-back-order{
		margin-bottom: 10px;
	}
	.color-grey {
		color: #909090;
		width: 100%;
		float: left;
		margin-bottom: 20px;
	}
	.gallery{
		.box-gallery1{
			height: 150px;
		}
		.box-gallery2{
			height: 70px;
		}
		.box-gallery3{
			height: 70px;
			margin-top: 10px;
		}
	}
	.gallery .img-icon{
		width: 15px;
	}
	.gallery .txt-icon{
		font-size: 13px;
	}
	.mgdetail-item{
		.title-description{
			margin-bottom: 5px;
			font-weight: bold;
		}
	}
	.box-cover-img{
		height: auto;
	}
	.flexslider{
		border: none;
		margin: 0;
		margin-bottom: 15px;
	}
	.tab-content{
		padding: 20px;
		.hr{
	    margin: 15px 0;
		}
	}
	/**/

	/*------------Category------------*/
	.the-categories{
		display: none;
	}
	/**/

	/*-----------Content-------------*/
	.banner-logo{
		height: 50px;
	}
	.new-product-wrapper 
	ul{ 
		li.li-wdt-33{
			width: 100%;
			.box-desc-bottom{ 
				.title{
					font-size: 15px;
				}
			}
		}	
	}
	/**/

	/*------------help--------------*/
	.header{
		.title-faq{
			font-size: 20px;
		}
		.img-logo-faq{
			width: 100%;
		}
	}
	.help-tabs{
		margin-bottom: 20px;
	}
	.tab-help{
		padding: 15px;
	}
	.js-sidebar-fixed{
		display: none;
	}
	.sidebar-responsive{
		display: block!important;
    margin-bottom: 20px;
	}
	/**/

	/*-----------Contact US-----------*/
	.contact-us .box .box-img{
		height: 180px;
	}
	.contact-us .btn-warning{
    padding: 6px 12px;
	}
	.contact-us .txt17{
		padding-right: 0;
	}
	/**/

	/*------------Footer------------*/
	.img-footer{
		width: 155px;
		position: relative;
		display: table;
	}
	.copyright .follow-us{
		float: left;
		margin-top: 25px;
	}
	.follow-us{
		margin-bottom: 20px;
		b{
			width: 100%;
			float: left;
			margin-bottom: 5px;
		}
	}
	footer .title-tags{
		padding-top: 15px;
    padding-bottom: 5px;
	}
	/**/
	.overplay-top-menu{
		position: relative;
	}
}

@media screen and (max-width: 350px) {
	section{ 
		padding: 10px 0;
		h1{
			font-size: 17px;
		}
	}
	h3, .h3{
		font-size: 15px;
	}
	h4, .h4{
		font-size: 15px;
	}

	.sidebar-show .price-lg{
		font-size: 16px;
	}
	.tab-content{
		padding: 20px;
	}
	.gallery {
		.box-gallery1{
			height: 120px;
		}
		.box-gallery2{
			height: 55px;
		}
		.box-gallery3{
			height: 55px;
		}
	}
	.mgdetail-item{
		.title-description{
			margin-bottom: 5px;
			font-weight: bold;
		}
	}
	.new-product-wrapper ul li.li-wdt-33 .box-desc-bottom .title{
		font-size: 14px;
	}
	.new-product-wrapper ul li .box-desc-bottom .price{
		font-size: 15px;
	}
}