/*=============================*/
/*---------Red Theme---------*/
/*=============================*/
/*#top-navigation .navbar-default{
	background: #d01f1f;
}
#top-navigation .navbar-form button{
	background: #f5733c;
}
.new-product-wrapper ul li.li-wdt-33 .box-img-wrapper .discount{
	background: #d01f1f;
}
.new-product-wrapper ul li.li-wdt-33 .box-img-wrapper .discount:after{
	border-color: transparent #d01f1f;
}
.sidebar-show .discount-value{
	background: #d01f1f;
}
.header{
	background: #d01f1f;
}*/

/*=============================*/
/*--------Lazada Theme--------*/
/*============================*/
/*a{
	color: #ff804a;
}
#top-navigation .navbar-default{
	background: linear-gradient(90deg,#003e52 50%,#0d6d85 87%,#1a9cb7 100%);
}
#top-navigation .navbar-form button{
	background: #ff804a;
}
.cr-order{
	background: #ff804a;
}
.new-product-wrapper ul li.li-wdt-33 .box-img-wrapper .discount{
	background: #fe804a;
}
.new-product-wrapper ul li.li-wdt-33 .box-img-wrapper .discount:after{
	border-color: transparent #fe804a;
}
.sidebar-show .discount-value{
	background: #fe804a;
}
.header{
	background: linear-gradient(90deg,#003e52 50%,#0d6d85 87%,#1a9cb7 100%);
}
.new-product-wrapper ul li.li-wdt-33 .box-product-list{
	box-shadow: none;
}
.btn-danger{
	background: #fe804a;
	border-color: #fe804a;
}
.simple-top-search .btn {
	background: #fe804a;
	border-color: #fe804a;
}
.new-product-wrapper ul li.li-wdt-33 .box-desc-bottom .price {
	color: #fe804a;
}
footer{
	background: linear-gradient(90deg,#003e52 50%,#0d6d85 87%,#1a9cb7 100%);
	color: white;
}
footer a{
	color: white;
}
footer h3 {
	color: #fe804a;
}
footer .title-tags{
	color: white;
	border-top: 1px solid rgba(234, 234, 234, 0.35);
}
.btn-brown {
	background: #fe804a;
}
.btn-checkout {
  background: linear-gradient(90deg,#003e52 50%,#0d6d85 87%,#1a9cb7 100%);
}*/

/*=============================*/
/*--------Shopee Theme--------*/
/*============================*/
/*a{
	color: #ff804a;
}
#top-navigation .navbar-default{
	background: linear-gradient(-180deg,#ff5722,#ff531d);
}
#top-navigation .navbar-form button{
	background: #ff804a;
}
.cr-order{
	background: #ff804a;
}
.new-product-wrapper ul li.li-wdt-33 .box-img-wrapper .discount{
	background: #ffd742;
  color: #fd573e;
}
.new-product-wrapper ul li.li-wdt-33 .box-img-wrapper .discount:after{
	border-color: transparent #ffd742;
}
.sidebar-show .discount-value{
	background: #fe804a;
}
.header{
	background: linear-gradient(-180deg,#ff5722,#ff531d);
}
.new-product-wrapper ul li.li-wdt-33 .box-product-list{
	box-shadow: none;
}
.btn-danger{
	background: #fe804a;
	border-color: #fe804a;
}
.simple-top-search .btn {
	background: #fe804a;
	border-color: #fe804a;
}
.new-product-wrapper ul li.li-wdt-33 .box-desc-bottom .price {
	color: #fe804a;
}*/

/*=============================*/
/*-----Blue Default Theme-----*/
/*============================*/
/*#top-navigation .navbar-default {
	background: #252830;
}
#top-navigation .navbar-form button {
	background: #33bffa;
}
.cr-order{
	background: #33bffa;
}
.header {
	background: #252830;
}
.header .title-faq{
	color: #33bffa;
}
.sidebar-show .discount-value {
	background: #252830;
}
.btn-checkout {
    background: #252830;
}
*/

/*=============================*/
/*-----Blue Smooth Theme-----*/
/*============================*/
/*#top-navigation .navbar-default {
	background: #0295da;
}
#top-navigation .navbar-form button {
	background: #ffffff;
	color: grey;
}
#top-navigation .navbar-form .form-control {
	border-radius: 3px 0 0 3px;
	border-color: white;
}
#top-navigation .fa-search{
	background: #0295da;
	padding: 9px 14px;
	border-radius: 3px;
	position: relative;
	left: 10px;
	color: white;
}
#top-navigation .navbar-form button:hover {
	opacity: 22;
}
#top-navigation .fa-search:hover{
	opacity: 0.7;
}
.transition-timer-carousel .transition-timer-carousel-progress-bar {
	background: #f5733c;
}
.header {
	background: #0295da;
}
.btn-checkout {
	background: #0295da;
	border: 0;
}*/

/*=============================*/
/*--------Yellow Theme--------*/
/*============================*/
/*#top-navigation .navbar-default {
	background: -webkit-linear-gradient(45deg, #ffc049, #ffdc65);
}
#top-navigation .navbar-form button {
	background: #ffffff;
	color: grey;
}
#top-navigation .navbar-form .form-control {
	border-radius: 3px 0 0 3px;
	border-color: white;
}
#top-navigation .fa-search{
	background: #ffc74e;
	padding: 9px 14px;
	border-radius: 3px;
	position: relative;
	left: 10px;
	color: white;
}
#top-navigation .navbar-form button:hover {
	opacity: 22;
}
#top-navigation .fa-search:hover{
	opacity: 0.7;
}
.transition-timer-carousel .transition-timer-carousel-progress-bar {
	background: #f5733c;
}
.header {
	background: -webkit-linear-gradient(45deg, #ffc049, #ffdc65);
}
.btn-checkout {
	background: #0295da;
	border: 0;
}
#top-navigation .navbar-default .navbar-nav li a:hover, #top-navigation .navbar-default .navbar-nav li a:focus, #top-navigation .navbar-default .navbar-nav li a:active {
	background: none;
	color: #f5733c;
}*/

/*=============================*/
/*--------Tokopedia Theme--------*/
/*============================*/
/*#top-navigation .navbar-default {
	background: #f4f4f4;
	border-bottom: 1px solid #d9d9d9;
}
#top-navigation .navbar-default .navbar-nav > li > a {
	color: #777;
}
body{
	background: white;
}
#top-navigation .navbar-form button {
	background: #76b51b;
}
.new-product-wrapper ul li.li-wdt-33 .box-product-list{
	border: 1px solid #e4e3e3;
}

#top-navigation .navbar-default .navbar-nav li a:hover, #top-navigation .navbar-default .navbar-nav li a:focus, #top-navigation .navbar-default .navbar-nav li a:active {
	background: none;
	color: #232322;
}
.cr-order{
	background: #ff8a44;
}
.btn-checkout {
	background: #76b51b;
	border: 0;
}
.header{
	background: #7b7b7b;
}*/