/********************************/
/*        Global Custom         */
/********************************/
$blue: #499bea;
$red: #b20000;
$orange: #f57224;
$green: #64d882;
$black: #333333;
$grey: #909090;
$brown: rgb(102, 102, 102);
$brown-soft: #a2836f;

body{
/*  font-family: 'Roboto',sans-serif;*/
font-weight: 300;
font-style: normal;
font-size: 13px;
letter-spacing: 0px;
color: $black;
background: #ededed;
background: -moz-linear-gradient(top, #ededed 0%, white 0%, #f6f6f6 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #ededed), color-stop(0%, white), color-stop(100%, #f6f6f6));
background: -webkit-linear-gradient(top, #ededed 0%, white 0%, #f6f6f6 100%);
background: -o-linear-gradient(top, #ededed 0%, white 0%, #f6f6f6 100%);
background: -ms-linear-gradient(top, #ededed 0%, white 0%, #f6f6f6 100%);
background: linear-gradient(to bottom, #ededed 0%, white 0%, #f6f6f6 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#f6f6f6', GradientType=0 );
}
.break{
  width: 100%;
  float: left;
  height: 10px;
}
i{
  margin: 0 5px;
}

a{
  -webkit-transition:all .4s ease-in-out!important;
  -moz-transition:all .4s ease-in-out!important;
  ms-transition:all .4s ease-in-out!important;
  -o-transition:all .4s ease-in-out!important;
  transition:all .4s ease-in-out!important;
  text-decoration: none;
  color: $orange;
}

a:hover{
  -webkit-transition:all .4s ease-in-out!important;
  -moz-transition:all .4s ease-in-out!important;
  ms-transition:all .4s ease-in-out!important;
  -o-transition:all .4s ease-in-out!important;
  transition:all .4s ease-in-out!important;
  text-decoration: none;
}

p{
  font-size: 13px;
}

.label{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
  margin-right: 2px;
}

.alert{
  margin-bottom: 0;
  text-align: center;
  border-radius: 0;
}
.uppercase{
  text-transform: uppercase;
}
.color-grey{
  color: $grey;
}
.full-width{
  width: 100%;
}

.margin-btm-10{
  margin-bottom: 10px;
}

.table-responsive{
  float:left;
  width:100%;
}

.choice-inden{
  padding: 10px;
  text-align: center;
  border: solid 1px #ddd;
  background: #f5f5f5;
}

.padding10{
  padding: 10px!important;
}

.nav-tabs > li > a{
  border-radius: 0;
  background: $brown-soft!important;
  color: #fff;
  margin-right: 5px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  border-top: solid 2px $brown-soft;
  background: #fff!important;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
  border-color: #00ADEF;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(0,0,0,0);
}

/********************************/
/*            Top Bar           */
/********************************/
.top-bar{
  background: #fff;
  width: 100%;
  -webkit-box-shadow: 0 0 4px #000000;
  -moz-box-shadow: 0 0 4px #000000;
  -ms-box-shadow: 0 0 4px #000000;
  -o-box-shadow: 0 0 4px #000000;
  box-shadow: 0 0 4px #000000;
  font-size: 12px;
  border-top: solid 2px $blue;
  span{
    float: left;
    color: white;
    padding: 5px 0;
  }
  .login-reg-actions{
    margin-top: 5px;
  }
  .login-reg-actions .btn{
    background-color: #ededed;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',endColorstr='#dfdfdf');
    background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#ededed),color-stop(100%,#dfdfdf));
    background-image: -webkit-linear-gradient(top,#ededed 0%,#dfdfdf 100%);
    background-image: -moz-linear-gradient(top,#ededed 0%,#dfdfdf 100%);
    background-image: -o-linear-gradient(top,#ededed 0%,#dfdfdf 100%);
    background-image: linear-gradient(top,#ededed 0%,#dfdfdf 100%);
    border: 1px solid #bdbdbd;
    float: left;
    font-size: 12px;
    font-weight: 500;
  }
  .login-reg-actions .btn:hover{
    /*opacity: 0.7;
    color: #fff!important;*/
  }
  .login-reg-actions .create-account{
    color: #008000;
  }
  .login-reg-actions .nav-register{
    color: $blue;
  }
  .login-reg-actions span{
    padding: 0;
  }
  .login-reg-actions .cart-btn{
    span{
      color: #333;
    }
  }
  .cart-text .fa, .menu-notification .fa{
    margin-right: 5px;
  }
  .count-inbox{
    font-size: 10px;
    background: red;
    padding: 0 2px !important;
    border-radius: 2px;
  }
  .dropdown-toggle-new{
    padding: 0!important;
    .message-btn{
      border-radius: 0!important;
      .fa{
        font-size: 15px;
        color: #000;
        padding: 1px;
        margin-right: 2px;
      }
    }
  }
  .cart-btn{
    .fa{
      font-size: 15px;
    }
  }
  .nav-account .open > a, .nav-account .open > a:hover, .nav-account .open > a:focus {
    background: none;
  }
  .dropdown-menu .divider{
    margin: 0;
  }
  .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle){
    z-index: 1000;
  }
}

.top_info{
  padding-left: 0;
  list-style: none;
  font-weight: 300;
  li a{
    color: #333;
    padding: 12px 10px;
    float: left;
    border-right: solid 1px #ccc;
    font-weight: 500;
  }
  li a:hover{
    text-decoration: none;
    color: #000;
  }
  li:first-child a{
    border-left: solid 1px #ccc;
  }
}

.btn-out-cart{
  background: $green;
  border-radius: 0;
  color: white;
  &:hover{
    opacity: 0.9;
    color: white;
  }
}

/********************************/
/*          Order Payment       */
/********************************/
.tcenter{
  text-align: center;
}
.payment-to{
  float: left;
  width: 100%;
  padding: 25px 0;
  background: white;
  border: 1px solid #ddd;
  margin-top: 10px;
  position: relative;
  .title{
    text-align: center;
    font-size: 17px;
    .price{
      font-size: 20px;
      font-weight: bold;
    }
  }
}

/********************************/
/*      Custom Menu Dropdown    */
/********************************/
.banner-logo{
  margin: auto;
  margin-top: auto;
  display: table;
  height: 150px;
  margin-top: 30px;
  margin-bottom: 10px;
}
#top-navigation{
  .navbar-default{
    background: $brown;
  }
  .navbar-toggle {
    padding: 15px 15px;
    background: #4c7511;
    border-color: rgba(113, 110, 110, 0);
  }
  .navbar-brand {
    font-weight: bold;
    padding: 10px 20px 0 0;
    float: left;
    height: auto;

    img{
      height: 38px;
      width: auto;
    }
    h1{
      margin-top:0px;
    }
  }
  .list-dropdown-menu{
    padding: 0;
  }
  .list-dropdown-menu li a{
    padding: 10px 10px;
    border-bottom: 1px solid #f5f5f5;
    color: #555;
    background-color: #fff;
  }
  .list-dropdown-menu li a:hover{
    background: #fff;
    color: #555;
  }
  .navbar-default .navbar-nav > li > a{
    color: #fff;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .navbar-default .navbar-nav > li > a i{
    font-size: 16px;
  }
  .navbar-default .navbar-nav > li > a:hover{
    background: #fff;
    color: #555;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus ,
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus{
    background: #fff;
    color: #555;
  }
  .navbar-default .navbar-right li a{
    border-right: 0;
  }
  .dropdown-menu{
    min-width: 200px;
    border-top: 0;
  }
  .mega-dropdown {
    position: static !important;
    width:100%;
  }
  .mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  .mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
  }
  .mega-dropdown-menu > li > ul > li {
    list-style: none;
    img{
      height: 20px;
      width: 22px;
      margin-right: 4px;
    }
  }
  .mega-dropdown-menu > li > ul > li > a {
    display: block;
    padding: 10px;
    clear: both;
    line-height: 1.428571429;
    color: #606060;
    white-space: normal;
    font-size: 12px;
    font-weight: 300;
  }
  .mega-dropdown-menu > li ul > li > a:hover,
  .mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
    color: $orange;
    background-color: #f5f5f5;
  }
  .mega-dropdown-menu > li > ul > li.dropdown-header > a {
    padding: 0px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
  }
  .mega-dropdown-menu > li > ul > li.dropdown-header > a:hover {
    background: none;
  }
  .mega-dropdown-menu .dropdown-header {
    color: #428bca;
    font-size: 18px;
    font-weight:bold;
    padding: 6px;
  }
  .mega-dropdown-menu form {
    margin:3px 20px;
  }
  .mega-dropdown-menu .form-group {
    margin-bottom: 3px;
  }
  .h-all-categories{
    text-align: center;
    margin-top: 0;
    padding-bottom: 10px;
    font-size: 16px;
    text-transform: uppercase;
  }
  .all-categories a{
    background: #f5f5f5;
    padding: 10px;
    text-align: center;
    border: dashed 1px #ccc;
    margin-top: 20px;
    width: 100%;
    float: left;
  }
  .all-categories a:hover{
    opacity: 0.6;
    text-decoration: none;
  }
  .navbar-form {
    width: 400px;
    .form-control{
      height: 43px;
    }
    button{
      height: 43px;
      background: $orange;
      border: 0;
      &:hover{
        border: 0;
        opacity: 0.9;
      }
    }
  }
  .navbar-form .input-group{
    width: 100%;
  }
  .navbar-form .input-group-btn{
    width: 10px;
  }
  .nav-account .dropdown-menu{
    padding: 0;
    border-radius: 0;
    font-size: 12px;
    width: 220px;
  }
  .nav-account .dropdown-menu li a{
    padding: 8px 15px;
    color: #333;
    border-bottom: solid 1px #f5f5f5;
  }
  .nav-account .dropdown-toggle{
    cursor: pointer;
  }
  .nav-account .dropdown-toggle .count-inbox{
    background: red;
    font-size: 10px;
    padding: 1px 2px;
    color: #fff!important;
  }
  .fa-shopping-cart{
    font-size: 16px;
  }
  .dropdown-menu-message{
    width: 300px!important;
    .header-inbox-pop {
      padding: 10px;
      background: #f5f5f5;
      color: #777;
      float: left;
      width: 100%;
      a{
        color: #444!important;
        border: 0!important;
      }
    }
    .box-inbox-pop {
      float: left;
      width: 100%;
      font-size: 11px;
      padding: 10px 0;
      a{
        width: 100%;
        float: left;
        border-bottom: solid 1px #f5f5f5;
        padding: 10px!important;
      }
      a:hover{
        background: #FFFDFD;
        text-decoration: none;
      }
      .usr{
        color: #1fb4da;
      }
      .p-message{
        color: #444!important;
        padding: 10px;
      }
    }
  }
}


/********************************/
/*    Carousel Home Custom      */
/********************************/
.section-home-carousel{
  padding: 20px 0;
}
.home-carousel .carousel-inner{
  max-height: 500px;
}
.transition-timer-carousel .carousel-inner img, .carousel-inner > .item > img, .carousel-inner > .item > a > img{
  width: 100%;
}
.transition-timer-carousel .carousel-caption {
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 4%, rgba(0,0,0,0.5) 32%, rgba(0,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(4%,rgba(0,0,0,0.1)), color-stop(32%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  width: 100%;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: left;
  padding-top: 5px;
  padding-left: 15%;
  padding-right: 15%;
}
.transition-timer-carousel .carousel-caption .carousel-caption-header {
  margin-top: 10px;
  font-size: 24px;
}
.transition-timer-carousel .carousel-indicators {
  bottom: 0px;
  margin-bottom: 5px;
}
.transition-timer-carousel .carousel-control {
  z-index: 11;
}
.transition-timer-carousel .transition-timer-carousel-progress-bar {
  height: 5px;
  background-color: $orange;
  width: 0%;
  margin: -5px 0px 0px 0px;
  border: none;
  z-index: 11;
  position: relative;
}
.transition-timer-carousel .transition-timer-carousel-progress-bar.animate{
  -webkit-transition: width 4.25s linear;
  -moz-transition: width 4.25s linear;
  -o-transition: width 4.25s linear;
  transition: width 4.25s linear;
}
.carousel-control.left, .carousel-control.right{
  background-image: none!important;
}
.main-text {
  position: absolute;
  top: 25%;
  width: 80%;
  color: #FFF;
  margin: auto;
  display: table;
  left: 0;
  right: 0;
}
.main-text-auction{
  top: 25%;
  width: 50%;

  form{
    margin-bottom: 40px;
  }
  .form-control{
    border-radius: 0!important;
    border-left: 0!important;
  }
}
.main-text-auction
.main-text-auction
.main-text-auction .input-group-addon{
  border-right: 0!important;
}
.main-text h1 {
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  font-size: 30px;
  font-weight: bold;
}
.main-text p {
  font-size: 16px;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.btn-create-sell {
  border-radius: 6px!important;
  margin-bottom: 20px;
  font-size: 18px;
  padding: 10px 30px;
  background: rgba(0,0,0,0.5);
  border-style: none;
  color: #fff;
}
.btn-create-sell:hover {
  color: #fff;
  background: rgba(255,255,255,0.5);
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

/********************************/
/*         Media Carousel       */
/********************************/
.home-carousel h1{
  color: #fff;
}
.media-carousel
{
  margin-bottom: 0;

  .carousel-control.left
  {
    background: #ffffff !important;
    top: 96px;
    height: 32px;
    width: 31px;
    opacity: 11;
    left: -30px;
    color: #848484;
    font-size: 22px;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  }
  .carousel-control.right
  {
    background: #ffffff !important;
    top: 96px;
    height: 32px;
    width: 31px;
    opacity: 11;
    right: -30px;
    color: #848484;
    font-size: 22px;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  }
  .carousel-indicators
  {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;

    li
    {
      background: #c0c0c0;
    }
    .active
    {
      background: #333333;
    }
  }
  img
  {
    width: 100%;
    max-height: 200px;
  }
}

/********************************/
/*         Quote Carousel       */
/********************************/
#quote-carousel {
  margin-top: 30px;
  font-weight: 200;

  small{
    color: #000;
  }
  .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
  }
  .carousel-control.left {
    left: -60px;
  }
  .carousel-control.right {
    right: -60px;
  }
  .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;

    li {
      width: 50px;
      height: 50px;
      margin: 5px;
      cursor: pointer;
      border: 4px solid #CCC;
      border-radius: 50px;
      opacity: 0.4;
      overflow: hidden;
      transition: all 0.4s;
    }
    .active {
      background: #333333;
      width: 100px;
      height: 100px;
      border-radius: 100px;
      border-color: #fff;
      opacity: 1;
      overflow: hidden;
    }
  }
  .carousel-inner {
    min-height: 300px;
  }
}

.item{
  blockquote {
    border-left: none;
    margin: 0;
  }
  blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
  }
}

/********************************/
/*       Products Carousel      */
/********************************/
.slider{
  position: relative;
  .flexslider{
    margin-bottom: 10px;
  }
  .flex-caption {
    width: 100%;
    padding: 20px;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    font-size: 14px;
    line-height: 18px;
    position: absolute;
    margin-bottom: 0;
  }
  #slider-product{
    border: solid 1px #ccc;
    border-radius: 0;
  }
  #slider-product .slides > li {
    position: relative;
    overflow: hidden;
    height: 300px;
  }
  #carousel-product .slides > li {
    border: solid 1px #ccc;
    padding: 2px;
    margin-right: 4px;
    height: 80px;
    overflow: hidden;
  }
  .flexslider{
    background: none!important;
    border: 0;
  }
}

/********************************/
/*          Magnify Show        */
/********************************/
.magnify {
  position: relative;
  cursor: none
}

.magnify-large {
  position: absolute;
  display: none;
  width: 200px;
  height: 200px;

  -webkit-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.55), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.55), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.55), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);

  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%
}

/********************************/
/*      Sidebar & Content       */
/********************************/
.detail-content{
  font-size: 13px;
}
.sidebar-show {
  width: 100%;
  background: #fff;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 13px;
  float: left;
  background: white;
  
  .status-stock{
    display: inline-block;
    width: 100%;
    .code{
      color: #000000;
      float: left;
      padding-top: 3px;
    }
    .stock{
      color: $grey;
      font-size: 13px;
      text-align: right;
      float: left;
      padding: 3px 6px;
    }
    .status{
      color: $green;
      border: solid 1px $green;
      padding: 2px 4px;
      border-radius: 4px;
      float: left;
      &.preorder{
        color: $orange;
        border: solid 1px $orange;
      }
      &.out-stock{
        color: $red;
        border: solid 1px $red;
      }
    }
  }

  .discount-value{
    background: #f57224;
    color: white;
    display: inline-block;
    padding: 3px 5px;
    margin-bottom: 10px;
    border-radius: 4px;
  }

  .price-lg{
    font-size: 20px;
    color: $orange;
    &.discount{
      color: $grey;
      text-decoration: line-through;
      font-size: 13px;
    }
  }
  .price-small{
    font-size: 15px;
    color: #78C042;
  }
  .price-label{
    font-size: 20px;
  }
  .btn-order{
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
  }
  .btn{
    width: 100%;
  }
  .btn-question{
    width: auto;
  }
  .title{
    margin-top: 0;
    font-size: 20px;
    font-weight: 400;
  }
  hr{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .verified{
    color: #78C042;
  }
  .properties{
    padding-left: 15px;
    color: #666;
  }
  .indent{
    padding: 5px 0px;
    font-size: 11px;
    border-radius: 4px;
    color: $red;
    font-style: italic;
    width:100%;
  }
  .box-profile{
    margin: auto;
    display: table;
    text-align: center;
    .avatar-author{
      margin: auto;
      margin-bottom: 20px;
    }
  }
}
.indent{
  padding: 5px 0px;
  font-size: 11px;
  border-radius: 4px;
  color: $red;
  font-style: italic;
  width:100%;
}
.side-filter-search{
  width: 100%;
  background: #f5f5f5;
  border: 1px solid #e4e4e4;
  float: left;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-radius: 4px;

  .panel-default{
    background: #f5f5f5;
    border: 1px solid #e4e4e4;
  }
  .panel-default .panel-heading {
    background-color: #333 !important;
    color: #ffffff !important;
    padding: 13px 15px;
    float: left;
    width: 100%;
  }
}

.form-side-search{
  background: #fff;
  padding: 10px;
  -webkit-box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

/********************************/
/*    The Categories Section    */
/********************************/
.the-categories{
  padding-left: 0;
  list-style: none;
  margin: 0 -5px;
}
.the-categories li.col-sm-3{
  padding-left: 5px;
  padding-right: 5px;
}
.the-categories li ul{
  list-style: none;
  padding-left: 0;
}
.the-categories li ul li{
  padding: 10px;
  width: 100%;
  float: left;
  border: solid 1px #e6e6e6;
  background: #fff;
  color: #606060;
  cursor: pointer;
  margin-bottom: 5px;
  border-radius: 3px;
  overflow: hidden;
  img{
    height: 18px;
    width: 18px;
    margin-right: 4px;
  }
}
.the-categories li ul li:hover, .the-categories li ul li.active{
  text-decoration: none;
  border-color: $orange;
}
.the-categories li ul li input{
  display: none;
}
.section-sub-category-field{
  background: #fff;
  padding: 15px;
  margin-top: 10px;
  border: solid 1px #ccc;
  border-left: solid 4px $orange;
  float: left;
  width: 100%;
  h2{
    margin-top: 0;
    font-size: 25px;
  }
  ul{
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    li{
      padding:4px;
      color: $orange;
      cursor: pointer;
      font-size: 13px;
      input{
        display: none;
      }
    }
    li:hover, li.active{
      background: #f5f5f5;
    }
  }
}

/********************************/
/*     The Products Section     */
/********************************/
.available-category{
  padding-top: 20px;
  h3{
    text-align: center;
    color: $brown;
    font-size: 30px;
    letter-spacing: 0.3px;
    font-weight: normal;
    margin-bottom: 25px;
  }
  .col-sm-12{
    padding-left: 5px;
    padding-right: 5px;
  }
}
.section-products{
  padding-top: 0;
}
.new-product-wrapper{
  width: 100%;

  .box-info-top-wrapper{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;

    .title{
      font-size: 30px;
      font-weight: bold;
      color: #000000;
      text-align: center;
    }

    .description{
      font-size: 20px;
      color: #000000;
      line-height: 45px;
    }
  }

  ul{
    padding-left: 0px;
    margin-bottom: 0;
    li{
      float: left;
      list-style: none;

      .box-img-wrapper{
        height: 0;
        padding-bottom: 70%;
        overflow: hidden;
        position: relative;
        border: 0;

        .discount{
          position: absolute;
          background: $red;
          color: white;
          padding: 2px 5px;
          font-size: 13px;
          bottom: 0;
        }

        input{
          position: absolute;
          bottom: 10px;
          left: 10px;
        }

        img{
          display: block;
          width: 100%;
          -webkit-transition: all 1s ease; /* Safari and Chrome */
          -moz-transition: all 1s ease; /* Firefox */
          -ms-transition: all 1s ease; /* IE 9 */
          -o-transition: all 1s ease; /* Opera */
          transition: all 1s ease;

          /*&:hover{
            -webkit-transform:scale(1.25); 
            -moz-transform:scale(1.25); 
            -ms-transform:scale(1.25); 
            -o-transform:scale(1.25);
             transform:scale(1.25);
          }*/
        }

        .avatar {
          position: absolute;
          bottom: 5px;
          left: -5px;
          margin-left: 10px;
          margin-right: 10px;
        }
        .avatar img {
          width: 60px;
          height: 60px;
          max-width: 60px;
          max-height: 60px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          border: 5px solid rgba(255,255,255,0.5);
          cursor: pointer;
          vertical-align: 0;
        }
      }

      .section-whistlist{
        position: absolute;
        top: 5px;
        right: 0px;
      }

      .status-whistlist i{
        font-size: 25px;
        cursor: pointer;
        display: none;
        color: #ccc;
      }

      .status-whistlist i.active{
        color: $green;
        display: block;
      }

      .box-desc-bottom{
        width: 100%;
        margin-top: 0;
        background: white;
        border-top: 0;
        padding: 6px;
        min-height: 125px;
        display: inline-block;

        hr{
          margin-bottom: 5px;
          margin-top: 0;
          margin-left: -10px;
          margin-right: -10px;
        }

        .status-stock{
          display: inline-block;
          width: 100%;
          .code{
            color: #000000;
            font-weight: bold;
            float: left;
            padding-top: 3px;
          }
          .stock{
            color: $grey;
            font-size: 10px;
            text-align: right;
            float: right;
            padding: 6px;
          }
          .status{
            color: $green;
            border: solid 1px $green;
            padding: 2px 4px;
            border-radius: 4px;
            float: right;
            &.preorder{
              color: $orange;
              border: solid 1px $orange;
            }
            &.out-stock{
              color: $red;
              border: solid 1px $red;
            }
          }
        }

        .title{
          font-size: 14px;
          font-weight: 400;
          color: #000000;
          min-height: 40px;
          a{
            color: #000000;
            text-decoration: none;
          }
        }

        .price{
          font-size: 16px;
          color: $orange;
          text-transform: uppercase;
          line-height: 20px;
          &.discount{
            color: $grey;
            text-decoration: line-through;
            font-size: 12px;
          }
        }

        &:first{
          border-left: 1px solid transparent;
        }

        .label-price{
          color: #8e8e8e;
          font-size: 10px;
        }
        .basic-price{
          color: $red;
          padding: 2px;
          font-size: 12px;
        }
      }

      &.li-wdt-50{
        width: 50%;
        margin-bottom: 0;
        padding: 5px;
      }

      &.li-wdt-33{
        width: 20%;
        margin-bottom: 0;
        padding: 5px;
      }

      &.li-wdt-33-user{
        width: 33.3%;
        margin-bottom: 0;
        padding: 5px;
      }

      &:hover{
        .box-desc-bottom{
          box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
          -webkit-transform: all .3s ease-in-out;
          -ms-transform: all .3s ease-in-out;
          transform: all .3s ease-in-out;
        }
      }
    }
  }
}

/********************************/
/*      Side Search Section     */
/********************************/
.side-filter-search {
  width: 100%;
  background: #efefeb;
  border: 1px solid #e4e4e4;
  float: left;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-radius: 4px;
}
.side-search-filter-choice{
  .panel-accords {
    background-color: #efefeb!important;
    color: #333 !important;
    float: left;
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 2px;
    text-transform: uppercase;
    font-weight: 500;
  }
  .table{
    margin-bottom: 0;
    tr td{
      border-top: 0;
      border-bottom: solid 1px #f5f5f5;
      font-size: 12px;
      padding: 5px 10px;
    }
  }
  a.strong{
    font-weight: bold;
    color: #78c042;
  }
}
.h-category-shop{
  background: $blue;
  color: #fff;
  padding: 10px 10px;
  font-size: 16px;
  text-align: center;
  -webkit-box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}
.jslider{
  .jslider-value{
    background: #000!important;
    color: #fff;
  }
  .jslider-label{
    opacity: none;
  }
}
.btn-search-now {
  width: 100%;
}

/********************************/
/*         Header Search        */
/********************************/
.header-search{
  padding: 30px 0 60px 0;
  background-image: url("/assets/bg_pattern.png");
  border-bottom: solid 2px $blue;

  h4{
    color: #000;
    text-shadow: 2px 2px #fff;
    font-weight: 300;
    font-size: 20px;
  }
  .form{
    width: 60%;
    margin: auto;
    background-color:rgba(0,0,255,0.3);
    padding: 15px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    input{
      height: 46px;
    }
    .by-search{
      background: $blue;
      background: -moz-linear-gradient(top, $blue 0%, #207ce5 2%, #207ce5 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, $blue), color-stop(2%, #207ce5), color-stop(100%, #207ce5));
      background: -webkit-linear-gradient(top, $blue 0%, #207ce5 2%, #207ce5 100%);
      background: -o-linear-gradient(top, $blue 0%, #207ce5 2%, #207ce5 100%);
      background: -ms-linear-gradient(top, $blue 0%, #207ce5 2%, #207ce5 100%);
      background: linear-gradient(to bottom, $blue 0%, #207ce5 2%, #207ce5 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$blue', endColorstr='#207ce5', GradientType=0 );
      color: #fff;
    }
  }
}
.simple-top-search{
  padding: 15px;
  background: #fff;
  margin-bottom: 10px;
  border: solid 1px #ccc;
  border-top: solid 4px $orange;
  select{
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
  }
  .layout-slider{
    padding: 6px 0;
  }
  .btn{
    background: $orange;
    &:hover{
      opacity: 0.9;
    }
  }
}

/********************************/
/*      Description Custom      */
/********************************/

.tab-content{
  float: left;
  width: 100%;
  background: #fff;
  padding: 40px;
  border: 1px solid #e4e4e4;
  border-top: 0;
  margin-bottom: 20px;
  h5{
    margin-top: 0;
  }
}
.section-comments-group{
  margin-bottom: 20px;
  .p_comment{
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 4px;
  }
}
.desc-product{
  background: #fff;
  padding: 20px;
  border: 1px solid #e4e4e4;
  border-radius: 4px;

  h5{
    margin-top: 0;
  }
}

/********************************/
/*      Button Color Custom     */
/********************************/
.btn-color-box{
  width: 40px!important;
  height: 40px!important;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 1px solid #dddddd;
  position: relative;
  cursor: pointer;

  input[type="radio"]{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%!important;
    height: 100%!important;
    opacity: 0;
    border-radius: 0;
  }
}
.btn-color-box.active{
  opacity: 1 !important;
  box-shadow: 4px 4px 11px -3px #000000;
}
.color-ids {
  margin-top: 0px;
  height: auto !important;
  position: absolute !important;
  overflow: hidden;
  opacity: 0;
  min-width: 100%;
  min-height: 80%;
  width: auto !important;
  width: 100%;
  left: 0%;
}

.btn-color-box2{
  width: 40px!important;
  height: 40px!important;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 1px solid #dddddd;
  position: relative;
  cursor: pointer;

  input[type="radio"]{
    position: absolute;
    border-radius: 0;
    margin: auto;
    display: table;
    left: 0;
    right: 0;
  }
}
.btn-color-box2.active{
  opacity: 1 !important;
  box-shadow: 4px 4px 11px -3px #000000;
}
.color-ids2 {
  margin-top: 0px;
  height: auto !important;
  position: absolute !important;
  min-width: 100%;
  min-height: 80%;
  width: auto !important;
  width: 100%;
  left: 0%;
}

/********************************/
/*   Featured Custom Section    */
/********************************/
.featured-section{
  /*display: table;
  margin: auto;*/
  float: right;

  .author-item{
    width: 92px;
    margin-bottom: 10px;
    padding: 0 6px;
  }
  .item{
    border: 3px solid #fff;
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    height: 80px;
    -webkit-box-shadow: 1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 3px -1px rgba(0,0,0,0.75);
  }
  .popover {
    min-width: 350px;
    padding-bottom: 6px;
    background: #fff;
    color: #232323;
    position: absolute;

    .tooltips-image{
      margin: 5px 0;
      height: 165px;
      overflow: hidden;
    }
    .tooltips-image img{
      width: 100%;
      height: auto;
    }
    .popover-title{
      background: #f5f5f5;
      font-weight: normal;
      border-bottom: solid 1px #efefeb;
      color: #333;
    }
  }
  .tooltips-content{
    display: block;
  }
  .tooltips-desc{
    width: 100%;
    float: left;
    margin: 6px 0 4px 0;
    clear: both;
  }
  .tooltips-tag{
    font-size: 12px;
    color: #B2B2B2;
    float: left;
    display: inline-block;
  }
  .tooltips-price{
    float: right;
    font-size: 14px;
    color: #78C042;
  }
  .tooltips-content{
    display: none;
  }
  .item img{
    width: 100%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
  }
}
.avatar-author{
  padding: 0!important;
  border: solid 2px #ccc;
  border-radius: 50%;
  overflow: hidden;
  height: 95px;
  width: 95px;
}
.avatar-author img {
  width: 100%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.avatar-setting{
  border: solid 1px #ccc;
  width: 100%;
  overflow: hidden;
  img{
    width: 100%;
  }
}
.card-avatar{
  margin-top: 15px;
  background: $brown-soft;
  border: solid 1px $brown-soft;
  padding: 15px;
  color: #fff;
}

.brand-shop{
  margin-top: 10px;
}
.brand-shop a{
  color: #000;
}

.section-user{
  padding-top: 15px;
  .title-manage{
    margin-top: 0;
  }
}
.section-breadcrumb{
  width: 100%;
  float: left;
  padding: 10px;
}
.breadcrumb{
  margin-bottom: 15px;
  background: none;
  font-size: 12px;
  a{
    color: $orange;
  }
}

/********************************/
/*          Box Custom          */
/********************************/
.service{
  margin-top: 20px;
  .box {
    border-radius: 3px;
    padding: 10px 20px;
    text-align: center!important;
    display: block;
    margin-top: 60px;
    border: solid 1px $blue;
  }
  .box-icon {
    border-radius: 50%;
    display: table;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    margin-top: -61px;
    border: solid 2px $blue;
    background: $blue;
  }
  .box-icon:hover{
    background: #2eafbb;
  }
  .box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  .info h4 {
    letter-spacing: 2px;
    color: $black;
  }
  .info h5 {
    color: #aaa;
    font-size: 16px;
  }
  .info > p {
    color: #B2B2B2;
    font-size: 14px;
    font-weight: 200;
  }
  .info > a {
    background-color: #03a9f4;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
  }
  .info > a:hover {
    background-color: #0288d1;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
  }
  .img-circle {
    border-radius: 50%;
    width: 100%;
  }
}

/********************************/
/*     Button Custom Section    */
/********************************/
.btn-info {
  border-color: #54acc7 #4ca0ba #398a9d;
  background: #4fa9c6;
  background: -o-linear-gradient(top, #98d0e0 2%, #68b8d1 8%, #4fa9c6 58%, #4fa9c6 95%, #4ca4c0);
  background: -ms-linear-gradient(top, #98d0e0 2%, #68b8d1 8%, #4fa9c6 58%, #4fa9c6 95%, #4ca4c0);
  background: -moz-linear-gradient(top, #98d0e0 2%, #68b8d1 8%, #4fa9c6 58%, #4fa9c6 95%, #4ca4c0);
  background: -webkit-linear-gradient(top, #98d0e0 2%, #68b8d1 8%, #4fa9c6 58%, #4fa9c6 95%, #4ca4c0);
  background: linear-gradient(top, #98d0e0 2%, #68b8d1 8%, #4fa9c6 58%, #4fa9c6 95%, #4ca4c0);
  background: $blue;
}
.btn-info:hover{
  border: solid 1px #398a9d;
}
.btn-default{
  background-color: #FFF;
  border-color: #dddad6 #D8D5D2 #c4c0bc;
  background: -webkit-linear-gradient(top, #fff 0, #fcfdfd 4%, #f2f3f3 11%, #f2f3f3 95%, #e8e9e9 100%);
  background: -moz-linear-gradient(top, #fff 0, #fcfdfd 4%, #f2f3f3 11%, #f2f3f3 95%, #e8e9e9 100%);
  background: -ms-linear-gradient(top, #fff 0, #fcfdfd 4%, #f2f3f3 11%, #f2f3f3 95%, #e8e9e9 100%);
  background: -o-linear-gradient(top, #fff 0, #fcfdfd 4%, #f2f3f3 11%, #f2f3f3 95%, #e8e9e9 100%);
  background: linear-gradient(top, #fff 0, #fcfdfd 4%, #f2f3f3 11%, #f2f3f3 95%, #e8e9e9 100%);
  text-shadow: 0 1px 0 white;
  color: #756e69
}
.btn-orange{
  background: $orange;
  color: white;
  &:hover{
    opacity: 0.9;
    color: white;
  }
}
.btn-brown{
  background: $brown;
  color: white;
  &:hover{
    opacity: 0.9;
    color: white;
  }
}

/********************************/
/*        Merchant Section      */
/********************************/
.cover-banner{
  width: 100%;
  border: solid 1px #ccc;
  padding: 2px;
  background: white;
  margin-bottom: 10px;
  float: left;
}
.cover-banner img{
  width: 100%;
}

/********************************/
/*          Custom Section      */
/********************************/
.breadcrumb{
  margin-bottom: 0;
  border-radius: 0!important;
}
.breadcrumb a{
  color: $orange;
}
section{
  width: 100%;
  float: left;
  padding: 40px 0;

  h1{
    color: $brown-soft;
    font-size: 25px;
    letter-spacing: 0.3px;
    font-weight: normal;
  }
  .hr{
    border-color: $brown-soft;
    margin-bottom: 20px;
    margin-top: 0;
  }
  .desc-section{
    text-align: center;
    margin: auto;
    display: table;
    margin-bottom: 30px;
  }
}
section.section-carousel{
  padding: 0;
}
section.grey{
  background: #f7f7f7;
}
section.gradient-grey{
  background: #efefeb;
}
section.wallpaper{
  background-image: url("/assets/bg_pattern.png");
  border-bottom: solid 2px $blue;
}
.title-content-product{
  font-size: 14px;
  float: right;
  padding: 4px;
}


/********************************/
/*    Pinterest Grid Plugin     */
/********************************/

#pinBoot, #pinBoot-featured {
  position: relative;
  max-width: 100%;
  width: 100%;
  margin-top: 40px;
  float: left;

  article{
    float: left;
    position: absolute;
    background: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    text-align: center;
    overflow: hidden;

    .cover{
      border: solid 1px #f5f5f5;
      width: 100%;
      overflow: hidden;

      img{
        width: 100%;
        -webkit-transition: all 1s ease; /* Safari and Chrome */
        -moz-transition: all 1s ease; /* Firefox */
        -ms-transition: all 1s ease; /* IE 9 */
        -o-transition: all 1s ease; /* Opera */
        transition: all 1s ease;
      }
      img:hover{
        -webkit-transform:scale(1.25); /* Safari and Chrome */
          -moz-transform:scale(1.25); /* Firefox */
          -ms-transform:scale(1.25); /* IE 9 */
          -o-transform:scale(1.25); /* Opera */
          transform:scale(1.25);
        }
        .avatar {
          position: absolute;
          bottom: 55px;
          left: -5px;
          margin-left: 10px;
          margin-right: 10px;
        }
        .avatar img {
          width: 60px;
          height: 60px;
          max-width: 60px;
          max-height: 60px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          border: 5px solid rgba(255,255,255,0.5);
          cursor: pointer;
          vertical-align: 0;
        }
        .section-whistlist{
          position: absolute;
          top: 5px;
          right: 0px;
        }
        .status-whistlist i{
          font-size: 25px;
          cursor: pointer;
          display: none;
        }
        .status-whistlist i.active{
          color: $green;
          display: block;
        }
      }
      h4{
        font-weight: 300;
        font-size: 14px;
        margin-bottom: 0px;
        a{
          color: #555;
        }
      }
      span.category{
        float: left;
        color: #B2B2B2;
        font-weight: 200;
        font-size: 12px;
      }
      span.price{
        color: #78C042;
        font-size: 14px;
        font-weight: 400;
      }
      .content-bottom{
        background: #f5f5f5;
        margin-top: 10px;
        padding: 4px;
        font-size: 20px;
        font-weight: normal;
        color: #1fb4da;
      }
    }
    article:hover {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
  }
  .list-product-grid{
    margin-top: 0!important;

    h6{
      font-size: 12px;
      font-weight: normal;
    }
    a{
      color: #333;
    }
    span{
      font-size: 12px;
    }
  }

/********************************/
/*         Footer Custom        */
/********************************/
footer{
/*  -webkit-box-shadow: 0 0 10px 5px rgba(166,166,166,0.1);
  -moz-box-shadow: 0 0 10px 5px rgba(166,166,166,0.1);
  box-shadow: 0 0 10px 5px rgba(166,166,166,0.1);*/
  padding: 20px 0;
  width: 100%;
  float: left;
  color: #333;
  font-size: 13px;

  h1{
    text-align: center;
    padding-bottom: 40px;
  }
  h3{
    color: #333;
    font-weight: 400;
    font-size: 16px;
  }
  h4{
    color: #333;
    font-weight: bold;
  }
  a{
    color: $grey;
    font-weight: 300;
  }
  a:hover{
    text-decoration: none;
  }
  p{
    color: #333;
  }
  hr{
    border-top: 1px solid #ccc;
  }
  ul{
    padding-left: 0;
    list-style: none;
  }
  .bottom-footer{
    background: #ccc;
    padding: 10px 0;
    margin-top: 20px;
    background: #1f1f1f;
    border-bottom: 2px solid #000;
    width: 100%;
    float: left;
    -webkit-box-shadow: 0 0 4px #000000;
    -moz-box-shadow: 0 0 4px #000000;
    -ms-box-shadow: 0 0 4px #000000;
    -o-box-shadow: 0 0 4px #000000;
    box-shadow: 0 0 4px #000000;
    color: white;
  }
  .hocial-lg{
    margin-bottom: 10px;
    margin: auto;
    display: table;
  }
  .footer-subscribe .btn {
    margin-top: 10px;
    background: $orange;
    border: 2px;
    border: 0;
    &:hover{
      opacity: 0.9;
    }
  }
}
.copyright{
  padding: 20px 0;
  p{
    margin-bottom: 0;
    padding: 10px 0;
  }
  .follow-us{
    float: right;
  }
}


/********************************/
/*        Social Content        */
/********************************/
.follow-us{
  a {
    color: #ffffff;
    width: 33px;
    height: 33px;
    margin-right: 9px;
    font-size: 15px;
    padding: 5px;
    transition: opacity 0.4s;
  }
  .site-facebook {
    background: #3a599c;
  }
  .site-twitter {
    background: #4b91ce;
  }
  .site-google-plus {
    background: #dd4b39;
  }
}


/********************************/
/*        Devise Content        */
/********************************/
.form-devise{
  .btn-primary-fb {
    color: #fff;
    background-color: #3a599c;
    border-color: #357ebd;
    min-width: 100%;
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 10px;
    border-radius: 0px;
    -webkit-transition:all .4s ease-in-out!important;
    -moz-transition:all .4s ease-in-out!important;
    ms-transition:all .4s ease-in-out!important;
    -o-transition:all .4s ease-in-out!important;
    transition:all .4s ease-in-out!important;
  }
  .btn-primary-fb:hover{
    opacity: 0.9;
    color: #357ebd;
    background-color: #FFFFFF;
    border-color: #357ebd;
    -webkit-transition:all .4s ease-in-out!important;
    -moz-transition:all .4s ease-in-out!important;
    ms-transition:all .4s ease-in-out!important;
    -o-transition:all .4s ease-in-out!important;
    transition:all .4s ease-in-out!important;
  }
  .omb-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    display: block;
  }
  .omb-span {
    display: block;
    position: absolute;
    left: 50%;
    top: -0.6em;
    margin-left: -1.5em;
    background-color: white;
    width: 3em;
    text-align: center;
    font-size: 1.5em;
    color: #aaa;
  }
  .form-group {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
  }
  form{
    background: #fff;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.05);
  }
  .controls{
    margin-top: 10px;
  }
  .remember{
    margin-right: 5px;
  }
}
.modal-content h3{
  margin: 0;
}
.btn-primary-fb {
  color: #fff;
  background-color: #3a599c;
  border-color: #357ebd;
  min-width: 100%;
  background-repeat: no-repeat;
  background-position: left;
}
.btn-primary-fb:hover{
  opacity: 0.9;
  color: #fff;
}
.or-section{
  margin: 10px 0 15px 0;
}
.omb-or {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  display: block;
}
.omb-span {
  display: block;
  position: absolute;
  left: 50%;
  top: -0.6em;
  margin-left: -1.5em;
  background-color: white;
  width: 3em;
  text-align: center;
  font-size: 1.5em;
  color: #aaa;
}
.form-devise .form-group {
  float: left;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
}
.form-devise form{
  background: #fff;
  padding: 20px;
  border-radius: 0px;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.05);
}
.form-devise .controls{
  margin-top: 10px;
}

/********************************/
/*       User Theme Costum      */
/********************************/
.section-menu-user{
  width: 100%;
  float: left;
  border: solid 1px #ccc;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 12px;
  ul{
    list-style: none;
    padding-left: 0;
    a{
      float: left;
      padding: 10px 20px;
      border-bottom: solid 1px #f5f5f5;
      text-decoration: none;
      color: #333;
      width: 100%;
      background: #fff;
    }
    a:hover{
      border-bottom: solid 1px $blue;
      background: #F5F5F5;
    }
    a.active{
      border-bottom: solid 1px $blue;
      background: #f5f5f5;
    }
  }
}
.section-menu-user-child{
  width: 100%;
  float: left;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 12px;
  ul{
    list-style: none;
    padding-left: 0;
    a{
      float: left;
      padding: 10px 20px;
      border-top: solid 2px #fff;
      border: solid 1px #ccc;
      border-bottom: 0;
      text-decoration: none;
      color: #fff;
      background: $brown-soft;
      margin-right: 5px;
    }
    a:hover{
      border: solid 1px $brown-soft;
      border-top: solid 2px $brown-soft;
      border-bottom: 0;
      background: #fff;
      color: #333;
    }
    a.active{
      border: solid 1px $brown-soft;
      border-top: solid 2px $brown-soft;
      border-bottom: 0;
      background: #fff;
      color: #333;
    }
  }
}
.page-body {
  width: 100%;
  background: #fff;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 14px;
  float: left;
  .section-pic{
    border: solid 1px #ddd;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
  }
}
.list-our-product{
  float: left;
  width: 100%;
  background: #fff;
  margin-bottom: 10px;
  border: solid 1px #e4e4e4;
  padding: 15px 0;
  h4{
    margin-top: 0;
    margin-bottom: 5px;
    a{
      color: #555;
    }
    a.btn{
      color: #fff;
    }
  }
  .price{
    color: #78c042;
    &.discount{
      font-size: 10px;
      color: $grey;
      text-decoration: line-through
    }
  }
  .category{
    color: $grey;
    font-weight: 200;
    font-size: 11px;
    padding: 0 0 5px 0;
  }
  .cover{
    width: 100%;
    border: solid 1px #e4e4e4;
    overflow: hidden;
    height: 100px;
    img{
      width: 100%;
    }
    .discount{
      position: absolute;
      background: $red;
      color: white;
      padding: 2px 5px;
      font-size: 10px;
      bottom: 0;
    }
  }
  .status-stock{
    display: inline-block;
    width: 100%;
    .code{
      color: #000000;
      font-weight: bold;
      float: left;
      padding-top: 3px;
    }
    .stock{
      color: $grey;
      font-size: 11px;
      text-align: right;
      float: left;
      padding: 3px 6px;
      font-weight: 300;
    }
    .status{
      color: $green;
      border: solid 1px $green;
      padding: 2px 4px;
      border-radius: 4px;
      float: left;
      &.preorder{
        color: $orange;
        border: solid 1px $orange;
      }
      &.out-stock{
        color: $red;
        border: solid 1px $red;
      }
    }
    .basic-price{
      color: $grey;
      font-size: 11px;
      float: left;
      padding: 3px 6px;
      font-weight: 300;
    }
  }
}
.choice-gallery-form{
  list-style: none;
  padding-left: 0;
  li{
    width: 16.6%;
    float: left;
    border: solid 1px #ccc;
    padding: 2px;
    height: 100px;
    position: relative;
  }
  img{
    width: 100%;
    height: 100%;
  }
  .input-file{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    cursor: pointer;
    opacity: 0.0;
  }
  li.overview{
    width: 50%!important;
    height: 120px!important;
    position: relative;
  }
  li.overview span{
    position: absolute;
    color: #fff;
    font-weight: bold;
    top: 5px;
    left: 5px;
    font-size: 14px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  }
}
.user-image-cycle{
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: solid 4px #ccc;
  img{
    width: 100%;
  }
}
.cover-img{
  width: 100%;
  height: 200px;
  overflow: hidden;
  img{
    width: 100%;
  }
}
.modal-content-message{
  width: 400px;
  .modal-contact-form{
    .form-group{
      margin-bottom: 10px;
    }
  }
}
.select-birthday{
  width: 33%;
  float: left;
}
.panel-default > .panel-heading{
  background: #fff;
}
.select2-container--default .select2-selection--single{
  border: solid 1px #ccc!important;
}
.select2-container{
  width: 100%!important;
}
.select2-selection{
  height: 34px!important;
}
.banner{
  height: 300px;
  width: 100%;
  overflow: hidden;
  border: solid 1px #ccc;
  img{
    width: 100%;
  }
}
.section_count{
  text-align: center;
  .page-body{
    font-size: 18px;
  }
  i{
    font-size: 40px;
  }
  small{
    color: #aaa;
    font-size: 11px;
  }
}

.panel{
  width: 100%;
  float: left;
  .panel-heading{
    width: 100%;
    float: left;
  }
  .panel-collapse{
    float: left;
    width: 100%;
  }
}

.buttons .btn{
  margin-top: 10px;
}

.well-message{
  border-radius: 5px;
  background: #fff;
  float: left;
  padding: 20px;
  width: 100%;
  border: solid 1px #e4e4e4;
  h5{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
  }
}

/********************************/
/*           Nav Tabs           */
/********************************/
.nav-tabs > li > a{
  background: #f4f4f4;
}

/********************************/
/*        Invoice Costum        */
/********************************/
.shopping-cart{
  .panel-default{
    margin-bottom: 10px;
    background-color: rgba(255,255,255,0.6);
  }
  .avatar-author{
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 10px;
    img{
      height: 100%;
      width: 120%;
    }
  }
  .title-product{
    float: left;
  }
  .title-content-item{
    float: left;
  }
  .input-quantity{
    width: 50px;
    margin-bottom: 2px;
  }
}

.shipping-logo{
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
}
.bank-logo{
  height: 20px;
  margin-left: 5px;
}
.bank-logo-big{
  height: 60px;
  margin-right: 15px;
}
.shipping-price{
  float: right;
  font-weight: bold;
  padding: 15px 0;
}
hr{
  margin-top: 10px;
  margin-bottom: 10px;
}
.note{
  color: $red;
  font-style: italic;
}
.panel-body, .panel-default {
  position: relative;
}
.cursor-p{
  cursor: pointer;
}
.checkradio {
  input[type=radio],
  input[type=checkbox] {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: 9;
    cursor: pointer;
  }
  .fa-check {
    display: none;
    float: left;
    margin-top: 4px;
    color: #76b51b;
  }
  input[type="radio"]:checked ~ .panel-body .fa-square-o {
    display: none!important;
  }
  input[type="radio"]:checked ~ .panel-body .fa-check {
    display: block!important;
    color: white;
  }
  input[type="radio"]:checked ~ .panel-body {
    background: #76b51b;
    color: white;
    font-weight: bold;
  }
}
.paymentTo{
  display: none;
}
table, table tr td{
  border: solid 1px #ddd;
  font-size: 12px;
}
.estimation{
  padding: 6px;
  font-weight: bold;
}
/* 5 Columns */

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-15 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}
.image-gallery-product {
  width: 100%;
  display: block;
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 15px;
  .gallery {
    .box-gallery-thumb {
      height: 80px;
      width: 100%;
      border: solid 2px white;
      position: relative;
      overflow: hidden;
      img {
        width: auto;
        height: 100%;
        min-width: 100%;
      }
    }
  }
}
/********************************/
/*     Search Simple Custom     */
/********************************/
.simple-search{
  button{
    width: 100%;
  }
  .col-md-6, .col-md-4{
    padding-right: 0;
  }
}

.panel-collapse{
  table, table tr td{
    border: 0;
    font-size: 12px;
  }
}


/* contact */

.maps{
  width: 100%;
  height: 400px;
  background: #ccc;
}


/********************************/
/*            CHAT BOX          */
/********************************/
.chat-window{
  position: fixed;
  width: 260px;
  height: 350px;
  z-index: 1002;
  margin: 0;
  bottom: 0;
  right: 40px;
  border-radius: 0;
}
.chat-window .panel-heading{
  background: #2f98d4;
  color: #fff;
  padding: 7px;
  height: 33px;
  border-radius: 0;
  cursor: pointer;
}
.chat-window .panel-heading h3{
  font-size: 14px;
}
.chat-window .panel-heading span{
  float: right;
  margin-left: 6px;
  font-size: 13px;
}
.panel-form{
  border-top: 1px solid #ccc;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}
.panel-form input{
  height: 32px;
  border: 0;
  width: 100%;
  padding-left: 8px;
}
.panel-form .btn{
  background: #2f98d4;
  color: #fff;
  padding: 2px 10px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-style: italic;
  font-size: 12px;
}
.chat-window .username{
  font-weight: bold;
  margin-top: 10px;
}
.chat-window .wellcome{
  font-size: 11px;
  margin-top: 10px;
}
.ava-list{
  border: solid 2px #f5f5f5;
  height: 60px;
  width: 100%;
  overflow: hidden;
  border-radius: 50%;
}
.ava-list img{
  width: 100%;
}
.last-name{
  font-weight: bold;
  color: $blue;
}
.last-message{
  padding: 5px;
  border: solid 1px #ccc;
  border-radius: 3px;
  display: none;
}

.no-radius{
  border-radius: 0px!important;
}

.btn{
  -webkit-transition:all .4s ease-in-out!important;
  -moz-transition:all .4s ease-in-out!important;
  ms-transition:all .4s ease-in-out!important;
  -o-transition:all .4s ease-in-out!important;
  transition:all .4s ease-in-out!important;
  text-decoration: none;
}

/* LOGIN REGISTER PAGE */
.oshop-login-wrapper{
  background: url("#{asset_path('bg-login.jpg')}") no-repeat center center fixed!important;
  -moz-background-size: cover!important;
  -o-background-size: cover!important;
  -webkit-background-size: cover!important;
  background-size: cover!important;
  opacity: 0.9;
  position: relative;
}

.oshop-login-wrapper .overlay-bg-login{
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: -40px;
}

.animate
{
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.action-button
{
  position: relative;
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
  border-radius: 10px;
  font-size: 25px;
  color: #FFF;
  text-decoration: none;
}

.blue
{
  background-color: #3498DB;
  border-bottom: 5px solid #2980B9;
}

.blue:hover{
  color: #3498DB;
  background-color: #FFFFFF;
  border: 1px solid #3498DB;
  border-bottom: 5px solid #2980B9;
}

.red
{
  background-color: #E74C3C;
  border-bottom: 5px solid #BD3E31;
  text-shadow: 0px -2px #BD3E31;
}

.btn-green
{
  background-color: #82BF56;
  border-bottom: 5px solid #669644;
}

.btn-green:hover{
  color: #82BF56;
  background-color: #FFFFFF;
  border: 1px solid #82BF56;
  border-bottom: 5px solid #669644;
}

.yellow
{
  background-color: #F2CF66;
  border-bottom: 5px solid #D1B358;
  text-shadow: 0px -2px #D1B358;
}

.action-button:active
{
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid;
}


.oshop-point-wrapper{
  margin-top: 10px;

  .oshop-point-info{
    display: inline-block;
    width: 100%;
    margin-top: 20px;

    .icon-point{
      float: left;
      width: 30%;
      height: 100px;

      .fa{
        font-size: 40px;
      }
    }

    .info-point{
      width: 70%;
      float: left;

      .title{
        font-size: 15px;
        color: #000000;
        padding-left: 0px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .description{
        font-size: 12px;
        color: #333333;
        padding-left: 0px;
      }
    }
  }
}


/*------------------steps------------------*/
.bs-wizard {margin-top: 40px;}

.bs-wizard {
  border-bottom: 
  solid 1px #e0e0e0; 
  padding: 0 0 10px 0;
}
.bs-wizard > .bs-wizard-step {
  padding: 0; 
  position: relative;
}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
  color: #595959; 
  font-size: 12px; 
  margin-bottom: 5px;
}
.bs-wizard > .bs-wizard-step .bs-wizard-info {
  color: #999; 
  font-size: 14px;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  background: #ccc;
  top: 42px;
  right: -2px;
  margin-top: -15px;
  margin-left: 10px;
  border-radius: 50%;
  z-index: 1;
} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot i {
  position: absolute;
  top: 8px;
  left: 4px;
  color: white; 
} 
.bs-wizard > .bs-wizard-step > .progress {
  position: relative; 
  border-radius: 0px; 
  height: 8px; 
  box-shadow: none; 
  margin: 20px 0;
  background: white;
}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
  width:0px; 
  box-shadow: none; 
  background: $orange;
  padding-right: 0;
}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
  width:100%;
}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
  width:50%;
}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
  width:0%;
}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
  width: 100%;
}
.bs-wizard > .bs-wizard-step.complete > .bs-wizard-dot {
  background-color: $orange;
}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
  opacity: 0;
}
.bs-wizard > .bs-wizard-step:first-child  > .progress {
  right: 0; 
  width: 100%;
}
.bs-wizard > .bs-wizard-step:last-child  > .progress {
  width: 100%;
}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{
  pointer-events: none; 
}
/**/


