/*------------Color Style------------*/
$red : #c81423;
$smooth : #f7f7f7;
$maroon : #d63b30;
$orange : #f57224;
$grey : #909090;
$grey-light : #f5f5f5;
$brown : #a2836e;
$green : #76b51b;
$green-old : #508210;
/**/

/*---------------GLOBAL---------------*/
body{
	background: #f5f5f5;
}
.hr{
	border-color: #a2836f;
	margin-bottom: 20px;
	margin-top: 0;
}
.form-control:focus{
	border-color: $orange;
}
.btn-brown{
	background: $orange;
}
.btn-danger{
	background: $orange;
	border-color: $orange;
	&:hover{
		background: #ce6234;
    border-color: #ce6234
	}
}
a:hover,a:focus{
	color: #9e4d2b;
}
.btn-success{
	background: $orange;
	border-color: $orange;
}
.tcenter{
	text-align: center!important;
}
.tright{
	text-align: right!important;
}
.padding0{
	padding: 0;
}
.padding-bot0{
	padding-bottom: 0;
}
.img-auto{
	top: -9999px;
	right: -9999px;
	left: -9999px;
	bottom: -9999px;
	margin: auto;
	position: absolute;
	width: 100%;
	height: auto;
	z-index: 1;
  transition: all 0.25s linear;
}
.img-full{
	width: 100%;
	height: 100%;
}
.mgtop0{
	margin-top: 0;
}
.mgbot0{
	margin-bottom: 0;
}
.mgbot20{
	margin-bottom: 20px;
}
.mgtop20{
	margin-top: 20px;
}
.bg-white{
	background: white;
}
.bg-grey{
	background: $grey-light;
}
/**/

.alert-notice{
	background: #64d882;
	color: white;
	font-size: 10px;
	padding: 6px;
}

/*---------------Navbar---------------*/
#top-navigation{ 
	.all-categories{ 
		a{
			background: $orange;
			color: white;
			border-radius: 3px;
			border: none;
			padding: 7px 0;
			font-size: 11px;
			&:hover{
				background: #e06922 !important;
				color: white!important;
				opacity: 12;
			}
		}
	}
	.navbar-default{
		background: $green;
		.navbar-nav{ 
			li {
				a{
					&:hover, &:focus, &:active{
						background: none;
						color: #ffc53e;
					}
				}
			}
		}
	}
	.mega-dropdown{
		&.open{
			&:before{
				position: absolute;
				display: block;
				border-style: solid;
				content: '';
				border-width: 11px;
				border-color: transparent transparent white;
				bottom: 0;
				margin-left: 35px;
			}
		}
	}
	.mega-dropdown-menu{
    border-radius: 5px;
    width: 80%;
    left: 5%;
    right: 15%;
	}
	.navbar-form{
		width: 450px;
		button{
			background: $green-old;
			&:hover{
				opacity: 0.9;
			}
		}
		.form-control{
			border-radius: 3px 0 0 3px;
		}
	}
	.fa-shopping-cart{
		font-size: 20px;
		border: 2px solid;
		padding: 9px 11px;
		border-radius: 25px;
		overflow: hidden;
		position: absolute;
		top: 10px;
		left: 0;
		z-index: 1;
	}
}

.cart-text{
	position: relative;
  margin-right: 25px;
}

.cr-order{
	position: absolute;
	z-index: 2;
	color: white;
	top: 8px;
	right: -18px;
	background: $orange;
	overflow: hidden;
	padding: 0px 5px;
	border-radius: 10px;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus ,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{
	background: none!important;
	color: #ffc53e!important;
}
.dropdown-menu ul li a{
	color: $orange;
}
.overplay-top-menu{
	width: 100%;
	height: 100%;
	position: fixed;
	background: #00000082;
	top: 60px;
	display: none;
}
/**/


/*---------------ORDER---------------*/
.btn-checkout{
	background: #76b51b;
	border: 0;
}

/*---------------SLIDER---------------*/
.carousel-control.left, .carousel-control.right{
	display: none;
}
.carousel{
	&:hover{
		.carousel-control.left, .carousel-control.right{
			display:block;
			transition: all 0.5s ease-in-out;
		}
	}
}
.flex-control-nav{
	display: none;
}
/**/

/*----------Content Homepage----------*/
.simple-top-search{ 
	border-top: 2px solid $orange;
	.btn{
		background: $orange;
		border-color: $orange;
	}
}
footer .footer-subscribe .btn{
	background: $orange;
}
.transition-timer-carousel .transition-timer-carousel-progress-bar{
	background: $brown;
}
.title-listing{
	border-bottom: 3px solid $brown;
	display: inline-block;
	padding-bottom: 0px;
	color:$grey;
}
/**/

/*-----------Listing-product-----------*/
.detail-product{
	.share{
		float: left;
		position: relative;
		top: 7px;
		margin-right: 10px;
	}
}
.new-product-wrapper{ 
	.view-more{
		float: left;
		width: 100%;
		.btn-view-more{
			margin: auto;
			display: table;
			margin-top: 20px;
			background: #f57224;
			color: white;
			padding: 5px 40px;
			border-radius: 25px;
			&:hover{
				opacity: 0.7;
			}
		}
	}
	ul{
		margin: 0 -10px; 
		li.li-wdt-33{
			width: 20%;
			padding: 10px;
			.box-product-list{
				box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
				border-radius: 3px;
				overflow: hidden;
				padding: 10px;
				background: white;
				position: relative;
				&:hover{
					box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.25);
					transition: all 0.2s ease-in-out;
				}
			}
			.box-img-wrapper{
				margin-left: -10px;
				margin-right: -10px;
				margin-top: -10px;
		    height: 170px;
				.discount{
					bottom: auto;
					top: 0;
					text-align: center;
			    padding: 5px 5px;
	        font-weight: bold;
          width: 38px;
          z-index: 1;
          background: $orange;
					&:after{
						content: "";
						width: 0;
						height: 0;
						left: 0;
						bottom: -4px;
						border-style: solid;
						position: absolute;
						border-width: 0 19px 4px;
						border-color: transparent $orange;
					}
				}
        .brand{
          position: absolute;
          bottom: 0;
          background: grey;
          color: white;
          z-index: 5;
          padding: 2px 5px;
          font-size: 11px;
        }
        .fee_referral{
        	position: absolute;
        	right: 0;
        	top: 0;
        	color: white;
        	z-index: 5;
        	font-size: 10px;
        	.label{
            border-radius: 0;
            padding: 5px;
            margin-right: 0;
          }
				}
			}
      .already-in-cart {
        cursor: pointer;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 4px solid transparent;
        margin-bottom: 0;
        outline: 0;
        transition: all 0.3s ease-in-out;
        .product-cart {
          position: absolute;
          color: white;
          background-color: transparent;
          padding: 10px;
          top: 0;
          right: 0;
          z-index: 3;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.67)!important;
          .title {
            font-size: 13px;
            text-align: center;
            transform: translateY(135%);
            display: block !important;
            padding-top: 10%;
          }
        }
      }
			.box-desc-bottom{
				padding: 0;
				min-height: 105px;
				.price{
					color: $orange;
				}
				.price.discount{
					color: #909090;
					margin-left: 3px;
				}
			}
		}
	}
	.js-featured-product{
		background: transparent;
		border: 0;
		margin-top: 20px;
	}
	.title-hotlist{
		color: $brown;
    .desc{
    	color: #606060;
    	line-height: 30px;
    }
    .green{
    	color: $green;
    }
	}
}
.new-product-wrapper ul li:hover .box-desc-bottom {
	box-shadow: none;
	-webkit-transform: all .3s ease-in-out;
	-ms-transform: all .3s ease-in-out;
	transform: all .3s ease-in-out;
}
.new-product-wrapper ul li .box-desc-bottom .status-stock .status{
	border-color: $green;
	color: $green;
}
.new-product-wrapper ul li .box-desc-bottom .status-stock .code{
	color: $grey;
}


.new-product-wrapper ul li .box-desc-bottom{
	min-height: auto;
}
.new-product-wrapper ul li .box-desc-bottom .status-stock{
	padding-top: 6px;
}
.trust-wrapper{
	float: left;
	width: 100%;
	padding: 40px 0;
	.about-trust{
		text-align: center;
		padding: 30px 25px;;
		i{
			font-size: 40px;
			margin-bottom: 10px;
			color: #c9323099;
		}
		.grey{
			color: #737171;
		}
	}
}
.arrow{
	display: block!important;
}
/**/

/*-----------Point hotlist-----------*/
.point-hotlist{
	color: $brown;
	h5{
		margin-top: 0;
	}
  .desc{
  	color: #606060;
  	line-height: 25px;
  }
  .green{
  	color: $green;
  }
}
/**/


/*-----------Show Product-----------*/
.sidebar-show .price-lg{
	color: $orange;
}
.sidebar-show .status-stock .status{
	border-color: $green;
	color: $green;
}
.nav-tabs > 
li.active > 
a, .nav-tabs > 
li.active > 
a:hover, .nav-tabs > 
li.active > 
a:focus{
	border-top: solid 2px #f5733c;
	border-top: solid 1px #e4e4e4;
	border-bottom: solid 1px #e4e4e4;
	color: $orange;
}
.nav-tabs > li > a{
  background: #c1c1c1 !important;
}
.mgdetail-item{
	margin-top: 30px;
}
.tab-content{
	hr{
		margin: 20px 0;
	}
	.btn-comment{
		background: $orange;
		border-color: $orange;
		border-radius: 2px;
		&:hover{
			background: #ec6f3a;
		}
	}
	.btn-reply{
		background: $orange;
		border-color: $orange;
		font-size: 13px;
		padding: 3px 8px;
		background: #f5733c;
		&:hover{
			background: #ec6f3a;
		}
	}
	.form-control{
		border-radius: 2px;
	}
	.box-img-profile{
		height: 40px;
		width: 40px;
		float: left;
		border: 1px solid #f5f5f5;
		border-radius: 25px;
		overflow: hidden;
		.img-profile{
			width: 100%;
			height:auto;
		}
	}
	.box-comment{
		.user-profile{
			font-size: 14px;
			.status{
				font-weight: normal;
				background: $orange;
				padding: 2px 6px;
				border-radius: 5px;
				color: white;
		    font-size: 11px;
			}
			.date-post{
				font-size: 11px;
				color: grey;
			}
		}
	}
	.box-reply{
		width: 100%;
		float: left;
		margin-top: 15px;
	}
}
.btn-order-wa{
	padding: 10px;
	border-radius: 0;
	border: 0;
	background: $green;
	margin-bottom: 10px;
	border-radius: 40px;
	.fa{
		font-size: 20px;
	}
}
.btn-back-order{
	padding: 11px!important;
	border-radius: 0;
	border: 0;
  border-radius: 40px;
  background: grey;
  &:hover{
  	background: grey;
  	/*opacity: 0.5;*/
  }
}
.btn-add-cart{
	padding: 10px;
	border-radius: 0;
	border: 0;
  border-radius: 40px;
	.fa{
		font-size: 20px;
	}
	margin-bottom: 10px;
}
/*------------------------------*/
.box-cover-img{
	position: relative;
	width: 100%;
	height: 460px;
	overflow: hidden;
	.flex-nav-prev{
		display: none;
	}
	.flex-nav-next{
		display: none;
	}
}
.sidebar-show{
	border: none;
	background: none;
	padding: 0;
}
.gallery{
	.box-gallery1{
		position: relative;
		width: 100%;
		height: 450px;
		overflow: hidden;
		&:hover{
			.img-auto{
				-webkit-transform: scale3d(1.2, 1.2, 1);
				transform: scale3d(1.04, 1.04, 1);
			}
		}
	}
	.box-gallery2{
		position: relative;
		width: 100%;
		height: 210px;
		overflow: hidden;
		&:hover{
			.img-auto{
				-webkit-transform: scale3d(1.2, 1.2, 1);
				transform: scale3d(1.04, 1.04, 1);
			}
		}
	}
	.box-gallery3{
		position: relative;
		width: 100%;
		height: 215px;
		overflow: hidden;
		margin-top: 25px;
		&:hover{
			.img-auto{
				-webkit-transform: scale3d(1.2, 1.2, 1);
				transform: scale3d(1.04, 1.04, 1);
			}
		}
	}
	.overplay{
		height: 100%;
		width: 100%;
		position: absolute;
		background: rgba(245, 114, 36, 0.5019607843137255);
		z-index: 9;
	}
	.img-icon{
		width: 35px;
	}
	.txt-icon{
		color: white;
		font-size: 20px;
	}
	.view-more{
		margin: auto;
		display: table;
		position: relative;
		top: 40%;
	}
}
.title-detail{
	display: table;
	margin: auto;
	border-bottom: 5px solid $brown;
	color: $brown;
}
.box-testimonial{
	width: 100%;
	height: 150px;
	overflow: hidden;
	position: relative;
	margin-bottom: 25px;
  box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.19);
	&:hover{
		.img-auto{
			-webkit-transform: scale3d(1.2, 1.2, 1);
			transform: scale3d(1.04, 1.04, 1);
		}
	}
}
.btn-out-cart{
	font-size: 14px;
	padding: 10px;
	border-radius: 40px;
}
.btn-danger{
	font-size: 14px;
	padding: 10px;
}
/**/

/*-----------Helps-----------*/
.helps-sidebar{
	list-style: none;
	padding-left: 10px;
	font-size: 15px;
	li{
		padding: 5px 0;
		a{

		}
	}
}
.tab-help{
	font-size: 15px;
	line-height: 30px;
	padding: 30px;
	.number-steps{
		background: #f5f5f5;
		padding: 8px 13px;
		border-radius: 30px;
		font-size: 17px;
		margin-right: 15px;
	}
	.img-help{
		margin: auto;
		display: table;
		width: 100%;
	}
	hr{
		margin: 10px 0;
	}
	h3{
		margin-bottom: 20px;
	}
}
.header{
	float: left;
	width: 100%;
	padding: 40px 0;
	background: $green;
	margin-bottom: 20px;
	.img-logo-faq{
		width: 350px;
		margin: auto;
		display: table;
	}
	.title-faq{
		text-align: center;
		color: white;
		font-size: 25px;
		font-family: 'Lobster Two', cursive;
	}
}
.qna-help{
	width: 100%;
	float: left;
	padding-bottom: 50px;
	.sidebar-responsive{
		display: none;
	}
}
/**/

/*---------------Contact Us-------------*/
.contact-us{
  color: #6f6f6f;
	.form-control{
    margin-bottom: 10px;
	}
	.box{
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 9px 0;
		.box-img{
			width: 100%;
			height: 200px;
			overflow: hidden;
			position: relative;
			&:after{
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				background: rgba(245, 245, 245, 0.27);
				z-index: 1;
			}
		}
		.box-content{
			background: white;
			padding: 30px 20px;
			.title{
				font-size: 15px;
		    font-weight: bold;
				i{
					border: 1px solid #ececec;
					padding: 6px;
					border-radius: 20px;
					margin-left: 0;
					font-size: 19px;
					box-shadow: rgba(0, 0, 0, 0.1) 0 0 9px 0;
					margin-right: 10px;
					float: left;
					margin-bottom: 30px;
				}
			}
			.descript{
				margin-top: 5px;
				margin-bottom: 20px;
				font-size: 15px;
			}
		}
	}
	textarea.form-control {
		height: 100px;
    margin-bottom: 20px;
  }
  .txt17{
  	line-height: 30px;
  	font-size: 17px;
    padding-right: 10%;
  }
  .paddding10{
  	padding-right: 10%;
  }
  .btn-warning{
  	background: $orange;
  	border-color: $orange;
  	padding: 9px 39px;
  	&:hover{
  		opacity: 0.5;
  	}
  }
}
/**/

/*--------------Footer--------------*/
footer{
	background: white;
	border-top: 1px solid #eaeaea;
	padding-bottom: 0!important;
	a{
		&:hover{
			color: $orange;
		}
	}
	.title-tags{
		text-align: center;
		border-top: 1px solid #eaeaea;
		padding-top: 10px;
	}
}
.copyright {
	padding: 15px 0;
	background: white;
	.copyright .follow-us {
		float: right;
		position: relative;
		top: 2px;
	}
}
.img-footer{
	width: 155px;
}

.desc-about-footer{
	position: relative;
	color: $grey;
}
/**/

/**--------------Share---------------//*/
.icon-wa{
	    width: 19px;
    margin-left: 4px;
}
.share-wa{
	color: #000;
	&:hover{
		color: #000;
	}
}

/*========button plus order========*/
.number-spinner{
  margin: auto;
  width: 110px;
	.cst{
		width: 40px;
		height: 30px;
		text-align: center;
		font-size: 12px;
	}
	.btn-default{
		background: white;
	}
}

/*============================*/
/*============================*/
.cart-row{
	.fa-close{
		background: #c50d0d;
		color: white;
		padding: 4px 6px;
		border-radius: 50%;
	}
}
.shipping-order{
	.form-control{
		background: #fafafa;
    height: 40px;
    border-radius: 30px;
	}
}