= f.fields_for :profile do |profile|
  = f.fields_for :address do |address|
    = f.fields_for :contact do |contact|
      = render partial: 'backend/users/form', locals: {f: f, profile: profile}
      .break
      = render partial: 'backend/users/form_address', locals: {address: address}
      .break
      = render partial: 'backend/users/form_contact', locals: {contact: contact, profile: profile}
