.col-md-12
  = form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do
    .widget
      = render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Admin', button_name: 'Admin', add_method: true}
      .widget-content
        .table-responsive
          table class="table table-striped table-bordered table-hover"
            thead
              tr
                th width="1%"
                th Avatar
                th ID
                th Username
                th Email
                th Role Access
                th Status
                th Terdatar
                th Action
            tbody
              - if @collection.blank?
                tr
                  td colspan="8" 
                    = render "shareds/empty_blank"
              - else
                - @collection.each_with_index do |resource, index|
                  tr
                    td
                      = check_box_tag "ids[]", resource.id
                    td
                      = image_tag "#{resource.profile.avatar.url(:thumb)}", class: 'thumb'
                    td
                      = resource.code
                    td
                      = resource.username
                    td
                      | <a href="mailto:#{resource.email}">#{resource.email}</a>
                    td
                      = resource.role_access
                    td
                      = resource.verified?
                    td
                      = resource.try(:created_at).strftime("%H:%M %B, %d, %Y")
                    td
                      = render partial: 'backend/shareds/prepare_action',
                        locals: { resource: resource, confirmation: "Are you sure delete this #{resource.username}", no_show: false }

        .widget-foot
          .pull-right
            = paginate @collection if @collection.present?
          .clearfix
