.row
	.col-md-12
		h6 Logo
		.user
			= image_tag f.object.logo.url(:medium), style: 'width: 200px'
		= f.file_field :logo
	.col-md-12
		h6 Nama
		= f.text_field :name, class: 'form-control', required: true