.col-md-12
	.widget
		= render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Brands', button_name: 'Brand', add_method: true} 
		.widget-content
			.table-responsive
				table class="table table-striped table-bordered table-hover"
					thead
						tr
							th Logo
							th Name
							th Created At
							th Action
						- @collection.each_with_index do |resource, index| 
							tr 
								td = image_tag resource.logo, width: "50px", height: "50px"
								td = resource.name
								td = get_datetime(resource.try(:created_at))
								td 
									= render partial: 'backend/shareds/prepare_action',
										locals: { resource: resource, confirmation: "Are you sure delete this #{resource.id}", no_show: false } 
			.widget-foot
				.pull-right
					= paginate @collection 
				.clearfix
