@import "bootstrap-sprockets";
@import "bootstrap";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css";

body{
  font-size: 10px;
  .date-invoice{
    margin-top: 10px;
    font-size: 10px;
  }
  .date-invoice2{
    margin-top: 0px;
    font-size: 10px;
  }
  .logo{
    width: 300px;
  }
}

.invoice-info{
  .invoice-col{
    float: left;
    width: 50%;
  }
  .invoice-col3{
    float: left;
    width: 33.33%;
  }
}

.center{
  text-align: center;
}

.small {
  font-size: 85%;
}

.uppercase{
  text-transform: uppercase;
}

.avatar-author{
  width: 60px;
  padding: 0!important;
  border: solid 2px #ccc;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin-right: 10px;
}
.avatar-author img {
  width: 100%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}