/*
*= require frontend/bootstrap
*= require user/pe-icon-7-stroke
*/

body{
	background-image: asset-url('banner1.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-color: #f5f5f5;
	&:before{
		content: '';
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 2;
		background: rgba(255, 255, 255, 0.6509803921568628);
		top: 0;
	}
}

section{
	float:left;
	width: 100%;
	z-index: 3;
	position: relative;
}

.mg-auto{
	margin: auto;
	display: table;
}

.thanks{
	float: inherit;
	.img-email-register {
		margin: auto;
		display: table;
		height: 150px;
		margin-bottom: 20px;
	}
	.redirect-back{
		float: left;
		width: 100%;
		text-align: center;
		margin-top: 50px;
		text-transform: uppercase;
	}
	.img-logo{
		width: 350px;
		margin-bottom: 25px;
		margin-top: 30px;
	}
	.img-bank{
		width: 55px;
		position: relative;
		float: inherit;
		margin-top: 5px;
	}
	.in-column{
		width: 100%;
		padding: 0px 70px;
		margin: auto;
	}
	.box{
		float: inherit;
		background: white;
		margin: auto;
		display: table;
		padding: 75px 25px;
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.07);
	}
	i{
		font-size: 33px;
		color: #2bb532;
		left: 56px;
		top: 85px;
		right: 0px;
		display: table;
		text-align: center;
		margin: auto;
		position: relative;
	}
	.title{
		text-align: center;
		font-size: 14px;
		color: #434142;
		font-weight: 400;
	}
	.confirm{
		text-align: center;
		font-weight: 700;
		font-size: 18px;
		margin-top: 10px;
		margin-bottom: 5px;
	}
	p{
		font-size: 14px;
		margin: auto;
		text-align: center;
		font-weight: 100;
		margin-bottom: 45px;
	}
	b {
		display: table;
		float: inherit;
		width: 100%;
	}
	strong {
		font-size: 13px;
	}
	.descript{
		float: left;
		width: 100%;
		.pay{
			margin-left: 0px;
			display: table;
			position: relative;
			float: inherit;
			font-size: 13px;
			width: 100%;

		}
		.number{
			background: #f1efef;
			float: left;
			padding: 7px 13px;
			border-radius: 30px;
			color: #5a5858;
			margin-bottom: 15px;
			margin-right: 10px;
		}
		span{
			position: relative;
			top: 9px;
			display: table;
			float: inherit;
			font-size: 13px;
			width: 100%;
		}
	}
}
.btn-dropship {
	background-color: #0070ba;
	background-image: linear-gradient(100deg, #0070ba, #1546a0);
	border: none;
	border-radius: 0;
	color: white;
	padding: 15px 30px;
	margin-top: 10px;
	margin: auto;
	border-radius: 50px;
	margin-top: 50px;
	display: table;
	transition: all 0.3s ease-in-out;
}
.btn-dropship:hover {
	color: white;
	opacity: 0.8;
}
@media screen and (max-width: 450px) {
	.thanks{
		.img-logo{
			width: 230px;
			margin-bottom: 20px;
			margin-top: 25px;
		}
		.img-bank{
		}
		.in-column{
			width: 100%;
			margin: auto;
			padding: 0px;
			color: #555;
		}
		.box{
			background: white;
			margin: auto;
			display: block;
			padding: 30px 25px;
			overflow: hidden;
		}
		i{
			font-size: 25px;
			color: #08b108;
			text-align: center;
			margin: auto;
			display: table;
			margin-bottom: 10px;
			left: 41px;
			top: 70px;
		}
		.img-email-register {
			margin: auto;
			display: table;
			height: 100px;
			margin-bottom: 20px;
		}
		.title{
			text-align: center;
			font-size: 13px;
			color: rgba(0, 0, 0, 0.38);
			font-weight: 400;
			color: #555;
		}
		.confirm{
			text-align: center;
			font-weight: 700;
			font-size: 15px;
			margin-top: 10px;
			margin-bottom: 5px;
		}
		p{
			font-size: 13px;
			margin: auto;
			text-align: center;
			font-weight: 100;
			margin-bottom: 20px;
			color: #555;
			font-family: arial;
		}
		.descript{
			float: left;
			width: 100%;
			margin-bottom: 10px;
			color: #555;
			.pay{
				margin-left: 0px;
				width: 100%;
			}
			.number{
				background: #f1efef;
				float: inherit;
				padding: 7px 13px;
				border-radius: 30px;
				color: #5a5858;
				margin-bottom: 15px;
				margin-top: 20px;
				margin-right: 10px;
			}
			span{
				position: relative;
				top: 2px;
		    line-height: 1.5em;
		    color: #555;
			}
		}
	}
	.btn-dropship {
		background-color: #0070ba;
		background-image: linear-gradient(100deg, #0070ba, #1546a0);
		border: none;
		border-radius: 0;
		color: white;
		padding: 10px 20px;
		margin-top: 10px;
		margin: auto;
		border-radius: 50px;
		margin-top: 50px;
		display: table;
		transition: all 0.3s ease-in-out;
	}
}