/*
 *= require plugins/animate
 *= require plugins/bootstrap
 *= require plugins/bootstrap-datepicker3.min
 *= require plugins/font-awesome-animation
 *= require chartist/chartist
 *= require chartist/chartist-plugin-tooltip
 *= require user/pe-icon-7-stroke
 *= require user/chat
 *= require user/edit_profile
 *= require user/font-user
 *= require user/header
 *= require user/menu-left
 *= require user/style_user
 *= require user/style
 *= require plugins/blueimp-gallery.min
 *= require plugins/select2
 *= require components/responsive 
 *= require components/alert
 *= require components/style_content_resellers
 *= require user/new-dashboard
 *= require user/merchant_style 
 *= require components/style_members_responsive
 */

.top-side-menu a.active{
  color: #fff;
  background-color: #03afef;
  border-color: #46b8da;
}

.select-birthday{
  width: 33%;
  float: left;
}

.clipboard-btn {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc,#eee);
  border: 1px solid #d5d5d5;
  border-radius: 0px!important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
}

.alert-domain-setting{
  padding: 5px;
  margin: 5px 0;
}

.customize-slider-setting{
  height: 200px;
  position: relative;
  overflow: hidden;
  img{
    width: 100%;
    border: solid 1px #e4e5e7;
  }
}

.nested-fields{
  margin-bottom: 20px;
}

.template-web{
    padding: 10px;
    position: relative;
    margin-bottom: 20px;
    input{
      position: absolute;
      top: 20px;
      left: 20px;
      margin-top: 0px;
      display: none;
    }
    .select2-selection {
      border: 0px;
    }
    img{
      width: 100%
    }
    &.opacity{
      opacity: 0.5;
    }
    i {
      display: none;
    }
    &.checked{
      background: #34495e;
      color: white;
      i {
        display: block!important;
        position: absolute;
        color: beige;
        font-size: 100px;
        top: 35%;
        left: 50%;
        transform: translateX(-40%);
        text-shadow: 0px 0px 20px #fff;
      }
    }
  }

/*=======================
  select2
=======================*/
.select2-tag{
  .select2{
    width: 100% !important;
    .select2-selection{
      border-color: #e4e5e7 !important;
    }
  }
}


.break{
  width: 100%;
  height: 20px;
  float: left;
}

.bank-logo{
  height: 20px;
  margin-left: 5px;
}

.no-radius{
  border-radius: 0;
}