= f.fields_for :domain_settings do |g|
	= render 'members/users/domain_setting_fields', f: g

- if current_user.admin?
  .col-md-12
    br
    = link_to_add_association f, :domain_settings, partial: 'members/users/domain_setting_fields', class: "btn btn-success btn-sm" do
      span Add Domain