- domain_name = f.object.is_pending? ? false : true

.col-md-12.nested-fields
  .section-pic
    .row
      - if f.object.status == DomainSetting::PENDING
        .col-md-12
          h6 
            | <b>*Silahkan ajukan nama domain yang di inginkan</b>
          p
            small
              | <b>Catatan</b>: Nama domain yang dimasukan haruslah belum dipakai sama sekali oleh orang lain, atau sudah aktif sebelumnya
          = f.text_field :name, class: 'form-control', placeholder: 'Masukan Nama Domain', required: true, readonly: domain_name
      - else
        .col-md-12
          h6 
            | <b>Berikut Domain Utama website yang sudah ditentukan</b>
          .panel.panel-body style='margin-top:10px;'
            | Nama Domain anda yang terdaftar saat ini adalah  <b>#{f.object.name.present? ? "<a href='http://#{f.object.name rescue ''}' target='_blank' class='label label-success'>#{f.object.name}</a>".html_safe : ''}</b> aktif sampai <b>#{get_date(@member.invoices.last.period_end) if @member.invoices.last.present?}</b> status #{f.object.status?} agar terus aktif pastikaan anda selalu membayar pakat langganannya.

      - if f.object.status == 'pending' && f.object.message.present?
        .col-md-12
          .alert.alert-warning.alert-domain-setting style='margin-top:5px;'
            = f.object.message
