div role="tabpanel" class="tab-pane" id="site_info"
  .row.mg-top20
    .col-md-12
      label Default Nama Domain
      br
      small
        | <b>Catatan</b>: Subdomain bisa dirubah hanya dengan melalui Manager anda, silahkan hubungi terlebih dahulu Manager anda jika akan merubahnya.
      br
    - if @member.site_info.present? && @member.site_info.domain_name.present?
      .col-md-12
        .panel.panel-body style='margin-top:10px;'
          | Subdomain landing page toko anda yang terdaftar saat ini adalah 
          b
            = site_info.object.domain_name.present? ? "<a href='http://#{@member.domain? rescue ''}' target='_blank' class='label label-success'>#{site_info.object.domain_name}.dusbelanja.com</a>".html_safe : 'example.dusbelanja.com'
          | &nbsp; aktif sampai kapanpun
    - else
      .col-md-4
        .right-webset
          = site_info.text_field :domain_name, class: 'form-control', required: true
      .col-md-8
        .domain style='padding-top:5px;'
          = '<b>.dusbelanja.com</b>'.html_safe
      .col-md-12
        small 
          | Domain anda akan menjadi seperti ini 
          b
            = site_info.object.domain_name.present? ? "<a href='http://#{@member.domain? rescue ''}' target='_blank'>#{site_info.object.domain_name}.dusbelanja.com</a>".html_safe : 'example.dusbelanja.com'
        br
    - if @member.package.premium?
      .setup-content
        = render partial: 'members/users/domain_setting_form', locals: {f: f}