div role="tabpanel" class="tab-pane" id="contact"
	.row.mg-top20
		.col-md-2
			.left-webset
				span.red *
				b Nomor HP Aktif/Whatsapp/Line
		.col-md-10
			.right-webset
				= profile.text_field :phone, class: 'form-control', placeholder: '+6285xxxxxxxxx', required: true
		/- if current_user.member?
			.col-md-2
				.left-webset
					span
						b Aktifkan Link API Whatsapp &nbsp;
					span = contact.check_box :use_link_wa
			.col-md-10
				.right-webset
					= contact.text_field :link_wa, class: 'form-control', placeholder: 'Kosongkan jika tidak menggunakan link api whatsapp'
		.col-md-2
			.left-webset
				b Nomor Telephon Rumah
		.col-md-10
			.right-webset
				= contact.text_field :phone, class: 'form-control'
		.col-md-2
			.left-webset
				b BBM
		.col-md-10
			.right-webset
				= contact.text_field :bbm, class: 'form-control'
		/ .col-md-2
		/   .left-webset
		/     b WA
		/ .col-md-10
		/   .right-webset
		/     = contact.text_field :wa, class: 'form-control'
		/ .col-md-2
		/   .left-webset
		/     b Line
		/ .col-md-10
		/   .right-webset
		/     = contact.text_field :line, class: 'form-control'
		.col-md-2
			.left-webset
				b Website
		.col-md-10
			.right-webset
				= contact.text_field :website, class: 'form-control'
		.col-md-2
			.left-webset
				b Facebook
		.col-md-10
			.right-webset
				= contact.text_field :facebook, class: 'form-control'
		.col-md-2
			.left-webset
				b Instagram
		.col-md-10
			.right-webset
				= contact.text_field :instagram, class: 'form-control'