div role="tabpanel" class="tab-pane" id="setting_seo"
  .row.mg-top20
    .col-md-2
      .left-webset
        b Nama Toko
    .col-md-10
      .right-webset
        = web_setting.text_field :title, class: 'form-control'
    .col-md-2
      .left-webset
        b Meta Keywords
    .col-md-10
      .right-webset
        = web_setting.text_field :keywords, class: 'form-control'
    .col-md-2
      .left-webset
        b Deskiprsi
    .col-md-10
      .right-webset
        = web_setting.cktext_area :description, class: 'form-control'
    .col-md-2
      .left-webset
        b Search Engine
    .col-md-10
      .right-webset
        = web_setting.text_area :search_engines, class: 'form-control', placeholder: 'Keyword 1, Keyword 2'
    .col-md-2
      .left-webset
        b Author
    .col-md-10
      .right-webset
        = web_setting.text_field :author, class: 'form-control', placeholder: 'Author website'
    / - if @member.member? && (@member.invoices.paid.last.package.advance? || @member.invoices.paid.last.package.premium?)
    .col-md-2
      .left-webset
        b Facebook pixel
    .col-md-10
      .right-webset
        = web_setting.text_field :fb_fixels_dashboard, class: 'form-control', placeholder: 'Masukkan ID Facebook Pixel'
    .col-md-2
      .left-webset
        b Google Analytic/Histat
    .col-md-10
      .right-webset
        = web_setting.text_area :google_analytic, class: 'form-control', placeholder: 'Google Analytic'
    .col-md-12
      h5
        b Pilih Cara Pemesanan :
      hr
    .col-md-6
      br
      .well
        center
          p Order Via Cart
          p = web_setting.check_box :order_via_cart
    .col-md-6
      br
      .well
        center
          p Order Via WA
          p = web_setting.check_box :order_via_wa
    / .col-md-2
    /   .left-webset
    /     b Meta Robot
    / .col-md-10
    /   .right-webset
    /     = web_setting.text_field :robot, class: 'form-control', placeholder: 'Example: Index, Follow, NoFollow'
    / .col-md-2
    /   .left-webset
    /     b Copyright
    / .col-md-10
    /   .right-webset
    /     = web_setting.text_field :corpyright, class: 'form-control', placeholder: 'Example: Online Shop'
    / .col-md-2
    /   .left-webset
    /     b Revisit
    / .col-md-10
    /   .right-webset
    /     = web_setting.text_field :revisit, class: 'form-control', placeholder: '2 Days'
    / .col-md-2
    /   .left-webset
    /     b Expires
    / .col-md-10
    /   .right-webset
    /     = web_setting.text_field :expires, class: 'form-control', placeholder: 'never'
    / .col-md-2
    /   .left-webset
    /     b Revisit After
    / .col-md-10
    /   .right-webset
    /     = web_setting.text_field :revisit_after, class: 'form-control', placeholder: '2 Days'
    / .col-md-2
    /   .left-webset
    /     b GeoPlacename
    / .col-md-10
    /   .right-webset
    /     = web_setting.text_field :geo_placename, class: 'form-control', placeholder: 'Example: Indonesia'
    / .col-md-2
    /   .left-webset
    /     b Bahasa
    / .col-md-10
    /   .right-webset
    /     = web_setting.text_field :language, class: 'form-control', placeholder: 'ID'
    / .col-md-2
    /   .left-webset
    /     b Negara
    / .col-md-10
    /   .right-webset
    /     = web_setting.text_field :country, class: 'form-control', placeholder: 'ID'
    / .col-md-2
    /   .left-webset
    /     b Bahasa Konten
    / .col-md-10
    /   .right-webset
    /     = web_setting.text_field :content_language, class: 'form-control', placeholder: 'All-Language'
    / .col-md-2
    /   .left-webset
    /     b Distribusi
    / .col-md-10
    /   .right-webset
    /     = web_setting.text_field :distribution, class: 'form-control', placeholder: 'global'
    / .col-md-2
    /   .left-webset
    /     b Generator
    / .col-md-10
    /   .right-webset
    /     = web_setting.text_field :generator, class: 'form-control', placeholder: 'website'
    / .col-md-2
    /   .left-webset
    /     b Rating
    / .col-md-10
    /   .right-webset
    /     = web_setting.text_field :rating, class: 'form-control', placeholder: 'general'
    / .col-md-2
    /   .left-webset
    /     b Target
    / .col-md-10
    /   .right-webset
    /     = web_setting.text_field :target, class: 'form-control', placeholder: 'target'
    / .col-md-2
    /   .left-webset
    /     b FB pixel view
    / .col-md-10
    /   .right-webset
    /     = web_setting.text_area :fb_fixels_view, class: 'form-control', placeholder: 'FB pixel view'
    / .col-md-2
    /   .left-webset
    /     b FB pixel cart
    / .col-md-10
    /   .right-webset
    /     = web_setting.text_area :fb_fixels_cart, class: 'form-control', placeholder: 'FB pixel cart'
    / .col-md-2
    /   .left-webset
    /     b FB pixel checkout
    / .col-md-10
    /   .right-webset
    /     = web_setting.text_area :fb_fixels_checkout, class: 'form-control', placeholder: 'FB pixel checkout'
    / .col-md-2
    /   .left-webset
    /     b FB pixel purchase
    / .col-md-10
    /   .right-webset
    /     = web_setting.text_area :fb_fixels_purchase, class: 'form-control', placeholder: 'FB pixel purchase'