div role="tabpanel" class="tab-pane" id="address"
	.row.mg-top20
		.col-md-2
			.left-webset
				b Provinsi
		.col-md-10
			.right-webset
				= address.select :province, options_for_select(Region.roots.alfa.pluck(:name), resource.address.province), {prompt: 'Pilih Provinsi'}, class: 'select2 form-control provinces_select', 'data-node' => "#{resource.class.to_s.downcase}"
		.col-md-2
			.left-webset
				b Kota
		.col-md-10
			.right-webset
				- cities = address.object.city ? Region.find_by(name: address.object.province).try(:children).pluck(:name) || [] : Region.none rescue []
				.city-container
					= address.select :city, options_for_select(cities, resource.address.city), {prompt: 'Pilih Kota'}, class: 'select2 form-control cities_select'
		.col-md-2
			.left-webset
				b Alamat
		.col-md-10
			.right-webset
				= address.text_field :address, class: 'form-control'
		.col-md-2
			.left-webset
				b Kodepos
		.col-md-10
			.right-webset
				= address.text_field :postcode, class: 'form-control'