div role="tabpanel" class="tab-pane" id="web_setting"
	.row.mg-top20
		.col-md-2
			.left-webset
				b Favicon
		.col-md-10
			.right-webset
				.box-img-favicon
					= image_tag web_setting.object.favicon.url(:small), class: 'show-choice customize-img-web-setting'
				= web_setting.file_field :favicon, class: 'input-file'
				p 
					small Standard size 100x100, 64x64, pixels
		.col-md-2
			.left-webset
				b Logo
		.col-md-10
			.right-webset
				.box-img-logo
					= image_tag web_setting.object.logo.url(:small), class: 'show-choice customize-img-web-setting'
				= web_setting.file_field :logo, class: 'input-file'
				p
					small Standard size 250x40 pixels
		.col-md-2
			.left-webset
				b Banner Cover Meta SHARE
		.col-md-10
			.right-webset
				.box-img-banner
					= image_tag web_setting.object.logo_banner.url(:medium), class: 'show-choice customize-img-web-setting'
				= web_setting.file_field :logo_banner, class: 'input-file'
				p
					small Standard size 600x314 pixels
		.col-md-2
			.left-webset
				b Footer Tags
		.col-md-10
			.right-webset
				= web_setting.text_field :footer_tags, class: 'form-control'
		.col-md-12
			br
			br
			h5 
				b Carousel Slider Homepage
			hr
			.setup-content
				.row
					= render partial: 'members/users/gallery_form', locals: {f: web_setting}

