div role="tabpanel" class="tab-pane active" id="personal"
	.row.mg-top20
		.col-md-2
			.left-webset
				span.red *
				b Avatar
		.col-md-10
			.right-webset
				.card-avatar
					.avatar-setting
						= image_tag profile.object.avatar.url(:medium), class: 'host-profile-image image-change'
					= profile.file_field :avatar, class: 'change-ava form-control'
					.break
					small Large files: a maximum of 10,000,000 bytes (10 Megabytes) Extensions are allowed: .JPEG .JPG .PNG
		.col-md-2
			.left-webset
				b NO KTP
		.col-md-10
			.right-webset
				= profile.text_field :no_ktp, class: 'form-control'
		.col-md-2
			.left-webset
				b NO NPWP
		.col-md-10
			.right-webset
				= profile.text_field :no_npwp, class: 'form-control'
		.col-md-2
			.left-webset
				span.red *
				b Nama Lengkap
		.col-md-10
			.right-webset
				= profile.text_field :full_name, class: 'form-control', required: true
		.col-md-2
			.left-webset
				span.red *
				b Tanggal Lahir
		.col-md-10
			.right-webset
				= profile.date_select :birthday, {start_year: (Date.today.year-100), end_year:   (Date.today.year-17), order: [:day, :month, :year], prompt: { day:   'Tanggal', month: 'Bulan', year:  'Tahun'}}, {class: 'form-control select-birthday'}
		.col-md-2
			.left-webset
				span.red *
				b Jenis Kelamin
		.col-md-10
			.right-webset
				- Gender.to_a.each do |g|
					.col-xs-6
						.well-message.padding10
							= profile.radio_button :gender, g[1]
							| &nbsp;
							= g[1]
		.col-md-2
			.left-webset
				span.red *
				b Username
		.col-md-10
			.right-webset
				= f.text_field :username, class: 'form-control', required: true
		.col-md-2
			.left-webset
				span.red *
				b Email
		.col-md-10
			.right-webset
				= f.email_field :email, class: 'form-control', required: true
		.col-md-2
			.left-webset
				span.red *
				b Password
		.col-md-10
			.right-webset
				= f.password_field :password, class: 'form-control'
		.col-md-2
			.left-webset
				span.red *
				b Password Confirmation
		.col-md-10
			.right-webset
				= f.password_field :password_confirmation, class: 'form-control'
