div role="tabpanel" class="tab-pane" id="bank_account"
  .row-style.mg-top20
    .col-md-2.col-style
      .left-webset
        span.red *
        b Nama Bank
    .col-md-10.col-style
      .right-webset
        = profile.select :bank_name, options_for_select(['BCA','Mandiri','BNI','BRI'], profile.object.bank_name), {prompt: 'Pilih Bank'}, class: 'form-control'
    .col-md-2.col-style
      .left-webset
        span.red *
        b Cabang Bank
    .col-md-10.col-style
      .right-webset
        = profile.text_field :bank_branch, class: 'form-control'
    .col-md-2.col-style
      .left-webset
        span.red *
        b Nama Rekening
    .col-md-10.col-style
      .right-webset
        = profile.text_field :account_name, class: 'form-control'
    .col-md-2.col-style
      .left-webset
        span.red *
        b Nomor Rekening
    .col-md-10.col-style
      .right-webset
        = profile.text_field :account_number, class: 'form-control'