.col-md-6.nested-fields
  .section-pic
    .row
      .col-md-12
        small Standar Size 1200x500 Pixel
        .customize-slider-setting
          = image_tag f.object.file.url, id: 'view_img'
        = f.file_field :file, class: 'form-control'
      .col-md-12
        = link_to_remove_association "<i class='fa fa-times'></i>".html_safe, f, class: 'btn btn-danger btn-xs pull-right'
        / h6 
        /   b Judul
        / = f.text_field :title, class: 'form-control'

