.row.detail-content
  .col-xs-12
    h3.title
      = @product.title
    small
      | Kode Produk : 
      b = @product.code 
      | &nbsp; . Ketegori : 
      b
        | #{@product.try(:sub_category).try(:name)} , #{@product.try(:parent_category).try(:name)}
    hr
      span Bagikan :
      | <span class='st_sharethis' displayText='ShareThis'></span><span class='st_facebook' displayText='Facebook'></span><span class='st_twitter' displayText='Tweet'></span><span class='st_linkedin' displayText='LinkedIn'></span><span class='st_pinterest' displayText='Pinterest'></span><span class='st_email' displayText='Email'></span>
    hr
  .col-xs-12.col-md-6
    .slider
      #slider-product.flexslider
        ul.slides
          - @product.galleries.image_exist.each do |g|
            li
              = image_tag g.file.url(:large), 'data-sgallery' => 'OSHOP', title: 'YOUR TITLE', 'data-full' => "#{ g.file.url(:large) }", 'data-toggle' => 'magnify', 'data-thumb' => "#{ g.file.url(:large) }"

      #carousel-product.flexslider
        ul.slides
          - @product.galleries.image_exist.each do |g|
            li
              = image_tag g.file.url(:thumb)
  .col-xs-12.col-md-6
  .col-xs-12
    .mgdetail-item
      .break
      ul class="nav nav-tabs" role="tablist"
        li role="presentation" class="active"
          a href="#tab1" aria-controls="shipping" role="tab" data-toggle="tab"
            | Detail Barang
        li role="presentation"
          a href="#tab2" aria-controls="shipping" role="tab" data-toggle="tab"
            | Komentar
        li role="presentation"
          a href="#tab3" aria-controls="shipping" role="tab" data-toggle="tab"
            | Estimasi Ongkos Kirim
        li role="presentation"
          a href="#tab4" aria-controls="shipping" role="tab" data-toggle="tab"
            | Pengiriman & Kebijakan
      .tab-content
        div role="tabpanel" class="tab-pane active" id="tab1"
          - @product_spec = @product.try(:product_spec)
          .row
            .col-md-2
              | Informasi
            .col-md-5
              | Kode Barang : 
              = @product.code 
              br
              | Komposisi : 
              = @product_spec.material
            .col-md-5
              | Berat : 20gram
              br
              | Kategori : 
              | #{@product.try(:parent_category).try(:name)}
            .col-md-12
              hr

            .col-md-2
              | Sekilas
            .col-md-10
              = render 'shareds/products/item_detail'
            .col-md-12
              hr

            .col-md-2
              | Deskripsi
            .col-md-10
              = render 'shareds/products/item_detail'

        div role="tabpanel" class="tab-pane" id="tab2"
          h5
            | Ada pertanyaan? 
            b Silahkan diskusikan dengan penjual.
          .row
            .col-md-6
              .form-group
                = text_field_tag :key_member, params[:key_member], class: 'form-control', placeholder: 'Email'
            .col-md-12
              .form-group
                = text_area_tag :key_member, params[:key_member], class: 'form-control', placeholder: 'Silahkan masukan komentar...'
            .col-md-12
              .form-group
                = submit_tag :submit, class: 'btn btn-info btn-comment'
          hr
          .row
            .col-md-1
              .box-img-profile
                = image_tag 'user.svg', class: 'img-profile'
            .col-md-11 
              .box-comment
                .user-profile
                  b dikisubagjaa@gmail.com
                  | &nbsp;
                  span.status customer
                  br
                  p Silahkan anda pertimbangkan kembali jika mau membeli kipas angin ini bro, ane punya dua di rumah, kedua nya rusak pada leher nya mungkin gak kuat nahan beban.
                  .date-post
                    | 9 Juni 2018, 14:56 
            .box-reply
              .col-md-1
                .box-img-profile
                  = image_tag 'suporting-1.383489723.jpg', class: 'img-profile'
              .col-md-11 
                .form-group
                  = text_field_tag :key_member, params[:key_member], class: 'form-control', placeholder: 'Silahkan masukan komentar...' 
                .form-group
                  = submit_tag :balas, class: 'btn btn-info btn-reply pull-right'       

        div role="tabpanel" class="tab-pane" id="tab3"
          | Estimate
        div role="tabpanel" class="tab-pane" id="tab4"
          = render 'shareds/products/policies'
