- if @top_sales_catalogs.present? && @top_sales_catalogs.size >= 4
  section.new-product-wrapper.padding0
    .container
      .title-listing
        h1 
          | Produk Terlaris
      hr.hr
      .js-featured-product.flexslider.carousel
        ul.slides
          - @top_sales_catalogs.each do |resource|
            - resource = Catalog.find resource.id
            = render 'products/product', resource: resource.product, catalog: resource

- if @featured_catalogs.present?
  section.new-product-wrapper
    .container
      .title-listing
        h1 
          | Produk Pilihan
      hr.hr
      ul
        - @featured_catalogs.each do |resource|
          = render 'products/product', resource: resource.product, catalog: resource
      .view-more
        = link_to 'Lihat Semua', products_path, class: "btn-view-more"
          
- if @latest_catalogs.present?
  section.new-product-wrapper
    .container
      .title-listing
        h1 
          | Produk Terbaru
      hr.hr
      ul
        - @latest_catalogs.each do |resource|
          = render 'products/product', resource: resource.product, catalog: resource
      .view-more
        = link_to 'Lihat Semua', products_path, class: "btn-view-more"

/ section.trust-wrapper
/   .container
/     .title-listing
/       h1 
/         | Belanja Tenang di #{@subdomain.domain? rescue ''}
/     hr.hr
/     .row
/       .col-md-3.col-sm-3
/         .about-trust
/           i.fa.fa-shopping-bag
/           br
/           h5 Produk Unggulan
/           h6.grey Hanya produk unggulan dari berbagai macam kategori siap dijual. New Arrival 3 kali seminggu.
/       .col-md-3.col-sm-3
/         .about-trust
/           i.fa.fa-smile-o
/           br
/           h5 Harga Jujur
/           h6.grey Toko lain Rp 120.000, di #{@subdomain.domain? rescue ''} ecer hanya Rp 60.000 Nggak perlu nunggu diskon untuk dapat harga murah
/       .col-md-3.col-sm-3
/         .about-trust
/           i.fa.fa-camera-retro
/           br
/           h5 Produk Sesuai Foto
/           h6.grey Produk difoto langsung oleh pabrik kami. Lihat gallery foto asli produk-produk yang dikenakan pembeli dan model kami.
/       .col-md-3.col-sm-3
/         .about-trust
/           i.fa.fa-thumbs-o-up
/           br
/           h5 Terpercaya
/           h6.grey Lihat ribuan testimonial dan foto produk yang dikirim oleh para pembeli kami
