- if @catalogs.present?
  ul
    - @catalogs.each do |resource|
      = render 'products/product', resource: resource.product, catalog: resource

  .break
  = paginate @catalogs
- else
  p align='center' Tidak ada data yang ditemukan!