- merchant_info = @setting.try(:faq)
#shop-policies
  h4
    | Kebijakan
  hr
  .row
    .policy-row.payment
      .col-md-12
        h5 Pembayaran
      .col-md-12
        | <p>#{merchant_info.payment.html_safe if merchant_info.payment.present?}</p><br>
    .policy-row.shipping
      .col-md-12
        h5 Pengiriman
      .col-md-12
        | <p>#{merchant_info.shipping.html_safe if merchant_info.shipping.present?}</p><br>
    .policy-row.refunds
      .col-md-12
        h5
          | Pengembalian Dana dan Pertukaran
      .col-md-12
        | <p>#{merchant_info.refund_and_exchange.html_safe if merchant_info.refund_and_exchange.present?}</p><br>
    .policy-row.additional
      .col-md-12
        h5
          | Kebijakan dan FAQ
      .col-md-12
        | <p>#{merchant_info.faq.html_safe if merchant_info.faq.present?}</p><br>
