- @product_spec = @product.try(:product_spec)
- get_price = @catalog.present? ? @catalog.price : @product.recommended_price
= form_for @order_item, remote: true do |f|
  .side-purchase.sidebar-show
    .row
      .col-xs-12
        div
          small.color-grey
            | Terakhir di Update: #{@product.updated_at.strftime("%B, %d, %Y")}
      .col-xs-12
        hr
      .col-xs-12
        - if current_user.present? && current_user.member? && @subdomain.id == current_user.id
          span.price-lg
            = get_currency(@catalog.product.price)
            | &nbsp;
          span.price-lg.discount
            = get_currency(@catalog.price) if @catalog.price.present?
        - else
          - if @catalog.discount > 0
            span.discount-value
              = "Diskon -#{@catalog.discount.to_i if @catalog.discount.present?}%"
            br
          - if @catalog.discount > 0
            span.price-lg
              = get_currency(@catalog.get_price?)
              | &nbsp;
            span.price-lg.discount
              = get_currency(@catalog.price) if @catalog.price.present?
          - else
            span.price-lg
              = get_currency(get_price) if get_price.present?

      .break
      .col-md-12
        .status-stock
          = @product.status_stock_label?

        .break
        h5 Sekilas
        ul.properties
          / li
          /   span
          /     = @product_spec.information.html_safe if @product_spec.information.present?
          li
            | Komposisi: <span>#{@product_spec.material}</span>
          li
            | Telah dilihat: <a href="#">#{@product.impressionist_count} orang</a>
          li
            | Telah dikomentari: <a href="#">#{@comments_size} komentari</a>
          li
            | Telah terjual: <a href="#">#{@sales_size} pcs</a>
        p
          | Untuk membeli item ini silakan klik tombol order di bawah ini, harga total termasuk harga barang dan biaya pembeli.

        - if current_user.present? && current_user.member? && current_user.id != @subdomain.id
          button class="btn btn-default btn-lg full-width no-radius" TIDAK TERSEDIA
        - else
          - unless @check_order.present?
            - if @product.ready_stock? && @product_spec.stock < 1
              button class="btn btn-default btn-lg full-width no-radius" Stok Tidak Tersedia
            - else
              .form-order
                - if @product.product_stock_available?
                  .form-group
                    label Ketersediaan
                    = f.select :variant, options_for_select(@product.product_stocks.available.pluck(:variant)), {prompt: 'Pilih Ketersediaan'}, class: 'form-control', required: true
                  .form-group
                    label Pesan
                    = f.text_area :message, class: 'form-control', placeholder: 'Masukan Pesan'
                .purchase-form-button
                  = hidden_field_tag :stakeholder, @product.merchant.id
                  = f.hidden_field :product_id, value: @product.id
                  = f.hidden_field :catalog_id, value: @catalog.id if @catalog.present?
                  button class= "btn btn-danger btn-lg full-width no-radius" type="submit"
                    | <i class='fa fa-cart-plus'></i> Masukan Keranjang
          - else
            = render "shareds/already_order"










