.col-md-12
  .simple-top-search
    .row
      .col-md-4
        .form-group
          .select-category
            = select_tag :category_id, options_for_select(Category.roots.alfa.active.map{|c| [c.name, c.id]}, params[:category_id]), prompt: 'Pilih Kategori', class: 'select2 form-control choice-category-catalog-select', 'data-node' => "#{@collection.class.to_s.downcase}"
      .col-md-4
        .form-group
          .select-category
            .sub-category-catalog-container
              - sub_categories = Category.find(params[:category_id]).try(:children).alfa.map{|c| [c.name, c.id]} rescue Category.only_childrens.alfa.map{|c| [c.name, c.id]}
              = select_tag :sub_category_id, options_for_select(sub_categories, params[:sub_category_id]), prompt: 'Pilih Sub Kategori', class: 'select2 form-control'
      .col-md-4
        .form-group
          = select_tag :status_stock, options_for_select(StatusStock.to_a, params[:status_stock]), prompt: 'Pilih Status', class: 'form-control select2'
      .col-md-8
        .form-group
          .layout-slider
            - start_price = @start_price ? '5000' : params[:price_range].split(";")[0] rescue '5000'
            - end_price = @end_price ? '10000000' : params[:price_range].split(";")[1] rescue '10000000'
            = text_field_tag :price_range, "#{start_price};#{end_price}", id: "Slider2", type: "slider"
      .col-md-4
        .form-group
          .input-group
            - value_sort_by = params[:sort_by].present? ? params[:sort_by] : ''
            = select_tag :sort_by, options_for_select(sort_by, value_sort_by), prompt: 'Urutkan', class: 'form-control select2'
            .input-group-btn
              button class="btn btn-gb btn-info" type="submit"
                | <i class="fa fa-search"></i></button>