<%= render 'devise/mailer/shared/header' %>
<tr>
  <td valign="top" id="templateBody" style= "background-color: #FFFFFF; border-top: 0; border-bottom: 2px solid #EAEAEA; padding-top: 0; padding-bottom: 9px;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
      <tbody class="mcnTextBlockOuter">
        <tr>
          <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
            <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
              <tbody>
                <tr>
                  <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">

                    <!-- <h3 align='center' style='font-size:16px;'>Hello! Thank you and Welcome to CPGROUND.COM!</h3> -->
                    <p style='font-size:12px; color:#777;'>
                      Halo <b><%= @resource.username %></b>,
                      <br>
                      <br>
                      Terima kasih telah mendaftar sebagai Reseller kami.
                      <br>
                      <br>
                      Sebelum Anda login atau melakukan pembayaran paket yang anda pilih, Anda
                      <br>
                      perlu verifikasi alamat e-mail Anda terlebih dahulu. Langkah ini memastikan
                      <br>
                      kami dapat menghubungi Anda di kemudian hari.
                      <br>
                      <br>
                      <%= link_to 'Verifikasi alamat e-mail Anda dengan klik tautan ini', user_confirmation_url(confirmation_token: @token) %>!
                      <br><br>
                      Terima Kasih
                      <br><br><br>
                      Salam terbaik,<br>
                      DROPSHIPAN.CO.ID<br>
                    </p>

                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<%= render 'devise/mailer/shared/footer' %>