<%= render 'devise/mailer/shared/header' %>
<tr>
	<td valign="top" id="templateBody" style= "background-color: #FFFFFF; border-top: 0; border-bottom: 2px solid #EAEAEA; padding-top: 0; padding-bottom: 9px;">
		<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
			<tbody class="mcnTextBlockOuter">
				<tr>
					<td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
						<table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
							<tbody>
								<tr>
									<td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
										<h3 align='center' style='font-size:16px;'>Halo! <%= @resource.email %></h3>
										<p style='font-size:12px; color:#777;'>
											<% if @resource.try(:unconfirmed_email?) %>
												Kami menghubungi Anda untuk memberitahukan bahwa email Anda akan diganti ke <%= @resource.unconfirmed_email} %>.
											<% else %>
												Kami menghubungi Anda untuk memberitahukan bahwa email Anda telah diganti ke <%= @resource.email} %>.
											<% end %>
											<br><br>
										</p>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>
<%= render 'devise/mailer/shared/footer' %>
