%a.dropdown-toggle.menu-icon{"data-toggle" => "dropdown", :href => "#"}
  %i.pe-7s-keypad
.dropdown-menu.hdropdown.bigmenu.animated.responsive-dropdown-menu-icon.flipInX
  %table
    %tbody
      %tr
        %td
          %a{:href => publishers_dashboards_path}
            %i.pe.pe-7s-global
            %h5 Dashboard Analytics
        %td
          %a{:href => edit_publishers_profile_path(current_user)}
            %i.pe.pe-7s-user.text-warning
            %h5 Settings <br> Acccount
        %td
          %a{:href => publishers_activities_path}
            %i.pe.pe-7s-timer.text-success
            %h5 My <br>Activities
      %tr
        %td
          %a{:href => publishers_campaigns_path}
            %i.pe.pe-7s-speaker.text-info
            %h5 My <br> Campaigns
        %td
          %a{:href => publishers_request_landing_pages_path}
            %i.pe.pe-7s-display2.text-info
            %h5 My <br> Landing Pages
        %td
          %a{:href => publishers_payments_path}
            %i.fa.fa-money.text-danger
            %h5 My <br> Payments