%a.dropdown-toggle.label-menu-corner.menu-icon{"data-toggle" => "dropdown", :href => "#"}
	%i.pe-7s-volume
	%span.label.label-info #{@notifications.unread.count}
%ul.dropdown-menu.hdropdown.notification.animated.responsive-dropdown-menu-icon.flipInX
	- @notifications.limit(5).each do |resource|
		= resource.has_readed?
		- if resource.campaign.present?
			- direct_link = click_notif_publishers_campaign_path(resource.campaign, notification_id: resource.id)
		- elsif resource.payment_snapshot.present?
			- direct_link = click_notif_publishers_payment_path(resource.payment_snapshot, notification_id: resource.id)
		- elsif resource.request_landing_page.present?
			- direct_link = click_notif_publishers_request_landing_page_path(resource.request_landing_page, notification_id: resource.id)
		- elsif resource.group.present?
			- direct_link = click_notif_publishers_group_path(resource.group, notification_id: resource.id)
		- elsif resource.offer.present?
			- direct_link = click_notif_publishers_offer_path(resource.offer, notification_id: resource.id)
		- else
			- direct_link = root_path
		= link_to direct_link do
			.pull-left.text-notification-title
				%i.fa.fa-info-circle
				= truncate(resource.title, length: 30)
			%br
			%small.small-list-notification
				= get_datetime(resource.created_at)
			%br
			%small.small-list-notification
				= truncate(resource.message, length: 45)
	%li.summary
		%span{ style: "color: #9d9fa2"}
			= link_to "See history notifications (#{@notifications.unread.count})", publishers_notifications_path