%a.dropdown-toggle.label-menu-corner.menu-icon{"data-toggle" => "dropdown", :href => "#"}
	%i.pe-7s-chat
	%span.label.label-success #{@latest_messages.unread.count}
%ul.dropdown-menu.hdropdown.animated.responsive-dropdown-menu-icon.flipInX
	- @latest_messages_collection.slice(0,5).each do |m|
		- user = User.find_by(id: m[1])
		= message_has_readed_am(m[3])
		= link_to click_message_managers_member_path(user.id, message_id: m[0]) do
			%b
				= user.username.titleize
			%small 
				<i class="pe-7s-timer"></i> sent #{time_to_ago(m[4])}
			%p
				= truncate(m[2], :length => 40)
	%li.summary
		%span{ style: "color: #9d9fa2"}
			/ Messages (#{@latest_messages.count})
			/ %br
			= link_to "Lihat semua pesan (#{@latest_messages.unread.count})", managers_messages_path