%a.dropdown-toggle.label-menu-corner.menu-icon{"data-toggle" => "dropdown", :href => "#"}
	%i.pe-7s-mail-open-file
	%span.label.label-success #{@guest_books_latest.unread.count}
%ul.dropdown-menu.hdropdown.animated.responsive-dropdown-menu-icon.flipInX
	- @guest_books_latest.limit(5).each do |m|
		.guest-book-notif
			= link_to members_guest_books_path do
				%b
					= m.name
				%small 
					<i class="pe-7s-timer"></i> sent #{time_to_ago(m.created_at)}
				%p
					= truncate(m.description, :length => 40)
	%li.summary
		%span{ style: "color: #9d9fa2"}
			= link_to "Lihat semua (#{@guest_books_latest.unread.count})", members_guest_books_path