= form_for [:members, resource], method: form_method, html: {class: 'form'} do |f|
  = render partial: 'form', locals: {f: f}
  - unless form_name == 'Catalogs' || form_name == 'Members'
    .buttons
      button class="btn-blue" type="submit" SIMPAN