aside#menu
	#navigation
		.profile-picture
			= link_to edit_managers_account_manager_path(@manager) do
				= image_tag @manager.profile.avatar, class: "img-circle m-b", style: "width: 75px;"
			.stats-label.text-color
				= link_to edit_managers_account_manager_path(@manager), class: "link-text" do
					small.text-muted = @manager.the_name?
				.text-muted
					small 
						= 'Account Manager'
		ul#side-menu.nav.ul-menu
			li class="#{active_sidebar_active?(:home, :dashboard)}"
				= link_to managers_dashboard_path do
					i.pe-7s-global
					| &nbsp;
					span.nav-label Dashboard
			li class="#{active_sidebar_active?(:commissions, :all)}"
				= link_to managers_commissions_path do
					i.pe-7s-wallet
					| &nbsp;
					span.nav-label Laporan Komisi
			li class="#{active_sidebar_active?(:orders, :all)} #{active_sidebar_active?(:confirmations, :all)}"
				= link_to managers_orders_path do
					i.pe-7s-cart
					| &nbsp;
					span.nav-label Daftar Order
			li class="#{active_sidebar_active?(:catalogs, :all)}"
				a href="#"
					span.nav-label <i class="pe-7s-ticket"></i> Katalog
					span.fa.arrow
				ul.nav.nav-second-level
					li class="#{active_sidebar_active?(:catalogs, :index)} #{active_sidebar_active?(:catalogs, :new)} #{active_sidebar_active?(:catalogs, :pending)} #{active_sidebar_active?(:catalogs, :inactive)}"
						= link_to managers_catalogs_path do
							i.pe-7s-angle-right-circle
							| &nbsp;
							span.nav-label Katalog Produk
					li class="#{active_sidebar_active?(:catalogs, :download_catalogs)}"
						= link_to download_catalogs_managers_catalogs_path do
							i.pe-7s-angle-right-circle
							| &nbsp;
							span.nav-label Download Katalog
			li class="#{active_sidebar_active?(:payments, :all)}"
				= link_to managers_payments_path do
					i.pe-7s-cash
					| &nbsp;
					span.nav-label Pembayaran
			li class="#{active_sidebar_active?(:report_refunds, :all)}"
				= link_to managers_report_refunds_path do
					i.pe-7s-cash
					| &nbsp;
					span.nav-label Refund Order
			li class="#{active_sidebar_active?(:invoices, :all)}"
				= link_to managers_invoices_path do
					i.pe-7s-speaker
					| &nbsp;
					span.nav-label Tagihan
			li class="#{active_sidebar_active?(:members, :all)}"
				= link_to managers_members_path do
					i.pe-7s-users
					| &nbsp;
					span.nav-label Resellers
			li class="#{active_sidebar_active?(:account_managers, :edit)}"
				= link_to edit_managers_account_manager_path(@manager) do
					i.pe-7s-config
					| &nbsp;
					span.nav-label Settings
		.about-store
			.about-store-title
				| Tentang Toko
			ul.sidebar
				li
					| Katalog: 
					= link_to "#{@manager.catalogs.count rescue 0} items",'#'
				li  
					| Penjualan: 
					= link_to "#{@manager.have_sales_quantity? rescue 0} items",'#'

			.about-store-title
				| Kontak
			ul.sidebar
				- if @manager.email.present?
					li
						| Email: 
						= link_to @manager.email, '#'
				- if @manager.profile.phone.present?
					li
						| No HP/WA/LINE: 
						= link_to @manager.profile.phone, '#'
				- if @manager.contact.phone.present?
					li
						| No Telepon: 
						= link_to @manager.contact.phone, '#'
				- if @manager.contact.bbm.present?
					li
						| BBM: 
						= link_to @manager.contact.bbm, '#'
				/ - if @manager.contact.wa.present?
				/ 	li
				/ 		| WA: 
				/ 		= link_to @manager.contact.wa, '#'
				/ - if @manager.contact.line.present?
				/ 	li
				/ 		| Line: 
				/ 		= link_to @manager.contact.line, '#'
				- if @manager.contact.website.present?
					li
						| Website: 
						= link_to @manager.contact.website, @manager.contact.website
				- if @manager.contact.facebook.present?
					li
						| Facebook: 
						= link_to 'Lihat', @manager.contact.facebook
				- if @manager.contact.instagram.present?
					li
						| Instagram: 
						= link_to 'Lihat', @manager.contact.instagram