section.available-category.padding0
  / h3 Pilih Kategori
  .container
    ul.the-categories
      - @categories.each do |category|
        li.col-sm-3
          ul
            li class= "category-point #{'active' if params[:category] == category.name}"
              = radio_button_tag 'category', category.name, params[:category] == category.name
              | #{image_tag category.file.url(:thumb)} #{category.name} 
    
    - @categories.each do |category|
      div style='display:none;'
        = radio_button_tag 'category', category.name, params[:category] == category.name
    - if params[:category].present?
      .col-sm-12
        .section-sub-category-field
          .col-sm-4
            h2
              = params[:category]
            p
              = @category.description if @category.present?
          .col-sm-8
            ul
              - get_child_categories(params[:category]).each do |sub_category|
                li class= "col-sm-4 sub-category-point #{'active' if params[:sub_category] == sub_category.name}"
                  = radio_button_tag 'sub_category', sub_category.name, params[:sub_category] == sub_category.name
                  | <i class='fa fa-angle-down'></i> #{sub_category.name} 
