- if @setting.galleries.present?
  section.section-home-carousel
    .container
      #transition-timer-carousel class="home-carousel carousel slide transition-timer-carousel" data-ride="carousel"
        ol class="carousel-indicators"
          - @setting.galleries.each_with_index do |resource, index|
            li data-target="#carousel-example-generic" data-slide-to="#{index}" class="#{'active' if index == 0}''"
        .carousel-inner
          - @setting.galleries.each_with_index do |resource, index|
            div class=['item', "#{'active' if index == 0}"]
              = image_tag resource.file.url
        a class="left carousel-control" href="#transition-timer-carousel" data-slide="prev"
          span.glyphicon.glyphicon-chevron-left
        a class="right carousel-control" href="#transition-timer-carousel" data-slide="next"
          span.glyphicon.glyphicon-chevron-right

        hr class="transition-timer-carousel-progress-bar animate"