section.grey
  h1 Bagaimana Cara Kerjanya
  p.desc-section
    | Di bawah ini adalah langkah-langkah penjelasan tentang cara membeli barang di Oshop Market
  / .container
  /   .row.service
  /     .col-xs-12.col-sm-6.col-md-3
  /       .box
  /         .box-icon
  /           span class="fa fa-4x fa-shopping-cart"
  /         .info
  /           h4.text-center Add To Cart Your Item
  /           p
  /             | look on our impressive collections and choose your desired item
  /     .col-xs-12.col-sm-6.col-md-3
  /       .box
  /         .box-icon
  /           span class="fa fa-4x fa-money"
  /         .info
  /           h4.text-center Make a Payment Your Items
  /           p
  /             | look on our impressive collections and choose your desired item
  /     .col-xs-12.col-sm-6.col-md-3
  /       .box
  /         .box-icon
  /           span class="fa fa-4x fa-file-text-o"
  /         .info
  /           h4.text-center Verification Process Order
  /           p
  /             | look on our impressive collections and choose your desired item
  /     .col-xs-12.col-sm-6.col-md-3
  /       .box
  /         .box-icon
  /           span class="fa fa-4x fa-truck"
  /         .info
  /           h4.text-center Product Ready for Delivery
  /           p
  /             | look on our impressive collections and choose your desired item
  .container
    .row.oshop-point-wrapper
      .col-lg-3.col-md-3.col-sm-6.col-xs-12
        .oshop-point-info
          .icon-point
            .fa.fa-user
          .info-point
            .title
              | Rekening Bersama
            .description
              | Solusi untuk jual beli barang bekas online yang aman dan mudah.
      .col-lg-3.col-md-3.col-sm-6.col-xs-12
        .oshop-point-info
          .icon-point
            .fa.fa-users
          .info-point
            .title
              | Penawaran
            .description
              | Anda dapat menawar barang yang ingin Anda beli, secara langsung!
      .col-lg-3.col-md-3.col-sm-6.col-xs-12
        .oshop-point-info
          .icon-point
            .fa.fa-wrench
          .info-point
            .title
              | Tukar Menukar
            .description
              | Bertukar barang tanpa adanya transaksi sesuai kesepakatan bersama.
      .col-lg-3.col-md-3.col-sm-6.col-xs-12
        .oshop-point-info
          .icon-point
            .fa.fa-info
          .info-point
            .title
              | Instant Chat
            .description
              | Berbicara langsung antara pembeli dan penjual dalam fasilitas chat.
      .col-lg-3.col-md-3.col-sm-6.col-xs-12
        .oshop-point-info
          .icon-point
            .fa.fa-gear
          .info-point
            .title
              | Gadai/Lelang
            .description
              | Gadaikan barang Anda lewat rekanan kami yang terpercaya.
      .col-lg-3.col-md-3.col-sm-6.col-xs-12
        .oshop-point-info
          .icon-point
            .fa.fa-bank
          .info-point
            .title
              | Geo Search
            .description
              | Cari barang bekas favorit yang terdekat di sekitar Anda!
      .col-lg-3.col-md-3.col-sm-6.col-xs-12
        .oshop-point-info
          .icon-point
            .fa.fa-globe
          .info-point
            .title
              | Kredit Konsumen
            .description
              | Solusi bagi Anda yang tidak memiliki dana cukup untuk memenuhi kebutuhan Anda.
      .col-lg-3.col-md-3.col-sm-6.col-xs-12
        .oshop-point-info
          .icon-point
            .fa.fa-edit
          .info-point
            .title
              | Pengiriman Barang
            .description
              | Kirim barang Anda dengan rekanan logistik kami tanpa harus mengantar sendiri.
