.col-md-4.col-sm-4.col-xs-12
  .box-comision-approve
    .title-approve
      | Total Komisi Di Setujui
      hr
    .row
      .col-md-4.col-xs-6
        .cash-approve
          = @commission_approved.sum(:quantity) rescue 0
        .desc-approve
          | Transaksi
      .col-md-8.col-xs-6
        .cash-approve
          = get_currency(@commission_approved.sum(key))
        .desc-approve
          | Penghasilan
.col-md-4.col-sm-4.col-xs-12
  .box-comision-approve
    .title-approve
      | Total Komisi Pending
      hr
    .row
      .col-md-4.col-xs-6
        .cash-approve
          span.orange 
           = @commission_pending.sum(:quantity) rescue 0
        .desc-approve
          | Transaksi
      .col-md-8.col-xs-6
        .cash-approve
          span.orange 
            = get_currency(@commission_pending.sum(key))
        .desc-approve
          | Penghasilan
.col-md-4.col-sm-4.col-xs-12
  .box-comision-approve
    .title-approve
      | Total Komisi Di Tolak
      hr
    .row
      .col-md-4.col-xs-6
        .cash-approve
          span.red 
           = @commission_reject.sum(:quantity) rescue 0
        .desc-approve
          | Transaksi
      .col-md-8.col-xs-6
        .cash-approve
          span.red 
            = get_currency(@commission_reject.sum(key))
        .desc-approve
          | Penghasilan