.col-xs-12
	= form_for :search, url: link_path, html: {class: 'js-form-analytic'}, method: 'get', remote: true
		- if current_user.admin?
			.panel.panel-default
				.panel-body
					.row
						.col-md-3
							label
								= 'Berdasarkan Reseller/Invoice'
							= text_field_tag :key, nil, value: params[:key], class: 'form-control', placeholder: 'Reseller/Invoice'
						.col-md-3
							label
								= params[:controller] == 'backend/commission_referrals' ? 'Berdasarkan Member Id' : 'Berdasarkan Manager Id/Member Id'
							= text_field_tag :user_id, nil, value: params[:user_id], class: 'form-control', placeholder: 'Masukan Id'
						.col-md-2
							label
								= 'Berdasarkan Unik Harga'
							= text_field_tag :price, nil, value: params[:price], class: 'form-control', placeholder: 'Unik Harga'
						.col-md-2
							label
								= 'Status'
							= select_tag :status, options_for_select(Commission::STATUSES, params[:status]), prompt: 'Pilih Status', class: 'form-control'
						.col-md-2
							br
							.js-button-export
								= render 'shareds/button_export'
		.box-schema.responsive-panel-analytic
			.row.responsive-row-analytic
				.col-md-6.col-sm-6.col-xs-6
					- active_today = params.present? && (params[:start_at].present? && params[:end_at].present? && @date == params[:start_at].to_date && @date == params[:end_at].to_date) ? 'active' : ''
					- if params[:commit_priode] == 'daily' || params[:commit_priode] == 'monthly' || params[:commit_priode] == 'yearly'
						- active_today = ''

					- active_yesterday = params.present? && (params[:start_at].present? && params[:end_at].present? && @date.yesterday == params[:start_at].to_date && @date.yesterday == params[:end_at].to_date) ? 'active' : ''
					- if params[:commit_priode] == 'daily' || params[:commit_priode] == 'monthly' || params[:commit_priode] == 'yearly'
						- active_yesterday = ''
					
					- last_7_day = params.present? && (params[:start_at].present? && params[:end_at].present? && (@date - 6.days) == params[:start_at].to_date && @date == params[:end_at].to_date) ? 'active' : ''
					- if params[:commit_priode] == 'daily' || params[:commit_priode] == 'monthly' || params[:commit_priode] == 'yearly'
						- last_7_day = ''

					- daily = last_7_day.blank? && active_yesterday.blank? && active_today.blank? ? 'active' : ''
					- if params[:commit_priode] == 'daily'
						- daily = 'active'
					- elsif params[:commit_priode] == 'monthly' || params[:commit_priode] == 'yearly'
						- daily = ''

					- btn_value = ''
					- if params[:commit_priode] == 'daily' || params[:commit_priode] == 'monthly' || params[:commit_priode] == 'yearly'
						- btn_value = params[:commit_priode]

					.btn-group.btn-chart
						button.btn.btn-default.btn-tab-analytic.btn-search-analytic.js-submit-search-report type='submit' name='commit_day' value='last_7_day' class="#{last_7_day}" 7 Hari Terakhir
						button.btn.btn-default.btn-tab-analytic.btn-search-analytic.js-submit-search-report type='submit' name='commit_day' value='yesterday' class="#{active_yesterday}" Kemarin
						button.btn.btn-default.btn-tab-analytic.btn-search-analytic.js-submit-search-report type='submit' name='commit_day' value='today' class="#{params[:start_at].blank? ? 'active' : active_today}" Hari ini
						button.btn.btn-default.btn-tab-analytic.btn-search-analytic type='submit' name='commit_priode' value='daily' class="#{params[:start_at].blank? ? '' : daily}" Harian
						button.btn.btn-default.btn-tab-analytic.btn-search-analytic type='submit' name='commit_priode' value='monthly' class="#{'active' if params[:commit_priode] == 'monthly'}" Bulanan
						button.btn.btn-default.btn-tab-analytic.btn-search-analytic type='submit' name='commit_priode' value='yearly' class="#{'active' if params[:commit_priode] == 'yearly'}" Tahunan
				.col-md-6.col-sm-6.col-xs-6
					.search-form
						= text_field_tag :start_at, nil, value: params[:start_at].present? ? params[:start_at] : @date, class: 'datepicker input', placeholder: 'Start At'
						= ' - '
						= text_field_tag :end_at, nil, value: params[:end_at].present? ? params[:end_at] : @date, class: 'datepicker input',  placeholder: 'End At'
						button.btn.btn-info type='submit' name='commit_priode' value="#{btn_value}" CARI
				.col-xs-12
					.revenue
						= "<small>Total Komisi : </small> <b>#{get_currency(@commission_default.all_approved.sum(key).to_i)}</b>".html_safe
				.col-xs-12
					.analytic
						- if params[:commit_priode] == 'daily' || params[:commit_priode].blank?
							h2 align='center' Report Komisi Harian
							.exTab
								ul.nav.nav-tabs.js-tab-analytics
									li.active
										a data-toggle="tab" href="#1" Komisi Masuk
									li
										a data-toggle="tab" href="#2" Nilai Komisi
								.tab-content.background-white
									#1.tab-pane.active
										= area_chart @daily.count
									#2.tab-pane
										= area_chart @daily.sum(key).map{|n| [n[0],n[1].to_f]} rescue []

						- elsif params[:commit_priode] == 'monthly'
							h2 align='center' Report Komisi Bulanan
							.exTab
								ul.nav.nav-tabs.js-tab-analytics
									li.active
										a data-toggle="tab" href="#1" Komisi Masuk
									li
										a data-toggle="tab" href="#2" Nilai Komisi
								.tab-content.background-white
									#1.tab-pane.active
										= area_chart @monthly.count
									#2.tab-pane
										= area_chart @monthly.sum(key).map{|n| [n[0],n[1].to_f]} rescue []

						- elsif params[:commit_priode] == 'yearly'
							h2 align='center' Report Komisi Tahunan
							.exTab
								ul.nav.nav-tabs.js-tab-analytics
									li.active
										a data-toggle="tab" href="#1" Komisi Masuk
									li
										a data-toggle="tab" href="#2" Nilai Komisi
								.tab-content.background-white
									#1.tab-pane.active
										= area_chart @yearly.count
									#2.tab-pane
										= area_chart @yearly.sum(key).map{|n| [n[0],n[1].to_f]} rescue []

		- unless current_user.admin?
			.panel-body.box-search-catalog
				.row
					.col-md-4
						.select-category
							= select_tag :status, options_for_select(Commission::STATUSES), prompt: 'Pilih Status', class: 'form-control'
					.col-md-6
						.input-key
							= text_field_tag :key, nil, value: params[:key], class: 'form-control mgbt-10', placeholder: "#{search_key}"
						.submit-search
							= submit_tag 'CARI', class: "form-control form-custom btn"
					.col-md-2
						.js-button-export
							- if box_for == 'commission'
								= render 'shareds/button_export'
							- else
								= render 'shareds/button_export', controller_name: "referral"
		
	.box-latest-order
		.table-responsive
			- if box_for == 'commission'
				table.table.table-striped.table-hover.mg-bot0
					thead
						tr
							th Kode Komisi
							th Kode Invoice
							th Produk
							th Qty
							th Kode Katalog
							th Katalog Terjual
							- if current_user.admin? || current_user.account_manager?
								th Reseller
							- if current_user.admin?
								th Order Item
								th Komisi Perusahaan
								th Komisi AM
							th Komisi Reseller
							th Status
							th Tanggal Masuk
					tbody
						- if @collection.blank?
							- if current_user.admin?
								- colspan = '13'
							- elsif current_user.account_manager?
								- colspan = '10'
							- else
								- colspan = '9'
							tr
								td colspan="#{colspan}" 
									= render "shareds/empty_blank"
						- else
							- @collection.each do |resource|
								- if current_user.admin?
									- link_invoice = '#'
								- elsif current_user.member?
									- link_invoice = '#'
								tr
									td.uppercase
										= link_to resource.uniq_code || resource.id, link_invoice
									td.uppercase
										= resource.order.code
									td
										= "#{resource.product.title} (#{resource.product.code}) <b>#{get_currency(resource.product.price)}</b>".html_safe
									td
										= resource.quantity
									td.uppercase
										= resource.catalog.code || resource.catalog.id
									td
										b
											= get_currency(resource.order_item.total_price)
									- if current_user.admin? || current_user.account_manager?
										- link_member = current_user.admin? ? backend_member_path(resource.member) : managers_member_path(resource.member)
										td
											= link_to resource.member.username, link_member
									- if current_user.admin?
										td
											= resource.order_item.no_invoice
										td
											b
												= get_currency(resource.commission_company)
											- if resource.account_manager.present?
												br
												small
													= "AM: - #{get_currency(resource.commission_am)} (#{link_to resource.try(:account_manager).try(:username), backend_account_manager_path(resource.account_manager.username)})".html_safe
											- resource.commission_referrals.each_with_index do |r, index|
												- if r.member.present?
													br
													small
														= "REF#{index+1}: - #{get_currency(r.commission_value)} (#{link_to r.try(:member).try(:username), backend_member_path(r.member.username)})".html_safe
										td
											b
												= get_currency(resource.commission_am)
									td
										b
											= get_currency(resource.commission_member)
									td
										= resource.status?
										td
											= resource.commission_date.strftime("%b, %d, %Y") if resource.commission_date.present?
			- else
				table.table.table-striped.table-bordered.table-hover.mg-bot0
					thead
						tr
							th Kode Komisi
							th Referral Dari
							- if current_user.admin?
								th Kepada
								th Kode Order
							th Produk
							th Qty
							th Kode Katalog
							th Total Harga
							th Persentase
							th Nilai Komisi
							th Status
							th Tanggal Masuk
					tbody
						- if @collection.blank?
							tr
								td colspan="#{current_user.admin? ? '12' : '10'}" 
									= render "shareds/empty_blank"
						- else
							- @collection.each do |resource|
								tr
									td.uppercase
										= resource.commission.uniq_code || resource.id
									td
										= "#{resource.commission.member.username} (#{link_to resource.commission.member.email, "mailto:#{resource.commission.member.email}"})".html_safe
									- if current_user.admin?
										td
											= "#{resource.member.username} (#{link_to resource.member.email, "mailto:#{resource.member.email}"})".html_safe
										td.uppercase
											= resource.commission.order.code || resource.commission.order.id
									td
										= "#{resource.commission.product.title} (#{resource.commission.product.code}) <b>#{get_currency(resource.commission.product.price)}</b>".html_safe
									td
										= resource.commission.quantity
									td.uppercase
										= resource.commission.catalog.code || resource.commission.catalog.id
									td
										b
										 = get_currency(resource.commission.order_item.total_company_price)
									td
										= "#{resource.percentage}%"
									td
										b
											= get_currency(resource.commission_value)
									td
										= resource.status?
									td
										= resource.commission_date.strftime("%b, %d, %Y") if resource.commission_date.present?
	= paginate @collection, remote: true if @collection.present?