.col-md-4.col-sm-4.col-xs-12
  .box-comision-approve
    .title-approve
      | Total Komisi Di Setujui
    .row
      .col-md-4
        .cash-approve
          = @commission_approved.size rescue 0
        .desc-approve
          | Komisi
      .col-md-8
        .cash-approve
          = get_currency(@commission_approved.sum(key))
        .desc-approve
          | Penghasilan
.col-md-4.col-sm-4.col-xs-12
  .box-comision-approve
    .title-approve
      | Total Komisi Pending
    .row
      .col-md-4
        .cash-approve
          span.orange 
           = @commission_pending.size rescue 0
        .desc-approve
          | Komisi
      .col-md-8
        .cash-approve
          span.orange 
            = get_currency(@commission_pending.sum(key))
        .desc-approve
          | Penghasilan
.col-md-4.col-sm-4.col-xs-12
  .box-comision-approve
    .title-approve
      | Total Komisi Di Tolak
    .row
      .col-md-4
        .cash-approve
          span.red 
           = @commission_reject.size rescue 0
        .desc-approve
          | Komisi
      .col-md-8
        .cash-approve
          span.red 
            = get_currency(@commission_reject.sum(key))
        .desc-approve
          | Penghasilan