.col-md-6
  = render 'members/shareds/target_omset', total_order: @last_total_orders, total_order_percent: @last_order_percent, start_at: @beginning_of_last, end_at: @end_of_last, omset: "Last Pembelian", class_progress: "last_omset"

.col-md-6
  = render 'members/shareds/target_omset', total_order: @ongoing_total_orders, total_order_percent: @ongoing_order_percent, start_at: @beginning_of_ongoing, end_at: @end_of_ongoing, omset: "Ongoing Pembelian", class_progress: "ongoing_omset"

.col-md-12.col-sm-12.col-xs-12
  .box-comision-approve
    .title-approve
      | Estimasi Komisi
    .row
      .col-md-3.col-sm-3.col-xs-6
        .cash-approve
          = get_currency(@earning_today)
        .desc-approve
          | Hari ini
      .col-md-3.col-sm-3.col-xs-6
        .cash-approve
          = get_currency(@earning_yesterday)
        .desc-approve
          | Kemarin
      .col-md-3.col-sm-3.col-xs-6
        .cash-approve
          = get_currency(@earning_last_7_day)
        .desc-approve
          | 7 Hari terakhir
      .col-md-3.col-sm-3.col-xs-6
        .cash-approve
          = get_currency(@earning_this_month)
        .desc-approve
          | Bulan ini