- if params[:action] == 'referral'
  = render 'estimate'
  = render 'box_content_referral', key: :commission_value
  = render 'box_analytic', key: :commission_value, link_path: referral_members_commissions_path, search_key: 'Kode Komisi/Kode atau Nama Produk/Kode Katalog', box_for: 'referral'
- else
  = render 'estimate'
  = render 'box_content', key: :commission_member
  = render 'box_analytic', key: :commission_member, link_path: members_commissions_path, search_key: 'Kode Komisi/Kode Invoice/Kode atau Nama Produk/Kode Katalog', box_for: 'commission'