<table border="1">
  <caption>Daftar Komisi Penjualan <%= show_search_form_date(params[:start_at], params[:end_at]) %></caption>
  <tr>
    <th>No</th>
    <th>Kode Komisi</th>
    <th>Kode Invoice</th>
    <th>Produk</th>
    <th>Qty</th>
    <th>Kode Katalog</th>
    <th>Katalog Terjual</th>
    <th>Komisi Reseller</th>
    <th>Status</th>
    <th>Tanggal Masuk</th>
  </tr>
  <% @collection_all.each_with_index do |resource, index| %>
  <tr>
    <td><%= index+1 %></td>
    <td><%= resource.try(:uniq_code) %></td>
    <td><%= resource.try(:order).try(:code) %></td>
    <td><%= "#{resource.try(:product).try(:title)} (#{resource.try(:product).try(:code)}) <b>#{get_currency(resource.try(:product).try(:price))}</b>".html_safe %></td>
    <td><%= resource.try(:quantity) %></td>
    <td><%= resource.try(:catalog).try(:code) %></td>
    <td><b><%= get_currency(resource.try(:order_item).try(:total_price)) %></b></td>
    <td><b><%= get_currency(resource.try(:commission_member)) %></b></td>
    <td><%= resource.try(:status) %></td>
    <td><%= resource.commission_date.strftime("%d %B %Y - %I:%M") if resource.commission_date.present? %></td>
  </tr>
  <% end %>
</table>