.row
	/.col-md-12
		.form-group
			label Pilih Product
			= f.select :product_id, options_for_select(get_products.map{|b| [b.title]}, resource.title1), {prompt: 'Pilih Product'}, class: 'select2 form-control', required: true
	.col-md-6
		.form-group
			label Kategori
			= f.select :category, LandingPress::CATEGORIES, {prompt: "Pilih Kategori"}, class: 'form-control', required: true
	.col-md-6
		.form-group
			label Brand
			= f.select :brand, options_for_select(get_brands.map{|b| [b.name]}, resource.brand), {prompt: 'Pilih Brand'}, class: 'select2 form-control', required: true
	.col-md-12
		.well
			center
				p ACTIVE
				p = f.check_box :status
	.col-md-6
		.form-group
			label Banner
			br
			= f.file_field :banner, class: 'input-file'
			= image_tag f.object.banner.url(:small), class: 'show-choice'
	.col-md-6
		.form-group
			label Screen Capture
			.box-landing-press
				= f.file_field :screen_capture, class: 'input-file'
				= image_tag f.object.screen_capture.url(:small), class: 'show-choice'
	.col-md-12
		.form-group
			label Judul Landing Page
			= f.text_field :title1, class: 'form-control', required: true
	.col-md-12
		.form-group
			label Deskripsi Produk
			= f.cktext_area :description1, class: 'form-control'
	.col-md-12
		.form-group
			label Link Video
			= f.text_field :link_video, class: 'form-control'
	.col-md-4
		.form-group
			label Gambar 1
			br
			= image_tag f.object.image1.url(:small), class: 'show-choice'
			= f.file_field :image1, class: 'input-file'
	.col-md-4
		.form-group
			label Gambar 2
			br
			= image_tag f.object.image2.url(:small), class: 'show-choice'
			= f.file_field :image2, class: 'input-file'
	.col-md-4
		.form-group
			label Gambar 3
			br
			= image_tag f.object.image3.url(:small), class: 'show-choice'
			= f.file_field :image3, class: 'input-file'
	.col-md-12
		.form-group
			label Judul Manfaat Produk
			= f.text_field :title2, class: 'form-control'
	.col-md-12
		.form-group
			label Deskripsi Detail Manfaat
			= f.cktext_area :description2, class: 'form-control'
	.col-md-6
		.form-group
			label Gambar 4
			br
			= image_tag f.object.image4.url(:small), class: 'show-choice'
			= f.file_field :image4, class: 'input-file'
	.col-md-6
		.form-group
			label Gambar 5
			br
			= image_tag f.object.image5.url(:small), class: 'show-choice'
			= f.file_field :image5, class: 'input-file'
	.col-md-12
		.form-group
			label Judul kenapa harus produk kami?
			= f.text_field :title3, class: 'form-control'
	.col-md-12
		.form-group
			label Deskripsi
			= f.cktext_area :description3, class: 'form-control'
	.col-md-12
		.form-group
			label Judul Banner
			= f.text_field :title_banner, class: 'form-control'
	.col-md-12
		.form-group
			label Judul Foto Produk
			= f.text_field :title4, class: 'form-control'
	.col-md-12
		.form-group
			label Judul Banner 2
			= f.text_field :title_banner2, class: 'form-control'
	.col-md-12
		.form-group
			label Deskripsi Banner 2
			= f.text_area :description4, class: 'form-control'
	.col-md-12
		.form-group
			label Gambar 6
			br
			= image_tag f.object.image6.url(:small), class: 'show-choice'
			= f.file_field :image6, class: 'input-file'
	.col-md-12
		.form-group
			label Judul Untuk Menarik Pembeli
			= f.text_field :title5, class: 'form-control'
	.col-md-12
		.form-group
			label Deskripsi
			= f.cktext_area :description5, class: 'form-control'
	.col-md-12
		.form-group
			label Harga
			= f.text_field :price, class: 'form-control'
	.col-md-12
		.form-group
			label No. Telepon
			= f.text_field :telephone, class: 'form-control'
	.col-md-12
		.form-group
			label Footer
			= f.text_field :footer, class: 'form-control'
	.col-xs-12
		label Produk
		.setup-content
			ul.choice-gallery-form
				= f.fields_for :landing_press_products do |g| 
					= render 'image_fields', f: g 
	.col-xs-12.mgbot20
		label Testimoni
		.setup-content
			ul.choice-gallery-form
				= f.fields_for :landing_press_testimonials do |g| 
					= render 'image_fields', f: g
	.col-xs-12
		= f.fields_for :landing_press_galleries do |p|
			.row
				= render 'gallery_fields', f: p

		= link_to_add_association f, :landing_press_galleries, partial: 'gallery_fields', class: "btn btn-success btn-sm" do
			i class="fa fa-picture-o"
			span Tambah Gambar

	.col-md-12
		.form-group
			label Code CSS
			= f.cktext_area :code_css, class: 'form-control code-css'
		 