.col-md-12
  = render 'backend/shareds/search_form_landing_press'
  = form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do
    .widget
      = render partial: 'backend/shareds/prepare_table', locals: {table_name: 'LandingPresses', button_name: 'LandingPresses', add_method: true}
      .widget-content
        .table-responsive
          table class="table table-striped table-bordered table-hover"
            thead
              tr
                th width="1%" 
                  | #
                th banner
                th Kode
                th Judul
                th Kategori
                th Brand
                th Status 
                th Tanggal
                th action
              tbody
                - if @collection.blank?
                  tr
                    td colspan="23" 
                      = render "shareds/empty_blank"
                - else
                  - @collection.each do |resource|
                    tr
                      td 
                        = check_box_tag "ids[]", resource.id
                      td
                        = image_tag resource.banner.url(:thumb)
                      td.uppercase
                        = resource.code
                      td
                        = resource.title1
                      td
                        = resource.category
                      td
                        = resource.brand
                      td
                        = resource.status?
                      td
                        = get_datetime(resource.created_at)
                      td
                        = render partial: 'backend/shareds/prepare_action',
                          locals: { resource: resource, confirmation: "Are you sure delete this #{resource.id}", no_show: false }
                        
        .widget-foot
          .pull-right
            = paginate @collection, remote: true if @collection.present?
          .clearfix