$old-blue : #252830;
$blue-hover : #00c0ff;
$blue-dropship : #2fc0ff;
$grey : #6b7169;
$red : #c35a5a;

/*font-family: 'Lobster Two', cursive;
font-family: 'Prompt', sans-serif;*/

body{
  background: #f5f5f5;
}
/*========================*/
/*========Articles========*/
/*========================*/
.articles{
  background: #fafafa;
  &:hover{
    a{
      text-decoration: none;
    }
  }
  .title{
    font-weight: 600;
    font-size: 24px;
  }
  .desc{
    font-size: 15px;
    margin-bottom: 20px;
    color: #252830;
    letter-spacing: 2px;
  }
  .box{
    width: 100%;
    margin-bottom: 20px;
    &:hover{
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.05);
      p{
        color: #199eae;
      }
      .img-auto{
        transform: scale(1.2);
        -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
      }
    }
    .box-img{
      width: 100%;
      height: 150px;
      overflow: hidden;
      position: relative;
      .overplay{
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        /*background: rgba(37, 40, 48, 0.25098039215686274);*/
        i{
          position: absolute;
          color: white;
          text-align: center;
          left: 0px;
          right: 0px;
          margin: auto;
          top: 0px;
          font-size: 50px;
          transform: translate(0%, 40%);
          height: 100%;
        }
      }
    }
    .box-desc{
      padding: 10px;
      height: 130px;
      width: 100%;
      background: white;
      position: relative;
      .views{
        color: grey;
        font-weight: 200;
        font-size: 10px;
        position: absolute;
        bottom: 15px;
        right: 15px;
      }
    }
    .dot{
      width: 3px;
      height: 3px;
      background: #d8d8d8;
      border-radius: 50%;
      display: inline-block;
      margin: 0px 8px;
      vertical-align: middle;
    }
    .date{
      color: grey;
      font-weight: 200;
      letter-spacing: 1.4px;
      font-size: 10px;
      text-transform: uppercase;
    }
    .category{
      color: #199eae;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 10px;
      letter-spacing: 1.4px;
    }
    p{
      margin-top: 5px;
      font-size: 15px;
      color: #3e3e3e;
    }
  }
  .pagination{
    float: left;
    width: 100%;
    a{
      background: #49c6f1;
      color: white;
      padding: 10px 80px;
      border-radius: 20px;
      font-size: 13px;
      font-weight: 500;
      letter-spacing: 1px;
      margin: auto;
      display: table;
    }
  }
}
.blog-show {
  width: 100%;
  display: table;
  margin-bottom: 100px;
  h1 {
    font-size: 26px;
    margin-top: 0px;
    letter-spacing: 0.4px;
    margin-bottom: 5px;
  }
  p {
    font-size: 16px;
    line-height: 1.4em;
    letter-spacing: 0.4px;
    text-align: justify;
  }
  .img-blog-show, iframe {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .content-show{
    a{
      color: #199eae;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 12px;
      background: transparent;
      padding: 2px 8px;
      border-radius: 50px;
      letter-spacing: 1px;
      transition: all 0.5s ease-in-out;
    }
  }
  .similar-blog {
    margin-bottom: 30px;
    &:hover{
      .title-similar{
        color: #199eae;
      }
      img{
        transform: scale(1.2);
      }
    }
    .title-similar {
      font-size: 14px;
      font-weight: 500;
      margin-top: 0px;
      color: #404040;
      margin-top: 10px;
      line-height: 1.4em;
      transition: all 0.5s ease-in-out;
      margin-bottom: 0px;
      font-weight: 600;
    }
    .img-blog-similar {
      width: 100%;
      position: relative;
      overflow: hidden;
      transition: all 0.5s ease-in-out;
      img {
        transition: all 0.5s ease-in-out;
        width: 100%;
      }
    }
    .date {
      font-size: 11px;
    }
    .category {
      color: #199eae;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 11px;
      background: transparent;
      padding: 2px 8px;
      border-radius: 50px;
      letter-spacing: 1px;
      transition: all 0.5s ease-in-out;
      &:hover {
        background: #199eae;
        color: white;
        transition: all 0.5s ease-in-out;
      }
    }
    .dot {
      width: 3px;
      height: 3px;
      background: #d8d8d8;
      border-radius: 50%;
      display: inline-block;
      margin: 0px 5px 0px 15px;
      vertical-align: middle;
    }
  }
  a:hover {
    text-decoration: none;
  }
  .date {
    color: grey;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 12px;
    text-transform: uppercase;
  }
  ul {
    margin-bottom: 15px;
    li {
      margin-bottom: 5px;
      font-size: 16px;
    }
  }
  .blog-right {
    ul {
      padding-left: 0px;
      li {
        margin-bottom: 10px;
        list-style: none;
        a {
          color: #199eae;
          font-weight: 500;
          text-transform: capitalize;
          font-size: 14px;
          letter-spacing: 0.4px;
        }
      }
    }
    h3 {
      font-size: 20px;
      font-weight: 600;
      margin-top: 10px;
    }
  }
  .num-right {
    float: right;
  }
  .category {
    color: #199eae;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
  }
  .dot {
    width: 3px;
    height: 3px;
    background: #d8d8d8;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 8px;
    vertical-align: middle;
  }
}
/**/
.wd85{
  width: 85%;
}
.img-auto{
  top: -9999px;
  right: -9999px;
  left: -9999px;
  bottom: -9999px;
  margin: auto;
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 1;
  transition: all 0.25s linear;
}
.section-alert{
  position: fixed;
  z-index: 5;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 0;
  width: 90%;
  margin: auto;
  top: 10vh;
  max-width: 800px;
}
.btn-dropship {
  color: #fff;
  background-color: $blue-dropship;
  border-color: #2fc0ff;
  border-radius: 50px;
  font-size: 14px;
  padding: 10px 20px;
  &:hover {
    color: #fff;
    opacity: 0.9;
  }
}
.btn-orange {
  color: #fff;
  background-color: #d1592b;
  border-color: #d1592b;
  border-radius: 50px;
  font-size: 14px;
  padding: 10px 20px;
  &:hover {
    color: #fff;
    opacity: 0.9;
  }
}

.btn-default{
  color: #262626;
  background-color: #fff;
  border-color: #ccc;
  border-radius: 50px;
  font-size: 14px;
  padding: 10px 20px;
  &:hover {
    color: #262626;
    opacity: 0.9;
  }
}

.text-dropship {
  color: $blue-dropship;
  letter-spacing: 0.5px;
}
section{
  padding-top: 50px;
  padding-bottom: 50px;
  float: left;
  width: 100%;
  position: relative;
}

.red-cs{
  color: red;
}

.big-font{
  font-size: 50px;
}

.b-font{
  color: #262626;
}

.col-custom{
  padding-right: 0;
  padding-left: 0;
}
.mg-top{
  margin-top: 100px;
}
.police {
  width: 100%;
  float: left;
  p, li {
    line-height: 1.6em;
  }
  p {
    text-align: justify;
  }
  h3 {
    margin-top: 30px;
    font-weight: 600;
    font-size: 18px;
  }
  ol
  li {
    font-weight: 500;
    ul {
      li {
        font-weight: 400;
      }
    }
  }
  .police-content {
    background-color: white;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.aboutus {
  width: 100%;
  float: left;
  background-color: white;
  .descript-about{
    background-image: asset-url('official/challenge.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    padding:0px;
    position: relative;
    display: table;
    &:after {
      // background: #252830bf;
      content: '';
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: .8;
    }
    .descript-text {
      background-image: asset-url('official/bg-blue.jpg');
      background-size: 50%;
      padding: 100px;
      transition: all 1s ease-in-out;
      position: relative;
      z-index: 2;
    }
    h2 {
      font-family: 'Maven Pro', sans-serif!important;
      font-size: 30px;
      font-weight: 900;
      color: white;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    p {
      color: white;
    }
    .content-desc {
      margin-bottom:20px;
      margin-top: 30px;
      overflow-x: hidden;
      .icon-desc {
        float: left;
        width: 14%;
        i {
          color: #2fc0ff;
          font-size: 30px;
        }
        img {
          width: 100%;
          margin-top: 12px;
        }
      }
      .txt-desc{
        float: left;
        width: 80%;
        padding: 0px 15px;
        margin: 0px;
        color: #d1d1d1;
        font-size: 12px;
        b {
          text-transform: uppercase;
          font-size: 14px;
          color: white;
        }
      }
    }
  }
  p, li {
    line-height: 1.6em;
  }
  p {
    text-align: justify;
  }
  .visi-misi {
    background: #f8f6f9;
    padding: 4px 10px;
    border-left: solid #0e5bad;
  }
  h3 {
    margin-top: 0px;
    font-weight: 600;
    font-size: 25px;
  }
  ol
  li {
    font-weight: 500;
    ul {
      li {
        font-weight: 400;
      }
    }
  }
  .content {
    margin-top: 100px;
    margin-bottom: 70px;
    float: left;
  }
  .privacy {
    position: relative;
    width: 100%;
    margin-top: 50px;
    float: left;
    .privacy-content {
      background-image: asset-url('official/register-overlay.jpg');
      background-size: cover;
      padding:110px 50px;
      background-attachment: fixed;
      &:after {
        background: #252830bf;
        content: '';
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: .8;
        padding: 70px 20px;
      }
      h3 {
        margin-bottom: 15px;
      }
      h3, p {
        z-index: 2;
        color: white;
        position: relative;
        text-align: center;
      }
      p {
        color: #eee;
      }
      a {
        display: table;
        margin: auto;
        z-index: 2;
        position: relative;
      }
    }
  }
}

.top-navbar{
  background: none;
  position: fixed;
  z-index: 3;
  width: 100%;
  margin-bottom: 0;
  padding: 10px 0;
  border: none;
  transition: all 0.5s ease-in-out;
  border-radius: 0;
  &.activated{
    background: #252830;
    transition: all 0.5s ease-in-out;
  }
  .navbar-brand{
    padding: 0;
    margin-left: 0;
  }
  ul.navbar-nav{
    margin: 0;
    padding: 0;
    position: relative;
    li.menu{
      display: inline-block;
      padding: 0;
      position: relative;
      a{
        font-size: 13px;
        display: block;
        position: relative;
        color: white;
        letter-spacing: 0.5px;
        text-decoration: none;  
      }
      a:hover{
        color: $blue-hover ;
        transition: all 0.5s ease-in-out;
      }
      .btn-signup{
        background: #00c0ff;
        padding: 10px 14px;
        border-radius: 50px;
        position: relative;
        top: 4px;
        transition: all 0.5s ease-in-out;
      }
      .btn-signup:hover{
        background: #027aa4;
        color: white;
      }
    }
  }
  .navbar-nav>.active>a,
  .navbar-nav>.active>a:focus, 
  .navbar-nav>.active>a:hover{
    color: #00c0ff!important;
    background: none;
    transition: all 0.5s ease-in-out;
  }
  .img-logo{
    position: relative;
    float: left;
    height: 35px;
    margin-right: 20px;
    margin-top: 7px;
  }
  .icon-bar{
    display: none;
  }
}

.navbar-right{
  .img-profile{
    width: 40px;
    height: 40px;
    border-radius: 30px;
    margin-right: 10px;
    position: relative;
  }
  .menu.dropdown{
    &.open{
      &:before{
        position: absolute;
        display: block;
        border-style: solid;
        content: '';
        border-width: 11px;
        border-color: transparent transparent white;
        bottom: 0;
        margin-left: 40%;
      }
    }
  }
  ul.dropdown-menu{
    border-radius: 3px;
    border: none;
    li{
      a{
        padding: 10px 15px;
        color: #484848!important;
      }
    }
  }
  li{
    a{
      padding: 10px 5px;
    }
  }
  li.not-login{
    a{
      padding: 15px 5px;
      color: white;
      &:hover{
        color: $blue-hover ;
        transition: all 0.5s ease-in-out;
      }
    }
  }
}

slider{
  float: left;
  width: 100%;
  position: relative;
  height: 100vh;
  &:after {
    background: #252831;
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .6;
  }
  .img-slider{
    float: left;
    width: 100%;
  }
  .txt-slider{
    float: inherit;
    width: 100%;
    position: absolute;
    text-align: left;
    top: 35%;
    z-index: 2;
    .txt-sl1{
      font-size: 23px;
      color: white;
    }
    .txt-sl2{
      h2 {
        margin-top: 0px;
        font-size: 60px;
        font-family: 'Maven Pro', sans-serif;
        color: white;
        font-weight: 900;
      }
      p {
        font-size: 16px;
        color: white;
      }
    }
  }
  .scroll-arrow {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;
    margin: auto;
    -webkit-animation: ScrollDown 1.5s infinite;
    -moz-animation: ScrollDown 1.5s infinite;
    -o-animation: ScrollDown 1.5s infinite;
    animation: ScrollDown 1.5s infinite;
  }
}

.advert{
  h4 {
    font-size: 30px;
    font-family: "Maven Pro", sans-serif !important;
    font-weight: 900;
    position: relative;
    margin-bottom: 40px;
    text-align:center;
    &:after {
      content: '';
      width: 141px;
      background-image: asset-url('official/tb.png');
      position: absolute;
      height: 2px;
      top: 53px;
      left: 0px;
      right:0px;
      margin:auto;
    }
  }
  .box-advert{
    margin: 0px;
    .product-example{
      margin: 0px;
      position: relative;
      display: inherit;
      .overplay-advert{
        position: absolute;
        width: 100%;
        opacity: 0;
        top: 0px;
        height: 100%;
        background: rgba(0, 0, 0, 0.64);
        padding-bottom: 40px;
        padding-top: 40px;
        -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        .btn-play{
          position: absolute;
          color: white;
          text-align: center;
          left: 0px;
          right: 0px;
          margin: auto;
          top: 0px;
          font-size: 50px;
          transform: translate(0%, 45%);
          height: 100%;
        }
      }
      .img-advert{
        width: 100%;
        height: auto;
      }
    }
    &:hover{
      .overplay-advert{
        opacity: 1;
        padding-bottom: 90px;
        -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        position: absolute;
        z-index: 1;
      }
      .img-advert{
        width: 100%;
        height: auto;
      }
    }
    .img-advert {
      width:100%!important;
    }
  }
  .desc-advert{
    text-align: center;
    width: 100%;
  }
}
.short-info {
  background-color: white;
  padding: 60px 0;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.06);
  background-size: contain;
  z-index: 1;
  position: relative;
  h3 {
    font-weight:600;
    margin-top: 0px;
  }
  .btn-dropship {
    color: #fff;
    background-color: $blue-dropship;
    border-color: $blue-dropship;
    border-radius: 50px;
    font-size: 14px;
    padding: 10px 20px;
    margin-top:20px;
    float:right
  }
}

.descript{
  background-image: asset-url('official/description.jpg');
  background-size: cover;
  padding:0px;
  background-attachment: fixed;
  &:after {
    // background: #252830bf;
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .8;
  }
  .descript-text {
    background-image: asset-url('official/bg-blue.jpg');
    background-size: 50%;
    padding: 100px;
    transition: all 1s ease-in-out;
    position: relative;
    z-index: 2;
  }
  h2 {
    font-family: 'Maven Pro', sans-serif!important;
    font-size: 30px;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  p {
    color: white;
  }
  .content-desc {
    margin-bottom:20px;
    margin-top: 30px;
    overflow-x: hidden;
    .icon-desc {
      float: left;
      width: 14%;
      i {
        color: #2fc0ff;
        font-size: 30px;
      }
      img {
        width: 100%;
        margin-top: 12px;
      }
    }
    .txt-desc{
      float: left;
      width: 80%;
      padding: 0px 15px;
      margin: 0px;
      color: #d1d1d1;
      font-size: 12px;
      b {
        text-transform: uppercase;
        font-size: 14px;
        color: white;
      }
    }
  }
}



.challenge{
  background-image: asset-url('official/bg-gray.jpg');
  padding-top: 150px;
  padding-bottom: 90px;
  background-size: 60%;
  background-position: bottom;
  .challenge-content {
    padding: 30px 20px 30px 20px;
    background: white;
    overflow:hidden;
    .img-diagram{
      width: 171px;
      margin: auto;
      background: white;
      border-radius: 50%;
      padding: 20px;
      float: right;
      margin-top: -86px;
      z-index: 1;
      position: relative;
      margin-right: -100px;
    }
    .online-img {
      width: 100%;
    }
    .title-ch1{
      font-size: 30px;
      color: white;
      line-height: 16px;
      background: #252830;
      display: table;
      padding: 10px 10px;
    }
    .title-ch2{
      font-family: 'Maven Pro', sans-serif!important;
      font-size: 30px;
      color: #252830;
      margin-bottom: 40px;
      margin-top: 0px;
      font-weight: 900;
      position: relative;
      &:after {
        content: '';
        width: 141px;
        background-image: asset-url('official/tb.png');
        position: absolute;
        height: 2px;
        top: 100px;
        left: 0px;
      }
    }
    .title-ch22{
      font-family: 'Maven Pro', sans-serif!important;
      font-size: 30px;
      color: #252830;
      margin-bottom: 30px;
      margin-top: 0px;
      font-weight: 900;
      position: relative;
      &:after {
        content: '';
        width: 141px;
        background-image: asset-url('official/tb.png');
        position: absolute;
        height: 2px;
        top: 53px;
        left: 0px;
      }
    }
    .desc-ch{
      font-size: 16px;
      color: #252830;
      line-height: 20px;
    }
    .desc-ch2{
      font-size: 16px;
      color: #252830;
      line-height: 20px;
    }
    ul{
      margin-top: 15px;
      padding-left: 35px;
      margin-bottom: 15px;
      li{
        font-size: 16px;
        color: #252830;
        padding-left: 0;
      }
    }
  }
}

.quantity{
  background-image: asset-url('official/bg-white.jpg');
  background-size: 50%;
  padding: 100px 0;
  .desc-qw{
    font-size: 14px;
    padding: 3px;
    margin-bottom: 30px;
    color: #323232;
    padding-top: 50px;
    text-align: center;
    h2 {
      font-size: 30px;
      font-family: "Maven Pro", sans-serif !important;
      font-weight: 900;
      position: relative;
      margin-bottom: 40px;
      &:after {
        content: '';
        width: 141px;
        background-image: asset-url('official/tb.png');
        position: absolute;
        height: 2px;
        top: 53px;
        left: 0px;
        right: 0px;
        margin: auto;
      }
    }
  }
  .box-product{
    position: relative;
    overflow: hidden;
    border: solid white;
    .product-example{
      display: table;
      .overplay-prod{
        position: absolute;
        width: 100%;
        opacity: 0;
        top: 0px;
        height: 100%;
        background: rgba(0, 0, 0, 0.64);
        padding-bottom: 40px;
        padding-top: 40px;
        padding: 20px;
        -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        .title-prod{
          font-family: 'Lobster Two', cursive;
          color: white;
          text-align: center;
          font-size: 20px;
          transform: translate(0%, 60%);
          height: 100%;
        }
      }
      .img-product{
        width: 100%;
        height: auto;
      }
    }
    &:hover{
      .overplay-prod{
        opacity: 1;
        padding-bottom: 90px;
        -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        position: absolute;
        z-index: 1;
      }
      .img-product{
        width: 100%;
        height: auto;
      }
    }
  }
}

.add-text{
  padding: 100px 0;
  background-image: asset-url('official/text-overlay.jpg');
  background-attachment: fixed;
  background-size: cover;
  padding: 150px 0px;
  &:after {
    background: #252830;
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .8;
  }
  h3 {
    color: white;
    position: relative;
    z-index: 2;
    line-height: 1.5em;
  }

}
.get-registration {
  width: 100%;
  float: left;
  text-align: center;
  background: #252830;
  color: #dbdbdb;
  font-size: 14px;
  display: table;
  padding: 50px 0px 150px 0px;
  overflow: hidden;
  text-align: left;
  border-top: solid 1px #1f2025;
  h3 {
    text-align: left;
    line-height: 1.5em;
    font-size: 30px;
    margin-bottom: 80px;
    b {
      color: #2fc0ff;
      font-size: 35px;
    }
  }
  .list-get {
    width: 100%;
    display: table;
    position: relative;
    margin-bottom: 30px;
    .img-get {
      position: relative;
      .nomber {
        position: absolute;
        left: -45px;
        font-weight: 600;
        font-size: 20px;
        top: 0px;
        text-align: center;
        background: white;
        color: #252830;
        padding: 18px;
        width: 60px;
        height: 60px;
      }
      .number-1 {
        width: auto;
        background-color: #49c6f1;
      }
      .img-contact {
        width: 100%;
      }
    }
    h4{
      font-size: 30px;
      font-weight: 600;
      color: #2fc0ff;
    }
    .paket5in1 {
      margin-top: 40px;
    }
    .price {
      font-size: 20px;
      font-weight: 600;
      color: #d0d000;
    }
  }
}
.add-text-bottom{
  padding: 100px 0;
  background-image: asset-url('official/register-overlay.jpg');
  background-attachment: fixed;
  background-size: cover;
  padding: 50px 0px;
  &:after {
    background: #252830;
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .8;
  }
  .join-home {
    position: relative;
    z-index: 2;
  }
  h3 {
    color: white;
    position: relative;
    z-index: 2;
    line-height: 1.5em;
    font-size: 27px;
    .text-line {
      color: red;
      font-weight: 600;
      text-decoration: line-through;
    }
  }
  .text-promo {
    font-size: 35px;
  }
  .title-testimonials1{
    color: white;
    background: #00c0ff;
    display: table;
    padding: 5px 10px;
    font-size: 40px;
    opacity: 0.8;
  }
  .text-dropship {
    b {
      font-size: 35px;
    }
  }
  .content-text {
    font-size: 27px;
    small {
      color: #eee;
    }
  }

  .text-footer {
    font-size: 14px;
    margin-top: -10px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    color: #ccc;
    z-index: 2;
    position: relative;
  }
  .text-free {
    font-size: 18px;
    color: white;
  }
  .btn-signup-home {
    position: relative;
    z-index: 2;
    margin-top: 10px;
    padding: 15px 50px;
    font-size: 20px;
  }
}

.feature{
  background-image: asset-url('official/bg-gray.jpg');
  background-size: 60%;
  padding: 100px 0px 100px 0px;
  #testimonial {
    width: 100%;
    height: 130px;
  }
  .img-feature {
    width: 100%;
  }
  h2 {
    text-align: center;
    font-size: 30px;
    font-family: "Maven Pro", sans-serif !important;
    font-weight: 900;
    position: relative;
    margin-bottom: 100px;
    &:after {
      content: '';
      width: 141px;
      background-image: asset-url('official/tb.png');
      position: absolute;
      height: 2px;
      top: 53px;
      left: 0px;
      right: 0px;
      margin: auto;
    }
  }
  .list-feature {
    position: relative;
    z-index: 2;
    .box-feature {
      padding: 30px 15px 20px 15px;
      border-radius: 10px;
      border: 1px solid rgba(0, 0, 0, 0.05);
      transition: 0.1s linear;
      background-color: #fff;
      margin-bottom: 30px;
      text-align: center;
      transition: all 0.3s ease-in-out;
      i {
        font-size: 60px;
        transition: all 0.3s ease-in-out;
      }
      strong {
        line-height: 1.1em;
        text-transform: uppercase;

      }
      p {
        color: #676767;
      }
      &:hover{
        box-shadow: 0 0 50px rgba(17, 20, 39, 0.23);
        transition: all 0.3s ease-in-out;
        i {
          color: $blue-dropship;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}

.advert{
  background-image: asset-url('official/bg-gray.jpg');
  background-size: 60%;
  padding: 100px 0px 0px 0px;
  h4 {
    font-size: 30px;
    font-family: "Maven Pro", sans-serif !important;
    font-weight: 900;
    position: relative;
    margin-bottom: 60px;
    text-align:center;
    &:after {
      content: '';
      width: 141px;
      background-image: asset-url('official/tb.png');
      position: absolute;
      height: 2px;
      top: 53px;
      left: 0px;
      right:0px;
      margin:auto;
    }
  }
  .box-advert{
    margin: 0px;
    .product-example{
      margin: 0px;
      position: relative;
      display: inherit;
      .overplay-advert{
        position: absolute;
        width: 100%;
        opacity: 0;
        top: 0px;
        height: 100%;
        background: rgba(0, 0, 0, 0.64);
        padding-bottom: 40px;
        padding-top: 40px;
        -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        .btn-play{
          position: absolute;
          color: white;
          text-align: center;
          left: 0px;
          right: 0px;
          margin: auto;
          top: 0px;
          font-size: 50px;
          transform: translate(0%, 45%);
          height: 100%;
        }
      }
      .img-advert{
        width: 100%;
        height: auto;
      }
    }
    &:hover{
      .overplay-advert{
        opacity: 1;
        padding-bottom: 90px;
        -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        position: absolute;
        z-index: 1;
      }
      .img-advert{
        width: 100%;
        height: auto;
      }
    }
    .img-advert {
      width:100%!important;
    }
  }
  .desc-advert{
    text-align: center;
    width: 100%;
    font-size: 18px;
    margin-bottom: 60px;
  }
}

.blogs{
  .vmore{
    text-align: center;
    margin-top: 25px;
    a{
      color: #ffffff;
      background: #38c3f9;
      padding: 15px 55px;
      border-radius: 30px;
      letter-spacing: 0.4px;
      font-weight: 600;
      &:hover{
        opacity: 0.8;
        -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
      }
    }
  }
  h2 {
    font-size: 30px;
    font-family: "Maven Pro", sans-serif !important;
    font-weight: 900;
    position: relative;
    margin-bottom: 80px;
    text-align:center;
    &:after {
      content: '';
      width: 141px;
      background-image: asset-url('official/tb.png');
      position: absolute;
      height: 2px;
      top: 53px;
      left: 0px;
      right:0px;
      margin:auto;
    }
  }
  a{
    &:hover{
      text-decoration: none;
    }
  }
  .box{
    width: 100%;
    margin-bottom: 20px;
    &:hover{
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.05);
      p{
        color: #199eae;
      }
      .img-auto{
        transform: scale(1.2);
        -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
      }
    }
    .box-img{
      width: 100%;
      height: 150px;
      overflow: hidden;
      position: relative;
      .overplay{
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        /*background: rgba(37, 40, 48, 0.25098039215686274);*/
        i{
          position: absolute;
          color: white;
          text-align: center;
          left: 0px;
          right: 0px;
          margin: auto;
          top: 0px;
          font-size: 50px;
          transform: translate(0%, 40%);
          height: 100%;
        }
      }
    }
    .box-desc{
      padding: 10px;
      height: 118px;
      width: 100%;
      background: white;
      h2 {
        margin-top: 5px;
        font-size: 13px;
        color: #484848;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
        text-align: left;
        line-height: 1.4em;
        font-weight: 500;
        margin-bottom: 0px;
        letter-spacing: 0.4px;
        &:after {
          content: none;
        }
      }
    }
    .dot{
      width: 3px;
      height: 3px;
      background: #d8d8d8;
      border-radius: 50%;
      display: inline-block;
      margin: 0px 8px;
      vertical-align: middle;
    }
    .date{
      color: grey;
      font-weight: 200;
      letter-spacing: 1.4px;
      font-size: 10px;
      text-transform: uppercase;
    }
    .category{
      color: #199eae;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 10px;
      letter-spacing: 1.4px;
    }
    p{
      margin-top: 5px;
      font-size: 15px;
      color: #3e3e3e;
    }
  }
}

.testimonials{
  background-color: white;
  background-size: 70%;
  padding: 100px 0 100px 0px;
  h2 {
    font-size: 30px;
    font-family: "Maven Pro", sans-serif !important;
    font-weight: 900;
    position: relative;
    margin-bottom: 80px;
    text-align:center;
    &:after {
      content: '';
      width: 141px;
      background-image: asset-url('official/tb.png');
      position: absolute;
      height: 2px;
      top: 53px;
      left: 0px;
      right:0px;
      margin:auto;
    }
  }
  .device-testimonial {
    width: 100%;
    position: relative;
    margin-left: -30px;
    .ss-testimonial {
      position: absolute;
      height: 68.9%;
      left: 54.4px;
      top: 69px;
      width: 68.5%;
      img {
        width: 100%;
        height: 100%;
        display: none;
      }
      .active {
        display: block!important;
      }
    }
  }
  ul {
    padding-left: 0px;
    border-bottom: 0px;
  }
  .nav-tabs>li {
    float: left;
    margin-bottom: 0px;
    list-style: none;
  }
  .nav-tabs>li.active>a:focus,
  .nav-tabs>li.active>a:hover {
    text-decoration: none;
    cursor: default;
    border-bottom-color: 0px;
    background: #252830;
    p {
      color: #eee;
      text-decoration: none;
    }
    .link-testimonial {
      border-bottom: dotted 1px;
      float: left;
      color: $blue-dropship;
    }
  }
  .nav-tabs>li>a:hover {
    border-color: transparent;
  }
  .title-testimonials1 {
    color: white;
    background: #00c0ff;
    display: table;
    padding: 5px 10px;
    font-size: 40px;
    opacity: 0.8;
  }
  .title-testimonials2{
    font-size: 50px;
    color: #f2eaea;
    margin-bottom: 50px;
  }
  .desc-testimonials{
    font-size: 20px;
    color: #f2eaea;
    width: 51%
  }
  .active {
    .box-testimonials {
      background: #252830;
      b {
        color: #eee;
      }
      p {
        color: #eee;
        text-decoration: none;
      }
      .link-testimonial {
        border-bottom: dotted 1px;
        float: left;
        color: $blue-dropship;
      }
    }
  }
  .box-testimonials{
    overflow: hidden;
    position: relative;
    display: table;
    width: 100%;
    border-color: transparent!important;
    margin-bottom: 20px;
    border-radius: 10px;
    background: whitesmoke;
    padding: 20px;
    b {
      color: #555;
    }
    p {
      color: #555;
      margin-top: 10px;
      text-decoration: none;
    }
    .link-testimonial {
      border-bottom: dotted 1px;
      float: left;
    }
    &:hover {
      text-decoration: none;
    }
  }
  .img-testimonials{
    width: 100%;
  }
}


.package-price{
  padding: 0;
  background-image: asset-url('official/challenge.jpg');
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  &:after {
    background: #252830;
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .8;
  }
  .text-price {
    background: #252830;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    flex: 1;
    text-align: center;
    padding:100px 40px;
    z-index: 2;
    .text-price-content {
      transform: translateY(20%);
      h5 {
        color: white;
        font-size: 14px;
        font-weight: inherit;
        line-height: 1.5em;
      }
      p {
        color: #bfbfbf;
        font-size: 12px;
      }
      h4 {
        text-align: center;
        font-size: 30px;
        font-family: "Maven Pro", sans-serif !important;
        font-weight: 900;
        color: white;
        position: relative;
        margin-bottom: 45px;
        &:after {
          content: '';
          width: 141px;
          background-image: asset-url('official/tb.png');
          position: absolute;
          height: 2px;
          top: 53px;
          left: 0px;
          right: 0px;
          margin: auto;
        }
      }
    }
  }
  .price-package-content {
    position: relative;
    z-index: 2;
    padding: 0px 25px;
    padding-bottom: 100px;
    .button-register {
      padding: 20px 20px;
      width: 90%;
      margin-top: -82px;
      position: absolute;
      .btn-orange {

      }
    }
    .desc-package-price{
      float: right;
      width: 75%;
      color: #2d2c2c;
      font-size: 20px;
      text-align: right;
      line-height: 50px;
    }
    .desc-package-price2{
      float: right;
      font-size: 12px;
    }
    .box-package-price{
      position: relative;
      transition: all 0.3s ease-in-out;
      &:hover {
        box-shadow: 0 0 75px rgb(18, 21, 41);
        transition: all 0.3s ease-in-out;
      }
      .starter {
        background-color: #eea82d;
      }
      .basic {
        background-color: #e98e2d;
      }
      .advance {
        background-color: #dc6e2b;
      }
      .premium {
        background-color: #d1592b;
      }
      .title-box-package{
        color: white;
        text-align: center;
        padding: 15px 0;
        font-size: 16px;
        font-weight: 500;
      }
      .box-img-price{
        background-image: asset-url('official/bg-blue.jpg');
        background-size: contain;
        color: white;
        text-align: center;
        font-size: 14px;
        padding: 35px 0;
        .big-font {
          font-size: 20px;
        }
      }
      .textsmall {
        width: 100%;
        font-size: 12px;
        margin-top: -5px;
        color: #e8e8e8;
      }
      .box-desc-package{
        background: white;
        padding: 20px;
        .desc-package{
          font-size: 12px;
          color: #6b6b6b;
          margin-bottom: 5px;
          b{
            font-size: 12px;
          }
        }
        .desc-package2{
          font-size: 12px;
          color: #25283080;
          margin-bottom: 5px;
          text-decoration: line-through;
          b{
            font-size: 12px;
            color: #25283080;
          }
        }
        .desc-package1{
          font-size: 12px;
          color: #6b6b6b;
          margin-bottom: 5px;
        }
      }
    }
  }
}

.profit{
  padding: 100px 0;
  h4 {
    text-align: center;
    font-size: 30px;
    font-family: "Maven Pro", sans-serif !important;
    font-weight: 900;
    color: #252830;
    position: relative;
    margin-bottom: 100px;
    text-transform: uppercase;
    &:after {
      content: '';
      width: 141px;
      background-image: asset-url('official/tb.png');
      position: absolute;
      height: 2px;
      top: 53px;
      left: 0px;
      right: 0px;
      margin: auto;
    }
  }
  .box-profit{
    float: left;
    margin-bottom: 30px;
    background: white;
    position: relative;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    &:hover{
      box-shadow: 0 0 50px rgba(17, 20, 39, 0.23);
      transition: all 0.3s ease-in-out;
    }
    .box-right{
      float: left;
      width: 75%;
      .title-box-profit{
        font-size: 20px;
        margin-bottom: 10px;
        font-weight: bold;
      }
      .desc-box-profit{
        font-size: 14px;
        line-height: 1.5em;
        color: #333;
      }
    }
    .box-left{
      width: 25%;
      float: left;
      .img-profit{
        float: left;
        width: 90px;
      }
    }
  }
}

.earnings{
  background-image: asset-url('official/packing.jpg');
  background-size: contain;
  padding:0px;
  background-position: left;
  background-attachment: fixed;
  .earnings-text {
    background-image: asset-url('official/bg-blue.jpg');
    background-size: 50%;
    padding: 100px;
    float: right;
    transition: all 1s ease-in-out;
    strong {
      color: white;
      font-weight: 500
    }
  }
  h4 {
    font-size: 30px;
    font-family: "Maven Pro", sans-serif !important;
    font-weight: 900;
    color: white;
    position: relative;
    margin-bottom: 40px;
    line-height: 1.4em;
    text-transform: uppercase;
    &:after {
      content: '';
      width: 141px;
      background-image: asset-url('official/tb.png');
      position: absolute;
      height: 2px;
      top: 100px;
      left: 0px;
    }
  }
  h5 {
    font-size: 20px;
    font-weight: 900;
    color: white;
    text-transform: capitalize;
    margin-bottom: 20px;
  }
  p {
    color: #ccc;
    margin-bottom: 0px;
  }
  h4{
    small {
      color: #ccc;
    }
  }
  .content-earnings {
    margin-bottom:20px;
    margin-top: 30px;
    overflow-x: hidden;
    .icon-desc {
      float: left;
      width: 14%;
      img {
        width: 100%;
        margin-top: 12px;
      }
    }
    .txt-desc{
      float: left;
      width: 80%;
      padding: 0px 15px;
      margin: 0px;
      color: white;
      b {
        text-transform: uppercase;
        line-height: 2.5em;
      }
    }
  }
}

.faq{
  background-image: asset-url('official/bg-white.jpg');
  background-size: 70%;
  padding: 70px 0 100px 0px;
  h2 {
    text-align: center;
    font-size: 30px;
    font-family: "Maven Pro", sans-serif !important;
    font-weight: 900;
    color: #252830;
    position: relative;
    margin-bottom: 100px;
    text-transform: uppercase;
    &:after {
      content: '';
      width: 141px;
      background-image: asset-url('official/tb.png');
      position: absolute;
      height: 2px;
      top: 53px;
      left: 0px;
      right: 0px;
      margin: auto;
    }
  }
  .menu-faq {
    width: 100%;
    height: 400px;
    overflow-y:scroll;
    padding: 0px 30px 0px 15px;
  }
  .menu-faq::-webkit-scrollbar {
    width: .4em; 
  }
  .menu-faq::-webkit-scrollbar,
  .menu-faq::-webkit-scrollbar-thumb {
    overflow:visible;
    border-radius: 4px;
  }
  .menu-faq::-webkit-scrollbar-thumb {
    background: transparent;
    transition: all 0.5s ease-in-out;
  }
  .menu-faq:hover::-webkit-scrollbar-thumb{
    transition: all 0.5s ease-in-out;
    background: rgba(0,0,0,.1);
  }
  .box-faq{
    width: 100%;
    position: relative;
    overflow-y: scroll;
    height: 400px;
    color: #dedede;
    background-color: #252830;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.08);
    .content-faq {
      position: absolute;
      padding: 40px;
      display: none;
      text-align: justify;
      h5 {
        font-size: 18px;
        line-height: 1.5em;
        padding: 0px;
        margin-bottom: 25px;
        color: #2fc0ff;
        padding-left: 15px;
        font-weight: 600;
        border-left: 2px solid #2fc0ff;
      }
    }
    .active {
      display: block!important;
    }
  }
  .box-faq::-webkit-scrollbar {
    width: .4em; 
  }
  .box-faq::-webkit-scrollbar,
  .box-faq::-webkit-scrollbar-thumb {
    overflow:visible;
    border-radius: 4px;
  }
  .box-faq::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.2);
    opacity: 0;
  }
  .box-faq:hover::-webkit-scrollbar-thumb {
    opacity: 1;
  }
  ul {
    padding-left: 0px;
    border-bottom: 0px;
  }
  .nav-tabs>li {
    float: left;
    margin-bottom: 0px;
    list-style: none;
  }
  .nav-tabs>li.active>a,
  .nav-tabs>li.active>a:focus,
  .nav-tabs>li.active>a:hover {
    text-decoration: none;
    cursor: default;
    border-bottom: 0px;
    background: #252830;
    color: #eee;
    p {
      color: #eee;
      text-decoration: none;
    }
  }
  .nav-tabs>li>a:hover {
    border: solid 1px #e8e8e8;
  }
  .active {
    .box-testimonials {
      background: #252830;
      b {
        color: #eee;
      }
      p {
        color: #eee;
        text-decoration: none;
      }
    }
  }
  .box-faq-menu{
    overflow: hidden;
    position: relative;
    display: table;
    width: 100%;
    border: solid 1px #e8e8e8;
    margin-bottom: 7px;
    border-radius: 0px;
    background: #f5f5f5;
    padding: 20px;
    color: rgb(82, 78, 97);
    b {
      color: #555;
    }
    p {
      color: #555;
      margin-top: 10px;
      text-decoration: none;
    }
  }
}
.link-contact {
  background: $blue-dropship;
  padding: 50px 20px;
  h3 {
    font-size: 24px;
    font-weight: 400;
    color: #FFF;
    margin-top: 15px;
    margin-bottom: 0px;
  }
  .btn-contact {
    background: transparent;
    border: solid 2px white;
    color: white;
    font-weight: 600;
    border-radius: 50px;
    padding: 15px 30px;
    &:hover {
      opacity:0.8;
    }
  }
}
.contact-us{
  padding: 100px 0;
  background-color: #252830;
  .box-contact{
    .img-contact{
      height: 60px;
      float: left;
      margin-bottom: 0px;
      margin-right: 12px;
    }
    .title-contact{
      font-size: 18px;
      color: #5b5959;
    }
    .desc-contact{
      font-size: 25px;
      font-weight: bold;
    }
  }
  .about-contact {
    .link-about {
      border-bottom: dotted 1px #2fc0ff;
      &:hover {
        color: #2fc0ff;
        opacity: 0.8;
        text-decoration: none;
      }
    }
    .img-contact {
      height: 50px;
      margin-bottom: 15px;
    }
    p {
      color: darkgrey;
      line-height: 1.5em;
      a {
        opacity: 1;
      }
    }
    .social_link {
      padding-left: 0px;
      margin-top: 30px;
      li {
        float: left;
        list-style: none;
        margin-right: 10px;
        a {
          background: #eee;
          height: 45px;
          width: 45px;
          display: table;
          border-radius: 50%;
          text-align: center;
          transition: all 0.2s ease-in-out;
          &:hover {
            transition: all 0.2s ease-in-out;
            background:$blue-dropship;
            i {
              color: white;
            }
          }
          i {
            text-align: center;
            margin-top: 15px;
            font-size: 16px;
            color: #252830;
          }
        }
      }
    }
  }
  .box{
    border: 1px solid #1f2025;
    width: 15%;
    text-align: center;
    float: left;
    padding: 14px 10px;
    font-size: 20px;
    color: darkgrey;
    border-right: none;
    height: 60px;
    margin-bottom: 20px;
  }
  .address {
    margin-top: -9px;
    font-size: 13px;
  }
  .box2{
    border: 1px solid #1f2025;
    width: 85%;
    float: left;
    padding: 20px 10px;
    color: darkgrey;
    height: 60px;
    margin-bottom: 20px;
  }
  .box3{
    border: 1px solid #1f2025;
    width: 100%;
    float: left;
    padding: 25px;
    color: darkgrey;
  }
}
.js-btn-up{
  display: none;
}
.btn-up{
  position: fixed;
  background: #0cbefa;
  padding: 9px 10px 0px 10px;
  z-index: 9999;
  color: white;
  font-size: 26px;
  border-radius: 34px;
  bottom: 90px;
  right: 25px;
  opacity: 0.9;
  border: 1px solid #31b3df;
  -webkit-box-shadow: 0 4px 5px -1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 4px 5px -1px rgba(0,0,0,0.5);
  box-shadow: 0 4px 5px -1px rgba(0,0,0,0.5);
  transition: all 0.5s ease-in-out;
  &:hover{
    color: white;
    border-color: transparent;
    background: #1e82a7;
    transition: all 0.5s ease-in-out;
  }
}
.des-footer {
  color: darkgrey;
  line-height: 1.5em;
  font-size: 14px;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: table;
  h1 {
    color: darkgrey;
    line-height: 1.5em;
    font-size: 14px!important;
    float: left;
    margin: 0px;
  }
}
footer{
  width: 100%;
  float: left;
  text-align: center;
  background: #252830;
  color: #dbdbdb;
  font-size: 14px;
  padding: 22px 0;
  text-align: left;
  border-top: solid 1px #1f2025;
  .footer-tag {
    float: left;
  }
  
  ul {
    margin-bottom: 0px;
    float: right;
    li {
      float: left;
      list-style: none;
      padding-left: 15px;
      padding-right: 15px;
      &:nth-child(1) {
      }
      &:nth-child(2) {
      }
      a {
        color: #bfbfbf;
        font-size: 14px;
        &:hover, &:after {
          color: #ccc;
          text-decoration: none;
        }
      }
    }
  }
}

/*FAQQQ*/
.header{
  float: left;
  width: 100%;
  padding: 30px 0;
  background: #252830;
  .img-logo-faq{
    height: 50px;
    margin: auto;
    display: table;
  }
  .title-faq{
    text-align: center;
    color: #06b0f0;
    font-size: 25px;
    font-family: 'Lobster Two', cursive;
  }
}
.qna{
  float: left;
  width: 100%;
  padding: 50px 0px;
}

.faq-toggle-title{
  font-size: 17px;
  color: #0cbefa;
  margin-bottom: 0;
  margin-top: 0;
  text-align: left;
  padding: 15px 0px;
  font-weight: bold;
  float: left;
  width: 95%;
}

.toggle-up{
  display: none;
  font-size: 17px;
  color: #0cbefa;
  margin-bottom: 0;
  margin-top: 0;
  text-align: right;
}

.toggle-down{
  font-size: 17px;
  color: #0cbefa;
  margin-bottom: 0;
  margin-top: 0;
  text-align: right;
}

.view.opened .faq-toggle-title,
.view:hover .faq-toggle-title {
  color: #fff;
}

.my-toggle-faq {
  margin-left: -40px;
  margin-bottom: 5px;
}

.my-toggle-faq > li {
  display: block;
  list-style: outside none none;
  margin-bottom: 0;
}

.toggle-wrapper{
  ul{
    li{
      margin-bottom: 10px;
    }
  }
}

red{
  color: red;
  font-weight: bold;
}

/*CATALOG*/
.header-catalog{
  padding: 10px;
  background: #252830;
  border-bottom: 1px solid #f1eded;
  position: relative;
  float: left;
  width: 100%;
  .img-logo-catalog{
    height: 45px;
  }
  .box-search-catalog{
    .select-categori{
      width: 15%;
      float: left;
      cursor: pointer;
      color: white;
      padding-top: 4px;
      .form-select-style{
        background: transparent;
        color: white;
        border: none;
        width: 70%;
        cursor: pointer;
        option{
          color: black;
          background: white;
        }
        &:focus{
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 0px rgba(102,175,233,.6);
        }
      }
    }
    .input-key{
      float: left;
      width: 75%;
      padding-top: 4px;
    }
    .submit-search{
      float: left;
      width: 10%;
      padding-top: 4px;
    }
    .form-custom{
      background: #02afef;
      color: white;
      border: none;
      border-radius: 0px 0px 0px 0px;
    }
    .form-custom2{
      border-radius: 0px 0px 0px 0px;
    }
    .form-custom:hover{
      opacity: 0.8;
      transition: all 0.5s ease-in-out;
    }
  }
}

.section-btn-download{
  padding: 40px 0 0;
  float: left;
  text-align: center;
  width: 100%;
  a{
    background: #99bc20;
    color: white;
    padding: 10px;
    font-size: 12px;
    margin: 0px 1px;
  }
  a:hover{
    text-decoration: none;
    background: #647d0d;
    transition: all 0.5s ease-in-out;
  }
  .desc-download{
    text-align: center;
    margin-top: 17px;
    font-weight: bold;
    font-size: 10px;
  }
}

.section.catalog{
  float: left;
  width: 100%;
  padding: 35px 0;
  .box-catalog-product{
    border: 1px solid;
    border-color: #ececec;
    border-radius: 3px;
    margin-bottom: 15px;
    background: white;
    transition: all 0.3s ease-in-out;
    &:hover{
      box-shadow: 0 0 50px rgba(17, 20, 39, 0.12);
      transition: all 0.3s ease-in-out;
      cursor: pointer;
    }
    .box-img-product{
      width: 100%;
      position: relative;
      overflow: hidden;
      .catogory-catalog{
        bottom: 0px;
        position: absolute;
        background: #e6e6d2;
        color: black;
        padding: 2px 7px;
        font-size: 10px;
        left: 0px;
      }
      .product-id-label{
        position: absolute;
        background: #fbe83d;
        color: black;
        padding: 2px 5px;
        font-size: 10px;
      }
      .img-catalog-product{
        width: 100%;
        transition: all 0.25s ease-in-out;
        &:hover{
          transform: scale(1.2);
          -webkit-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;
        }
      }
    }
    .box-desc-product{
      padding: 15px;
      .title-product-catalog{
        font-size: 11px;
        font-weight: 500;
        letter-spacing: 0.5px;
        height: 55px;
        overflow: hidden;
      }
      .desc-product-catalog{
        font-size: 11px;
      }
      .price-product-catalog{
        color: #ff5722;
        font-weight: bold;
        font-size: 13px;
        margin-top: 2px;
        small{
          font-size: 10px;
          font-weight: normal;
          color: grey;
        }
        &.price-green{
          color: green;
        }
      }
    }
  }
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:active,
.navbar-default .navbar-nav>.open>a:hover{
  color: #33bffa;
  background: none!important;
}


/* ------Contact Us------*/
.contact-header{
  background-image: asset-url('official/register-overlay.jpg');
  background-size: cover;
  color: white;
  padding: 90px 0 0px;
  background-position-y: center!important;
  position: relative;
  .img-logo-faq {
    height: 50px;
    z-index: 3;
    position: relative;
    margin: auto;
    display: table;
  }
  ul {
    margin: auto;
    display: table;
    z-index: 3;
    margin-top: 75px;
    position: relative;
    padding-left: 0px;
    .active {
      border-bottom: solid;
    }
    li {
      float: left;
      list-style: none;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 20px;
      &:nth-child(1) {
      }
      &:nth-child(2) {
      }
      a {
        color: white;
        font-size: 14px;
        &:hover, &:after {
          color: #ccc;
          text-decoration: none;
        }
      }
    }
  }
  .title{
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    position: relative;
  }
  &:before{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(37, 40, 48, 0.7215686274509804);
    position: absolute;
    top: 0;
  }
}

.information-contact{
  padding-top: 90px;
  padding-bottom: 110px;
  background: white;
  h3 {
    font-weight: 600;
    font-weight: 20px;
    text-align: left;
    margin-bottom: 30px;
  }
  .form-control{
    background: #f5f5f5;
    border: none;
    border-radius: 0;
    padding: 25px 20px;
    box-shadow: none;
  }
  .btn-primary{
    background: #2fc0ff;
    border: none;
    border-radius: 0;
    font-size: 16px;
    padding: 10px 25px;
    &:hover{
      opacity: 0.7;
      transition: all 0.5s ease-in-out;
    }
  }
  .box{
    border: 1px solid #efefef;
    width: 13%;
    text-align: center;
    float: left;
    padding: 14px 10px;
    font-size: 20px;
    color: grey;
    border-right: none;
    height: 60px;
    margin-bottom: 15px;
  }
  .box2{
    border: 1px solid #efefef;
    width: 87%;
    float: left;
    padding: 20px 10px;
    color: grey;
    height: 60px;
    margin-bottom: 15px;
  }
  .box3{
    border: 1px solid #efefef;
    width: 100%;
    float: left;
    padding: 25px;
    color: grey;
  }
}

/*===============*/
/*===FLICKITY===*/
/*===============*/
.section-blog-photos{
  background: #f1f1f1;
  .sub-headline{
    font-size: 19px;
    text-align: center;
    padding: 20px 0;
    font-weight: 500;
  }
}
.b-slider{
  &__slides {
    width: 100%;
    overflow: hidden;
  }
  &__slide {
    width: 320px;
    height: 320px;
    overflow: hidden;
    position: relative;
    a {
      display: flex;
      flex-flow: column nowrap;
      color: #000;
      text-decoration: underline;
      img{
        width: auto;
        height: 100%;
        position: absolute;
        margin: auto;
        transition: all 0.25s linear;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    }
    &:hover{
      img{
        opacity: 0.8;
      }
    }
  }
}

/*Share WA*/
.icon-wa{
  width: 19px;
  margin-left: 4px;
}
.share-wa{
  margin-left: -10px;
  text-transform: none!important;
  color: black!important;
  &:hover{
    color: #000;
  }
}



/* 5 Columns */

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-15 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}