$old-blue : #252830;
$blue-hover : #00c0ff;
$grey : #6b7169;


@media screen and (min-width: 1441px){
  .quantity{
    .desc-qw{
      font-size: 18px;
    }
  }

  .earnings {
    .earnings-text {
      h4 {
        &:after {
          top: 65px;
        }
      }
    }
  }
  .package-price{
    .text-price {
      padding:100px 50px;
      .text-price-content {
        transform: translateY(30%);
        h5 {
          font-size: 16px;
        }
        p {
          font-size: 14px;
        }
      }
    }
    .price-package-content {
      padding: 0px 100px 100px;
    }
    .box-package-price{
      .title-box-package{
        font-size: 20px;
      }
      .box-img-price{
        font-size: 20px;
        .big-font {
          font-size: 30px;
        }
      }
      .box-desc-package{
        padding: 20px 20px;
        .desc-package{
          b{
            font-size: 14px;
          }
        }
        .desc-package2{
          font-size: 14px;
        }
        .desc-package1{
          font-size: 14px;
        }
      }
    }
  }
  .descript {
    .content-desc {
      .icon-desc {
        i {
          font-size: 45px!important;
        }
      }
    }
  }
  .contact-header{
    background-position-y: 0;
  }
}

@media screen and (max-width: 750px){
  .mg-bot{
    margin-bottom: 50px;
  }
  .mg-top{
    margin-top: 50px;
  }
  .articles {
    .box {
      .box-img {
        height: 190px;
      }
    }
  }
  .blogs h2{
    font-size: 18px;
    margin-bottom: 35px;
  }
  .blogs h2:after{
    top: 30px;
  }
  .blogs .box .box-desc{
    height: 100px;
  }
  .blogs .box .box-img {
    height: 190px;
  }
  .add-text-bottom .btn-signup-home {
    position: relative;
    z-index: 2;
    margin-top: 10px;
    padding: 12px 35px;
    font-size: 14px;
  }
  .text-promo {
    font-size: 25px;
    line-height: 1.5em;
  }
  .top-navbar{ 
    .navbar-brand{
      margin-left: 20px;   
      margin-top: 0px;
      height: 42px;
    }
    .navbar-toggle {
      padding: 10px;
      margin-bottom: 0px; 
      margin-top: 3px;
      .icon-bar {
        width: 20px;
        height: 2px;
      }
    }
    .navbar-right {
      ul {
        .not-login {
          a {
            padding: 15px 20px;
            color: white;
          }
        }
        .desktop {
          display: none;
        }
      }
    }
    .img-logo {
      margin-top: 3px;
    }
    .icon-bar{
      display: block;
      background: #8e8e8e!important;
    }  
    ul.navbar-nav{
      background-color: $old-blue; 
      li.menu{
        width: 100%;
        a{
          padding: 15px 20px;
        }
        a:hover{
          background: #30333c;
        }
        .btn-signup{
          color: white;
          background: none;
          padding: 15px 20px;
        }
        .btn-signup:hover{
          background: #30333c;
          color: #00c0ff
        }
      }
    }
  }
  .navbar-default {
    .navbar-collapse {
      margin-top: 10px;
    }
  }
  .navbar-right .menu.dropdown.open:before{
    display: none;
  }

  .navbar-toggle{
    padding: 15px 15px;
    border-color: #8e8e8e!important;
    cursor: pointer;
  }
  /*.navbar-toggle:hover,:focus{
    background-color: transparent!important;
  }*/
  .btn-up {
    right: 6%;
    bottom: 14%;
  }
  .navbar-collapse{
    padding-right: 0;
    padding-left: 0;
  }
  .custom-nav{
    border-color: #393e4a!important;
  }
  .blog-show {
    margin-bottom: 30px;
    h1 {
      font-size: 18px;
    }
    iframe {
      height: 200px;
      width: 100%;
      margin-bottom: 15px;
    }
    p {
      font-size: 14px;
    }
    .content-show {
      margin-bottom: 40px;
      width: 100%;
      overflow: hidden;
    }
  }
  slider{ 
    overflow: hidden;
    .img-slider{
      position: absolute;
      left: 0px;
      transform: translateX(-25%);
      height: 100%;
      margin: auto;
      width: auto;
    }
    .txt-slider{
      top: 23%;
      .txt-sl1{
        font-size: 12px;
        color: #d2d2d2;
      }
      .txt-sl2{
        font-size: 35px;
        color: white;
        h2 {
          font-size: 30px;
        }
        p {
          font-size: 12px;
        }
        .btn-dropship {
          margin-top: -70px;
        }
      }
    }
  }

  .descript{
    .txt-desc{
      font-size: 18px;
      b {
        font-size: 20px;
        color: white;
      }
    }
  }

  .challenge { 
    padding-top: 100px;
    padding-bottom: 100px;
    .box-comic{
      height: 257px;
    }
    .img-diagram {
      width: 220px;
      margin: auto;
    }
    .title-ch2 {
      font-size: 40px;
    }
    .title-ch22 {
      font-size: 40px;
    }
    .desc-ch2{
      width: 100%;
    }
    ul{
      li{
        width: 100%;
      }
    }
  }

  .quantity{ 
    .desc-qw{
      width: 100%;
    }
    .box-packing{
      height: 160px;
    }
    .box-product{
      height: 200px;
    }
  }

  .advert{ 
    .box-advert{
      margin: 20px 15px;
    }
    .desc-advert{
      width: 100%;
    }
  }

  .testimonials{ 
    .desc-testimonials{
      width: 100%;
    }
    .box-testi-people{
      padding: 100px 0;
      .message-testimonials{
        width: 100%;
      }
    }
    .sec-training {
      .btn-demo{
        padding: 10px 30px;
        font-size: 35px;
      }
    }
    .sec-chance{ 
      .title-chance2{
        font-size: 35px;
        width: 100%;
      }
      .box-chance1{
        padding: 60px 50px;
        height: auto;
      }
      .box-chance2{
        padding: 60px 50px;
        height: auto;
      }
    }
  }

  .profit{
    padding: 30px 0;
    h4 {
      font-size: 16px;
      margin-bottom: 40px;
      &:after {
        top:30px;
      }
    }
    .box-profit{
      margin-bottom: 10px!important;
      .title-box-profit{
        margin-bottom: 15px;
        font-size: 12px!important;
      }
      .desc-box-profit{
        font-size: 12px!important;
        line-height: 1.4em!important;
      }
    }
  }

  .package-price{
    .title-package-price{
      float: none;
      margin-bottom: 50px;
      font-size: 50px;
    }
    .desc-package-price{
      float: none;
      width: 100%;
      color: #000000;
      font-size: 20px;
      line-height: 45px;
      text-align: left;
    }
    .desc-package-price2{
      float: none;
      font-size: 15px;
      color: black;
      margin-top: 10px;
    }
  }

  .ask{ 
    padding: 50px 0;
    .title-ask {
      font-size: 30px;
    }
  }

  .signup{ 
    .title-signup1{
      font-size: 35px;
    }
    .title-signup2{
      font-size: 50px;
    }
    .desc-signup{
      font-size: 14px;
    }
    .btn-signup-now{
      font-size: 20px;
    }
  }

  .contact-us{
    padding: 50px 0;
    padding-bottom: 20px;
    .box-contact{
      margin-bottom: 40px;
      .img-contact{

      }
      .title-contact{

      }
      .desc-contact{

      }
    }
  }
  /*FAQQQ*/
  .header{
    float: left;
    width: 100%;
    padding: 30px 0;
    background: #252830;
    .img-logo-faq{
      height: 50px;
      margin: auto;
      display: table;
    }
    .title-faq{
      text-align: center;
      color: #06b0f0;
      font-size: 18px;
      font-family: 'Lobster Two', cursive;
    }
  }
  .qna{
    float: left;
    width: 100%;
    padding: 50px 0px;
  }

  .faq-toggle-title{
    font-size: 15px;
    color: #0cbefa;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
    padding: 15px 0px;
    font-weight: bold;
    float: left;
    width: 90%;
  }

  .toggle-up{
    font-size: 15px;
    color: #0cbefa;
    margin-bottom: 0;
    margin-top: 0;
    text-align: right;
    float: right;
  }

  .toggle-down{
    font-size: 15px;
    color: #0cbefa;
    margin-bottom: 0;
    margin-top: 0;
    text-align: right;
    float: right;
  }

  .view.opened .faq-toggle-title,
  .view:hover .faq-toggle-title {
    color: #fff;
  }

  .my-toggle-faq {
    margin-left: 0;
    margin-bottom: 5px;
  }

  .my-toggle-faq > li {
    display: block;
    list-style: outside none none;
    margin-bottom: 0;
  }
  .toggle-wrapper{
    font-size: 13px;
  }
  /*CATALOG*/
  .header-catalog{
    padding: 10px;
    background: #252830;
    border-bottom: 1px solid #f1eded;
    position: relative;
    float: left;
    width: 100%;
    .img-logo-catalog{
      height: 35px;
      margin-top: 3px;
    }
    .box-search-catalog{
      .select-categori{
        width: 10%;
        float: left;
        padding-top: 10px;
        cursor: pointer;
        color: white;
        display: none;
      }
      .input-key{
        float: left;
        width: 65%;
        padding-top: 4px;
      }
      .submit-search{
        float: left;
        width: 22%;
        padding-top: 4px;
      }
      .form-custom{
        background: #02afef;
        color: white;
        border: none;
        border-radius: 0px 0px 0px 0px;
      }
      .form-custom2{
        border-radius: 0px 0px 0px 0px;
      }
      .form-custom:hover{
        opacity: 0.8;
        transition: all 0.5s ease-in-out;
      }
    }
  }

  .section-btn-download{
    padding: 25px 0;
    float: left;
    text-align: center;
    width: 100%;
    a{
      background: #99bc20;
      color: white;
      padding: 10px;
      font-size: 12px;
      margin: 0px 1px;
    }
    a:hover{
      text-decoration: none;
      background: #647d0d;
      transition: all 0.5s ease-in-out;
    }
    .desc-download{
      text-align: center;
      margin-top: 17px;
      font-weight: bold;
      font-size: 10px;
      padding: 0 25px;
    }
  }

  .section.catalog{
    float: left;
    width: 100%;
    padding: 35px 0;
    .box-catalog-product{
      border: 1px solid;
      border-color: #c9c9c9;
      border-radius: 3px;
      margin-bottom: 15px;
      &:hover{
        box-shadow: 0 0 4px 1px rgba(204,204,204,.48);
        cursor: pointer;
      }
      .box-img-product{
        width: 100%;
        height: 160px;
        position: relative;
        border-bottom: 1px solid #c9c9c9;
        overflow: hidden;
        .img-catalog-product{
          top: -9999px;
          right: -9999px;
          left: -9999px;
          bottom: -9999px;
          margin: auto;
          position: absolute;
          width: 100%;
          height: auto;
          &:hover{
            transform: scale(1.1);
            -webkit-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
          }
        }
      }

      .box-desc-product{
        padding: 5px;
        .title-product-catalog{
          font-size: 11px;
          font-weight: bold;
          height: 31px;
          overflow: hidden;
        }
        .desc-product-catalog{
          font-size: 11px;
        }
        .price-product-catalog{
          color: #ff5722;
          font-weight: bold;
          font-size: 15px;
          margin-top: 2px;
        }
      }
    }
  }
  .login-wrapper {
    padding: 50px 0;
  }
  .panel-custom {
    width: 100%;
    margin: auto;
  }
  .link-contact {
    h3 {
      font-size: 18px;
      font-weight: 500;
      line-height: 1.5em;
      text-align: center;
    }
    .btn-contact {
      margin: auto;
      display: table;
      padding: 10px 20px;
      margin-top: 20px;
    }
  }
  .contact-us {
    .social_link {
      overflow: hidden;
      margin-bottom: 30px;
    }
    .box-content {
      width: 100%;
      display: table;
      .box {

      }
    }
  }
  footer {
    .footer-tag {
      font-size: 14px;
      margin-bottom: 20px;
    }
    ul {
      padding-left: 0px;
      li {
        padding-left: 0px;
        margin-bottom: 5px;
        a {
          border-bottom: dotted 1px #555;
        }
      }
    }
  }
  .aboutus {
    .content {
      margin-top: 0px;
      margin-bottom: 0px;
      h3 {
        margin-top: 20px;
      }
      .descript-about {
        .descript-text {
          padding: 20px;
          h2 {
            font-size: 16px;
          }
        }
      }
    }
    .privacy {
      margin-top: 10px;
      .privacy-content {
        padding: 100px 10px;
      }
    }
  }
  .desktop {
    display: none;
  }
}

@media screen and (max-width: 450px){
  .navbar-toggle{
    padding: 12px;
    margin-bottom: 6px;
  }
  .faq-toggle-title{
    font-size: 13px;
  }
  .col-responsive{
    width: 100%;
  }

  .contact-header {
    background-position-y: 0;
    .title{
      font-size: 25px;
    }
  }

  .information-contact{ 
    padding-top: 50px;
    padding-bottom: 50px;
    .box3{
      margin-bottom: 30px;
      padding: 15px;
    }
  }
  .get-registration {
    h3 {
      font-size: 20px;
    }
    .list-get {
      h4 {
        margin-top: 15px!important;
        font-size: 20px;
      }
      .img-get {
        .nomber {
          left: 0px;
        }
      }
    }
  }

  slider{ 
    .txt-slider{
      padding: 0 10px;
      top: 23%;
      .txt-sl1{
        font-size: 14px;
      }
      .txt-sl2{
        font-size: 30px;
      }
    }
  }

  .short-info {
    h3 {
      font-size:16px;
      line-height:1.4em;
    }
    .btn-dropship {
      float:left;
    }
    p {
      font-size: 12px;
    }
  }

  .descript{
    background-position-x:-520px;
    .descript-text {
      padding: 15px;
      h2 {
        font-size: 18px;
        line-height: 1.4em;
      }
      p {
        font-size: 12px;
      }
    }
    .txt-desc{
      width: 100%;
      text-align: left;
      color: #1b2735;
      font-size: 12px;
      margin-top: 55px;
      margin-bottom: 55px;
    }
  }

  .challenge { 
    padding-top: 0px;
    padding-bottom: 0px;
    .box-comic {
      height: 180px;
    }
    .title-ch1{
      font-size: 16px;
      padding: 0px 5px;
      margin-top: 50px;
    }
    
    .challenge-content {
      padding: 30px 0px 0px 0px;
      .title-ch2 {
        font-size: 18px;
        margin-top: 15px;
        &:after {
          top: 65px;
        }
      }
      .title-ch22 {
        font-size: 18px;
        margin-top: 15px;
        &:after {
          top: 35px;
        }
      }
      .desc-ch{
        width: 100%;
        font-size: 12px!important;
      }
      .desc-ch2{
        width: 100%;
        font-size: 12px;
      }
      ul {
        li {
          font-size: 12px;
        }
      }
      .online-img {
        margin-bottom: 20px;
      }
      .img-diagram {
        width: 120px;
        padding: 10px;
        margin-top: -95px;
        right: 30px;
        bottom: -115px;
        position: absolute;
        margin-right: -20px;
      }
    }
  }

  .quantity{
    padding-top: 20px;
    padding-bottom: 30px;
    .box-product{
      .img-product{
        position: absolute;
        top: -9999px;
        right: -9999px;
        left: -9999px;
        bottom: -9999px;
        margin: auto;
        width: 100%;
        height: auto;
        z-index: 1;
      }
      .overplay-prod{
        z-index: 2;
      }
      &:hover{
        .img-product{
          z-index: 3
        }
        .overplay-prod{
          z-index: 4
        }
      }
    }
    .title-qw1{
      font-size: 16px;
    }
    .title-qw2{
      font-size: 25px;
      margin-bottom: 25px;
    }
    .desc-qw{
      font-size: 12px;
      padding: 15px;
      margin-bottom: 20px;
      h2 {
        font-size:18px;
        &:after {
          top:35px;
        }
      }
    }
    .box-product {
      height: 130px;
    }
    .box-packing{
      height: 100px;
      .img-packing{
        width: 350px;
      }
    }
  }

  .add-text {
    h3 {
      font-size: 16px;
    }
  }

  .feature {
    padding-top: 20px;
    padding-bottom: 20px;
    h2{
      font-size: 18px;
      margin-bottom: 45px;
      &:after {
        top:35px;
      }
    }
    .box-feature {
      p, strong {
        font-size: 12px;
      }
    }
  }

  .advert{
    padding: 20px 15px 20px 15px;
    h4{
      font-size: 18px;
      margin-bottom: 40px;
      &:after {
        top:35px;
      }
    }
    .title-advert1{
      font-size: 20px;
    }
    .title-advert2{
      font-size: 25px;
      margin-bottom: 25px;
    }
    .desc-advert{ 
      font-size: 13px;
      margin-bottom: 15px;
    }
    .box-advert {
      margin: 5px;
      .product-example {
        .overplay-advert {
          padding-bottom: 0px;
          .btn-play {
            transform: translate(0%, 40%);
            font-size: 30px;
          }
        }
      }
    }
  }

  .testimonials{
    padding: 20px 0 0px 0px;
    h2{
      font-size: 18px;
      margin-bottom: 45px;
      &:after {
        top:35px;
      }
    }
    .device-testimonial {
      margin-left: 0px;
      .ss-testimonial {
        left: 49.4px;
        top: 63px;
      }
    }
    .box-testimonials {
      p, b, .link-testimonial {
        font-size: 12px;
      }
    }
  }

  .profit{
    .box-profit{
      margin-bottom: 30px;
      .box-left{
        height: 75px;
        width: 30%;
        .img-profit{
          width: 70px;
        }
      }
      .box-right{
        width: 70%;
        .title-box-profit{
          margin-bottom: 5px;
        }
        .desc-box-profit{
          line-height: 35px;
        }
      }
    }
  }

  .package-price{ 
    display: table;
    .text-price {
      position: relative;
      padding: 15px;
      .text-price-content {
        transform: translateY(5%);
        padding-bottom: 20px!important;
        h4 {
          font-size: 18px;
          &:after {
            top:35px;
          }
        }
      }
    }
    .price-package-content {
      padding: 0px 15px;
      padding-bottom: 50px;
      .button-register {
        padding: 20px 11px;
        width: 84%;
        margin-top: -70px;
        .btn-orange {
          padding-top: 7px;
          padding-bottom: 7px;
          font-size: 12px;
        }
      }
    }
    .title-package-price{
      font-size: 20px;
    }
    .desc-package-price{
      font-size: 12px;
      line-height: 40px;
    }
    .box-package-price{
      .title-box-package{
        background: #639001;
        color: white;
        text-align: center;
        padding: 10px 0;
        font-size: 18px;
        font-weight: bold;
      }
      .box-img-price{
        padding: 30px 0;
        font-size: 18px;
      }
      .btn {
        font-size: 12px;
      }
      .box-desc-package{ 
        padding: 15px 10px 15px 10px!important;
        .desc-package{
          font-size: 12px;
        }
        .desc-package2{
          font-size: 12px;
        }
        .btn-box-package{
          padding: 7px 40px;
        }
      }
    }
  }

  .earnings{
    h4 {
      font-size: 18px;
      margin-bottom: 25px;
      &:after {
        top:55px;
      }
    }
    .earnings-text {
      padding: 25px 15px 35px 15px;
      p {
        font-size: 12px;
      }
      h5 {
        font-size: 16px;
        margin-bottom: 10px;
        margin-top: 0px;
        small {
          font-size: 70%;
        }
      }
    }
  }

  .faq {
    padding-top: 30px;
    padding-bottom: 0px;
    h2 {
      font-size: 18px;
      margin-bottom: 40px;
      &:after {
        top:35px;
      }
    }
    .menu-faq {
      padding:0px;
      ul {
        li {
          float: inherit;
        }
      }
    }
    .box-faq {
      .content-faq {
        position: absolute;
        padding: 15px;
        display: none;
        text-align: justify;
        h5 {
          text-align: left;
          font-size: 14px;
        }
      }
    }
  }
  .add-text-bottom {
    .content-text {
      font-size: 17px;
    }
    .text-footer {
      line-height: 1.5em;
      margin-top: 0px!important;
      margin-bottom: 20px;
    }
  }
  .signup{ 
    .title-signup1{
      font-size: 20px;
    }
    .title-signup2{
      font-size: 25px;
    }
    .desc-sign-up{
      font-size: 14px;
    }
    .btn-signup-now{
      font-size: 15px;
      padding: 15px 10px;
    }
  }
  .contact-us{
    .box-contact{
      margin-bottom: 40px;
      .img-contact{
        height: 40px;
        float: left;
        margin-bottom: 0px;
        margin-right: 12px;
      }
      .title-contact{
        font-size: 15px;
        color: #5b5959;
      }
      .desc-contact{
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
  .big-font{
    font-size: 30px;
  }
  .ask{ 
    .title-ask{
      font-size: 20px;
    }
  }
  .toggle-title {
    font-size: 12px!important;
    padding: 15px 0px!important;
  }
  .detail{
    font-size: 12px!important;
  }
  .my-toggle > li{
    margin-bottom: 20px!important;
  }
  footer{
    font-size: 12px;
    text-align: center;
    .footer-tag {
      width: 100%;
    }
    ul {
      margin-left: -15px;
      margin-right: -15px;
      float: inherit!important;
      margin:auto;
      position: relative;
      z-index: 5;
      li {
        padding-left: 7px;
        padding-right: 7px;
        a {
          font-size: 12px;
        }
      }
    }

  }
  .mg-top{
    margin-top: 30px;
  }

  .header-catalog{ 
    .img-logo-catalog {
      height: 25px;
      margin-top: 6px;
    }
    .box-search-catalog{
      .submit-search{
        width: 28%;
      }
    }
  }
  .form-control{
    height: 30px;
    font-size: 12px;
  }
  .section-btn-download a {
    background: #99bc20;
    color: white;
    padding: 10px;
    font-size: 11px;
    margin: 0px 1px;
    width: 100%;
    float: left;
    margin-top: 3px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a{
    color: #e6e4e4!important;
    margin-left: 20px;
  }
  .contact-header { 
    ul {
      li {
        padding-left: 10px;
        padding-right: 10px;
        a {
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: 350px){
  slider{ 
    .txt-slider{ 
      .txt-sl2{
        font-size: 25px;
      }
    }
  }
  .descript{ 
    .txt-desc {
      font-size: 15px;
    }
  }
  .challenge{ 
    .box-comic {
      height: 180px;
    }
    .desc-ch {
      width: 100%;
      font-size: 15px;
    }
  }
  .challenge{ 
    ul{ 
      li {
        width: 100%;
        font-size: 13px;
      }
    }
    .desc-ch2{
      font-size: 15px;
    }
  }
  .contact-us{ 
    .box-contact{

    }
  }
  .header-catalog .box-search-catalog .submit-search {
    width: 35%;
  }
}