.my-toggle {

}
.my-toggle > li {
  display: block;
  list-style: outside none none;
  margin-bottom: 20px;
}
.toggle-title {
  font-size: 17px;
  color: #0cbefa;
  margin-bottom: 0;
  margin-top: 0;
  text-align: left;
  padding: 20px 0px;
  font-weight: bold;
  float: left;
}
.view {
  background-color: white;
  color: #304351;
  cursor: pointer;
  display: block;
  padding: 0 20px;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition:all 0.2s;
  line-height: 52px;
  position: relative;
  border: 1px solid #e1e1e1;
}
.view.opened {
  background: #03adf8;
  border-radius: 3px 3px 0 0;
  border-bottom: 1px solid rgba(255,255,255,0.12);
}
.detail {
 padding: 15px 20px;
 display: none;
 line-height: 20px;
 font-size: 15px;
 background-color: #ffffff;
 color: #000;
 border-radius: 0 0 3px 3px;
 border-top: 1px solid rgba(255,255,255,0.15);
 font-weight: 300;
 border: 1px solid;
 border-color: lightgrey;
}
.view:hover {
  text-decoration: none;
  background: #03adf8;
}
.view.opened {
  background-color: #03adf8;
  border: 0 none;
}
.view.opened .toggle-title,
.view:hover .toggle-title {
  color: #fff;
}

.view.opened .toggle-title,
.view:hover .toggle-down {
  color: #fff;
}

.view.opened .toggle-title,
.view:hover .toggle-up {
  color: #fff;
}

.toggle-wrapper{
  line-height: 25px;
}