#wrapper
  .header-blog
    .title BlOGS (#{@blogs_active})
    p.grey Temukan article terbaru disini
  .content.animate-panel
    .hpanel
      .row
        .col-xs-12.mgbot20
          = render 'search_form_blogs'
          - if @collection.blank?
            = render "shareds/empty_blank"
        - @collection.each do |resource|
          .col-md-4.col-xs-12
            = link_to members_blog_path(resource) 
              .box-article
                .box-img
                  = image_tag resource.file, class: 'img-auto'
                  - if resource.link_video.present?
                    .overplay
                      i.pe-7s-play
                .box-description
                  .date = get_datetext(resource.created_at)
                  .title = truncate(resource.title, :length => 50)
                  .category = resource.category
        = paginate @collection, remote: true