.panel
  .panel-body
    = form_for :search, url: collection_path, html: {class: 'simple-search-form js-form-analytic'}, method: 'get', remote: true
      .row
        .col-md-3
          = select_tag :category, options_for_select(Blog::CATEGORIES, params[:category]), prompt: 'Pilih Kategori', class: 'form-control form-mg'
        .col-md-9
          .input-key
            = text_field_tag :key, nil, value: params[:key], class: 'form-control', placeholder: 'Cara berdasarkan judul..'
          .submit-search
            = submit_tag 'CARI', class: "btn btn-full form-custom"