#wrapper
  .header-blog
    .title2 = resource.title
    h5 
      | Kategori : #{resource.category}
  .content.animate-panel.blog-show
    .hpanel
      .row
        .col-xs-12
          .panel
            .panel-body.blog-show
              - if resource.link_video.blank?
                = image_tag resource.file.url(:large), style: "width: 100%; margin-bottom: 20px;"
              - else
                .embed-responsive.embed-responsive-16by9
                  iframe.embed-responsive-item src="#{resource.link_video}"
              br
              = resource.description.html_safe