- if params[:controller] == 'members/shops'
	- link_product = members_shop_path(resource.slug+'-'+catalog.id.to_s)
- else
	- link_product = product_path(resource.slug+'-'+catalog.id.to_s)

- if current_order.present? && current_order.order_items.find_by(catalog_id: catalog.id).present?
	- already_in_cart = "already-in-cart"
li.li-wdt-33
	.box-product-list
		.box-img-wrapper class="#{already_in_cart if already_in_cart.present?}"
			= link_to link_product do
				= image_tag resource.try(:cover).url(:medium), class: 'img-responsive img-auto'
				.brand
					= resource.try(:brand_name)
				- if params[:controller] == 'members/shops'
					.fee_referral
						= resource.fee_referral_text?
				- if catalog.discount > 0
					.discount
						= "-#{catalog.discount.to_i if catalog.discount.present?}%"
				- if already_in_cart.present?
					.product-cart
						.title
							| Produk sudah di keranjang
		= link_to link_product, class: 'box-desc-bottom' do
			.status-stock
				span.code
					= resource.code
				= resource.only_status_stock?
			hr
			.title
				= truncate(resource.title, :length => 40).titleize
			- if current_user.present? && current_user.member? && @subdomain.id == current_user.id
				span.price
					= get_currency(catalog.product.price)
				span.price.discount
					= get_currency(catalog.price) if catalog.price.present?
					| &nbsp;
			- else
				- if catalog.discount > 0
					span.price
						= get_currency(catalog.get_price?)
					span.price.discount
						= get_currency(catalog.price) if catalog.price.present?
						| &nbsp;
				- else
					span.price
						= get_currency(catalog.price) if catalog.price.present?
			- if current_user.present?
				.btn.btn-sm.btn-block.btn-gb
					| Lihat Detail
