li.li-wdt-33-user
  .box-img-wrapper
    = image_tag resource.try(:cover).url(:medium), class: 'img-responsive'
  .box-desc-bottom
    .title
      = link_to "#{resource.title}", product_path(resource)
    .price
      = get_currency(resource.recommended_price) if resource.recommended_price.present?
