- @product_spec = @product.try(:product_spec)
- get_price = @catalog.present? ? @catalog.price : @product.recommended_price

section.bg-white.detail-product
	.container
		.row
			.col-md-12.breadcrumb
				= render_breadcrumbs     
			.col-md-5
				.box-cover-img
					#slider-product.flexslider
						ul.slides
							li
								= image_tag @product.cover.url(:large), 'data-sgallery' => 'OSHOP', title: 'YOUR TITLE', 'data-full' => "#{ @product.cover.url(:large) }", 'data-toggle' => 'magnify', 'data-thumb' => "#{ @product.cover.url(:large) }"
				.image-gallery-product
					- if @product.galleries.image_exist.size < 6
						.gallery
							- @product.galleries.image_exist.each_with_index do |resource, index|
								.col-md-15.col-xs-15
									.row
										.box-gallery-thumb
											a data-fancybox="gallery" href="#{image_url resource.file.url(:large)}"
												= image_tag resource.file.url(:large)


			.col-md-7
				h3.mgtop0
					= @product.title
				small
					| Kode Produk : <b>#{@product.code}</b> . Merek : <b>#{@product.try(:brand_name)}</b> . Ketegori : <b>#{@product.try(:sub_category).try(:name)} , #{@product.try(:parent_category).try(:name)}</b>
				- if current_user.blank?
					hr
					span.share Bagikan :
					.sharethis-inline-share-buttons
				hr
				.side-purchase.sidebar-show
					.row
						.col-xs-12
							- if current_user.present? && current_user.member? && @subdomain.id == current_user.id
								span.price-lg
									= get_currency(@catalog.product.price)
									| &nbsp;
								span.price-lg.discount
									= get_currency(@catalog.price) if @catalog.price.present?
							- else
								- if @catalog.discount > 0
									span.discount-value
										= "Diskon -#{@catalog.discount.to_i if @catalog.discount.present?}%"
									br
								- if @catalog.discount > 0
									span.price-lg
										= get_currency(@catalog.get_price?)
										| &nbsp;
									span.price-lg.discount
										= get_currency(@catalog.price) if @catalog.price.present?
								- else
									span.price-lg
										= get_currency(get_price) if get_price.present?
							.break
							.status-stock
								= @product.status_stock_label?
							.break
							h5 Sekilas
							ul.properties
								li
									| Produsen: <b>#{@product.try(:merchant).try(:merchant_info).try(:title)}</b>
								li
									| Merek: <b>#{@product.try(:brand_name)}</b>
								li
									| Lokasi: <b>#{@product.merchant.featured == true ? @product.merchant.address.place_city_name_merchant : 'Kota Sukabumi'}</b>
								li
									| Berat: <b>#{@product.try(:weight).to_i} gram</b>
								li
									| Telah dilihat: <a href="#">#{@product.impressionist_count} orang</a>
								li
									| Telah terjual: <a href="#">#{@sales_size} pcs</a>
								- if params[:controller] == 'members/shops'
									li
										| Fee Referral: #{@product.fee_referral?}
							br
							p
								= @product.product_spec.information
							- if @product.merchant.featured == true || @product.pre_order?
								h5 Catatan
								p style='color:red;'
									- if @product.merchant.featured == true
										= "- Kusus untuk semua produk <b>#{@product.try(:merchant).try(:merchant_info).try(:title)}</b> anda tidak diperbolehkan memesan produk lain berbeda produsen secara bersamaan dalam satu pesanan".html_safe
										br
									- if @product.pre_order?
										= "- Kusus untuk produk PREORDER tidak bisa dipesan berbarengan dengan produk lain dalam satu pesanan".html_safe
						.col-xs-12
							- if current_user.present? && current_user.member? && current_user.id != @subdomain.id
								button class="btn btn-default btn-lg full-width no-radius" TIDAK TERSEDIA
							- else
								- unless @check_order.present?
									- if @product.ready_stock? && @product_spec.stock < 1
										button class="btn btn-default btn-lg full-width no-radius" Stok Tidak Tersedia
									- else
										= form_for @order_item, remote: true do |f|
											.form-order
												.row
													- if @product.product_stock_available?
														.col-md-12
															- if @product.product_stocks.count == 1 && @product.product_stocks.last.variant == "all"
																= f.hidden_field :variant, value: "all"
															- else
																.form-group
																	label Ketersediaan
																	= f.select :variant, options_for_select(@product.product_stocks.available.pluck(:variant)), {prompt: 'Pilih Ketersediaan'}, class: 'form-control', required: true
																.form-group
																	label Pesan
																	= f.text_area :message, class: 'form-control', placeholder: 'Masukan Pesan'
													- if @setting.order_via_cart? && current_user.blank? || current_user.present?
														div class="#{current_user.present? ? 'col-md-12' : 'col-md-6'}"
															.purchase-form-button
																= hidden_field_tag :stakeholder, @product.merchant.id
																= f.hidden_field :product_id, value: @product.id
																= f.hidden_field :catalog_id, value: @catalog.id if @catalog.present?
																button class= "btn btn-danger btn-add-cart" type="submit" id='addToCartButton'
																	| <i class='fa fa-cart-plus'></i> Masukan Keranjang
													- unless current_user.present?
														.col-md-6
															- if @subdomain.profile.present? && @subdomain.profile.phone.present? && @setting.order_via_wa?
																- if @subdomain.contact.use_link_wa? && @subdomain.contact.link_wa.present?
																	| <a href="#{@subdomain.contact.link_wa}" class='btn btn-success btn-order-wa'><i class="fa fa-whatsapp"></i> Order Via WhatsApp</a>
																- else
																	| <a href="https://api.whatsapp.com/send?phone=#{@subdomain.profile.phone}&text=Halo%20#{@subdomain.domain?}%20Saya%20Mau%20Order%20Produk%20#{@product.title}%20Dengan%20Kode%20Product%20#{@product.code}" class='btn btn-success btn-order-wa'><i class="fa fa-whatsapp"></i> Order Via WhatsApp</a>
								- else
									= render "shareds/already_order"

- if @product.galleries.image_exist.size == 6
	section.bg-white.gallery
		.container
			.row
				- @product.galleries.image_exist.each_with_index do |resource, index|
					- image_more_count = @product.galleries.image_exist.count - 6
					- if index == 0
						.col-xs-8
							.box-gallery1
								a data-fancybox="gallery" href="#{image_url resource.file.url(:large)}"
									= image_tag resource.file.url(:large), class: 'img-auto'
					- elsif index == 1
						.col-xs-4
							.box-gallery2
								a data-fancybox="gallery" href="#{image_url resource.file.url(:large)}"
									= image_tag resource.file.url(:large), class: 'img-auto'
					- elsif index == 2 || index == 3 || index == 4
						.col-xs-4
							.box-gallery3
								a data-fancybox="gallery" href="#{image_url resource.file.url(:large)}"
									= image_tag resource.file.url(:large), class: 'img-auto'
					- elsif index == 5
						.col-xs-4
							a data-fancybox="gallery" href="#{image_url resource.file.url(:large)}"
								.box-gallery3
									= image_tag resource.file.url(:large), class: 'img-auto img-more'
									/.overplay
										.view-more
											= image_tag 'ic_albums@2x.png', class: 'img-icon'
											| &nbsp;
											span.txt-icon 
												= " Lihat Gambar"
					- else
						a data-fancybox="gallery" href="#{image_url resource.file.url(:large)}"
							= image_tag resource.file.url(:large), class: 'img-auto', style: "visibility: hidden;"

section.bg-white style='padding-top:0;'
	.container
		 .mgdetail-item
			.break
			ul class="nav nav-tabs" role="tablist"
				li role="presentation" class="active"
					a href="#tab1" aria-controls="shipping" role="tab" data-toggle="tab"
						| Detail Produk
				/ li role="presentation"
				/   a href="#tab2" aria-controls="shipping" role="tab" data-toggle="tab"
				/     | Komentar
				/ li role="presentation"
				/   a href="#tab3" aria-controls="shipping" role="tab" data-toggle="tab"
				/     | Pengiriman & Kebijakan
			.tab-content
				div role="tabpanel" class="tab-pane active" id="tab1"
					- @product_spec = @product.try(:product_spec)
					.row
						.col-md-2
							.title-description
								b Informasi
						.col-md-5
							| Kode Produk : <b>#{@product.code}</b>
							br
							- if @product_spec.material.present?
								| Komposisi : <b>#{@product_spec.material}</b>
						.col-md-5
							| Berat : <b>#{@product.try(:weight).to_i} gram</b>
							br
							| Kategori : <b>#{@product.try(:parent_category).try(:name)}, #{@product.try(:sub_category).try(:name)}</b>
						.col-md-12
							hr
						.col-md-2
							.title-description
								b Deskripsi
						.col-md-10
							= @product.description.html_safe if @product.description.present?

				/ div role="tabpanel" class="tab-pane" id="tab2"
				/   h5
				/     | Ada pertanyaan? 
				/     b Silahkan diskusikan dengan penjual.
				/   .row
				/     .col-md-6
				/       .form-group
				/         = text_field_tag :key_member, params[:key_member], class: 'form-control', placeholder: 'Email'
				/     .col-md-12
				/       .form-group
				/         = text_area_tag :key_member, params[:key_member], class: 'form-control', placeholder: 'Silahkan masukan komentar...'
				/     .col-md-12
				/       .form-group
				/         = submit_tag :submit, class: 'btn btn-info btn-comment'
				/   hr
				/   .row
				/     .col-md-1
				/       .box-img-profile
				/         = image_tag 'user.svg', class: 'img-profile'
				/     .col-md-11 
				/       .box-comment
				/         .user-profile
				/           b dikisubagjaa@gmail.com
				/           | &nbsp;
				/           span.status customer
				/           br
				/           p Silahkan anda pertimbangkan kembali jika mau membeli kipas angin ini bro, ane punya dua di rumah, kedua nya rusak pada leher nya mungkin gak kuat nahan beban.
				/           .date-post
				/             | 9 Juni 2018, 14:56 
				/     .box-reply
				/       .col-md-1
				/         .box-img-profile
				/           = image_tag 'suporting-1.383489723.jpg', class: 'img-profile'
				/       .col-md-11 
				/         .form-group
				/           = text_field_tag :key_member, params[:key_member], class: 'form-control', placeholder: 'Silahkan masukan komentar...' 
				/         .form-group
				/           = submit_tag :balas, class: 'btn btn-info btn-reply pull-right'       
				/ div role="tabpanel" class="tab-pane" id="tab3"
				/   = render 'shareds/products/policies'

- if @product.link_video.present?
	section.bg-grey
		.container
			.embed-responsive.embed-responsive-16by9
				iframe.embed-responsive-item src="#{@product.link_video}"
				
- if @product.product_testimonials.present?
	section.bg-white
		.container
			.title-detail
				h2 
					| Testimonial
			hr.hr
	section.bg-white
		.container
			- @product.product_testimonials.each do |product_testimonial|
				.col-md-3
					a data-fancybox="testimonial" href="#{image_url product_testimonial.image}"
						.box-testimonial
							= image_tag product_testimonial.image, class: 'img-auto'