.row
	.col-md-12
		.table-responsive
			table class="table table-striped table-bordered table-hover"
				thead
					tr
						th width="10%" Kode Invoice
						th Reseller
						th Nama Pembeli
						th Email Pembeli
						th Kontak
						th Pembayaran
						th Pengiriman
						th Konfirmasi
						th Harga
						th Ongkir
						th TOTAL
						th Transaksi
				tbody
					- if @stakeholder_orders.blank?
						tr
							td colspan="14" 
								= render "shareds/empty_blank"
					- else
						- @stakeholder_orders.each_with_index do |resource, index| 
							- if @merchant.status_featured?
								- order = resource.order
							- else
								- order = resource
							tr 
								td
									= link_to resource.no_invoice, backend_order_path(resource.order)
								td
									= resource.member.username
								td
									= resource.order.payer_name
								td
									= resource.order.payer_email
								td
									= resource.order.payer_phone
								td
									= resource.order.status?
								td
									= resource.order.status_order?
								td
									= resource.confirmation?
								td
									b
										= get_currency(order.basic_price) if order.basic_price.present?
								td
									b
										= get_currency(order.shipping_price) if order.shipping_price.present?
								td
									b
										= get_currency(order.total_basic_price) if order.total_basic_price.present?
								td
									small
										= resource.try(:created_at).strftime("%H:%M %B, %d, %Y")

			= paginate @orders, remote: true, param_name: "page_orders" if @orders.present?