.row
	.col-md-12
		table-responsive
			table class="table table-striped table-bordered table-hover"
				thead
					tr
						th Kode Invoice
						th ADM
						th Komisi
						th Status
						th Periode
						th Created At
						th Action
				tbody
					- if @payment_merchants.blank?
						tr
							td colspan="10" 
								= render "shareds/empty_blank"
					- else
						- @payment_merchants.each_with_index do |resource, index|
							tr
								td
									= link_to resource.code, resource_path(resource)
								td
									= resource.admin.username
								td
									= get_currency(resource.price)
								td
									= resource.status?
								td
									= resource.payment_period?
								td
									= get_datetime(resource.created_at)
								td
									= link_to '<i class="fa fa-download" aria-hidden="true"></i>'.html_safe, backend_payment_merchant_path(resource, format: 'pdf'), class: 'btn btn-xs btn-default'

			= paginate @payment_merchants, remote: true, param_name: "page_payment_merchants" if @payment_merchants.present?