- if current_user.master?
  - add_method = true
- else
  - add_method = false
  
.col-md-12
  = render 'backend/shareds/search_form_user'
  = form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do
    .row
      .col-md-4
        .box-top-detail.green
          b.txt-green #{@verifieds}
          br
          | Merchant Terverifikasi
      .col-md-4
        .box-top-detail.orange
          b.txt-orange #{@featureds}
          br
          | Merchant Pilihan
      .col-md-4
        .box-top-detail.red
          b.txt-red #{@not_verifieds}
          br
          | Merchant Pending
    .widget
      = render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Merchant', button_name: 'Merchant', add_method: add_method}
      .widget-content
        .table-responsive
          table class="table table-striped table-bordered table-hover"
            thead
              tr
                th width="1%"
                th ID
                th Kode
                th Username
                th Email
                th Nama Toko
                th Jenis Dijual
                th Kota
                th Status
                th Featured
                th Terdaftar
                th Action
            tbody
              - if @collection.blank?
                tr
                  td colspan="12" 
                    = render "shareds/empty_blank"
              - else
                - @collection.each_with_index do |resource, index|
                  tr
                    td
                      = check_box_tag "ids[]", resource.id
                    td
                      = resource.id
                    td
                      = link_to resource.code, backend_merchant_path(resource)
                    td
                      = resource.username
                    td
                      | <a href="mailto:#{resource.email}">#{resource.email}</a>
                    td
                      = resource.try(:merchant_info).try(:title)
                    td
                      = resource.try(:merchant_info).try(:product_type)
                    td
                      = resource.try(:address).try(:place_info_merchant) rescue "-"
                    td
                      = resource.verified?
                      br
                      = resource.status_payment?
                      br
                      = resource.available_cod?
                    td
                      = resource.featured?
                    td
                      = resource.try(:created_at).strftime("%H:%M %B, %d, %Y")
                    td
                      - if current_user.master?
                        = render partial: 'backend/shareds/prepare_action',
                          locals: { resource: resource, confirmation: "Are you sure delete this #{resource.username}", no_show: false }

        .widget-foot
          .pull-right
            = paginate @collection, remote: true if @collection.present?
          .clearfix
