<table border="1">
	<caption>Daftar Merchant <%= show_search_form_date(params[:start_at], params[:end_at]) %></caption>
	<tr>
		<th>ID</th>
		<th>Kode</th>
		<th>Akun</th>
		<th>Info Toko</th>
		<th>Alamat</th>
		<th>Kontak</th>
		<th>Rekening Bank</th>
		<th>Status</th>
		<th>Featured</th>
		<th>Terdaftar</th>
	</tr>
	<% @collection_all.each_with_index do |resource, index| %>
	<tr>
		<td><%= resource.try(:id) %></td>
		<td><%= resource.try(:code) %></td>
		<td>
			username :
			<%= "#{resource.username} (#{resource.email})" %>
			<br>
			nama :
			<%= "#{resource.profile.full_name}" %>
		</td>
		<td>
			nama toko :
			<%= "#{resource.try(:merchant_info).try(:title)}" %>
			<br>
			tipe produk :
			<%= "#{resource.try(:merchant_info).try(:product_type)}" %>
			<br>
			stok distribusi :
			<%= "#{resource.try(:merchant_info).try(:distribution_stock)}" %>
			<br>
			No.BPOM :
			<%= "#{resource.try(:merchant_info).try(:no_bpom)}" %>
		</td>
		<td><%= resource.try(:address).try(:place_info_merchant) rescue "-" %></td>
		<td>
			nomor HP/WA :
			<%= "#{resource.try(:profile).try(:phone)}" %>
		</td>
		<td>
      <%= "#{resource.profile.bank_name} #{resource.profile.account_number}" %>
      <br>
      <%= "Nama Rekening : #{resource.profile.account_name}" %>
      <br>
      <%= "Cabang : #{resource.profile.bank_branch}" %>
    </td>
		<td><%= resource.verified? %></td>
		<td><%= resource.featured? %></td>
		<td><%= resource.try(:created_at).strftime("%H:%M %B, %d, %Y") %></td>
	</tr>
	<% end %>
</table>