$('#list-orders').html("<%= escape_javascript render partial: 'list_orders', locals: {orders: @stakeholder_orders} %>");
$('#list-payment_merchants').html("<%= escape_javascript render partial: 'list_payment_merchants', locals: {payment_merchants: @payment_merchants} %>");
$('#list-activities').html("<%= escape_javascript render partial: 'list_activities', locals: {activities: @activities} %>");