.col-md-12
	.widget
		.widget-head
			.pull-left
				| Detail Merchant
			.widget-icons.pull-right
				| <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
				| <a href="#" class="wclose"><i class="fa fa-times"></i></a>
			.clearfix
		.widget-content
			.padd
				.tabbable
					ul.nav.nav-tabs
						li.active
							a data-toggle="tab" href="#tab1"  Akun
						li
							a data-toggle="tab" href="#tab2"  Alamat
						li
							a data-toggle="tab" href="#tab3"  Rekening Bank
						li
							a data-toggle="tab" href="#tab4"  Kontak

					.tab-content
						- profile = resource.profile
						- address = resource.address
						- contact = resource.contact
						#tab1.tab-pane.active
							.row
								.col-md-6
									.form-horizontal
										.col-md-3
											.form-group
												b Terdaftar
										.col-md-9
											.form-group
												= get_datetime(resource.created_at)
										.col-md-3
											.form-group
												b Email
										.col-md-9
											.form-group
												= resource.email
										.col-md-3
											.form-group
												b Username
										.col-md-9
											.form-group
												= resource.username
										.col-md-3
											.form-group
												b Nama Lengkap
										.col-md-9
											.form-group
												= profile.full_name.present? ? profile.full_name : '-'
										.col-md-3
											.form-group
												b Tanggal Lahir
										.col-md-9
											.form-group
												= profile.birthday.present? ? profile.birthday : '-'
										.col-md-3
											.form-group
												b Jenis Kelamin
										.col-md-9
											.form-group
												= profile.gender.present? ? profile.gender : '-'
								.col-md-6
									.form-group
										= image_tag profile.avatar.url(:medium), style: 'width: 150px'
						#tab2.tab-pane
							.row
								.col-md-12
									.form-horizontal
										.col-md-2
											.form-group
												b Provinsi
										.col-md-10
											.form-group
												= address.province.present? ? address.province : "-" 
										.col-md-2
											.form-group
												b Kota
										.col-md-10
											.form-group
												= address.city.present? ? address.city : "-" 
										.col-md-2
											.form-group
												b Alamat
										.col-md-10
											.form-group
												= address.address.present? ? address.address : "-" 
										.col-md-2
											.form-group
												b Kode Pos
										.col-md-10
											.form-group
												= address.postcode.present? ? address.postcode : "-" 
						#tab3.tab-pane
							.row
								.col-md-12
									.form-horizontal
										.col-md-2
											.form-group
												b Nama Bank
										.col-md-10
											.form-group
												= profile.bank_name.present? ? profile.bank_name : "-" 
										.col-md-2
											.form-group
												b Cabang
										.col-md-10
											.form-group
												= profile.bank_branch.present? ? profile.bank_branch : "-" 
										.col-md-2
											.form-group
												b Nama Rekening
										.col-md-10
											.form-group
												= profile.account_name.present? ? profile.account_name : "-" 
										.col-md-2
											.form-group
												b Nomor Rekening
										.col-md-10
											.form-group
												= profile.account_number.present? ? profile.account_number : "-" 
						#tab4.tab-pane
							.row
								.col-md-12
									.form-horizontal
										.col-md-2
											.form-group
												b Nomor HP
										.col-md-10
											.form-group
												= profile.phone.present? ? profile.phone : "-" 
										.col-md-2
											.form-group
												b Nomor Telepon Rumah
										.col-md-10
											.form-group
												= contact.phone.present? ? contact.phone : "-" 
										.col-md-2
											.form-group
												b BBM
										.col-md-10
											.form-group
												= contact.bbm.present? ? contact.bbm : "-" 
										.col-md-2
											.form-group
												b Website
										.col-md-10
											.form-group
												= contact.website.present? ? contact.website : "-" 
										.col-md-2
											.form-group
												b Facebok
										.col-md-10
											.form-group
												= contact.facebook.present? ? contact.facebook : "-" 
										.col-md-2
											.form-group
												b Instagram
										.col-md-10
											.form-group
												= contact.instagram.present? ? contact.instagram : "-" 

		.widget-foot
			= link_to '<i class="fa fa-chevron-left"></i>'.html_safe, :back, class: 'btn btn-xs btn-primary', title: "Kembali"
			| &nbsp;
			= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_resource_path(resource), class: 'btn btn-xs btn-warning', title: "Ubah"

	.panel
		.panel-body
			.tabbable
				ul.nav.nav-tabs
					li.active
						a data-toggle="tab" href="#tab2_1"  Order
					li
						a data-toggle="tab" href="#tab2_2"  Pembayaran
					li
						a data-toggle="tab" href="#tab2_3"  Aktifitas
				br
				.tab-content
					#tab2_1.tab-pane.active
						h2 align="center" Daftar Order
						br
						= form_for :search, url: backend_merchant_path(resource), method: 'get', html: {class: 'form-search', remote: true} do
							.input-group.wd100
								.col-md-3.no-padding
									= text_field_tag :key_order, params[:key_order], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
								.col-md-2.no-padding
									= select_tag :order_status_id_order, options_for_select(PaymentStatus.to_a, params[:order_status_id_order]), prompt: 'Status Pembayaran', class: 'form-control'
								.col-md-2.no-padding
									= select_tag :track_order_order, options_for_select(Order::STATUSES, params[:track_order_order]), prompt: 'Status Pengiriman', class: 'form-control'
								.col-md-2.no-padding
									= text_field_tag :start_at_order, nil, value: params[:start_at_order], class: 'form-control datepicker', placeholder: 'Start At'
								.col-md-2.no-padding
									= text_field_tag :end_at_order, nil, value: params[:end_at_order], class: 'form-control datepicker',  placeholder: 'End At'
								.col-md-1.no-padding
									= submit_tag :search, class: 'btn btn-info btn-block'
						br
						#list-orders
							= render "list_orders"

					#tab2_2.tab-pane
						h2 align="center" Daftar Pembayaran
						br
						= form_for :search, url: backend_merchant_path(resource), method: 'get', html: {class: 'form-search', remote: true} do
							.input-group.wd100
								.col-md-5.no-padding
									= text_field_tag :key_payment_merchant, params[:key_payment_merchant], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
								.col-md-2.no-padding
									= select_tag :status_payment_merchant, options_for_select(PaymentMerchant::STATUSES, params[:status_payment_merchant]), prompt: 'Pilih Status', class: 'form-control'
								.col-md-2.no-padding
									= text_field_tag :start_at_payment_merchant, nil, value: params[:start_at_payment_merchant], class: 'form-control datepicker', placeholder: 'Start At'
								.col-md-2.no-padding
									= text_field_tag :end_at_payment_merchant, nil, value: params[:end_at_payment_merchant], class: 'form-control datepicker',  placeholder: 'End At'
								.col-md-1.no-padding
									= submit_tag :search, class: 'btn btn-info btn-block'
						br
						#list-payment_merchants
							= render "list_payment_merchants"

					#tab2_3.tab-pane
						h2 align="center" Daftar Aktifitas
						br
						= form_for :search, url: backend_merchant_path(resource), method: 'get', html: {class: 'form-search', remote: true} do
							.input-group.wd100
								.col-md-5.no-padding
									= text_field_tag :key_activities, params[:key_activities], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
								.col-md-2.no-padding
									= select_tag :status_activities, options_for_select(Activity::STATUSES, params[:status_activities]), prompt: 'Pilih Status', class: 'form-control'
								.col-md-2.no-padding
									= text_field_tag :start_at_activities, nil, value: params[:start_at_activities], class: 'form-control datepicker', placeholder: 'Start At'
								.col-md-2.no-padding
									= text_field_tag :end_at_activities, nil, value: params[:end_at_activities], class: 'form-control datepicker',  placeholder: 'End At'
								.col-md-1.no-padding
									= submit_tag :search, class: 'btn btn-info btn-block'
						br
						#list-activities
							= render "list_activities"