.col-md-12
	a aria-controls="collapseOne" aria-expanded="true" data-parent="#accordion" data-toggle="collapse" href="#collapseOne" role="button" class="btn-how-to-use btn-default btn btn-full"
		| Tampilkan Langkah Pembayaran
.how-to-use id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne"
	.col-payment
		.box-payment
			i.pe-7s-date.fa-4x
			br
			small
				| Periode pembayaran Dropshipan dibagi 2 setiap bulan, contoh: 
				| 1-15. dan 16-akhir bulan.
			.nomber-step
				| 1
	.col-payment	
		.box-payment
			i.pe-7s-id.fa-4.fa-4x
			br
			small
				| "Memproses" menyetujui keuangan pembayaran anda
			.nomber-step
				| 2
	.col-payment	
		.box-payment
			i.pe-7s-cash.fa-4x
			br
			small
				| Kami mengirimkan pembayaran anda langsung ke rekening terdaftar
			.nomber-step
				| 3
	.col-payment	
		.box-payment
			i.pe-7s-clock.fa-4x
			br
			small
				| Pembayaran bisa memakan waktu antara 4 hingga 5 hari untuk diselesaikan
			.nomber-step
				| 4
	.col-payment	
		.box-payment
			i.pe-7s-ribbon.fa-4x
			br
			small
				| "Berbayar" Status pembayaran anda diperbarui dan ditandai
			.nomber-step
				| 5