.col-md-4
	= form_for :search, url: collection_path, html: {class: 'js-form-analytic'}, method: 'get', remote: true do 
		.box-keyword
			.form-group
				label Keyword
				= text_field_tag :key, params[:key], placeholder: 'Invoice/code', class: "form-control"
			.form-group
				label Status
				= select_tag :status, options_for_select(PaymentSnapshot::STATUSES, params[:status]), prompt: 'Pilih Status', class: 'form-control'
			.form-group
				label Start Date
				.input-group.date
					span.input-group-addon
						span.fa.fa-calendar
					= text_field_tag :start_at, nil, value: params[:start_at], class: 'datepicker form-control', placeholder: 'Start At'
			.form-group
				label End Date
				.input-group.date
					span.input-group-addon
						span.fa.fa-calendar
					= text_field_tag :end_at, nil, value: params[:end_at], class: 'datepicker form-control', placeholder: 'End At'
			.form-group
				= submit_tag 'Search', class: "btn btn-full btn-gb"
			.form-group
				.js-button-export
					= render 'shareds/button_export'