.col-md-12
  = render 'backend/shareds/search_form_recap_payment'
  .widget
    = render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Package', button_name: 'Package', add_method: false}
    .widget-content
      .table-responsive
        table class="table table-striped table-bordered table-hover"
          thead
            tr
              th Username #{params[:user]}
              th Email
              th Nama Lengkap
              th Rekening
              - if params[:user] == "Member" || params[:user] == "Manager" || params[:user] == "Referral"
                th Komisi
              - elsif params[:user] == "Merchant"
                th Penjualan
                th Ongkir
                th Total
              - if params[:user] == "Merchant" || params[:user] == "Member"
                th Status Payment
          tbody
            - if @commissions.blank?
              tr
                td colspan="8" 
                  = render "shareds/empty_blank"
            - else
              - @commissions.each do |resource|
                tr
                  td
                    - user = User.find resource[0]
                    = "#{user.username} (#{resource[0]})"
                  td
                    = user.email
                  td
                    = user.profile.full_name
                  td
                    = user.profile.payment_to
                  - if params[:user] == "Member" || params[:user] == "Manager" || params[:user] == "Referral"
                    td
                      = get_currency(resource[1])
                  - elsif params[:user] == "Merchant"
                    td
                      = get_currency(resource[1])
                    td
                      = get_currency(resource[2])
                    td
                      = get_currency(resource[3])
                  - if params[:user] == "Merchant" || params[:user] == "Member"
                    td
                      = user.status_payment?

        .widget-foot
          .pull-right
            = paginate @commissions if @commissions.present?
          .clearfix
