<table border="1">
	<caption>Rekap Pembayaran <%= params[:user] %> <%= show_search_form_date(params[:start_at], params[:end_at]) %></caption>
	<tr>
		<th>Username <%= params[:user] %></th>
		<th>Email</th>
    <th>Nama Lengkap</th>
    <th>Rekening</th>
		<% if params[:user] == "Member" || params[:user] == "Manager" %>
			<th>Komisi</th>
		<% else %>
			<th>Penjualan</th>
			<th>Ongkir</th>
			<th>Total</th>
		<% end %>
		<th>Status Payment</th>
	</tr>

	<% @commissions.each do |resource| %>
	<tr>
		<td>
	    <% user = User.find resource[0] %>
	    <%= "#{user.username} (#{resource[0]})" %>
	  </td>
    <td><%= user.email %></td>
    <td><%= user.profile.full_name %></td>
    <td><%= user.profile.payment_to %></td>
	  <% if params[:user] == "Member" || params[:user] == "Manager" %>
	    <td>
	      <%= get_currency(resource[1] + resource[2]) %>
	    </td>
	  <% else %>
	    <td><%= get_currency(resource[1]) %></td>
	    <td><%= get_currency(resource[2]) %></td>
	    <td><%= get_currency(resource[3]) %></td>
	  <% end %>
	  <td><%= user.status_payment? %></td>
	</tr>
	<% end %>
</table>