.chat {
  .body-chat {
    min-height: 435px;
    .not-found {
      text-align: center;
      margin-top: 150px;
      i {
        font-size: 55px;
      }
    }
  }
  .message {
    background: #f1f3f6;
    .read {
      margin-right: -10px;
      margin-left: 10px;
    }
    .message-author {
      font-weight: bold;
    }
  }
  .file {
    position: absolute;
    z-index: 10;
    right: 63px;
    top: 5px;
    .select-wrapper {
      display: block;
      position: relative;
      width: 33px;
      height: 26px;
      font-size: 16px;
    }
    .select-wrapper:before {
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      left: 7px;
    }
  }
}

.chat-avatar {
  width: 36px;
  height: 36px;
  float: left;
  margin-right: 10px;
  border-radius: 50%;
}
.chat-user-name {
  padding: 10px;
}
.chat-user {
  padding: 8px 10px;
  border-bottom: 1px solid #e7eaec;
}
.chat-user a {
  color: inherit;
}
.chat-view {
  z-index: 1070;
}
.chat-users,
.chat-statistic {
  margin-left: -30px;
}
@media (max-width: 992px) {
  .chat-users,
  .chat-statistic {
    margin-left: 0px;
  }
}
.chat-view .ibox-content {
  padding: 0;
}
.chat-message {
  padding: 10px 20px;
}
.message-avatar {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  margin-top: 1px;
}
.chat-discussion .chat-message .message-avatar {
  float: left;
  margin-right: 10px;
}
.chat-discussion .message {
  background-color: #f7f8fa;
  text-align: left;
  display: block;
  padding: 10px 20px;
  position: relative;
  border-radius: 4px;
}
.chat-discussion .chat-message .message-date {
  float: right;
}
.chat-discussion .chat-message .message {
  text-align: left;
  margin-left: 55px;
}
.message-date {
  font-size: 10px;
  color: #888888;
}
.message-content {
  display: block;
}
.chat-users,
.chat-discussion {
  max-height: 500px;
  overflow: auto;
  padding: 0;
}
.chat-discussion .chat-message.left .message-date {
  float: right;
}
.chat-discussion .chat-message.right .message-date {
  float: left;
}
.chat-discussion .chat-message.left .message {
  text-align: left;
  margin-left: 55px;
}
.chat-discussion .chat-message.right .message {
  text-align: right;
  margin-right: 55px;
}
.chat-discussion .chat-message.left .message-avatar {
  float: left;
  margin-right: 10px;
}
.chat-discussion .chat-message.right .message-avatar {
  float: right;
  margin-left: 10px;
}
.chat-discussion {
  padding: 15px 10px;
}



@media screen and (max-width: 991px) {

}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 550px) {

}

@media screen and (max-width: 450px) {
}

@media screen and (max-width: 350px) {
}