/*   color   */
$green : #014c35;
$silverlow : #7b7b7b;
$silverlight : #dedede;


/*=======================================
  EDIT PROFIL
=======================================*/
.edit-profile-member {
  top: 56px!important;
  .text-600 {
    font-weight: 600;
  }
  .responsive-about-am {
    border: solid 1px #dddddd;
  }
  #profile, #account {
    margin-top: 30px;
  }
  .user-bg {
    margin-top: -15px!important;
    height: 230px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    color: white;
    border-radius: 3px 3px 0px 0px;
    background-color: #0070ba;
    background-image: linear-gradient(100deg, #0070ba, #1546a0);
    .user-content {
      padding: 15px;
      margin-top: 30px;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      height: 100%;
      text-align: center;
      z-index: 1;
      .thumb-lg {
        height: 88px;
        width: 88px;
      }
    }
    .overlay-box {
      background: #003350;
      opacity: 0.9;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      height: 100%;
      text-align: center;
    }
  }
  .hr-label {
    position: relative;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
    clear: both;
    overflow: hidden;
    font-weight: bold;
  }
  .hr-label::before {
    right: 0.5em;
    margin-left: 7px;
  }
  .hr-label::after {
    left: 0.5em;
  }
  .hr-label::before, .hr-label::after {
    content: '';
    position: relative;
    width: 50px;
    background-color: rgba(0,0,0,0.2);
    display: inline-block;
    height: 1px;
    vertical-align: middle;
  }
  .tab-profile {
    position: relative;
    z-index: 1;
    border-bottom: 0px!important;
  }
  .photo-profil-head {
    margin-bottom: 30px;
    .photo-profile {
      position: relative;
      width: 200px;
      height: 200px;
      margin: auto;
      display: table;
      i {
        position: absolute;
        top: 50%;
        left: 49.5%;
        font-size: 30px;
        transform: translate(-45%, -45%);
        display: none;
      }

      .change-profile {
        width: 200px;
        height: 200px;
      }
      .icon-upload-profile {
        display: block;
        position: absolute;
        top: -100%;
        opacity: 0;
        left: 0;
        bottom: 0;
        right: 0;
        text-align: center;
        color: inherit;
      }
    }
    .photo-profile:hover img{
      opacity: 0.5;
    }
    .photo-profile:hover i{
      display: block;
      z-index: 500;
    }
    .profile-img-container {
      position: absolute;
      /*width:50%;*/
      /*border-radius:50%;*/
      overflow:hidden;
    }

    .profile-img-container img:hover {
      opacity: 0.5;
      z-index: 501;
    }

    .profile-img-container img:hover + i {
      display: block;
      z-index: 500;
    }

    .profile-img-container .icon-wrapper {
      position: absolute;
      bottom:0;
      left:0;
      background:rgba(0,0,0,0.7);
      color:#fff;
      text-align:center;
      width:100%;
      padding:5px;
    }

  /*.profile-img-container img {
  position:absolute;
  }*/

  /*.profile-img-container {
    position:relative;
    }*/

    input[type="file"] {
      opacity:0;
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      z-index: 1024;
    }
  }
  .field-acc-payment{
    /*display: none;*/
  }
}


/*=======================================
  Map Custom
=======================================*/
#mapprofile {
  height: 400px;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  border: solid 1px #ccc;
  background: #ccc;
}
.controls {
  background-color: white!important;
  border-radius: 2px!important;
  border: 1px solid transparent!important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3)!important;
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 17px;
  margin-top: 10px!important;
  outline: none!important;
  padding: 0 11px 0 13px!important;
  text-overflow: ellipsis;
  width: 70%!important;
  height: 29px!important;
}
.controls:focus {
  border-color: #4d90fe;
}
#infowindow-content {
  display: none;
}
#mapprofile #infowindow-content {
  display: inline;
}
#map {
  height: 200px;
  width: 100%;
}
