
/*   color   */
$green : #014c35;
$silverlow : #7b7b7b;
$silverlight : #dedede;

/*=======================================
	Header Publisher
=======================================*/
.header-publisher {
	border-bottom: 1px solid #e4e5e7 !important;
	background-color: white!important;
	color: white!important;
	height: 56px!important;
	z-index: 9999;
	#logo {
		width: 220px!important;
	}
	.information-section{
		width: 67%;
		color: #313131;
		marquee{
			width: 100%;
			.content{
				padding: 0;
				display: flex;
				.title-marquee{
					font-weight: 600;
				}
			}
		}
	}
	.hide-menu {
		background-color: white!important;
		border-right: 1px solid #f1f3f6 !important;
		border-left: 1px solid #f1f3f6 !important;
		i {
			color: #7d7d7d;
		}
	}
	.open {
		.dropdown-toggle{
			i {
				color:#7d7d7d;
			}
		}
		a {
			border-bottom: 0px!important;
		}
	}
	ul {
		margin-right: 16px;
		li {
			.menu-icon:hover,.menu-icon:after,.menu-icon:before,.menu-icon:focus{
				background-color: #f1f3f6!important;
				border-bottom: 1px solid #f1f3f6 !important;
				i {
					color: #e4e5e7!important;
				}
			}
			a:hover {
				border-bottom: 0px!important;
			}
			.logout {
				padding: 10px 20px;
				font-size: 25px;
				background-color: #f1f3f6;
				border: none;
				i {
					color: #7d7d7d;
				}
			}
		}
	}
	.icon-white {
		color: white!important;
	}
	input {
		color: white!important;
	}
	.light-version {
		background-color: #f1f3f6 !important;
		border-bottom: 1px solid #e4e5e7 !important;
		span {
			color:#777777 !important;
		}
	}
}



@media screen and (max-width: 991px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 550px) {
	
}

@media screen and (max-width: 450px) {

}

@media screen and (max-width: 350px) {
	
}