/*--------------------------*/
/*     Merchants Global     */
/*--------------------------*/
.tcenter{
	text-align: center;
}
.break{
	height: 10px;
	float: left;
	width: 100%;
}
.select-birthday{
	width: 33.33%!important;
  margin-bottom: 15px;
}
.mg-bot25{
  margin-bottom: 25px;
}
.mgtop20{
  margin-top:20px;
}
.title-member-content{
  padding: 10px 0;
}
.box-search-catalog {
  margin: 0px 0;
  margin-bottom: 10px;
}
.mgleft0{
  margin-left: 0;
}

/*--------------------------*/
/*         Side Bar         */
/*--------------------------*/
.profile-picture{
	.img-profile{
		margin: auto;
		display: table;
    margin-bottom: 10px;
    border-radius: 50px;
	}
}
.tabbable{
	.tab-content{
		margin-top: 20px;
	}
}

/*--------------------------*/
/*       Add Product        */
/*--------------------------*/
.setup-content .choice-gallery-form{
  list-style: none;
  padding-left: 0;
}
.setup-content .choice-gallery-form li{
  width: 16.6%;
  float: left;
  border: solid 1px #ccc;
  padding: 2px;
  height: 150px;
  position: relative;
}
.setup-content .choice-gallery-form li.cover{
  height: 150px;
  width: 200px;
}
.setup-content .choice-gallery-form img{
  width: 100%;
  height: 100%;
}
.setup-content .choice-gallery-form .input-file{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  cursor: pointer;
  opacity: 0.0;
}
.setup-content .choice-gallery-form li.overview{
  width: 50%!important;
  height: 120px!important;
  position: relative;
}
.setup-content .choice-gallery-form li.overview span{
  position: absolute;
  color: #fff;
  font-weight: bold;
  top: 5px;
  left: 5px;
  font-size: 14px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.panel-cst{
  .panel-heading{
    background: linear-gradient(100deg, #0070ba, #1546a0);
    color: white;
  }
}
.btn-save{
  background: linear-gradient(100deg, #0070ba, #1546a0);
  border-color: rgba(21, 70, 160, 0);
}

/*--------------------------*/
/*       Order Merchant       */
/*--------------------------*/
/*.bs-wizard > .bs-wizard-step {
  padding: 0;
  position: relative;
  margin-top: 50px;
}*/
.table, table tr td {
  border: solid 1px #ddd;
}
.panel-refund{
  margin-top: 20px;
  float: left;
  margin-bottom: 0;
  width: 100%;
}
.panel-activities{
  margin-top: 20px;
  float: left;
  width: 100%;
}

/*--------------------------*/
/*    TimeLine Activities   */
/*--------------------------*/
.message-item {
  margin-bottom: 25px;
  margin-left: 40px;
  position: relative;
}
.message-item .message-inner {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px;
  position: relative;
}
.message-item .message-inner:before {
  border-right: 10px solid #ddd;
  border-style: solid;
  border-width: 10px;
  color: rgba(0,0,0,0);
  content: "";
  display: block;
  height: 0;
  position: absolute;
  left: -20px;
  top: 6px;
  width: 0;
}
.message-item .message-inner:after {
  border-right: 10px solid #fff;
  border-style: solid;
  border-width: 10px;
  color: rgba(0,0,0,0);
  content: "";
  display: block;
  height: 0;
  position: absolute;
  left: -18px;
  top: 6px;
  width: 0;
}
.message-item:before {
  background: #00c0ef;
  border-radius: 2px;
  bottom: -30px;
  content: "";
  height: 100%;
  left: -30px;
  position: absolute;
  width: 2px;
}
.message-item:after {
  background: #00c0ef;
  border-radius: 50%;
  content: "";
  height: 15px;
  left: -36px;
  position: absolute;
  top: 10px;
  width: 15px;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.message-item .message-head {
  border-bottom: 1px solid #eee;
  margin-bottom: 8px;
  padding-bottom: 8px;
}
.message-item .message-head .avatar {
  margin-right: 20px;
}
.message-item .message-head .user-detail {
  overflow: hidden;
}
.message-item .message-head .user-detail h5 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.message-item .message-head .post-meta {
  float: left;
  padding: 0 15px 0 0;
}
.message-item .message-head .post-meta >div {
  color: #333;
  font-weight: normal;
  text-align: right;
}
.post-meta > div {
  color: #777;
  font-size: 12px;
  line-height: 22px;
}
.message-item .message-head .post-meta >div {
  color: #333;
  font-weight: normal;
  text-align: right;
}
.post-meta > div {
  color: #777;
  font-size: 12px;
  line-height: 22px;
}
.avatar-timeline{
  img {
    min-height: 40px;
    max-height: 40px;
  }
}

/*--------------------------*/
/*         Dashboard       */
/*--------------------------*/
.col-5{
  width: 20%;
  float: left;
  padding: 0 15px;
}

.show-choice{
  width: 100%;
}