body {
	color: #282e40;
}
.tcenter{
	text-align: center;
}
/*.col-md-12 {
	float: left;
}*/

/*---------------------------*/
/*       number spinner       */
/*---------------------------*/
.number-spinner{
  margin: auto;
	.cst{
		width: 40px;
		text-align: center;
		font-size: 12px;
	}
	.btn-default{
		background: white;
	}
}
/*---------------------------*/
/*        Affiliate          */
/*---------------------------*/
.affiliate{
	width: 100%;
	float: left;
	.border-yellow{
		border-top: 2px solid #f0ad4e!important;
	}
	.border-blue{
		border-top: 2px solid #5bc0dd!important;
	}
	.border-red{
		border-top: 2px solid #d8534f!important;
	}
	.border-green{
		border-top: 2px solid #62cb31!important;
	}
	.box{
    background: white;
    margin-bottom: 20px;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    h6{
    	font-size: 16px;
    	font-weight: 600;
		}
		h5{
			color: grey;
			font-size: 13px;
		}
	}
}

/*---------------------------*/
/*          Blog             */
/*---------------------------*/
.img-auto{
	top: -9999px;
	right: -9999px;
	left: -9999px;
	bottom: -9999px;
	margin: auto;
	position: absolute;
	width: 100%;
	height: auto;
	z-index: 1;
}
.blog-show{
	p{
		font-size: 15px;
	}
}
.mgbot20{
	margin-bottom: 20px;
}
.header-blog{
	float: left;
	width: 100%;
	background: white;
	padding: 20px 35px;
	border-bottom: 1px solid #e8e8e8;
	margin-bottom: 25px;
	.title{
		font-size: 14px;
		font-weight: bold;
		color: #5f5f5f;
	}
	.title2{
		font-size: 20px;
		font-weight: 300;
	}
	.grey{
		color: #484848;
	}
}
.box-article{
	background: white;
	width: 100%;
	border: 1px solid #e6e6e6;
	color: #484848;
	transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
	&:hover{
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.05);
		.overplay{
			background: rgba(37, 40, 48, 0.25098039215686274);
		}
	}
	.box-img{
		overflow: hidden;
		position: relative;
		height: 165px;
		.overplay{
			position: absolute;
			z-index: 2;
			width: 100%;
			height: 100%;
			transition: all 0.3s ease-in-out;
			/*background: rgba(37, 40, 48, 0.25098039215686274);*/
			i{
				position: absolute;
				color: white;
				text-align: center;
				left: 0px;
				right: 0px;
				margin: auto;
				top: 0px;
				font-size: 50px;
				transform: translate(0%, 40%);
				height: 100%;
			}
		}
	}
	.box-description{
		padding: 10px;
		height: 110px;
		.title{
			font-size: 15px;
			font-weight: 600;
		}
		.date{
			text-align: right;
			font-size: 11px;
			margin-bottom: 8px;
			font-weight: 300;
		}
		.category{
			font-weight: 100;
			margin-top: 5px;
		}
	}
}

/*---------------------------*/
/*       Shop Container      */
/*---------------------------*/
.shops-container{
	p {
		font-family: arial!important;
		font-size: 14px;
    letter-spacing: 0.4px;
	}
	.image-gallery-product {
		width: 100%;
		display: block;
		overflow: hidden;
		margin-top: 15px;
		margin-bottom: 15px;
		.gallery {
			.box-gallery-thumb {
		    height: 80px;
		    width: 100%;
		    border: solid 2px white;
	      position: relative;
		    overflow: hidden;
		    img {
					width: auto;
					height: 100%;
					min-width: 100%;
				}
			}
		}
	}
	.tab-content {
		font-family: arial!important;
		font-size: 14px;
    letter-spacing: 0.4px;
	}
	section{
		padding: 0;
	}
	.container{
		width: 100%!important;
		padding: 0;
	}
	.simple-top-search{
		.input-group{
			width: 100%;
		}
	}
	.detail-product, section.bg-white{
		padding: 15px;
	}
	.detail-product {
		.thumb-product {
			width: 100%;
		}
	}
	.btn-g{
		margin-left: 0;
	}
}

.cart-text-member{
	position: absolute;
	margin-right: 25px;
	top: 15px;
	.fa{
		font-size: 20px;
	}
}

.cr-order{
	position: absolute;
	z-index: 2;
	color: white;
	top: 2px!important;
	right: -22px;
	background: #d63b30;
	overflow: hidden;
	padding: 0px 5px;
	border-radius: 10px;
	font-size: 12px;
}

.flipInX i {
	font-size: 12px;
}
.use {
	.btn-how-to-use {
		display: none;
	}
	.how-to-use {
		display: table;
		width: 100%;
	}
}
/*---------------------------*/
/*    Button Gradien Blue    */
/*---------------------------*/
.btn-gb {
	color: white!important;
	background-color: #0070ba!important;
	background-image: linear-gradient(100deg, #0070ba, #1546a0)!important;
	border: 1px #0070ba solid!important;
	text-align: center;
	&:hover {
		opacity:0.9;
		color: white;
	}
	&:after, &:focus {
		color: white;
	}
}

a {
	color: #115bad;
}
/*--------------------*/
/*        Menu        */
/*--------------------*/
#menu {
	top: 55px;
	width: 250px!important;
	-webkit-box-shadow: 20px 0 20px -20px #d3d7e9;
	-moz-box-shadow: 20px 0 20px -20px #d3d7e9;
	box-shadow: 20px 0 20px -20px #d3d7e9;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	z-index: 2;
	.profile-picture {
		text-align: left;
		overflow: hidden;
		border-bottom: 1px solid #f1f4f6;
		a {
			float: left;
			img {
				width: 55px!important;
				margin-bottom: 0px;
				height: 55px;
			}
		}
		.stats-label {
			line-height: 1.2;
			margin-left: 70px;
			.link-text {
				width: 100%;
				margin-top: 10px;
				small {
					font-size: 12px;
					font-weight: 600;
					text-transform: capitalize;
					color: #282E3F;
				}
			}
			.text-muted {
				width: 100%;
				float: left;
				margin-top: 3px;
				small {
					font-size: 10px;
					a {
						color: white;
						font-weight: 500;
						background-color: #0070ba;
						background-image: linear-gradient(100deg, #0070ba, #1546a0);
						padding: 5px 5px;
						border-radius: 3px;
						margin-top: 3px;
					}
				}
			}
		}
	}

	#side-menu {
		background: white;
		li {
			border-bottom: 0px solid #e4e5e7;
			a {
				color: #282E3F;
				text-transform: uppercase;
				font-weight: 600;
				padding: 15px 20px;
				&:hover, &:focus, &:after {
					background-color: #0070ba;
					background-image: linear-gradient(100deg, #0070ba, #1546a0);
					color: white;
				}
				i {
					font-size: 14px;
				}
			}
			.nav-second-level {
				.active {
					a {
						background-color: #1448a1;
						color: white;
					}
				}
			}
			&:first-child {
				border-top: 0px solid #f1f4f6;
			}
		}
		.active {
			background-color: #0070ba;
			background-image: linear-gradient(100deg, #0070ba, #1546a0);
			a {
				color: white;
			}
		}
	}
	.about-store {
		.about-store-title {
			margin-top: 20px;
			padding-left: 22px;
			color: #282e4c;
			font-weight: bold;
			font-size: 12px;
			margin-bottom: 5px;
		}
		.sidebar{
			li {
				color: #363b5f;
				font-size: 11px;
				letter-spacing: 0.5px;
				a {
					font-size: 11px;
					letter-spacing: 0.5px;
					color: #363b5f;
				}
			}
		}
	}
}
.text-to a{
	color: white;
	font-weight: 500;
	background-color: orange;
	padding: 5px 5px;
	border-radius: 3px;
	margin-top: 3px;
	font-size: 10px;
	float: none;
}
/*--------------------*/
/*        Header      */
/*--------------------*/
#header {
	#logo {
		width: 250px!important;
		background-color: white!important;
		padding: 18px 18px 18px 18px;
		.img-logo {
			height: 35px;
			margin-top: -7px;
		}
	}
	.hide-menu {
		border-right: 0px!important;
	}
}

/*--------------------*/
/*        Modal       */
/*--------------------*/
.modal {
	.modal-header {
		color: white;
		background-color: #0070ba;
		background-image: linear-gradient(100deg, #0070ba, #1546a0);
		border: 1px #0070ba solid;
	}
	.modal-body {
		.btn-save-modal {
			color: white;
			background-color: #0070ba;
			background-image: linear-gradient(100deg, #0070ba, #1546a0);
			border: 1px #0070ba solid;
		}
	}
}

#wrapper {
	margin: 0 0 0 250px;
	.welcome {
		.hpanel {
			.panel-body {
				border-left: 0px;
				border-right: 0px;
				.icon-hi {
					width: 50px;
					height: 40px;
					float: left;
					margin-right: 20px;
					border-right: solid 1px #ccc;
					i {
						font-size: 30px;
						margin-top: 7px;
						color: #144ba3;
					}
				}
				.text-hi {
					h2 {
						font-size: 16px;
						margin-top: 0px;
						margin-bottom: 5px;
						color: #464646;
						font-weight: 700;
						text-transform: uppercase;
					}
					p {
						margin-bottom: 0px;
					}
				}
			}
		}
	}

	/*--------------------*/
	/*      Referral      */
	/*--------------------*/
	.referral-dashboard {
		p {
			font-size: 12px;
			font-weight: 600;
			margin-top: 0px;
			margin-bottom: 10px;
			color: #282E3F;
		}
		.input-group {
			margin-bottom: 4px;
		}
		small {
			color: #464646;
		}
		.btn-secondary {
			color: white;
			background-color: #0070ba;
			background-image: linear-gradient(100deg, #0070ba, #1546a0);
			border-color: #1250a6;
			font-weight: 500;
		}
	}

	.title-member-content {
		font-size: 18px;
		color: #282e40;
		b {
			font-weight: 600;
		}
		.b-reseller {
			float: left;
			margin-top: 10px;
		}
	}

	.box-info{
		height: 110px;
		margin-bottom: 20px;
		position: relative;
		.strip{
			border-top: 1px solid blue;
		}
		.stats-icon {
			position: absolute;
			background: #e0f0fd;
			color: #007ae1;
			padding: 20px 22px;
			border-radius: 50px;
			font-size: 10px;
			.fa-4x {
				font-size: 30px;
			}
		}
		.stats-icon-1 {
			position: absolute;
			background: #e0f0fd;
			color: #007ae1;
			padding: 20px;
			border-radius: 50px;
			font-size: 10px;
			.fa-4x {
				font-size: 30px;
				color: #1265b3;
				font-weight: 500;
			}
		}
		.m-t-xl {
			margin-top: 35px;
			margin-left: 90px;
			h1 {
				font-size: 18px;
				font-weight: 500;
				color: #1265b3;
			}
		}

		.stats-title {
			margin-left: 90px;
			margin-top: 15px;
			h4 {
				font-size: 12px;
				font-weight: 600;
				margin-top: 0px;
				margin-bottom: 0px;
				color: #282E3F;
			}
		}
		.stats-manager {
			margin-left: 90px;
			margin-top: 0px;
			margin-bottom: 8px;
			h4 {
				font-size: 12px;
				font-weight: 600;
				margin-top: 0px;
				margin-bottom: 0px;
				color: #282E3F;
			}
			small {

			}
		}
		.btn-send-message {
			background-color: #0070ba;
			background-image: linear-gradient(100deg, #0070ba, #1546a0);
			margin-left: 90px;
			border: 0px;
			color: white;
		}
	}

	.box-comision-approve {
		color: white;
		background-color: #0070ba;
		background-image: linear-gradient(100deg, #0070ba, #1546a0);
		hr {
			border-top: 1px solid #66a6e0;
		}
		.cash-approve {
			color: #6beaff;
			font-size: 20px;
			margin-bottom: 10px;
		}
		.title-approve {
			font-size: 16px;
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: 0.5px;
		}
	}

	/*--------------------*/
	/*				Price 			*/
	/*--------------------*/
	.price-package-content {
		position: relative;
		z-index: 2;
		padding: 0px 25px;
		padding-bottom: 100px;
		.button-register {
			padding: 20px 20px;
			width: 90%;
			margin-top: -82px;
			position: absolute;
			.btn-orange {

			}
		}
		.desc-package-price{
			float: right;
			width: 75%;
			color: #2d2c2c;
			font-size: 20px;
			text-align: right;
			line-height: 50px;
		}
		.desc-package-price2{
			float: right;
			font-size: 12px;
		}
		.box-package-price{
			position: relative;
			transition: all 0.3s ease-in-out;
			&:hover {
				box-shadow: 0 0 56px #12152942;
				transition: all 0.3s ease-in-out;
			}
			.starter {
				background-color: #eea82d;
			}
			.basic {
				background-color: #e98e2d;
			}
			.advance {
				background-color: #dc6e2b;
			}
			.premium {
				background-color: #d1592b;
			}
			.title-box-package{
				color: white;
				text-align: center;
				padding: 15px 0;
				font-size: 16px;
				font-weight: 500;
			}
			.box-img-price{
				background-image: asset-url('official/bg-blue.jpg');
				background-size: contain;
				color: white;
				text-align: center;
				font-size: 14px;
				padding: 35px 0;
				.big-font {
					font-size: 20px;
				}
			}
			.textsmall {
				width: 100%;
				font-size: 12px;
				margin-top: -5px;
				color: #e8e8e8;
			}
			.box-desc-package{
				background: white;
				padding: 20px;
				border: 1px solid #e4e5e7;
				.desc-package{
					font-size: 12px;
					color: #282e40;
					margin-bottom: 5px;
					b{
						font-size: 12px;
					}
				}
				.desc-package2{
					font-size: 12px;
					color: #25283080;
					margin-bottom: 5px;
					text-decoration: line-through;
					b{
						font-size: 12px;
						color: #25283080;
					}
				}
				.desc-package1{
					font-size: 12px;
					color: #6b6b6b;
					margin-bottom: 5px;
				}
			}
		}
	}

	/*--------------------*/
	/*				Table 			*/
	/*--------------------*/
	.table-2000 {
		width: 2000px;
	}
	.table-1000 {
		width: 1000px;
	}

	/*--------------------*/
	/*       Payment 		  */
	/*--------------------*/
	.box-keyword {
		border: 1px solid #e4e5e7!important;
		border-top: inherit;
		overflow:hidden;
		margin-bottom: 20px;
	}
	.box-payment {
		border: 1px solid #e4e5e7;
		.nomber-step {
			background-color: #0070ba;
			background-image: linear-gradient(100deg, #0070ba, #1546a0);
			border: 1px #0070ba solid;
		}
		i {
			background: #e0f0fd;
			color: #007ae1;
			padding: 10px 10px;
			border-radius: 50px;
			font-size: 42px;
			margin-bottom: 12px;
		}
		small {
			color: #29344b;
		}
	}

	/*--------------------*/
	/*       Invoice 		  */
	/*--------------------*/
	.timeline-invoice {
		.timeline-inverted {
			.timeline-body {
				.content-timeline {
					h5 {
						font-size: 12px;
					}
					h4 {
						font-size: 14px;
						font-weight: 600;
					}
				}
			}
			.timeline-badge {
				i {
					color: #115bad;
				}
			}
		}
	}

	/*---------------------------*/
	/*       Mesage Manager 		 */
	/*---------------------------*/
	.edit-profile-member {
		.content-chat {
			.user-bg {
				.overlay-box {
					color: white;
					background-color: #0070ba;
					background-image: linear-gradient(100deg, #0070ba, #1546a0);
				}
			}
			.hbuilt {
				color: white;
				background-color: #0070ba;
				background-image: linear-gradient(100deg, #0070ba, #1546a0);
			}
		}
	}

	/*---------------------*/
	/*       Setting 		   */
	/*---------------------*/
	.content-setting {
		.title-tab-edit {
			color: white;
			background-color: #0070ba;
			background-image: linear-gradient(100deg, #0070ba, #1546a0);
		}
		.right-webset {
			.card-avatar {
				.avatar-setting {
					margin-bottom: 20px;
					float: left;
					border: 1px solid rgba(192, 192, 192, 0.45);
				}
			}
			.box-img-favicon{
				width: 100px;
				border: 1px solid rgba(192, 192, 192, 0.45);
			}
			.box-img-logo{
				width: 200px;
				border: 1px solid rgba(192, 192, 192, 0.45);
			}
			.box-img-banner{
				height: 210px;
				overflow: hidden;
				border: 1px solid rgba(192, 192, 192, 0.45);
			}
		}
		.left-webset {
			margin-top: 9px;
		}
	}
	.form-group{
		.user{
			float: left;
			border: 1px solid rgba(192, 192, 192, 0.45);
		}
	}
	.img-order{
		width: 60px;
	}
	/*--------------------*/
	/*      Analytic      */
	/*--------------------*/
	.box-schema {
		.revenue {
			color: white;
			background-color: #0070ba;
			background-image: linear-gradient(100deg, #0070ba, #1546a0);
			font-size: 16px;
			border: solid 0px #e4e5e7;
			small {
				font-size: 16px;
			}
		}
		.btn-chart {
			.active {
				color: white;
				background-color: #0070ba;
				background-image: linear-gradient(100deg, #0070ba, #1546a0);
				border: 1px #0070ba solid;
			}
			button {
				font-size: 12px;
			}
		}
		.search-form {
			font-size: 13px;
			input {
				border-radius: 4px;
			}
			button {
				color: white;
				background-color: #0070ba;
				background-image: linear-gradient(100deg, #0070ba, #1546a0);
				border: 1px #0070ba solid;
				margin-top: -4px;
				height: 33px;
				font-size: 13px;
				border-radius: 4px;
			}
		}
	}

	/*--------------------*/
	/*      Top Menu      */
	/*--------------------*/
	.top-member-menu {
		ul {
			li {
				a.active {
					color: white;
					background-color: #0070ba;
					background-image: linear-gradient(100deg, #0070ba, #1546a0);
					border: 1px #0070ba solid;
					transition: all 0s ease-in-out;
				}
				a {
					padding: 10px 15px;
					font-size: 13px;
					border: solid 1px #e4e5e7;
					transition: all 0s ease-in-out;
					&:hover, &:focus {
						color:white;
						background-color: #0070ba;
						background-image: linear-gradient(100deg, #0070ba, #1546a0);
						border: 1px #0070ba solid;
						transition: all 0s ease-in-out;
					}
				}
			}
		}
	}

	.submit-search {
		.btn, .form-custom {
			color: white;
			background-color: #0070ba;
			background-image: linear-gradient(100deg, #0070ba, #1546a0);
			border: 1px #0070ba solid;
			margin-top: 0px;
			height: 34px;
			font-size: 13px;
		}
	}

	/*--------------------*/
	/*      Dashboard     */
	/*--------------------*/
	.box-dashboard-info {
		.title-info {
			padding: 10px 10px;
			color: white!important;
			background-color: #0070ba;
			background-image: linear-gradient(100deg, #0070ba, #1546a0);
			border-bottom: 1px solid #e2e2e2;
		}
		.box-content-info {
			i {
				background: #e0f0fd;
				color: #007ae1;
				padding: 15px;
				border-radius: 50px;
				font-size: 30px;
				margin-bottom: 15px;
			}
			.width {
				padding: 15px 17px!important;
			}
			.txt {
				font-size: 14px;
				font-weight: 600;
				color: #1265b3;
				.blue {
					font-size: 22px;
					font-weight: 500;
					color: #1265b3;
				}
				.red {
					font-size: 22px;
					font-weight: 500;
					color: #ff4c4c;
				}
			}
			i.blue {
				background: #e0f0fd;
				color: #007ae1;
				padding: 15px 18px!important;
				border-radius: 50px;
				font-size: 30px;
				margin-bottom: 15px;
			}
			i.red {
				background: #fde8e8;
				color: #ff4c4c;
				padding: 15px 18px!important;
				border-radius: 50px;
				font-size: 30px;
				margin-bottom: 15px;
			}
			.detail {
				position: absolute;
				font-size: 10px;
				right: 10px;
				top: 10px;
				font-weight: 600;
				color: #1152a8;
				background: #e0f0fd;
				padding: 5px 10px;
				.bg {
					font-weight: 600;
					font-size: 16px;
				}
			}
		}
	}

	.box-comision-approve {
		.cash-approve {
			.red {
				color: #ff7575;
			}
		}
	}

	.box-add-product {
		i {
			float: left;
			margin-top: 7px;
			margin-right: 10px;
			background: #e0f0fd;
			color: #007ae1;
			padding: 10px 10px;
			border-radius: 50px;
			font-size: 42px;
			margin-bottom: 12px;
		}
		.i-1 {
			padding: 10px 14px;
		}
		.nomber-step {
			color: white;
			background-color: #0070ba;
			background-image: linear-gradient(100deg, #0070ba, #1546a0);
			border: 1px #0070ba solid;
		}
		p{
			font-size: 10px;
		}
	}

	/*--------------------*/
	/*        Shop        */
	/*--------------------*/
	.shops-container {
		.simple-top-search {
			border-top: 0px solid #c81423;
			border: 1px solid #e4e5e7;
			.btn-gb {
				color: white;
				background-color: #0070ba;
				background-image: linear-gradient(100deg, #0070ba, #1546a0);
				border: 1px #0070ba solid;
				text-align: center;
			}
			.select2-container--default {
				.select2-selection--single {
					border: solid 0px #f1f4f6 !important;
					.select2-selection__rendered {
						line-height: 22px;
					}
					.select2-selection__arrow {
						b {
							margin-top: 2px;
						}
					}
				}
			}
			.layout-slider {
				padding: 18px 0 0;
				.jslider {
					.jslider-value {
						font-size: 10px;
						letter-spacing: 0.5px;
						padding: 3px 5px 1px;
						top: -23px;
						color: #fff;
						background: #0070ba!important;
						background-image: linear-gradient(100deg, #0070ba, #1546a0)!important;
					}
					.jslider-label {
						font-size: 10px;
						line-height: 12px;
						letter-spacing: 0.5px;
						color: #282e40;
						opacity: 1;
					}
				}
			}
		}
		.mgdetail-item {
			.active {
				a, a:hover {
					color: #fff;
					background: #0070ba !important;
					background-image: linear-gradient(100deg, #0070ba, #1546a0) !important;
					border: solid 1px #1156aa;
				}
			}
			li {
				a {
					font-weight: 600;
					color: #3c3c3c;
					border: solid 1px #e6e6e6;
					background-color: white !important;
				}
			}
		}
		.new-product-wrapper {
			.box-product-list {
				box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0);
				border: solid 1px #e4e5e7;
				.box-img-wrapper {
					height: 200px;
					.img-auto {
						max-height: 100%;
						min-height: 100%;
						min-width: 100%;
						max-width: 120%;
						width: auto;
					}
				}
				.already-in-cart {
					cursor: pointer;
					box-sizing: border-box;
					-moz-box-sizing: border-box;
					-webkit-box-sizing: border-box;
					border: 4px solid transparent;
					margin-bottom: 0;
					outline: 0;
					transition: all 0.3s ease-in-out;
					.product-cart {
						position: absolute;
						color: white;
						background-color: transparent;
						padding: 15px;
						top: 0;
						right: 0;
						z-index: 3;
						width: 100%;
						height: 100%;
						background-color: rgba(0, 0, 0, 0.67)!important;
						.title {
							font-size: 14px;
							position: absolute;
							left: 5px;
							right: 5px;
							top: 10%;
							font-weight: 600;
							text-align: center;
							transform: translateY(135%);
							display: block !important;
						}
					}
				}
				.box-desc-bottom {
					.status-stock {
						.status {
							font-size: 9px;
							font-weight: 500;
							letter-spacing: 0.5px;
							padding: 2px 4px 1px;
						}
						.code {
							color: #36343f;
						}
					}
					.btn {
						margin-top: 10px;
					}
					.price {
						font-weight: 600;
						text-transform: capitalize!important;
					}
					.title {
						min-height: 45px;
						font-size: 13px;
					}
				}
			}
		}

		/*--------------------*/
		/*     Detail Shop    */
		/*--------------------*/
		.detail-product {
			.mgtop0 {
				text-transform: capitalize;
				font-weight: 500;
			}
			.side-purchase {
				.price-lg {
					font-weight: 500;
				}
				.btn-out-cart {
					color: #fff;
					background: #0070ba!important;
					background-image: linear-gradient(100deg, #0070ba, #1546a0)!important;
				}
				.status-stock {
					.status {
						color: #258000;
						font-size: 9px;
						font-weight: 600;
						letter-spacing: 0.5px;
						padding: 2px 4px 1px;
					}
					.preorder {
						color: #f57225 !important;
					}
					.stock {
						color: #2e3345;
						margin-top: -4px;
						font-weight: 500;
						font-size: 13px;
					}
				}
				.properties {
					li {
						color: #282e40;
						font-weight: 500;
					}
				}
				table {
					border: solid 1px #fff;
					margin-bottom: 15px;
					tr {
						th {
							line-height: 1.8em;
							&:nth-child(1) {
								width: 125px!important;
								font-weight: 600!important;
							}
							&:nth-child(2) {
								width: 20px;
								font-weight: 600;
							}
							&:nth-child(3) {
								font-weight: 400;
								text-transform: capitalize;
							}
						}
					}
				}
				p {
					font-weight: 500;
				}
				.new_order_item {
					margin-top: 20px;
					.form-control {
						color: #282e40;
						font-weight: 500;
					}
				}
			}
			small {
				color: #282e40;
				font-weight: 500;
				b {
					font-weight: 600;
				}
			}
			.share {
				font-weight: 600;
				color: #282e40;
			}
			.box-cover-img {
				height: auto;
			}
		}
		

		/*--------------------*/
		/*     Order Shop     */
		/*--------------------*/
		.hpanel {
			.panel {
				border-color: #e4e5e7;
				.panel-body {
					border: 0px;
				}
			}
		}
		.shopping-cart {
			.suppercase {
				a {
					color: #115dae;
				}
			}
			.table-review-order {
				.avatar-author {
					border: solid 0px #ccc;
					border-radius: 0%;
				}
			}
			small {
				font-weight: 500;
			}
			.table-order-list {
				tr {
					td {
						&:nth-child(3) {
							width: 120px!important;
							font-weight: 600;
						}
					}
				}
				.avatar-author {
					border-radius: 0px;
					border: 0px;
				}
				small {
					font-weight: 500;
				}
				.title-product {
					color: #115dae;
					font-weight: 500;
				}
				.edit_order_item {
					.input-quantity {
						border: solid 1px #ccc;
						padding: 1px 5px;
						text-align: center;
						width: 100%;
					}
					.btn-brown {
						color: white!important;
						background-color: #0070ba!important;
						background-image: linear-gradient(100deg, #0070ba, #1546a0)!important;
						border: 1px #0070ba solid!important;
						text-transform: capitalize;
						font-size: 12px;
						border-radius: 0px;
						width: 100%;
					}
				}
			} 
		}
		.checkradio {
			input[type=radio],
			input[type=checkbox] {
				opacity: 0;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0px;
				cursor: pointer;
				left: 0;
			}
			.fa-check {
				display: none;
				float: left;
				margin-top: 4px;
				color: #76b51b;
				
			}
			input[type="radio"]:checked ~ .panel-body .fa-square-o {
				display: none!important;
			}
			input[type="radio"]:checked ~ .panel-body .fa-check {
				display: block!important;
				color: white;
			}
			input[type="radio"]:checked ~ .panel-body {
				background:#9bcfff;
				color: white;
				font-weight: bold;
		    border: solid 1px #8bc3f7 !important;
				
			}
		}
		.edit_order {
			hr {
				margin-top: 20px;
				margin-bottom: 16px;
				border-top: 1px solid #dddddd;
			}
			h4, small {
				color: #282e40;
				font-weight: 500;
			}
			input {
				font-weight: 500;
			}
			.get_estimation {
				color: white!important;
				background-color: #0070ba!important;
				background-image: linear-gradient(100deg, #0070ba, #1546a0)!important;
				border: 1px #0070ba solid!important;
				font-size: 12px;
				width: 114%;
			}
			.btn-orange {
				color: white!important;
				background-color: #0070ba!important;
				background-image: linear-gradient(100deg, #0070ba, #1546a0)!important;
				border: 1px #0070ba solid!important;
			}
		}
		.grey {
			background-color: transparent;
		}
	}

	.no-container {
		width: 100%!important;
	}
	/*--------------------*/
	/*    Order Wizard    */
	/*--------------------*/
	.bs-wizard {
		.bs-wizard-step {
			.bs-wizard-stepnum {
				color: #282e40;
				font-size: 14px;
			}
			.bs-wizard-dot {
				width: auto;
				height: auto;
				background-color: #fff;
				padding: 12px;
				top: 32px;
				right: 0px;
				z-index: 2;
				i {
					position: initial;
					top: initial;
					left: initial;
					color: white;
					color: #0070ba;
					font-size: 22px;
					margin: 0px;
				}
			}
			.icon-1 {
				padding:12px 14px;
			}
		}
		.complete {
			.bs-wizard-stepnum {
				color: #282e40;
				font-size: 14px;
			}
			.progress {
				.progress-bar {
					box-shadow: none;
					background-color: #156eb9;
					color: white;
					border-radius: 4px;
					padding-right: 0;
				}
			}
			.bs-wizard-dot {
				color: white;
				background-color: #0070ba;
				background-image: linear-gradient(100deg, #0070ba, #1546a0);
				width: auto;
				height: auto;
				background-color: #fff;
				padding: 12px;
				top: 32px;
				right: -12px;
				z-index: 2;
				i {
					position: initial;
					top: initial;
					left: initial;
					color: white;
					font-size: 22px;
					margin: 0px!important;

				}
			}
			.icon-1 {
				padding:12px 14px;
			}
		}
	}
	.table-detail-invoice {
		.tbody-detail {
			tr {
				td {
					img {
						width: 75px;
						float: left;
					}
					.title-content-item {
						float: left;
						margin-left: 15px;
						table {
							tr {
								th {
									&:nth-child(1) {
										width: 100px;
										font-weight: 600;
									}
									&:nth-child(2) {
										width: 20px;
										font-weight: 600;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	/*--------------------*/
	/*      Catalog       */
	/*--------------------*/
	#new_catalog {
		.btn-save-catalog {
			color: white;
			background-color: #0070ba;
			background-image: linear-gradient(100deg, #0070ba, #1546a0);
			border: 1px #0070ba solid;
		}
		/*Checkboxes styles*/
		input[type="checkbox"] { display: none; }

		input[type="checkbox"] + label {
			display: block;
			position: relative;
			padding-left: 35px;
			margin-bottom: 20px;
			font: 14px/20px 'Open Sans', Arial, sans-serif;
			color: #282e40;
			text-transform: uppercase;
			cursor: pointer;
			font-weight: 600;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
		}

		input[type="checkbox"] + label:last-child { margin-bottom: 0; }

		input[type="checkbox"] + label:before {
			content: '';
			display: block;
			width: 20px;
			height: 20px;
			border: 2px solid #282e40;
			position: absolute;
			left: 0;
			top: 0;
			-webkit-transition: all .12s, border-color .08s;
			transition: all .12s, border-color .08s;
		}

		input[type="checkbox"]:checked + label:before {
			width: 10px;
			top: -5px;
			left: 5px;
			border-radius: 0;
			opacity: 1;
			border-top-color: transparent;
			border-left-color: transparent;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
	.box-catalog-product {
		border-color: #e4e4e4;
		.box-desc-product {
			text-align: left;
			padding:15px;
			.title-product-catalog {
				font-size: 12px;
				font-weight: 500;
				letter-spacing: 0.5px;
				height: 40px;
				color: #333;
				text-transform: uppercase;
				overflow: hidden;
				margin-top: -5px;
			}
			.price-product-catalog {
				color: #ff5722;
				font-weight: 600;
				font-size: 12px;
				margin-bottom: 10px;
				small {
					font-size: 10px;
					font-weight: normal;
					color: #39333a;
				}
			}
			.brand{
				font-size: 10px;
				margin-bottom: 10px;
			}
			.price-green {
				color: #99bc20;
			}
			.view-detail {
				padding: 10px 20px;
				color: white;
				background-color: #0070ba;
				background-image: linear-gradient(100deg, #0070ba, #1546a0);
				border: 1px #0070ba solid;
				width: 100%;
				display: table;
				text-align: center;
			}
		}
		.box-img-product {
			transition: all 0.3s ease-in-out;
			border-bottom: 1px solid #f1f4f6;
			&:hover {
				.button {
					margin: auto;
					display: table;
					position: relative;
					top: 43%;
					font-size: 14px;
					color: white;
					font-weight: 600;
					text-shadow: 0px 2px 3px rgba(0,0,0,0.4);
					transition: all 0.5s ease-in-out;
					text-align: center;
				}
				.overplay {
					background: #000000bd;
					transition: all 0.3s ease-in-out;
					.button {
						transition: all 0.3s ease-in-out;
					}
				}
			}
			.overlay {
				transition: all 0.3s ease-in-out;
			}
			.show {
				display: block!important;
			}
		}
		.checkproduc {
			cursor: pointer;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			border: 4px solid transparent;
			margin-bottom: 0;
			outline: 0;
			.checked-icon {
				position: absolute;
				color: white;
				background-color: transparent;
				padding: 10px;
				top: 0;
				right: 0;
				z-index: 3;
				width: 100%;
				height: 100%;
				.icon {
					font-size: 50px;
					text-align: center;
					transform: translateY(135%);
				}
			}
		}
		.checkproduc input[type="checkbox"] {
			display: none;
			position: absolute;
			top: 0px;
			z-index: 999;
		}

		.checkproduc-checked {
			transition: all 0.3s ease-in-out;
			.overplay {
				.button {
					display: none!important;
					transition: all 0.3s ease-in-out;
				}
			}
			.checked-icon {
				background-color: rgba(0, 0, 0, 0.88)!important;
				.icon {
					display: block !important;
				}
			}
		}
	}
	.box-list-catalog {
		.status {
			color: #258000;
			font-size: 14px;
			border: 1px solid;
			float: left;
			margin-top: 10px;
			padding: 5px 16px;
			border-radius: 3px;
		}
		.preorder {
			color: #f57224!important;
		}
		.action-catalog {
			.btn-edit {
				color: white;
				background-color: #0070ba;
				background-image: linear-gradient(100deg, #0070ba, #1546a0);
				&:hover {
					opacity:0.9;
				}
			}
		}
		.title-list-catalog {
			color: #1367b5;
			padding-left: 15px;
			margin-bottom: 10px;
			font-weight: 600;
			display: table;
			a {
				color: #282e40;
			}
			.label-code {
				font-weight: 500;
				padding: 0px 10px;
				font-size: 17px;
				line-height: 18px;
				border-radius: 5px;
				margin-bottom: 0px;
			}
		}
		.category-list-catalog {
			font-size: 12px;
			color: #282e40;
			font-weight: 500;
		}
		h4 {
			margin-bottom: 0px;
		}
		.info-list-product {
			th {
				font-size: 12px;
				line-height: 1.8em;
				font-weight: 500;
				color: #282e40;
				a, .act, .act2 {
					color: #282e40;
				}
				.label-catalog {
					font-weight: 600;
					padding: 0px 10px;
					font-size: 10px;
					line-height: 18px;
					border-radius: 5px;
					margin-bottom: 0px;
					color: white;
					background-color: #0070ba;
					background-image: linear-gradient(100deg, #0070ba, #1546a0);
				}
				.red {
					font-weight: 700;
					color: #ff5722;
				}
				.green {
					font-weight: 700;
					color: green;
				}
				&:nth-child(1) {
					width: 115px;
					font-weight: 600;
				}
				&:nth-child(2) {
					width: 20px;
				}
			}
		}
	}
}
/*----------------------------*/
/*    Request Landing press   */
/*---------------------------*/
/*.js-box-request-lp{
	height: 425px;
}*/
.box-request-lp{
	background: white;
	padding: 15px;
	border: 1px solid #eaeaea;
	border-radius: 3px;
	margin-bottom: 20px;
	position: relative;
	.box-img{
		position: relative;
		height: 350px;
		overflow: hidden;
		border: 1px solid #eaeaea;
		transition: background-position 3s ease-in-out;
		background-size: 100%;
		margin-bottom: 10px;
		cursor: pointer;
		&:hover{
			background-position: 0px 100%;
		}
		.label-code{
			position: absolute;
			left: 0;
			top: 0;
			background: #6f6b67;
			color: white;
			padding: 4px 5px;
			font-size: 11px;
			text-transform: uppercase;
		}
	}
	.uppercase{
		text-transform: uppercase;
	}
	.group{
		float: left;
		width: 100%;
		margin-bottom: 10px;
	}
	.checked{
		display: none;
	}
	input{
		display: none;
	}
}
.checked-lp{
	.checked{
		position: absolute;
		top: 0;
		font-size: 110px;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, 0.4117647058823529);
		text-align: center;
		padding-top: 40%;
		display: block;
	}
}

.btn-request-lp{
	color: white;
	background-color: #0070ba;
	background-image: linear-gradient(100deg, #0070ba, #1546a0);
	border: 1px #0070ba solid;
	padding: 10px 25px;
	border-radius: 3px;
}
/*------------------------------*/
/*        Change Themplate      */
/*------------------------------*/
.box-template-web{
	float: left;
	width: 100%;
	background: white;
	border: 1px solid #eaeaea;
}



/* 5 Columns */

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.col-xs-15 {
	width: 20%;
	float: left;
}
@media (min-width: 768px) {
	.col-sm-15 {
		width: 20%;
		float: left;
	}
}
@media (min-width: 992px) {
	.col-md-15 {
		width: 20%;
		float: left;
	}
}
@media (min-width: 1200px) {
	.col-lg-15 {
		width: 20%;
		float: left;
	}
}

@media screen and (min-width: 1441px){
	.box-catalog-product {
		.box-img-product {
			height: 285px;
			.checked-icon {
				.icon {
					font-size: 60px!important;
					transform: translateY(160%)!important;
				}
			}
		}
		.box-desc-product {
			padding:20px;
			.title-product-catalog {
				font-size: 14px!important;
				height: 50px;
			}
			.price-product-catalog {
				font-size: 14px!important;
				small {
					font-size: 11px!important;
				}
			}
		}
	}
	.box-list-catalog {
		.box-img-catalog {
			height: 200px!important;
		}
	}
	.box-info{
		height: 110px;
		margin-bottom: 20px;
		.stats-icon {
			padding: 20px 22px!important;
		}
		.stats-icon-1 {
			padding: 20px!important;
		}
	}

	.shops-container {
		.new-product-wrapper {
			.box-product-list {
				.box-img-wrapper {
					height: 265px!important;
				}
				.already-in-cart {
					.product-cart {
						.title {
							top: 36%!important;
						}
					}
				}
			}
			.box-desc-bottom {
				.title {
					min-height: 45px;
					font-size: 14px!important;
				}
				.status-stock {
					.status {
						color: #258000;
						font-size: 10px!important;
						padding: 2px 4px!important;
					}
					.preorder {
						color: #f57224!important;
					}
				}
			}
		}
		.gallery {
			.box-gallery1 {
				height: 971px;
				border: solid 1px #e4e5e7;
				img {
					width: auto;
					height: 100%;
					min-width: 100%;
				}
			}
			.box-gallery-thumb {
		    height: 125px!important;
		    width: 100%;
		    border: solid 1px #eee;
        position: relative;
		    overflow: hidden;
		    img {
					width: auto;
					height: 100%;
					min-width: 100%;
				}
			}
			.box-gallery2, .box-gallery3 {
				height: 473px;
				border: solid 1px #e4e5e7;
				img {
					width: auto;
					height: 100%;
					min-width: 100%;
				}
				.img-icon {
					height: 40px;
					display: table;
					min-width: auto;
					width: auto;
					margin: auto;
				}
			}
		}
	}

	.price-package-content {
		.desc-package-price{
			font-size: 25px!important;
		}
		.desc-package-price2{
			font-size: 14px!important;
		}
		.box-package-price{
			.title-box-package{
				font-size: 20px!important;
			}
			.box-img-price{
				font-size: 20px!important;
				.big-font {
					font-size: 30px!important;
				}
			}
			.textsmall {
				font-size: 16px!important;
			}
			.box-desc-package{
				.desc-package{
					font-size: 16px!important;
					margin-bottom: 10px!important;
					b{
						font-size: 16px!important;
					}
				}
				.desc-package2{
					font-size: 16px!important;
					margin-bottom: 10px!important;
					b{
						font-size: 16px!important;
					}
				}
				.desc-package1{
					font-size: 16px!important;
					margin-bottom: 10px!important;
				}
			}
		}
	}
}
@media screen and (max-width: 1440px){
	.box-catalog-product {
		.box-img-product {
			height: 205px;
			.checked-icon {
				.icon {
					font-size: 50px!important;
					transform: translateY(135%)!important;
				}
			}
		}
		.box-desc-product {
			padding:15px;
			.title-product-catalog {
				font-size: 12px!important;
				height: 40px;
			}
			.price-product-catalog {
				font-size: 12px!important;
				small {
					font-size: 10px;
				}
			}
		}
	}
	.box-list-catalog {
		.box-img-catalog {
			height: 155px!important;
		}
	}
	.box-info{
		height: 110px;
		margin-bottom: 20px;
		.stats-icon {
			padding: 15px 17px!important;
			margin-top: 5px;
		}
		.stats-icon-1 {
			padding: 15px!important;
			margin-top: 5px;
		}
		.btn-send-message, .stats-title, .m-t-xl {
			margin-left: 75px!important;
		}
	}
	.shops-container {
		.new-product-wrapper {
			.box-product-list {
				.box-img-wrapper {
					height: 185px!important;
				}
				.already-in-cart {
					.product-cart {
						.title {
							top: -14%!important;
						}
					}
				}
			}
			.box-desc-bottom {
				.price {
					font-size: 13px!important;
				}
				.discount {
					font-size: 10px!important;
				}
				.title {
					min-height: 45px;
					font-size: 12px!important;
				}
				.status-stock {
					.status {
						font-size: 9px!important;
						padding: 2px 4px 1px!important;
						margin-top: 1px;
					}
				}
			}
		}
		.gallery {
			.box-gallery1 {
				height: 633px;
				border: solid 1px #e4e5e7;
				img {
					width: auto;
					height: 100%;
					min-width: 100%;
				}
			}
			.box-gallery2, .box-gallery3 {
				height: 304px;
				border: solid 1px #e4e5e7;
				img {
					width: auto;
					height: 100%;
					min-width: 100%;
				}
			}
		}
	}
	.price-package-content {
		.desc-package-price{
			font-size: 20px!important;
		}
		.desc-package-price2{
			font-size: 12px!important;
		}
		.box-package-price{
			.title-box-package{
				font-size: 18px!important;
			}
			.box-img-price{
				font-size: 18px!important;
				.big-font {
					font-size: 20px!important;
				}
			}
			.textsmall {
				font-size: 12px!important;
			}
			.box-desc-package{
				.desc-package{
					font-size: 12px!important;
					margin-bottom: 5px!important;
					b{
						font-size: 12px!important;
					}
				}
				.desc-package2{
					font-size: 12px!important;
					margin-bottom: 5px!important;
					b{
						font-size: 12px!important;
					}
				}
				.desc-package1{
					font-size: 12px!important;
					margin-bottom: 5px!important;
				}
			}
		}
	}
}
@media screen and (max-width: 1024px){
	.shops-container {
		.gallery {
			.box-gallery1 {
				height: 425px;
				border: solid 1px #e4e5e7;
				img {
					width: auto;
					height: 100%;
					min-width: 100%;
				}
			}
			.box-gallery2, .box-gallery3 {
				height: 200px;
				border: solid 1px #e4e5e7;
				img {
					width: auto;
					height: 100%;
					min-width: 100%;
				}
			}
		}
		.new-product-wrapper {
			.box-product-list {
				.box-img-wrapper {
					height: 165px !important;
				}
			}
		}
	}
	.box-list-catalog {
		.box-img-catalog {
			height: 86px !important;
		}
	}
}

@media screen and (max-width: 990px){
	.btn-export {
		float: left;
		margin-top: 10px;
	}
	.message-am {
		margin-top: 10px;
		float: left;
	}
	.btn-message-box {
		margin-bottom: 0px;
	}
}

@media screen and (max-width: 768px){
	body{
		.page-small {
			#menu {
				margin-left: -250px;
			}
			.show-sidebar {
				#wrapper {
					margin-left: 250px!important;
				}
				#menu {
					margin-left: 0px!important;
				}
			}
		}
	}
	.row-mobile {
		margin-left: -15px;
		margin-right: -15px;
	}

	.shops-container {
		.simple-top-search {
			.layout-slider {
				.jslider {
					margin-bottom: 20px;
				}
			}
		}
		.edit_order {
			.get_estimation {
				width: 100%!important;
			}
		}
	}

	.use {
		.btn-how-to-use {
			display: table;
			margin-bottom: 25px;
		}
		.in {
			display: block!important;
		}
		.how-to-use {
			display: none;
			margin-top:15px;
		}
	}

	.img-logo {
		height: 35px !important;
		margin-top: -4px;
		margin: auto;
		top: 10px;
		position: absolute;
		left: 0px;
		right: 0px;
	}

	.bs-wizard {
		.bs-wizard-step {
			.bs-wizard-stepnum {
				font-size: 12px!important;
			}
			.bs-wizard-dot {
				padding:10px 12px!important;
				top: 35px!important;
				i {
					font-size: 14px!important;
				}
			}
			.icon-1 {
				padding: 10px 13px !important;
			}
		}
		.complete {
			.bs-wizard-stepnum {
				font-size: 12px!important;
			}
			.bs-wizard-dot {
				padding:10px 12px!important;
				top: 35px!important;
				right: -8px!important;
				i {
					font-size: 14px!important;
				}
			}
		}
	}

	.box-schema {
		.btn-group {
			float: left!important;
		}
		.search-form {
			.input {
				width: 125px!important;
			}
			button {
				margin-left: 5px!important;
			}
		}
		.revenue {
			margin-top: 0px;
			font-size: 13px!important;
			small {
				font-size: 13px!important;
			}
		}
	}
	.box-catalog-product {
		.box-img-product {
			height: 165px;
			.checked-icon .icon {
				font-size: 50px !important;
				transform: translateY(82%) !important;
			}
		}
	}
	.box-list-catalog {
		.action-catalog {
			width: 100%;
			margin-top: 20px;
		}
		.title-list-catalog {
			margin-top: 15px;
		}
		.box-img-catalog {
			height: 325px !important;
		}
	}
	.detail-product {
		.side-purchase {
			.btn-out-cart {
				margin-top: 15px;
			}
		}
	}
	#wrapper {
		.shops-container {
			.new-product-wrapper {
				.box-product-list {
					.box-img-wrapper {
						height: 225px!important;
					}
					.already-in-cart {
						.product-cart {
							.title {
								top: 32% !important;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 425px) {
	.box-article{
		margin-bottom: 20px;
		.box-description{
			height: auto;
		}
	}
	.form-mg{
		margin-bottom: 10px;
	}
	.header-blog .title2 {
		font-size: 14px;
		font-weight: 700;
	}
	.bs-wizard {
		.bs-wizard-step {
			.bs-wizard-stepnum {
				font-size: 10px!important;
			}
			.bs-wizard-dot {
				padding:10px 12px!important;
				top: 35px!important;
				i {
					font-size: 14px!important;
				}
			}
			.icon-1 {
				padding: 10px 13px !important;
			}
		}
		.complete {
			.bs-wizard-stepnum {
				font-size: 10px!important;
			}
			.bs-wizard-dot {
				padding:10px 11px!important;
				top: 35px!important;
				i {
					font-size: 14px!important;
				}
			}
			.icon-1 {
				padding: 10px 13px !important;
			}
		}
	}

	#menu {
		.cr-order {
			position: absolute;
			background: red;
		}
	}

	.package-price{ 
		display: table;
		.text-price {
			position: relative;
			padding: 15px;
			.text-price-content {
				transform: translateY(5%);
				padding-bottom: 20px!important;
				h4 {
					font-size: 18px;
					&:after {
						top:35px;
					}
				}
			}
		}
		.price-package-content {
			padding: 0px!important;
			.button-register {
				padding: 20px 11px;
				width: 84%;
				margin-top: -70px;
				.btn-orange {
					padding-top: 7px;
					padding-bottom: 7px;
					font-size: 12px;
				}
			}
		}
		.title-package-price{
			font-size: 20px;
		}
		.desc-package-price{
			font-size: 12px;
			line-height: 40px;
		}
		.box-package-price{
			margin-bottom: 20px;
			.title-box-package{
				background: #639001;
				color: white;
				text-align: center;
				padding: 10px 0;
				font-size: 18px;
				font-weight: bold;
			}
			.box-img-price{
				padding: 30px 0;
				font-size: 18px;
			}
			.box-desc-package{ 
				padding: 15px 10px 15px 10px!important;
				.desc-package{
					font-size: 12px;
				}
				.desc-package2{
					font-size: 12px;
				}
				.btn-box-package{
					padding: 7px 40px;
				}
			}
		}
	}

	.box-catalog-product {
		.box-img-product {
			height: 170px;
			.checked-icon {
				.icon {
					font-size: 50px !important;
					transform: translateY(92%) !important;
				}
			}
		}
	}

	#wrapper {
		.shops-container {
			.gallery {
				.box-gallery-thumb {
			    height: 65px;
			    width: 100%;
			    border: solid 2px white;
		      position: relative;
			    overflow: hidden;
			    img {
						width: auto;
						height: 100%;
						min-width: 100%;
					}
				}
				.box-gallery1 {
					height: 210px;
					border: solid 1px #e4e5e7;
					img {
						width: auto;
						height: 100%;
						min-width: 100%;
					}
				}
				.box-gallery2, .box-gallery3 {
					height: 100px;
					border: solid 1px #e4e5e7;
					img {
						width: auto;
						height: 100%;
						min-width: 100%;
					}
				}
			}
			.new-product-wrapper {
				.box-product-list {
					.box-img-wrapper {
						height: 375px !important;
					}
					.already-in-cart {
						.product-cart {
							.title {
								top: 40% !important;
							}
						}
					}
				}
			}
		}
		.welcome {
			.hpanel {
				margin-bottom: 0px!important;
				.text-hi h2 {
					font-size: 12px!important;
				}
				p {
					font-size: 9px!important;
				}
			}
		}
		.box-comision-approve {
			.cash-approve {
				font-size: 16px;
			}
		}
	}
	.box-list-catalog {
		.title-list-catalog {
			margin-top: 15px!important;
			font-size: 14px;
			label {
				font-size: 14px!important;
			}
		}
		.box-img-catalog {
			height: 305px !important;

		}
	}
}

@media (max-width: 360px) {
	#wrapper {
		.shops-container {
			.gallery {
				.box-gallery1 {
					height: 170px;
					border: solid 1px #e4e5e7;
					img {
						width: auto;
						height: 100%;
						min-width: 100%;
					}
				}
				.box-gallery2, .box-gallery3 {
					height: 80px;
					border: solid 1px #e4e5e7;
					img {
						width: auto;
						height: 100%;
						min-width: 100%;
					}
				}
			}
			.new-product-wrapper {
				.box-product-list {
					.box-img-wrapper {
						height: 320px !important;
						img {
							max-height: 120%!important;
						}
					}
					.already-in-cart {
						.product-cart {
							.title {
								top: 16%!important;
							}
						}
					}
				}
			}
			.mgdetail-item {
				.active {
					a, a:hover {
						color: #fff;
						background: #0070ba !important;
						background-image: linear-gradient(100deg, #0070ba, #1546a0) !important;
						border: solid 1px #1156aa;
					}
				}
				li {
					a {
						font-weight: 600;
						color: #3c3c3c;
						border: solid 1px #e6e6e6;
						background-color: white !important;
					}
				}
			}
		}
	}
}

@media (max-width: 320px) {
	.bs-wizard {
		.bs-wizard-step {
			.bs-wizard-stepnum {
				font-size: 10px!important;
			}
			.bs-wizard-dot {
				padding: 10px 12px !important;
				top: 39px!important;
				i {
					font-size: 14px!important;
				}
			}
			.icon-1 {
				padding: 10px 13px !important;
			}
		}
		.complete {
			.bs-wizard-stepnum {
				font-size: 10px!important;
			}
			.bs-wizard-dot {
				padding: 10px 11px !important;
				top: 39px!important;
				i {
					font-size: 14px!important;
				}
			}
			.icon-1 {
				padding: 12px 10px!important;
			}
		}
	}
	.box-catalog-product {
		.box-img-product {
			height: 135px;
			.checked-icon .icon {
				font-size: 50px !important;
				transform: translateY(60%) !important;
			}
		}
	}
	.box-list-catalog {
		.box-img-catalog {
			height: 265px !important;
		}
	}
	#wrapper {
		.shops-container {
			.gallery {
				.box-gallery1 {
					height: 146px;
					border: solid 1px #e4e5e7;
					img {
						width: auto;
						height: 100%;
						min-width: 100%;
					}
				}
				.box-gallery2, .box-gallery3 {
					height: 68px;
					border: solid 1px #e4e5e7;
					img {
						width: auto;
						height: 100%;
						min-width: 100%;
					}
				}
			}
			.new-product-wrapper {
				.box-product-list {
					.box-img-wrapper {
						height: 290px !important;
					}
				}
			}
		}
	}
}