/*   color   */
$green : #014c35;
$silverlow : #7b7b7b;
$silverlight : #dedede;
$blue : #3498db;

.img-logo{
	height: 20px;
}



body {
	width: 100%;
}
.logo-publisher {
	height: 25px;
	margin-top: -2px;
}
.text-green {
	color: $green!important;
}
.no-border-bottom {
	border-bottom: 0px!important;
}
.no-border-right {
	border-right: 0px!important;
}
.margin-bottom-5 {
	margin-bottom: 5px;
}
.margin-right {
	margin-right: 10px;
}
.margin-bottom {
	margin-bottom: 20px;
}
#btn-group-analytic{
  button{
    font-size: 13px;
    padding-bottom: 7px;
    padding-top: 8px;
  }
}
.btn-up-arrow{
  border: 0;
  background: none;
  float: right;
  color: #ccc;
  &.active{
    color: #3c8dbc;
  }
}
.btn-search-dashboard{
	margin-left: 0px!important;
}
.btn-message {
	border-radius: 50%;
	font-size: 30px;
	width: 60px;
	height: 60px;
	padding-top: 10px;
	-webkit-box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.25);
}
.btn-primary{
	text-transform: uppercase;
	background: $blue;
	border: solid 1px #3498db;
	&:hover, &:focus{
		background: $blue;
		opacity: 0.9;
		border: solid 1px #3498db;
	}
}
.label-targeting{
  float: left;
  margin-right: 5px;
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 2px;
  padding-top: 2px;
  margin-bottom: 5px;

}
.radius-right {
	border-radius: 0px 5px 5px 0px!important;
}
.ct-chart {
	margin-top: 30px;
	.ct-legend {
		li {
			margin-right: 30px!important;
			text-transform: capitalize;
		}
		li:hover {
			color: #3366cc;
		}
		li{
			.inactive:before {
				background: transparent !important;
				border: 1px solid #ccc!important;
			}
		}
		li:nth-child(1)::before,
		li:nth-child(2)::before,
		li:nth-child(3)::before,
		li:nth-child(4)::before,
		li:nth-child(5)::before {
			margin-top: 4px;
		}
	}
}

.btn-full{
  width: 100%;
}

.radio-report{
  padding: 6px;
  border: solid 1px;
  border-color: #e4e5e7 !important;
  border-radius: 3px;
  text-align: center;
  margin-bottom: 10px;
}

/*=======================================
	Component Publisher
=======================================*/
#wrapper {
	margin: 0 0 0 220px;
}
.menu-publisher::-webkit-scrollbar {
	width: 0 !important;
}
.text-capital {
	text-transform: capitalize;
}
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
.col-5 {
	width: 20%;
	float: left;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

/*==========================
	navbar costumize
==========================*/
.navbar-nav > li > .dropdown-menu{
	min-width: 300px;
	.guest-book-notif{
		padding: 10px 15px;
		border-bottom: 1px solid #e8e8e880;
		padding-bottom: 0;
	}
}
.payment-latest{
	padding: 20px;
	padding-top: 0;
}

/*==========================
 cart-legent (chartist)
==========================*/
.ct-chart { 
	.ct-label{
		fill: rgba(0,0,0,.4);
		color: #444444;
		font-size: 13px;
		line-height: 1;
	}
	.ct-grid {
		stroke: #f5f5f5;
		stroke-width: 1px;
		stroke-dasharray: 0;
	}
	.ct-line {
		stroke-width: 2px;
	}
	.ct-point {
		stroke-width: 6px;
	}
	.ct-legend {      
		position: relative;
		z-index: 10;
		list-style: none;
		text-align: center;

		li {
			position: relative;
			padding-left: 23px;
			margin-right: 10px;
			margin-bottom: 3px;
			cursor: pointer;
			display: inline-block;

			&:before {
				width: 12px;
				height: 12px;
				position: absolute;
				left: 0;
				content: '';
				border: 3px solid transparent;
				border-radius: 2px;
			}
			&:nth-child(1)::before{
				background-color: #3366cc;
			}    
	
			&:nth-child(2)::before{
				background-color: #a013a0;
			}
	
			&:nth-child(3)::before{
				background-color: #ff9900;
			}
	
			&:nth-child(4)::before{
				background-color: #dc3912;
			}

			&:nth-child(5)::before{
				background-color: #109618;
			}
		}

		li.inactive:before {
			background: transparent!important;
			border: 2px solid #ccc;
		}

		.ct-legend-inside {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	g:not(.ct-grids):not(.ct-labels) g {
		&:nth-child(1){
			.ct-point,.ct-line {
				stroke: #3366cc;        
			}
		}
		&:nth-child(2){
			.ct-point,.ct-line {
				stroke: #a013a0;      
			}
		}
		&:nth-child(3){
			.ct-point,.ct-line {
				stroke: #ff9900;       
			}
		}
		&:nth-child(4){
			.ct-point,.ct-line {
				stroke: #dc3912;       
			}
		}
		&:nth-child(5){
			.ct-point,.ct-line {
				stroke: #109618;       
			}
		}
	}
}

/*==========================
 PAGINATION
==========================*/

.pagination{
	margin: auto;
	margin-top: 20px;
	margin-bottom: 10px;
	display: table;

	span a, .current{
		margin: 1px;
		border-radius: 4px;
		padding: 3px 8px;
		background: #f5f5f5;
		text-align: center;
		color: #444;
	}

	.current{
		background: #605ca8;
		color: white;
	}
}

/*=======================================
	Analytic Custom
=======================================*/
.btn-tab-analytic.active,
.btn-tab-analytic.hover,
.btn-tab-analytic:focus,
.btn-tab-analytic:hover,
.btn-tab-analytic:active{
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
	outline: 0!important;
}

.box-analytic{
	display: none;
}

.box-active{
	display: block;
}

.btn-total-revenue{
	min-width: 220px;
	margin-top: 20px;
	background-color: white!important;
}

.total-revenue{
	font-weight: bold;
	font-size: 18px;
}

.no-border{
	border: none!important;
}

/*=======================================
	Form Search Custom
=======================================*/

.simple-search{
	.form-control{
		width: 30%!important;
		float: left;
	}
	.input-group-addon{
		float: left;
		height: 34px;
		width: 36px;
		line-height: 20px;
		background: #f4f4f4;
	}
	.dash{
		float: left;
		width: 5px;
		height: 1px;
		border: solid 1px #ccc;
		margin: 15px 5px;
	}
	.btn-submit{
		margin-left: 5px;
		border-radius: 0;
	}
}

.simple-search-report{
  display: table;
  margin: auto;
  margin-bottom: 20px;
  .form-control{
    width: 100px!important;
    float: left;
  }
  .input-group-addon{
    float: left;
    height: 34px;
    width: 36px;
    line-height: 20px;
    background: #f4f4f4;
  }
  .dash{
    float: left;
    width: 5px;
    height: 1px;
    border: solid 1px #ccc;
    margin: 15px 5px;
  }
  .btn-submit{
    margin-left: 5px;
    border-radius: 0;
  }
}

.js-btn-export-csv{
	float: left;
}

.btn-export-csv{
	float: left;
	margin-right: 10px;
	border-radius: 0;
}

/*=======================================
	total-report-campaign-snapshots
=======================================*/
.total-report-campaign-snapshots{
	width: 100%;
	margin: 0 auto;
	.description-block {
		text-align: center;
	}
}


/*=======================================
	Vertical timeline content
=======================================*/
.vertical-timeline-content{
	.no-float{
		float: none;
	}
}

/*==========================
	modal custom
==========================*/
.modal-header{
	padding: 10px 20px;
	background: #00c0ff;
	color: #fff;
	text-transform: uppercase;
	h4{
		font-size: 20px;
	}
}


/*==========================
	All feeds & comments
==========================*/
.all-comments{
	display: none;
}
.js-more-comments{
	cursor: pointer;
	color: #3498db;
	font-size: 11px;
	.btn-view-more {
		margin-top: -7px;
		margin-bottom: 20px;
		background: #e4e5e7;
		color: #555;
		border: solid 1px #dadada;
	}
	.btn-view-more:hover {
		margin-top: -7px;
		margin-bottom: 20px;
		background: #dadada;
		color: #555;
		border: solid 1px #dadada;
	}
}

/*==========================
	Not Found Data
==========================*/
.not-found {
	text-align: center;
	margin-top: 150px;
	margin-bottom: 100px;
	i {
		font-size: 55px;
	}
}

/*==========================
	Account Manager
==========================*/
.list-publisher {
	h5 {
		margin-top: 25px;
		margin-left: 15px;
		color: #34495e;
		font-size: 16px;
		small {
			font-size: 11px;
			text-transform: none;
		}
	}
	p {
		span {
			font-weight: 600;
		}
		.join {
			font-weight: 600;
		}
	}
}

.edit-profile-publisher {
	.not-found {
		text-align: center;
		margin-top: 150px;
		margin-bottom: 150px;
		i {
			font-size: 55px;
		}
	}
	.button-link{
		margin-top: 10px;
		.btn{
			border-radius: 0px;
		}
	}
}


/*==========================
	Radio Button LP
==========================*/

.scroll {
	background-size: 100%;
	cursor: pointer;
	z-index: 2;
	min-height: 100%;
	-webkit-transition: background-position 3s ease-in-out;
	-moz-transition: background-position 3s ease-in-out;
	-ms-transition: background-position 3s ease-in-out;
	-o-transition: background-position 3s ease-in-out;
	transition: background-position 3s ease-in-out;
}
.scroll:hover {
	background-position:0px 100%;

}

.line-image {
	width: 100%;
	height: 300px;
	margin-bottom: -4px;
}
.line-image-list {
	width: 100%;
	height: 150px;
	margin-bottom: -4px;
	.responsive-status{
		position: absolute;
		margin-left: 5px;
		margin-top: 5px;
	}
}
@media screen and (max-width: 991px) {
	.request-lp {
		width: 100%;
		height: 150px!important;
		margin-bottom: -4px;
	}
	.line-image {
		width: 100%;
		height: 300px;
		margin-bottom: -4px;
	}
	.line-image-list {
		width: 100%;
		height: 100px;
		margin-bottom: -4px;
	}
}

/*==========================
	Landing Page Manager
==========================*/
.select2{
  width: 100%!important;
}
.select2-container{
  .select2-selection--single {
    height: inherit!important;
    border: 1px solid #e4e5e7!important;
    .select2-selection__rendered{
      border:0px;
    }
  }
}
.select2-dropdown {
  border: 1px solid #e4e5e7!important;
}

.content-lp{
	.template-lp{
		padding: 10px;
		position: relative;
		input{
			position: absolute;
			top: 20px;
			left: 20px;
			margin-top: 0px;
			display: none;
		}
    .select2-selection {
      border: 0px;
    }
		img{
			width: 100%
		}
		&.opacity{
			opacity: 0.2;
		}
		i {
			display: none;
		}
		&.checked{
			background: #34495e;
			i {
				display: block!important;
				position: absolute;
				color: beige;
				font-size: 100px;
				top: 35%;
				left: 50%;
				transform: translateX(-40%);
				text-shadow: 0px 0px 20px #fff;
			}
		}
	}
}

	

/*==========================
	Account Manager Publisher Report
==========================*/
.btn-message-fixed {
	position: fixed;
	bottom: 50px;
	right: 50px;
	z-index: 10;
}


/*==========================
	Side Comment Publisher
==========================*/
.side-all-comments{
	overflow-y: scroll;
	height: 100vh;
	width: 350px;
	&::-webkit-scrollbar {
		width: 0 !important;
	}
	&.fixed{
		top: 70px;
		position: fixed;
	}
	.media{
		img{
			width: 32px;
			height: 32px;
			border-radius: 50%;
			margin-top: 0;
			margin-bottom: 10px;
		}
    .group-name{
      padding-top: 6px;
      font-weight: bold;
      color: #3b4d35;
    }
	}
}

/*==========================
	Blogs
==========================*/
.blog-comments{
	.blog-box{
		width: 100%;
	}
}
.blogs {
	.blog-box{
		width: 100%;
		img {
			width:100%;
		}
	}
	.masonry { /* Masonry container */
		column-count: 3;
		column-gap: 1em;
	}

	.item { /* Masonry bricks or child elements */
		display: inline-block;
		width: 100%;
	}
}

.latest-blogs{
	&__image-thumb{
		padding: 0px!important;
		margin: -10px;
		img{
			width: 150px;
			height: 150px;
		}
	}
}

/*==========================
	List Publisher
==========================*/
.label-user{
	font-size: 10px;
	margin-top: 5px;
	float: left;
}

/*==========================
	Spinner Load
==========================*/
.spinner-load{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
  top: 0;
	background: rgba(255,255,255,0.8);
	z-index: 99;
	color: #777;
	text-align: center;
	font-size: 20px;
	padding-top: 15%;
  display: none;
  img{
    width: 100px;
    margin-bottom: 20px;
  }
}

/*==========================
	Tab Analytics
==========================*/
.js-tab-analytics{
	li{
		width: 16.6%;
		float: right;
		a{
			text-align: center;
			font-weight: 600;
		}
		&.active{
			a{
				border-radius: 0;
				border: 0!important;
				border-bottom: solid 2px #3498db!important;
			}
		}
	}
}
.box-analytic{
  .tab-content{
    min-height: 370px;
  }
}

.responsive-tabel {
  overflow-x: scroll;
}
.th-report {
  display: inline-block;
  border: 0px!important;
}
rect[Attributes Style] {
  fill: transparent;
}
.table-total-report {
  width: 1379px;
}
.tabel-width {
  width: 1024px;
}
.tabel-width1 {
  width: 1400px;
}
.tabel-width3 {
  width: 2000px;
}
.tabel-width2 {
  width: 1200px;
}
// .responsive-panel-analytic {
//   .btn, input {
//     font-size: 12px;
//     height: 31px!important;
//   }
//   span {
//     padding: 4.5px 12px;
//     height: inherit!important;
//     font-size: 12px;
//   }
//   .user-detail {
//     h5 {
//       font-weight: 600!important;
//     }
//   }
// }
.table {
  font-size: 12px;
}
table {
  min-width: 100%;
}

/*=======================
  js-button-like
=======================*/
.js-button-like{
  background: none;
  border: none;
  padding: 0px;
  outline: none;
}


/*=======================
	select2
=======================*/
.select2-tag{
  .select2{
  	width: 100% !important;
    .select2-selection{
      border-color: #e4e5e7 !important;
    }
  }
}

/*=======================
	hpanel
=======================*/
.hpanel-count{
	h1{
		margin-bottom: 20px;
	}
}


/*=======================
  GROUP FORUM
=======================*/
.group-box{
  .panel{
    margin-bottom: 0;
  }
  .input-group{
    width: 100%;
  }
  &__item-header{
    height: 320px;
    position: relative;
    .btn-edit-group{
      display: block;
      background: 0 0!important;
      color: transparent;
      border: none;
      line-height: 22px;
      cursor: pointer;
      text-shadow: none;
      padding: 0;
      width: auto;
      min-width: 0;
      text-align: center;
      font-size: 12px;
      letter-spacing: 1.2px;
      margin-top: 16px;
      margin-left: 20px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      position: absolute;
      z-index: 11!important;
      font-weight: 400;
      -webkit-box-shadow: none;
      box-shadow: none;
      outline: 0;
    }
    .btn-list-members{
      right: 20px;
      bottom: 16px;
    }
    .btn-delete{
      right: 20px;
    }
    .bg-cover{
      width: 100%;
      background-color: #3c7a90;
      height: 320px;
      position: absolute;
      overflow: hidden;
      .bg-cover-image{
        width: 100%;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .item-header-cover{
      width: 100%;
      position: absolute;
      z-index: 2;
      .table-cell{
        height: 265px;
        .cover-content{
          height: 320px;
          min-width: 310px;
          color: white;
          margin: auto;
          display: table;
          margin-top: 11%;
          text-align: center;
          font-size: 16px;
          img{
            width: 80px;
            height: 80px;
          }
          .total-created{
            font-size: 11px;
          }
          .link-group{
            .form-control{
              font-size: 11px;
              padding: 5px;
            }
          }
        }
      }
    }
    .no-border{
      background: none;
      border: none;
    }
  }
  &__item-owner{
    .group-name{
      color: #3b4d35;
      font-weight: 600;
    }
  }
}

.list-group-coverages{
  &__searching-publisher{
    font-weight: normal;
    width: 450px;
    float: right;
  }
  &__info{
    width: 100%;
    .avatar{
      width: 10%;
      float: left;
      img{
        width: 75px;
        height: 75px;
      }
    }
    .detail{
      width: 60%;
      float: left;
      padding-left: 5px;
      .user-entity{
        .type{
          font-size: 11px;
          color: #808080;
        }
      }
    }
    .action{
      width: 30%;
      float: left;
      .change-status-group-coverage, .change-status-publisher{
        padding-top: 25px;
        float: right;
        .btn{
          width: 80px;
        }
      }
    }
  }
  hr{
    margin-top: 90px;
    clear: both;
  }
  
}

.btn-no-border{
  background: none;
  border: none;
  color: #ccc;
}


/*====================
  Lists Campaigns
====================*/
.btn-approvement-campaign{
  .approvement-campaign{
    display: inherit;
    .detail-campaign{
      padding-top: 6px;
    }
  }
}

/*======================
  Access Offer
======================*/
.access-offer{
  &__info{
    .avatar{
      img{
        width: 75px;
        height: 75px;
      }
    }
    .detail{
      padding-top: 10px;
    }
    button{
      font-size: 10px;
    }
  }
}

.text-orangered{
  color: orangered;
}

.modal-default{
  background: none;
  color: #6a6c6f;
}

/*==========================
  form-group
==========================*/
.form-group{
  word-wrap: break-word;
}


/*==========================
  progress bar
==========================*/
.progress-cga{
  .progress-outer{
    background: #fff;
    border-radius: 50px;
    padding: 25px;
    margin: 10px 0;
    box-shadow: 0 0  10px rgba(209, 219, 231,0.7);
  }
  .progress{
    height: 27px;
    margin: 0;
    overflow: visible;
    border-radius: 50px;
    background: #eaedf3;
    box-shadow: inset 0 10px  10px rgba(244, 245, 250,0.9);
    float: left;
    width: 100%;
  }
  .progress .progress-bar{
    border-radius: 50px;
  }
  .progress .progress-value{
    position: relative;
    left: -45px;
    top: 4px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 2px;
  }
  .progress-bar.active{
    animation: reverse progress-bar-stripes 0.40s linear infinite, animate-positive 2s;
    background-color: #3498db;
    color: white;
    padding-top: 4px;
    font-size: 15px;
  }
  small{
    font-size: 11px;
  }
}
@media screen and (max-width: 550px) {
  .progress-cga{
    h3{
      font-size: 15px!important;
    }
  }
}
