.panel-body
  .tabbable
    ul.nav.nav-tabs
      li.active
        a data-toggle="tab" href="#tab1"  Akun Pemilik
      li
        a data-toggle="tab" href="#tab2"  Informasi Toko
      li
        a data-toggle="tab" href="#tab3"  Alamat Toko
      li
        a data-toggle="tab" href="#tab4"  Kontak
      li
        a data-toggle="tab" href="#tab5"  Rekening Bank

    .tab-content
      = f.fields_for :profile do |profile|
        = f.fields_for :address do |address|
          = f.fields_for :contact do |contact|
            = f.fields_for :merchant_info do |merchant_info|
              #tab1.tab-pane.active
                = render partial: 'merchants/users/form', locals: {f: f, profile: profile}
              #tab2.tab-pane
                = render partial: 'merchants/users/form_merchant_info', locals: {merchant_info: merchant_info} 
              #tab3.tab-pane
                = render partial: 'merchants/users/form_address_merchant', locals: {address: address}
              #tab4.tab-pane
                = render partial: 'merchants/users/form_contact', locals: {contact: contact, profile: profile}
              #tab5.tab-pane
                = render partial: 'merchants/users/form_bank_account', locals: {profile: profile}

    .col-md-12
      .buttons
        button class="btn btn-gb pull-right" type="submit" id="profilebutton" SIMPAN

javascript:
  $('#profilebutton').click(function () {
    $(':required:invalid', "#edit_merchants_#{current_user.id}").each(function () {
      var id = $('.tab-pane').find(':required:invalid').closest('.tab-pane').attr('id');

      $('.nav a[href="#' + id + '"]').tab('show');
    });
  });