#wrapper.use
  .content.animate-panel
    .hpanel
      .row
        .col-xs-12
          .title-member-content
            b Settings
        .col-xs-12
          = render partial: 'merchants/shareds/prepare_form',
                      locals: { form_name: 'Setting', action_name: 'Edit', form_method: 'put'} 
