doctype html
html
  head
    = render 'shareds/setting'
    link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet"
    = stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css'
    = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.1/jquery.fancybox.min.css'
    - if params[:controller] == "products" && params[:action] == "show"
      | <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5bc6f6aa5b13ce001188b4a1&product=inline-share-buttons' async='async'></script>
    link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"
    = stylesheet_link_tag 'application'
    = csrf_meta_tags
    = @subdomain.try(:site_info).try(:web_template).try(:code_css).html_safe rescue ''
  body
    = render 'shareds/top_menu'
    = yield
    = render 'shareds/footer'
  = javascript_include_tag 'application'
  = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.1/jquery.fancybox.min.js'
  - if params[:controller] == 'guest_books'
    script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"
    = render 'shareds/gmap_js'
  = render 'shareds/analytic'
  = render 'shareds/fb_pixel_dusbelanja', event: "PageViews-#{params[:controller]}-#{params[:action]}"
