doctype html
html
  head
    title Dashboard Admin
    = favicon_link_tag "#{@setting_global.favicon.url(:thumb)}"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css'
    = stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css'
    = stylesheet_link_tag 'backend'
    
    = javascript_include_tag "//www.google.com/jsapi"
    = javascript_include_tag "https://www.gstatic.com/charts/loader.js"
    = javascript_include_tag 'backend'
    = csrf_meta_tags

  body
    = render "shareds/loading"
    = render 'backend/shareds/header'
    .content
      = render 'backend/shareds/sidebar'
      .mainbar
        = render 'backend/shareds/breadcrumb'
        .matter
          = yield
        .clearfix
    = render 'backend/shareds/footer'
