doctype html
html
	head
		title Akses Dropshipan
		= favicon_link_tag "#{@setting_global.favicon.url(:thumb)}"
		meta http-equiv="X-UA-Compatible" content="IE=edge"
		meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"
		= csrf_meta_tags
		= stylesheet_link_tag	'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
		= stylesheet_link_tag	'devise', media: 'all'
		= render 'shareds/fb_pixel_dropshipan', event: "Prospek" if params[:controller] == 'registrations' && params[:action] == 'new'
	body
		section.grey.login-wrapper
			.overlay-bg-login
			.container
				.col-md-8.col-md-offset-2.form-devise
					= link_to root_path
						= image_tag 'logo.png', class: 'img-logo'
					= yield
	= javascript_include_tag 'https://code.jquery.com/jquery-3.3.1.js'
	= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'
	= javascript_include_tag 'devise'
	= render 'shareds/analytic'
