doctype html
html
  head
    = render 'shareds/setting'
    link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet"
    = stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css'
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lobster+Two|Prompt" rel="stylesheet'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Maven+Pro:400,900'
    link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"
    = stylesheet_link_tag 'application'
    = csrf_meta_tags
    = @subdomain.try(:site_info).try(:web_template).try(:code_css).html_safe rescue ''
  body
    = yield
    = render 'shareds/footer'
  = javascript_include_tag "//code.jquery.com/jquery-3.3.1.min.js"
  = javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'
  = javascript_include_tag 'application'
  = render 'shareds/analytic'
