doctype html
html
  head
    = render 'shareds/setting'
    link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet"
    = stylesheet_link_tag 'landing_press'
    = csrf_meta_tags
    = @request_landing_press.landing_press.try(:code_css).html_safe rescue ''
  body
    = yield
  = javascript_include_tag "//code.jquery.com/jquery-3.3.1.min.js"
  = javascript_include_tag 'landing_press'
  = render 'shareds/analytic'
  = render 'shareds/fb_pixel_dusbelanja', event: "PageViews-products-show"
