doctype html
html 
  head
    = render 'shareds/setting_official'
    = csrf_meta_tags
    link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" 
    = stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css'
    = stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
    = stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.1/jquery.fancybox.min.css'
    = stylesheet_link_tag    'https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css'    
    = stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Lobster+Two|Prompt" rel="stylesheet'
    = stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Maven+Pro:400,900'
    = stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css'
    = stylesheet_link_tag    'official', media: 'all'
    - if params[:controller] == "blogs" && params[:action] == "show"
      | <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5bc6f6aa5b13ce001188b4a1&product=inline-share-buttons' async='async'></script>
    = render 'shareds/fb_pixel_dropshipan', event: "PageViews-#{params[:action]}"
  body data-offset="50" data-spy="scroll" data-target=".navbar"
    = flash_messages
    = render "official/top_bar" if params[:action] == 'home'
    = render "official/header_bar" unless params[:action] == 'home'
    = yield
    = render "official/footer"
  = javascript_include_tag "https://code.jquery.com/jquery-3.3.1.js"
  = javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'
  - if params[:controller] == "official" && params[:action] == "contact"
    = javascript_include_tag 'https://www.google.com/recaptcha/api.js'
  = javascript_include_tag 'https://maps.google.com/maps/api/js'
  = javascript_include_tag 'official'
  = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.1/jquery.fancybox.min.js'
  = javascript_include_tag 'https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js'
  = render 'shareds/analytic'
  = render 'shareds/talk_two'