<!DOCTYPE html>
  <head>
    <meta charset="utf-8" />
    <%= stylesheet_link_tag wicked_pdf_asset_base64('pdf') %>
  </head>
  <body class="<%= controller_name %> <%= action_name%>">
    <%= yield %>
  </body>
</html>