doctype html
html
	head
		meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"
		link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet"
		= stylesheet_link_tag 'thank_page'
    = render 'shareds/fb_pixel_dropshipan', event: "Lead"
		= csrf_meta_tags
	body
		= yield
	= javascript_include_tag 'application'