doctype html
html
	head
		title Dashboard
		= favicon_link_tag "#{@setting_global.favicon.url(:thumb)}"
		meta http-equiv="X-UA-Compatible" content="IE=edge"
		meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"
		link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet"
		= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css'
		= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.1/jquery.fancybox.min.css'
		= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
		= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.0/flexslider.min.css'
		= stylesheet_link_tag 'userpage'
		= stylesheet_link_tag 'shop' if params[:controller] == 'members/shops'

		= javascript_include_tag "//www.google.com/jsapi"
		= javascript_include_tag "https://www.gstatic.com/charts/loader.js"
		= javascript_include_tag "//code.jquery.com/jquery-3.3.1.min.js"
		= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.js"
		= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/chartist-plugin-legend/0.6.2/chartist-plugin-legend.js"
		= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.1/jquery.fancybox.min.js'
		= javascript_include_tag "//cdn.ckeditor.com/4.6.0/basic/ckeditor.js"
		= javascript_include_tag 'userpage'
		= javascript_include_tag 'shop' if params[:controller] == 'members/shops'
		= csrf_meta_tags
		= render 'shareds/fb_pixel_dropshipan', event: "ViewContent"
	body.fixed-navbar.fixed-sidebar.theme-light
		= flash_messages
		= render "shareds/loading"
		= render "members/shareds/navbar"
		= yield
	= render 'shareds/analytic'
	= render 'shareds/talk_two'
