.row
  .col-md-6
    h6 Judul
    = f.text_field :title, class: 'form-control', required: true
    h6 Tipe (Basic/Premium)
    = f.select :package_type, options_for_select(['Starter', 'Basic', 'Advance', 'Premium'], resource.package_type), {prompt: 'Select Type'}, class: 'form-control', required: true
    h6 Periode
    = f.text_field :period, class: 'form-control', required: true
    h6 Harga
    = f.text_field :price, class: 'form-control', required: true
    h6 Deskripsi
    = f.cktext_area :description, class: 'form-control'
    h6 Status
    = f.select :status, options_for_select(Package::STATUSES, resource.status), {prompt: 'Pilih Status'}, class: 'form-control', required: true
  .col-md-6
    h6 Cover
    .user
      = image_tag resource.image.url(:medium), style: 'width: 200px'
    = f.file_field :image
.break

