.col-md-12
  = render 'backend/shareds/search_form_package'
  = form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do
    .widget
      = render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Package', button_name: 'Package', add_method: true}
      .widget-content
        .table-responsive
          table class="table table-striped table-bordered table-hover"
            thead
              tr
                th 
                  = check_box_tag :check_all
                th Judul
                th Tipe
                th Periode
                th Harga
                th Status
                th Dibuat
                th Action
            tbody
              - if @collection.blank?
                tr
                  td colspan="8" 
                    = render "shareds/empty_blank"
              - else
                - @collection.each_with_index do |resource, index|
                  tr
                    td
                      = check_box_tag "ids[]", resource.id
                    td
                      = resource.title
                    td
                      = "#{resource.period} bln"
                    td
                      = resource.package_type
                    td
                      = get_currency(resource.price)
                    td
                      = resource.status?
                    td
                      = get_datetime(resource.created_at)
                    td
                      = render partial: 'backend/shareds/prepare_action',
                        locals: { resource: resource, confirmation: "Are you sure delete this #{resource.title}", no_show: false }

        .widget-foot
          .pull-right
            = paginate @collection if @collection.present?
          .clearfix
