.col-md-12
  .widget
    .widget-head
      .pull-left
        | Detail Paket
      .widget-icons.pull-right
        | <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
        | <a href="#" class="wclose"><i class="fa fa-times"></i></a>
      .clearfix
    .widget-content
      .padd
        .form-horizontal
          .form-group
            .col-md-12
              = image_tag resource.image
          .form-group
            .col-md-3
              b Judul
            .col-md-9
              = resource.title
          .form-group
            .col-md-3
              b Tipe
            .col-md-9
              = resource.package_type
          .form-group
            .col-md-3
              b Periode
            .col-md-9
              = resource.period
          .form-group
            .col-md-3
              b Harga
            .col-md-9
              = get_currency(resource.price)
          .form-group
            .col-md-3
              b Deskripsi
            .col-md-9
              = resource.description.html_safe
          .form-group
            .col-md-3
              b Status
            .col-md-9
              = resource.status?
          .form-group
            .col-md-3
              b Dibuat
            .col-md-9
              = get_datetime(resource.created_at)
        .break
      .widget-foot
        = link_to '<i class="fa fa-chevron-left"></i>'.html_safe, :back, class: 'btn btn-xs btn-primary', title: "Kembali"
        | &nbsp;
        = link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_resource_path(resource), class: 'btn btn-xs btn-warning', title: "Ubah"
