.col-md-12
	.panel.panel-default
		.panel-body
			p
				| Total Penjualan &nbsp;
				b = get_currency_full(@price)
			p
				| Total Ongkir &nbsp;
				b = get_currency_full(@ongkir)
			p
				| Total Omset &nbsp;
				b = get_currency_full(@total)
.col-md-6
	.form-group
		= label_tag :from_acc
		= text_field_tag "#{params[:payment_merchant]}[from_acc]", '', placeholder: "Masukkan Rekening Pengirim",class: 'form-control', required: true
.col-md-6
	.form-group
		= label_tag :to_acc
		= text_field_tag "#{params[:payment_merchant]}[to_acc]", @to_acc, placeholder: "Masukkan Rekening Penerima", class: 'form-control', required: true

.col-md-12
	.form-group
		= label_tag :message
		= text_area_tag  "#{params[:payment_merchant]}[message]", "", placeholder: "Masukkan Pesan", class: 'form-control'