.col-md-12
  .panel.panel-default
    .panel-body
      p
        | Komisi Referral &nbsp;
        b = get_currency_full(@commission_referral)
      - if @quote.present?
        p
          = @quote
.col-md-6
  .form-group
    = label_tag :from_acc
    = text_field_tag "#{params[:payment_snapshot]}[from_acc]", '', placeholder: "Masukkan Rekening Pengirim",class: 'form-control', required: true
.col-md-6
  .form-group
    = label_tag :to_acc
    = text_field_tag "#{params[:payment_snapshot]}[to_acc]", @to_acc, placeholder: "Masukkan Rekening Penerima", class: 'form-control', required: true

.col-md-12
  .form-group
    = label_tag :message
    = text_area_tag  "#{params[:payment_snapshot]}[message]", "", placeholder: "Masukkan Pesan", class: 'form-control'