.col-md-4
  .form-group
    h6 Subject
    = text_field_tag "#{params[:node]}[subject]", @subject, class: 'form-control', readonly: true, required: true
.col-md-4
  .form-group
    h6 Total Tagihan
    = text_field_tag "#{params[:node]}[price]", @price, class: 'form-control', readonly: true, required: true
.col-md-4
  .form-group
    h6 Periode Mulai
    = text_field_tag "#{params[:node]}[period_start]", @period_start, class: 'form-control', readonly: true, required: true
.col-md-4
  .form-group
    h6 Periode Selesai
    = text_field_tag "#{params[:node]}[period_end]", @period_end, class: 'form-control', readonly: true, required: true
.col-md-12
  .form-group
    h6 Deskripsi
    = cktext_area_tag "#{params[:node]}[description]", @description, class: 'form-control', readonly: true, required: true
.col-md-4
  .form-group
    h6 Nama Bank
    = text_field_tag "#{params[:node]}[bank_name]", @bank_name, class: 'form-control', readonly: true, required: true
.col-md-4
  .form-group
    h6 Nama Rekening
    = text_field_tag "#{params[:node]}[account_name]", @account_name, class: 'form-control', readonly: true, required: true
.col-md-4
  .form-group
    h6 Nomor Rekening
    = text_field_tag "#{params[:node]}[account_number]", @account_number, class: 'form-control', readonly: true, required: true
    = hidden_field_tag "#{params[:node]}[invoiceable_type]", @invoiceable_type, class: 'form-control', readonly: true, required: true
    = hidden_field_tag "#{params[:node]}[invoiceable_id]", @invoiceable_id, class: 'form-control', readonly: true, required: true