= select_tag "#{params[:node]}[address_attributes][district]", options_for_select(@districts), {prompt: 'Pilih Kecamatan', class: 'form-control districts_select_shipment', 'data-node' => "#{params[:node]}", required: true}
