= select_tag "#{params[:node]}[address_attributes][city]", options_for_select(@cities), {prompt: 'Pilih Kota', class: 'form-control cities_select_shipment', 'data-node' => "#{params[:node]}", required: true} 
