= select_tag "#{params[:node]}[sub_category_id]", options_for_select(@sub_categories.alfa.map{|c| [c.name, c.id]}), {prompt: 'Pilih sub kategori', class: 'form-control form-custom2 select2', 'data-node' => "#{params[:node]}", required: true} 