= select_tag :sub_category_id, options_for_select(@sub_categories.alfa.map{|c| [c.name, c.id]}, params[:sub_category_id]), {prompt: 'Pilih sub kategori', class: 'form-control form-custom2 select2', 'data-node' => "#{params[:node]}"} 